openapi: 3.2.0
info:
  description: CitiConnect Request To Pay provides access to multiple request-to-pay functionalities to trigger payments or access details related to user accounts.
  version: ''
  title: Request To Pay Validate API
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1
  description: production gateway URL
- url: https://tts.apib2b.citi.com/citiconnect/sb/requesttopayservice/v1
  description: ' sandbox gateway URL'
security:
- clientCredentials: []
tags:
- name: Validate
paths:
  /validate/address:
    post:
      summary: Address Validation
      description: 'CitiConnect Request To Pay: Address Validation allows users to initiate a request to validate the VPA ID before initiating the collection or payment request.


        Content-Type : Supports “application/xml” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        Transaction Reference Number : Unique Txn Ref No by Citi Customer/Merchant :

        ClientId : Client Id of the Merchant/Citi Customer :

        SecretKey : Secret Key sent by Citi customer/merchant :

        TxnRefNo : Unique Txn Ref No by Citi Customer/Merchant

        Same as that mapped in the Http Header section :

        TimeStamp : Message time and date when the request is generated

        Format : YYYY-MM-DD''T''HH:MM:SS''+or-''ZZ:ZZ

        ZZ:ZZ = UTC Time Offset) sent by Citi Customer/Merchant :

        CountryCode : Country code for API(ISO Code) :

        PayeeVPA : Payee Virtual Handler - Payee Virtual Address (VPA that needs to be validated) :

        PayeeName : Payee Name (Name, if available, of the VPA that needs to be validated. :

        Merchant Virtual Handler : Citi Customer Virtual Address :'
      parameters:
      - name: Content-Type
        in: header
        description: Content type of request
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: ClientId
        in: header
        description: APIM client ID
        required: false
        schema:
          type: string
      - name: TxnRefNo
        in: header
        description: Transaction reference number
        required: false
        schema:
          type: string
      - name: CountryCode
        in: header
        description: Country code
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
      requestBody:
        content:
          application/json:
            schema: null
        required: true
      tags:
      - Validate
      operationId: postValidateAddress
      x-operation-id-source: derived
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1/validate/address/authenticationservices/v1/oauth/token
      description: 'All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See <a href="../../authentication/authentication-api-reference/" target="_blank">the Citi Authentication API reference</a> for information on requesting a token.


        '
