openapi: 3.2.0
info:
  title: Additional Payment Services Branch API
  description: The Additional Payment Services API allows users to get access to transaction, account and branch related information in real-time, providing transparency and control to the user over the transaction lifecycle.
  version: ''
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/selfservices/v1
  description: production gateway url
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/selfservices/v1
  description: sbox url
security:
- clientCredentials: []
tags:
- name: Branch
paths:
  /branch/holiday:
    get:
      summary: Branch Holiday
      description: 'CitiConnect Branch Holiday Inquiry allows users to retrieve branch holidays for any branch codes of their choice, for the current year, enabling users to plan transactions in advance.


        Content-Type : Supports “application/json” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        BranchCode : Unique identification Code specified by the initiating party to identify the branch of the bank.

        This Identification is passed on, unchanged, throughout the entire end-to-end chain. :

        FromDate : The start of the period for which the branch holiday details are being requested.

        The From Date must be sent in absolute values in YYYY-MM-DD format.

        Only one value should be sent. :

        ToDate : The end of the period for which the branch holiday details are being requested.

        The To Date must be sent in absolute values in YYYY-MM-DD format.

        Only one value should be sent. :'
      parameters:
      - name: client_id
        in: query
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: branchCode
        in: query
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: 200 OK
          content: {}
      tags:
      - Branch
      operationId: getBranchHoliday
      x-operation-id-source: derived
    post:
      summary: Branch Holiday
      description: 'CitiConnect Branch Holiday Inquiry allows users to retrieve branch holidays for any branch codes of their choice, for the current year, enabling users to plan transactions in advance.


        Content-Type : Supports “application/json” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        BranchCode : Unique identification Code specified by the initiating party to identify the branch of the bank.

        This Identification is passed on, unchanged, throughout the entire end-to-end chain. :

        FromDate : The start of the period for which the branch holiday details are being requested.

        The From Date must be sent in absolute values in YYYY-MM-DD format.

        Only one value should be sent. :

        ToDate : The end of the period for which the branch holiday details are being requested.

        The To Date must be sent in absolute values in YYYY-MM-DD format.

        Only one value should be sent. :'
      parameters:
      - name: client_id
        in: query
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content: {}
      tags:
      - Branch
      operationId: postBranchHoliday
      x-operation-id-source: derived
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      description: 'All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See <a href="../../authentication/authentication-api-reference/" target="_blank">the Citi Authentication API reference</a> for information on requesting a token.


        '
      flows:
        clientCredentials:
          tokenUrl: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/authenticationservices/v1/oauth/token
          scopes: {}
x-original-swagger-version: '2.0'
