openapi: 3.2.0
info:
  title: Instant Payments Non-Payment Messages API
  description: 'Use the Citi Payments Express API to initiate these types of transaction and check their status:

    * Instant Payments

    * Payment Messages

    * Refunds

    * Beneficiary Validation


    **Note:** The Citi Payments Express API is for direct payments and refunds. To send payments or refunds to a third-party account or via a proxy, use the CitiConnect Payments API'
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
- url: https://b2b.api.icg.citi.com/citiconnect/prod
  description: production gateway url
- url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
  description: 'sbox url '
tags:
- name: Non-Payment Messages
paths:
  /paymentservices/v1/payments/{uetr}/messages:
    post:
      tags:
      - Non-Payment Messages
      summary: Initiate a non payment message
      description: This endpoint validates your request and responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn't accept your message initiation request.
      operationId: createMessage
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: uetr
        in: path
        required: true
        description: Unique end-to-end transaction reference
        schema:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
      - name: Idempotency-Id
        in: header
        required: true
        schema:
          type: string
          maxLength: 128
        example: a44cbb60-6de4-4edb-9a7a-123414bba3bb
        description: "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
      requestBody:
        required: true
        description: 'This endpoint validates your request and responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn''t accept your message initiation request.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message-Request'
            examples:
              Response to Request For Refund:
                $ref: '#/components/examples/Response-To-Request-For-Refund-Example'
              Response to Payment Confirmation Request:
                $ref: '#/components/examples/Response-To-Payment-Confirmation-Request-Example'
              Accept Response to Incoming Payment Confirmation Request From CITI:
                $ref: '#/components/examples/Th-Response-To-Payment-Confirmation-Sucess-Request-Example'
              Reject Response to Incoming Payment Confirmation Request From CITI:
                $ref: '#/components/examples/Th-Response-To-Payment-Confirmation-Reject-Request-Example'
              Response to Request for Payment:
                $ref: '#/components/examples/Response-To-Request-For-Payment-Example'
              Outgoing Request for Refund:
                $ref: '#/components/examples/Outgoing-Request-For-Refund-Example'
              Response to Request for Information Compliance:
                $ref: '#/components/examples/Response-To-Request-For-Information-Compliance-Example'
              Uk Stop Request:
                $ref: '#/components/examples/Uk-Stop-Request-Example'
              In Stop Request:
                $ref: '#/components/examples/In-Stop-Request-Example'
              Br Stop Request:
                $ref: '#/components/examples/Br-Stop-Request-Example'
      security:
      - oAuth2:
        - paymentservices
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Initial-Acknowledgement-Response'
              examples:
                Status - Initial-Response-To-Request-For-Refund:
                  $ref: '#/components/examples/Initial-Response-To-Request-For-Refund'
                Status - Initial-Response-To-Payment-Confirmation-Request:
                  $ref: '#/components/examples/Initial-Response-To-Payment-Confirmation-Request'
                Status - Initial-Response-To-Request-For-Payment:
                  $ref: '#/components/examples/Initial-Response-To-Request-For-Payment'
                Status - Initial-Outgoing-Request-For-Refund:
                  $ref: '#/components/examples/Initial-Outgoing-Request-For-Refund'
                Status - Initial-Response-To-Request-for-Information-Compliance:
                  $ref: '#/components/examples/Initial-Response-To-Request-for-Information-Compliance'
                Uk Status - Stop Request:
                  $ref: '#/components/examples/Uk-Stop-Request'
                In Status - Stop Request:
                  $ref: '#/components/examples/In-Stop-Request'
                Br Status - Stop Request:
                  $ref: '#/components/examples/Br-Stop-Request'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/payments/{uetr}/messages/{message_id}:
    get:
      tags:
      - Non-Payment Messages
      summary: Inquire for the latest status of a transaction using UETR and Message Id
      operationId: findMessageByMessageId
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: uetr
        in: path
        description: Unique end-to-end transaction reference
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
      - name: message_id
        in: path
        description: Unique message id
        required: true
        schema:
          type: string
          maxLength: 35
        examples:
          message_id_1:
            value: 0c4fb98bd77a446896bb0c88b3b8f75a
      security:
      - oAuth2:
        - paymentservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Final-Message-Response'
              examples:
                Status - ValidRequest-For-Refund:
                  $ref: '#/components/examples/Ok-Request-For-Refund'
                Status - ValidRequest-For-Refund-SEPA:
                  $ref: '#/components/examples/Ok-Request-For-Refund-SEPA'
                Status - ValidResponsetoRequest-For-Refund:
                  $ref: '#/components/examples/Ok-Response-To-Request-For-Refund'
                Status - ValidResponsetoRequest-For-Refund-SEPA:
                  $ref: '#/components/examples/Ok-Response-To-Request-For-Refund-SEPA'
                Status - InvalidResponsetoRequest-For-Refund:
                  $ref: '#/components/examples/Not-Ok-Response-To-Request-For-Refund'
                Status - ValidPayment-Confirmation-Request:
                  $ref: '#/components/examples/Ok-Payment-Confirmation-Request'
                Status - ValidPending-Payment-Confirmation-Request:
                  $ref: '#/components/examples/Pending-Payment-Confirmation-Request'
                Status - ValidRequest-For-Payment:
                  $ref: '#/components/examples/Ok-Request-For-Payment'
                Status - ValidRequest-for-Information-Compliance:
                  $ref: '#/components/examples/OK-Request-For-Information-Compliance'
                Status - ValidResponsetoRequest-For-Information-Compliance:
                  $ref: '#/components/examples/OK-Response-To-Request-For-Information-Compliance'
                Status - ValidRequest-For-Refund-Uk:
                  $ref: '#/components/examples/Ok-Request-For-Refund-Uk'
                Status - ValidRequest-For-Refund-In:
                  $ref: '#/components/examples/Ok-Request-For-Refund-In'
                Status - ValidRequest-For-Refund-Br:
                  $ref: '#/components/examples/Ok-Request-For-Refund-Br'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
components:
  responses:
    Bad-Request:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Bad-Request-Example:
              $ref: '#/components/examples/Bad-Request-Example'
    Method-Not-Allowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Method-Not-Allowed-Example:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Unauthorized-Example:
              $ref: '#/components/examples/Unauthorized-Example'
    Internal-Server-Error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Internal-Server-Error-Example:
              $ref: '#/components/examples/Internal-Server-Error-Example'
    Not-Found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Not-Found-Example:
              $ref: '#/components/examples/Not-Found-Example'
  schemas:
    Response-To-Payment-Confirmation-Request:
      type: object
      title: ResponseToPaymentConfirmationRequest
      properties:
        uetr:
          type: string
          description: UETR of Original payment
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          title: uetr
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Date time, \n-, status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PDNG
              - RJCT
              title: code
            description:
              type: string
              description: "Status code description \n- PDNG - Pending \n- RJCT - Rejected"
              minLength: 1
              maxLength: 256
              title: description
            reasons:
              type: object
              title: reasons
              readOnly: true
              properties:
                code:
                  type: string
                  description: Reason code (applicable when message is rejected)
                  maxLength: 4
                  title: code
                description:
                  type: string
                  description: Reason code description (e.g., Debtor account is invalid.)
                  minLength: 1
                  maxLength: 256
                  title: description
    Initial-Acknowledgement-Response:
      type: object
      title: InitialAcknowledgementResponse
      properties:
        message_id:
          type: string
          description: Message Identification
          readOnly: true
          maxLength: 35
          title: message_id
        creation_date_time:
          type: string
          format: date-time
          description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Date time when a message was created"
          readOnly: true
          title: creation_date_time
        message_type:
          type: string
          description: "Message Type as provided by the customer \n- RFR - Request for Refund (camt.056) \n- RRFR - Response to Request for Refund(camt.029) \n- PCR - Payment Confirmation Request \n- RPCR - Response to Payment Confirmation Request \n- RFP - Request for Payment (pain.013) \n- RRFP - Response to Request for Payment (pain.014) \n- RRFICS - Response to Request for Information Compliance"
          enum:
          - RFR
          - RRFR
          - PCR
          - RPCR
          - RFP
          - RRFP
          - RRFICS
          title: message_type
        message:
          oneOf:
          - $ref: '#/components/schemas/Initial-Response-To-Request-For-Refund'
          - $ref: '#/components/schemas/Initial-Response-To-Payment-Confirmation-Request'
          - $ref: '#/components/schemas/Initial-Response-To-Request-For-Payment'
          - $ref: '#/components/schemas/Initial-Outgoing-Request-For-Refund'
          - $ref: '#/components/schemas/Initial-Response-To-Request-for-Information-Compliance'
      required:
      - message_id
      - creation_date_time
      - message_type
    Initial-Response-To-Request-For-Refund:
      type: object
      title: InitialResponseToRequestForRefund
      properties:
        case_id:
          type: string
          description: Case Id received from clearing
          minLength: 1
          maxLength: 35
          title: case_id
        decision_code:
          type: string
          description: "Acceptance or Rejection of return of funds. Only the below 3 codes are applicable  \n- IPAY - Acceptance to Return the payment \n- RJCR - Decline to Return the payment \n- PECR - Partially Executed Cancellation Return"
          enum:
          - ACDA
          - ACNR
          - ACVA
          - CHRG
          - CNCL
          - CONF
          - CVAA
          - CWFW
          - FTNA
          - ICOV
          - IDUP
          - IPAY
          - IPYI
          - MCOV
          - MODI
          - MWFW
          - PDCR
          - PECR
          - PURP
          - RJCR
          - RJNR
          - RJVA
          - SMTC
          - SMTI
          - UWFW
          - BIAS
          - IDNE
          - IVCR
          - INFO
          - NINF
          - PDNG
          title: decision_code
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n- If decision_code = RJCR,reasons.code is mandatory for ResponseToRequest-For-Refund "
              enum:
              - AC04
              - ADAC
              - AGNT
              - AM04
              - ARDT
              - ARPL
              - CUST
              - LEGL
              - NARR
              - NOAS
              - NOOR
              - PTNA
              - RQDA
              - WSEQ
              - IDMN
              - ACLR
              - AEXR
              - ARFR
              - ARJR
              - PATE
              - RR04
              - RCAR
              - RCNR
              - RCPR
              - URTP
              title: code
            description:
              type: string
              description: "Reason code description (e.g., Debtor account is invalid.). \n- For reasons.code = NARR this field is mandatory"
              minLength: 1
              maxLength: 105
              title: description
        instructed_amount:
          type: number
          description: "Instructed amount for partial acceptance of return request \n- Mandatory for ResponseToRequest-For-Refund with decision code as PECR."
          minimum: 0.01
          maximum: 1000000000000000
          title: instructed_amount
        instructed_currency:
          type: string
          description: "Instructed currency for partial acceptance of return request \n- Mandatory for ResponseToRequest-For-Refund with decision code as PECR"
          enum:
          - USD
          - EUR
          - AUD
          - ARS
          - BRL
          - HKD
          - CNY
          title: instructed_currency
        instruction_id:
          type: string
          description: Unique Instruction id on return payment initiation
          minLength: 1
          maxLength: 35
          title: instruction_id
        end_to_end_id:
          type: string
          description: Unique end to end id on return payment initiation
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        country:
          description: "ISO 3166 Alpha-2 code for the non pay message country. \n- This field is optional for US \n- This field is mandatory for SEPA"
          type: string
          default: US
          enum:
          - US
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - BG
          title: country
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
          required:
          - date_time
          - code
          - description
      required:
      - case_id
      - decision_code
      - end_to_end_id
    Message-Debtor-Request-For-Payment:
      type: object
      title: MessageDebtorRequestForPayment
      properties:
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: Debtor Account ID
          title: account
        account_name:
          maxLength: 140
          minLength: 1
          type: string
          description: Debit Account name, different from the Debtor Name
          title: account_name
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: Debtor Name
          title: name
        bank_id:
          maxLength: 16
          minLength: 1
          type: string
          description: Instructing Agent member Identification ID of a clearing system
          title: bank_id
        address_lines:
          type: array
          description: Debtor's address_lines
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: 'Debtor''s street_name '
          title: street_name
        building_number:
          maxLength: 16
          minLength: 1
          type: string
          description: Debtor's building_number
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: Debtor's postal_code
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: Debtor's City
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: Debtor's State
          title: state
        country:
          type: string
          description: Debtor's Country
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 20
          minLength: 1
          type: string
          description: Debtor's org_id
          title: org_id
        birth_date:
          type: string
          format: date
          description: 'ISO 8601 (YYYY-MM-DD), Debtor''s birth_date '
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: Debtor's birth_city
          title: birth_city
        birth_country:
          type: string
          description: Debtor's birth_country
          pattern: ^[A-Z]{2,2}$
          title: birth_country
      required:
      - account
      - name
      - bank_id
    Message-Transaction-Status:
      type: object
      title: MessageTransactionStatus
      required:
      - uetr
      - type
      - instructed_amount
      - creation_date_time
      - value_date
      - settlement_currency
      - settlement_amount
      properties:
        end_to_end_id:
          maxLength: 35
          minLength: 1
          pattern: ^(?!\s*$).+
          type: string
          description: Specifies a character string with a maximum length of 35 characters
          title: end_to_end_id
        instruction_id:
          type: string
          maxLength: 35
          minLength: 1
          description: Instruction Id
          title: instruction_id
        uetr:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        network_id:
          maxLength: 128
          minLength: 1
          type: string
          description: Transaction identification generated for or by the network
          title: network_id
        local_reference:
          maxLength: 35
          minLength: 1
          type: string
          description: This is a Citi generated payment reference which is included in the ‘Bank Reference’ field of bank statement posting for itemized transaction
          title: local_reference
        batch_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Identification for the bulk debit or credit posting to Citi account \n - For SEPA, transaction.batch_id field is optional and allwed maxLength is 35"
          title: batch_id
        bill_id_1:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: "Bill identification for a bill payment \n - For US transaction.bill_id_1 field is not applicable"
          title: bill_id_1
        bill_id_2:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: "Bill identification for a bill payment \n - For US transaction.bill_id_2 field is not applicable"
          title: bill_id_2
        bill_id_3:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: "Bill identification for a bill payment \n - For US transaction.bill_id_3 field is not applicable"
          title: bill_id_3
        type:
          type: string
          description: Transaction Type - Debit or Credit
          enum:
          - credit
          - debit
          title: type
        purpose:
          type: string
          enum:
          - CNFL
          - PAYR
          - OTHR
          - CASH
          - GP2P
          - SCVE
          - GDDS
          - GDSV
          - SALA
          - SUPP
          - RCPT
          - COST
          - TREA
          - REFU
          description: "Purpose of a transaction \n- CASH for cash management \n- CNFL for confidential \n- COST for payment for business expenses \n- GDDS for payment related to purchase or sale of goods \n- GDSV for payment related to purchase or sale of goods and services \n- GP2P for person-to-person payment \n- OTHR for other, if your payment doesn't fit any of the specific purpose codes \n- PAYR for payroll payment \n- RCPT for payment of a receipt \n- SALA for salary payment \n- SCVE for payment related to purchase or sale of services \n- SUPP for supplier payment \n- TREA for treasury payment \n- REFU for refund payment"
          title: purpose
        tax_code:
          type: number
          enum:
          - 0
          - 1
          description: "Tax code \n - For US transaction.tax_code field is not applicable"
          title: tax_code
        wht_code:
          type: string
          enum:
          - A
          - S
          - B
          description: "Withholding tax (WHT) code \n - For US transaction.wht_code field is not applicable"
          title: wht_code
        income_type:
          type: string
          pattern: ^(00[0-9]|01[0-2])$
          description: "Income type  \n - For US transaction.income_type field is not applicable"
          title: income_type
        vat_rate:
          type: number
          minimum: 0
          description: "Value-added tax (VAT) rate \n - For US transaction.vat_rate field is not applicable"
          title: vat_rate
        vat_amount:
          type: number
          maximum: 1000000000000000
          description: "Value-added tax (VAT) amount \n - For US transaction.vat_amount field is not applicable"
          title: vat_amount
        wht_rate:
          type: number
          minimum: 0
          description: "Withholding tax (WHT) rate (0 - 99.99) \n - For US transaction.wht_rate field is not applicable"
          title: wht_rate
        wht_amount:
          type: number
          maximum: 1000000000000000
          description: "Withholding tax (WHT) amount \n - For US transaction.wht_amount field is not applicable"
          title: wht_amount
        bill_due_date:
          type: string
          format: date
          description: "ISO 8601 (YYYY-MM-DD) bill due date \n - For US transaction.bill_due_date field is not applicable"
          title: bill_due_date
        creation_date_time:
          type: string
          format: date-time
          description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - Date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - Date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created"
          title: creation_date_time
        value_date:
          type: string
          format: date
          description: YYYY-MM-DD Date in local time zone (e.g., EST for a United States RTP ) when Citi's transaction processing application starts processing a transaction
          title: value_date
        instructed_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: Amount instructed by client for a transaction
          title: instructed_amount
        settlement_currency:
          maxLength: 3
          type: string
          description: ISO 4217 code for the transaction settlement amount currency
          title: settlement_currency
        settlement_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: Settlement amount (e.g., after any currency exchange or charge on the instructed amount)
          title: settlement_amount
        interbank_settlement_date:
          type: string
          format: date
          description: Interbank settlement Date received from  clearing (TCH) Format is YYYY-MM-DD
          title: interbank_settlement_date
        unstructured_remittance_info:
          type: array
          description: "Unstructured remitance information \n - For US transaction.unstructured_remittance_info field maximum length is 140 and unlimited line is allowed \n - For SEPA, transaction.unstructured_remittance_info field is optional and maxLength is 140"
          items:
            $ref: '#/components/schemas/Unstructured'
          title: unstructured_remittance_info
        advice_id:
          type: string
          description: Remittance identifier
          maxLength: 35
          minLength: 1
          title: advice_id
        advice_type:
          type: string
          description: Method use to deliver the remittance advice information
          enum:
          - EMAL
          - FAXI
          - SMSM
          - URID
          title: advice_type
        advice_address:
          type: string
          maxLength: 2048
          minLength: 1
          description: Address to send remittance details
          title: advice_address
        category:
          type: string
          maxLength: 35
          minLength: 1
          description: "Specifies the high level purpose of the instruction \n- For US TCH - CONUSMER, BUSINESS \n- For US Fednow - CONS, BIZZ,GOVT \n- CONS for credit transfers initiated by a consumer \n-  BIZZ for credit transfers initiated by a business entity \n-  GOVT for credit transfers initiated by a government agency"
          title: category
        original_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount that was originally sent by our client. \n - For Thailand PromptPay transaction.original_amount field is not applicable \n- For United States transaction.original_amount field is optional \n- For IN IMPS transaction.original_amount field is not applicable \n- For UK FPS Instant payment transaction.original_amount field is not applicable"
          title: original_amount
        full_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount that is the gross amount payable to our client. If populated, transaction.discount_amount must also be populated \n - For Thailand PromptPay transaction.full_amount field is not applicable \n- For United States transaction.full_amount field is optional \n- For IN IMPS transaction.full_amount field is not applicable \n- For UK FPS Instant payment transaction.full_amount field is not applicable"
          title: full_amount
        discount_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount that is the discount from the gross amount. If populated, transaction.full_amount must also be popluated \n - For Thailand PromptPay transaction.discount_amount field is not applicable \n- For United States transaction.discount_amount field is optional \n- For IN IMPS transaction.discount_amount field is not applicable \n- For UK FPS Instant payment transaction.discount_amount field is not applicable"
          title: discount_amount
    Error-Response:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
          xml:
            name: Errordetails
    Message-Method-Status:
      type: object
      title: MessageMethodStatus
      required:
      - country
      - instructed_currency
      - method
      - type
      properties:
        country:
          description: ISO 3166 Alpha-2 code for the transaction country
          type: string
          enum:
          - US
          title: country
        instructed_currency:
          type: string
          description: ISO 4217 code for the transaction instructed amount currency
          enum:
          - USD
          - EUR
          - ARS
          - BRL
          title: instructed_currency
        method:
          description: Method specified by the debtor for the transaction \n- Provide IP for instant payment
          type: string
          enum:
          - IP
          title: method
        type:
          type: string
          description: "Transaction message type (e.g., CT for credit transfer. RF for Refund) \n- CT - Credit Transfer \n- RF - Return payment \n- BK_CT - Book to Book Credit Transfer \n- BK_RF - Book to Book Return Payment"
          enum:
          - CT
          - RF
          - BK_CT
          - BK_RF
          title: type
        network:
          type: string
          enum:
          - RTP
          - ZELLE
          - FDN
          description: "Financial market infrastructure or clearing system (e.g., RTP Network in the United States) \n- RTP for TCH \n- FDN for FedNow"
          title: network
    Message-Transaction-Request-For-Payment:
      type: object
      title: MessageTransactionRequestForPayment
      required:
      - uetr
      - type
      - instructed_amount
      - creation_date_time
      - settlement_currency
      - payment_information_id
      - end_to_end_id
      - category
      properties:
        end_to_end_id:
          maxLength: 35
          minLength: 1
          type: string
          description: Client provided reference number
          title: end_to_end_id
        instruction_id:
          type: string
          maxLength: 35
          minLength: 1
          description: Instruction Id
          title: instruction_id
        payment_information_id:
          type: string
          maxLength: 35
          minLength: 1
          description: Payment Information ID
          title: payment_information_id
        uetr:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        type:
          type: string
          description: Transaction Type - Debit or Credit
          enum:
          - credit
          - debit
          title: type
        local_reference:
          maxLength: 35
          minLength: 1
          type: string
          description: This is a Citi generated payment reference which is included in the ‘Bank Reference’ field of bank statement posting for itemized transaction
          title: local_reference
        creation_date_time:
          type: string
          format: date-time
          description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - Date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - Date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created"
          title: creation_date_time
        instructed_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: Amount instructed by client for a transaction
          title: instructed_amount
        settlement_currency:
          maxLength: 3
          type: string
          description: ISO 4217 code for the transaction settlement amount currency
          title: settlement_currency
        unstructured_remittance_info:
          type: array
          description: "Unstructured remitance information \n - For US transaction.unstructured_remittance_info field maximum length is 140 and unlimited line is allowed"
          items:
            $ref: '#/components/schemas/Unstructured'
          title: unstructured_remittance_info
        category:
          type: string
          description: Specifies the high level purpose of the instruction
          enum:
          - BUSINESS
          - CONSUMER
          title: category
        requested_execution_date:
          type: string
          format: date
          description: "Requested Execution Date Format is YYYY-MM-DD. \n- Either Requested Execution Date or Requested Execution Date Time must be present"
          title: requested_execution_date
        requested_execution_date_time:
          type: string
          format: date-time
          description: "Requested Execution Date/Time UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n - \n- Either Requested Execution Date or Requested Execution Date Time must be present"
          title: requested_execution_date_time
        expiry_date:
          type: string
          format: date
          description: "Expiry Date Format is YYYY-MM-DD \n - Either Expiry Date or Expiry Date Time must be present"
          title: expiry_date
        expiry_date_time:
          type: string
          format: date-time
          description: "Expiry Date/Time GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n - Either Expiry Date or Expiry Date Time must be present"
          title: expiry_date_time
        amt_mod_allowed:
          type: boolean
          default: true
          description: "Indicator by customer if the debtor (RFP recipient) can modify over/under the instructed amount \n - true - Amount may be modified by the Debtor \n-  false - Amount of payment must equal the Instructed Amount"
          title: amt_mod_allowed
        full_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount that is the gross amount payable by client \n- If populated, message.transaction.discount_amount must also be populated"
          title: full_amount
        discount_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount that is the discount from the gross amount \n- If populated, message.transaction.full_amount must also be popluated"
          title: discount_amount
        purpose:
          type: string
          minLength: 1
          maxLength: 5
          description: "Purpose of a transaction \n- GDDS for payment related to purchase or sale of goods \n- SCVE for payment related to purchase or sale of services \n- PAYR for payroll payment \n- NOWS for Not Otherwise Specified \n- INVS for Invoice Signed \n- INSC for Payment Of Insurance Claim \n- INSM for Installment \n- PDEP for Property Deposit \n- UBIL for Utilities Subscription Identification \n- ACCT for Account Management \n- CBLK for Bulk card transactions \n- MP2P for Mobile P2P Payment "
          title: purpose
        status:
          type: object
          title: status
          properties:
            date_time:
              type: string
              format: date-time
              description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Date time of transaction status"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PRES
              - ACSP
              - ACCC
              - RJCT
              title: code
            description:
              type: string
              description: "Status code description \n- RJCT - Rejected \n- PRES - Request For Payment has been presented to the Debtor \n- ACSP- Accepted Settlement In Process \n- ACCC - Accepted Settlement Completed"
              minLength: 1
              maxLength: 256
              title: description
          required:
          - date_time
          - code
          - description
        reasons:
          type: object
          title: reasons
          readOnly: true
          properties:
            code:
              type: string
              description: Reason code (applicable when message is rejected)
              maxLength: 4
              title: code
            description:
              type: string
              description: Reason code description (e.g., Debtor account is invalid.)
              minLength: 1
              maxLength: 256
              title: description
            isproprietary:
              type: integer
              description: "Flag to indicate the Rejection code is ISO Standard or Proprietary \n- 0 For ISO Code \n- 1 For Proprietary"
              enum:
              - 0
              - 1
              title: isproprietary
    Ultimate-Debtor-Refund:
      type: object
      title: UltimateDebtorRefund
      properties:
        name:
          minLength: 1
          maxLength: 140
          type: string
          description: "Name of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.name field is optional \n- For Thailand ultimatedebtor.name field is not applicable \n- For Brazil ultimatedebtor.name field is not applicable \n- For SEPA ultimate_debtor.name field is not applicable"
          title: name
        street_name:
          minLength: 1
          maxLength: 70
          type: string
          description: "Street Name of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.street_name field is optional \n- For Thailand ultimatedebtor.street_name field is not applicable \n- For Brazil ultimatedebtor.street_name field is not applicable \n- For SEPA ultimate_debtor.street_name field is not applicable"
          title: street_name
        building_number:
          minLength: 1
          maxLength: 16
          type: string
          description: "Building number of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.building_number field is optional \n- For Thailand ultimatedebtor.building_number field is not applicable \n- For Brazil ultimatedebtor.building_number field is not applicable \n- For SEPA ultimate_debtor.building_number field is not applicable"
          title: building_number
        postal_code:
          minLength: 1
          maxLength: 16
          type: string
          description: "Postal code of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.postal_code field is optional\n- For Thailand ultimatedebtor.postal_code field is not applicable \n- For Brazil ultimatedebtor.postal_code field is not applicable \n- For SEPA ultimate_debtor.postal_code field is not applicable"
          title: postal_code
        city:
          minLength: 1
          maxLength: 35
          type: string
          description: "City of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.city field is optional \n- For Thailand ultimatedebtor.city field is not applicable \n- For Brazil ultimatedebtor.city field is not applicable \n- For SEPA ultimate_debtor.city field is not applicable"
          title: city
        state:
          minLength: 1
          maxLength: 35
          type: string
          description: "State of Ultimate Debtor to be passed for Refund payment \n- For United States ultimate_debtor.state field is optional \n- For Thailand ultimatedebtor.state field is not applicable \n- For Brazil ultimatedebtor.state field is not applicable \n- For SEPA ultimate_debtor.state field is not applicable"
          title: state
        country:
          type: string
          description: "Country of Ultimate Debtor to be passed for Refund payment  \n- For United States ultimate_debtor.country field is optional \n- For Thailand ultimatedebtor.country field is not applicable \n- For Brazil ultimatedebtor.country field is not applicable \n- For SEPA ultimate_debtor.country field is not applicable"
          pattern: ^[A-Z]{2,2}$
          title: country
        address_lines:
          type: array
          minItems: 1
          maxItems: 7
          description: "Ultimate Debtor Address lines which is array of 7 lines and each line has maximum 70 characters which is to be passed for Refund payment  \n- For United States ultimate_debtor.address_lines field is optional \n- For Thailand ultimatedebtor.address_lines field is not applicable \n- For Brazil ultimatedebtor.address_lines field is not applicable \n- For SEPA ultimate_debtor.address_lines field is not applicable"
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
    Original-Ultimate-Debtor:
      type: object
      title: OriginalUltimateDebtor
      properties:
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: 'Ultimate Debtor''s bank account name of original payment '
          title: name
        org_id:
          maxLength: 35
          minLength: 1
          type: string
          description: Ultimate Debtor's org_id of original payment
          title: org_id
        birth_date:
          type: string
          format: date
          description: 'ISO 8601 (YYYY-MM-DD), ultimate debtor''s birth date of original payment '
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Ultimate debtor''s birth city of original payment '
          title: birth_city
        birth_country:
          type: string
          description: 'Ultimate debtor''s birth country of original payment '
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        birth_province:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Ultimate Debtor  Province Of Birth of original payment '
          title: birth_province
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Ultimate Debtor''s private id of original payment '
          title: prvt_id
        anybic:
          maxLength: 35
          minLength: 1
          type: string
          description: 'ultimate debtor''s BIC of original payment '
          title: anybic
        lei:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Unique global identifier for legal entities participating in financial transactions of original payment '
          title: lei
        issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: 'ultimate debtor''s name that identifies an issuer of original payment '
          title: issuer
        scheme_name:
          maxLength: 128
          minLength: 1
          type: string
          description: Ultimate Debtor's scheme name of original payment
          title: scheme_name
    Field-level-Responses-For-RRFICS:
      type: object
      description: “FieldlevelResponsesForRRFICS”
      title: Field-level-Responses-For-RRFICS
      properties:
        field_id:
          type: string
          description: Field ID.
          minLength: 1
          maxLength: 16
          title: field_id
        field_name:
          type: string
          description: Field name.
          minLength: 1
          maxLength: 70
          title: field_name
        field_value:
          type: string
          description: Field value.
          minLength: 1
          maxLength: 70
          title: field_value
        individual:
          type: object
          description: "Input type selected as Individual. \n When individual is selected any one of the fields displayed under individual object are mandatory"
          title: individual
          properties:
            name:
              type: string
              description: "Name of individual.\n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 140
              title: name
            street_name:
              type: string
              description: "Street Name of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 70
              title: street_name
            building_number:
              type: string
              description: "Building Number of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 16
              title: building_number
            postal_code:
              type: string
              description: "Postal Code of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 16
              title: postal_code
            city:
              type: string
              description: "City of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 35
              title: city
            state:
              type: string
              description: "State of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 35
              title: state
            country:
              type: string
              description: "Country of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 2
              title: country
            birth_date:
              type: string
              format: date
              description: "Birth Date of individual \n Format is YYYY-MM-DD. \n If selected input type = individual, at least 1 field from individual object must be provided."
              title: birth_date
            city_of_birth:
              type: string
              description: "City Of Birth of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 35
              title: city_of_birth
            country_of_birth:
              type: string
              description: "Country Of Birth of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 2
              title: country_of_birth
            nationality:
              type: string
              description: "Nationality of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 35
              title: nationality
            occupation:
              type: string
              description: "Occupation of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 35
              title: occupation
            country_of_residence:
              type: string
              description: "Country of Residence of individual. \n If selected input type = individual, at least 1 field from individual object must be provided."
              minLength: 1
              maxLength: 2
              title: country_of_residence
        entity:
          type: object
          description: Input type selected as Entity. When Entity is selected any one of the fields displayed under entity object are mandatory
          title: entity
          properties:
            name:
              type: string
              description: "Name of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 140
              title: name
            street_name:
              type: string
              description: "Street Name of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 70
              title: street_name
            building_number:
              type: string
              description: "Building Number of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 16
              title: building_number
            postal_code:
              type: string
              description: "Postal Code of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 16
              title: postal_code
            city:
              type: string
              description: "City of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 35
              title: city
            state:
              type: string
              description: "State of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 35
              title: state
            country:
              type: string
              description: "Country of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 2
              title: country
            line_of_business:
              type: string
              description: "Line of business of Entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 35
              title: line_of_business
            ownership_details:
              type: string
              description: "Ownership Details of entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 560
              title: ownership_details
            global_presence:
              type: string
              description: "Global Presence of entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 140
              title: global_presence
            website:
              type: string
              description: "Website of entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 140
              title: website
            registration_number:
              type: string
              description: "Registration Number of entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 35
              title: registration_number
            country_of_incorporation:
              type: string
              description: "Country of incorporation of entity. \n If selected input type = entity, at least 1 field from entity object must be provided."
              minLength: 1
              maxLength: 2
              title: country_of_incorporation
        vessel:
          type: object
          description: Input type selected as vessel. When vessel is selected any one of the fields displayed under vessel object are mandatory
          title: vessel
          properties:
            name:
              type: string
              description: "Name of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 140
              title: name
            flag:
              type: string
              description: "Flag of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 35
              title: flag
            ownership_details:
              type: string
              description: "Ownership Details of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 560
              title: ownership_details
            imo_number:
              type: string
              description: "Imo Number of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 35
              title: imo_number
            gross_registered_tonnage:
              type: string
              description: "Gross registered tonnage of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 10
              title: gross_registered_tonnage
            vessel_type:
              type: string
              description: "Type of vessel. \n If selected input type = vessel, at least 1 field from vessel object must be provided."
              minLength: 1
              maxLength: 35
              title: vessel_type
        aircraft:
          type: object
          description: Input type selected as aircraft. When aircraft is selected any one of the fields displayed under aircraft object are mandatory
          title: aircraft
          properties:
            call_sign:
              type: string
              description: "Call Sign of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 140
              title: call_sign
            flag:
              type: string
              description: "Flag of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 35
              title: flag
            ownership_details:
              type: string
              description: "Ownership Details of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 560
              title: ownership_details
            msn_number:
              type: string
              description: "Msn Number of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 35
              title: msn_number
            model:
              type: string
              description: "Model of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 35
              title: model
            operator:
              type: string
              description: "Operator of aircraft. \n If selected input type = aircraft, at least 1 field from aircraft object must be provided."
              minLength: 1
              maxLength: 35
              title: operator
    Response-To-Request-For-Payment:
      type: object
      title: ResponseToRequestForPayment
      description: Response to Request for Payment
      properties:
        decision_code:
          type: string
          description: "Acceptance or Rejection of request for payment \n- ACTC - Acceptance to make requested payment \n- RJCT - Decline to pay requested amount"
          enum:
          - ACTC
          - RJCT
          title: decision_code
        end_to_end_id:
          maxLength: 35
          minLength: 1
          pattern: ^(?!\s*$).+
          type: string
          description: Unique End to End ID of Response to Request for Payment
          title: end_to_end_id
        accepted_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount to be paid from Request for Payment.Indicates if Instructed amount in Payment request will be paid, or different amount.If Different amount not allowed by Payment Request, this field must carry Instructed amount \n- Mandatory if message.decision_code = ACTC"
          title: accepted_amount
        accepted_currency:
          type: string
          description: "ISO 4217 code for the accepted currency \n- Mandatory if message.decision_code = ACTC"
          enum:
          - USD
          title: accepted_currency
        scheduled_exec_date:
          type: string
          format: date
          description: "Date payment is expected to be made.Format is YYYY-MM-DD \n- Mandatory if message.decision_code = ACTC"
          title: scheduled_exec_date
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n - Mandatory if message.decision_code = RJCT"
              enum:
              - AC06
              - AG01
              - AG03
              - AM09
              - AM14
              - BE04
              - BE07
              - CH11
              - CUST
              - DS04
              - MD07
              - NARR
              - SL12
              title: code
            description:
              type: string
              description: "Description of Transaction reasons \n-  Mandatory if message.reasons.code = NARR"
              minLength: 1
              maxLength: 105
              title: description
        debtor:
          $ref: '#/components/schemas/Debtor-Payment'
        ultimate_debtor:
          $ref: '#/components/schemas/Ultimate-Debtor-Payment'
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - RCVD
              - RJCT
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- RCVD - Received \n - RJCT - Rejected  \n-  PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
            reasons:
              type: object
              title: reasons
              readOnly: true
              properties:
                code:
                  type: string
                  description: Reason code (applicable when message is rejected)
                  maxLength: 4
                  title: code
                description:
                  type: string
                  description: Reason code description (e.g., Debtor account is invalid.)
                  minLength: 1
                  maxLength: 256
                  title: description
          required:
          - date_time
          - code
          - description
      required:
      - decision_code
      - end_to_end_id
      - payment_information_id
    Message-Method-Request-For-Payment:
      type: object
      title: MessageMethodRequestForPayment
      required:
      - country
      - instructed_currency
      - method
      properties:
        country:
          description: ISO 3166 Alpha-2 code for the transaction country
          type: string
          enum:
          - US
          title: country
        instructed_currency:
          type: string
          description: ISO 4217 code for the transaction instructed amount currency
          enum:
          - USD
          title: instructed_currency
        method:
          description: "Method specified by the debtor for the transaction \n- Provide IP for instant payment"
          type: string
          enum:
          - IP
          title: method
        network:
          type: string
          enum:
          - RTP
          - ZELLE
          description: Financial market infrastructure or clearing system (e.g., RTP Network in the United States)
          title: network
    Debtor-Payment:
      type: object
      title: DebtorPayment
      writeOnly: true
      properties:
        name:
          minLength: 1
          maxLength: 140
          type: string
          description: Name of Debtor that may be passed for payment initiation
          title: name
        street_name:
          minLength: 1
          maxLength: 70
          type: string
          description: Street Name of Debtor that may be passed for payment initiation
          title: street_name
        building_number:
          minLength: 1
          maxLength: 16
          type: string
          description: Building number of Debtor that may be passed for payment initiation
          title: building_number
        postal_code:
          minLength: 1
          maxLength: 16
          type: string
          description: Postal code of Debtor that may be passed for payment initiation
          title: postal_code
        city:
          minLength: 1
          maxLength: 35
          type: string
          description: City of Debtor that may be passed for payment initiation
          title: city
        state:
          minLength: 1
          maxLength: 35
          type: string
          description: State of Debtor that may be passed for payment initiation
          title: state
        country:
          type: string
          description: Country of Debtor that may be passed for payment initiation
          pattern: ^[A-Z]{2,2}$
          title: country
        address_lines:
          type: array
          minItems: 1
          maxItems: 7
          description: Debtor Address lines which is array of 7 lines and each line has maximum 70 characters which may be passed for payment initiation
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
    Initial-Response-To-Request-For-Payment:
      type: object
      title: InitialResponseToRequestForPayment
      properties:
        uetr:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique reference generated in outgoing payment
          title: uetr
        decision_code:
          type: string
          description: "Acceptance or Rejection of request for payment \n- ACTC - Acceptance to make requested payment \n- RJCT - Decline to pay requested amount"
          enum:
          - ACTC
          - RJCT
          title: decision_code
        end_to_end_id:
          maxLength: 35
          minLength: 1
          pattern: ^(?!\s*$).+
          type: string
          description: Unique End to End ID of Response to Request for Payment
          title: end_to_end_id
        accepted_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: "Amount to be paid from Request for Payment.Indicates if Instructed amount in Payment request will be paid, or different amount.If Different amount not allowed by Payment Request, this field must carry Instructed amount \n- Mandatory if message.decision_code = ACTC"
          title: accepted_amount
        accepted_currency:
          type: string
          description: "ISO 4217 code for the accepted currency \n- Mandatory if message.decision_code = ACTC"
          enum:
          - USD
          title: accepted_currency
        scheduled_exec_date:
          type: string
          format: date
          description: "Date payment is expected to be made.Format is YYYY-MM-DD \n- Mandatory if message.decision_code = ACTC"
          title: scheduled_exec_date
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n - Mandatory if message.decision_code = RJCT"
              enum:
              - AC06
              - AG01
              - AG03
              - AM09
              - AM14
              - BE04
              - BE07
              - CH11
              - CUST
              - DS04
              - MD07
              - NARR
              - SL12
              title: code
            description:
              type: string
              description: "Description of Transaction reasons \n-  Mandatory if message.reasons.code = NARR"
              minLength: 1
              maxLength: 105
              title: description
        debtor:
          $ref: '#/components/schemas/Debtor-Payment'
        ultimate_debtor:
          $ref: '#/components/schemas/Ultimate-Debtor-Payment'
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
          required:
          - date_time
          - code
          - description
      required:
      - decision_code
      - end_to_end_id
      - payment_information_id
    Initial-Response-To-Payment-Confirmation-Request:
      type: object
      title: InitialResponseToPaymentConfirmationRequest
      properties:
        uetr:
          type: string
          description: UETR of Original payment
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          title: uetr
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
          required:
          - date_time
          - code
          - description
    Debtor-Refund:
      type: object
      title: DebtorRefund
      properties:
        name:
          minLength: 1
          maxLength: 140
          type: string
          description: "Name of Debtor to be passed for Refund payment \n- For United States debtor.name field is mandatory for decision code IPAY and PECR \n- For Thailand debtor.name field is not applicable \n- For Brazil debtor.name field is not applicable \n- For SEPA debtor.name field is not applicable"
          title: name
        street_name:
          minLength: 1
          maxLength: 70
          type: string
          description: "Street Name of Debtor to be passed for Refund payment \n- For United States debtor.street_name field is optional \n- For Thailand debtor.street_name field is not applicable \n- For Brazil debtor.street_name field is not applicable \n- For SEPA debtor.street_name field is not applicable"
          title: street_name
        building_number:
          minLength: 1
          maxLength: 16
          type: string
          description: "Building number of Debtor to be passed for Refund payment \n- For United States debtor.building_number field is optional \n- For Thailand debtor.building_number field is not applicable \n- For Brazil debtor.building_number field is not applicable \n- For SEPA debtor.building_number field is not applicable"
          title: building_number
        postal_code:
          minLength: 1
          maxLength: 16
          type: string
          description: "Postal code of Debtor to be passed for Refund payment \n- For United States debtor.postal_code field is optional \n- For Thailand debtor.postal_code field is not applicable \n- For Brazil debtor.postal_code field is not applicable \n- For SEPA debtor.postal_code field is not applicable"
          title: postal_code
        city:
          minLength: 1
          maxLength: 35
          type: string
          description: "City of Debtor to be passed for Refund payment \n- For United States debtor.city field is optional \n- For Thailand debtor.city field is not applicable \n- For Brazil debtor.city field is not applicable \n- For SEPA debtor.city field is not applicable"
          title: city
        state:
          minLength: 1
          maxLength: 35
          type: string
          description: "State of Debtor to be passed for Refund payment \n- For United States debtor.state field is optional \n- For Thailand debtor.state field is not applicable \n- For Brazil debtor.state field is not applicable \n- For SEPA debtor.state field is not applicable"
          title: state
        country:
          type: string
          description: "Country of Debtor to be passed for Refund payment \n- For United States debtor.country field is optional \n- For Thailand debtor.country field is not applicable \n- For Brazil debtor.country field is not applicable \n- For SEPA debtor.country field is not applicable"
          pattern: ^[A-Z]{2,2}$
          title: country
        address_lines:
          type: array
          minItems: 1
          maxItems: 7
          description: "Debtor Address lines which is array of 7 lines and each line has maximum 70 characters which is to be passed for Refund payment \n- For United States debtor.address_lines field is optional \n- For Thailand debtor.address_lines field is not applicable \n- For Brazil debtor.address_lines field is not applicable \n- For SEPA debtor.address_lines field is not applicable"
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
    Outgoing-Request-For-Refund:
      type: object
      title: OutgoingRequestForRefund
      description: Outgoing Request For Refund
      properties:
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n- For US RTP the applicable reason.code are (AC03,AM09,CUST,DUPL,FRAD,FRTR,TECH,UPAY) \n- For AU the applicable reason.code are (DUPL,AGNT,CURR,CUST,UPAY,CUTA,TECH,FRAD) \n- DUPL DuplicatePayment \n- BIAS BatchInstructionAlreadySettled \n- DRTP DuplicationRequestToPay \n- WNTB WarrantyBreach \n- MD06 RefundRequestByEndCustomer \n- UAPA UnauthorizedPayment \n- PAID TransactionAlreadyPaid \n- SVNR ServiceNotRendered \n- SYAD RequestToSettlementSystemAdministrator \n- ENUE EndUserError \n- NARR Narrative \n- INCR InvalidCancellationRequest \n- BE16 InvalidDebtorIdentificationCode \n- COVR CoverCancelledOrReturned \n- CURR IncorrectCurrency \n- CUTA CancelUponUnableToApply \n- DT01 InvalidDate \n- FRNA ForwardToNextAgent \n- INDM IndemnityRequired \n- MODT ModifiedTransaction \n- AC03 InvalidCreditorAccountNumber \n- AM09 WrongAmount \n- CUST RequestedByCustomerDUPL \n- FRAD FraudulentOrigin \n- FRTR FinalResponse \n- TECH TechnicalProblem \n- UPAY UnduePayment \n- AC02 InvalidDebtorAccountNumber \n- AGNT IncorrectAgent"
              enum:
              - AC03
              - AM09
              - CUST
              - DUPL
              - FRAD
              - FRTR
              - TECH
              - UPAY
              - UAPA
              - AGNT
              - CURR
              - CUTA
              - AC02
              - BE16
              - COVR
              - DT01
              - FRNA
              - INDM
              - MODT
              - PAID
              - SVNR
              - SYAD
              - ENUE
              - NARR
              - INCR
              - BIAS
              - DRTP
              - WNTB
              - MD06
              title: code
            description:
              type: string
              description: "Description of Transaction reasons. \n- For RFP warranty claim, the following codes/ warranty component may be used.The client may populate the code and warranty component, OR code, comma, free form text \n - N: No Legitimate Purpose \n- F: Part of Fraudulent Scheme to Induce Payment \n- H: Harassing \n- U: Otherwise Unlawful"
              minLength: 1
              maxLength: 105
              title: description
          required:
          - code
        country:
          writeOnly: true
          description: "The ISO 3166 Alpha-2 code for the non-payment message country should correspond to the originator’s payment initiation country code. \n- This field is optional for US \n- This field is mandatory for SEPA"
          type: string
          default: US
          enum:
          - US
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - GB
          - AU
          - IN
          - AR
          - BR
          - HK
          - BG
          title: country
    Original-Debtor:
      type: object
      title: OriginalDebtor
      properties:
        bank_id:
          minLength: 1
          maxLength: 35
          type: string
          description: Debtor Bank ID of Original Payment
          title: bank_id
        name:
          minLength: 1
          maxLength: 140
          type: string
          description: Name of Debtor from Original Payment
          title: name
        street_name:
          minLength: 1
          maxLength: 70
          type: string
          description: Street Name of Debtor address from Original Payment
          title: street_name
        building_number:
          minLength: 1
          maxLength: 16
          type: string
          description: Debtor Building number of Original Payment
          title: building_number
        postal_code:
          minLength: 1
          maxLength: 16
          type: string
          description: Debtor Postal code of Original Payment
          title: postal_code
        city:
          minLength: 1
          maxLength: 35
          type: string
          description: City of Debtor from Original Payment
          title: city
        state:
          minLength: 1
          maxLength: 35
          type: string
          description: State of Debtor from Original Payment
          title: state
        country:
          maxLength: 2
          type: string
          description: Country of Debtor from Original Payment
          title: country
        address_lines:
          type: array
          description: Debtor Address lines of Original Payment which is array of 7 lines and each line has maximum 70 characters
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        org_id:
          minLength: 1
          maxLength: 35
          type: string
          description: Debtor Org ID of Original Payment
          title: org_id
        birth_date:
          type: string
          format: date
          description: Debtor Birth date of Original Payment.Format is YYYY-MM-DD
          title: birth_date
        birth_city:
          minLength: 1
          maxLength: 35
          type: string
          description: Debtor Birth city of Original Payment
          title: birth_city
        birth_country:
          maxLength: 2
          type: string
          description: Debtor Birth country of Original Payment
          title: birth_country
        proxy_id:
          maxLength: 255
          minLength: 1
          type: string
          description: Debtor's proxy identification (e.g., email address) of original payment
          title: proxy_id
        proxy_type:
          type: string
          enum:
          - BIID
          - EMAL
          - EWAL
          - MBNO
          - NIDN
          description: Debtor's proxy type (BIID for bill identification, EMAL for email address, EWAL for electronic wallet identification, MBNO for mobile number and NIDN for national identification) of original payment
          title: proxy_type
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: Debtor's bank account of original payment
          title: account
        birth_province:
          maxLength: 35
          minLength: 1
          type: string
          description: ' Debtor Province Of Birth of original payment'
          title: birth_province
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: Debtor's private id of original payment
          title: prvt_id
        department:
          maxLength: 70
          minLength: 1
          type: string
          description: 'debtor Address Department of original payment '
          title: department
        sub_department:
          maxLength: 70
          minLength: 1
          type: string
          description: debtor Address Sub-Department  of original payment
          title: sub_department
        building_name:
          maxLength: 35
          minLength: 1
          type: string
          description: 'debtor building name of original payment '
          title: building_name
        floor:
          maxLength: 70
          minLength: 1
          type: string
          description: debtor address floor of original payment
          title: floor
        post_box:
          maxLength: 16
          minLength: 1
          type: string
          description: 'debtor address post box of original payment '
          title: post_box
        room:
          maxLength: 70
          minLength: 1
          type: string
          description: debtor address room of original payment
          title: room
        town_location_name:
          maxLength: 35
          minLength: 1
          type: string
          description: 'debtor address town location name of original payment '
          title: town_location_name
        district_name:
          maxLength: 35
          minLength: 1
          type: string
          description: 'debtor address district_name of original payment '
          title: district_name
        anybic:
          maxLength: 35
          minLength: 1
          type: string
          description: 'debtor BIC of original payment '
          title: anybic
        lei:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Unique global identifier for legal entities participating in financial transactions of original payment '
          title: lei
        issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: 'debtor name that identifies an issuer of original payment '
          title: issuer
        scheme_name:
          maxLength: 128
          minLength: 1
          type: string
          description: Debtor's scheme name of original payment
          title: scheme_name
    Initial-Outgoing-Request-For-Refund:
      type: object
      title: InitialOutgoingRequestForRefund
      properties:
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n- AC03 InvalidCreditorAccountNumber \n- AM09 WrongAmount \n- CUST Requested by Customer \n- DUPL DuplicatePayment \n- FRAD FraudulentOrigin \n- FRTR FinalResponse \n- TECH TechnicalProblem \n- UPAY UnduePayment \n- UAPA Customer claims Credit Transfer is fraudulently induced"
              enum:
              - AC03
              - AM09
              - CUST
              - DUPL
              - FRAD
              - FRTR
              - TECH
              - UPAY
              - AC02
              - UAPA
              - AGNT
              - BE16
              - COVR
              - CURR
              - CUTA
              - DT01
              - FRNA
              - INDM
              - MODT
              - PAID
              - SVNR
              - SYAD
              - ENUE
              - NARR
              - INCR
              - BIAS
              - DRTP
              - WNTB
              - MD06
              title: code
            description:
              type: string
              description: "Description of Transaction reasons. \n- For RFP warranty claim, the following codes/ warranty component may be used.The client may populate the code and warranty component, OR code, comma, free form text \n - N: No Legitimate Purpose \n- F: Part of Fraudulent Scheme to Induce Payment \n- H: Harassing \n- U: Otherwise Unlawful"
              minLength: 1
              maxLength: 105
              title: description
          required:
          - code
        country:
          description: "ISO 3166 Alpha-2 code for the non pay message country. \n- This field is optional for US \n- This field is mandatory for SEPA"
          type: string
          default: US
          enum:
          - US
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - GB
          - AU
          - IN
          - AR
          - BR
          - BG
          - HK
          title: country
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
          required:
          - date_time
          - code
          - description
    Message-Creditor-Request-For-Payment:
      type: object
      title: MessageCreditorRequestForPayment
      properties:
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: Creditor Account ID
          title: account
        account_name:
          maxLength: 140
          minLength: 1
          type: string
          description: Creditor Account Name
          title: account_name
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: Creditor Name
          title: name
        bank_id:
          maxLength: 16
          minLength: 1
          type: string
          description: Beneficiary Bank Clearing Id
          title: bank_id
        address_lines:
          type: array
          description: Creditor's address_lines
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: 'Creditor''s street_name '
          title: street_name
        building_number:
          maxLength: 16
          minLength: 1
          type: string
          description: Creditor's building_number
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: Creditor's postal_code
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: Creditor's city
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: Creditor's state
          title: state
        country:
          type: string
          description: Creditor's country
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 20
          minLength: 1
          type: string
          description: Creditor's org_id
          title: org_id
        birth_date:
          type: string
          format: date
          description: ISO 8601 (YYYY-MM-DD), Creditor's birth_date
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: 'Creditor''s birth_city '
          title: birth_city
        birth_country:
          type: string
          description: Creditor's birth_country
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        phone_number:
          type: string
          maxLength: 35
          description: Creditor's phone number
          pattern: \+[0-9]{1,3}-[0-9()+\-]{1,30}
          title: phone_number
      required:
      - account
      - name
      - bank_id
    Final-Response-To-Request-For-Refund:
      type: object
      title: FinalResponseToRequestForRefund
      description: Outgoing/Incoming Response to Request for Refund
      properties:
        case_id:
          type: string
          description: Case Id received from clearing
          minLength: 1
          maxLength: 35
          title: case_id
        decision_code:
          type: string
          description: "Acceptance or Rejection of return of funds. Only the below 3 codes are applicable \n- IPAY - Acceptance to Return the payment \n- RJCR - Decline to Return the payment \n- PECR - Partially Executed Cancellation Return"
          enum:
          - ACDA
          - ACNR
          - ACVA
          - CHRG
          - CNCL
          - CONF
          - CVAA
          - CWFW
          - FTNA
          - ICOV
          - IDUP
          - IPAY
          - IPYI
          - MCOV
          - MODI
          - MWFW
          - PDCR
          - PECR
          - PURP
          - RJCR
          - RJNR
          - RJVA
          - SMTC
          - SMTI
          - UWFW
          - BIAS
          - IDNE
          - IVCR
          - INFO
          - NINF
          - PDNG
          title: decision_code
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: "Code of Transaction reasons \n- If decision_code = RJCR,reasons.code is mandatory for ResponseToRequest-For-Refund "
              enum:
              - AC04
              - ADAC
              - AGNT
              - AM04
              - ARDT
              - ARPL
              - CUST
              - LEGL
              - NARR
              - NOAS
              - NOOR
              - PTNA
              - RQDA
              - WSEQ
              - IDMN
              - ACLR
              - AEXR
              - ARFR
              - ARJR
              - PATE
              - RR04
              - RCAR
              - RCNR
              - RCPR
              - URTP
              title: code
            description:
              type: string
              description: "Reason code description (e.g., Debtor account is invalid.). \n- For reasons.code = NARR this field is mandatory"
              minLength: 1
              maxLength: 105
              title: description
        method:
          type: string
          description: "Method type \n- MPNS - for ACH payment \n- RTGS - for FedWire \n- RTNS - for CHIPS \n- RT1 - for SEPA IP payments"
          readOnly: true
          enum:
          - MPNS
          - RTGS
          - RTNS
          - RT1
          title: method
        interbank_settlement_date:
          type: string
          description: YYYY-MM-DD Intended interbank settlement date
          format: date
          readOnly: true
          title: interbank_settlement_date
        instructed_amount:
          type: number
          description: "Instructed amount for partial acceptance of return request \n- Mandatory for ResponseToRequest-For-Refund with decision code as PECR."
          minimum: 0.01
          maximum: 1000000000000000
          title: instructed_amount
        instructed_currency:
          type: string
          description: "Instructed currency for partial acceptance of return request \n- Mandatory for ResponseToRequest-For-Refund with decision code as PECR"
          enum:
          - USD
          - EUR
          - AUD
          - ARS
          - BRL
          - HKD
          - CNY
          title: instructed_currency
        instruction_id:
          writeOnly: true
          type: string
          description: Unique Instruction id on return payment initiation
          minLength: 1
          maxLength: 35
          title: instruction_id
        end_to_end_id:
          writeOnly: true
          type: string
          description: Unique end to end id on return payment initiation
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        country:
          writeOnly: true
          description: "ISO 3166 Alpha-2 code for the non pay message country. \n- This field is optional for US \n- This field is mandatory for SEPA"
          type: string
          default: US
          enum:
          - US
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - AU
          - AR
          - BR
          - HK
          - BG
          title: country
        network:
          type: string
          readOnly: true
          enum:
          - RTP
          - FDN
          description: "Financial market infrastructure or clearing system (e.g., RTP Network in the United States) \n- RTP for TCH \n- FDN for FedNow"
          title: network
        debtor:
          $ref: '#/components/schemas/Debtor-Refund'
        ultimate_debtor:
          $ref: '#/components/schemas/Ultimate-Debtor-Refund'
        status:
          type: object
          title: status
          readOnly: true
          properties:
            date_time:
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Date time, \n-, status change date time"
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
              - RCVD
              - RJCT
              - PDNG
              title: code
            description:
              type: string
              description: "Status code description \n- RJCT - Rejected \n- RCVD - Received \n -  PDNG - Pending"
              minLength: 1
              maxLength: 256
              title: description
            reasons:
              type: object
              title: reasons
              readOnly: true
              properties:
                code:
                  type: string
                  description: Reason code (applicable when message is rejected)
                  maxLength: 4
                  title: code
                description:
                  type: string
                  description: Reason code description (e.g., Debtor account is invalid.)
                  minLength: 1
                  maxLength: 256
                  title: description
          required:
          - date_time
          - code
          - description
        return_id:
          type: string
          readOnly: true
          description: "If other FI wants to return funds outside of RTP, the unique identifier of the transaction used to return the funds must be included in this field \n - If via ACH, Trace Number must be populated \n - If via FedWire -- IMAD  must be populated \n- If via CHIPS -- System Sequence Number (SSN)  must be populated"
          minLength: 1
          maxLength: 35
          title: return_id
      required:
      - case_id
      - decision_code
      - end_to_end_id
    Message-Creditor-Status:
      type: object
      title: MessageCreditorStatus
      properties:
        proxy_id:
          type: string
          maxLength: 128
          minLength: 1
          description: "Creditor's proxy identification (e.g., email address) \n - For US  creditor.proxy_id field is not applicable"
          title: proxy_id
        proxy_type:
          type: string
          enum:
          - BIID
          - EMAL
          - EWAL
          - MBNO
          - NIDN
          description: "Creditor's proxy type (BIID for bill identification, EMAL for email address, EWAL for electronic wallet identification, MBNO for mobile number and NIDN for national identification) \n - For US creditor.proxy_type field is not applicable"
          title: proxy_type
        tax_id:
          maxLength: 128
          minLength: 1
          type: string
          description: "Creditor's tax identification  \n - For US creditor.tax_id field is not applicable"
          title: tax_id
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: Creditor's bank account
          title: account
        account_name:
          maxLength: 140
          minLength: 1
          type: string
          description: Creditor Account name, different from the Creditor Name
          title: account_name
        virtual_account:
          maxLength: 40
          minLength: 1
          type: string
          description: "Creditor's virtual account (also kown as PAYER ID) \n - For US creditor.virtual_account field is not applicable"
          title: virtual_account
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: Creditor's name
          title: name
        address_lines:
          type: array
          description: Creditor's address_lines
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
[...]
