openapi: 3.2.0
info:
  title: Citi Payments API
  x-refined-note:
  - x-ibm-name differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Payments across 4 of this provider''s published API definitions: citi-payment-reconfirmation-openapi.yaml, citi-paymentcancellation-json-openapi.yaml, express_payments_api.yaml, ukraine_payment_service_initiation_api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
  description: production gateway URL
- url: https://tts.apib2b.citi.com/citiconnect/sb/paymentservices/v3
  description: sandbox URL
- url: https://b2b.api.icg.citi.com/citiconnect/prod
  description: production gateway url
- url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
  description: 'sbox url '
- url: https://b2b.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
  description: production gateway url
- url: https://sanbox.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
  description: sbox url
tags:
- name: Payments
paths:
  /payments/reconfirmations:
    post:
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fi_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/fi_response'
              example: <?xml version="1.0" encoding="UTF-8"?><TxInfAndSts><TxSts>RJCT</TxSts><AddtlInf>Transaction Not Found</AddtlInf></TxInfAndSts>
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                errors:
                - action: Please provide valid value for either uetr or (citi_reference/instruction_id with interbank_settlement_date).
                  issue: uetr/citi_reference/instruction_id cannot be null or empty.
                http_code: 400
                status: FAILED
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                errors:
                - action: Please try again with valid credentials.
                  issue: Authorization failed.
                http_code: 401
                status: FAILED
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                errors:
                - action: Please use valid Http Verb.
                  issue: Method not allowed.
                http_code: 405
                status: FAILED
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                errors:
                - action: Resend request in valid format.
                  issue: provided content-type of the request is not valid.
                http_code: 415
                status: FAILED
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                errors:
                - action: Please try again after sometime.
                  issue: unable to process your request at this moment.
                http_code: 500
                status: FAILED
      parameters:
      - description: This field used to identify request is for reconfirm/reject (Example - RECNFRM / RJCTCNFRM) FI Payments.
        in: header
        name: request_type
        required: true
        schema:
          type: string
          maxLength: 12
      - description: Unique reference which was shared during CitiConnect API on-boarding(client_id which used during oauth token generation)
        in: query
        name: client_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fi_reconfirmation_request'
          application/xml:
            schema:
              $ref: '#/components/schemas/fi_reconfirmation_request'
            example: <?xml version="1.0" encoding="UTF-8"?><TransacService><InstrId>2009360588</InstrId><ReqdExctnDt>2020-09-25</ReqdExctnDt><Rsn>DUPL</Rsn></TransacService>
        required: true
      operationId: fiPaymentReconfirmation
      summary: Payment Reconfirmation
      description: This API allows you to initiate reconfirm/reject FI payments in JSON and XML format.
      tags:
      - Payments
      security:
      - clientCredentials: []
        Client ID: []
    servers:
    - url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
      description: production gateway URL
    - url: https://tts.apib2b.citi.com/citiconnect/sb/paymentservices/v3
      description: sandbox URL
  /payments/stops:
    post:
      summary: Payment Cancellation
      description: 'This API specification document provides descriptions of the request and response parameters for JSON content.


        The FI cancellation API lets you stop or recall payment requests against FI payments in payment insight. It supports custom JSON & ISO XML (camt.056.001.09) format. Initiating an FI Cancellation API using the CitiConnect API requires a well-defined POST request where you can specify the endpoint URL to call the API. Additionally, you need to specify the values for input parameters in the body of your JSON/XML document. Finally, you will encrypt the payload, place it in your request and send it via your application.'
      operationId: FICancellationAPI
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for OAuth token generation
        schema:
          type: string
      - name: Content-type
        in: header
        description: Supports \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: request_type
        description: Operation name. The possible value for this header is STOP_REQUEST.
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK > Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fi_cancellation_response'
              example:
                transaction_status:
                  status: ACCP
                  type: Your request has been registered. We will notify you once the transaction is stopped/recalled.
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 400
                errors:
                - issue: uetr/citi_reference/instruction_id cannot be null or empty.
                  action: Please provide valid value for either UETR or (citi_reference/instruction_id with interbank_settlement_date).
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 401
                errors:
                - issue: Authorization failed.
                  action: Please try again with valid credentials.
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 404
                errors:
                - issue: Not found
                  action: Please check the URL and try again later.
        '405':
          description: METHOD NOT ALLOWED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 405
                errors:
                - issue: Method not allowed.
                  action: Please use valid HTTP supported verb only.
        '415':
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 415
                errors:
                - issue: Provided content-type of the request is not valid.
                  action: Resend request in valid format.
        '500':
          description: INTERNAL SERVER ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_2'
              example:
                status: FAILED
                http_code: 500
                errors:
                - issue: Unable to process your request at this moment.
                  action: Please try again after sometime.
      security:
      - clientCredentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fi_cancellation_request'
        description: Describes the request body.
        required: true
      tags:
      - Payments
    servers:
    - url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
      description: production gateway URL
    - url: https://tts.apib2b.citi.com/citiconnect/sb/paymentservices/v3
      description: sandbox URL
  /paymentservices/v1/payments:
    post:
      tags:
      - Payments
      summary: Initiate an outgoing instant payment credit transfer
      description: This endpoint validates your request and synchronously responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn't accept your transaction initiation request.
      operationId: expressPaymentInitiation
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: Idempotency-Id
        in: header
        required: true
        schema:
          type: string
          maxLength: 128
        example: a44cbb606de4edb9a7a123414bba3bb
        description: "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
      requestBody:
        required: true
        description: This endpoint validates your request and synchronously responds with HTTP status 202 (accepted) after successful validation. If validation fails, the endpoint synchronously responds with error (HTTP status 4XX / 5XX and any applicable ISO 20022 reason code), indicating Citi couldn't accept your transaction initiation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Initiation-Request'
            examples:
              TH Proxy Credit Transfer:
                $ref: '#/components/examples/Th-Proxy-Payment-Initiation-Request-Example'
              TH Account Credit Transfer:
                $ref: '#/components/examples/Th-Account-Payment-Initiation-Request-Example'
              US Credit Transfer:
                $ref: '#/components/examples/Us-Payment-Initiation-Request-Example'
              IN IMPS Credit Transfer:
                $ref: '#/components/examples/In-Imps-Payment-Initiation-Request-Example'
              IN IMPS FIR Credit Transfer:
                $ref: '#/components/examples/In-Imps-Fir-Payment-Initiation-Request-Example'
              UK FPS Credit Transfer:
                $ref: '#/components/examples/Uk-Payment-Initiation-Request-Example'
              IN UPI Credit Transfer:
                $ref: '#/components/examples/In-Upi-Payment-Initiation-Request-Example'
              IN NEFT Credit Transfer:
                $ref: '#/components/examples/In-Neft-Payment-Initiation-Request-Example'
              US Wire Credit Transfer:
                $ref: '#/components/examples/Us-Wire-Payment-Initiation-Request-Example'
              US ACH CCD/PPD Credit Transfer:
                $ref: '#/components/examples/Us-Ach-Ccd-Payment-Initiation-Request-Example'
              US ACH IAT Credit Transfer:
                $ref: '#/components/examples/Us-Ach-Iat-Payment-Initiation-Request-Example'
              JP Credit Transfer:
                $ref: '#/components/examples/Jp-Payment-Initiation-Request-Example'
              SEPA Credit Transfer:
                $ref: '#/components/examples/SEPA-AllFields-Payment-Initiation-Request-Example'
              SEPA Credit Mandatory Transfer:
                $ref: '#/components/examples/SEPA-MandatoryFields-Payment-Initiation-Request-Example'
              AU Credit Transfer:
                $ref: '#/components/examples/AU-Payment-Initiation-Request-Example'
              MX DFT Credit Transfer:
                $ref: '#/components/examples/MX-DFT-Payment-Initiation-Request-Example'
              MX BKT Credit Transfer:
                $ref: '#/components/examples/MX-BKT-Payment-Initiation-Request-Example'
              AR IP Credit Transfer:
                $ref: '#/components/examples/AR-IP-Payment-Initiation-Request-Example'
              UK BACS Credit Transfer:
                $ref: '#/components/examples/UK-BACS-Initiation-Request-Example'
      security:
      - oAuth2:
        - paymentservices
      callbacks:
        Payment-Notification:
          $ref: '#/components/callbacks/Payment-Notification'
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                TH Credit Transfer Response:
                  $ref: '#/components/examples/Payment-Initiation-Response-Example'
                US Credit Transfer Response:
                  $ref: '#/components/examples/Us-Payment-Initiation-Response-Example'
                IN IMPS Credit Transfer Response:
                  $ref: '#/components/examples/In-Imps-Payment-Initiation-Response-Example'
                IN IMPS Fir Credit Transfer Response:
                  $ref: '#/components/examples/In-Imps-Fir-Payment-Initiation-Response-Example'
                UK FPS Credit Transfer Response:
                  $ref: '#/components/examples/Uk-Payment-Initiation-Response-Example'
                Proxy-Transaction-Post:
                  $ref: '#/components/examples/Proxy-Transaction-Post'
                IN UPI Credit Transfer Response:
                  $ref: '#/components/examples/In-Upi-Payment-Initiation-Response-Example'
                IN NEFT Credit Transfer Response:
                  $ref: '#/components/examples/In-Neft-Payment-Initiation-Response-Example'
                JP Credit Transfer Response:
                  $ref: '#/components/examples/Jp-Payment-Initiation-Response-Example'
                US Wire Credit Transfer Response:
                  $ref: '#/components/examples/Us-Wire-Payment-Initiation-Response-Example'
                US Ach Credit Transfer Response:
                  $ref: '#/components/examples/Us-Ach-Payment-Initiation-Response-Example'
                SEPA Credit Transfer Response:
                  $ref: '#/components/examples/SEPA-AllFields-Payment-Initiation-Response-Example'
                AU Credit Transfer Response:
                  $ref: '#/components/examples/AU-Payment-Initiation-Response-Example'
                MX DFT Credit Transfer Response:
                  $ref: '#/components/examples/MX-DFT-Payment-Initiation-Response-Example'
                MX BKT Credit Transfer Response:
                  $ref: '#/components/examples/MX-BKT-Payment-Initiation-Response-Example'
                AR IP Credit Transfer Response:
                  $ref: '#/components/examples/AR-IP-Payment-Initiation-Response-Example'
                UK BACS Credit Transfer Response:
                  $ref: '#/components/examples/UK-BACS-Initiation-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    get:
      tags:
      - Payments
      summary: Inquire for the latest status of transations matching additional parameters
      description: '-Get the latest statuses of payment transactions using matching criteria. Currently, you can get the latest transactions statuses up to 90 days from the payment initiation date. If the latest transactions statuses date is 90+ days old, the endpoint responds with HTTP status 404 (not found).

        -You can use this endpoint to pull the transactions of all payment methods that includes Wires, ACH, and IP. For ACH and Wires, use the end_to_end_id to pull the transactions.'
      operationId: findPayments
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: encrypted-params
        in: header
        description: 'Encrypt the key values as below. Debtor account or creditor account is mandatory.



          * **debtor_account:** Your Citi account for instant payment (debit) / outgoing


          * **creditor_account:** Your Citi account for instant payment (credit) / incoming


          * **debtor_proxy_id:** Debtor proxy identification - For US RTP Instant Payment - debtor_proxy_id header param is not applicable


          * **creditor_proxy_id:** Creditor proxy identification - For US RTP Instant Payment - creditor_proxy_id header param is not applicable


          * **debtor_virtual_account:** Your Citi virtual account for instant payment (debit) / outgoing - For US RTP Instant Payment - debtor_virtual_account header param is not applicable


          * **creditor_virtual_account:** Your Citi virtual account for instant payment (credit) / incoming - For US RTP Instant Payment - creditor_virtual_account header param is not applicable


          ***Sample header before encryption:*** {"debtor_account":"3001386964","creditor_proxy_id":"a93d@gmail.com"}

          '
        schema:
          type: string
          pattern: \w*\W*
          example: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0.D4yD0xv7xuoy_YmFaz29dz85QejaLNI9EtlsiOIAP4v6v4hVFwHLx_Ad_pZoLNhc6lx_H2YPnxUcMem76UkO6kjQ849azAnC7WLAxlm_ytMCmuTsZTkhBoX3BHsgD4nmQ-6QhpklVmH8nz3czk6HVmJ5BYrtA6Q4N96bCaCCYkEDCrPLK6NHmTyBeKmRIe6LBzmia6Ct20ovHCU-juj_YPBsQGfqrMTrdSDInts_5DbmL49Q1eDRAeuU7vcSgl_ROJ54BHo-XwiZFuvUUXt5NIP4wxF0phoJ4oWk9VyFIgt29wG2Lht2WX5_0S8KIve9sBoOZIYHylK6YkUTk6FXMg.2hlCJTgnxZRsIqXwDhiMtg.X8HL_J5q9v7UQ-PX_JadGRte2grVQjbZ2Ep2k3kSKmjVuOam4OyZ8I429o-2xNHT9XrcH1RdNMfKC4QhfrtFXYlf39BzAmP89IWRilH_ez-HRy4CoainozRO0SjRzB2ZWgOQvr2J3UkvriHSLfYJEqA7reXcEWvifaISe-c_eh_zWaCqEOfe53oTPlcyjl9_lXGaIm07GMT-JQuPkYTDRVG2cV41bYAfrDjJFtbTwM7RAy0LAAtZxLCyRE5s8AHyFqsp6D_xtq5sjjy2UnfmMSp1sDwA0uwmAWNrH1orgr7JaPxzRa3zSIEeMoUN4SnAMwLPYhI65LnvdQjRo91M_ttqEr1CGJ1B_qkw9wSRV0rwe3Gmq12NmGLIe-khMPDXezI3toVY5urd8XeFMhqUeZBwzkR2NQvqTN3wOwgB_sMyG_Q27-LwwIXKDNxmGhZErLV73228dD2qSfiBwpGtEPz-keiN0cTFQJj4GM5ZrKNfx2Q_PDJZdP3eVDcUelpJooRiCl2DKWhNmBFQ4haGoVUSj6g88V_7_I6RQHC4s3EEG3rlVaoutzwyjrfp05vGg_8FiIcocGXnbUrBQa8-ZQ.K2RGIyBtuBoCfoDACIOYrA
      - name: end_to_end_id
        in: query
        description: Transaction identification provided by the debtor
        schema:
          $ref: '#/components/schemas/Restricted-Finx-Max-Text'
        examples:
          payment_transaction_details_1:
            value: 1L00IF2BCWUZF09
      - name: network_id
        in: query
        description: Transaction reference generated for or by a network (e.g., PromptPay)
        schema:
          type: string
          maxLength: 36
        examples:
          payment_transaction_details_1:
            value: '209323283934'
      - name: batch_id
        in: query
        description: Identification for your Citi account consolidated debit or credit posting for the transactions
        schema:
          type: string
          maxLength: 35
        examples:
          payment_transaction_details_1:
            value: '492084893'
      - name: creation_date_time_start
        in: query
        description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - Start of date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created"
        schema:
          $ref: '#/components/schemas/Iso-Normalised-Date-Time'
        examples:
          payment_transaction_details_1:
            value: '2022-09-13T08:23:49.114Z'
      - name: creation_date_time_end
        in: query
        description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment (Debit) - End of date time, generated by CitiConnect API, when CitiConnect API accepted a payment initiation after validation \n- Instant Payment (Credit) - End of date time, either provided by the debtor bank or generated by Citi's transaction processing application, when a transaction was created"
        schema:
          $ref: '#/components/schemas/Iso-Normalised-Date-Time'
        examples:
          payment_transaction_details_1:
            value: '2022-09-13T08:23:49.554Z'
      - name: instructed_amount
        in: query
        description: Instructed amount
        schema:
          type: number
          maximum: 1000000000000000
        examples:
          payment_transaction_details_1:
            value: 73945.27
      - name: settlement_amount
        in: query
        description: Settlement amount (e.g., after any currency exchange or charge on the instructed amount)
        schema:
          type: number
          maximum: 1000000000000000
        examples:
          payment_transaction_details_1:
            value: 50000.23
      - name: status_date_time_start
        in: query
        description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment - Start date time of the transaction status change (when CitiConnect API change the status of the transaction)"
        schema:
          $ref: '#/components/schemas/Iso-Normalised-Date-Time'
        examples:
          payment_transaction_details_1:
            value: '2022-09-13T08:23:49.224Z'
      - name: status_date_time_end
        in: query
        description: "GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Instant Payment - Start end time of the transaction status change (when CitiConnect API change the status of the transaction)"
        schema:
          $ref: '#/components/schemas/Iso-Normalised-Date-Time'
        examples:
          payment_transaction_details_1:
            value: '2022-09-13T08:23:49.331Z'
      - name: status_code
        in: query
        description: ISO 20022 transaction status code
        schema:
          type: string
          enum:
          - ACTC
          - PDNG
          - RJCT
          - ACCC
          - ACWP
        examples:
          payment_transaction_details_1:
            value: ACCC
      - name: debtor_account_last4
        in: query
        description: Last 4 digits of a debtor account in combination with your Citi creditor account
        examples:
          payment_transaction_details_1:
            value: '6373'
        schema:
          type: string
          pattern: ^[0-9]{4}$
      - name: creditor_account_last4
        in: query
        description: Last 4 digits of a creditor account number in combination with your Citi debtor account
        examples:
          payment_transaction_details_1:
            value: 0783
        schema:
          type: string
          pattern: ^[0-9]{4}$
      - $ref: '#/components/parameters/Off-Set-Param'
      - $ref: '#/components/parameters/Limit-Param'
      security:
      - oAuth2:
        - paymentservices
      responses:
        '200':
          description: Payment status
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments-Response'
              examples:
                TH Status - Completed:
                  $ref: '#/components/examples/Ok-Response-Multiple'
                TH Status - Rejected:
                  $ref: '#/components/examples/Ok-Response-Failed-Multiple'
                US Status - Completed:
                  $ref: '#/components/examples/Us-Ok-Response-Multiple'
                US Status - Rejected:
                  $ref: '#/components/examples/Us-Ok-Response-Failed-Multiple'
                IN Status - Completed:
                  $ref: '#/components/examples/In-Ok-Response-Multiple'
                IN Status - Rejected:
                  $ref: '#/components/examples/In-Ok-Response-Failed-Multiple'
                IN UPI Status - Completed:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Multiple'
                IN UPI Status - Rejected:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Multiple-Failed'
                IN IMPS Fir Status - Completed:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response-Multiple'
                IN IMPS Fir Status - Rejected:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response-Multiple-Failed'
                UK FPS Status - Completed:
                  $ref: '#/components/examples/Uk-Ok-Response-Multiple'
                Uk FPS Status - Rejected:
                  $ref: '#/components/examples/Uk-Ok-Response-Failed-Multiple'
                JP Status - Completed:
                  $ref: '#/components/examples/Jp-Ok-Response-Multiple'
                JP Status - Rejected:
                  $ref: '#/components/examples/Jp-Ok-Response-Failed-Multiple'
                US WIRE Status - Completed:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Multiple'
                US WIRE Status - Rejected:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Multiple-Failed'
                US ACH Status - Completed:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Multiple'
                US ACH Status - Rejected:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Multiple-Failed'
                Payer-Id-Transaction-Get:
                  $ref: '#/components/examples/Payer-Id-Transaction-Get-Multiple'
                QR_account_transaction_GET:
                  $ref: '#/components/examples/Qr-Transaction-Get-Multiple'
                Proxy-Transaction-Get:
                  $ref: '#/components/examples/Proxy-Transaction-Get-Multiple'
                SEPA IDP Pending:
                  $ref: '#/components/examples/SEPA-IDP-Pending'
                SEPA IDP Completed:
                  $ref: '#/components/examples/SEPA-IDP-Completed'
                SEPA Status - Rejected:
                  $ref: '#/components/examples/SEPA-Ok-Reject'
                SEPA Status - Completed:
                  $ref: '#/components/examples/SEPA-Ok-Completed'
                IN NEFT Status - Completed:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Multiple'
                IN NEFT Status - Rejected:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Multiple-Failed'
                IN IMPS Get Status - Completed:
                  $ref: '#/components/examples/In-IMPS-Get-Response-Completed'
                IN IMPS Get Status - Rejected:
                  $ref: '#/components/examples/In-IMPS-Get-Response-Rejected'
                SEPA VoP Status - Completed:
                  $ref: '#/components/examples/SEPA-VoP-Ok-Completed'
                SEPA VoP Status - Rejected:
                  $ref: '#/components/examples/SEPA-VoP-Nok-Completed'
                AU Status - Completed:
                  $ref: '#/components/examples/AU-Ok-Completed-Status'
                AU Status - Rejected:
                  $ref: '#/components/examples/AU-Nok-Rejected'
                MX DFT Status - Completed:
                  $ref: '#/components/examples/MX-DFT-Status-Get-Response-Completed'
                MX DFT Status - Rejected:
                  $ref: '#/components/examples/MX-DFT-Status-Get-Response-Rejected'
                MX BKT Status - Completed:
                  $ref: '#/components/examples/MX-BKT-Status-Get-Response-Completed'
                MX BKT Status - Rejected:
                  $ref: '#/components/examples/MX-BKT-Status-Get-Response-Rejected'
                AR IP Status - Completed:
                  $ref: '#/components/examples/AR-IP-Status-Get-Response-Completed'
                AR IP Status - Rejected:
                  $ref: '#/components/examples/AR-IP-Status-Get-Response-Rejected'
                UK BACS Status - Rejected:
                  $ref: '#/components/examples/UK-BACS-Reject-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    servers:
    - url: https://b2b.api.icg.citi.com/citiconnect/prod
      description: production gateway url
    - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
      description: 'sbox url '
  /paymentservices/v1/payments/{uetr}:
    get:
      tags:
      - Payments
      summary: Inquire for the latest status of a transaction using UETR
      description: Get the latest status of a payment transaction using unique end-to-end transaction reference (UETR). Currently, you can get the latest transaction status up to 90 days from the payment initiation date. If the latest transaction status date is 90+ days old, the endpoint responds with HTTP status 404 (not found).
      operationId: findPaymentByUetr
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: uetr
        in: path
        description: Unique end-to-end transaction reference
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
        examples:
          payment_transaction_details_1:
            value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
      security:
      - oAuth2:
        - paymentservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                TH Status - Completed:
                  $ref: '#/components/examples/Ok-Response'
                TH Status - Rejected:
                  $ref: '#/components/examples/Ok-Response-Failed'
                US Status - Completed:
                  $ref: '#/components/examples/Us-Ok-Response'
                US Status - Rejected:
                  $ref: '#/components/examples/Us-Ok-Response-Failed'
                UK Status - Completed:
                  $ref: '#/components/examples/Uk-Ok-Response'
                UK Status - Rejected:
                  $ref: '#/components/examples/Uk-Ok-Response-Failed'
                IN Status - Completed:
                  $ref: '#/components/examples/In-Ok-Response'
                IN Status - Rejected:
                  $ref: '#/components/examples/In-Ok-Response-Failed'
                IN UPI Status - Completed:
                  $ref: '#/components/examples/In-Upi-Ok-Response'
                IN UPI Status - Rejected:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Failed'
                IN IMPS Fir Status - Completed:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response'
                IN IMPS Fir Status - Rejected:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response-Failed'
                JP Status - Completed:
                  $ref: '#/components/examples/Jp-Ok-Response'
                JP Status - Rejected:
                  $ref: '#/components/examples/Jp-Ok-Response-Failed'
                US WIRE Status - Completed:
                  $ref: '#/components/examples/US-WIRE-Ok-Response'
                US WIRE Status - Rejected:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Failed'
                US ACH Status - Completed:
                  $ref: '#/components/examples/Us-Ach-Ok-Response'
                US ACH Status - Rejected:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Failed'
                Payer-Id-Transaction-Get:
                  $ref: '#/components/examples/Payer-Id-Transaction-Get'
                Qr-Transaction-Get:
                  $ref: '#/components/examples/Qr-Transaction-Get'
                Proxy-Transaction-Get:
                  $ref: '#/components/examples/Proxy-Transaction-Get'
                SEPA IDP Pending:
                  $ref: '#/components/examples/SEPA-IDP-Pending-Status'
                SEPA IDP Completed:
                  $ref: '#/components/examples/SEPA-IDP-Completed-Status'
                SEPA Status - Rejected:
                  $ref: '#/components/examples/SEPA-Ok-Reject-Status'
                SEPA Status - Completed:
                  $ref: '#/components/examples/SEPA-Ok-Completed-Status'
                IN NEFT Status - Completed:
                  $ref: '#/components/examples/In-Neft-Ok-Response'
                IN NEFT Status - Rejected:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Failed'
                SEPA VoP Status - Completed:
                  $ref: '#/components/examples/SEPA-VoP-Ok-Completed-Status'
                SEPA VoP Status - Rejected:
                  $ref: '#/components/examples/SEPA-VoP-Nok-Completed-Status'
                AU Status - Completed:
                  $ref: '#/components/examples/AU-Ok-Completed'
                AU Status - Rejected:
                  $ref: '#/components/examples/AU-Nok-Rejected-status'
                MX DFT Status - Completed:
                  $ref: '#/components/examples/MX-DFT-Status-Single-Get-Response-Completed'
                MX DFT Status - Rejected:
                  $ref: '#/components/examples/MX-DFT-Status-Single-Get-Response-Rejected'
                MX BKT Status - Completed:
                  $ref: '#/components/examples/MX-BKT-Status-Single-Get-Response-Completed'
                MX BKT Status - Rejected:
                  $ref: '#/components/examples/MX-BKT-Status-Single-Get-Response-Rejected'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    servers:
    - url: https://b2b.api.icg.citi.com/citiconnect/prod
      description: production gateway url
    - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
      description: 'sbox url '
  /payments:
    post:
      tags:
      - Payments
      summary: Make a payment
      description: Initiate payments, manage payment consents, retrieve payment status, and perform secure open banking inquiries.
      servers:
      - url: https://b2b.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      operationId: makePayment
      parameters:
      - $ref: '#/components/parameters/Consent-Id'
      - $ref: '#/components/parameters/Request-ID'
      - $ref: '#/components/parameters/PSU-IP-Address'
      - $ref: '#/components/parameters/TPP-Code'
      - $ref: '#/components/parameters/Date'
      requestBody:
        description: Payment instruction payload to initiate a payment.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPostRequest'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPaymentIdResponse'
        '400':
          $ref: '#/components/responses/Bad-Request_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found_2'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed_2'
        '409':
          $ref: '#/components/responses/Conflict_2'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type_2'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error_2'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
      - oAuth:
        - authenticationservices/v1
    servers:
    - url: https://b2b.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      description: production gateway url
    - url: https://sanbox.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      description: sbox url
  /payments/{payment-Id}:
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Get a payment
      description: TPP can call this API from Financial Institutions to retrieve complete details, latest processing state, and status history for a previously submitted payment instruction using the unique payment identifier.
      servers:
      - url: https://b2b.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      parameters:
      - $ref: '#/components/parameters/Consent-Id'
      - $ref: '#/components/parameters/Request-ID'
      - $ref: '#/components/parameters/PSU-IP-Address'
      - $ref: '#/components/parameters/TPP-Code'
      - $ref: '#/components/parameters/Payment-Id'
      - $ref: '#/components/parameters/Date'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalPaymentIdResponse'
        '400':
          $ref: '#/components/responses/Bad-Request_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found_2'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed_2'
        '409':
          $ref: '#/components/responses/Conflict_2'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type_2'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error_2'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
      - oAuth:
        - authenticationservices/v1
    servers:
    - url: https://b2b.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      description: production gateway url
    - url: https://sanbox.tts.icgservices.citi.com/citiconnect/openbanking/ukr/paymentconsentservices/v1
      description: sbox url
components:
  schemas:
    fi_reconfirmation_request:
      properties:
        citi_reference:
          description: This field specifies the Product processor Reference Number for the transaction that needs to be reconfirm/reject. UETR or citi_reference with interbank_settlement_date or instruction_id with interbank_settlement_date is mandatory.
          maxLength: 32
          type: string
          xml:
            name: ClrSysRef
        instruction_id:
          description: This is a unique instrution id that identifies a transaction that needs to be reconfirm/reject. UETR or citi_reference with interbank_settlement_date or instruction_id with interbank_settlement_date is mandatory.
          maxLength: 35
          type: string
          xml:
            name: InstrId
        interbank_settlement_date:
          description: This field specifies the value date (yyyy-MM-dd) of the original transaction that needs to be reconfirm/reject (the date on which funds were credited to the account).
          format: date
          type: string
          xml:
            name: ReqdExctnDt
        reason:
          description: This is the five digits reconfirm/reject code (Example DUPL) which is specified by the  customer to request to reconfirm/reject the transaction
          maxLength: 5
          type: string
          xml:
            name: Rsn
        uetr:
          description: Unique End-to-end Transaction Reference (UETR) relating to a payment has been identified as being associated with a Request for reconfirm/reject. It should follow UUID version 4 format. UETR or citi_reference with interbank_settlement_date or instruction_id with interbank_settlement_date is mandatory.
          type: string
          xml:
            name: UETR
      required:
      - reason
      type: object
      xml:
        name: TransacService
    ErrorDetail:
      properties:
        action:
          description: corrective action to be taken to resolve above issue
          maxLength: 350
          type: string
        issue:
          description: more details about the  issue
          maxLength: 200
          type: string
      type: object
      xml:
        name: error
    error_response:
      properties:
        errors:
          description: Indicates actual error details with issues and corresponding actions to resolve the issue
          items:
            $ref: '#/components/schemas/ErrorDetail'
          xml:
            wrapped: true
        http_code:
          description: Indicates http status code to specify http response status
          format: int32
          pattern: ^[0-9]{3}$
          type: integer
        status:
          description: This field  indicates the status of the reconfirm/reject or cancel/recall request with set of values. for example- FAILED
          maxLength: 6
          type: string
      type: object
    transaction_status_detail:
      properties:
        status:
          description: This field  indicates the status of the reconfirm/reject or cancel/recall request with set of values. for example- ACCP for Accepted or RJCT for Rejected
          maxLength: 4
          type: string
          xml:
            name: TxSts
        type:
          description: This field provides additional information of the transaction when it is rejected/accepted.
          maxLength: 500
          type: string
          xml:
            name: AddtlInf
      type: object
      xml:
        name: TxInfAndSts
    fi_response:
      properties:
        transaction_status:
          $ref: '#/components/schemas/transaction_status_detail'
      type: object
    ErrorDetail_2:
      type: object
      properties:
        issue:
          type: string
          description: More details about the issue.
          maxLength: 200
        action:
          type: string
          description: Corrective action to be taken to resolve above issue.
          maxLength: 350
      xml:
        name: error
    error_response_2:
      type: object
      description: Error response body.
      properties:
        status:
          type: string
          description: This parameter indicates the status of the reconfirm/reject or cancel/recall request with set of values. for example- FAILED.
          maxLength: 6
        http_code:
          type: integer
          description: Indicates http status code to specify http response. status
          format: int32
          pattern: ^[0-9]{3}$
        errors:
          type: array
          description: Indicates actual error details with issues and corresponding actions to resolve the issue.
          items:
            $ref: '#/components/schemas/ErrorDetail_2'
          xml:
            wrapped: true
    transaction_status_detail_2:
      type: object
      properties:
        status:
          type: string
          description: This parameter indicates the status of the cancel/recall request with set of values. for example - ACCP for Accepted or RJCT for Rejected.
          maxLength: 4
        type:
          type: string
          description: This parameter provides additional information of the transaction when it is rejected/accepted.
          maxLength: 500
    fi_cancellation_request:
      type: object
      properties:
        uetr:
          type: string
          format: uuid
          description: Unique End-to-end Transaction Reference (UETR) relating to a payment has been identified as being associated with a Request for Cancellation. It should follow UUID version 4 format. UETR or citi_reference with interbank_settlement_date or end_to_end_id / instruction_id with interbank_settlement_date is mandatory.
          minLength: 1
          maxLength: 32
        citi_reference:
          type: string
          description: This parameter specifies the product processor reference number for the transaction that needs to be cancelled or recalled. UETR or citi_reference with interbank_settlement_date or end_to_end_id / instruction_id with interbank_settlement_date is mandatory.
          maxLength: 32
        end_to_end_id:
          type: string
          description: This is a unique end-to-end reference number that identifies a transaction that needs to be cancelled. UETR or citi_reference with interbank_settlement_date or end_to_end_id / instruction_id with interbank_settlement_date is mandatory.
          maxLength: 16
        instruction_id:
          type: string
          description: This is a unique end-to-end instruction id that identifies a transaction that needs to be cancelled. UETR or citi_reference with interbank_settlement_date or end_to_end_id / instruction_id with interbank_settlement_date is mandatory.
          maxLength: 16
        interbank_settlement_date:
          type: string
          description: This parameter specifies the value date (yyyy-MM-dd) of the original transaction that needs to be cancelled or recalled (the date on which funds were credited to the account).
          format: date
        reason:
          type: string
          description: This is the four digits cancellation code (Example - DUPL) which is specified by the customer to request to cancel the transaction.
          maxLength: 4
        reason_description:
          type: string
          description: Further details on the request reason. Required for CUST and MS03 reason codes applicable to Stop services.
          maxLength: 150
      required:
      - reason
    fi_cancellation_response:
      type: object
      description: Describes the response body in custom JSON format.
      properties:
        transaction_status:
          $ref: '#/components/schemas/transaction_status_detail_2'
    Instructed-Agent-Status:
      type: object
      title: InstructedAgent
      properties:
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Instructed Agent/creditor Agent member Identification ID or BIC of a clearing system. \n - For TH Instant payment instructed_agent.bank_id field is not applicable \n - For US Instant payment instructed_agent.bank_id field is not applicable \n - For IN IMPS Instant payment instructed_agent.bank_id field is not applicable  \n - For UK FPS Instant payment instructed_agent.bank_id field is not applicable \n - For IN UPI Instant payment instructed_agent.bank_id field is not applicable \n - For US Wire, instructed_agent.bank_id is not applicable \n - For US ACH CCD/PPD payment, instructed_agent.bank_id is not applicable \n - For US ACH IAT payment, instructed_agent.bank_id is not applicable \n - For SEPA IDP instructed_agent.bank_id field is mandatory with max length 11 \n - For Japan Instant payment instructed_agent.bank_id field is not applicable \n - For SEPA, instructed_agent.bank_id field is mandatory with max length 11"
          title: bank_id
    Instructing-Agent-Initiation:
      type: object
      title: InstructingAgent
      properties:
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Instructing Agent/Debtor Agent member Identification ID or BIC of a clearing system. \n - For TH Instant payment instructing_agent.bank_id field is not applicable \n - For US Instant payment instructing_agent.bank_id field is not applicable \n - For IN IMPS Instant payment instructing_agent.bank_id field is not applicable  \n - For UK FPS Instant payment instructing_agent.bank_id field is not applicable \n - For IN UPI Instant payment instructing_agent.bank_id field is not applicable \n - For US Wire, instructing_agent.bank_id is not applicable \n - For US ACH CCD/PPD payment, instructing_agent.bank_id is not applicable \n - For US ACH IAT payment, instructing_agent.bank_id is not applicable \n - For SEPA IDP instructing_agent.bank_id field is not applicable \n - For Japan Instant payment instructing_agent.bank_id field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.bank_id field is optional and allowed max length is 11"
          title: bank_id
        bank_name:
          maxLength: 140
          minLength: 1
          type: string
          description: "Instructing Agent name. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.bank_name field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.bank_name field is mandatory, if client provided instructing_agent.bank_id and allowed max length is 100"
          title: bank_name
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: "Instructing Agent street name. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.street_name field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.street_name field is mandatory, if client provided instructing_agent.bank_id and allowed max length is 35"
          title: street_name
        building_number:
          maxLength: 35
          minLength: 1
          type: string
          description: "Instructing Agent building number. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.building_number field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.building_number field is mandatory, if client provided instructing_agent.bank_id and allowed max length is 16"
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: "Instructing Agent postal code. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.postal_code field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.postal_code field is mandatory, if client provided instructing_agent.bank_id"
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: "Instructing Agent city. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.city field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.city field is mandatory, if client provided instructing_agent.bank_id"
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: "Instructing Agent state. \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.state field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.state field is mandatory, if client provided instructing_agent.bank_id"
          title: state
        country:
          type: string
          description: "Instructing Agent country \n - For TH, US, India IMPS, UK FPS, IN UPI, Stripe US - Wire, Stripe US- ACH CCD/PPD/IAT and JP payment instructing_agent.country field is not applicable \n - For India FIR IMPS Instant payment instructing_agent.country field is mandatory, if client provided instructing_agent.bank_id"
          pattern: ^[A-Z]{2,2}$
          title: country
    Method-Status:
      type: object
      title: MethodStatus
      required:
      - country
      - instructed_currency
      - method
      - type
      properties:
        country:
          description: ISO 3166 Alpha-2 code for the transaction country
          type: string
          enum:
          - TH
          - US
          - IN
          - GB
          - JP
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - AU
          - BG
          - MX
          - RS
          - AR
          - HU
          - HK
          - BR
          - BG
          title: country
        instructed_currency:
          type: string
          description: ISO 4217 code for the transaction instructed amount currency
          enum:
          - THB
          - USD
          - INR
          - GBP
          - JPY
          - EUR
          - AUD
          - MXN
          - ARS
          - HUF
          - BRL
          - HKD
          - CNY
          title: instructed_currency
        method:
          description: "Method specified by the debtor for the transaction \n- Provide IP for instant payment \n- For India provide either IMPS or UPI \n - Provide WIRE for US Wire"
          type: string
          enum:
          - IP
          - IMPS
          - UPI
          - WIRE
          - ACH
          - NEFT
          - BKT
          title: method
        type:
          type: string
          description: "Transaction message type (e.g., CT for credit transfer. RF for Refund) \n- BK_CT - Book to Book Credit Transfer \n- BK_RF - Book to Book Return Payment"
          enum:
          - CT
          - RF
          - BK_CT
          - BK_RF
          title: type
        network:
          type: string
          enum:
          - PromptPay
          - RTP
          - FPS
          - IMPS
          - UPI
          - ZENGIN
          - RT1
          - TIPS
          - FDN
          - INNEFT
          - NPP
          - PIX
          - COELSA
          - BOOK
          - GIRO
          description: Financial market infrastructure or clearing system (e.g., RTP Network in the United States)
          title: network
    Payment-Initiation-Request:
      type: object
      title: PaymentInitiationRequest
      required:
      - debtor
      - creditor
      - method
      - transaction
      properties:
        debtor:
          $ref: '#/components/schemas/Debtor-Initiation'
        ultimate_debtor:
          $ref: '#/components/schemas/Ultimate-Debtor-Initiation'
        creditor:
          $ref: '#/components/schemas/Creditor-Initiation'
        ultimate_creditor:
          $ref: '#/components/schemas/Ultimate-Creditor-Initiation'
        intermediary:
          $ref: '#/components/schemas/Intermediary-Initiation'
        instructing_agent:
          $ref: '#/components/schemas/Instructing-Agent-Initiation'
        method:
          $ref: '#/components/schemas/Method-Initiation'
        transaction:
          $ref: '#/components/schemas/Transaction-Initiation'
      additionalProperties: false
      description: "Payment initiation (acceptance) request \n\n For UK FPS payment, only the below set of character supported \n - A to Z (uppercase) \n - a to z (lowercase) \n - 0 to 9 \n -  / (forward slash), - (minus sign), ? (question mark), : (colon), ( (left parenthesis), ) (right parenthesis), . (point), , (comma), ’(right single quote), + (plus sign), SPACE, # (hash), = (equals), ! (exclamation mark), ” (right double quote), % (percentage), & (ampersand), * (asterisk), < (less than), > (greater than), ; (semi colon), { (left curly bracket), @ (commercial at), CrLf (carriage return line feed) \n - Fixed length numeric fields are right justified with leading zeros \n - Fixed length alphanumeric fields are left justified with trailing spaces \n - Fixed length binary fields are left justified with trailing zeros \n - } (right curly bracket) is not supported"
    regulatory-reportings:
      type: object
      title: RegulatoryReportings
      properties:
        code:
          maxLength: 35
          minLength: 1
          type: string
          description: Regulatory Reporting details code
          title: code
        info:
          maxLength: 35
          minLength: 1
          type: string
          description: Regulatory Reporting details information
          title: info
    structured-remittance-info:
      type: object
      title: structured_remittance_info
      properties:
        creditor_reference_information_code:
          maxLength: 35
          minLength: 1
          type: string
          description: "Structured Creditor Reference Information Code \n - For TH Instant payment  transaction.structured_remittance_info.creditor_reference_information_code is not applicable \n - For US Instant payment  transaction.structured_remittance_info.creditor_reference_information_code field is not applicable \n - For IN IMPS  transaction.structured_remittance_info.creditor_reference_information_code is not applicable \n - For UK FPS Instant payment  transaction.structured_remittance_info.creditor_reference_information_code is not applicable \n - For JP Instant payment  transaction.structured_remittance_info.creditor_reference_information_code is not applicable \n - For IN UPI  transaction.structured_remittance_info.creditor_reference_information_code is not applicable \n - For US WIRE, transaction.structured_remittance_info.creditor_reference_information_code field is not applicable \n - For US ACH CCD/PPD/IAT payment, transaction.structured_remittance_info.creditor_reference_information_code field is not applicable \n - For SEPA IDP  transaction.structured_remittance_info.creditor_reference_information_code field is optional with max length 4  \n - For Japan Instant payment transaction.structured_remittance_info.creditor_reference_information_code field is not applicable \n - For SEPA, transaction.structured_remittance_info.creditor_reference_information_code field is conditional mandatory with maxLength is 4"
          title: creditor_reference_information_code
        creditor_reference_issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: "Structured Creditor Reference Issuer \n - For TH Instant payment transaction.structured_remittance_info.creditor_reference_issuer  is not applicable \n - For US Instant payment transaction.structured_remittance_info.creditor_reference_issuer field is not applicable \n - For IN IMPS transaction.structured_remittance_info.creditor_reference_issuer  is not applicable \n - For UK FPS Instant payment transaction.structured_remittance_info.creditor_reference_issuer  is not applicable \n - For JP Instant payment transaction.structured_remittance_info.creditor_reference_issuer  is not applicable \n - For IN UPI transaction.structured_remittance_info.creditor_reference_issuer  is not applicable \n - For US WIRE,transaction.structured_remittance_info.creditor_reference_issuer field is not applicable \n - For US ACH CCD/PPD/IAT payment,transaction.structured_remittance_info.creditor_reference_issuer field is not applicable \n - For SEPA IDP transaction.structured_remittance_info.creditor_reference_issuer field is optional with max length 35 \n - For Japan Instant payment transaction.structured_remittance_info.creditor_reference_issuer field is not applicable \n - For SEPA, transaction.structured_remittance_info.creditor_reference_issuer field is optional field and allowed maxLength is 35"
          title: creditor_reference_issuer
        creditor_reference:
          maxLength: 35
          minLength: 1
          type: string
          description: "Structured Creditor Reference \n - For TH Instant payment transaction.structured_remittance_info.creditor_reference  is not applicable \n - For US Instant payment transaction.structured_remittance_info.creditor_reference  field is not applicable \n - For IN IMPS transaction.structured_remittance_info.creditor_reference  is not applicable \n - For UK FPS Instant payment transaction.structured_remittance_info.creditor_reference  is not applicable \n - For JP Instant payment transaction.structured_remittance_info.creditor_reference  is not applicable \n - For IN UPI transaction.structured_remittance_info.creditor_reference  is not applicable \n - For US WIRE,transaction.structured_remittance_info.creditor_reference  field is not applicable \n - For US ACH CCD/PPD/IAT payment,transaction.structured_remittance_info.creditor_reference  field is not applicable \n - For SEPA IDP transaction.structured_remittance_info.creditor_reference  field is optional with max length 35 \n - For Japan Instant payment transaction.structured_remittance_info.creditor_reference field is not applicable \n - For SEPA, transaction.structured_remittance_info.creditor_reference field is optional and allowed maxLength is 35"
          title: creditor_reference
    Error-Response:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
          xml:
            name: Errordetails
    Method-Initiation:
      type: object
      title: MethodInitiation
      required:
      - country
      - instructed_currency
      - method
      properties:
        country:
          description: ISO 3166 Alpha-2 code for the transaction country
          type: string
          enum:
          - TH
          - US
          - IN
          - GB
          - JP
          - IE
          - DE
          - AT
          - BE
          - FI
          - FR
          - GR
          - IT
          - LU
          - NL
          - PT
          - ES
          - SK
          - AU
          - MX
          - AR
          - BR
          - HK
          - BG
          title: country
        instructed_currency:
          description: ISO 4217 code for the transaction instructed amount currency
          type: string
          enum:
          - THB
          - USD
          - INR
          - GBP
          - JPY
          - EUR
          - AUD
          - MXN
          - ARS
          - BRL
          - HKD
          - CNY
          title: instructed_currency
        method:
          description: "Method specified by the debtor for the transaction \n- Provide IP for instant payment \n- For India provide either IMPS or UPI \n - Provide WIRE for US Wire  payment \n - Provide ACH for US ACH payment \n- Provide NEFT for india NEFT payment"
          type: string
          enum:
          - IP
          - IMPS
          - UPI
          - WIRE
          - ACH
          - NEFT
          - BKT
          title: method
        network:
          type: string
          enum:
          - RTP
          - FDN
          - AUNPP
          description: Financial market infrastructure or clearing system (e.g., RTP Network in the United States)
          title: network
    Ultimate-Debtor-Initiation:
      type: object
      title: UltimateDebtorInitiation
      properties:
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: "Ultimate Debtor's bank account name \n - For SEPA, ultimate_debtor.name is optional and allowed max length is 70 \n - For TH Instant payment ultimate_debtor.name is not applicable \n - For US Instant payment ultimate_debtor.name is optional \n - For IN IMPS ultimate_debtor.name is not applicable \n - For UK FPS Instant payment ultimate_debtor.name is optional with max length 40 \n - For IN UPI ultimate_debtor.name is not applicable \n - For US Wire, ultimate_debtor name is a conditional field with min 1 and max 35 characters. It become mandatory if Ultimate Remitter is being used for POBO. \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.name field is mandatory and allowed max length is 16 \n - For Japan Instant payment ultimate_debtor.name field is optional. It allows zengin characters ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿﾀﾁﾂﾃﾄﾅﾆﾇﾈﾉﾊﾋﾌﾍﾎﾏﾐﾑﾒﾓﾔﾕﾖﾗﾘﾙﾚﾛﾜｦﾝ , upper character alphabets A-Z, numeric characters 0 to 9 and special characters as follows . , () - \n - For TH NRBA Instant remittances payment ultimate_debtor.name is mandatory \n - For India FIR IMPS payment, ultimate_debtor.name is mandatory with max length 50"
          title: name
        scheme_name:
          maxLength: 128
          minLength: 1
          type: string
          description: "Ultimate debtor's scheme name \n - For TH, US,IN IMPS,UK FPS,IN UPI,US Wire,US ACH CCD/PPD/IAT,Japan Payments ultimate_debtor.scheme_name is not applicable \n - For SEPA, ultimate_debtor.scheme_name field is optional with max length as 35"
          title: scheme_name
        address_lines:
          type: array
          description: "Ultimate Debtor's address_lines \n - For SEPA, ultimate_debtor.address_lines field is optional with maximum of 2 lines allowed and upto 70 chars each line \n - For TH Instant payment ultimate_debtor.address_lines is not applicable \n - For US Instant payment ultimate_debtor.address_lines is optional \n - For IN IMPS ultimate_debtor.address_lines is not applicable \n - For UK FPS Instant payment ultimate_debtor.address_lines is optional with max 4 instances allowed and each line max length 35 \n - For IN UPI ultimate_debtor.address_lines is not applicable \n - For US Wire payment, ultimate_debtor.address_lines field is conditional and upto 3 lines of min 1 and max 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. It become mandatory if Ultimate Remitter is being used for POBO \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.address_lines is mandatory when structured address lines fields are not provided and allowed three instance with each line max length of 35, Address Line 1 should have Building info followed by asterik, Street Address ends with a single backslash \n Address Line 2 and then application to check  Address Line2 should have City followed by asterik, State ends with a single backslash Address Line 3 should have Zip Code followed by asterik, Country Code ends with a single backslash For example Zip code*US\\ \n - For Japan Instant payment ultimate_debtor.address_lines is optional with max 7 instances allowed and each line max length 70 \n - For India FIR IMPS payment ultimate_debtor.address_lines is optional"
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: "Ultimate Debtor's street_name \n - For SEPA, ultimate_debtor.street_name field is not applicable \n - For TH Instant payment ultimate_debtor.street_name is not applicable \n - For US Instant payment ultimate_debtor.street_name is optional \n - For IN IMPS ultimate_debtor.street_name is not applicable \n - For UK FPS Instant payment ultimate_debtor.street_name is optional with max length 70 \n - For IN UPI ultimate_debtor.street_name is not applicable \n - For US Wire ultimate_debtor.street_name is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.street_name is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 18 \n - For Japan Instant payment ultimate_debtor.street_name field is optional \n - For India FIR IMPS payment, ultimate_debtor.street_name field is mandatory with max length 35"
          title: street_name
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's bank identification \n - For TH , US, IN IMPS, UK FPS, IN UPI, US Wire, SEPA, US ACH CCD/PPD/IAT and JP payment ultimate_debtor.bank_id is not applicable \n - For India FIR IMPS payment, ultimate_debtor.bank_id field is mandatory with max length 11"
          title: bank_id
        building_number:
          maxLength: 16
          minLength: 1
          type: string
          description: "Ultimate Debtor's building_number \n - For SEPA, TH Instant payment ultimate_debtor.building_number is not applicable \n - For US Instant payment ultimate_debtor.building_number field is optional \n - For IN IMPS ultimate_debtor.building_number is not applicable \n - For UK FPS Instant payment ultimate_debtor.building_number is optional with max length 16 \n - For IN UPI ultimate_debtor.building_number is not applicable \n - For US Wire ultimate_debtor.building_number is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.building_number is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 16  \n - For Japan Instant payment ultimate_debtor.building_number field is optional \n - For India FIR IMPS payment, ultimate_debtor.building_number field is mandatory with max length 16"
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: "Ultimate Debtor's postal_code \n - For SEPA, TH Instant payment ultimate_debtor.postal_code is not applicable \n - For US Instant payment ultimate_debtor.postal_code field is optional \n - For IN IMPS ultimate_debtor.postal_code is not applicable \n - For UK FPS Instant payment ultimate_debtor.postal_code is optional with max length 16 \n - For IN UPI ultimate_debtor.postal_code is not applicable \n - For US Wire ultimate_debtor.postal_code is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.postal_code is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 16 \n - For Japan Instant payment ultimate_debtor.postal_code field is optional \n - For India FIR IMPS payment, ultimate_debtor.postal_code field is mandatory"
          title: postal_code
        town_name:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's town name \n - For TH, SEPA, US, IN IMPS, UK FPS, IN UPI, US Wire, US ACH, JP payments ultimate_debtor.town_name is not applicable \n - For TH NRBA Instant remittances payment ultimate_debtor.town_name field is mandatory, if client provided ultimate_debtor.country field"
          title: town_name
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's city \n - For SEPA, TH Instant payment ultimate_debtor.city is not applicable \n - For US Instant payment ultimate_debtor.city field is optional \n - For IN IMPS ultimate_debtor.city is not applicable \n - For UK FPS Instant payment ultimate_debtor.city is optional with max length 35 \n - For IN UPI ultimate_debtor.city is not applicable \n - For US Wire ultimate_debtor.city is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.city is is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 32 \n - For Japan Instant payment ultimate_debtor.city field is optional \n - For India FIR IMPS payment, ultimate_debtor.city field is mandatory"
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's state \n - For SEPA, TH Instant payment ultimate_debtor.state is not applicable \n - For US Instant payment ultimate_debtor.state field is optional \n - For IN IMPS ultimate_debtor.state is not applicable \n - For UK FPS Instant payment ultimate_debtor.state is optional with max length 35  \n - For IN UPI ultimate_debtor.state is not applicable \n - For US Wire ultimate_debtor.state is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.state is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 2  \n - For Japan Instant payment ultimate_debtor.state field is optional \n - For India FIR IMPS payment, ultimate_debtor.state field is optional"
          title: state
        country:
          type: string
          description: "Ultimate Debtor's country \n - For TH Instant payment ultimate_debtor.country is not applicable \n - For US Instant payment ultimate_debtor.country field is optional \n - For IN IMPS ultimate_debtor.country is not applicable \n - For UK FPS Instant payment ultimate_debtor.country is conditional and becomes mandatory if ultimate_debtor.name is provided \n - For IN UPI ultimate_debtor.country is not applicable \n - For US Wire ultimate_debtor.country is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.country is mandatory if ultimate_debtor.address_lines is not provided and allowed max length is 2 \n - For TH NRBA Instant remittances payment ultimate_debtor.country field is mandatory, if client provided ultimate_debtor.town_name field \n - For India FIR IMPS payment, ultimate_debtor.country field is mandatory \n - For SEPA payment, ultimate_debtor.country field is conditional and becomes mandatory if ultimate_debtor.name is provided"
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's org_id \n - For TH Instant payment ultimate_debtor.org_id is not applicable \n - For US Instant payment ultimate_debtor.org_id field is optional with max length 20.Pattern should be followed [A-Z0-9]{18,18}[0-9]{2,2} where first 18 characters can be uppercase or numbers and the last two characters must be numeric \n - For IN IMPS ultimate_debtor.org_id is not applicable \n - For UK FPS Instant payment ultimate_debtor.org_id is optional with max length 35 \n - For IN UPI ultimate_debtor.org_id is not applicable \n - For US Wire, ultimate_debtor.org_id is conditionally optional field with max length 34. It become mandatory if POBO is being used. It is present only if prvt_id is not present \n - For US ACH CCD/PPD payment, ultimate_debtor.org_id field is mandatory and applicable value is Organisation TXID or CUST Identification values and value should prefix with /TXID/ or /CUST/, if ultimate_debtor.prvt_id field is not provided by client and allowed value max length is 10 without prefix (/TXID/ or /CUST/) \n - For US ACH IAT payment, ultimate_debtor.org_id is mandatory if ultimate_debtor.prvt_id is not provided and allowed max length is 10 \n - For Japan Instant payment ultimate_debtor.org_id field is optional \n - For India FIR IMPS payment, ultimate_debtor.org_id field is mandatory \n - For SEPA, ultimate_debtor.org_id field is conditional optional with either ultimate_debtor.org_id or ultimate_debtor.prvt_id or combination of ultimate_debtor.brith_date/birth_city/birth_country should be populated"
          title: org_id
        birth_date:
          type: string
          format: date
          description: "ISO 8601 (YYYY-MM-DD), ultimate debtor's birth date \n - For TH Instant payment ultimate_debtor.birth_date is not applicable \n - For US Instant payment ultimate_debtor.birth_date field is optional \n - For IN IMPS ultimate_debtor.birth_date is not applicable \n - For UK FPS Instant payment ultimate_debtor.birth_date field is optional \n - For IN UPI ultimate_debtor.birth_date is not applicable \n - For US Wire ultimate_debtor.birth_date is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_date is not applicable \n - For Japan Instant payment ultimate_debtor.birth_date field is not applicable \n - For SEPA, ultimate_debtor.birth_date field is conditional mandatory with date on which the person is born"
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate debtor's birth city \n - For TH Instant payment ultimate_debtor.birth_city is not applicable \n - For US Instant payment ultimate_debtor.birth_city field is optional \n - For IN IMPS ultimate_debtor.birth_city is not applicable \n - For UK FPS Instant payment ultimate_debtor.birth_city is optional with max length 35  \n - For IN UPI ultimate_debtor.birth_city is not applicable \n - For US Wire ultimate_debtor.birth_city is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_city is not applicable \n - For Japan Instant payment ultimate_debtor.birth_city field is not applicable \n - For SEPA, ultimate_debtor.birth_city field is conditional mandatory with city in which the person is born"
          title: birth_city
        birth_country:
          type: string
          description: "Ultimate debtor's birth country \n - For TH Instant payment ultimate_debtor.birth_country is not applicable \n - For US Instant payment ultimate_debtor.birth_country field is optional \n - For IN IMPS  ultimate_debtor.birth_country is not applicable \n - For UK FPS Instant payment ultimate_debtor.birth_country is optional with max length 2 \n - For IN UPI ultimate_debtor.birth_country is not applicable \n - For US Wire ultimate_debtor.birth_country is not applicable \n - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_country is not applicable \n - For Japan Instant payment ultimate_debtor.birth_country field is not applicable \n - For SEPA, ultimate_debtor.birth_country field is conditional mandatory with country in which the person is born"
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        birth_province:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor  Province Of Birth \n - For TH Instant payment ultimate_debtor.birth_province is not applicable \n - For US Instant payment ultimate_debtor.birth_province is not applicable \n - For IN IMPS ultimate_debtor.birth_province is not applicable \n - For UK FPS Instant payment ultimate_debtor.birth_province is not applicable \n - For IN UPI ultimate_debtor.birth_province is not applicable \n - For US Wire, ultimate_debtor.birth_province is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.birth_province is not applicable \n - For US ACH IAT payment, ultimate_debtor.birth_province is not applicable \n - For US ACH IAT payment, ultimate_debtor.birth_province is not applicable \n- For SEPA IDP, ultimate_debtor.birth_province is optional with max length 35 \n - For Japan Instant payment ultimate_debtor.birth_province field is not applicable \n- For SEPA, ultimate_debtor.birth_province is optional with max length 35"
          title: birth_province
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: "Ultimate Debtor's private id \n - For TH Instant payment ultimate_debtor.prvt_id is not applicable \n - For US Instant payment ultimate_debtor.prvt_id field is optional with max length 35.Either org_id or prvt_id or none of them should be passed by client \n - For IN IMPS ultimate_debtor.prvt_id is not applicable \n - For UK FPS Instant payment ultimate_debtor.prvt_id is not applicable \n - For IN UPI ultimate_debtor.prvt_id is not applicable \n - For US Wire, ultimate_debtor.prvt_id is conditionally optional field with max length 34. It become mandatory if POBO is being used. It is present only if org_id is not present \n - For US ACH CCD/PPD payment, ultimate_debtor.prvt_id field is mandatory and applicable value is Organisation TXID or CUST Identification  values and value should prefix with /TXID/ or /CUST/, if ultimate_debtor.org_id field is not provided by client and allowed max length is 10 \n - For US ACH IAT payment, ultimate_debtor.prvt_id is mandatory if ultimate_debtor.org_id is not provided and allowed max length is 10 \n - For Japan Instant payment ultimate_debtor.prvt_id field is not applicable \n - For SEPA, ultimate_debtor.prvt_id field is conditional optional with either ultimate_debtor.org_id or ultimate_debtor.prvt_id or combination of ultimate_debtor.birth_date/birth_city/birth_country should be populated"
          title: prvt_id
        department:
          maxLength: 70
          minLength: 1
          type: string
          description: "ultimate debtor's Department \n - For TH Instant payment ultimate_debtor.department is not applicable \n - For US Instant payment ultimate_debtor.department is not applicable \n - For IN IMPS ultimate_debtor.department is not applicable \n - For UK FPS Instant payment ultimate_debtor.department is not applicable \n - For IN UPI ultimate_debtor.department is not applicable \n - For US Wire, ultimate_debtor.department is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.department is not applicable \n - For US ACH IAT payment, ultimate_debtor.department is not applicable \n - For US ACH IAT payment, ultimate_debtor.department is not applicable \n- For SEPA IDP, ultimate_debtor.department is optional with max length 70 \n - For Japan Instant payment ultimate_debtor.department field is not applicable \n- For SEPA, ultimate_debtor.department is optional with max length 70"
          title: department
        sub_department:
          maxLength: 70
          minLength: 1
          type: string
          description: "ultimate debtor's Sub-Department \n - For TH Instant payment ultimate_debtor.sub_department is not applicable \n - For US Instant payment ultimate_debtor.sub_department is not applicable \n - For IN IMPS ultimate_debtor.sub_department is not applicable \n - For UK FPS Instant payment ultimate_debtor.sub_department is not applicable \n - For IN UPI ultimate_debtor.sub_department is not applicable \n - For US Wire, ultimate_debtor.sub_department is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.sub_department is not applicable \n - For US ACH IAT payment, ultimate_debtor.sub_department is not applicable \n - For US ACH IAT payment, ultimate_debtor.sub_department is not applicable \n- For SEPA IDP, ultimate_debtor.sub_department is optional with max length 70 \n - For Japan Instant payment ultimate_debtor.sub_department field is not applicable \n- For SEPA, ultimate_debtor.sub_department is optional with max length 70"
          title: sub_department
        building_name:
          maxLength: 35
          minLength: 1
          type: string
          description: "ultimate debtor's building name \n - For TH Instant payment ultimate_debtor.building_name is not applicable \n - For US Instant payment ultimate_debtor.building_name is not applicable \n - For IN IMPS ultimate_debtor.building_name is not applicable \n - For UK FPS Instant payment ultimate_debtor.building_name is not applicable \n - For IN UPI ultimate_debtor.building_name is not applicable \n - For US Wire, ultimate_debtor.building_name is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.building_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.building_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.building_name is not applicable \n- For SEPA IDP, ultimate_debtor.building_name is optional with max length 35 \n - For Japan Instant payment ultimate_debtor.building_name field is not applicable \n- For SEPA, ultimate_debtor.building_name is optional with max length 35"
          title: building_name
        floor:
          maxLength: 70
          minLength: 1
          type: string
          description: "ultimate debtor's address floor \n - For TH Instant payment ultimate_debtor.floor is not applicable \n - For US Instant payment ultimate_debtor.floor is not applicable \n - For IN IMPS ultimate_debtor.floor is not applicable \n - For UK FPS Instant payment ultimate_debtor.floor is not applicable \n - For IN UPI ultimate_debtor.floor is not applicable \n - For US Wire, ultimate_debtor.floor is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.floor is not applicable \n - For US ACH IAT payment, ultimate_debtor.floor is not applicable \n - For US ACH IAT payment, ultimate_debtor.floor is not applicable \n- For SEPA IDP, ultimate_debtor.floor is optional with max length 70 \n - For Japan Instant payment ultimate_debtor.floor field is not applicable \n- For SEPA, ultimate_debtor.floor is optional with max length 70"
          title: floor
        post_box:
          maxLength: 16
          minLength: 1
          type: string
          description: "ultimate debtor's address post box \n - For TH Instant payment ultimate_debtor.post_box is not applicable \n - For US Instant payment ultimate_debtor.post_box is not applicable \n - For IN IMPS ultimate_debtor.post_box is not applicable \n - For UK FPS Instant payment ultimate_debtor.post_box is not applicable \n - For IN UPI ultimate_debtor.post_box is not applicable \n - For US Wire, ultimate_debtor.post_box is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.post_box is not applicable \n - For US ACH IAT payment, ultimate_debtor.post_box is not applicable \n - For US ACH IAT payment, ultimate_debtor.post_box is not applicable \n- For SEPA IDP, ultimate_debtor.post_box is optional with max length 16 \n - For Japan Instant payment ultimate_debtor.post_box field is not applicable \n- For SEPA, ultimate_debtor.post_box is optional with max length 16"
          title: post_box
        room:
          maxLength: 70
          minLength: 1
          type: string
          description: "ultimate debtor's address room \n - For TH Instant payment ultimate_debtor.room is not applicable \n - For US Instant payment ultimate_debtor.room is not applicable \n - For IN IMPS ultimate_debtor.room is not applicable \n - For UK FPS Instant payment ultimate_debtor.room is not applicable \n - For IN UPI ultimate_debtor.room is not applicable \n - For US Wire, ultimate_debtor.room is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.room is not applicable \n - For US ACH IAT payment, ultimate_debtor.room is not applicable \n - For US ACH IAT payment, ultimate_debtor.room is not applicable \n- For SEPA IDP, ultimate_debtor.room is optional with max length 70 \n - For Japan Instant payment ultimate_debtor.room field is not applicable \n- For SEPA, ultimate_debtor.room is optional with max length 70"
          title: room
        town_location_name:
          maxLength: 35
          minLength: 1
          type: string
          description: "ultimate_debtor address town location name \n - For TH Instant payment ultimate_debtor.town_location_name is not applicable \n - For US Instant payment ultimate_debtor.town_location_name is not applicable \n - For IN IMPS ultimate_debtor.town_location_name is not applicable \n - For UK FPS Instant payment ultimate_debtor.town_location_name is not applicable \n - For IN UPI ultimate_debtor.town_location_name is not applicable \n - For US Wire, ultimate_debtor.town_location_name is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.town_location_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.town_location_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.town_location_name is not applicable \n- For SEPA IDP, ultimate_debtor.town_location_name is optional with max length 35 \n - For Japan Instant payment ultimate_debtor.town_location_name field is not applicable \n- For SEPA, ultimate_debtor.town_location_name is optional with max length 35"
          title: town_location_name
        district_name:
          maxLength: 35
          minLength: 1
          type: string
          description: "ultimate debtor's address district_name \n - For TH Instant payment ultimate_debtor.district_name is not applicable \n - For US Instant payment ultimate_debtor.district_name is not applicable \n - For IN IMPS ultimate_debtor.district_name is not applicable \n - For UK FPS Instant payment ultimate_debtor.district_name is not applicable \n - For IN UPI ultimate_debtor.district_name is not applicable \n - For US Wire, ultimate_debtor.district_name is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.district_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.district_name is not applicable \n - For US ACH IAT payment, ultimate_debtor.district_name is not applicable \n- For SEPA IDP, ultimate_debtor.district_name is optional with max length 35 \n - For Japan Instant payment ultimate_debtor.district_name field is not applicable \n- For SEPA, ultimate_debtor.district_name is optional with max length 35"
          title: district_name
        anybic:
          maxLength: 35
          minLength: 1
          type: string
          description: "ultimate debtor's BIC \n - For TH Instant payment ultimate_debtor.anybic is not applicable \n - For US Instant payment ultimate_debtor.anybic is not applicable \n - For IN IMPS ultimate_debtor.anybic is not applicable \n - For UK FPS Instant payment ultimate_debtor.anybic is not applicable \n - For IN UPI ultimate_debtor.anybic is not applicable \n - For US Wire, ultimate_debtor.anybic is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.anybic is not applicable \n - For US ACH IAT payment, ultimate_debtor.anybic is not applicable \n - For US ACH IAT payment, ultimate_debtor.anybic is not applicable \n- For SEPA IDP, ultimate_debtor.anybic is optional with max length 11 \n - For Japan Instant payment ultimate_debtor.anybic field is not applicable \n- For SEPA, ultimate_debtor.anybic is optional with max length 11"
          title: anybic
        lei:
          maxLength: 35
          minLength: 1
          type: string
          description: "Unique global identifier for legal entities participating in financial transactions \n - For TH Instant payment ultimate_debtor.lei is not applicable \n - For US Instant payment ultimate_debtor.lei is not applicable \n - For IN IMPS ultimate_debtor.lei is not applicable \n - For UK FPS Instant payment ultimate_debtor.lei is not applicable \n - For IN UPI ultimate_debtor.lei is not applicable \n - For US Wire, ultimate_debtor.lei is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.lei is not applicable \n - For US ACH IAT payment, ultimate_debtor.lei is not applicable \n - For US ACH IAT payment, ultimate_debtor.lei is not applicable \n- For SEPA IDP, ultimate_debtor.lei is optional with max length 20 \n - For Japan Instant payment ultimate_debtor.lei field is not applicable \n- For SEPA, ultimate_debtor.lei is optional with max length 20"
          title: lei
        issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: "ultimate debtor's name that identifies an issuer \n - For TH Instant payment ultimate_debtor.issuer is not applicable \n - For US Instant payment ultimate_debtor.issuer is not applicable \n - For IN IMPS ultimate_debtor.issuer is not applicable \n - For UK FPS Instant payment ultimate_debtor.issuer is not applicable \n - For IN UPI ultimate_debtor.issuer is not applicable \n - For US Wire, ultimate_debtor.issuer is not applicable \n - For US ACH CCD/PPD payment, ultimate_debtor.issuer is not applicable \n - For US ACH IAT payment, ultimate_debtor.issuer is not applicable \n - For US ACH IAT payment, ultimate_debtor.issuer is not applicable \n- For SEPA IDP, ultimate_debtor.issuer is optional with max length 35 \n - For Japan Instant payment ultimate_debtor.issuer field is not applicable \n- For SEPA, ultimate_debtor.issuer is optional with max length 35"
          title: issuer
      additionalProperties: false
      description: Ultimate Debtor information
    Debtor-Initiation:
      type: object
      title: DebtorInitiation
      required:
      - account
      properties:
        proxy_id:
          maxLength: 255
          minLength: 1
          type: string
          description: "Debtor's proxy identification (e.g., email address) \n - For TH Instant payment debtor.proxy_id is optional \n - For US Instant payment debtor.proxy_id is not applicable \n - For IN IMPS debtor.proxy_id is not applicable \n - For UK FPS Instant payment debtor.proxy_id is not applicable \n - For IN UPI Instant payment debtor.proxy_id is mandatory, applicable value VPA ID \n - For US Wire payment, debtor.proxy_id field is not applicable \n - For US ACH CCD/PPD/IAT payment, debtor.proxy_id field is not applicable \n - For Japan Instant payment, debtor.proxy_id field is not applicable \n - For SEPA, debtor.proxy_id is optional"
          title: proxy_id
        proxy_type:
          type: string
          enum:
          - BIID
          - EMAL
          - EWAL
          - MBNO
          - NIDN
          description: "Debtor's proxy type (BIID for bill identification, EMAL for email address, EWAL for electronic wallet identification, MBNO for mobile number and NIDN for national identification)\n - For TH Instant payment debtor.proxy_type is optional \n - For US Instant payment debtor.proxy_type is not applicable \n - For IN IMPS debtor.proxy_type is not applicable \n - For UK FPS Instant payment debtor.proxy_type is not applicable \n - For IN UPI Instant payment debtor.proxy_type is not applicable \n - For US Wire payment, proxy_type field is not applicable \n - For US ACH CCD/PPD/IAT payment, debtor.proxy_type field is not applicable \n - For Japan Instant payment, debtor.proxy_type field is not applicable \n - For SEPA, debtor.proxy_type field is optional"
          title: proxy_type
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: "Debtor's bank account  \n - For IN IMPS, debtor.account max length is 34 \n - For UK FPS Instant payment debtor.account field allowed max length is 34 and either account number or IBAN/BBAN number can be passed \n - For IN UPI Instant payment debtor.account field allowed max length is 34 \n- For US Instant payment, debtor.account is a mandatory field with max length 34 and allowed value is Virtual account number and DDA. \n - For US Wire payment, debtor.account is a mandatory field with max length 17 and allowed value is Virtual account number. \n - For US ACH CCD/PPD payment, debtor.account is a mandatory field with max length 17 and allowed value is Virtual account number. \n - For US ACH IAT payment, debtor.account is a mandatory field with max length 17 and allowed value is Virtual account number. \n - For Japan Instant payment debtor.account field is mandatory and allowed max length is 34 \n - For SEPA, debtor.account is mandatory and allowed max length is 34"
          title: account
        name:
          maxLength: 140
          minLength: 1
          type: string
[...]
