openapi: 3.0.2
info:
  title: CCAPI Payments(JSON)
  description: |
    Update - March 31, 2026
  version: 1.0.0
servers:
  - url: https://b2b.api.icg.citi.com/citiconnect/prod
    description: production gateway url
  - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
    description: 'sbox url '
tags:
  - name: Validations API
    description: API services to support beneficiary/bank validation initiation
  - name: Request for Information API
    description: API services to support Request for Information
  - name: Response to Request for Information API
    description: API services to support Response to Request for Information
paths:
  /addonservices/v1/validations:
    post:
      tags:
        - Validations API
      summary: Validating the beneficiary/bank details
      description: >-
        This endpoint allows you to validate beneficiary/bank details with the
        use of combination of parameters
      operationId: expressBeneficiaryValidation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb606de4edb9a7a123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: >-
          This endpoint allows you to validate beneficiary/bank details with the
          use of combination of parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Validation-Request'
            examples:
              UK Bank Availability Validation:
                $ref: '#/components/examples/UK-Bank-Availability-Validation-Request'
              UK Bank Reachability Validation:
                $ref: '#/components/examples/UK-Bank-Reachability-Validation-Request'
              UK Beneficiary Validation:
                $ref: '#/components/examples/UK-Beneficiary-Validation-Request'
              SEPA VoP Beneficiary Validation:
                $ref: '#/components/examples/SEPA-VoP-Validation-Request'
              US EWS Beneficiary Validation:
                $ref: '#/components/examples/US-EWS-Beneficiary-Validation-Request'
              IN PAN Validation:
                $ref: '#/components/examples/IN-PAN-Validation-Request'
              Card Validation:
                $ref: '#/components/examples/Card-Validation-Request'
              IN AADHAR Validation:
                $ref: '#/components/examples/IN-PAN-Validation-Request'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validation-Response'
              examples:
                UK Bank Availability Success Response:
                  $ref: '#/components/examples/UK-Bank-Availability-Success-Response'
                UK Bank Availability Reject Response:
                  $ref: '#/components/examples/UK-Bank-Availability-Reject-Response'
                UK Bank Reachability Success Response:
                  $ref: '#/components/examples/UK-Bank-Reachability-Success-Response'
                UK Bank Reachability Reject Response:
                  $ref: '#/components/examples/UK-Bank-Reachability-Reject-Response'
                UK Final Beneficiary Validation Positive Response:
                  $ref: >-
                    #/components/examples/UK-Final-Beneficiary-Validation-Positive-Response
                UK Final Beneficiary Validation Negative Response:
                  $ref: >-
                    #/components/examples/UK-Final-Beneficiary-Validation-Negative-Response
                SEPA VoP Validation Success Response:
                  $ref: '#/components/examples/SEPA-VoP-Validation-Success-Response'
                SEPA VoP Validation Reject Response:
                  $ref: '#/components/examples/SEPA-VoP-Validation-Reject-Response'
                US EWS Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/US-EWS-Final-Beneficiary-Validation-Response
                IN PAN Final Validation Response:
                  $ref: '#/components/examples/IN-PAN-Final-Validation-Response'
                IN AADHAR Validation:
                  $ref: '#/components/examples/IN-AADHAR-Final-Validation-Response'
                Card validation Success Response:
                  $ref: '#/components/examples/Card-Validation-Success-Response'
                Card validation Currency Reject Response:
                  $ref: >-
                    #/components/examples/Card-Validation-Currency-Reject-Response
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /addonservices/v1/requestforinformations/{id}:
    get:
      tags:
        - Request for Information API
      summary: Inquire of Request for Information.
      description: This endpoint allows you to get Request for Information.
      operationId: findRequestForInformationByRfiId
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: id
          in: path
          required: true
          schema:
            type: string
            maxLength: 100
          example: RFI-36345954-RFICSAWCNAM1
          description: >-
            Your unique identification for a request for information, same as
            rfi_id.
      security:
        - clientCredentials: []
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request-For-Information'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /addonservices/v1/responsetorequestforinformations:
    post:
      tags:
        - Response to Request for Information API
      summary: Initiate Response to Request for Information
      description: This endpoint allows you to send Response to Request for Information
      operationId: responseToRequestForInformation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb606de4edb9a7a123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: This endpoint allows you to Response to Request for Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Response-To-Request-For-Information'
      security:
        - clientCredentials: []
      callbacks:
        Request-For-Information-Notification:
          $ref: '#/components/callbacks/Request-For-Information-Notification'
        Request-For-Information-Closure-Notification:
          $ref: '#/components/callbacks/Request-For-Information-Closure-Notification'
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Initial-Response-To-Request-For-Information
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /addonservices/v1/responsetorequestforinformations/{id}:
    get:
      tags:
        - Response to Request for Information API
      summary: Inquire of Response to Request for Information.
      description: This endpoint allows you to get Response to Request for Information.
      operationId: findResponseToRequestForInformationByRfiId
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: id
          in: path
          required: true
          schema:
            type: string
            maxLength: 100
          example: RFI-36345954-RFICSAWCNAM1
          description: >-
            Your unique identification for a request for information, same as
            rfi_id.
      security:
        - clientCredentials: []
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response-To-Request-For-Information'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
components:
  parameters:
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Event-Name:
      name: Event-Name
      in: header
      required: true
      description: Event Name
      schema:
        type: string
  schemas:
    Error-Response:
      type: object
      title: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
    Error-Detail:
      type: object
      title: ErrorDetail
      properties:
        issue:
          type: string
          maxLength: 200
          description: more details about the issue
          title: issue
        action:
          type: string
          maxLength: 350
          description: corrective action to be taken to resolve above issue
          title: action
        code:
          type: string
          maxLength: 8
          description: unique code representing the issue
          title: code
    Validation-Request:
      type: object
      title: ValidationRequest
      required:
        - method
      properties:
        uetr:
          type: string
          pattern: >-
            ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        end_to_end_id:
          type: string
          description: |-
            Client provided reference number. 
             - For Single Euro Payments Area Verification of Payee (SEPA VoP), this parameter is mandatory with max length 35 if method.penny_test = PENNY 
             - For UK bank availability/reachability, this parameter is not applicable 
             - For US Early Warning System (EWS), this parameter is not applicable 
             - For UK, this parameter is not applicable 
             - For IN PAN, this parameter is not applicable 
             - For Global Mastercard Validation this parameter is not applicable
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        debtor:
          type: object
          title: debtor_request
          properties:
            account:
              type: string
              description: >-
                Bank account held with CITI 
                 - For UK bank availability/reachability, this parameter is mandatory and max length is 40 
                 - For US EWS, this parameter is mandatory and max length is 40 
                 - For UK, this parameter is mandatory and max length is 40 
                 - For IN PAN, this parameter is mandatory and max length is 40 
                - For SEPA VoP, this parameter is mandatory and max length is
                40 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: account
            name:
              type: string
              description: |-
                Debtor Account Name.
                 - For UK bank availability/reachability, this parameter is optional and max length is 140 
                 - For US EWS, this parameter is optional and max length is 140 
                 - For UK, this parameter is optional and max length is 140 
                 - For IN PAN, this parameter is optional and max length is 140 
                 - For Global Mastercard Validation this parameter is not applicable 
                 - For SEPA VoP, this parameter is optional and max length is 140
              minLength: 1
              maxLength: 140
              title: name
            id:
              type: string
              description: |-
                Debtor ID  
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is not applicable
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is Mandatory and max length is 40 and for Global Mastercard Validation CCAPI will pass the world link client id under the id parameter
              minLength: 1
              maxLength: 40
              title: id
        creditor:
          type: object
          title: creditor_request
          properties:
            bank_id:
              type: string
              description: |-
                Receiving Financial Institution BIC.
                 - For UK bank availability/reachability, this parameter is conditional and the condition is if method.method= NC, SORTCODE, BIC then this parameter should be present. If method.method = NC/SORTCODE, then length should be exactly 6. If method.method = BIC, then length should be 8 or 11  
                 - For US EWS, this parameter is mandatory and length should be 9 if routing/clearing code is populated 
                 - For UK, this parameter is mandatory and length should be exactly 6 or 8 or 11 characters 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 35
              title: bank_id
            iban:
              type: string
              description: |-
                Creditor IBAN number  
                 - For UK bank availability/reachability, this parameter is conditional with max length 22.Condition is if method.method= IBAN then this parameter should be present 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 22.Condition is if method.method= IBAN then this parameter should be present.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is mandatory and max length is 40 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: iban
            account:
              type: string
              description: |-
                Creditor Account Number. 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is conditional and max length is 17.Condition is if method.method= BANKACCOUNT then this parameter should be present 
                 - For UK, this parameter is conditional and max length is 17.Condition is if method.method= BANKACCOUNT then this parameter should be present.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: account
            name:
              type: string
              description: |-
                Creditor Account Name. 
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces 
                 - For UK, this parameter is mandatory and max length is 140. Please provide first middle(if any) last name in this sequence with spaces 
                 - For IN PAN, this parameter is mandatory and max length is 85. Please provide first middle(if any) last name in this sequence with spaces 
                 - For Global Mastercard Validation this parameter is not applicable 
                 - For SEPA VoP, this parameter is mandatory and max length is 70. Please provide first middle(if any) last name in this sequence with spaces
              minLength: 1
              maxLength: 140
              title: name
            father_name:
              type: string
              description: |-
                Creditor' Father's Name 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is not applicable 
                 - For IN PAN, this parameter is optional and max length is 75. Please provide first middle(if any) last name in this sequence with spaces 
                 - For Global Mastercard Validation this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable
              minLength: 1
              maxLength: 140
              title: father_name
            proxy_id:
              type: string
              description: |-
                Creditor Proxy ID  
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 255
              title: proxy_id
            wallet:
              type: string
              description: |-
                Creditor wallet details 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: wallet
            address_lines:
              type: array
              description: |-
                Creditor's address lines 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional and allowed 2 lines with each line max length of 40 
                 - For UK, this parameter is optional and allowed 2 lines with each line max length of 40 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              items:
                $ref: '#/components/schemas/Address'
              title: address_lines
            street_name:
              maxLength: 70
              minLength: 1
              type: string
              description: |-
                Creditor's street_name 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is optional with max length 70 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              title: street_name
            building_number:
              maxLength: 16
              minLength: 1
              type: string
              description: |-
                Creditor's building_number 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is optional with max length 16 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              title: building_number
            postal_code:
              maxLength: 16
              minLength: 1
              type: string
              description: |-
                Creditor's postal_code 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 16 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard validation, this parameter is not applicable
              title: postal_code
            city:
              maxLength: 35
              minLength: 1
              type: string
              description: |-
                Creditor's city 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 25 
                 - For UK, this parameter is optional with max length 35 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              title: city
            state:
              maxLength: 35
              minLength: 1
              type: string
              description: |-
                Creditor's state 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 2 
                 - For UK, this parameter is optional with max length 35 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: state
            country:
              type: string
              description: |-
                Creditor's country  
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is optional with max length 2 
                 - For UK, this parameter is optional with max length 2 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              pattern: ^[A-Z]{2,2}$
              title: country
            birth_date:
              type: string
              format: date
              description: |-
                ISO 8601 (YYYY-MM-DD), Creditor's birth date 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional 
                 - For UK, this parameter is optional 
                 - For IN PAN, this parameter is mandatory 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: birth_date
            home_phone_number:
              maxLength: 34
              minLength: 6
              type: string
              description: |-
                Creditor's home phone number 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 34 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: home_phone_number
            work_phone_number:
              maxLength: 34
              minLength: 6
              type: string
              description: |-
                Creditor's work phone number 
                 - For UK bank availability/reachability, this parameter is not applicable  
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 34 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation this parameter is not applicable
              title: work_phone_number
            document:
              type: object
              title: document_request
              properties:
                entity:
                  type: string
                  description: >-
                    Whether the document belongs to Business or Individual 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                    - If method.country= GB and method.method = BANKACCOUNT then
                    creditor.document.entity is mandatory parameter 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  enum:
                    - BUSINESS
                    - PERSONAL
                  title: entity
                type:
                  type: string
                  description: |-
                    Whether the document belongs to Business or Individual 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                    - For UK, this parameter is optional 
                     - For IN PAN, this parameter is mandatory with applicable value  TXID 
                    - Personal Code values 
                    - ARNU - AlienRegistrationNumber 
                    - CCPT - PassportNumber 
                    - CUST - CustomerIdentificationNumber 
                    - DRLC - DriversLicenseNumber 
                    - EMPL - EmployeeIdentificationNumber 
                    - NIDN - NationalIdentityNumber 
                    - SOSE - SocialSecurityNumber 
                    - TELE - TelephoneNumber 
                    - TXID - TaxIdentificationNumber 
                    - POID - PersonCommercialIdentification 
                     - Corporate Code values 
                    - BANK - BankPartyIdentification 
                    - CBID - Central Bank Identification Number 
                    - CHID - Clearing Identification Number 
                    - COID - CountryIdentificationCode 
                    - CUST - CustomerNumber 
                    - DUNS - Data Universal Numbering System 
                    - EMPL - EmployerIdentificationNumber 
                    - GS1G - GS1GLNIdentifier 
                    - SREN - SIREN 
                    - SRET - SIRET 
                    - TXID - Tax Identification Number 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  enum:
                    - ARNU
                    - CCPT
                    - CUST
                    - DRLC
                    - EMPL
                    - NIDN
                    - SOSE
                    - TELE
                    - TXID
                    - POID
                    - BANK
                    - CBID
                    - CHID
                    - COID
                    - DUNS
                    - GS1G
                    - SREN
                    - SRET
                  title: type
                number:
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's document number 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is optional with max length 35 
                     - For IN PAN, this parameter is mandatory with max length 10 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  title: number
                state:
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's document state 
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is optional with max length 35 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  title: state
            card:
              type: object
              title: card_request
              properties:
                number:
                  maxLength: 34
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's card number 
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is mandatory with max length 34
                  title: number
                currency:
                  maxLength: 3
                  minLength: 3
                  type: string
                  description: |-
                    Creditor's card currency  
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is conditional with max length 3 when creditor.card.number is populated
                  title: currency
            national_id:
              maxLength: 35
              minLength: 1
              type: string
              description: |-
                Creditor's national identification 
                 - For UK bank availability/reachability, this parameter is not applicable  
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is not applicable 
                 - For IN PAN, this parameter is optional,numeric and with length equal to 4 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: national_id
        method:
          type: object
          title: method_request
          properties:
            country:
              type: string
              description: |-
                ISO 3166 Alpha-2 code for the transaction country 
                 - For UK bank availability/reachability, this parameter is Mandatory with enum Value GB 
                - For US EWS, this parameter is Mandatory with enum Value US 
                - For UK, this parameter is Mandatory with enum Value GB 
                 - For IN PAN, this parameter is Mandatory with enum Value IN 
                 - For SEPA VoP, this parameter is Mandatory with enum Value 
                 - For Global Mastercard Validation, the method.country parameter is optional for World link clients when sending card validation request to CCAPI. if the method.method parameter is classified as card, its is treated as Mastercard Validation by default and the validation logic is applied globally it not restricted to any specific country or region
              enum:
                - GB
                - US
                - IN
                - AT
                - BE
                - FI
                - FR
                - DE
                - GR
                - IE
                - IT
                - LU
                - NL
                - PT
                - SK
                - ES
                - BG
                - CZ
                - DK
                - HU
                - 'NO'
                - PL
                - RO
                - SE
              title: country
            method:
              type: string
              description: Method specified by the debtor for the validation
              enum:
                - IBAN
                - SORTCODE
                - NC
                - BIC
                - BANKACCOUNT
                - CARD
                - PAYMENTID
                - ID
              title: method
            type:
              type: string
              description: >-
                Message type (e.g., CT for credit transfer, AER for Account
                Enquiry Request) 

                - For US EWS, this parameter is mandatory 

                - For UK, this parameter is mandatory 

                - For SEPA VoP, this parameter is mandatory 

                - For Global Mastercard Validation, this parameter is
                mandatory  

                - Ownership - Account ownership is limited to validation of
                correct owner, hence the account number or equivalent (i.e
                Virtual account) and Name 

                - Attributes - Attributes define the properties of the object,
                for an account the properties should include Status, type of
                account, status of account, the address of the account  etc. 

                - Structure - Structure refers to the mod 97 and the length as
                per the country of IBAN 

                - TAXID -  Validation of individual or corporate tax id/tax
                documentation
                 - REACHABILITY - Bank is reachable on a given network 
                - AVAILABILITY - Availability of a bank to receive a particular
                credit
              enum:
                - REACHABILITY
                - AVAILABILITY
                - Structure
                - Ownership
                - Attributes
                - TAXID
              title: type
            scheme:
              type: string
              description: |-
                Scheme that is a part of validation 
                 - For UK bank availability/reachability, this parameter is mandatory with value FPS 
                - For US EWS, this parameter is not applicable 
                - For UK, this parameter is not applicable 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard validation, this parameter is not applicable
              enum:
                - FPS
                - IP
                - ACH
                - RTGS
              title: scheme
            penny_test:
              type: string
              description: >-
                This parameter enables selection of penny or non penny
                validations 

                - Optional for SEPA VoP
              enum:
                - NONPENNY
                - PENNY
              title: penny_test
          required:
            - method
            - type
    Validation-Response:
      type: object
      title: ValidationResponse
      properties:
        uetr:
          type: string
          pattern: >-
            ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        end_to_end_id:
          type: string
          description: |-
            Client provided reference number. 
             - For SEPA VoP, this parameter is optional with max length 35 
             - For UK bank availability/reachability, this parameter is not applicable 
             - For US EWS, this parameter is not applicable 
             - For UK, this parameter is not applicable 
             - For IN PAN, this parameter is not applicable 
             - For Global Mastercard validation, this parameter is not applicable
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        debtor:
          type: object
          title: debtor_response
          properties:
            account:
              type: string
              description: |-
                Bank account held with CITI 
                 - For UK bank availability/reachability, this parameter is optional and max length is 40 
                 - For US EWS, this parameter is optional and max length is 40 
                 - For UK, this parameter is optional and max length is 40 
                 - For IN PAN, this parameter is optional and max length is 40  
                 - For SEPA VoP, this parameter is optional and max length is 40 
                 - For Global Mastercard Validation this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: account
            name:
              type: string
              description: |-
                Debtor Account Name.
                 - For UK bank availability/reachability, this parameter is optional and max length is 140 
                 - For US EWS, this parameter is optional and max length is 140 
                 - For UK, this parameter is optional and max length is 140 
                 - For IN PAN, this parameter is optional and max length is 140 
                 - For SEPA VoP, this parameter is optional and max length is 140 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 140
              title: name
        creditor:
          type: object
          title: creditor_response
          properties:
            bank_id:
              type: string
              description: |-
                Receiving Financial Institution BIC.
                 - For UK bank availability/reachability, this parameter is conditional and the condition is if method.method= NC, SORTCODE, BIC then this parameter should be present. If method.method = NC/SORTCODE, then length should be exactly 6. If method.method = BIC, then length should be 8 or 11  
                 - For US EWS, this parameter is mandatory and length should be 9 if routing/clearing code is populated 
                 - For UK, this parameter is mandatory and length should be exactly 6 or 8 or 11 characters 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 35
              title: bank_id
            iban:
              type: string
              description: |-
                Creditor IBAN number  
                 - For UK bank availability/reachability, this parameter is conditional with max length 22.Condition is if method.method= IBAN then this parameter should be present 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 22.Condition is if method.method= IBAN then this parameter should be present.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is mandatory and max length is 40 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: iban
            account:
              type: string
              description: |-
                Creditor Account Number. 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is conditional and max length is 17.Condition is if method.method= BANKACCOUNT then this parameter should be present.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For UK, this parameter is conditional and max length is 17.Condition is if method.method= BANKACCOUNT then this parameter should be present.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: account
            name:
              type: string
              description: |-
                Creditor Account Name. 
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces 
                 - For UK, this parameter is optional and max length is 140. Please provide first middle(if any) last name in this sequence with spaces 
                 - For IN PAN, this parameter is mandatory and max length is 85. Please provide first middle(if any) last name in this sequence with spaces 
                 - For SEPA VoP, this parameter is mandatory and max length is 70. 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 140
              title: name
            father_name:
              type: string
              description: |-
                Creditor' Father's Name.
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is not applicable 
                 - For IN PAN, this parameter is optional and max length is 75. Please provide first middle(if any) last name in this sequence with spaces 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable 
              minLength: 1
              maxLength: 140
              title: father_name
            proxy_id:
              type: string
              description: |-
                Creditor Proxy ID 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 255
              title: proxy_id
            wallet:
              type: string
              description: |-
                Creditor wallet details 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              minLength: 1
              maxLength: 40
              title: wallet
            address_lines:
              type: array
              description: |-
                Creditor's address lines 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional and allowed 2 lines with each line max length of 40 
                 - For UK, this parameter is optional and allowed 2 lines with each line max length of 40 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              items:
                $ref: '#/components/schemas/Address'
              title: address_lines
            street_name:
              maxLength: 70
              minLength: 1
              type: string
              description: |-
                Creditor's street_name 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is optional with max length 70 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: street_name
            building_number:
              maxLength: 16
              minLength: 1
              type: string
              description: |-
                Creditor's building_number 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is not applicable 
                 - For UK, this parameter is optional with max length 16 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: building_number
            postal_code:
              maxLength: 16
              minLength: 1
              type: string
              description: |-
                Creditor's postal_code 
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 16 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: postal_code
            city:
              maxLength: 35
              minLength: 1
              type: string
              description: |-
                Creditor's city 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 25 
                 - For UK, this parameter is optional with max length 35 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: city
            state:
              maxLength: 35
              minLength: 1
              type: string
              description: |-
                Creditor's state 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 2 
                 - For UK, this parameter is optional with max length 35 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: state
            country:
              type: string
              description: |-
                Creditor's country 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 2 
                 - For UK, this parameter is optional with max length 2 
                 - For SEPA VoP, this parameter is not applicable 
                 - For IN PAN, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              pattern: ^[A-Z]{2,2}$
              title: country
            birth_date:
              type: string
              format: date
              description: |-
                ISO 8601 (YYYY-MM-DD), Creditor's birth date 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional 
                 - For UK, this parameter is optional 
                 - For IN PAN, this parameter is optional 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: birth_date
            home_phone_number:
              maxLength: 34
              minLength: 6
              type: string
              description: |-
                Creditor's home phone number 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 34 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: home_phone_number
            work_phone_number:
              maxLength: 34
              minLength: 6
              type: string
              description: |-
                Creditor's work phone number 
                 - For UK bank availability/reachability, this parameter is not applicable
                 - For US EWS, this parameter is optional with max length 10 
                 - For UK, this parameter is optional with max length 34 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              title: work_phone_number
            document:
              type: object
              title: document_response
              properties:
                entity:
                  type: string
                  description: |-
                    Whether the document belongs to Business or Individual 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                    - For UK, this parameter is optional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable  
                     - For Global Mastercard Validation, this parameter is not applicable
                  enum:
                    - BUSINESS
                    - PERSONAL
                  title: entity
                type:
                  type: string
                  description: |-
                    Whether the document belongs to Business or Individual 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                    - For UK, this parameter is optional 
                     - For SEPA VoP, this parameter is not applicable  
                     - For IN PAN, this parameter is optional  
                    - Personal Code values 
                    - ARNU - AlienRegistrationNumber 
                    - CCPT - PassportNumber 
                    - CUST - CustomerIdentificationNumber 
                    - DRLC - DriversLicenseNumber 
                    - EMPL - EmployeeIdentificationNumber 
                    - NIDN - NationalIdentityNumber 
                    - SOSE - SocialSecurityNumber 
                    - TELE - TelephoneNumber 
                    - TXID - TaxIdentificationNumber 
                    - POID - PersonCommercialIdentification 
                     - Corporate Code values 
                    - BANK - BankPartyIdentification 
                    - CBID - Central Bank Identification Number 
                    - CHID - Clearing Identification Number 
                    - COID - CountryIdentificationCode 
                    - CUST - CustomerNumber 
                    - DUNS - Data Universal Numbering System 
                    - EMPL - EmployerIdentificationNumber 
                    - GS1G - GS1GLNIdentifier 
                    - SREN - SIREN 
                    - SRET - SIRET 
                    - TXID - Tax Identification Number  
                     - For Global Mastercard Validation, this parameter is not applicable
                  enum:
                    - ARNU
                    - CCPT
                    - CUST
                    - DRLC
                    - EMPL
                    - NIDN
                    - SOSE
                    - TELE
                    - TXID
                    - POID
                    - BANK
                    - CBID
                    - CHID
                    - COID
                    - DUNS
                    - GS1G
                    - SREN
                    - SRET
                  title: type
                number:
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's document number 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is optional with max length 35 
                     - For IN PAN, this parameter is optional with max length 10  
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  title: number
                state:
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's document state 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is optional with max length 35 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is not applicable
                  title: state
            card:
              type: object
              title: card_response
              properties:
                number:
                  maxLength: 34
                  minLength: 1
                  type: string
                  description: |-
                    Creditor's card number 
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard Validation, this parameter is mandatory with max length 34
                  title: number
        method:
          type: object
          title: method_response
          properties:
            country:
              type: string
              description: |-
                ISO 3166 Alpha-2 code for the transaction country 
                 - For UK bank availability/reachability, this parameter is Mandatory with enum Value GB 
                - For US EWS, this parameter is Mandatory with enum Value US 
                - For UK, this parameter is Mandatory with enum Value GB 
                 - For IN PAN, this parameter is Mandatory with enum Value IN 
                 - For SEPA VoP, parameter is Mandatory with enum Value 
                 - For Global Mastercard Validation, the method.country parameter is optional for World link clients when sending card validation request to CCAPI. if the method.method parameter is classified as card, its is treated as Mastercard Validation by default and the validation logic is applied globally it not restricted to any specific country or region
              enum:
                - GB
                - US
                - IN
                - AT
                - BE
                - FI
                - FR
                - DE
                - GR
                - IE
                - IT
                - LU
                - NL
                - PT
                - SK
                - ES
                - BG
                - CZ
                - DK
                - HU
                - 'NO'
                - PL
                - RO
                - SE
              title: country
            method:
              type: string
              description: Method specified by the debtor for the validation
              enum:
                - IBAN
                - SORTCODE
                - NC
                - BIC
                - BANKACCOUNT
                - CARD
                - PAYMENTID
                - ID
              title: method
            type:
              type: string
              description: >-
                Message type (e.g., CT for credit transfer, AER for Account
                Enquiry Request) 

                - For US EWS, this parameter is mandatory 

                - For UK, this parameter is mandatory 

                - For SEPA VoP, this parameter is mandatory 
                 - For Global Mastercard Validation, this parameter is not applicable  
                - Ownership - Account ownership is limited to validation of
                correct owner, hence the account number or equivalent (i.e
                Virtual account) and Name 

                - Attributes - Attributes define the properties of the object,
                for an account the properties should include Status, type of
                account, status of account, the address of the account  etc. 

                - Structure - Structure refers to the mod 97 and the length as
                per the country of IBAN 

                - TAXID -  Validation of individual or corporate tax id/tax
                documentation
                 - REACHABILITY - Bank is reachable on a given network 
                - AVAILABILITY - Availability of a bank to receive a particular
                credit
              enum:
                - REACHABILITY
                - AVAILABILITY
                - Structure
                - Ownership
                - Attributes
                - TAXID
              title: type
            scheme:
              type: string
              description: |-
                Scheme that is a part of validation 
                 - For UK bank availability/reachability, this parameter is mandatory with value FPS 
                - For US EWS, this parameter is not applicable 
                - For UK, this parameter is not applicable 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is not applicable 
                 - For Global Mastercard Validation, this parameter is not applicable
              enum:
                - FPS
                - IP
                - ACH
                - RTGS
              title: scheme
            penny_test:
              type: string
              description: >-
                This parameter enables selection of penny or non penny
                validations 

                - Optional for SEPA VoP 
                 - For Global Mastercard Validation, this parameter is not applicable
              enum:
                - NONPENNY
                - PENNY
              title: penny_test
          required:
            - method
            - type
        status:
          type: object
          title: status
          properties:
            date_time:
              type: string
              format: date-time
              description: |-
                UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
                - Date time of transaction status
              title: date_time
            code:
              type: string
              description: ISO 20022 acknowledgement status code
              enum:
                - ACCC
                - RJCT
              title: code
            description:
              type: string
              description: |-
                Status code description 
                - ACCC - Completed 
                - RJCT - Rejected
              title: description
          required:
            - code
            - description
            - date_time
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: Reason code
              maxLength: 40
              title: code
            description:
              type: string
              description: Reason code description
              minLength: 1
              maxLength: 105
              title: description
        response:
          type: object
          title: response
          properties:
            data_date_time:
              type: string
              format: date-time
              description: >-
                Contains the provider datetime else current Datetime in UTC (ISO
                8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
                 - For UK bank availability/reachability, this parameter is mandatory  
                 - For US EWS, this parameter is mandatory 
                 - For UK, this parameter is mandatory 
                 - For IN PAN, this parameter is mandatory 
                 - For SEPA VoP, this parameter is mandatory 
                - for Mastercard validation this parameter is mandatory
              title: data_date_time
            type:
              type: string
              description: >-
                Validation based on historic or real time data 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US EWS, this parameter is mandatory 
                 - For UK, this parameter is mandatory 
                 - For IN PAN, this parameter is mandatory  
                 - For SEPA VoP, this parameter is mandatory 
                - HR - Validation based on Historic Data in case there is no
                real time data 
                 - RT - Validation based on real time data and data source is present 
                - ERROR - Erroneous issue 
                 - For Mastercard validation, this parameter is mandatory
              enum:
                - HR
                - RT
                - ERROR
              title: type
            validation_risk_score:
              type: string
              description: >-
                Risk appetite of utilizing this account. This parameter will be
                populated only in case of response.type = HR 
                 - For UK bank availability/reachability, this parameter is not applicable 
                 - For US, this parameter is conditional 
                 - For UK, this parameter is conditional 
                 - For IN PAN, this parameter is not applicable 
                 - For SEPA VoP, this parameter is optional   
                - HIGH - There is high risk the data subject to validations is
                inaccurate as per the source. 

                - MEDIUM - There is moderate risk the data subject to
                validations is inaccurate as per the source. 

                - LOW- There is Low risk the data subject to validations is
                inaccurate as per the source. 

                - UNKNOWN- The risk is unknown 
                 - For Global Mastercard Validations, this parameter is not applicable
              enum:
                - HIGH
                - MEDIUM
                - LOW
                - UNKNOWN
                - NA
              title: validation_risk_score
            account:
              type: object
              title: account_status
              properties:
                number_validation:
                  type: string
                  description: |-
                    Account validation result 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is conditional 
                     - For UK, this parameter is conditional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is mandatory  
                    - MATCH - Validation based on account is a match 
                     - MISMATCH - Validation based on account is a mismatch 
                    - NA - Validation is not applicable 
                     - For Global Mastercard validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: number_validation
                name_validation:
                  type: string
                  description: |-
                    Name validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is conditional 
                     - For UK, this parameter is conditional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is mandatory  
                    - MATCH - Validation based on name is a match 
                     - MISMATCH - Validation based on name is a mismatch 
                     - PARTIALMATCH - Validation based on name is a partial match 
                    - NOTCHECKED - Validation not checked 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - PARTIALMATCH
                    - NA
                    - NOTCHECKED
                  title: name_validation
                address_validation:
                  type: string
                  description: |-
                    Address validation result
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is conditional 
                     - For UK, this parameter is conditional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable  
                    - MATCH - Validation based on address is a match 
                     - MISMATCH - Validation based on address is a mismatch 
                     - PARTIALMATCH - Validation based on address is a partial match 
                    - NOTCHECKED - Validation not checked 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - PARTIALMATCH
                    - NA
                    - NOTCHECKED
                  title: address_validation
                phone_validation:
                  type: string
                  description: |-
                    Phone number validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is conditional 
                     - For UK, this parameter is conditional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                    - MATCH - Validation based on phone number is a match 
                     - MISMATCH - Validation based on phone number is a mismatch 
                     - PARTIALMATCH - Validation based on phone number is a partial match 
                    - NOTCHECKED - Validation not checked 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - PARTIALMATCH
                    - NA
                    - NOTCHECKED
                  title: phone_validation
            iban:
              type: object
              title: iban_status
              properties:
                structure_validation:
                  type: string
                  description: |-
                    IBAN mod 97 structure validation 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is conditional 
                     - For IN PAN, this parameter is not applicable 
                     - For SEPA VoP, this parameter is not applicable  
                    - MATCH - Validation based on mod 97 is a match 
                     - MISMATCH - Validation based on mod 97 is a mismatch 
                    - NOTCHECKED - Validation not checked 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                    - NOTCHECKED
                  title: structure_validation
            txid:
              type: object
              title: txid_status
              properties:
                number_validation:
                  type: string
                  description: |-
                    Document number validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable  
                    - MATCH - Validation based on document number is a match 
                     - MISMATCH - Validation based on document number is a mismatch 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: number_validation
                name_validation:
                  type: string
                  description: |-
                    Document name validation result 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable 
                    - MATCH - Validation based on document name is a match 
                     - MISMATCH - Validation based on document name is a mismatch 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: name_validation
                father_name_validation:
                  type: string
                  description: >-
                    Document father's name validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable 
                    - MATCH - Validation based on document father's name is a
                    match 
                     - MISMATCH - Validation based on document father's name is a mismatch 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: father_name_validation
                date_of_birth_validation:
                  type: string
                  description: |-
                    Date of birth validation result
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional  
                     - For SEPA VoP, this parameter is not applicable 
                    - MATCH - Validation based on date of birth is a match 
                     - MISMATCH - Validation based on date of birth is a mismatch 
                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: date_of_birth_validation
                status:
                  type: string
                  description: >-
                    Status of the tax id document 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable  
                    - E- EXISTING AND VALID 

                    - F - Marked as Fake 

                    - X - Marked as Deactivated 

                    - D - Deleted 

                    - N - Record (PAN) Not Found in Income Tax Department (ITD)
                    Database/Invalid PAN 

                    - EA - Existing and Valid but event marked as Amalgamation
                    in ITD database 

                    - EC - Existing and Valid but event marked as Acquisition in
                    ITD database 

                    - ED - Existing and Valid but event marked as Death in ITD
                    database 

                    - EI - Existing and Valid but event marked as Dissolution in
                    ITD database 

                    - EL - Existing and Valid but event marked as Liquidated in
                    ITD database 

                    - EM - Existing and Valid but event marked as Merger in ITD
                    database 

                    - EP - Existing and Valid but event marked as Partition in
                    ITD database 

                    - ES - Existing and Valid but event marked as Split in ITD
                    database 

                    - EU - Existing and Valid but event marked as Under
                    Liquidation in ITD database 

                    - NA - Validation is not applicable 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - E
                    - F
                    - X
                    - D
                    - 'N'
                    - EA
                    - EC
                    - ED
                    - EI
                    - EL
                    - EM
                    - EP
                    - ES
                    - EU
                    - NA
                  title: status
                seeding_status:
                  type: string
                  description: |-
                    Seeding status from underlying services 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable  
                    - Y – Operative PAN 
                    - R - Inoperative PAN 
                    - NA -For all non-Individual PAN 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - 'Y'
                    - R
                    - NA
                  title: seeding_status
                national_id_validation:
                  type: string
                  description: >-
                    National identification validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is conditional 
                     - For SEPA VoP, this parameter is not applicable  
                    - MATCH - Validation based on aadhar digits matched 
                     - MISMATCH - Validation based on if aadhar digits is a mismatch 
                    - NA - Aadhar digits were not received in response from tech
                    backend 
                     - For Global Mastercard Validations, this parameter is not applicable
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: national_id_validation
            bank:
              type: object
              title: bank_status
              properties:
                is_reachable:
                  type: string
                  description: |-
                    Whether the bank is a part of the scheme (reachable) or not 
                    - Y - Bank is reachable 
                     - N - Bank is not reachable/not checked
                  enum:
                    - 'Y'
                    - 'N'
                  title: is_reachable
                is_available:
                  type: string
                  description: |-
                    Whether the bank is a current online (available) or not 
                    - Y - Bank is available 
                     - N - Bank is not available/ not checked
                  enum:
                    - 'Y'
                    - 'N'
                  title: is_available
                reachability_data_type:
                  type: string
                  default: HR
                  description: >-
                    Validation based on historic or real time data 

                    - HR - Validation based on Historic Data in case there is no
                    real time data 
                     - RT - Validation based on real time data and data source is present 
                    - ERROR - Erroneous issue 
                  enum:
                    - HR
                    - RT
                    - ERROR
                  title: reachability_data_type
                availability_data_type:
                  type: string
                  default: RT
                  description: >-
                    Validation based on historic or real time data 

                    - HR - Validation based on Historic Data in case there is no
                    real time data 
                     - RT - Validation based on real time data and data source is present 
                    - ERROR - Erroneous issue 
                  enum:
                    - HR
                    - RT
                    - ERROR
                  title: availability_data_type
            card:
              type: object
              title: card_status
              properties:
                number_validation:
                  type: string
                  description: |-
                    Card number validation result
                     - For UK bank availability/reachability, this parameter is not applicable  
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is not applicable  
                    - MATCH - Validation based on card number is a match 
                     - MISMATCH - Validation based on card number is a mismatch 
                    - NA - Validation is not applicable 
                     - For SEPA VoP, this parameter is not applicable 
                     - For Global Mastercard validations, this parameter is mandatory
                  enum:
                    - MATCH
                    - MISMATCH
                    - NA
                  title: number_validation
                receiving_eligibility:
                  type: string
                  description: >-
                    Whether the Creditor Mastercard is eligible to received
                    funds before initiating the payment  

                    - Y - The creditor Mastercard is eligible to receive the
                    payment 
                     - N - The creditor Mastercard is not eligible to receive the payment 
                     - For UK bank availability/reachability, this parameter is not applicable 
                     - For US EWS, this parameter is not applicable 
                     - For UK, this parameter is not applicable 
                     - For IN PAN, this parameter is not applicable 
                     - For Global Mastercard Validation this parameter is Mandatory with enum Y/N 
                     - For SEPA VoP, this parameter is not applicable
                  enum:
                    - 'Y'
                    - 'N'
                  title: receiving_eligibility
      required:
        - uetr
        - method
        - status
    Address:
      type: string
      maxLength: 70
      minLength: 1
      description: Address
      title: Address
    Response-To-Request-For-Information:
      title: Response-To-Request-For-Information
      type: object
      description: Response to Request for Information
      properties:
        rfi_id:
          type: string
          description: RFI ID.
          minLength: 1
          maxLength: 100
          title: rfi_id
        fieldlevel_requests:
          type: array
          items:
            $ref: '#/components/schemas/Field-Level-Requests-With-Answers'
          description: ' Field level requests for which response is requested'
          maxItems: 30
          title: fieldlevel_requests
      required:
        - rfi_id
        - alert_id
        - request_data
    Request-Data-Entity:
      type: object
      description: Request Data Entity.
      title: Request-Data-Entity
      properties:
        type:
          type: string
          description: Specifies the type of request data being provided.
          minLength: 1
          maxLength: 25
          title: type
          example: entity
        identifier_type:
          type: string
          description: >-
            Specifies the type of identifier being provided. This could be a
            payer ID.
          minLength: 1
          maxLength: 25
          title: identifier_type
          example: payer_id
        identifier_value:
          type: string
          description: The actual identifier value corresponding to the `identifier_type`.
          minLength: 1
          maxLength: 100
          title: identifier_value
          example: '425255252352'
        country:
          type: string
          description: Country.
          minLength: 1
          maxLength: 5
          title: country
          example: US
        last_name:
          type: string
          description: The last name.
          title: last_name
          minLength: 1
          maxLength: 250
          example: Terry
        first_name:
          type: string
          description: The first name.
          title: first_name
          minLength: 1
          maxLength: 250
          example: John
      required:
        - type
    Request-Data-Transaction:
      type: object
      description: Request Data Transaction.
      title: Request-Data-Transaction
      properties:
        type:
          type: string
          description: Specifies the type of request data being provided.
          minLength: 1
          maxLength: 25
          title: type
          example: transaction
        identifier_type:
          type: string
          description: >-
            Specifies the type of identifier being provided. This could be an
            account ID, a Swift code, or an IBAN, indicating the nature of the
            identifier in `identifier_value`.
          minLength: 1
          maxLength: 25
          title: identifier_type
          example: IBAN
        identifier_value:
          type: string
          description: The actual identifier value corresponding to the `identifier_type`.
          minLength: 1
          maxLength: 100
          title: identifier_value
          example: '78765445677'
        direction:
          type: string
          description: Specifies the direction of the transaction.
          minLength: 1
          maxLength: 1
          title: direction
          example: I
        origin_country:
          type: string
          description: Origin country.
          minLength: 1
          maxLength: 5
          title: origin_country
          example: US
        destination_country:
          type: string
          description: Destination country.
          minLength: 1
          maxLength: 5
          title: destination_country
          example: US
        debtor_account_id:
          type: string
          description: The account identifier of the debtor.
          minLength: 1
          maxLength: 100
          title: debtor_account_id
          example: '3452523525'
        debtor_name:
          type: string
          description: The name of the debtor.
          minLength: 1
          maxLength: 250
          title: debtor_name
          example: Terry John
        account_name:
          type: string
          description: The name of the creditor.
          minLength: 1
          maxLength: 250
          title: account_name
          example: OUMUSHINRIKIYOU TESUTO
        uetr:
          type: string
          description: UUID v4 format unique end-to-end transaction reference
          minLength: 1
          maxLength: 100
          title: uetr
          example: 975f533c-7cdb-46ff-ac7d-8cf21697f804
        transaction_reference:
          type: string
          description: A unique transaction reference number.
          minLength: 1
          maxLength: 100
          title: transaction_reference
          example: abc1234
        account_number:
          type: string
          description: The account identifier of the creditor.
          minLength: 1
          maxLength: 100
          title: account_number
          example: '3252347211351'
        bic_receiver:
          type: string
          description: BIC receiver code.
          minLength: 1
          maxLength: 100
          title: bic_receiver
          example: CITIAU2AXXX
        iban:
          type: string
          description: The transaction IBAN.
          minLength: 1
          maxLength: 100
          title: iban
          example: GB14WXYZ20562325648978
        transaction_date:
          type: string
          description: >-
            The date and time when the transaction was initiated or processed.
            Format: ISO 8601 (YYYY-MM-DDTHH:mm:ss.sssZ).
          minLength: 1
          maxLength: 50
          title: transaction_date
          example: '2024-04-20T11:37:41.000Z'
        value_date:
          type: string
          description: >-
            Format YYYY-MM-DDTHH:mm:ss.sssZ Date in local time zone (e.g., EST
            for a United States RTP network transaction) when Citi's transaction
            processing application starts processing a transaction
          minLength: 1
          maxLength: 50
          title: value_date
          example: '2024-04-23T12:37:35.000Z'
        amount:
          type: string
          description: Transaction amount.
          minLength: 1
          maxLength: 30
          title: amount
          example: '425'
        currency:
          type: string
          description: Transaction currency.
          minLength: 1
          maxLength: 10
          title: currency
          example: INR
      required:
        - type
    Field-Level-Requests:
      type: object
      description: Request can have one or more match level requests.
      title: Field-Level-Requests
      properties:
        field_id:
          type: number
          description: Unique ID for each match.
          title: field_id
        field_name:
          type: string
          description: Name of the field where match has occurred.
          minLength: 1
          maxLength: 250
          title: field_name
        field_value:
          type: string
          description: Entire content of the field having the match.
          minLength: 1
          maxLength: 500
          title: field_value
        clarification_required_for:
          type: string
          description: Exact match.
          minLength: 1
          maxLength: 500
          title: clarification_required_for
        input_type:
          type: string
          description: >-
            The input type will be one the following - individual / entity /
            aircraft / vessel / unknown / others.
          minLength: 1
          maxLength: 16
          title: input_type
        additional_clarification:
          type: string
          description: Additional clarification.
          minLength: 1
          maxLength: 150
          title: additional_clarification
        field_details:
          type: array
          items:
            $ref: '#/components/schemas/Field-Details'
          description: Field details with questions requested from client.
          maxItems: 30
          title: field_details
      required:
        - field_id
        - field_name
        - field_value
        - input_type
        - field_details
    Field-Details:
      type: object
      description: Field details can have one or more questions requested from client.
      title: Field-Details
      properties:
        question_name:
          type: string
          description: Data requested from client.
          minLength: 1
          maxLength: 250
          title: question_name
        datatype:
          type: string
          description: Data format type which client needs to return in the response.
          minLength: 1
          maxLength: 25
          title: datatype
        description:
          type: string
          description: Description of the requested data.
          minLength: 1
          maxLength: 500
          title: description
      required:
        - question_name
        - datatype
        - description
[...]
