openapi: 3.2.0
info:
  title: Payment Refund Txrefund API
  description: The Payment Refund endpoint allows you as an initiating party (or debtor) to initiate a refund request with the receiving party (or creditor) of a payment that was previously executed.
  version: 2.0.0
  x-ibm-name: paymentservices
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
  description: production gateway URL
- url: https://tts.apib2b.citi.com/citiconnect/sb/paymentservices/v3
  description: sandbox URL
security:
- clientCredentials: []
  Client ID: []
tags:
- name: Txrefund
paths:
  /txrefund:
    summary: Payment Refund
    post:
      requestBody:
        content:
          application/xml:
            example: <?xml version="1.0" encoding="UTF-8"?><Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20200617-PSR/1727237500</MsgId><CreDtTm>2020-06-17T07:27:08</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>GBP161114694869</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2017-06-02T10:17:55</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>14017498 Fund Transfer Domestic</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>PA2018201912</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment validation is in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt Ccy="USD">1.00</InstdAmt></Amt><ReqdExctnDt>2019-08-20</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl></PmtTpInf><PmtMtd>TRF</PmtMtd><Dbtr><Nm>CITIBANK E-BUSINESS EUR DUM DEMO</Nm></Dbtr><DbtrAcct><Id><Othr><Id>12345678</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>fakebic</BIC><PstlAdr><Ctry>GB</Ctry></PstlAdr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>fakebic</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>8010643122X XXXXXXXXXXXXX XXX</Nm><CtctDtls><Nm>WDW 3 INVESTMENTS LIMITED</Nm></CtctDtls></Cdtr><CdtrAcct><Id><Othr><Id>12345678</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/xml:
              example: <?xml version="1.0" encoding="UTF-8"?><Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20191211-PSR/941416177</MsgId><CreDtTm>2019-12-11T06:24:52</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>MsgIdffgh</OrgnlMsgId><OrgnlMsgNmId>pain.007.001.09</OrgnlMsgNmId><OrgnlCreDtTm>2019-12-11T12:00:00</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>4568796</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>20191209CITISGS0BRT2101630</OrgnlEndToEndId><TxSts>ACTC</TxSts></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
        '400':
          description: Bad Request
        '401':
          description: Unauthorized; OAuth header decryption failed
        '405':
          description: Method Not Allowed
        '412':
          description: Precondition Failed
        '415':
          description: Unsupported Media Type
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
        '504':
          description: Gateway Timeout
      tags:
      - Txrefund
      summary: Create txrefund
      x-summary-source: derived
      operationId: postTxrefund
      x-operation-id-source: derived
components:
  securitySchemes:
    Client_ID:
      description: ''
      in: query
      name: client_id
      type: apiKey
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: /authenticationservices/v1/oauth/token
      description: All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See the Citi Authentication API Reference for information on requesting a token.
x-ibm-configuration:
  enforced: true
  phase: realized
  testable: true
  cors:
    enabled: true
  properties:
    PaymentInitiationECS:
      value: https://ccapi-proxy-dev-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
      description: ''
      encoded: false
    InstantPaymentInquiryCloudEndpoint:
      value: https://instant-payment-inquiry-ms-icg-tts-168554.namoserut01u.nam.nsroot.net/paymentInquiry
      description: ''
      encoded: false
    InstantPaymentCloudEndpoint:
      value: https://instant-payments-ms-icg-tts-168554.namicggtd01d.nam.nsroot.net/instantPayments
      description: ''
      encoded: false
    InstantPaymentCCEndpoint:
      value: https://sit5citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
      description: ''
      encoded: false
    PSIGETGREENEndPt:
      value: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
      description: ''
      encoded: false
    PSIGETEndPt:
      value: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
      description: ''
      encoded: false
    RESTEndpt:
      value: https://sit2citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
      description: ''
      encoded: false
    BE-Services:
      description: ''
      encoded: false
      value: https://sit2citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
    BE-EnquiriesService:
      description: ''
      encoded: false
      value: https://ccapi-proxy-pte-168554.cloudgsl.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
    EnhancedEnquiriesServiceECS:
      description: ''
      encoded: false
      value: https://payment-inquiry-ms-168554.namicggtd10d.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
  catalogs:
    UAT1:
      properties:
        RESTEndpt: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-EnquiriesService: https://ccapi-proxy-uat-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        BE-Services: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        PSIGETEndPt: https://uat1cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        PSIGETGREENEndPt: https://uat1cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCCEndpoint: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentCloudEndpoint: https://inst-pymt-ms-uat-168554.namicgswd11u.nam.nsroot.net/instantPayments/v2/paymentInitiation
        InstantPaymentInquiryCloudEndpoint: https://inst-pymt-inquiry-ms-uat-168554.namicgswd11u.nam.nsroot.net/paymentInquiry
        EnhancedEnquiriesServiceECS: https://payment-inquiry-ms-uat-168554.namicgswd11u.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
        PaymentInitiationECS: https://ccapi-proxy-uat-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
    SIT5:
      properties:
        BE-Services: https://sit5citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-dev-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        RESTEndpt: https://citiconnectbeservices.wlb2.nam.nsroot.net/citi-connect-war/citidirect/payments
        PSIGETEndPt: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        PSIGETGREENEndPt: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCloudEndpoint: https://instant-payments-ms-icg-tts-168554.namicggtd01d.nam.nsroot.net/instantPayments
        InstantPaymentCCEndpoint: https://sit5citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentInquiryCloudEndpoint: https://instant-payment-inquiry-ms-icg-tts-168554.namicggtd01d.nam.nsroot.net/paymentInquiry
        EnhancedEnquiriesServiceECS: https://payment-inquiry-ms-168554.namicggtd10d.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
        PaymentInitiationECS: https://ccapi-proxy-dev-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
    UAT2:
      properties:
        BE-Services: https://uat2citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-uat-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        PSIGETEndPt: https://uat2cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        RESTEndpt: https://uat2citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        PSIGETGREENEndPt: https://uat2cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCCEndpoint: https://uat2citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentCloudEndpoint: https://inst-pymt-ms-uat-168554.namicgswd11u.nam.nsroot.net/instantPayments/v2/paymentInitiation
        InstantPaymentInquiryCloudEndpoint: https://inst-pymt-inquiry-ms-uat-168554.namicgswd11u.nam.nsroot.net/paymentInquiry
        EnhancedEnquiriesServiceECS: https://payment-inquiry-ms-168554.namicggtd10d.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
    SIT2:
      properties:
        PSIGETEndPt: https://sit2cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        RESTEndpt: https://sit2citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-Services: https://sit2citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-dev-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        PSIGETGREENEndPt: https://sit2cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
    PTE:
      properties:
        RESTEndpt: https://pteciticonnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-EnquiriesService: https://ccapi-proxy-pte-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        BE-Services: https://pteciticonnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        PSIGETEndPt: https://ptecdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        PSIGETGREENEndPt: https://ptecdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCCEndpoint: https://pteciticonnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentCloudEndpoint: https://instant-payments-ms-pte-168554.namicgswd12u.nam.nsroot.net/instantPayments/v2/paymentInitiation
        InstantPaymentInquiryCloudEndpoint: https://instant-payments-ms-pte-168554.namicgswd12u.nam.nsroot.net/paymentInquiry
        EnhancedEnquiriesServiceECS: https://payment-inquiry-ms-pte-168554.namicgswd12u.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
        PaymentInitiationECS: https://ccapi-proxy-pte-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
    DIT:
      properties:
        RESTEndpt: http://citi-connect-ci-linux.nam.nsroot.net:32120/citi-connect-war/citidirect/payments
        BE-Services: http://citi-connect-ci-linux.nam.nsroot.net:32120/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-dev-168554.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        PSIGETEndPt: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        PSIGETGREENEndPt: https://sit5cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
    PROD:
      properties:
        PSIGETEndPt: https://microservices.wlb3.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        RESTEndpt: https://citiconnectbeservices.wlb2.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-Services: https://citiconnectbeservices.wlb2.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-168554.cloudgsl.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        BE-AttachmentService: https://citiconnectbeservices.wlb2.nam.nsroot.net/citi-connect-war/services//CitiConnectAttachmentsService
        PSIGETGREENEndPt: https://microservices.wlb3.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCCEndpoint: https://citiconnectbeservices.wlb2.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentCloudEndpoint: https://instant-payments-ms-168554.cloudgsl.nam.nsroot.net/instantPayments/v2/paymentInitiation
        EnhancedEnquiriesServiceECS: https://payment-inquiry-legacy-168554.cloudgsl.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
        PaymentInitiationECS: https://ccapi-proxy-168554.cloudgsl.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
    UAT:
      properties:
        PSIGETEndPt: https://uat1cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        RESTEndpt: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-Services: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://uat1citiconnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectInquiriesService
        PSIGETGREENEndPt: https://uat1cdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        InstantPaymentCloudEndpoint: https://inst-pymt-ms-uat-168554.namicgswd11u.nam.nsroot.net/instantPayments
        InstantPaymentInquiryCloudEndpoint: https://inst-pymt-inquiry-ms-uat-168554.namicgswd11u.nam.nsroot.net/paymentInquiry
    Sandbox:
      properties:
        InstantPaymentCCEndpoint: https://cteciticonnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/instantPayments
        InstantPaymentCloudEndpoint: https://instant-payments-ms-icg-tts-168554.namoserut01u.nam.nsroot.net/instantPayments
        PSIGETGREENEndPt: https://ctecdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        PSIGETEndPt: https://ctecdbeservices.nam.nsroot.net/payment-inquiry-ms/citidirect/payments
        RESTEndpt: https://cteciticonnectbeservices.nam.nsroot.net/citi-connect-war/citidirect/payments
        BE-Services: https://cteciticonnectbeservices.nam.nsroot.net/citi-connect-war/services/CitiConnectService
        BE-EnquiriesService: https://ccapi-proxy-cte-168554.cloudgsl.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/inquiry
        InstantPaymentInquiryCloudEndpoint: https://instant-payment-inquiry-ms-icg-tts-168554.namoserut01u.nam.nsroot.net/paymentInquiry
        EnhancedEnquiriesServiceECS: https://payment-inquiry-ms-168554.namicggtd10d.nam.nsroot.net/paymentservices/v2/payment/enhancedinquiry
        PaymentInitiationECS: https://ccapi-proxy-cte-168554.cloudgsl.nam.nsroot.net/ecs-proxy/paymentservices/v2/payment/initiation
  externalDocs: []
  attachments: []
  gateway: datapower-gateway
  assembly:
    execute:
    - operation-switch:
        title: operation-switch
        case:
        - operations:
          - verb: post
            path: /txrefund
          execute:
          - switch:
              title: switch
              case:
              - condition: ((apim.getvariable('message.headers.content-type')).includes('xml'))
                execute:
                - proxy:
                    title: proxy
                    timeout: 60
                    verb: keep
                    cache-response: protocol
                    cache-ttl: 900
                    version: 1.0.0
                    tls-profile: citiconnect-ssl-profile
                    target-url: $(BE-Services)
              - condition: ((apim.getvariable('message.headers.content-type')).includes('json'))
                execute:
                - proxy:
                    title: proxy
                    timeout: 60
                    verb: keep
                    cache-response: protocol
                    cache-ttl: 900
                    version: 1.0.0
                    tls-profile: citiconnect-ssl-profile
                    target-url: $(RESTEndpt)
              version: 1.0.0
    - activity-log:
        title: activity-log
        content: header
        error-content: header
        version: 1.0.0
    catch: []
  categories:
  - 'operation: Enhanced Payment Status Inquiry'
  - 'operation: Payment Status Inquiry'
  - 'operation: Payment Initiation'
