openapi: 3.2.0
info:
  title: Additional Payment Services Ipscheme API
  description: The Additional Payment Services API allows users to get access to transaction, account and branch related information in real-time, providing transparency and control to the user over the transaction lifecycle.
  version: ''
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/selfservices/v1
  description: production gateway url
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/selfservices/v1
  description: sbox url
security:
- clientCredentials: []
tags:
- name: Ipscheme
paths:
  /ipscheme/eligibilitycheck:
    get:
      summary: Instant Payment Scheme Eligibility Check
      description: 'CitiConnect Instant Payment Scheme Eligibility Check allows users to retrieve the status of beneficiary banks before initiating payment request, so that they get the information if that bank supports instant payment requests to process transactions.


        Content-Type : Supports “application/xml” or “application/json” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        countryCode : Country Code :

        participantCode : Participant Code :

        currency : Currency Type :

        participantName : Bank Name (Minimum of 5 characters) :'
      parameters:
      - name: client_id
        in: query
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content: {}
      tags:
      - Ipscheme
      operationId: getIpschemeEligibilitycheck
      x-operation-id-source: derived
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      description: 'All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See <a href="../../authentication/authentication-api-reference/" target="_blank">the Citi Authentication API reference</a> for information on requesting a token.


        '
      flows:
        clientCredentials:
          tokenUrl: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/authenticationservices/v1/oauth/token
          scopes: {}
x-original-swagger-version: '2.0'
