openapi: 3.2.0
info:
  description: CitiConnect® Trade Services allows users to easily access Trade capabilities with a lightweight message exchange interface. This portfolio of functions enables clients to perform Trade related activities in real-time eliminating manual processes.
  version: ''
  title: Trade API
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod
security:
- clientCredentials: []
tags:
- name: Trade
paths:
  /trade/inquiry:
    get:
      summary: Trade Status Inquiry
      description: CitiConnect Trade Status Inquiry API allows users to access the status of a Trade by generating Trade details for instant awareness of initiation
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: InqTp
        in: query
        required: true
        schema:
          type: string
      - name: ApplcntRefNb
        in: query
        required: true
        schema:
          type: string
      - name: Id
        in: query
        required: false
        schema:
          type: string
      - name: Nm
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
      tags:
      - Trade
      operationId: getTradeInquiry
      x-operation-id-source: derived
  /trade/initiation:
    post:
      summary: Trade Initiation
      description: The CitiConnect Trade Initiation API allows users to initiate a Guarantee/SBLC (Standby Letter of Credit) through their ERP or partner system of choice.
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
      tags:
      - Trade
      operationId: postTradeInitiation
      x-operation-id-source: derived
  /trade/modifyorcancel:
    post:
      summary: Trade Amendment/Cancellation
      description: CitiConnect Trade Amendment/Cancellation allows users to amend or cancel an existing Guarantee/SBLC (StandBy Letter of Credit), in XML, receiving a positive or negative acknowledgement, providing users the flexibility to make changes seamlessly and immediately.
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
      tags:
      - Trade
      operationId: postTradeModifyorcancel
      x-operation-id-source: derived
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://tts.apib2b.citi.com/tts/cards/api/v1/oauth2/token
      description: 'All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See <a href="../../authentication/authentication-api-reference/" target="_blank">the Citi Authentication API reference</a> for information on requesting a token.


        '
