openapi: 3.2.0
info:
  title: Citi Services API
  version: '1.0'
  description: 'Operations tagged Services across 8 of this provider''s published API definitions: cash-balances.yaml, cash-transactions.yaml, citi-custody-fx-transactions-openapi.yaml, citi-custody-penalties-openapi.yaml, citi-safekeeping-accounts-openapi.yaml, citi-safekeeping-positions-openapi.yaml, citi-securitytransactionsaccounts-openapi.yaml, citi-tax-reclaims-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.api.citivelocity.com/markets/dod
  description: Sandbox server (uses test data)
- url: https://api.citivelocity.com/markets/dod
  description: Production server
security:
- client-Credential-Oauth-Security-Schema: []
tags:
- name: Services
paths:
  /api/services/e0b62396-5920-4270-96b1-26dddee0c242/filter:
    get:
      summary: Cash Balances
      description: Provides Custody Cash Balances by currency for a particular date and cash account
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/parameter-18785'
      - $ref: '#/components/parameters/parameter-18787'
      - $ref: '#/components/parameters/parameter-18788'
      - $ref: '#/components/parameters/parameter-18791'
      - $ref: '#/components/parameters/parameter-18793'
      - $ref: '#/components/parameters/parameter-18796'
      - $ref: '#/components/parameters/parameter-18799'
      - $ref: '#/components/parameters/parameter-18800'
      - $ref: '#/components/parameters/parameter-18802'
      - $ref: '#/components/parameters/parameter-18803'
      - $ref: '#/components/parameters/parameter-18804'
      - $ref: '#/components/parameters/parameter-18805'
      - $ref: '#/components/parameters/parameter-18806'
      - $ref: '#/components/parameters/parameter-18813'
      - $ref: '#/components/parameters/parameter-18815'
      - $ref: '#/components/parameters/parameter-18816'
      - $ref: '#/components/parameters/parameter-18817'
      - $ref: '#/components/parameters/parameter-18818'
      - $ref: '#/components/parameters/parameter-18820'
      - $ref: '#/components/parameters/parameter-18821'
      - $ref: '#/components/parameters/parameter-18824'
      - $ref: '#/components/parameters/parameter-18826'
      - $ref: '#/components/parameters/parameter-18829'
      - $ref: '#/components/parameters/parameter-18832'
      - $ref: '#/components/parameters/parameter-18833'
      - $ref: '#/components/parameters/parameter-42407'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e0b62396-5920-4270-96b1-26dddee0c242-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/e0b62396-5920-4270-96b1-26dddee0c242-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <ACCT_BUS_TYP_NME>CASH</ACCT_BUS_TYP_NME> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - US DCC Equity</ACCT_NME> <ACCT_STS_TYP>Open</ACCT_STS_TYP> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <ASOF_TMS>2019-08-26 00:00:00</ASOF_TMS> <AVAL_BAL>6136188.61</AVAL_BAL> <BAL_STS_TYP>POSTED</BAL_STS_TYP> <BR_ID>484</BR_ID> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <CASH_TYPE>1</CASH_TYPE> <COB_DATE>2019-08-26</COB_DATE> <EOD_INTRA_IND>2</EOD_INTRA_IND> <GFC_ID>1000123456</GFC_ID> <LCL_CUR_CD>JPY</LCL_CUR_CD> <LED_BAL>6136188.61</LED_BAL> <LST_ENTRY_TMS>2019-08-26 00:00:00</LST_ENTRY_TMS> <LST_UPD_TMS>2019-08-26 00:00:00</LST_UPD_TMS> <OPNG_BAL>6136188.61</OPNG_BAL> <PRNCPL_INC_IND>P</PRNCPL_INC_IND> <ROLLED_FWD>Y</ROLLED_FWD> <TRANS_REF_NBR>46050312345</TRANS_REF_NBR> <IOD_TIMESTAMP>2019-08-26 00:00:00</IOD_TIMESTAMP> <HEAD_ACCOUNT>1234567</HEAD_ACCOUNT> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServicesE0b623965920427096b126dddee0c242Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/1bcf00be-b782-4f9f-a814-0752b0326ae6/filter:
    get:
      summary: Current Cash Balances
      description: Current Cash Balances provides the current cash balance for each cash account.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/parameter-13535'
      - $ref: '#/components/parameters/parameter-13562'
      - $ref: '#/components/parameters/parameter-13536'
      - $ref: '#/components/parameters/parameter-28702'
      - $ref: '#/components/parameters/parameter-13553'
      - $ref: '#/components/parameters/parameter-13574'
      - $ref: '#/components/parameters/parameter-13539'
      - $ref: '#/components/parameters/parameter-28709'
      - $ref: '#/components/parameters/parameter-28696'
      - $ref: '#/components/parameters/parameter-28699'
      - $ref: '#/components/parameters/parameter-28700'
      - $ref: '#/components/parameters/parameter-13554'
      - $ref: '#/components/parameters/parameter-13572'
      - $ref: '#/components/parameters/parameter-28711'
      - $ref: '#/components/parameters/parameter-28701'
      - $ref: '#/components/parameters/parameter-13544'
      - $ref: '#/components/parameters/parameter-28710'
      - $ref: '#/components/parameters/parameter-28704'
      - $ref: '#/components/parameters/parameter-28694'
      - $ref: '#/components/parameters/parameter-28707'
      - $ref: '#/components/parameters/parameter-28708'
      - $ref: '#/components/parameters/parameter-28693'
      - $ref: '#/components/parameters/parameter-28705'
      - $ref: '#/components/parameters/parameter-28698'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/1bcf00be-b782-4f9f-a814-0752b0326ae6-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/1bcf00be-b782-4f9f-a814-0752b0326ae6-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <ACCT_BUS_TYP_NME>CASH</ACCT_BUS_TYP_NME> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - US DCC Equity</ACCT_NME> <ACCT_STS_TYP>Open</ACCT_STS_TYP> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <ASOF_TMS>2019-08-26 00:00:00</ASOF_TMS> <AVAL_BAL>6136188.61</AVAL_BAL> <BAL_STS_TYP>POSTED</BAL_STS_TYP> <BR_ID>484</BR_ID> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <CASH_TYPE>1</CASH_TYPE> <COB_DATE>2019-08-26</COB_DATE> <EOD_INTRA_IND>2</EOD_INTRA_IND> <GFC_ID>1000123456</GFC_ID> <IOD_UPDATE_TMS>2019-08-26 00:00:00</IOD_UPDATE_TMS> <LCL_CUR_CD>JPY</LCL_CUR_CD> <LED_BAL>6136188.61</LED_BAL> <LST_ENTRY_TMS>2019-08-26 00:00:00</LST_ENTRY_TMS> <LST_UPD_TMS>2019-08-26 00:00:00</LST_UPD_TMS> <OPNG_BAL>6136188.61</OPNG_BAL> <PRNCPL_INC_IND>P</PRNCPL_INC_IND> <TRANS_REF_NBR>46050312345</TRANS_REF_NBR> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices1bcf00beB7824f9fA8140752b0326ae6Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/f5471486-3c48-45bc-9b1f-05a7d57bdc71/filter:
    get:
      summary: Cash Transactions
      description: Provides Custody Cash Transactions details for a particular date and cash account
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_2'
      - $ref: '#/components/parameters/parameter-18839'
      - $ref: '#/components/parameters/parameter-18841'
      - $ref: '#/components/parameters/parameter-18842'
      - $ref: '#/components/parameters/parameter-18843'
      - $ref: '#/components/parameters/parameter-18844'
      - $ref: '#/components/parameters/parameter-18846'
      - $ref: '#/components/parameters/parameter-18847'
      - $ref: '#/components/parameters/parameter-18849'
      - $ref: '#/components/parameters/parameter-18850'
      - $ref: '#/components/parameters/parameter-18851'
      - $ref: '#/components/parameters/parameter-18852'
      - $ref: '#/components/parameters/parameter-18853'
      - $ref: '#/components/parameters/parameter-18855'
      - $ref: '#/components/parameters/parameter-18856'
      - $ref: '#/components/parameters/parameter-18858'
      - $ref: '#/components/parameters/parameter-18859'
      - $ref: '#/components/parameters/parameter-18860'
      - $ref: '#/components/parameters/parameter-18861'
      - $ref: '#/components/parameters/parameter-18862'
      - $ref: '#/components/parameters/parameter-18863'
      - $ref: '#/components/parameters/parameter-18864'
      - $ref: '#/components/parameters/parameter-18873'
      - $ref: '#/components/parameters/parameter-18878'
      - $ref: '#/components/parameters/parameter-18880'
      - $ref: '#/components/parameters/parameter-18881'
      - $ref: '#/components/parameters/parameter-18882'
      - $ref: '#/components/parameters/parameter-18883'
      - $ref: '#/components/parameters/parameter-18886'
      - $ref: '#/components/parameters/parameter-18887'
      - $ref: '#/components/parameters/parameter-18888'
      - $ref: '#/components/parameters/parameter-18889'
      - $ref: '#/components/parameters/parameter-18890'
      - $ref: '#/components/parameters/parameter-18891'
      - $ref: '#/components/parameters/parameter-18892'
      - $ref: '#/components/parameters/parameter-18893'
      - $ref: '#/components/parameters/parameter-18894'
      - $ref: '#/components/parameters/parameter-18896'
      - $ref: '#/components/parameters/parameter-18897'
      - $ref: '#/components/parameters/parameter-18898'
      - $ref: '#/components/parameters/parameter-18900'
      - $ref: '#/components/parameters/parameter-18901'
      - $ref: '#/components/parameters/parameter-18902'
      - $ref: '#/components/parameters/parameter-18905'
      - $ref: '#/components/parameters/parameter-18906'
      - $ref: '#/components/parameters/parameter-18908'
      - $ref: '#/components/parameters/parameter-18909'
      - $ref: '#/components/parameters/parameter-18910'
      - $ref: '#/components/parameters/parameter-18911'
      - $ref: '#/components/parameters/parameter-18912'
      - $ref: '#/components/parameters/parameter-18913'
      - $ref: '#/components/parameters/parameter-18915'
      - $ref: '#/components/parameters/parameter-18921'
      - $ref: '#/components/parameters/parameter-18922'
      - $ref: '#/components/parameters/parameter-18923'
      - $ref: '#/components/parameters/parameter-18925'
      - $ref: '#/components/parameters/parameter-18926'
      - $ref: '#/components/parameters/parameter-18928'
      - $ref: '#/components/parameters/parameter-18929'
      - $ref: '#/components/parameters/parameter-18931'
      - $ref: '#/components/parameters/parameter-18933'
      - $ref: '#/components/parameters/parameter-18935'
      - $ref: '#/components/parameters/parameter-18938'
      - $ref: '#/components/parameters/parameter-18939'
      - $ref: '#/components/parameters/parameter-18941'
      - $ref: '#/components/parameters/parameter-18942'
      - $ref: '#/components/parameters/parameter-18943'
      - $ref: '#/components/parameters/parameter-18944'
      - $ref: '#/components/parameters/parameter-18945'
      - $ref: '#/components/parameters/parameter-18946'
      - $ref: '#/components/parameters/parameter-18947'
      - $ref: '#/components/parameters/parameter-18948'
      - $ref: '#/components/parameters/parameter-18949'
      - $ref: '#/components/parameters/parameter-18950'
      - $ref: '#/components/parameters/parameter-18951'
      - $ref: '#/components/parameters/parameter-18952'
      - $ref: '#/components/parameters/parameter-18953'
      - $ref: '#/components/parameters/parameter-18954'
      - $ref: '#/components/parameters/parameter-18959'
      - $ref: '#/components/parameters/parameter-18960'
      - $ref: '#/components/parameters/parameter-18961'
      - $ref: '#/components/parameters/parameter-18962'
      - $ref: '#/components/parameters/parameter-18963'
      - $ref: '#/components/parameters/parameter-18965'
      - $ref: '#/components/parameters/parameter-18966'
      - $ref: '#/components/parameters/parameter-18967'
      - $ref: '#/components/parameters/parameter-18969'
      - $ref: '#/components/parameters/parameter-18971'
      - $ref: '#/components/parameters/parameter-18972'
      - $ref: '#/components/parameters/parameter-18973'
      - $ref: '#/components/parameters/parameter-18974'
      - $ref: '#/components/parameters/parameter-18975'
      - $ref: '#/components/parameters/parameter-18976'
      - $ref: '#/components/parameters/parameter-18977'
      - $ref: '#/components/parameters/parameter-18978'
      - $ref: '#/components/parameters/parameter-18981'
      - $ref: '#/components/parameters/parameter-18983'
      - $ref: '#/components/parameters/parameter-18985'
      - $ref: '#/components/parameters/parameter-18986'
      - $ref: '#/components/parameters/parameter-18987'
      - $ref: '#/components/parameters/parameter-18988'
      - $ref: '#/components/parameters/parameter-18989'
      - $ref: '#/components/parameters/parameter-18990'
      - $ref: '#/components/parameters/parameter-18993'
      - $ref: '#/components/parameters/parameter-18998'
      - $ref: '#/components/parameters/parameter-18999'
      - $ref: '#/components/parameters/parameter-19000'
      - $ref: '#/components/parameters/parameter-19001'
      - $ref: '#/components/parameters/parameter-19002'
      - $ref: '#/components/parameters/parameter-19003'
      - $ref: '#/components/parameters/parameter-19004'
      - $ref: '#/components/parameters/parameter-19005'
      - $ref: '#/components/parameters/parameter-19007'
      - $ref: '#/components/parameters/parameter-19008'
      - $ref: '#/components/parameters/parameter-19009'
      - $ref: '#/components/parameters/parameter-19010'
      - $ref: '#/components/parameters/parameter-19014'
      - $ref: '#/components/parameters/parameter-19018'
      - $ref: '#/components/parameters/parameter-19019'
      - $ref: '#/components/parameters/parameter-19020'
      - $ref: '#/components/parameters/parameter-19021'
      - $ref: '#/components/parameters/parameter-19022'
      - $ref: '#/components/parameters/parameter-19023'
      - $ref: '#/components/parameters/parameter-19024'
      - $ref: '#/components/parameters/parameter-19025'
      - $ref: '#/components/parameters/parameter-19026'
      - $ref: '#/components/parameters/parameter-19027'
      - $ref: '#/components/parameters/parameter-19028'
      - $ref: '#/components/parameters/parameter-19031'
      - $ref: '#/components/parameters/parameter-19032'
      - $ref: '#/components/parameters/parameter-19039'
      - $ref: '#/components/parameters/parameter-19043'
      - $ref: '#/components/parameters/parameter-19045'
      - $ref: '#/components/parameters/parameter-19047'
      - $ref: '#/components/parameters/parameter-19051'
      - $ref: '#/components/parameters/parameter-19053'
      - $ref: '#/components/parameters/parameter-19056'
      - $ref: '#/components/parameters/parameter-19059'
      - $ref: '#/components/parameters/parameter-19060'
      - $ref: '#/components/parameters/parameter-19062'
      - $ref: '#/components/parameters/parameter-19063'
      - $ref: '#/components/parameters/parameter-19064'
      - $ref: '#/components/parameters/parameter-19065'
      - $ref: '#/components/parameters/parameter-19067'
      - $ref: '#/components/parameters/parameter-19068'
      - $ref: '#/components/parameters/parameter-19069'
      - $ref: '#/components/parameters/parameter-19070'
      - $ref: '#/components/parameters/parameter-19071'
      - $ref: '#/components/parameters/parameter-19072'
      - $ref: '#/components/parameters/parameter-19075'
      - $ref: '#/components/parameters/parameter-19083'
      - $ref: '#/components/parameters/parameter-19084'
      - $ref: '#/components/parameters/parameter-19085'
      - $ref: '#/components/parameters/parameter-19086'
      - $ref: '#/components/parameters/parameter-19087'
      - $ref: '#/components/parameters/parameter-19089'
      - $ref: '#/components/parameters/parameter-19093'
      - $ref: '#/components/parameters/parameter-19094'
      - $ref: '#/components/parameters/parameter-19095'
      - $ref: '#/components/parameters/parameter-19096'
      - $ref: '#/components/parameters/parameter-19097'
      - $ref: '#/components/parameters/parameter-19099'
      - $ref: '#/components/parameters/parameter-19100'
      - $ref: '#/components/parameters/parameter-19101'
      - $ref: '#/components/parameters/parameter-19103'
      - $ref: '#/components/parameters/parameter-19104'
      - $ref: '#/components/parameters/parameter-19107'
      - $ref: '#/components/parameters/parameter-19108'
      - $ref: '#/components/parameters/parameter-19110'
      - $ref: '#/components/parameters/parameter-19113'
      - $ref: '#/components/parameters/parameter-42408'
      - $ref: '#/components/parameters/parameter-54430'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_2'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/f5471486-3c48-45bc-9b1f-05a7d57bdc71-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/f5471486-3c48-45bc-9b1f-05a7d57bdc71-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_ID>DEMOSK02US</ACCT_ID> <ULTM_BENEF_ACCT>DEMOCH1234</ULTM_BENEF_ACCT> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <SEC_GROUP>FI</SEC_GROUP> <ASRD_INCM_IND>ACTU</ASRD_INCM_IND> <BNK_CUST_PMT_COND>YOUR/OUR PAYMENT VALUE</BNK_CUST_PMT_COND> <BNKCUST_REPMT_COND>OUR/YOUR REPAYMENT VALUE</BNKCUST_REPMT_COND> <CLNT_PFD_CUR_CD>USD</CLNT_PFD_CUR_CD> <BENEF>BENEFICIARY NAME</BENEF> <BENEF_BNK>CITIBANK N.A</BENEF_BNK> <BENEF_REF>DEMOSG123456</BENEF_REF> <BR_ID>484</BR_ID> <BRKR_NME>BROKER NAME</BRKR_NME> <BRKR_CODE>1234</BRKR_CODE> <EFF_POST_DT>2019-08-26</EFF_POST_DT> <PRIN_INC_IND>P</PRIN_INC_IND> <CASH_CR_AMT>6136188.61</CASH_CR_AMT> <CASH_DB_AMT>6136188.61</CASH_DB_AMT> <CASH_NET_AMT>6136188.61</CASH_NET_AMT> <CMPNY_DESC>CITIBANK N.A</CMPNY_DESC> <CONTR_PYBL_DT>2019-08-26</CONTR_PYBL_DT> <CORP_ACTN_TYP>BONU</CORP_ACTN_TYP> <CORP_ACTN_TYP_NME>BONUS ISSUE</CORP_ACTN_TYP_NME> <CORR_BNK_ACCT_NBR>123456789</CORR_BNK_ACCT_NBR> <TRAD_BRKR_NME>CITIBANK N.A</TRAD_BRKR_NME> <CUM_AMRT_AMT>6136188.61</CUM_AMRT_AMT> <CUM_QTY>371889</CUM_QTY> <CURR_FCTR>0.01580556</CURR_FCTR> <DTED_TMS>2019-08-26 00:00:00</DTED_TMS> <DIV_RATE>0.452071</DIV_RATE> <ENTLMT_QTY>81338</ENTLMT_QTY> <ENTLMT_STS_NME>PARTIALLY PAID</ENTLMT_STS_NME> <ENTRY_ID>40</ENTRY_ID> <EVENT_CLAS_CD>DIV</EVENT_CLAS_CD> <EX_DISTN_DT>2021-06-09</EX_DISTN_DT> <FED_REF_NBR>C-12345678</FED_REF_NBR> <PCH_CUR_CD>SGD</PCH_CUR_CD> <CUR_CVN_RATE>1.076</CUR_CVN_RATE> <SALE_CUR_CD>INR</SALE_CUR_CD> <FACE_QTY>3147</FACE_QTY> <DIV_AMT>150676.24</DIV_AMT> <GROSS_NET_IND>G</GROSS_NET_IND> <INCM_CUR_CD>SGD</INCM_CUR_CD> <INCM_CUR_NME>SINGAPORE DOLLAR</INCM_CUR_NME> <BASE_INCM_ERND>836509.21</BASE_INCM_ERND> <LCL_INCM_ERND>63099.87</LCL_INCM_ERND> <INCM_IND>N</INCM_IND> <INCM_QTY>124755</INCM_QTY> <INT_PMT_COND>130325 PLN 89,74</INT_PMT_COND> <ISS_CLF_NME>GOLD STRIP</ISS_CLF_NME> <ISS_TMS>2019-11-26 00:00:00</ISS_TMS> <SEC_DESC>TEMPORARY SECURITY 003263100</SEC_DESC> <SEC_SUB_TYP_CD>12</SEC_SUB_TYP_CD> <SEC_SUB_TYP_NME>BOND</SEC_SUB_TYP_NME> <ISSR_LOC_CD>CA</ISSR_LOC_CD> <ISSR_LOC_NME>CANADA</ISSR_LOC_NME> <LCL_CUR_NME>HONG KONG DOLLAR</LCL_CUR_NME> <MATY_DT>2041-10-10 00:00:00</MATY_DT> <NET_DIV>242116.38</NET_DIV> <NOMINEE/> <NOMINEE_CD>88</NOMINEE_CD> <DEAL_REF_NBR>DEMO-1234567</DEAL_REF_NBR> <ONE_DAY_FLO>200</ONE_DAY_FLO> <ORD_BANK_ACCT_NO>DEMOC12345</ORD_BANK_ACCT_NO> <ORD_BANK_ADR_LNE_1>STANDARD STREET</ORD_BANK_ADR_LNE_1> <ORD_BANK_ADR_LNE_2>WILMINGTON</ORD_BANK_ADR_LNE_2> <ORD_BANK_ADR_LNE_3>MAURITIUS AE</ORD_BANK_ADR_LNE_3> <ORD_BANK_ADR_LNE_4>NEW YORK</ORD_BANK_ADR_LNE_4> <ORD_BANK_NME>DEMO ASSET MGMT</ORD_BANK_NME> <ORD_PTY_ACCT_NO>DEMO12345678</ORD_PTY_ACCT_NO> <ORD_PTY_ADR_LNE_1>1/WMHHIKPBST</ORD_PTY_ADR_LNE_1> <ORD_PTY_ADR_LNE_2>429-433 PINNER ROAD</ORD_PTY_ADR_LNE_2> <ORD_PTY_ADR_LNE_3>VKTBI</ORD_PTY_ADR_LNE_3> <ORD_PTY_ADR_LNE_4>POTOMAC,MD</ORD_PTY_ADR_LNE_4> <ORD_PTY_NME>LNIXSHUS YDUBTY</ORD_PTY_NME> <ORIG_BANK_ACCT_NO>DEMOGB2LXXX</ORIG_BANK_ACCT_NO> <ORIG_BANK_ADR_LNE1>KI BWCPYHTDROAZK CITY</ORIG_BANK_ADR_LNE1> <ORIG_BANK_ADR_LNE2>XITUN DIST</ORIG_BANK_ADR_LNE2> <ORIG_BANK_ADR_LNE3>NEW YORK</ORIG_BANK_ADR_LNE3> <ORIG_BANK_ADR_LNE4>US</ORIG_BANK_ADR_LNE4> <PMT_DTL_DESC>Payment for services</PMT_DTL_DESC> <PLEDGE_CDE>0000023634</PLEDGE_CDE> <POOL_ID_CD>AB1234</POOL_ID_CD> <PFD_ISS_ID>BFXCMX4</PFD_ISS_ID> <PREV_FCTR>0.84824716</PREV_FCTR> <PRNCSH_CMB_AMT>836509.21</PRNCSH_CMB_AMT> <PRIN_QTY>1041002</PRIN_QTY> <PRCD_CMB_AMT>113911.25</PRCD_CMB_AMT> <PRDCT_NME>SECURITY SETTLEMENT ADVICE</PRDCT_NME> <PRDCT_TYP>SC</PRDCT_TYP> <RCEV_DIV_AMT>2606.56</RCEV_DIV_AMT> <RCEV_DIV_CUR_CD>HKD</RCEV_DIV_CUR_CD> <REC_DT>2025-01-30</REC_DT> <RELD_REF>CITI2L6777USBK44</RELD_REF> <SUB_DIVSN_ID>N</SUB_DIVSN_ID> <SID_SEDOL>BJ18KB6</SID_SEDOL> <SK_ACCT_ID>614442644</SK_ACCT_ID> <SID_CUSIP>T5379P105</SID_CUSIP> <SID_ISIN>JP3049040003</SID_ISIN> <ACCT_NME>Demo - SK - Japan 2</ACCT_NME> <SOLD_REMIT_INSTRS>ON MATURITY WE WILL CREDIT YOUR ACCOUNT CITIBANK, N.A.</SOLD_REMIT_INSTRS> <TAX_EXT_AMT>3095.25</TAX_EXT_AMT> <TAX_AMT_CUR_CD>EUR</TAX_AMT_CUR_CD> <LOC_CUR_TAX_AMT>2889.12</LOC_CUR_TAX_AMT> <TAX_LCL_CUR_CD>EUR</TAX_LCL_CUR_CD> <TAX_DEDD_IND/> <TXWHLD_CMB_AMT>2203.13</TXWHLD_CMB_AMT> <THREE_DAY_FLO/> <SID_TICKER_SYMB>DARK</SID_TICKER_SYMB> <TRD_EXCUTD_EF_DT>2023-12-26</TRD_EXCUTD_EF_DT> <TRN_CL_CD>DIV</TRN_CL_CD> <TRN_CD>874</TRN_CD> <TRANS_CATG_NME>DIVIDEND</TRANS_CATG_NME> <US_TAX_CD>0080</US_TAX_CD> <CASH_VAL_DT>2023-04-24</CASH_VAL_DT> <EV_CREATED_TMS>2024-07-03 00:00:00</EV_CREATED_TMS> <PREF_SEC_ID_TP>ISIN</PREF_SEC_ID_TP> <DEAL_ID>JP3783050002</DEAL_ID> <CMPNY_NME>FN BS6982</CMPNY_NME> <TRANS_DESC>CASH DIVIDEND , QTY</TRANS_DESC> <DB_CR_IND>C</DB_CR_IND> <LCL_CUR_CD>SGD</LCL_CUR_CD> <AMT>15416.98</AMT> <CLNT_REF_NBR>5516313912</CLNT_REF_NBR> <INTRNL_REF_ID>143720728</INTRNL_REF_ID> <EOD_INTRA_IND>2</EOD_INTRA_IND> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <BGHT_REMIT_INSTRS>ON MATURITY WE WILL DEBIT YOUR ACCOUNT</BGHT_REMIT_INSTRS> <TRANS_REF_NBR>156943580</TRANS_REF_NBR> <POST_SEC_DESC>FN CB4658</POST_SEC_DESC> <DNOMD_CUR_CD>HKD</DNOMD_CUR_CD> <PFD_ID_CTXT_CD>ISIN</PFD_ID_CTXT_CD> <STRK_PRC_AMT>109.9</STRK_PRC_AMT> <DLAY_DAYS>13</DLAY_DAYS> <CNTRY_CD>JE</CNTRY_CD> <ENTRY_TYP/> <FCTR_DTE>2023-12-10 00:00:00</FCTR_DTE> <PMT_FREQY_DESC>Annual</PMT_FREQY_DESC> <ACRL_BASIS_CDE>00043</ACRL_BASIS_CDE> <ACRL_BASIS_NME>360 / 365</ACRL_BASIS_NME> <NXT_PAY_DT>2026-04-22</NXT_PAY_DT> <PMT_FREQY>00001</PMT_FREQY> <PREV_FCTR_RATE>0.18340964</PREV_FCTR_RATE> <ISS_CATG_CD>EQTY</ISS_CATG_CD> <ISS_CAT_NME>EQUITIES</ISS_CAT_NME> <CURR_FCTR_RATE>0.4515268</CURR_FCTR_RATE> <INCM_PROJN_RATE>3.0946</INCM_PROJN_RATE> <RECORD_DT>2024-05-21</RECORD_DT> <SEC_SECURITY_CD>000BMG6KT4</SEC_SECURITY_CD> <SEC_SHRT_NME>FR QN4224</SEC_SHRT_NME> <LST_BUSCLS_DT>2024-07-04</LST_BUSCLS_DT> <ACT_SETT_DT>2024-08-22</ACT_SETT_DT> <CA_INCM_IND>C</CA_INCM_IND> <INTRNL_REF_ID_CA>15396821</INTRNL_REF_ID_CA> <TRN_CL_CD_CA>CATX</TRN_CL_CD_CA> <CLIENT_ID_1>1068</CLIENT_ID_1> <CLIENT_ID_2>3355</CLIENT_ID_2> <ACCT_PLEDGE_TYPE>P</ACCT_PLEDGE_TYPE> <EX_DATE>2022-06-30</EX_DATE> <PAY_DATE>2022-01-05</PAY_DATE> <PAY_RATE>0.032757</PAY_RATE> <SID_LOCAL>0059663300</SID_LOCAL> <RVSL_IND>Y</RVSL_IND> <CASH_TRANS_TYPE>ACH PYMT</CASH_TRANS_TYPE> <MKT_TRANS_TYPE>TAX PAYMENT</MKT_TRANS_TYPE> <COB_DATE>2024-07-10</COB_DATE> <IOD_TIMESTAMP>2024-11-12 19:30:08</IOD_TIMESTAMP> <HEAD_ACCOUNT>1234567</HEAD_ACCOUNT> <SEGMENT>PAYMENT</SEGMENT> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServicesF54714863c4845bc9b1f05a7d57bdc71Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/0687f793-b687-4ac0-9337-e6a0c8445918/filter:
    get:
      summary: Current Cash Transactions
      description: Current Cash Transactions provides the cash transactions for the current business day for each cash account.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_2'
      - $ref: '#/components/parameters/parameter-13835'
      - $ref: '#/components/parameters/parameter-29833'
      - $ref: '#/components/parameters/parameter-13837'
      - $ref: '#/components/parameters/parameter-13838'
      - $ref: '#/components/parameters/parameter-13839'
      - $ref: '#/components/parameters/parameter-13842'
      - $ref: '#/components/parameters/parameter-28897'
      - $ref: '#/components/parameters/parameter-28751'
      - $ref: '#/components/parameters/parameter-28808'
      - $ref: '#/components/parameters/parameter-28809'
      - $ref: '#/components/parameters/parameter-28811'
      - $ref: '#/components/parameters/parameter-28812'
      - $ref: '#/components/parameters/parameter-28813'
      - $ref: '#/components/parameters/parameter-28814'
      - $ref: '#/components/parameters/parameter-28752'
      - $ref: '#/components/parameters/parameter-28753'
      - $ref: '#/components/parameters/parameter-28754'
      - $ref: '#/components/parameters/parameter-28898'
      - $ref: '#/components/parameters/parameter-28799'
      - $ref: '#/components/parameters/parameter-28800'
      - $ref: '#/components/parameters/parameter-28801'
      - $ref: '#/components/parameters/parameter-28790'
      - $ref: '#/components/parameters/parameter-28742'
      - $ref: '#/components/parameters/parameter-28743'
      - $ref: '#/components/parameters/parameter-28744'
      - $ref: '#/components/parameters/parameter-28825'
      - $ref: '#/components/parameters/parameter-28826'
      - $ref: '#/components/parameters/parameter-28746'
      - $ref: '#/components/parameters/parameter-28894'
      - $ref: '#/components/parameters/parameter-28821'
      - $ref: '#/components/parameters/parameter-28782'
      - $ref: '#/components/parameters/parameter-28831'
      - $ref: '#/components/parameters/parameter-28727'
      - $ref: '#/components/parameters/parameter-28853'
      - $ref: '#/components/parameters/parameter-28854'
      - $ref: '#/components/parameters/parameter-28728'
      - $ref: '#/components/parameters/parameter-28867'
      - $ref: '#/components/parameters/parameter-28731'
      - $ref: '#/components/parameters/parameter-28855'
      - $ref: '#/components/parameters/parameter-28859'
      - $ref: '#/components/parameters/parameter-28860'
      - $ref: '#/components/parameters/parameter-28861'
      - $ref: '#/components/parameters/parameter-28862'
      - $ref: '#/components/parameters/parameter-28863'
      - $ref: '#/components/parameters/parameter-28864'
      - $ref: '#/components/parameters/parameter-28865'
      - $ref: '#/components/parameters/parameter-28846'
      - $ref: '#/components/parameters/parameter-28847'
      - $ref: '#/components/parameters/parameter-28848'
      - $ref: '#/components/parameters/parameter-28849'
      - $ref: '#/components/parameters/parameter-28850'
      - $ref: '#/components/parameters/parameter-28879'
      - $ref: '#/components/parameters/parameter-28883'
      - $ref: '#/components/parameters/parameter-28889'
      - $ref: '#/components/parameters/parameter-28890'
      - $ref: '#/components/parameters/parameter-28785'
      - $ref: '#/components/parameters/parameter-28786'
      - $ref: '#/components/parameters/parameter-28787'
      - $ref: '#/components/parameters/parameter-28765'
      - $ref: '#/components/parameters/parameter-28768'
      - $ref: '#/components/parameters/parameter-28761'
      - $ref: '#/components/parameters/parameter-28773'
      - $ref: '#/components/parameters/parameter-28775'
      - $ref: '#/components/parameters/parameter-28764'
      - $ref: '#/components/parameters/parameter-28769'
      - $ref: '#/components/parameters/parameter-28770'
      - $ref: '#/components/parameters/parameter-28724'
      - $ref: '#/components/parameters/parameter-28836'
      - $ref: '#/components/parameters/parameter-28844'
      - $ref: '#/components/parameters/parameter-28856'
      - $ref: '#/components/parameters/parameter-28857'
      - $ref: '#/components/parameters/parameter-28858'
      - $ref: '#/components/parameters/parameter-28842'
      - $ref: '#/components/parameters/parameter-28900'
      - $ref: '#/components/parameters/parameter-28736'
      - $ref: '#/components/parameters/parameter-28834'
      - $ref: '#/components/parameters/parameter-28738'
      - $ref: '#/components/parameters/parameter-28819'
      - $ref: '#/components/parameters/parameter-28840'
      - $ref: '#/components/parameters/parameter-28776'
      - $ref: '#/components/parameters/parameter-28845'
      - $ref: '#/components/parameters/parameter-13978'
      - $ref: '#/components/parameters/parameter-13979'
      - $ref: '#/components/parameters/parameter-13980'
      - $ref: '#/components/parameters/parameter-13982'
      - $ref: '#/components/parameters/parameter-13983'
      - $ref: '#/components/parameters/parameter-13984'
      - $ref: '#/components/parameters/parameter-13987'
      - $ref: '#/components/parameters/parameter-13988'
      - $ref: '#/components/parameters/parameter-13989'
      - $ref: '#/components/parameters/parameter-13992'
      - $ref: '#/components/parameters/parameter-13993'
      - $ref: '#/components/parameters/parameter-13994'
      - $ref: '#/components/parameters/parameter-13995'
      - $ref: '#/components/parameters/parameter-13998'
      - $ref: '#/components/parameters/parameter-13999'
      - $ref: '#/components/parameters/parameter-14004'
      - $ref: '#/components/parameters/parameter-14007'
      - $ref: '#/components/parameters/parameter-14008'
      - $ref: '#/components/parameters/parameter-14009'
      - $ref: '#/components/parameters/parameter-14010'
      - $ref: '#/components/parameters/parameter-14011'
      - $ref: '#/components/parameters/parameter-14012'
      - $ref: '#/components/parameters/parameter-14013'
      - $ref: '#/components/parameters/parameter-14014'
      - $ref: '#/components/parameters/parameter-14016'
      - $ref: '#/components/parameters/parameter-14017'
      - $ref: '#/components/parameters/parameter-14019'
      - $ref: '#/components/parameters/parameter-14020'
      - $ref: '#/components/parameters/parameter-14023'
      - $ref: '#/components/parameters/parameter-28771'
      - $ref: '#/components/parameters/parameter-28820'
      - $ref: '#/components/parameters/parameter-28745'
      - $ref: '#/components/parameters/parameter-28747'
      - $ref: '#/components/parameters/parameter-28722'
      - $ref: '#/components/parameters/parameter-28872'
      - $ref: '#/components/parameters/parameter-28723'
      - $ref: '#/components/parameters/parameter-28779'
      - $ref: '#/components/parameters/parameter-28906'
      - $ref: '#/components/parameters/parameter-28749'
      - $ref: '#/components/parameters/parameter-28726'
      - $ref: '#/components/parameters/parameter-28837'
      - $ref: '#/components/parameters/parameter-28886'
      - $ref: '#/components/parameters/parameter-28719'
      - $ref: '#/components/parameters/parameter-28740'
      - $ref: '#/components/parameters/parameter-14049'
      - $ref: '#/components/parameters/parameter-14050'
      - $ref: '#/components/parameters/parameter-14052'
      - $ref: '#/components/parameters/parameter-14053'
      - $ref: '#/components/parameters/parameter-28835'
      - $ref: '#/components/parameters/parameter-28866'
      - $ref: '#/components/parameters/parameter-14060'
      - $ref: '#/components/parameters/parameter-14061'
      - $ref: '#/components/parameters/parameter-14062'
      - $ref: '#/components/parameters/parameter-28902'
      - $ref: '#/components/parameters/parameter-28827'
      - $ref: '#/components/parameters/parameter-28806'
      - $ref: '#/components/parameters/parameter-28833'
      - $ref: '#/components/parameters/parameter-28817'
      - $ref: '#/components/parameters/parameter-28829'
      - $ref: '#/components/parameters/parameter-28777'
      - $ref: '#/components/parameters/parameter-28788'
      - $ref: '#/components/parameters/parameter-28789'
      - $ref: '#/components/parameters/parameter-28818'
      - $ref: '#/components/parameters/parameter-28748'
      - $ref: '#/components/parameters/parameter-14088'
      - $ref: '#/components/parameters/parameter-14090'
      - $ref: '#/components/parameters/parameter-28882'
      - $ref: '#/components/parameters/parameter-28893'
      - $ref: '#/components/parameters/parameter-28804'
      - $ref: '#/components/parameters/parameter-28869'
      - $ref: '#/components/parameters/parameter-54318'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_2'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/0687f793-b687-4ac0-9337-e6a0c8445918-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/0687f793-b687-4ac0-9337-e6a0c8445918-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <BR_ID>484</BR_ID> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <ACCT_BUS_ID>CITI</ACCT_BUS_ID> <ACCT_NME>Demo - SK - Japan 2</ACCT_NME> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <CONTR_PYBL_DT>2019-08-26</CONTR_PYBL_DT> <AMT>15416.98</AMT> <BENEF>BENEFICIARY NAME</BENEF> <BENEF_BNK>CITIBANK N.A</BENEF_BNK> <BENEF_REF>DEMOSG123456</BENEF_REF> <BGHT_REMIT_INSTRS>ON MATURITY WE WILL DEBIT YOUR ACCOUNT</BGHT_REMIT_INSTRS> <BNK_CUST_PMT_COND>YOUR/OUR PAYMENT VALUE</BNK_CUST_PMT_COND> <BNKCUST_REPMT_COND>OUR/YOUR REPAYMENT VALUE</BNKCUST_REPMT_COND> <CASH_CR_AMT>6136188.61</CASH_CR_AMT> <CASH_DB_AMT>6136188.61</CASH_DB_AMT> <CASH_NET_AMT>6136188.61</CASH_NET_AMT> <CASH_VAL_DT>2023-04-2</CASH_VAL_DT> <CLNT_REF_NBR>5516313912</CLNT_REF_NBR> <CMPNY_DESC>CITIBANK N.A</CMPNY_DESC> <CMPNY_NME>FN BS6982</CMPNY_NME> <CORR_BNK_ACCT_NBR>123456789</CORR_BNK_ACCT_NBR> <CUM_AMRT_AMT>6136188.61</CUM_AMRT_AMT> <CUM_QTY>371889</CUM_QTY> <CUR_CVN_RATE>1.076</CUR_CVN_RATE> <DB_CR_IND>C</DB_CR_IND> <DEAL_ID>JP3783050002</DEAL_ID> <DIV_AMT>150676.24</DIV_AMT> <EV_CREATED_TMS>2024-07-03 00:00:00</EV_CREATED_TMS> <EVENT_CLAS_CD>DIV</EVENT_CLAS_CD> <TRANS_CATG_NME>DIVIDEND</TRANS_CATG_NME> <INT_PMT_COND>130325 PLN 89,74</INT_PMT_COND> <LOC_CUR_TAX_AMT>2889.12</LOC_CUR_TAX_AMT> <LCL_CUR_CD>SGD</LCL_CUR_CD> <LCL_CUR_NME>HONG KONG DOLLAR</LCL_CUR_NME> <NET_DIV>242116.38</NET_DIV> <NOMINEE_CD>88</NOMINEE_CD> <ONE_DAY_FLO>200</ONE_DAY_FLO> <ORD_BANK_ACCT_NO>DEMOC12345</ORD_BANK_ACCT_NO> <ORD_BANK_ADR_LNE_4>NEW YORK</ORD_BANK_ADR_LNE_4> <ORD_BANK_NME>DEMO ASSET MGMT</ORD_BANK_NME> <ORD_PTY_ACCT_NO>DEMO12345678</ORD_PTY_ACCT_NO> <ORD_PTY_ADR_LNE_1>1/WMHHIKPBST</ORD_PTY_ADR_LNE_1> <ORD_PTY_ADR_LNE_2>429-433 PINNER ROAD</ORD_PTY_ADR_LNE_2> <ORD_PTY_ADR_LNE_3>VKTBI</ORD_PTY_ADR_LNE_3> <ORD_PTY_ADR_LNE_4>POTOMAC,MD</ORD_PTY_ADR_LNE_4> <ORIG_BANK_ACCT_NO>DEMOGB2LXXX</ORIG_BANK_ACCT_NO> <ORIG_BANK_ADR_LNE1>KI BWCPYHTDROAZK CITY</ORIG_BANK_ADR_LNE1> <ORIG_BANK_ADR_LNE2>XITUN DIST</ORIG_BANK_ADR_LNE2> <ORIG_BANK_ADR_LNE3>NEW YORK</ORIG_BANK_ADR_LNE3> <ORIG_BANK_ADR_LNE4>US</ORIG_BANK_ADR_LNE4> <RELD_REF>CITI2L6777USBK44</RELD_REF> <SALE_CUR_CD>INR</SALE_CUR_CD> <SK_ACCT_ID>614442644</SK_ACCT_ID> <SOLD_REMIT_INSTRS>ON MATURITY WE WILL CREDIT YOUR ACCOUNT CITIBANK, N.A.</SOLD_REMIT_INSTRS> <SUB_DIVSN_ID>N</SUB_DIVSN_ID> <TAX_AMT_CUR_CD>EUR</TAX_AMT_CUR_CD> <TAX_DEDD_IND/> <TAX_EXT_AMT>3095.25</TAX_EXT_AMT> <TAX_LCL_CUR_CD>EUR</TAX_LCL_CUR_CD> <THREE_DAY_FLO/> <TRANS_REF_NBR>156943580</TRANS_REF_NBR> <TRN_CD>874</TRN_CD> <TXWHLD_CMB_AMT>2203.13</TXWHLD_CMB_AMT> <ULTM_BENEF_ACCT>DEMOCH1234</ULTM_BENEF_ACCT> <US_TAX_CD>0080</US_TAX_CD> <PRNCSH_CMB_AMT>836509.21</PRNCSH_CMB_AMT> <PRDCT_NME>SECURITY SETTLEMENT ADVICE</PRDCT_NME> <PMT_DTL_DESC>Payment for services</PMT_DTL_DESC> <ORD_BANK_ADR_LNE_1>STANDARD STREET</ORD_BANK_ADR_LNE_1> <ORD_BANK_ADR_LNE_2>WILMINGTON</ORD_BANK_ADR_LNE_2> <ORD_BANK_ADR_LNE_3>MAURITIUS AE</ORD_BANK_ADR_LNE_3> <PCH_CUR_CD>SGD</PCH_CUR_CD> <EFF_POST_DT>2019-08-26</EFF_POST_DT> <PRCD_CMB_AMT>113911.25</PRCD_CMB_AMT> <INCM_IND>N</INCM_IND> <FACE_QTY>3147</FACE_QTY> <ENTRY_ID>40</ENTRY_ID> <PREF_SEC_ID_TP>ISIN</PREF_SEC_ID_TP> <TRN_CL_CD>CATX</TRN_CL_CD> <POST_SEC_DESC>FN CB4658</POST_SEC_DESC> <SEC_DESC>TEMPORARY SECURITY 003263100</SEC_DESC> <DTED_TMS>2019-08-26 00:00:00</DTED_TMS> <DNOMD_CUR_CD>HKD</DNOMD_CUR_CD> <INCM_CUR_CD>SGD</INCM_CUR_CD> <INCM_CUR_NME>SINGAPORE DOLLAR</INCM_CUR_NME> <ISS_TMS>2019-11-26 00:00:00</ISS_TMS> <ISSR_LOC_CD>CA</ISSR_LOC_CD> <ISSR_LOC_NME>CANADA</ISSR_LOC_NME> <SEC_GROUP>FI</SEC_GROUP> <MATY_DT>2041-10-10 00:00:00</MATY_DT> <POOL_ID_CD>AB1234</POOL_ID_CD> <PFD_ID_CTXT_CD>ISIN</PFD_ID_CTXT_CD> <PFD_ISS_ID>BFXCMX4</PFD_ISS_ID> <STRK_PRC_AMT>109.9</STRK_PRC_AMT> <SID_TICKER_SYMB>DARK</SID_TICKER_SYMB> <DLAY_DAYS>13</DLAY_DAYS> <CNTRY_CD>JE</CNTRY_CD> <ENTRY_TYP/> <FCTR_DTE>2023-12-10 00:00:00</FCTR_DTE> <PMT_FREQY_DESC>Annual</PMT_FREQY_DESC> <SID_ISIN>JP3049040003</SID_ISIN> <SID_SEDOL>BJ18KB6</SID_SEDOL> <ACRL_BASIS_CDE>00043</ACRL_BASIS_CDE> <ACRL_BASIS_NME>360 / 365</ACRL_BASIS_NME> <NXT_PAY_DT>2026-04-22</NXT_PAY_DT> <PMT_FREQY>00001</PMT_FREQY> <ISS_CATG_CD>EQTY</ISS_CATG_CD> <ISS_CAT_NME>EQUITIES</ISS_CAT_NME> <INCM_PROJN_RATE>3.0946</INCM_PROJN_RATE> <TRANS_DESC>CASH DIVIDEND , QTY</TRANS_DESC> <EOD_INTRA_IND>2</EOD_INTRA_IND> <CURR_FCTR>0.01580556</CURR_FCTR> <DIV_RATE>0.452071</DIV_RATE> <PREV_FCTR>0.84824716</PREV_FCTR> <PRIN_INC_IND>P</PRIN_INC_IND> <PRIN_QTY>1041002</PRIN_QTY> <TRAD_BRKR_NME>CITIBANK N.A</TRAD_BRKR_NME> <TRD_EXCUTD_EF_DT>2023-12-26</TRD_EXCUTD_EF_DT> <BASE_INCM_ERND>836509.21</BASE_INCM_ERND> <LCL_INCM_ERND>63099.87</LCL_INCM_ERND> <PRDCT_TYP>SC</PRDCT_TYP> <RCEV_DIV_CUR_CD>HKD</RCEV_DIV_CUR_CD> <RCEV_DIV_AMT>2606.56</RCEV_DIV_AMT> <INCM_QTY>124755</INCM_QTY> <SID_CUSIP>T5379P105</SID_CUSIP> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <SEC_SUB_TYP_CD>12</SEC_SUB_TYP_CD> <SEC_SUB_TYP_NME>BOND</SEC_SUB_TYP_NME> <FED_REF_NBR>C-12345678</FED_REF_NBR> <ORD_PTY_NME>LNIXSHUS YDUBTY</ORD_PTY_NME> <SEC_SECURITY_CD>000BMG6KT4</SEC_SECURITY_CD> <SEC_SHRT_NME>FR QN4224</SEC_SHRT_NME> <LST_BUSCLS_DT>2024-07-04</LST_BUSCLS_DT> <ACT_SETT_DT>2024-08-22</ACT_SETT_DT> <DEAL_REF_NBR>DEMO-1234567</DEAL_REF_NBR> <ASRD_INCM_IND>ACTU</ASRD_INCM_IND> <GROSS_NET_IND>G</GROSS_NET_IND> <CA_INCM_IND>C</CA_INCM_IND> <INTRNL_REF_ID_CA>15396821</INTRNL_REF_ID_CA> <TRN_CL_CD_CA>CATX</TRN_CL_CD_CA> <CORP_ACTN_TYP>BONU</CORP_ACTN_TYP> <CORP_ACTN_TYP_NME>BONUS ISSUE</CORP_ACTN_TYP_NME> <ENTLMT_STS_NME>PARTIALLY PAID</ENTLMT_STS_NME> <ENTLMT_QTY>81338</ENTLMT_QTY> <PAY_DATE>2022-01-05</PAY_DATE> <SID_LOCAL>0059663300</SID_LOCAL> <RVSL_IND>Y</RVSL_IND> <IOD_UPDATE_TMS>2024-10-01 05:30:10</IOD_UPDATE_TMS> <CASH_TRANS_TYPE>ACH PYMT</CASH_TRANS_TYPE> <MKT_TRANS_TYPE>TAX PAYMENT</MKT_TRANS_TYPE> <CITI_INTRNL_REF_ID>T135177509</CITI_INTRNL_REF_ID> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices0687f793B6874ac09337E6a0c8445918Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/e31d9564-2523-4b96-8144-1bc9579a7f85/filter:
    get:
      summary: FX Transaction Data
      description: FX trade data from CR which covers both internal and external FX
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_3'
      - $ref: '#/components/parameters/parameter-53531'
      - $ref: '#/components/parameters/parameter-53477'
      - $ref: '#/components/parameters/parameter-53519'
      - $ref: '#/components/parameters/parameter-53475'
      - $ref: '#/components/parameters/parameter-53517'
      - $ref: '#/components/parameters/parameter-53528'
      - $ref: '#/components/parameters/parameter-53529'
      - $ref: '#/components/parameters/parameter-53472'
      - $ref: '#/components/parameters/parameter-53468'
      - $ref: '#/components/parameters/parameter-53492'
      - $ref: '#/components/parameters/parameter-53521'
      - $ref: '#/components/parameters/parameter-53479'
      - $ref: '#/components/parameters/parameter-53494'
      - $ref: '#/components/parameters/parameter-53490'
      - $ref: '#/components/parameters/parameter-53491'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_3'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e31d9564-2523-4b96-8144-1bc9579a7f85-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/e31d9564-2523-4b96-8144-1bc9579a7f85-xml-response-schema'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServicesE31d956425234b9681441bc9579a7f85Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/3de83cae-f7b8-4ba6-8f2f-4869ce6284e2/filter:
    get:
      summary: Daily Settlement Discipline Penalties
      description: Daily Penalties Report
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_4'
      - $ref: '#/components/parameters/parameter-53373'
      - $ref: '#/components/parameters/parameter-53374'
      - $ref: '#/components/parameters/parameter-53375'
      - $ref: '#/components/parameters/parameter-53376'
      - $ref: '#/components/parameters/parameter-53377'
      - $ref: '#/components/parameters/parameter-53378'
      - $ref: '#/components/parameters/parameter-53379'
      - $ref: '#/components/parameters/parameter-53380'
      - $ref: '#/components/parameters/parameter-53381'
      - $ref: '#/components/parameters/parameter-53382'
      - $ref: '#/components/parameters/parameter-53383'
      - $ref: '#/components/parameters/parameter-53384'
      - $ref: '#/components/parameters/parameter-53385'
      - $ref: '#/components/parameters/parameter-53386'
      - $ref: '#/components/parameters/parameter-53387'
      - $ref: '#/components/parameters/parameter-53388'
      - $ref: '#/components/parameters/parameter-53389'
      - $ref: '#/components/parameters/parameter-53390'
      - $ref: '#/components/parameters/parameter-53391'
      - $ref: '#/components/parameters/parameter-53392'
      - $ref: '#/components/parameters/parameter-53393'
      - $ref: '#/components/parameters/parameter-53394'
      - $ref: '#/components/parameters/parameter-53395'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_4'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/3de83cae-f7b8-4ba6-8f2f-4869ce6284e2-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/3de83cae-f7b8-4ba6-8f2f-4869ce6284e2-xml-response-schema'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices3de83caeF7b84ba68f2f4869ce6284e2Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/4b1404f9-e30e-434d-aca0-151861edacf1/filter:
    get:
      summary: Monthly Settlement Discipline Penalties Breakdown
      description: Monthly Penalties Breakdown Report
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_4'
      - $ref: '#/components/parameters/parameter-53424'
      - $ref: '#/components/parameters/parameter-53425'
      - $ref: '#/components/parameters/parameter-53426'
      - $ref: '#/components/parameters/parameter-53427'
      - $ref: '#/components/parameters/parameter-53428'
      - $ref: '#/components/parameters/parameter-53429'
      - $ref: '#/components/parameters/parameter-53430'
      - $ref: '#/components/parameters/parameter-53431'
      - $ref: '#/components/parameters/parameter-53432'
      - $ref: '#/components/parameters/parameter-53433'
      - $ref: '#/components/parameters/parameter-53434'
      - $ref: '#/components/parameters/parameter-53435'
      - $ref: '#/components/parameters/parameter-53436'
      - $ref: '#/components/parameters/parameter-53437'
      - $ref: '#/components/parameters/parameter-53438'
      - $ref: '#/components/parameters/parameter-53439'
      - $ref: '#/components/parameters/parameter-53440'
      - $ref: '#/components/parameters/parameter-53441'
      - $ref: '#/components/parameters/parameter-53442'
      - $ref: '#/components/parameters/parameter-53443'
      - $ref: '#/components/parameters/parameter-53444'
      - $ref: '#/components/parameters/parameter-53445'
      - $ref: '#/components/parameters/parameter-53446'
      - $ref: '#/components/parameters/parameter-53447'
      - $ref: '#/components/parameters/parameter-53448'
      - $ref: '#/components/parameters/parameter-53449'
      - $ref: '#/components/parameters/parameter-53450'
      - $ref: '#/components/parameters/parameter-53451'
      - $ref: '#/components/parameters/parameter-53452'
      - $ref: '#/components/parameters/parameter-53453'
      - $ref: '#/components/parameters/parameter-53454'
      - $ref: '#/components/parameters/parameter-53455'
      - $ref: '#/components/parameters/parameter-53456'
      - $ref: '#/components/parameters/parameter-53457'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_4'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4b1404f9-e30e-434d-aca0-151861edacf1-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/4b1404f9-e30e-434d-aca0-151861edacf1-xml-response-schema'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices4b1404f9E30e434dAca0151861edacf1Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/56e333ad-6934-4a26-9924-4c74d60397f2/filter:
    get:
      summary: Account Master
      description: All safekeeping and cash accounts are identified here, with attributes such as the Account ID, the account name, the status of the account etc.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_5'
      - $ref: '#/components/parameters/parameter-36548'
      - $ref: '#/components/parameters/parameter-36545'
      - $ref: '#/components/parameters/parameter-36544'
      - $ref: '#/components/parameters/parameter-36539'
      - $ref: '#/components/parameters/parameter-36535'
      - $ref: '#/components/parameters/parameter-36533'
      - $ref: '#/components/parameters/parameter-36528'
      - $ref: '#/components/parameters/parameter-36524'
      - $ref: '#/components/parameters/parameter-36522'
      - $ref: '#/components/parameters/parameter-36519'
      - $ref: '#/components/parameters/parameter-36518'
      - $ref: '#/components/parameters/parameter-36505'
      - $ref: '#/components/parameters/parameter-36502'
      - $ref: '#/components/parameters/parameter-36551'
      - $ref: '#/components/parameters/parameter-47704'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_5'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/56e333ad-6934-4a26-9924-4c74d60397f2-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/56e333ad-6934-4a26-9924-4c74d60397f2-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_BUS_TYP_NME>C</ACCT_BUS_TYP_NME> <ACCT_CLS_DT>2025-08-02</ACCT_CLS_DT> <ACCT_ID>DEMOCSH53JPY</ACCT_ID> <ACCT_NME>Demo - Cash - Japan JPY 11</ACCT_NME> <ACCT_OPN_DT>2025-08-02</ACCT_OPN_DT> <ACCT_STS_TYP>Open</ACCT_STS_TYP> <ALT_ACCT_NME>Demo - Cash - Japan JPY 11</ALT_ACCT_NME> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <BR_NME>CITIBANK JAPAN LTD</BR_NME> <CASH_TYPE>1</CASH_TYPE> <GFC_ID>1000123456</GFC_ID> <IBAN/> <LEGAL_ENTITY/> <RELATED_SAFEKEEPING_ACCT_ID/> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices56e333ad69344a2699244c74d60397f2Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/1040640e-125f-41e2-a262-88dea5f338bd/filter:
    get:
      summary: Security Positions
      description: Provides Custody Security positions , market values for a particular date and safekeeping account
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_6'
      - $ref: '#/components/parameters/parameter-19114'
      - $ref: '#/components/parameters/parameter-19115'
      - $ref: '#/components/parameters/parameter-19116'
      - $ref: '#/components/parameters/parameter-19119'
      - $ref: '#/components/parameters/parameter-19120'
      - $ref: '#/components/parameters/parameter-19121'
      - $ref: '#/components/parameters/parameter-19122'
      - $ref: '#/components/parameters/parameter-19124'
      - $ref: '#/components/parameters/parameter-19126'
      - $ref: '#/components/parameters/parameter-19127'
      - $ref: '#/components/parameters/parameter-19130'
      - $ref: '#/components/parameters/parameter-19133'
      - $ref: '#/components/parameters/parameter-19135'
      - $ref: '#/components/parameters/parameter-19136'
      - $ref: '#/components/parameters/parameter-19137'
      - $ref: '#/components/parameters/parameter-19138'
      - $ref: '#/components/parameters/parameter-19145'
      - $ref: '#/components/parameters/parameter-19151'
      - $ref: '#/components/parameters/parameter-19152'
      - $ref: '#/components/parameters/parameter-19153'
      - $ref: '#/components/parameters/parameter-19154'
      - $ref: '#/components/parameters/parameter-19156'
      - $ref: '#/components/parameters/parameter-19157'
      - $ref: '#/components/parameters/parameter-19160'
      - $ref: '#/components/parameters/parameter-19162'
      - $ref: '#/components/parameters/parameter-19163'
      - $ref: '#/components/parameters/parameter-19164'
      - $ref: '#/components/parameters/parameter-19165'
      - $ref: '#/components/parameters/parameter-19167'
      - $ref: '#/components/parameters/parameter-19168'
      - $ref: '#/components/parameters/parameter-19169'
      - $ref: '#/components/parameters/parameter-19170'
      - $ref: '#/components/parameters/parameter-19174'
      - $ref: '#/components/parameters/parameter-19175'
      - $ref: '#/components/parameters/parameter-19181'
      - $ref: '#/components/parameters/parameter-19182'
      - $ref: '#/components/parameters/parameter-19183'
      - $ref: '#/components/parameters/parameter-19185'
      - $ref: '#/components/parameters/parameter-19186'
      - $ref: '#/components/parameters/parameter-19190'
      - $ref: '#/components/parameters/parameter-19191'
      - $ref: '#/components/parameters/parameter-19192'
      - $ref: '#/components/parameters/parameter-19193'
      - $ref: '#/components/parameters/parameter-19194'
      - $ref: '#/components/parameters/parameter-19195'
      - $ref: '#/components/parameters/parameter-19196'
      - $ref: '#/components/parameters/parameter-19197'
      - $ref: '#/components/parameters/parameter-19198'
      - $ref: '#/components/parameters/parameter-19199'
      - $ref: '#/components/parameters/parameter-19200'
      - $ref: '#/components/parameters/parameter-19201'
      - $ref: '#/components/parameters/parameter-19202'
      - $ref: '#/components/parameters/parameter-19205'
      - $ref: '#/components/parameters/parameter-19206'
      - $ref: '#/components/parameters/parameter-19226'
      - $ref: '#/components/parameters/parameter-19228'
      - $ref: '#/components/parameters/parameter-19229'
      - $ref: '#/components/parameters/parameter-19230'
      - $ref: '#/components/parameters/parameter-19231'
      - $ref: '#/components/parameters/parameter-19235'
      - $ref: '#/components/parameters/parameter-19237'
      - $ref: '#/components/parameters/parameter-19245'
      - $ref: '#/components/parameters/parameter-48549'
      - $ref: '#/components/parameters/parameter-48550'
      - $ref: '#/components/parameters/parameter-48551'
      - $ref: '#/components/parameters/parameter-19247'
      - $ref: '#/components/parameters/parameter-19248'
      - $ref: '#/components/parameters/parameter-19250'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_6'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/1040640e-125f-41e2-a262-88dea5f338bd-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/1040640e-125f-41e2-a262-88dea5f338bd-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <BR_ID>484</BR_ID> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ALTN_CUR_EXCH_RATE>8.9076</ALTN_CUR_EXCH_RATE> <ALTV_CUR_VAL>138923711.7</ALTV_CUR_VAL> <ISS_CAT_NME>EQUITIES</ISS_CAT_NME> <SEC_GROUP>FI</SEC_GROUP> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <CNTR_CD>RSA</CNTR_CD> <CNTR_CD_DESC>NORTHFIELD LLC</CNTR_CD_DESC> <CURR_FCTR>0.01580556</CURR_FCTR> <GFC_ID>1000012345</GFC_ID> <DTED_TMS>2019-08-26 00:00:00</DTED_TMS> <DLAY_DAYS>13</DLAY_DAYS> <DNOMD_CUR_CD>HKD</DNOMD_CUR_CD> <CNTRY_CD>JE</CNTRY_CD> <SETL_HOLD_ST>LE</SETL_HOLD_ST> <SEC_DESC>TEMPORARY SECURITY 003263100</SEC_DESC> <ISS_PRC>35.811</ISS_PRC> <SEC_SUB_TYP_CD>12</SEC_SUB_TYP_CD> <SEC_SUB_TYP_NME>BOND</SEC_SUB_TYP_NME> <ISSR_LOC_CD>CA</ISSR_LOC_CD> <ISSR_LOC_NME>CANADA</ISSR_LOC_NME> <MKT_VAL_AMT>927444.82</MKT_VAL_AMT> <STK_EXCHG_NME>VIDACOS NOMINEES LIMITED</STK_EXCHG_NME> <PMT_FREQY_DESC>Annual</PMT_FREQY_DESC> <PNDNG_DELIV>-34891</PNDNG_DELIV> <PNDNG_RECV>353400</PNDNG_RECV> <POOL_ID_CD>AB1234</POOL_ID_CD> <HLDNG_UPD_TMS>2019-08-27 00:00:00</HLDNG_UPD_TMS> <PREV_FCTR>0.84824716</PREV_FCTR> <PRC_CCY_NME>POUND STERLING</PRC_CCY_NME> <SID_SEDOL>BJ18KB6</SID_SEDOL> <SID_CUSIP>T5379P105</SID_CUSIP> <ST_NME>CALIFORNIA</ST_NME> <ST_CD>CA</ST_CD> <STRK_PRC_AMT>109.9</STRK_PRC_AMT> <SID_TICKER_SYMB>DARK</SID_TICKER_SYMB> <TRDED_QTY>755435</TRDED_QTY> <MKT_PRC_CUR_CD>GBP</MKT_PRC_CUR_CD> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - Japan 2</ACCT_NME> <MATY_DT>2041-10-10 00:00:00</MATY_DT> <PFD_ID_CTXT_CD>ISIN</PFD_ID_CTXT_CD> <PFD_ISS_ID>BFXCMX</PFD_ISS_ID> <SID_ISIN>JP3049040003</SID_ISIN> <SEC_SHRT_NME>FR QN4224</SEC_SHRT_NME> <INCM_PROJN_RATE>3.0946</INCM_PROJN_RATE> <SETLD_QTY>165502</SETLD_QTY> <HOLD_LOCN_NME>HELD AT DEPOSITORY</HOLD_LOCN_NME> <ORGL_FCE_VAL>6053</ORGL_FCE_VAL> <ASOF_TMS>2019-12-30 00:00:00</ASOF_TMS> <EOD_INTRA_IND>2</EOD_INTRA_IND> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <SEC_SECURITY_CD>000BMG6KT4</SEC_SECURITY_CD> <ISS_TMS>2019-11-26 00:00:00</ISS_TMS> <ISS_CATG_CD>EQTY</ISS_CATG_CD> <US_SIC_CD>3544</US_SIC_CD> <PMT_FREQY>00001</PMT_FREQY> <FCTR_DTE>2023-12-10 00:00:00</FCTR_DTE> <SID_LOCAL>0059663300</SID_LOCAL> <COB_DATE>2024-07-10</COB_DATE> <TRDED_QTY_MKT_EOD>123456</TRDED_QTY_MKT_EOD> <SETLD_QTY_MKT_EOD>12345</SETLD_QTY_MKT_EOD> <MKT_EOD_CL_DT>2024-11-12</MKT_EOD_CL_DT> <PLACE_OF_SETLMT>MOSCOW</PLACE_OF_SETLMT> <ROLLED_FWD>N</ROLLED_FWD> <IOD_TIMESTAMP>2024-11-12 19:30:08</IOD_TIMESTAMP> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices1040640e125f41e2A26288dea5f338bdFilter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/bbe2a729-c02f-4e5c-8c56-8001d04e5933/filter:
    get:
      summary: Current Asset Positions
      description: Current Asset Positions provides the current settled and traded quantities held for each security in each safekeeping account.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_6'
      - $ref: '#/components/parameters/parameter-13407'
      - $ref: '#/components/parameters/parameter-13497'
      - $ref: '#/components/parameters/parameter-29101'
      - $ref: '#/components/parameters/parameter-13483'
      - $ref: '#/components/parameters/parameter-29079'
      - $ref: '#/components/parameters/parameter-13406'
      - $ref: '#/components/parameters/parameter-29080'
      - $ref: '#/components/parameters/parameter-29115'
      - $ref: '#/components/parameters/parameter-13405'
      - $ref: '#/components/parameters/parameter-13415'
      - $ref: '#/components/parameters/parameter-29095'
      - $ref: '#/components/parameters/parameter-29096'
      - $ref: '#/components/parameters/parameter-29098'
      - $ref: '#/components/parameters/parameter-29120'
      - $ref: '#/components/parameters/parameter-29077'
      - $ref: '#/components/parameters/parameter-13427'
      - $ref: '#/components/parameters/parameter-13428'
      - $ref: '#/components/parameters/parameter-13426'
      - $ref: '#/components/parameters/parameter-29104'
      - $ref: '#/components/parameters/parameter-29118'
      - $ref: '#/components/parameters/parameter-13424'
      - $ref: '#/components/parameters/parameter-29117'
      - $ref: '#/components/parameters/parameter-29094'
      - $ref: '#/components/parameters/parameter-13489'
      - $ref: '#/components/parameters/parameter-29116'
      - $ref: '#/components/parameters/parameter-13412'
      - $ref: '#/components/parameters/parameter-13518'
      - $ref: '#/components/parameters/parameter-29084'
      - $ref: '#/components/parameters/parameter-13517'
      - $ref: '#/components/parameters/parameter-13447'
      - $ref: '#/components/parameters/parameter-13448'
      - $ref: '#/components/parameters/parameter-13484'
      - $ref: '#/components/parameters/parameter-29105'
      - $ref: '#/components/parameters/parameter-29086'
      - $ref: '#/components/parameters/parameter-13485'
      - $ref: '#/components/parameters/parameter-13486'
      - $ref: '#/components/parameters/parameter-29106'
      - $ref: '#/components/parameters/parameter-13520'
      - $ref: '#/components/parameters/parameter-13454'
      - $ref: '#/components/parameters/parameter-29087'
      - $ref: '#/components/parameters/parameter-29088'
      - $ref: '#/components/parameters/parameter-13458'
      - $ref: '#/components/parameters/parameter-29089'
      - $ref: '#/components/parameters/parameter-29076'
      - $ref: '#/components/parameters/parameter-13442'
      - $ref: '#/components/parameters/parameter-13413'
      - $ref: '#/components/parameters/parameter-13515'
      - $ref: '#/components/parameters/parameter-13488'
      - $ref: '#/components/parameters/parameter-13444'
      - $ref: '#/components/parameters/parameter-13445'
      - $ref: '#/components/parameters/parameter-29107'
      - $ref: '#/components/parameters/parameter-29075'
      - $ref: '#/components/parameters/parameter-13466'
      - $ref: '#/components/parameters/parameter-13487'
      - $ref: '#/components/parameters/parameter-13526'
      - $ref: '#/components/parameters/parameter-13465'
      - $ref: '#/components/parameters/parameter-13476'
      - $ref: '#/components/parameters/parameter-29111'
      - $ref: '#/components/parameters/parameter-29112'
      - $ref: '#/components/parameters/parameter-29113'
      - $ref: '#/components/parameters/parameter-13474'
      - $ref: '#/components/parameters/parameter-29073'
      - $ref: '#/components/parameters/parameter-13519'
      - $ref: '#/components/parameters/parameter-48543'
      - $ref: '#/components/parameters/parameter-48544'
      - $ref: '#/components/parameters/parameter-48545'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_6'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bbe2a729-c02f-4e5c-8c56-8001d04e5933-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/bbe2a729-c02f-4e5c-8c56-8001d04e5933-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_BUS_TYP_CD>C</ACCT_BUS_TYP_CD> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - Japan 2</ACCT_NME> <ALTN_CUR_EXCH_RATE>8.9076</ALTN_CUR_EXCH_RATE> <ALTV_CUR_CD>JPY</ALTV_CUR_CD> <ALTV_CUR_VAL>138923711.7</ALTV_CUR_VAL> <ASOF_TMS>2019-12-30 00:00:00</ASOF_TMS> <BR_ID>484</BR_ID> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <CNTR_CD>RSA</CNTR_CD> <CNTR_CD_DESC>NORTHFIELD LLC</CNTR_CD_DESC> <CNTRY_CD>JE</CNTRY_CD> <COB_DATE>2024-07-10</COB_DATE> <CURR_FCTR>0.01580556</CURR_FCTR> <DLAY_DAYS>13</DLAY_DAYS> <DNOMD_CUR_CD>HKD</DNOMD_CUR_CD> <DTED_TMS>2019-08-26 00:00:00</DTED_TMS> <EOD_INTRA_IND>2</EOD_INTRA_IND> <FCTR_DTE>2023-12-10 00:00:00</FCTR_DTE> <GFC_ID>1000012345</GFC_ID> <HLDNG_UPD_TMS>2019-08-27 00:00:00</HLDNG_UPD_TMS> <HOLD_LOCN_NME>HELD AT DEPOSITORY</HOLD_LOCN_NME> <INCM_PROJN_RATE>3.0946</INCM_PROJN_RATE> <IOD_UPDATE_TMS>2020-06-12 16:01:15</IOD_UPDATE_TMS> <ISS_CAT_NME>EQUITIES</ISS_CAT_NME> <ISS_CATG_CD>EQTY</ISS_CATG_CD> <ISS_PRC>35.811</ISS_PRC> <ISS_TMS>2019-11-26 00:00:00</ISS_TMS> <ISSR_LOC_CD>CA</ISSR_LOC_CD> <ISSR_LOC_NME>CANADA</ISSR_LOC_NME> <MATY_DT>2041-10-10 00:00:00</MATY_DT> <MKT_PRC_CUR_CD>GBP</MKT_PRC_CUR_CD> <ORGL_FCE_VAL>6053</ORGL_FCE_VAL> <PFD_ID_CTXT_CD>ISIN</PFD_ID_CTXT_CD> <PFD_ISS_ID>BFXCMX</PFD_ISS_ID> <PLACE_OF_SETLMT>MOSCOW</PLACE_OF_SETLMT> <PMT_FREQY>00001</PMT_FREQY> <PMT_FREQY_DESC>Annual</PMT_FREQY_DESC> <PNDNG_DELIV>-34891</PNDNG_DELIV> <PNDNG_RECV>353400</PNDNG_RECV> <POOL_ID_CD>AB1234</POOL_ID_CD> <PRC_CCY_NME>POUND STERLING</PRC_CCY_NME> <PREV_FCTR>0.84824716</PREV_FCTR> <SEC_DESC>TEMPORARY SECURITY 003263100</SEC_DESC> <SEC_GROUP>FI</SEC_GROUP> <SEC_SECURITY_CD>000BMG6KT4</SEC_SECURITY_CD> <SEC_SHRT_NME>FR QN4224</SEC_SHRT_NME> <SEC_SUB_TYP_CD>12</SEC_SUB_TYP_CD> <SEC_SUB_TYP_NME>BOND</SEC_SUB_TYP_NME> <SETL_HOLD_ST>LE</SETL_HOLD_ST> <SETLD_QTY>165502</SETLD_QTY> <SID_CUSIP>T5379P105</SID_CUSIP> <SID_ISIN>JP3049040003</SID_ISIN> <SID_LOCAL>0059663300</SID_LOCAL> <SID_SEDOL>BJ18KB6</SID_SEDOL> <SID_TICKER_SYMB>DARK</SID_TICKER_SYMB> <ST_CD>CA</ST_CD> <ST_NME>CALIFORNIA</ST_NME> <STK_EXCHG_NME>VIDACOS NOMINEES LIMITED</STK_EXCHG_NME> <STRK_PRC_AMT>109.9</STRK_PRC_AMT> <TRDED_QTY>755435</TRDED_QTY> <US_SIC_CD>3544</US_SIC_CD> <TRDED_QTY_MKT_EOD>123456</TRDED_QTY_MKT_EOD> <SETLD_QTY_MKT_EOD>12345</SETLD_QTY_MKT_EOD> <MKT_EOD_CL_DT>2024-11-12</MKT_EOD_CL_DT> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServicesBbe2a729C02f4e5c8c568001d04e5933Filter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/27d18376-6358-40f1-9f63-23a72d40196f/filter:
    get:
      summary: EOD Security Transactions Expanded Dataset
      description: Provides Custody Security transactional details and current status for a particular date and safekeeping account with an extended volume of data.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_7'
      - $ref: '#/components/parameters/parameter-41553'
      - $ref: '#/components/parameters/parameter-41554'
      - $ref: '#/components/parameters/parameter-41555'
      - $ref: '#/components/parameters/parameter-41556'
      - $ref: '#/components/parameters/parameter-41557'
      - $ref: '#/components/parameters/parameter-41558'
      - $ref: '#/components/parameters/parameter-41559'
      - $ref: '#/components/parameters/parameter-41562'
      - $ref: '#/components/parameters/parameter-41563'
      - $ref: '#/components/parameters/parameter-41564'
      - $ref: '#/components/parameters/parameter-41565'
      - $ref: '#/components/parameters/parameter-41566'
      - $ref: '#/components/parameters/parameter-41567'
      - $ref: '#/components/parameters/parameter-41568'
      - $ref: '#/components/parameters/parameter-41569'
      - $ref: '#/components/parameters/parameter-41570'
      - $ref: '#/components/parameters/parameter-41571'
      - $ref: '#/components/parameters/parameter-41572'
      - $ref: '#/components/parameters/parameter-41577'
      - $ref: '#/components/parameters/parameter-41578'
      - $ref: '#/components/parameters/parameter-41579'
      - $ref: '#/components/parameters/parameter-41580'
      - $ref: '#/components/parameters/parameter-41581'
      - $ref: '#/components/parameters/parameter-41582'
      - $ref: '#/components/parameters/parameter-41583'
      - $ref: '#/components/parameters/parameter-41584'
      - $ref: '#/components/parameters/parameter-41585'
      - $ref: '#/components/parameters/parameter-41586'
      - $ref: '#/components/parameters/parameter-41587'
      - $ref: '#/components/parameters/parameter-41588'
      - $ref: '#/components/parameters/parameter-41589'
      - $ref: '#/components/parameters/parameter-41590'
      - $ref: '#/components/parameters/parameter-41591'
      - $ref: '#/components/parameters/parameter-41592'
      - $ref: '#/components/parameters/parameter-41593'
      - $ref: '#/components/parameters/parameter-41595'
      - $ref: '#/components/parameters/parameter-41596'
      - $ref: '#/components/parameters/parameter-41597'
      - $ref: '#/components/parameters/parameter-41598'
      - $ref: '#/components/parameters/parameter-41599'
      - $ref: '#/components/parameters/parameter-41600'
      - $ref: '#/components/parameters/parameter-41601'
      - $ref: '#/components/parameters/parameter-41602'
      - $ref: '#/components/parameters/parameter-41603'
      - $ref: '#/components/parameters/parameter-41604'
      - $ref: '#/components/parameters/parameter-41605'
      - $ref: '#/components/parameters/parameter-41606'
      - $ref: '#/components/parameters/parameter-41607'
      - $ref: '#/components/parameters/parameter-41608'
      - $ref: '#/components/parameters/parameter-41609'
      - $ref: '#/components/parameters/parameter-41610'
      - $ref: '#/components/parameters/parameter-41611'
      - $ref: '#/components/parameters/parameter-41612'
      - $ref: '#/components/parameters/parameter-41613'
      - $ref: '#/components/parameters/parameter-41614'
      - $ref: '#/components/parameters/parameter-41615'
      - $ref: '#/components/parameters/parameter-41616'
      - $ref: '#/components/parameters/parameter-41617'
      - $ref: '#/components/parameters/parameter-41618'
      - $ref: '#/components/parameters/parameter-41619'
      - $ref: '#/components/parameters/parameter-41620'
      - $ref: '#/components/parameters/parameter-41621'
      - $ref: '#/components/parameters/parameter-41622'
      - $ref: '#/components/parameters/parameter-41623'
      - $ref: '#/components/parameters/parameter-41624'
      - $ref: '#/components/parameters/parameter-41625'
      - $ref: '#/components/parameters/parameter-41626'
      - $ref: '#/components/parameters/parameter-41627'
      - $ref: '#/components/parameters/parameter-41628'
      - $ref: '#/components/parameters/parameter-41629'
      - $ref: '#/components/parameters/parameter-41561'
      - $ref: '#/components/parameters/parameter-41560'
      - $ref: '#/components/parameters/parameter-41594'
      - $ref: '#/components/parameters/parameter-42176'
      - $ref: '#/components/parameters/parameter-42372'
      - $ref: '#/components/parameters/parameter-49549'
      - $ref: '#/components/parameters/parameter-49550'
      - $ref: '#/components/parameters/parameter-49548'
      - $ref: '#/components/parameters/parameter-49559'
      - $ref: '#/components/parameters/parameter-49560'
      - $ref: '#/components/parameters/parameter-55003'
      - $ref: '#/components/parameters/parameter-55291'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_7'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/27d18376-6358-40f1-9f63-23a72d40196f-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/27d18376-6358-40f1-9f63-23a72d40196f-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - US DCC Equity</ACCT_NME> <ACT_SETT_DT>2025-08-26</ACT_SETT_DT> <BR_ID>484</BR_ID> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <RELATED_REF>RELA123456</RELATED_REF> <CLIENT_REF>123456</CLIENT_REF> <BUYR_SELL_CD>0050</BUYR_SELL_CD> <BUYR_SELL>TEST &amp; CO INC</BUYR_SELL> <CONTR_SETT_DT>2025-06-17T00:00:00Z</CONTR_SETT_DT> <CNTRY_CD>US</CNTRY_CD> <COMP_DESC>Microsoft Corporation</COMP_DESC> <CONTR_SETT_FLG>Y</CONTR_SETT_FLG> <CURR_FCTR_RATE>0.975432</CURR_FCTR_RATE> <DEAL_REF_NBR>OTM987654321</DEAL_REF_NBR> <HOLDING_TYPE>Held At Depot</HOLDING_TYPE> <SEC_CCY>USD</SEC_CCY> <UPDATE_TMS>2025-06-15T00:00:00Z</UPDATE_TMS> <FAIL_AGE>5</FAIL_AGE> <FAIL_DESC>Counterparty securities unavailable</FAIL_DESC> <FCTR_DTE>2025-05-01T00:00:00Z</FCTR_DTE> <INST_DT>2025-06-13</INST_DT> <ISS_TMS>2020-01-15T00:00:00Z</ISS_TMS> <ISSR_LOC_CD>US</ISSR_LOC_CD> <ISSR_LOC_NME>United States</ISSR_LOC_NME> <SETT_AMT>1250000.75</SETT_AMT> <SETT_CCY_CD>USD</SETT_CCY_CD> <SETT_CCY>US Dollar</SETT_CCY> <LOAN_DT>2025-04-01</LOAN_DT> <LOAN_PURPOSE_CD>COLL</LOAN_PURPOSE_CD> <LOAN_PURPOSE_DESC>Collateral Management</LOAN_PURPOSE_DESC> <LOAN_REF_ID>100123456</LOAN_REF_ID> <MATY_DT>2030-12-31T00:00:00Z</MATY_DT> <PART_UNSETL_QTY>2500.00</PART_UNSETL_QTY> <PARTICIPANT_NO>0901</PARTICIPANT_NO> <SEC_ID_TYPE>ISIN</SEC_ID_TYPE> <SEC_ID>US5949181045</SEC_ID> <PLACE_OF_SETLMT>TOKYO, JAPAN</PLACE_OF_SETLMT> <PLDG_ABA_NAM>CITI Bank</PLDG_ABA_NAM> <PLDG_ABA_NO>021000021</PLDG_ABA_NO> <PLDG_REF_NBR>PLDG123456</PLDG_REF_NBR> <PREV_FCTR_RATE>0.978910</PREV_FCTR_RATE> <CASH_ACCT_ID>156602418</CASH_ACCT_ID> <SEC_DESC>TEMPORARY SECURITY 003263100</SEC_DESC> <ASSET_TYP>EQTY</ASSET_TYP> <SEC_LEND_FLG>Y</SEC_LEND_FLG> <QUANTITY>10000.00</QUANTITY> <SEC_SHORT_IND>N</SEC_SHORT_IND> <ISSUE_NME>Microsoft Corporation</ISSUE_NME> <ISSUE_TYP_CD>12</ISSUE_TYP_CD> <ISSUE_TYP>Bond</ISSUE_TYP> <SETT_QTY>7500.00</SETT_QTY> <HOLDING_TYPE_CD>HD</HOLDING_TYPE_CD> <CUSIP>594918104</CUSIP> <ISIN>US5949181045</ISIN> <SEDOL>2588173</SEDOL> <TICKER>MSFT</TICKER> <SWIFT_STATUS>PEND-LACK</SWIFT_STATUS> <TRANS_TYP>Receive Versus Payment</TRANS_TYP> <TRANS_REF_NBR>CUST987654321</TRANS_REF_NBR> <REAG_DEAG_CD>CP001</REAG_DEAG_CD> <REAG_DEAG>Goldman Sachs</REAG_DEAG> <TRADE_DT>2025-06-13T10:15:00Z</TRADE_DT> <TRANS_TYP_CD>RVP</TRANS_TYP_CD> <TRN_CL_CD>BUY</TRN_CL_CD> <TRANS_CLASS>MARKET TRADES</TRANS_CLASS> <SIGNED_QTY>10000.00</SIGNED_QTY> <PLACE_OF_SETLMT_CD>DTC</PLACE_OF_SETLMT_CD> <VALUE_DT>2025-06-17</VALUE_DT> <TRD_STATUS>SETTLED</TRD_STATUS> <FAIL_TEXT>Awaiting counterparty confirmation</FAIL_TEXT> <PARTIAL_SETTLEMENT_FLAG>Y</PARTIAL_SETTLEMENT_FLAG> <TRADE_STATUS_VALUES>Matched and Settled</TRADE_STATUS_VALUES> <COB_DATE>2025-06-15</COB_DATE> <MITI_REF>MITI987654321</MITI_REF> <MATCHING_REF>MATCH123456</MATCHING_REF> <MARKET_REF>MKT654321</MARKET_REF> <CRTD_TMS>2025-06-15T14:45:00Z</CRTD_TMS> <TRAN_NOTES>Settlement completed without exception</TRAN_NOTES> <DEPOT_ID>DEP001</DEPOT_ID> <DTC_FED_IDENTIFIER>DTC</DTC_FED_IDENTIFIER> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServices27d18376635840f19f6323a72d40196fFilter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/c5da44dd-2c3c-42cc-8125-711c2aadbe4f/filter:
    get:
      summary: Current Security Transactions Expanded Dataset
      description: Current Securities Transactions provides recent transactional activity for each safekeeping account with an extended volume of data.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_7'
      - $ref: '#/components/parameters/parameter-41729'
      - $ref: '#/components/parameters/parameter-41679'
      - $ref: '#/components/parameters/parameter-41731'
      - $ref: '#/components/parameters/parameter-41680'
      - $ref: '#/components/parameters/parameter-41732'
      - $ref: '#/components/parameters/parameter-41733'
      - $ref: '#/components/parameters/parameter-41681'
      - $ref: '#/components/parameters/parameter-41683'
      - $ref: '#/components/parameters/parameter-41685'
      - $ref: '#/components/parameters/parameter-41686'
      - $ref: '#/components/parameters/parameter-41687'
      - $ref: '#/components/parameters/parameter-41735'
      - $ref: '#/components/parameters/parameter-41688'
      - $ref: '#/components/parameters/parameter-41689'
      - $ref: '#/components/parameters/parameter-41736'
      - $ref: '#/components/parameters/parameter-41690'
      - $ref: '#/components/parameters/parameter-41691'
      - $ref: '#/components/parameters/parameter-41737'
      - $ref: '#/components/parameters/parameter-41692'
      - $ref: '#/components/parameters/parameter-41693'
      - $ref: '#/components/parameters/parameter-41694'
      - $ref: '#/components/parameters/parameter-41738'
      - $ref: '#/components/parameters/parameter-41695'
      - $ref: '#/components/parameters/parameter-41739'
      - $ref: '#/components/parameters/parameter-41740'
      - $ref: '#/components/parameters/parameter-41741'
      - $ref: '#/components/parameters/parameter-41697'
      - $ref: '#/components/parameters/parameter-41698'
      - $ref: '#/components/parameters/parameter-41699'
      - $ref: '#/components/parameters/parameter-41700'
      - $ref: '#/components/parameters/parameter-41701'
      - $ref: '#/components/parameters/parameter-41702'
      - $ref: '#/components/parameters/parameter-41703'
      - $ref: '#/components/parameters/parameter-41742'
      - $ref: '#/components/parameters/parameter-41704'
      - $ref: '#/components/parameters/parameter-41734'
      - $ref: '#/components/parameters/parameter-41743'
      - $ref: '#/components/parameters/parameter-41744'
      - $ref: '#/components/parameters/parameter-41706'
      - $ref: '#/components/parameters/parameter-41707'
      - $ref: '#/components/parameters/parameter-41708'
      - $ref: '#/components/parameters/parameter-41709'
      - $ref: '#/components/parameters/parameter-41745'
      - $ref: '#/components/parameters/parameter-41710'
      - $ref: '#/components/parameters/parameter-41746'
      - $ref: '#/components/parameters/parameter-41747'
      - $ref: '#/components/parameters/parameter-41711'
      - $ref: '#/components/parameters/parameter-41712'
      - $ref: '#/components/parameters/parameter-41713'
      - $ref: '#/components/parameters/parameter-41748'
      - $ref: '#/components/parameters/parameter-41749'
      - $ref: '#/components/parameters/parameter-41750'
      - $ref: '#/components/parameters/parameter-41714'
      - $ref: '#/components/parameters/parameter-41715'
      - $ref: '#/components/parameters/parameter-41751'
      - $ref: '#/components/parameters/parameter-41752'
      - $ref: '#/components/parameters/parameter-41753'
      - $ref: '#/components/parameters/parameter-41754'
      - $ref: '#/components/parameters/parameter-41716'
      - $ref: '#/components/parameters/parameter-41717'
      - $ref: '#/components/parameters/parameter-41718'
      - $ref: '#/components/parameters/parameter-41719'
      - $ref: '#/components/parameters/parameter-41720'
      - $ref: '#/components/parameters/parameter-41721'
      - $ref: '#/components/parameters/parameter-41722'
      - $ref: '#/components/parameters/parameter-41723'
      - $ref: '#/components/parameters/parameter-41724'
      - $ref: '#/components/parameters/parameter-41725'
      - $ref: '#/components/parameters/parameter-41726'
      - $ref: '#/components/parameters/parameter-41727'
      - $ref: '#/components/parameters/parameter-41728'
      - $ref: '#/components/parameters/parameter-41682'
      - $ref: '#/components/parameters/parameter-41705'
      - $ref: '#/components/parameters/parameter-42167'
      - $ref: '#/components/parameters/parameter-42371'
      - $ref: '#/components/parameters/parameter-49542'
      - $ref: '#/components/parameters/parameter-49543'
      - $ref: '#/components/parameters/parameter-49544'
      - $ref: '#/components/parameters/parameter-49563'
      - $ref: '#/components/parameters/parameter-49564'
      - $ref: '#/components/parameters/parameter-55295'
      - $ref: '#/components/parameters/parameter-55414'
      - $ref: '#/components/parameters/parameter-55415'
      responses:
        '200':
          description: Success
          headers:
            X-DoD-Request-ID:
              $ref: '#/components/headers/dod-request-id_7'
            X-Paging-PageNumber:
              $ref: '#/components/headers/paging-page-number'
            X-Paging-TotalPageCount:
              $ref: '#/components/headers/paging-total-page-count'
            X-Paging-TotalRecordCount:
              $ref: '#/components/headers/paging-total-record-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/c5da44dd-2c3c-42cc-8125-711c2aadbe4f-json-response-schema'
            application/xml:
              schema:
                $ref: '#/components/schemas/c5da44dd-2c3c-42cc-8125-711c2aadbe4f-xml-response-schema'
              example: <?xml version="1.0" encoding="UTF-8"?> <data> <row> <ACCT_BASE_NBR>8-DEMOCSH53JPY</ACCT_BASE_NBR> <ACCT_ID>DEMOSK02US</ACCT_ID> <ACCT_NME>Demo - SK - US DCC Equity</ACCT_NME> <ACT_SETT_DT>2024-06-15</ACT_SETT_DT> <BR_ID>484</BR_ID> <BR_NME>NEW YORK SECURITIES CB</BR_NME> <RELATED_REF>RELA123456</RELATED_REF> <CLIENT_REF>12345678</CLIENT_REF> <BUYR_SELL_CD>B</BUYR_SELL_CD> <CLR_BRKR_NME>Goldman Sachs</CLR_BRKR_NME> <CONTR_SETT_DT>2024-06-15T10:30:00Z</CONTR_SETT_DT> <CNTRY_CD>US</CNTRY_CD> <COMP_DESC>Microsoft Corporation</COMP_DESC> <CONTR_SETT_FLG>Y</CONTR_SETT_FLG> <CURR_FCTR_RATE>0.9875</CURR_FCTR_RATE> <DEAL_REF_NBR>OTM123456789</DEAL_REF_NBR> <HOLDING_TYPE>Held At Depot</HOLDING_TYPE> <SEC_CCY>USD</SEC_CCY> <FAIL_AGE>5</FAIL_AGE> <FAIL_DESC>Insufficient Securities</FAIL_DESC> <FAIL_TXT>Counterparty has not delivered securities.</FAIL_TXT> <FCTR_DTE>2024-06-01T00:00:00Z</FCTR_DTE> <INST_DT>2024-06-10</INST_DT> <ISS_TMS>2020-01-01T00:00:00Z</ISS_TMS> <ISSR_LOC_CD>US</ISSR_LOC_CD> <ISSR_LOC_NME>United States</ISSR_LOC_NME> <SETT_AMT>150000.25</SETT_AMT> <LCL_CUR_CD>USD</LCL_CUR_CD> <SETT_CCY>US Dollar</SETT_CCY> <LOAN_DT>2024-01-15</LOAN_DT> <LOAN_PURPOSE_CD>COLL</LOAN_PURPOSE_CD> <LOAN_PURPOSE_DESC>Collateral Management</LOAN_PURPOSE_DESC> <LOAN_REF_ID>LN123456789</LOAN_REF_ID> <MATY_DT>2030-12-31T00:00:00Z</MATY_DT> <PART_UNSETL_QTY>2500</PART_UNSETL_QTY> <PARTICIPANT_NO>0901</PARTICIPANT_NO> <SEC_ID_TYPE>ISIN</SEC_ID_TYPE> <SEC_ID>US0378331005</SEC_ID> <PLACE_OF_SETLMT>TOKYO, JAPAN</PLACE_OF_SETLMT> <PLDG_ABA_NAM>Citibank N.A.</PLDG_ABA_NAM> <PLDG_ABA_NO>021000089</PLDG_ABA_NO> <PLDG_REF_NBR>PLG987654321</PLDG_REF_NBR> <PREV_FCTR_RATE>0.9850</PREV_FCTR_RATE> <CASH_ACCT_ID>156602418</CASH_ACCT_ID> <SEC_DESC>Apple Inc. Common Stock</SEC_DESC> <ASSET_TYP>EQTY</ASSET_TYP> <SEC_LEND_FLG>Y</SEC_LEND_FLG> <QUANTITY>10000</QUANTITY> <SEC_SHORT_IND>N</SEC_SHORT_IND> <ISSUE_NME>Apple Inc.</ISSUE_NME> <ISSUE_TYP_CD>12</ISSUE_TYP_CD> <ISSUE_TYP>Bond</ISSUE_TYP> <SETT_QTY>7500</SETT_QTY> <HOLDING_TYPE_CD>HD</HOLDING_TYPE_CD> <CUSIP>037833100</CUSIP> <ISIN>US0378331005</ISIN> <SEDOL>2046251</SEDOL> <TICKER>AAPL</TICKER> <UPDATE_TMS>2024-06-15T12:30:45Z</UPDATE_TMS> <SWIFT_STATUS>MATCH</SWIFT_STATUS> <TRANS_TYP>Receive Versus Payment</TRANS_TYP> <TRANS_REF_NBR>TRX20240615001</TRANS_REF_NBR> <REAG_DEAG_CD>CP001</REAG_DEAG_CD> <REAG_DEAG>JP Morgan Chase</REAG_DEAG> <TRADE_DT>2024-06-12T14:30:00Z</TRADE_DT> <TRN_CD>SLS</TRN_CD> <TRANS_CLASS_CD>BUY</TRANS_CLASS_CD> <TRANS_CLASS>MARKET TRADES</TRANS_CLASS> <SIGNED_QTY>10000</SIGNED_QTY> <PLACE_OF_SETLMT_CD>DTC</PLACE_OF_SETLMT_CD> <VALUE_DT>2024-06-17</VALUE_DT> <TRD_STATUS>SETTLED</TRD_STATUS> <PARTIAL_SETTLEMENT_FLAG>Y</PARTIAL_SETTLEMENT_FLAG> <TRADE_STATUS_VALUES>Settled</TRADE_STATUS_VALUES> <LAST_CHANGE_TIMESTAMP>2024-06-15T15:20:10Z</LAST_CHANGE_TIMESTAMP> <MARKET_REF>MKT123456789</MARKET_REF> <MITI_REF>MITI987654321</MITI_REF> <MATCHING_REF>MATCH123456</MATCHING_REF> <CRTD_TMS>2024-06-15T09:00:00Z</CRTD_TMS> <TRAN_NOTES>Partial settlement due to insufficient position.</TRAN_NOTES> <DTC_FED_IDENTIFIER>DTC</DTC_FED_IDENTIFIER> <SETD_CMB_QTY>7500</SETD_CMB_QTY> <CONSID_AMT_P>250000.75</CONSID_AMT_P> </row> </data>
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      tags:
      - Services
      operationId: getApiServicesC5da44dd2c3c42cc8125711c2aadbe4fFilter
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets/dod
      description: Sandbox server (uses test data)
    - url: https://api.citivelocity.com/markets/dod
      description: Production server
  /api/services/ba848120-2d1f-4ec0-9f5c-2aa51b5d1634/filter:
    get:
      summary: Open Tax Reclaims
      description: Open Tax Reclaims provides the full list of tax reclaims which are yet to be paid.
      parameters:
      - $ref: '#/components/parameters/client_id'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/select_8'
      - $ref: '#/components/parameters/parameter-29387'
      - $ref: '#/components/parameters/parameter-29368'
      - $ref: '#/components/parameters/parameter-29367'
      - $ref: '#/components/parameters/parameter-29385'
      - $ref: '#/components/parameters/parameter-29363'
      - $ref: '#/components/parameters/parameter-29362'
      - $ref: '#/components/parameters/parameter-29371'
      - $ref: '#/components/parameters/parameter-29395'
      - $ref: '#/components/parameters/parameter-29396'
      - $ref: '#/components/parameters/parameter-29377'
      - $ref: '#/components/parameters/parameter-29373'
      - $ref: '#/components/parameters/parameter-29374'
      - $ref: '#/components/parameters/parameter-29366'
      - $ref: '#/components/parameters/parameter-29398'
      - $ref: '#/components/parameters/parameter-29410'
      - $ref: '#/components/parameters/parameter-29407'
      - $ref: '#/components/parameters/parameter-29415'
      - $ref: '#/components/parameters/parameter-29434'
      - $ref: '#/components/parameters/parameter-29425'
      - $ref: '#/components/parameters/parameter-29402'
      - $ref: '#/components/parameters/parameter-29411'
      - $ref: '#/components/parameters/parameter-29408'
      - $ref: '#/components/parameters/parameter-29416'
      - $ref: '#/components/parameters/parameter-29435'
      - $ref: '#/components/parameters/parameter-29426'
      - $ref: '#/components/parameters/parameter-29403'
      - $ref: '#/components/parameters/parameter-29413'
      - $ref: '#/components/parameters/parameter-29406'
      - $ref: '#/components/parameters/parameter-29414'
      - $ref: '#/components/parameters/parameter-29433'
      - $ref: '#/components/parameters/parameter-29427'
      - $ref: '#/components/parameters/parameter-29401'
      - $ref: '#/components/parameters/parameter-29412'
      - $ref: '#/components/parameters/parameter-29409'
      - $ref: '#/components/parameters/parameter-29417'
      - $ref: '#/components/parameters/parameter-29436'
      - $ref: '#/components/parameters/parameter-29428'
      - $ref: '#/components/parameters/parameter-29404'
      - $ref: '#/components/parameters/parameter-29388'
      - $ref: '#/components/parameters/parameter-29392'
      - $ref: '#/components/parameters/parameter-29381'
      - $ref: '#/components/parameters/parameter-29380'
      - $ref: '#/components/parameters/parameter-29386'
      - $ref: '#/components/parameters/parameter-29382'
      - $ref: '#/components/parameters/parameter-29422'
      - $ref: '#/components/parameters/parameter-29397'
      - $ref: '#/components/parameters/parameter-29400'
      - $ref: '#/components/parameters/parameter-29364'
      - $ref: '#/components/parameters/parameter-29375'
      - $ref: '#/components/parameters/parameter-29390'
      - $ref: '#/components/parameters/parameter-29423'
      - $ref: '#/components/parameters/parameter-29389'
      - $ref: '#/components/parameters/parameter-29394'
      - $ref: '#/components/parameters/parameter-29424'
      - $ref: '#/components/parameters/parameter-29393'
      - $ref: '#/components/parameters/parameter-29378'
      - $ref: '#/components/parameters/parameter-29365'
      - $ref: '#/components/parameters/parameter-29384'
      - $ref: '#/components/parameters/parameter-29376'
      - $ref: '#/components/parameters/parameter-29391'
      - $ref: '#/components/parameters/parameter-29405'
      - $ref: '#/components/parameters/parameter-29429'
      - $ref: '#/components/parameters/parameter-29431'
      - $ref: '#/components/parameters/parameter-29430'
      - $ref: '#/components/parameters/parameter-29432'
      - $ref: '#/components/parameters/parameter-29438'
      - $ref: '#/components/parameters/parameter-29383'
      - $ref: '#/components/parameters/parameter-29418'
      - $ref: '#/components/parameters/parameter-29419'
      - $ref: '#/components/parameters/parameter-29420'
      - $ref: '#/components/parameters/parameter-29421'
      - $ref: '#/components/parameters/parameter-14980'
      - $ref: '#/components/parameters/parameter-14981'
      - $ref: '#/components/parameters/parameter-14982'
      - $ref: '#/components/parameters/parameter-14983'
      - $ref: '#/components/parameters/parameter-14984'
      - $ref: '#/components/parameters/parameter-14985'
      - $ref: '#/components/parameters/parameter-14986'
      - $ref: '#/components/parameters/parameter-14987'
      - $ref: '#/components/parameters/parameter-14988'
      - $ref: '#/components/parameters/parameter-14758'
      - $ref: '#/components/parameters/parameter-14989'
      - $ref: '#/components/parameters/parameter-14990'
      - $ref: '#/components/parameters/parameter-14991'
      - $ref: '#/components/parameters/parameter-14992'
      - $ref: '#/components/parameters/parameter-14996'
      - $ref: '#/components/parameters/parameter-14997'
      - $ref: '#/components/parameters/parameter-14998'
      - $ref: '#/components/parameters/parameter-14999'
      - $ref: '#/components/parameters/parameter-15001'
      - $ref: '#/components/parameters/parameter-15002'
      - $ref: '#/components/parameters/parameter-15004'
      - $ref: '#/components/parameters/parameter-15006'
[...]
