openapi: 3.0.1
info:
  title: WorldLink
  description: >-
    WorldLink is a complete cross-border payment and Foreign-Exchange (FX) 

    service that allows you to perform payments in 135 currencies without
    having 

    the need to maintain local currency accounts for each of them. 

    The CitiConnect WorldLink API now offers FX rate inquiry, FX deal booking,
    and

    cross-border payment initiation with 24X7 availability. 


    Authentication for the CitiConnect WorldLink API services is based on the
    OAuth 2.0 standard. 

    You can learn more about it in the **Authentication** section above. 

    The generated OAuth token is valid for one hour after which you will have to
    request 

    generation of a new OAuth token.


    **A note on 24X7 availability of the CitiConnect API Services**


    Although Citi strives to make all APIs 24X7 available wherever possible,
    there may still be downtimes albeit at a much reduced frequency and with
    shortened windows. 

    Citi's Service representatives will send information about any near-term
    planned downtimes 3-4 business days in advance valid email so that you can
    plan your business activities related

    to your API interface to minimize any possible impact to your business and
    customers.


    Download our SDKs:

    * [Python
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=python&apiTitle=all&isClientSecReq=true)

    * [Java
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=java&apiTitle=all&isClientSecReq=true)

    * [.Net
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=dotnet&apiTitle=all&isClientSecReq=true)

    * [Ruby
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ruby&apiTitle=all&isClientSecReq=true)

    * [NodeJS
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=nodejs&apiTitle=all&isClientSecReq=true)

    * [Go
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=go&apiTitle=all&isClientSecReq=true)

    * [CLI Tool
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ccapi-cli&apiTitle=all&isClientSecReq=true)
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 2.0.0
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod/worldlinkservices
    description: production gateway url
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/worldlinkservices
    description: sandbox url
tags:
  - name: WorldLink v2
security:
  - clientCredentials: []
paths:
  /v2/doddfrank/disclosure:
    post:
      tags:
        - WorldLink v2
      summary: WorldLink Dodd Frank
      description: >-
        CitiConnect WorldLink Dodd Frank allows users to access information for
        fees, taxes, and delivery dates. 

        This information is subsequently provided to consumers on a Dodd Frank
        1073 disclosure or receipt.
      operationId: doddFrankRequestUsingPOST
      parameters:
        - name: client_id
          in: query
          description: Unique identifier which is created during the onboarding process.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
      requestBody:
        description: Request body for WorldLink Dodd Frank
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/disclosure_request'
            example:
              in:
                clientId: '24884'
                subEntityId: '0001'
                destinationCountry: IN
                destinationState: AK
                destinationCity: ANCHORAGE
                bankCode: CITIIN00
                bankCodeType: B
                paymentMethod: W
                paymentCurrency: INR
                fundingCurrency: USD
                paymentCurrencyAmount: 100
                nonSTPFlag: 'N'
                isBeneDeduct: 'Y'
                citiPointOfOrigination: US
                beneDeductFeeType: T
                estimatePercentile: 95
                chargeCode: SHA
                releaseTime: '2026-04-23T16:11:23.000'
                nostroCountry: AU
                flagODE: 'N'
                valueDate: '2026-04-23'
                flagFutureDated: 'N'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disclosure_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
  /v2/payment/inquiry:
    post:
      tags:
        - WorldLink v2
      summary: WorldLink Payment Status Inquiry
      description: >-
        CitiConnect WorldLink Payment Status Inquiry allows users to receive
        information about payments initiated and  intermediate processing
        statuses in real time until the payment is complete.
      operationId: PaymentStatusInquiries
      parameters:
        - name: client_id
          in: query
          description: unique identifier which created during onboarding process
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
      requestBody:
        description: Request Body
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/PaymentInquiryRequest'
            example: >-
              <?xml version="1.0"
              encoding="UTF-8"?><PaymentInquiryRequest><EndToEndId>WL2020010701</EndToEndId><WLClientID>583700001</WLClientID></PaymentInquiryRequest>
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInquiryRequest'
            example:
              EndToEndId: WL2020010701
              WLClientID: '583700001'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/paymentStatusInquiryResponse'
              example: >-
                <Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrPmtStsRpt><GrpHdr><MsgId>213276961672</MsgId><CreDtTm>2026-01-13T06:44:05Z</CreDtTm><InitgPty><Nm>BNP
                SECURITIES SERVICES PRIVATE
                LIMITED</Nm><Id><PrvtId><Othr><Id>24884</Id></Othr></PrvtId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>Not
                Available</OrgnlMsgId><OrgnlMsgNmId>Not
                Available</OrgnlMsgNmId></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>Not
                Applicable</OrgnlPmtInfId><TxInfAndSts><OrgnlInstrId>20JULMPY_0645A</OrgnlInstrId><OrgnlEndToEndId>20JULMPY_0645A</OrgnlEndToEndId><TxSts>ACCP</TxSts><ChrgsInf><Amt
                Ccy="EUR">0.02</Amt><Pty><FinInstnId><Othr><Id>CitiBank</Id></Othr></FinInstnId></Pty></ChrgsInf><AccptncDtTm>2021-07-27T00:00:00Z</AccptncDtTm><AcctSvcrRef>KL6KFI2UTDVM</AcctSvcrRef><OrgnlTxRef><IntrBkSttlmAmt
                Ccy="EUR">99.98</IntrBkSttlmAmt><Amt><InstdAmt
                Ccy="EUR">100</InstdAmt></Amt><IntrBkSttlmDt>2021-07-27</IntrBkSttlmDt><ReqdExctnDt>2021-07-27</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>MPAY</Cd></SvcLvl></PmtTpInf><RmtInf><Ustrd>PAYMENT
                1  PAYMENT 2  PAYMENT
                3</Ustrd><Strd><RfrdDocAmt><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>OFXR</Rsn><AddtlInf>1.1883</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>RMET</Rsn><AddtlInf>B</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>FXDT</Rsn><AddtlInf>2021-07-23
                00:00:00.0</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>FAWF</Rsn><AddtlInf>118.83</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>OFXN</Rsn><AddtlInf>I02040</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>BTB1</Rsn><AddtlInf>/ACC/STEP2</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>FAMT</Rsn><AddtlInf>118.83</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>FCCY</Rsn><AddtlInf>USD</AddtlInf></AdjstmntAmtAndRsn><AdjstmntAmtAndRsn><Amt
                Ccy="USD">0</Amt><Rsn>WLID</Rsn><AddtlInf>248840001</AddtlInf></AdjstmntAmtAndRsn></RfrdDocAmt></Strd></RmtInf><DbtrAgtAcct><Id><Othr><Id>11738569</Id></Othr></Id></DbtrAgtAcct><CdtrAgt><FinInstnId><BIC>CITIFIHXXXX</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>Roger
                Federer</Nm><Id><OrgId><Othr><Id>20JULMPY_0645A</Id></Othr></OrgId></Id></Cdtr><CdtrAcct><Id><IBAN>FI4571308501080486</IBAN></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
            application/json:
              schema:
                $ref: '#/components/schemas/paymentStatusInquiryResponse'
              examples:
                Payment-Status-Inquiry-Response-Json:
                  $ref: '#/components/examples/Payment-Status-Inquiry-Response-Json'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <response><status>400</status><message>Mismatch of WorldLink
                Client ID or Client ID not
                maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth
                Token</httpMessage><moreInformation>Please use valid OAuth
                Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>415</httpCode><httpMessage>Unsupported
                Media Type</httpMessage><moreInformation>Unsupported
                Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <Response><status>500</status><message>Unable to process your
                request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: payment_status_inquiries
  /v2/payment/validation:
    post:
      tags:
        - WorldLink v2
      summary: WorldLink Payment Upfront Validation
      description: >-
        CitiConnect WorldLink Payment Upfront Validation allows you 

        to know upfront, the payment rules required to make payments within a
        certain 

        country or currency to avoid transaction rejection post submission. 

        This feature will provide the list of fields for a country for which you
        want 

        the payment rules to be applied.  

        For example, you can send a request for AU ACH and this API will respond
        with the rules for AU ACH. 


        This API is built on PIUID 949 rules which includes fields required for
        each country 

        and for each supported payment method. 


        **Content Type:** Supports application/xml or application/json.


        **Authorization:** The OAuth Token prefixed with Bearer and space in
        between.


        **Request:** Specify all mandatory values in the ISOXML V3
        (pain.001.001.03) file at 

        a minimum.
      operationId: PaymentValidation
      parameters:
        - name: client_id
          in: query
          description: unique identifier which created during onboarding process
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Contains the required fields of the ISOXML request body. The request
          body must be Base64 encoded and enclosed within the
          \<Request>\<paymentBase64> tags.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
            example: >-
              <?xml version="1.0" encoding="utf-8"?><Document
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"><CstmrCdtTrfInitn><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>200</CtrlSum><InitgPty><Nm>MSA
              ILE DE
              FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street
              name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><PmtInf><PmtInfId>Wire_SZD_FD_API_1401</PmtInfId><PmtMtd>TRF</PmtMtd><ReqdExctnDt>2020-07-22</ReqdExctnDt><Dbtr><Nm>MSA
              ILE DE
              FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street
              name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtTrfTxInf><PmtId><InstrId>SN41741M</InstrId><EndToEndId>SN41741M</EndToEndId></PmtId><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><Amt><InstdAmt
              Ccy="EUR">200</InstdAmt></Amt><ChrgBr>SHAR</ChrgBr><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene
              Bank Name</Nm><PstlAdr><StrtNm>Wellsprings
              Renaissanc</StrtNm><BldgNb>Building No
              02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
            examples:
              Payment-Validation-Request-Json:
                $ref: '#/components/examples/Payment-Validation-Request-Json'
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
              example: >-
                <?xml version="1.0" encoding="utf-8"?><Document
                xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrPmtStsRpt><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><InitgPty><Nm>MSA
                ILE DE
                FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street
                name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>Wire_SZD_API_1401</OrgnlMsgId><OrgnlMsgNmId>Pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2020-02-20T09:30:47</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><OrgnlCtrlSum>200</OrgnlCtrlSum></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>Wire_SZD_FD_API_1401</OrgnlPmtInfId><TxInfAndSts><OrgnlInstrId>SN41741M</OrgnlInstrId><OrgnlEndToEndId>SN41741M</OrgnlEndToEndId><TxSts>ACCP</TxSts><OrgnlTxRef><Amt><InstdAmt
                Ccy="EUR">200</InstdAmt></Amt><ReqdExctnDt>2020-07-22</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf><Dbtr><Nm>MSA
                ILE DE
                FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street
                name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene
                Bank Name</Nm><PstlAdr><StrtNm>Wellsprings
                Renaissanc</StrtNm><BldgNb>Building No
                02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Payment-Validation-Response-Json:
                  $ref: '#/components/examples/Payment-Validation-Response-Json'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <response><status>400</status><message>Mismatch of WorldLink
                Client ID or Client ID not
                maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth
                Token</httpMessage><moreInformation>Please use valid OAuth
                Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <errormessage><httpCode>415</httpCode><httpMessage>Unsupported
                Media Type</httpMessage><moreInformation>Unsupported
                Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example: >-
                <Response><status>500</status><message>Unable to process your
                request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Message'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
components:
  schemas:
    Error-Message:
      type: object
      properties:
        correlationId:
          type: string
        httpCode:
          type: string
        httpMessage:
          type: string
        moreInformation:
          type: string
      description: Error response body.
    ValidationRequest:
      required:
        - paymentBase64
      type: object
      properties:
        paymentBase64:
          type: string
          description: >
            paymentBase64: ISO XML V3 (pain.001.001.03) file has to be converted
            to Base64 format and passed in <Request><paymentBase64> tags. Based
            on the use case, you should use one of the ISO schema. Use PACS
            schema for financial institutions and PAIN format for non-financial
            clients. ISO schema can be refered from below URL

            pain.001.001.03 - https://www.iso20022.org/message/14316/download or
            #/definitions/Pain001
          example: >-
            PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxEb2N1bWVudCB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIiB4bWxucz0idXJuOmlzbzpzdGQ6aXNvOjIwMDIyOnRlY2g6eHNkOnBhaW4uMDAxLjAwMS4wMyI+DQogIDxDc3RtckNkdFRyZkluaXRuPg0KICAgIDxHcnBIZHI+DQogICAgICA8TXNnSWQ+R0JQMTYxMTE0Njk0ODY5PC9Nc2dJZD4NCiAgICAgIDxDcmVEdFRtPjIwMTctMDYtMDJUMTA6MTc6NTU8L0NyZUR0VG0+DQogICAgICA8TmJPZlR4cz4xPC9OYk9mVHhzPg0KICAgICAgPEN0cmxTdW0+MS4wMDwvQ3RybFN1bT4NCiAgICAgIDxJbml0Z1B0eT4NCiAgICAgICAgPE5tPkh1ZHNvbiBBZHZpc29ycyBFdXJvcGUgTHRkPC9ObT4NCiAgICAgIDwvSW5pdGdQdHk+DQogICAgPC9HcnBIZHI+DQogICAgPFBtdEluZj4NCiAgICAgIDxQbXRJbmZJZD4xNDAxNzQ5OCBGdW5kIFRyYW5zZmVyIERvbWVzdGljPC9QbXRJbmZJZD4NCiAgICAgIDxQbXRNdGQ+VFJGPC9QbXRNdGQ+DQogICAgICA8TmJPZlR4cz4xPC9OYk9mVHhzPg0KICAgICAgPEN0cmxTdW0+MS4wMDwvQ3RybFN1bT4NCiAgICAgIDxQbXRUcEluZj4NCiAgICAgICAgPFN2Y0x2bD4NCiAgICAgICAgICA8Q2Q+VVJHUDwvQ2Q+DQogICAgICAgIDwvU3ZjTHZsPg0KICAgICAgPC9QbXRUcEluZj4NCiAgICAgIDxSZXFkRXhjdG5EdD4yMDE5LTA4LTIwPC9SZXFkRXhjdG5EdD4NCiAgICAgIDxEYnRyPg0KICAgICAgICA8Tm0+Q0lUSUJBTksgRS1CVVNJTkVTUyBFVVIgRFVNIERFTU88L05tPg0KICAgICAgICA8UHN0bEFkcj4NCiAgICAgICAgICA8Q3RyeT5HQjwvQ3RyeT4NCiAgICAgICAgPC9Qc3RsQWRyPg0KICAgICAgICA8SWQ+DQogICAgICAgICAgPE9yZ0lkPg0KICAgICAgICAgICAgPEJJQ09yQkVJPkNJVElHQjJMPC9CSUNPckJFST4NCiAgICAgICAgICA8L09yZ0lkPg0KICAgICAgICA8L0lkPg0KICAgICAgPC9EYnRyPg0KICAgICAgPERidHJBY2N0Pg0KICAgICAgICA8SWQ+DQogICAgICAgICAgPE90aHI+DQogICAgICAgICAgICA8SWQ+MTAwMTIyNjI8L0lkPg0KICAgICAgICAgIDwvT3Rocj4NCiAgICAgICAgPC9JZD4NCiAgICAgICAgPENjeT5VU0Q8L0NjeT4NCiAgICAgIDwvRGJ0ckFjY3Q+DQogICAgICA8RGJ0ckFndD4NCiAgICAgICAgPEZpbkluc3RuSWQ+DQogICAgICAgICAgPEJJQz5DSVRJR0IyTDwvQklDPg0KICAgICAgICAgIDxQc3RsQWRyPg0KICAgICAgICAgICAgPEN0cnk+R0I8L0N0cnk+DQogICAgICAgICAgPC9Qc3RsQWRyPg0KICAgICAgICA8L0Zpbkluc3RuSWQ+DQogICAgICA8L0RidHJBZ3Q+DQogICAgICA8Q2hyZ0JyPkRFQlQ8L0NocmdCcj4NCiAgICAgIDxDZHRUcmZUeEluZj4NCiAgICAgICAgPFBtdElkPg0KICAgICAgICAgIDxFbmRUb0VuZElkPlBBMjAxODIwMTkxMjwvRW5kVG9FbmRJZD4NCiAgICAgICAgPC9QbXRJZD4NCiAgICAgICAgPEFtdD4NCiAgICAgICAgICA8SW5zdGRBbXQgQ2N5PSJVU0QiPjEuMDA8L0luc3RkQW10Pg0KICAgICAgICA8L0FtdD4NCiAgICAgICAgPFVsdG10RGJ0cj4NCiAgICAgICAgICA8SWQ+DQogICAgICAgICAgICA8UHJ2dElkPg0KICAgICAgICAgICAgICA8T3Rocj4NCiAgICAgICAgICAgICAgICA8SWQ+UEFSVElDSVBBTlQgSUQgUE9CTyBVSyBCUjYwMCAwMTIzNDU8L0lkPg0KICAgICAgICAgICAgICAgIDxTY2htZU5tPg0KICAgICAgICAgICAgICAgICAgPFBydHJ5PklOU1Q8L1BydHJ5Pg0KICAgICAgICAgICAgICAgIDwvU2NobWVObT4NCiAgICAgICAgICAgICAgPC9PdGhyPg0KICAgICAgICAgICAgPC9QcnZ0SWQ+DQogICAgICAgICAgPC9JZD4NCiAgICAgICAgPC9VbHRtdERidHI+DQogICAgICAgIDxDZHRyQWd0Pg0KICAgICAgICAgIDxGaW5JbnN0bklkPg0KICAgICAgICAgICAgPEJJQz5DSVRJR0IyTDwvQklDPg0KICAgICAgICAgICAgPENsclN5c01tYklkPg0KICAgICAgICAgICAgICA8TW1iSWQ+MTg1MDA4PC9NbWJJZD4NCiAgICAgICAgICAgIDwvQ2xyU3lzTW1iSWQ+DQogICAgICAgICAgICA8Tm0+Q0lUSUJBTksoSVNPKTwvTm0+DQogICAgICAgICAgICA8UHN0bEFkcj4NCiAgICAgICAgICAgICAgPEN0cnk+R0I8L0N0cnk+DQogICAgICAgICAgICA8L1BzdGxBZHI+DQogICAgICAgICAgPC9GaW5JbnN0bklkPg0KICAgICAgICA8L0NkdHJBZ3Q+DQogICAgICAgIDxDZHRyPg0KICAgICAgICAgIDxObT44MDEwNjQzMTIyWCBYWFhYWFhYWFhYWFhYIFhYWDwvTm0+DQogICAgICAgICAgPFBzdGxBZHI+DQogICAgICAgICAgICA8Q3RyeT5HQjwvQ3RyeT4NCiAgICAgICAgICA8L1BzdGxBZHI+DQogICAgICAgICAgPEN0Y3REdGxzPg0KICAgICAgICAgICAgPE5tPldEVyAzIElOVkVTVE1FTlRTIExJTUlURUQ8L05tPg0KICAgICAgICAgIDwvQ3RjdER0bHM+DQogICAgICAgIDwvQ2R0cj4NCiAgICAgICAgPENkdHJBY2N0Pg0KICAgICAgICAgIDxJZD4NCiAgICAgICAgICA8T3Rocj4NCiAgICAgICAgICAgICAgICAgICA8SWQ+MTAwMTIyNjI8L0lkPg0KICAgICAgICAgICAgICAgICAgPC9PdGhyPg0KICAgICAgICAgIDwvSWQ+DQogICAgICAgIDwvQ2R0ckFjY3Q+DQogICAgICAgIDxSbXRJbmY+DQogICAgICAgICAgPFVzdHJkPlRSMDAyNjM4PC9Vc3RyZD4NCiAgICAgICAgPC9SbXRJbmY+DQogICAgICA8L0NkdFRyZlR4SW5mPg0KICAgIDwvUG10SW5mPg0KICA8L0NzdG1yQ2R0VHJmSW5pdG4+DQo8L0RvY3VtZW50Pg==
      description: >-
        Object representing payment initiation request. ISO schema can be found
        at
        https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?page=4 
        and select Payments Initiation V03 and Payments Clearing and Settlement
        V09 then select more and download mdr file for detailed information on
        schema and  xsd schema definitions.
      xml:
        name: Request
    Document:
      type: object
      properties:
        CstmrPmtStsRpt:
          $ref: '#/components/schemas/CustomerPaymentStatusReportV03'
    OriginalPaymentInstruction33:
      required:
        - OrgnlPmtInfId
      type: object
      properties:
        RvslPmtInfId:
          type: string
          description: >-
            Unique identification, as assigned by an instructing party for an
            instructed party, to unambiguously identify the reversed payment
            information group. Usage: The instructing party is the party sending
            the reversal message and not the party that sent the original.
        OrgnlPmtInfId:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique identification, as assigned by the original sending party, to
            unambiguously identify the original payment information group.
        OrgnlNbOfTxs:
          pattern: '[0-9]{1,15}'
          type: string
          description: >-
            Number of individual transactions contained in the original payment
            information group.
        OrgnlCtrlSum:
          maxLength: 18
          minLength: 1
          type: string
          description: >-
            Total of all individual amounts included in the original payment
            information group, irrespective of currencies.Number of objects
            represented as a decimal number, for example 0.75 or 45.6. Upto 17
            fractional digit allowed.
        BtchBookg:
          type: boolean
          description: >-
            Identifies whether a single entry per individual transaction or a
            batch entry for the sum of the amounts of all transactions within
            the group of a message is requested.Batch booking is used to request
            and not order a possible batch booking.
        PmtInfRvsl:
          type: boolean
          description: >-
            Indicates whether or not the reversal applies to the complete
            original payment information group or to individual transactions
            within that group.A flag indicating a True or False value.
        RvslRsnInf:
          type: array
          description: >-
            Provides further details on the reason of the reversal of the
            transaction.
          items:
            $ref: '#/components/schemas/PaymentReversalReason9'
        TxInf:
          type: array
          description: >-
            Provides information on the original transactions to which the
            reversal message refers.
          items:
            $ref: '#/components/schemas/PaymentTransaction108'
    PaymentTransaction108:
      required:
        - OrgnlEndToEndId
        - RvsdInstdAmt
      type: object
      properties:
        RvslId:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique identification, as assigned by an instructing party for an
            instructed party, to unambiguously identify the reversed
            transaction.
        OrgnlInstrId:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique identification, as assigned by the original instructing party
            for the original instructed party, to unambiguously identify the
            original instruction.
        OrgnlEndToEndId:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique identification, as assigned by the original initiating party,
            to unambiguously identify the original transaction.
        OrgnlUETR:
          pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}'
          type: string
          description: >-
            Universally unique identifier to provide the original end-to-end
            reference of a payment transaction.Universally Unique IDentifier
            (UUID) version 4, as described in IETC RFC 4122 Universally Unique
            IDentifier (UUID) URN Namespace
        OrgnlInstdAmt:
          type: object
          description: >-
            Amount of money, as provided in the original transaction, to be
            moved between the debtor and the creditor, before deduction of
            charges, expressed in the currency, as ordered by the original
            initiating party.This amount has to be transported unchanged through
            the transaction chain.Upto 5 fractional digits allowed.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        RvsdInstdAmt:
          type: object
          description: >-
            Amount of money to be moved between the debtor and the creditor,
            before deduction of charges, in the reversed transaction.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        ChrgBr:
          type: object
          description: >-
            The ChargeBearer applies to the reversal message, not to the
            original instruction.Specifies if the creditor and/or debtor will
            bear the charges associated with the processing of the payment
            transaction.
          allOf:
            - $ref: '#/components/schemas/ChargeBearerType1Code'
        RvslRsnInf:
          type: array
          description: >-
            Provides detailed information on the reversal reason.Provides
            further details on the reason of the reversal of the transaction.
          items:
            $ref: '#/components/schemas/PaymentReversalReason9'
        OrgnlTxRef:
          type: object
          description: >-
            Set of Key elements used to identify the original transaction that
            is being referred to.
          allOf:
            - $ref: '#/components/schemas/OriginalTransactionReference28'
        SplmtryData:
          type: array
          description: >-
            Additional information that cannot be captured in the structured
            elements and/or any other specific block.
          items:
            $ref: '#/components/schemas/SupplementaryData1'
    SupplementaryData1:
      required:
        - Envlp
      type: object
      properties:
        PlcAndNm:
          maxLength: 350
          minLength: 1
          type: string
          description: >-
            Unambiguous reference to the location where the supplementary data
            must be inserted in the message instance.
        Envlp:
          type: object
          description: >-
            Technical element wrapping the supplementary data.Technical
            component that contains the validated supplementary data
            information. This technical envelope allows to segregate the
            supplementary data information from any other information. Elements
            from any namespace is allowed and the proces Contents is lax so if
            the schema cannot be obtained, no errors will occur.
          xml:
            namespace: http://com.citi.citiconnect/services/types/citiconnect/v1
    OriginalTransactionReference28:
      required:
        - DbtrAcct
        - ReqdExctnDt
      type: object
      properties:
        IntrBkSttlmAmt:
          type: object
          description: >-
            Amount of money moved between the instructing agent and the
            instructed agent.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Amt:
          type: object
          allOf:
            - $ref: '#/components/schemas/AmountType4Choice'
        IntrBkSttlmDt:
          type: string
          description: >-
            Date on which the amount of money ceases to be available to the
            agent that owes it and when the amount of money becomes available to
            the agent to which it is due.
          format: date
        ReqdColltnDt:
          type: string
          description: >-
            Date and time at which the creditor requests that the amount of
            money is to be collected from the debtor.
          format: date
        ReqdExctnDt:
          type: object
          description: >-
            Date at which the initiating party requests the clearing agent to
            process the payment.
          allOf:
            - $ref: '#/components/schemas/DateAndDateTime2Choice'
        CdtrSchmeId:
          type: object
          description: Credit party that signs the mandate.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        SttlmInf:
          $ref: '#/components/schemas/SettlementInstruction7'
        PmtTpInf:
          $ref: '#/components/schemas/PaymentTypeInformation27'
        PmtMtd:
          $ref: '#/components/schemas/PaymentMethod4Code'
        MndtRltdInf:
          $ref: '#/components/schemas/MandateRelatedInformation14'
        RmtInf:
          $ref: '#/components/schemas/RemittanceInformation16'
        UltmtDbtr:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor.
          allOf:
            - $ref: '#/components/schemas/Party40Choice'
        Dbtr:
          type: object
          description: Party that owes an amount of money to the (ultimate) creditor.
          allOf:
            - $ref: '#/components/schemas/Party40Choice'
        DbtrAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the debtor to which a
            debit entry will be made as a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        DbtrAgt:
          type: object
          description: Financial institution servicing an account for the debtor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        DbtrAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the debtor agent at its
            servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        CdtrAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the creditor agent at
            its servicing agent to which a credit entry will be made as a result
            of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        Cdtr:
          type: object
          description: Party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/Party40Choice'
        CdtrAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the creditor to which a
            credit entry will be posted as a result of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        UltmtCdtr:
          type: object
          description: Ultimate party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/Party40Choice'
        Purp:
          type: object
          description: Underlying reason for the payment transaction.
          allOf:
            - $ref: '#/components/schemas/Purpose2Choice'
      description: >-
        Set of key elements used to identify the original transaction that is
        being referred to.
    Purpose2Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the external purpose code in the format of character
            string with a maximum length of 4 characters.The list of valid codes
            is an external code list published separately.
        Prtry:
          maxLength: 35
          minLength: 1
          type: string
          description: Propreitary Details
      description: >-
        Purpose is used by the end customers, that is initiating party,
        (ultimate) debtor, (ultimate) creditor to provide information concerning
        the nature of the payment. Purpose is a content element, which is not
        used for processing by any of the agents involved in the payment chain.
        Either Code Or Proprietary is required.
    Party40Choice:
      required:
        - Pty
      type: object
      properties:
        Pty:
          type: object
          description: Specifies the identification of a person or an organisation.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        Agt:
          type: object
          description: >-
            Unique and unambiguous identification of a financial institution or
            a branch of a financial institution.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
      description: Specifies the identification of a party or an agent.
    RemittanceInformation16:
      type: object
      properties:
        Strd:
          type: array
          description: >-
            Information supplied to enable the matching of an entry with the
            items that the transfer is intended to settle, such as commercial
            invoices in an accounts' receivable system.
          items:
            $ref: '#/components/schemas/StructuredRemittanceInformation16'
        Ustrd:
          type: array
          description: >-
            Information supplied to enable the matching/reconciliation of an
            entry with the items that the payment is intended to settle, such as
            commercial invoices in an accounts' receivable system, in an
            unstructured form.
          items:
            $ref: '#/components/schemas/Max140Text'
    StructuredRemittanceInformation16:
      type: object
      properties:
        RfrdDocInf:
          type: array
          description: >-
            Set of elements used to identify the documents referred to in the
            remittance information.
          items:
            $ref: '#/components/schemas/ReferredDocumentInformation7'
        RfrdDocAmt:
          $ref: '#/components/schemas/RemittanceAmount3'
        CdtrRefInf:
          $ref: '#/components/schemas/CreditorReferenceInformation2'
        Invcr:
          type: object
          description: >-
            Identification of the organisation issuing the invoice, when it is
            different from the creditor or ultimate creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        Invcee:
          type: object
          description: >-
            Identification of the party to whom an invoice is issued, when it is
            different from the debtor or ultimate debtor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        TaxRmt:
          type: object
          description: >-
            Provides remittance information about a payment made for tax-related
            purposes.
          allOf:
            - $ref: '#/components/schemas/TaxInformation7'
        GrnshmtRmt:
          type: object
          description: >-
            Provides remittance information about a payment for
            garnishment-related purposes.
          allOf:
            - $ref: '#/components/schemas/Garnishment3'
        AddtlRmtInf:
          maxItems: 3
          type: array
          description: >-
            Additional information, in free text form, to complement the
            structured remittance information.
          items:
            $ref: '#/components/schemas/Max140Text'
    Garnishment3:
      required:
        - Tp
      type: object
      properties:
        Tp:
          type: object
          description: Specifies the type of garnishment.
          allOf:
            - $ref: '#/components/schemas/GarnishmentType1'
        Grnshee:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor, in this case, to the garnisher.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        GrnshmtAdmstr:
          type: object
          description: >-
            Party on the credit side of the transaction who administers the
            garnishment on behalf of the ultimate beneficiary.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        RefNb:
          maxLength: 140
          minLength: 1
          type: string
          description: >-
            Reference information that is specific to the agency receiving the
            garnishment.
        Dt:
          type: string
          description: Date of payment which garnishment was taken from.
          format: date
        RmtdAmt:
          type: object
          description: Amount of money remitted for the referred document.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        FmlyMdclInsrncInd:
          type: boolean
          description: >-
            Indicates if the person to whom the garnishment applies (that is,
            the ultimate debtor) has family medical insurance coverage
            available.A flag indicating a True or False value.
        MplyeeTermntnInd:
          type: boolean
          description: >-
            Indicates if the employment of the person to whom the garnishment
            applies (that is, the ultimate debtor) has been terminated.A flag
            indicating a True or False value.
      description: >-
        Provides remittance information about a payment for garnishment-related
        purposes.
    GarnishmentType1:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          type: object
          properties:
            Cd:
              maxLength: 4
              minLength: 1
              type: string
              description: >-
                Specifies the garnishment type as published in an external
                document type code list.
            Prtry:
              maxLength: 35
              minLength: 1
              type: string
              description: Proprietary Details
          description: >-
            Provides the type details of the garnishment.Either Code or Prtry is
            required
        Issr:
          maxLength: 35
          minLength: 1
          type: string
          description: Identification of the issuer of the garnishment type.
    TaxParty1:
      type: object
      properties:
        RegnId:
          type: object
          description: >-
            Unique identification, as assigned by an organisation, to
            unambiguously identify a party.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TaxId:
          type: object
          description: Tax identification number of the creditor.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TaxTp:
          type: object
          description: Type of tax payer.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Party on the credit side of the transaction to which the tax applies
    TaxAuthorisation1:
      type: object
      properties:
        Nm:
          type: object
          description: Name of the debtor or the debtor's authorised representative.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Titl:
          type: object
          description: >-
            Title or position of debtor or the debtor's authorised
            representative.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Details of the authorised tax paying party.
    TaxParty2:
      type: object
      properties:
        Authstn:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxAuthorisation1'
        RegnId:
          type: object
          description: >-
            Unique identification, as assigned by an organisation, to
            unambiguously identify a party.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TaxId:
          type: object
          description: Tax identification number of the debtor.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TaxTp:
          type: object
          description: Type of tax payer.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Set of elements used to identify the party on the debit side of the
        transaction to which the tax applies.
    TaxInformation7:
      type: object
      properties:
        Cdtr:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxParty1'
        Dbtr:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxParty2'
        AdmstnZone:
          type: object
          description: Territorial part of a country to which the tax payment is related.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        RefNb:
          type: object
          description: Tax reference information that is specific to a taxing agency.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Mtd:
          type: object
          description: >-
            Method used to indicate the underlying business or how the tax is
            paid.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TtlTaxblBaseAmt:
          type: object
          description: Total amount of money on which the tax is based.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        TtlTaxAmt:
          type: object
          description: Total amount of money as result of the calculation of the tax.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Dt:
          type: object
          description: Date by which tax is due.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        SeqNb:
          maxLength: 18
          type: string
          description: Sequential number of the tax report.
        Rcrd:
          type: array
          description: Record of tax details.
          items:
            $ref: '#/components/schemas/TaxRecord2'
      description: >-
        Provides remittance information about a payment made for tax-related
        purposes.
    TaxRecord2:
      type: object
      properties:
        Tp:
          type: object
          description: High level code to identify the type of tax details.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Ctgy:
          type: object
          description: Specifies the tax code as published by the tax authority.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CtgyDtls:
          type: object
          description: Provides further details of the category tax code.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        DbtrSts:
          type: object
          description: >-
            Code provided by local authority to identify the status of the party
            that has drawn up the settlement document.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CertId:
          type: object
          description: >-
            Identification number of the tax report as assigned by the taxing
            authority.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        FrmsCd:
          type: object
          description: >-
            Identifies, in a coded form, on which template the tax report is to
            be provided.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Prd:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxPeriod2'
        TaxAmt:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxAmount2'
        AddtlInf:
          type: object
          description: Further details of the tax record.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
    TaxRecordDetails2:
      required:
        - Amt
      type: object
      properties:
        Amt:
          type: object
          description: Underlying tax amount related to the specified period.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Prd:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxPeriod2'
    TaxAmount2:
      type: object
      properties:
        Dtls:
          type: array
          description: >-
            Set of elements used to provide details on the tax period and
            amount.
          items:
            $ref: '#/components/schemas/TaxRecordDetails2'
        Rate:
          maxLength: 11
          type: string
          description: Rate used to calculate the tax.Upto 10 fractional digits.
        TaxblBaseAmt:
          type: object
          description: Amount of money on which the tax is based.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        TtlAmt:
          type: object
          description: >-
            Total amount that is the result of the calculation of the tax for
            the record.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Set of elements used to provide information on the amount of the tax
        record.
    TaxPeriod2:
      type: object
      properties:
        FrToDt:
          type: object
          description: >-
            Range of time between a start date and an end date for which the tax
            report is provided.
          allOf:
            - $ref: '#/components/schemas/DatePeriod2'
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxRecordPeriod1Code'
        Yr:
          type: object
          description: Year related to the tax payment.
          allOf:
            - $ref: '#/components/schemas/ISODate'
      description: >-
        Set of elements used to provide details on the period of time related to
        the tax payment.
    DatePeriod2:
      required:
        - FrDt
        - ToDt
      type: object
      properties:
        FrDt:
          type: object
          description: Start date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        ToDt:
          type: object
          description: End date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
    TaxRecordPeriod1Code:
      type: string
      description: >-
        Identification of the period related to the tax payment.
        <br><br><b>MM01</b> : Tax is related to the first month of the period.
        <br><br><b>MM02</b> : Tax is related to the second month of the
        period.<br><br><b>MM03</b> : Tax is related to the third month of the
        period.<br><br><b>MM04</b> : Tax is related to the fourth month of the
        period.<br><br><b>MM05</b> : Tax is related to the fifth month of the
        period.<br><br><b>MM06</b> : Tax is related to the sixth month of the
        period.<br><br><b>MM07</b> : Tax is related to the seventh month of the
        period.<br><br><b>MM08</b> : Tax is related to the eighth month of the
        period.<br><br><b>MM09</b> : Tax is related to the ninth month of the
        period.<br><br><b>MM10</b> : Tax is related to the tenth month of the
        period.<br><br><b>MM11</b> : Tax is related to the eleventh month of the
        period.<br><br><b>MM12</b> : Tax is related to the twelfth month of the
        period.<br><br><b>QTR1</b> : Tax is related to the first quarter of the
        period.<br><br><b>QTR2</b> : Tax is related to the second quarter of the
        period.<br><br><b>QTR3</b> : Tax is related to the third quarter of the
        period.<br><br><b>QTR4</b> : Tax is related to the fourth quarter of the
        period.<br><br><b>HLF1</b> : Tax is related to the first half of the
        period.<br><br><b>HLF2</b> : Tax is related to the second half of the
        period.
      enum:
        - MM01
        - MM02
        - MM03
        - MM04
        - MM05
        - MM06
        - MM07
        - MM08
        - MM09
        - MM10
        - MM11
        - MM12
        - QTR1
        - QTR2
        - QTR3
        - QTR4
        - HLF1
        - HLF2
    DocumentType3Code:
      type: string
      description: >-
        Type of creditor reference, in a coded form.<br><br><b>RADM</b> :
        Document is a remittance advice sent separately from the current
        transaction. <br><br><b>RPIN</b> : Document is a linked payment
        instruction to which the current payment instruction is related, for
        example, in a cover scenario. <br><br><b>FXDR</b> : Document is a
        pre-agreed or pre-arranged foreign exchange transaction to which the
        payment transaction refers. <br><br><b>DISP</b> : Document is a dispatch
        advice. <br><br><b>PUOR</b> : Document is a purchase order
        <br><br><b>SCOR</b> : Document is a structured communication reference
        provided by the creditor to identify the referred transaction.
      enum:
        - RADM
        - RPIN
        - FXDR
        - DISP
        - PUOR
        - SCOR
    CreditorReferenceType1Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/DocumentType3Code'
        Prtry:
          type: object
          description: Creditor reference type, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Coded or proprietary format creditor reference type. Either Code or
        Proprietary field value should be passed on request.
    CreditorReferenceType2:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/CreditorReferenceType1Choice'
        Issr:
          type: object
          description: Entity that assigns the credit reference type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of creditor reference.
    CreditorReferenceInformation2:
      type: object
      properties:
        Ref:
          type: object
          description: >-
            Unique reference, as assigned by the creditor, to unambiguously
            refer to the payment transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Tp:
          $ref: '#/components/schemas/CreditorReferenceType2'
      description: >-
        Reference information provided by the creditor to allow the
        identification of the underlying documents.
    ReferredDocumentInformation7:
      type: object
      properties:
        Nb:
          type: object
          description: Unique and unambiguous identification of the referred document.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        RltdDt:
          type: object
          description: Date associated with the referred document.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        Tp:
          $ref: '#/components/schemas/ReferredDocumentType4'
        LineDtls:
          type: array
          description: >-
            Set of elements used to provide the content of the referred document
            line.
          items:
            $ref: '#/components/schemas/DocumentLineInformation1'
    DocumentLineInformation1:
      required:
        - Id
      type: object
      properties:
        Id:
          type: array
          description: Provides identification of the document line.
          items:
            $ref: '#/components/schemas/DocumentLineIdentification1'
        Desc:
          maxLength: 2048
          minLength: 1
          type: string
          description: Description associated with the document line.
        Amt:
          type: object
          allOf:
            - $ref: '#/components/schemas/RemittanceAmount3'
    RemittanceAmount3:
      type: object
      properties:
        DuePyblAmt:
          type: object
          description: >-
            Amount specified is the exact amount due and payable to the
            creditor.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        DscntApldAmt:
          type: array
          description: >-
            Amount of money that results from the application of an agreed
            discount to the amount due and payable to the creditor.
          items:
            $ref: '#/components/schemas/DiscountAmountAndType1'
        CdtNoteAmt:
          type: object
          description: >-
            Amount specified for the referred document is the amount of a credit
            note.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        TaxAmt:
          type: array
          description: Amount of the tax
          items:
            $ref: '#/components/schemas/TaxAmountAndType1'
        AdjstmntAmtAndRsn:
          type: array
          description: >-
            Set of elements used to provide information on the amount and reason
            of the document adjustment.
          items:
            $ref: '#/components/schemas/DocumentAdjustment1'
        RmtdAmt:
          type: object
          description: Amount of money remitted for the referred document.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Set of elements used to provide details on the amounts of the referred
        document.
    DocumentAdjustment1:
      required:
        - Amt
      type: object
      properties:
        AddtlInf:
          type: object
          description: Provides further details on the document adjustment.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Amt:
          type: object
          description: Amount of money of the document adjustment.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        CdtDbtInd:
          $ref: '#/components/schemas/CreditDebitCode'
        Rsn:
          type: object
          description: Specifies the reason for the adjustment.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
    Max4Text:
      maxLength: 4
      minLength: 1
      type: string
    CreditDebitCode:
      type: string
      description: >-
        Specifies whether the adjustment must be subtracted or added to the
        total amount.<br><br><b>CRDT</b> : Operation is an increase.
        <br><br><b>DBIT</b> : Operation is a decrease.
      enum:
        - CRDT
        - DBIT
    TaxAmountAndType1:
      type: object
      properties:
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/TaxAmountType1Choice'
        Amt:
          type: object
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: Amount of the tax.
    TaxAmountType1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the nature, or use, of the amount in the format of
            character string with a maximum length of 4 characters.The list of
            valid codes is an external code list published separately.
        Prtry:
          maxLength: 35
          minLength: 1
          type: string
          description: Propreitary Details
      description: Specifies the type of the amount.Either Propreitary or Code is required
    DiscountAmountAndType1:
      type: object
      properties:
        Tp:
          type: object
          properties:
            Cd:
              maxLength: 4
              minLength: 1
              type: string
              description: >-
                Specifies the nature, or use, of the amount in the format of
                character string with a maximum length of 4 characters.The list
                of valid codes is an external code list published separately.
            Prtry:
              maxLength: 4
              minLength: 1
              type: string
              description: Proprietary Details
          description: >-
            Specifies the type of the amount. Either Code or Proprietary is
            required
        Amt:
          type: object
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
    DocumentLineIdentification1:
      type: object
      properties:
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/DocumentLineType1'
        Nb:
          maxLength: 35
          minLength: 1
          type: string
          description: Identification of the type specified for the referred document line.
        RltdDt:
          type: string
          description: Date associated with the referred document line.
          format: date
    DocumentLineType1:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          type: object
          description: >-
            Provides the type details of the referred document line
            identification. Either Code Or Proprietary is required
          allOf:
            - $ref: '#/components/schemas/DocumentLineType1Choice'
        Issr:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Identification of the issuer of the reference document line
            identificationtype.
    DocumentLineType1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the document line type as published in an external
            document type code list.
        Prtry:
          maxLength: 35
          minLength: 1
          type: string
          description: Propreitary Description
      description: Either Code or Proprietary is required
    ReferredDocumentType4:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/ReferredDocumentType3Choice'
        Issr:
          type: object
          description: Identification of the issuer of the reference document type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of referred document.
    ReferredDocumentType3Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/DocumentType6Code'
        Prtry:
          type: object
          description: Proprietary identification of the type of the remittance document.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Provides the type details of the referred document. Either Code or
        Proprietary field value should be passed on request.
    DocumentType6Code:
      type: string
      description: >-
        Document type in a coded form. Specifies a type of financial or
        commercial document.<br><br><b>MSIN</b> : Document is an invoice
        claiming payment for the supply of metered services, for example gas or
        electricity supplied to a fixed meter. <br><br><b>CNFA</b> : Document is
        a credit note for the final amount settled for a commercial transaction.
        <br><br><b>DNFA</b> : Document is a debit note for the final amount
        settled for a commercial transaction. <br><br><b>CINV</b> :   Document
        is an invoice. <br><br><b>CREN</b> : Document is a credit note.
        <br><br><b>DEBN</b> : Document is a debit note. <br><br><b>HIRI</b> :
        Document is an invoice for the hiring of human resources or renting
        goods or equipment. <br><br><b>SBIN</b> : Document is an invoice issued
        by the debtor. <br><br><b>SVGS</b> : Account used for savings.
        <br><br><b>CMCN</b> : Document is an agreement between the parties,
        stipulating the terms and conditions of the delivery of goods or
        services. <br><br><b>SOAC</b> : Document is a statement of the
        transactions posted to the debtor's account at the supplier.
        <br><br><b>DISP</b> : Document is a dispatch advice. <br><br><b>BOLD</b>
        : Document is a shipping notice. <br><br><b>VCHR</b> : Document is an
        electronic payment document. <br><br><b>AROI</b> : Document is a payment
        that applies to a specific source document. <br><br><b>TSUT</b> :
        Document is a transaction identifier as assigned by the Trade Services
        Utility <br><br><b>TSUT</b> : Document is a purchase order.
      enum:
        - MSIN
        - CNFA
        - DNFA
        - CINV
        - CREN
        - DEBN
        - HIRI
        - SBIN
        - CMCN
        - SOAC
        - DISP
        - BOLD
        - VCHR
        - AROI
        - TSUT
        - PUOR
    MandateRelatedInformation14:
      required:
        - ElctrncSgntr
      type: object
      properties:
        MndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to unambiguously
            identify the mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        DtOfSgntr:
          type: string
          description: >-
            Date on which the direct debit mandate has been signed by the
            debtor.
          format: date
        AmdmntInd:
          type: boolean
          description: >-
            Indicator notifying whether the underlying mandate is amended or
            not.
        AmdmntInfDtls:
          type: object
          allOf:
            - $ref: '#/components/schemas/AmendmentInformationDetails13'
        ElctrncSgntr:
          maxLength: 1025
          minLength: 1
          type: string
          description: >-
            Additional security provisions, such as a digital signature, as
            provided by the debtor.
        FrstColltnDt:
          type: string
          description: Date of the first collection of a direct debit as per the mandate.
          format: date
        FnlColltnDt:
          type: string
          description: Date of the final collection of a direct debit as per the mandate.
          format: date
        Frqcy:
          type: object
          allOf:
            - $ref: '#/components/schemas/Frequency36Choice'
        Rsn:
          type: object
          allOf:
            - $ref: '#/components/schemas/MandateSetupReason1Choice'
        TrckgDays:
          pattern: '[0-9]{2}'
          type: string
          description: >-
            Specifies the number of days the direct debit instruction must be
            tracked.
      description: >-
        Provides further details of the mandate signed between the creditor and
        the debtor.If AmendmentIndicator is true, then
        AmendementInformationDetails must be present.If AmendmentIndicator is
        false, then AmendmentInformationDetails is not allowed.
    AmendmentInformationDetails13:
      type: object
      properties:
        OrgnlMndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to unambiguously
            identify the original mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCdtrSchmeId:
          type: object
          description: Original creditor scheme identification that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        OrgnlCdtrAgt:
          type: object
          description: Original creditor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        OrgnlCdtrAgtAcct:
          type: object
          description: Original creditor agent acount that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlDbtr:
          type: object
          description: Original debtor that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        OrgnlDbtrAcct:
          type: object
          description: Original debtor account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlDbtrAgt:
          type: object
          description: Original debtor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        OrgnlDbtrAgtAcct:
          type: object
          description: Original debtor agent account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlFnlColltnDt:
          type: string
          description: Original final collection date that has been modified.
          format: date
        OrgnlFrqcy:
          type: object
          allOf:
            - $ref: '#/components/schemas/Frequency36Choice'
        OrgnlRsn:
          type: object
          allOf:
            - $ref: '#/components/schemas/MandateSetupReason1Choice'
        OrgnlTrckgDays:
          pattern: '[0-9]{2}'
          type: string
          description: Original number of tracking days that has been modified.
      description: List of mandate elements that have been modified.
    MandateSetupReason1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the external mandate setup reason code in the format of
            character string with a maximum length of 4 characters.
        Prtry:
          maxLength: 70
          minLength: 1
          type: string
          description: Proprietary Details
      description: Either of Code or Proprietary is required.
    Frequency36Choice:
      required:
        - Prd
        - PtInTm
        - Tp
      type: object
      properties:
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/Frequency6Code'
        Prd:
          required:
            - CntPerPrd
            - Tp
          type: object
          properties:
            Tp:
              type: object
              description: >-
                Period for which the number of instructions are to be created
                and processed.
              allOf:
                - $ref: '#/components/schemas/Frequency6Code'
            CntPerPrd:
              maxLength: 18
              type: string
              description: >-
                Number of instructions to be created and processed during the
                specified period.Number of objects represented as a decimal
                number, for example 0.75 or 45.6. Fractional Digits Upto 17
                allowed
          description: >-
            Defines a frequency in terms on counts per period for a specific
            period type.
        PtInTm:
          type: object
          allOf:
            - $ref: '#/components/schemas/FrequencyAndMoment1'
    FrequencyAndMoment1:
      required:
        - PtInTm
        - Tp
      type: object
      properties:
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/Frequency6Code'
        PtInTm:
          pattern: '[0-9]{2}'
          type: string
          description: >-
            Further information on the exact point in time the event should take
            place.
      description: >-
        Defines a frequency in terms a specific moment within a specified period
        type.
    Frequency6Code:
      type: string
      description: >-
        Specifies the regularity of an event.<br><br><b>YEAR</b> : Event takes
        place every year or once a year. <br><br><b>MNTH</b> : Event takes place
        every month or once a month. <br><br><b>QURT</b> : Event takes place
        every three months or four times a year. <br><br><b>MIAN</b> : Event
        takes place every six months or two times a year.<br><br><b>WEEK</b> :
        Event takes place once a week. <br><br><b>DAIL</b> : Event takes place
        every day. <br><br><b>ADHO</b> : Event takes place on request or as
        necessary. <br><br><b>INDA</b> : Event takes place several times a day.
        <br><br><b>FRTN</b> : Event takes place every two weeks.
      enum:
        - YEAR
        - MNTH
        - QURT
        - MIAN
        - WEEK
        - DAIL
        - ADHO
        - INDA
        - FRTN
    PaymentMethod4Code:
      type: string
      description: >-
        Specifies the means of payment that will be used to move the amount of
        money.<br><br><b>CHK</b> : Written order to a bank to pay a certain
        amount of money from one person to another person. <br><br><b>TRF</b> :
        Transfer of an amount of money in the books of the account servicer.
        <br><br><b>DD</b> : Collection of an amount of money from the debtor's
        bank account by the creditor. The amount of money and dates of
        collections may vary. <br><br><b>TRA</b> : Transfer of an amount of
        money in the books of the account servicer. An advice should be sent
        back to the account owner.
      enum:
        - CHK
        - TRF
        - DD
        - TRA
    PaymentTypeInformation27:
      type: object
      properties:
        InstrPrty:
          $ref: '#/components/schemas/Priority2Code'
        ClrChanl:
          type: string
          description: >-
            Specifies the clearing channel to be used to process the payment
            instruction.<br><br><b>RTGS</b> : Clearing channel is a real-time
            gross settlement system. <br><br><b>RTNS</b> : Clearing channel is a
            real-time net settlement system. <br><br><b>MPNS</b> : Clearing
            channel is a mass payment net settlement system. <br><br><b>BOOK</b>
            : Payment through internal book transfer.
          enum:
            - RTGS
            - RTNS
            - MPNS
            - BOOK
        SvcLvl:
          type: array
          items:
            $ref: '#/components/schemas/ServiceLevel8Choice'
        LclInstrm:
          $ref: '#/components/schemas/LocalInstrument2Choice'
        SeqTp:
          type: string
          description: >-
            Identifies the direct debit sequence, such as first, recurrent,
            final or one-off.<br><br><b>FRST</b> : First collection of a series
            of direct debit instructions. <br><br><b>RCUR</b> : Direct debit
            instruction where the debtor's authorisation is used for regular
            direct debit transactions initiated by the creditor.
            <br><br><b>FNAL</b> : Final collection of a series of direct debit
            instructions. <br><br><b>OOFF</b> : Direct debit instruction where
            the debtor's authorisation is used to initiate one single direct
            debit transaction.<br><br><b>RPRE</b> :Collection used to re-present
            previously reversed or returned direct debit transactions.
          enum:
            - FRST
            - RCUR
            - FNAL
            - OOFF
            - RPRE
        CtgyPurp:
          type: object
          description: >-
            Specifies the high level purpose of the instruction based on a set
            of pre-defined categories.
          allOf:
            - $ref: '#/components/schemas/CategoryPurpose1Choice'
      description: Set of elements used to further specify the type of transaction.
    CategoryPurpose1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Category purpose, as published in an external category purpose code
            list.
        Prtry:
          type: object
          description: Category purpose, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the high level purpose of the instruction based on a set of
        pre-defined categories. Either Code or Proprietary field value should be
        passed in request.
    Priority2Code:
      type: string
      description: >-
        Indicator of the urgency or order of importance that the instructing
        party would like the instructed party to apply to the processing of the
        instruction.<br><br><b>HIGH</b> : Priority level is high.
        <br><br><b>NORM</b> : Priority level is normal.
      enum:
        - HIGH
        - NORM
    ServiceLevel8Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the external service level code in the format of character
            string with a maximum length of 4 characters.The list of valid codes
            is an external code list published separately.
        Prtry:
          type: object
          description: >-
            Specifies a pre-agreed service or level of service between the
            parties, as a proprietary code.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Agreement under which or rules under which the transaction should be
        processed. Either code or proprietary field values should be sent in
        request.
    LocalInstrument2Choice:
      type: object
      properties:
        Cd:
          type: object
          description: >-
            Specifies the external local instrument code in the format of
            character string with a maximum length of 35 characters.The list of
            valid codes is an external code list published separately.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Prtry:
          type: object
          description: Specifies the local instrument, as a proprietary code.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        User community specific instrument. Either Code or Proprietary field
        value should be passed in request.
    SettlementInstruction7:
      required:
        - SttlmMtd
      type: object
      properties:
        SttlmMtd:
          type: object
          allOf:
            - $ref: '#/components/schemas/SettlementMethod1Code'
        SttlmAcct:
          type: object
          description: >-
            A specific purpose account used to post debit and credit entries as
            a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        ClrSys:
          $ref: '#/components/schemas/ClearingSystemIdentification3Choice'
        InstgRmbrsmntAgt:
          type: object
          description: >-
            Agent through which the instructing agent will reimburse the
            instructed agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        InstgRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the instructing
            reimbursement agent account at its servicing agent in the payment
            chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        InstdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        InstdRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the instructed
            reimbursement agent account at its servicing agent in the payment
            chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        ThrdRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the third reimbursement
            agent account at its servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        ThrdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
      description: >-
        Specifies the details on how the settlement of the original
        transaction(s) between the instructing agent and the instructed agent
        was completed. If ThirdReimbursementAgent is present, then
        InstructingReimbursementAgent and InstructedReimbursementAgent must both
        be present. If SettlementMethod is equal to INDA or INGA, then
        ReimbursementAgent(s) and ClearingSystem are not allowed.If
        SettlementMethod is equal to COVE, then SettlementAccount and
        ClearingSystem are not allowed.If SettlementMethod is equal to COVE,
        then InstructedReimbursementAgent or InstructingReimbursementAgent must
        be present.If SettlementMethod is equal to CLRG, then SettlementAccount
        and ReimbursementAgent(s) are not allowed.If
        InstructingReimbursementAgentAccount is present, then
        InstructingReimbursementAgent must be present.If
        InstructedReimbursementAgentAccount is present, then
        InstructedReimbursementAgent must be present.If
        ThirdReimbursementAgentAccount is present, then ThirdReimbursementAgent
        must be present.
    ClearingSystemIdentification3Choice:
      type: object
      properties:
        Cd:
          maxLength: 3
          minLength: 1
          type: string
          description: >-
            Infrastructure through which the payment instruction is processed,
            as published in an external clearing system identification code
            list.Specifies the cash clearing system, as published in an external
            cash clearing system code list.
        Prtry:
          type: object
          description: Clearing system identification in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specification of a pre-agreed offering between clearing agents or the
        channel through which the payment instruction is processed. Either Code
        or Proprietary field value should be passed in request.
    CashAccount38:
      required:
        - Id
      type: object
      properties:
        Ccy:
          type: object
          description: Identification of the currency in which the account is held.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Id:
          $ref: '#/components/schemas/AccountIdentification4Choice'
        Nm:
          type: object
          description: >-
            Name of the account, as assigned by the account servicing
            institution, in agreement with the account owner in order to provide
            an additional means of identification of the account.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        Tp:
          type: object
          allOf:
            - $ref: '#/components/schemas/CashAccountType2Choice'
        Prxy:
          required:
            - Id
          type: object
          properties:
            Tp:
              type: object
              properties:
                Cd:
                  maxLength: 4
                  minLength: 1
                  type: string
                  description: >-
                    Specifies the external proxy account type code, as published
                    in the proxy account type external code set.
                Prtry:
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: Proprietary details
              description: >-
                Type of the proxy identification.Either of Code or Propreitary
                is required.
            Id:
              maxLength: 2048
              minLength: 1
              type: string
              description: >-
                Identification used to indicate the account identification under
                another specified name.
          description: >-
            Specifies an alternate assumed name for the identification of the
            account.
    CashAccountType2Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the nature, or use, of the cash account in the format of
            character string with a maximum length of 4 characters.The list of
            valid codes is an external code list published separately.
        Prtry:
          type: object
          description: Nature or use of the account in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the nature, or use of the account. Either Code or Proprietary
        field value should be passed on request.
    AccountIdentification4Choice:
      type: object
      properties:
        IBAN:
          $ref: '#/components/schemas/IBAN2007Identifier'
        Othr:
          $ref: '#/components/schemas/GenericAccountIdentification1'
      description: >-
        Unique and unambiguous identification for the account between the
        account owner and the account servicer. Either iban or Othr field value
        should be passed on request.
    GenericAccountIdentification1:
      required:
        - Id
      type: object
      properties:
        Id:
          maxLength: 34
          minLength: 1
          type: string
          description: Identification assigned by an institution.
        Issr:
          type: object
          description: Entity that assigns the identification.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        SchmeNm:
          type: object
          description: >-
            Name of the identification scheme.Either Code or Proprietary is
            required
          allOf:
            - $ref: '#/components/schemas/FinancialIdentificationSchemeName1Choice'
      description: >-
        Unique identification of an account, as assigned by the account
        servicer, using an identification scheme.
    IBAN2007Identifier:
      pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
      type: string
      description: >-
        >- International Bank Account Number (IBAN) - identifier used
        internationally by financial institutions to uniquely identify the
        account of a customer. Further specifications of the format and content
        of the IBAN can be found in the standard ISO 13616 "Banking and related
        financial services - International Bank Account Number (IBAN)" version
        1997-10-01, or later revisions.
    SettlementMethod1Code:
      type: string
      description: >-
        Method used to settle the (batch of) payment instructions.
        <br><br><b>INDA</b> : Settlement is done by the agent instructed to
        execute a payment instruction. <br><br><b>INGA</b> : Settlement is done
        by the agent instructing and forwarding the payment to the next party in
        the payment chain. <br><br><b>COVE</b> : Settlement is done through a
        cover payment. <br><br><b>CLRG</b> : Settlement is done through a
        payment clearing system.
      enum:
        - INDA
        - INGA
        - COVE
        - CLRG
    DateAndDateTime2Choice:
      type: object
      properties:
        Dt:
          type: string
          description: >-
            Date at which the initiating party requests the clearing agent to
            process the payment.
          format: date
        DtTm:
          type: string
          description: >-
            Date and Time at which the initiating party requests the clearing
            agent to process the payment.
          format: date-time
      description: Either Choice between a date or a date and time format.
    AmountType4Choice:
      type: object
      properties:
        EqvtAmt:
          $ref: '#/components/schemas/EquivalentAmount2'
        InstdAmt:
          type: object
          description: >-
            Amount of money to be moved between the debtor and creditor, before
            deduction of charges, expressed in the currency as ordered by the
            initiating party.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
[...]
