openapi: 3.2.0
info:
  title: Citi Fxgateway API
  version: ''
  description: 'Operations tagged Fxgateway across 13 of this provider''s published API definitions: fx_benchmark_async_api.yaml, fx_benchmark_sync_api.yaml, fx_cancel_async_api.yaml, fx_cancel_sync_api.yaml, fx_eCommerce_api.yaml, fx_gateway_reporting_async_api.yaml, fx_gateway_reporting_sync_api.yaml, fx_market_async_api.yaml, fx_market_sync_api.yaml, fx_orders_async_api.yaml, fx_orders_sync_api.yaml, fx_quote_async_api.yaml, fx_quote_sync_api.yaml.'
servers:
- url: https://sandbox.api.citivelocity.com/markets
  description: sandbox URL
- url: https://api.citivelocity.com/markets
  description: production gateway URL
- url: https://icg.api.citigroup.net/markets/internal
tags:
- name: Fxgateway
paths:
  /fxgateway/async/benchmarkorder/api/v1:
    post:
      summary: Benchmark Order Asynchronous Request
      description: Use this endpoint to initiate a new spot, forward, or swap fixing order request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXBenchmarkOrder'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\n\n<b>Note: The response message will be sent via web socket.</b> Please see the User Guide for more information on using the web socket connection.   \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Order_Acknowledged_Or_Rejected'
                - $ref: '#/components/schemas/Order_Accepted'
                - $ref: '#/components/schemas/Order_Rated'
        '401':
          description: Unauthorized user / Invalid_client (Not authorized to Oauth API) / Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewayAsyncBenchmarkorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production gateway URL
  /fxgateway/sync/benchmarkorder/api/v1:
    post:
      summary: Benchmark Order Synchronous Request
      description: Use this endpoint to initiate a new spot, forward, or swap fixing order request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXBenchMarkOrder'
        required: true
      responses:
        '200':
          description: "OK Acknowledged. \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Order_Acknowledged_Or_Rejected_2'
                - $ref: '#/components/schemas/Order_Accepted_2'
                - $ref: '#/components/schemas/Order_Rated_2'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewaySyncBenchmarkorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/async/ordercancel/api/v1:
    post:
      summary: Order Cancellation Asynchronous Request
      description: 'Use this endpoint to cancel an order you have placed.


        Note:

        - FX Benchmark QUOTED orders cannot be cancelled through this cancel request

        - FX Benchmark FIXING orders cannot be cancelled once they are rated

        - FX Market orders cannot be cancelled once they are rated'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXOrderCancel'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\nNote: Order response message will be sent via web socket. \n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_Cancel_Response'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewayAsyncOrdercancelApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/sync/ordercancel/api/v1:
    post:
      summary: Order Cancellation Synchronous Request
      description: 'Use this endpoint to cancel an order you have placed.


        Note:

        - FX Bench QUOTED orders cannot be cancelled through this cancel request

        - FX Bench FIXING orders cannot be cancelled once they are rated

        - FX Market orders cannot be cancelled once they are rated'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXOrderCancel_2'
        required: true
      responses:
        '200':
          description: 'OK Acknowledged.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order_Cancel_Response_2'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewaySyncOrdercancelApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/api/v1:
    post:
      summary: Submit Standard Orders
      responses:
        '200':
          description: 200 OK
        '400':
          description: Bad Request
        '401':
          description: Invalid Address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FX%20trade%20request'
        description: FX trade request
      tags:
      - Fxgateway
      security:
      - client_id: []
        client_credential:
        - /fxapi
      operationId: postFxgatewayApiV1
      x-operation-id-source: derived
    servers:
    - url: https://icg.api.citigroup.net/markets/internal
  /fxgateway/async/orderreport/api/v1:
    post:
      summary: Order Enquiry Asynchronous Request
      description: Use this endpoint to know the current status of a deal.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FxOrderEnquiry'
              - $ref: '#/components/schemas/FxOrderCustomEnquiry'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\nNote: Enquiry response message to be consumed via web socket. \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FXMarketOrder_Accepted_Or_Rejected'
                - $ref: '#/components/schemas/FXMarketOrder_Rated'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Acknowledged_Or_Rejected'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Accepted'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Rated'
                - $ref: '#/components/schemas/FXCustomEnquiry_Response'
                - $ref: '#/components/schemas/FXCustomEnquiry_Response_ForAll'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewayAsyncOrderreportApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/sync/orderreport/api/v1:
    post:
      summary: Order Enquiry Synchronous Request
      description: Use this endpoint to know the current status of a deal.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FxOrderEnquiry_2'
              - $ref: '#/components/schemas/FxOrderCustomEnquiry_2'
        required: true
      responses:
        '200':
          description: "OK Acknowledged. \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FXMarketOrder_Accepted_Or_Rejected_2'
                - $ref: '#/components/schemas/FXMarketOrder_Rated_2'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Acknowledged_Or_Rejected_2'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Accepted_2'
                - $ref: '#/components/schemas/FXBenchMarkOrder_Rated_2'
                - $ref: '#/components/schemas/FXCustomEnquiry_Response_2'
                - $ref: '#/components/schemas/FXCustomEnquiry_Response_ForAll_2'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewaySyncOrderreportApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/async/marketorder/api/v1:
    post:
      summary: Market Order Asynchronous Request
      description: Use this endpoint to initiate a spot or forward market order request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXMarketOrder'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\n\n<b>Note: The response message will be sent via web socket.</b> Please see the User Guide for more information on using the web socket connection.      \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Order_Accepted_Or_Rejected'
                - $ref: '#/components/schemas/Order_Rated_3'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewayAsyncMarketorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production gateway URL
  /fxgateway/sync/marketorder/api/v1:
    post:
      summary: Market Order Synchronous Request
      description: Use this endpoint to initiate a spot or foreward market order request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXMarketOrder_2'
        required: true
      responses:
        '200':
          description: "OK Acknowledged. \n"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Order_Accepted_Or_Rejected_2'
                - $ref: '#/components/schemas/Order_Rated_4'
        '401':
          description: Unauthorized user/ Invalid_client (Not authorized to Oauth API)/ Not registered to the plan
        '403':
          description: Access Forbidden error
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      - client_id: []
      operationId: postFxgatewaySyncMarketorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
    - url: https://api.citivelocity.com/markets
      description: production URL
  /fxgateway/async/instantfxorder/api/v1:
    post:
      parameters:
      - name: client_id
        in: query
        description: Your unique identifier shared during your API onboarding. It is the same client_id used for oauth token generation.
        required: true
        schema:
          type: string
      summary: Order request
      description: Use this endpoint to request a rate for standard, drawdowns, pre-orders (intent to pay), forecast, and refund orders. Both individual and multi-order requests are accepted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXTradeRequest'
        required: true
      responses:
        '200':
          description: 'OK Acknowledged.


            <b>Note: The orders response message will be sent via web socket.</b> Please see the User Guide tab for more information on using the web socket connection.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionReport'
        '401':
          description: Unauthorized user error
        '403':
          description: Access Forbidden error
        '500':
          description: Internal Server Error
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl --request POST \

          --url ''https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2'' \

          --header ''accept: application/json'' \

          --header ''authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ'' \

          --header ''content-type: application/json'' \

          --data ''{ "action": "order-request", "senderCompId": "IFXCLIENT0", "onBehalfOfCompId": "IFXCLIENT0", "jsonReqId": "brs-25-09-2018-03", "sendingTime": "20180927-12:12:56.807", "deals": [ { "clOrdId": "st85589-27-09-2018-req4", "account": "XXXXXXXXXXX", "ccyPair": "EURUSD", "tenor": "SP", "valueDate": "", "dealtCcy": "EUR", "side": "B", "orderQty": "100","rateSetId": "142310", "ordType": "STANDARD" } ] }'''
      - lang: python
        label: Python
        source: "import http.client \n\n#If a proxy is used, set the tunnel as per below:\n#conn=http.client.HTTPSConnection(\"your_proxy_host\",your_proxy_port)\n#conn.set_tunnel(\"api.citivelocity.com\",443)\nconn = http.client.HTTPSConnection(\"api.citivelocity.com\") \npayload = \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\" \nheaders = { \n'content-type': \"application/json\", \n'accept': \"application/json\", \n'authorization': \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\" \n} \nconn.request(\"POST\", \"/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\", payload, headers) \nres = conn.getresponse() \ndata = res.read() \nprint(data.decode(\"utf-8\"))"
      - lang: PHP
        label: PHP
        source: "<?php \n$curl = curl_init(); \ncurl_setopt_array($curl, array( \nCURLOPT_URL => \"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2 \", \nCURLOPT_RETURNTRANSFER => true, \nCURLOPT_ENCODING => \" \", CURLOPT_MAXREDIRS => 10, \nCURLOPT_TIMEOUT => 30, \nCURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1, \nCURLOPT_CUSTOMREQUEST => \"POST\", \nCURLOPT_POSTFIELDS => \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\", \nCURLOPT_HTTPHEADER => array( \n\"accept: application/json\", \n\"authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"content-type: application/json\", \n), \n)); \n$response = curl_exec($curl); \n$err = curl_error($curl); \ncurl_close($curl); \nif ($err) { \necho \"cURL Error #:\" . $err; \n} else \n{ \necho $response; \n}"
      - lang: JAVA
        label: Java
        source: "/**Include following Maven dependency \n <dependency> \n <groupId>com.squareup.okhttp3</groupId> \n <artifactId>okhttp3</artifactId> \n <version>3.9.0</version> \n </dependency> \n */ \nimport java.io.IOException; \nimport java.net.InetSocketAddress; \nimport java.net.Proxy; \nimport okhttp3.MediaType; \nimport okhttp3.OkHttpClient; \nimport okhttp3.Request; \nimport okhttp3.RequestBody; \nimport okhttp3.Response;\npublic class Main { \n public static void main(String[] args) { \nOkHttpClient client = new OkHttpClient(); \n MediaType mediaType = MediaType.parse(\"application/json\"); \n RequestBody body = RequestBody.create(mediaType, \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\"); \n Request request = new Request.Builder() .url(\"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \n .post(body) \n .addHeader(\"content-type\", \"application/json\") \n .addHeader(\"accept\", \"application/json\") \n .addHeader(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \n .build(); \n try { \n Response response = client.newCall(request).execute(); \n } catch (IOException e) { \n e.printStackTrace(); \n } \n } \n} "
      - lang: Javacript
        label: Node
        source: " // Install request by running \"npm install --save request\" \n var request = require(\"request\"); \n var options = { \n method: 'POST', \n url: 'https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1', \n qs: { client_id: 'REPLACE_THIS_VALUE' }, \n headers: \n { \n authorization: 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ', \n accept: 'application/json', \n 'content-type': 'application/json' \n }, \n body: \n { \"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ { \"clOrdId\": \"st85589-27-09-2018-req4\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"SP\", \"valueDate\": \"\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" } ] }, \n json: true }; \n request(options, function (error, response, body) { \n if (error) \n return console.error('Failed: %s', error.message); \n console.log('Success: ', body); \n });"
      - lang: Go
        label: Go
        source: "package main \nimport ( \n\"fmt\" \n\"strings\" \n\"net/http\" \n\"io/ioutil\" \n) \nfunc main() { \nurl := \"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\" \npayload := strings.NewReader(\"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\") \nreq, _ := http.NewRequest(\"POST\", url, payload) \nreq.Header.Add(\"content-type\", \"application/json\") \nreq.Header.Add(\"accept\", \"application/json\") \nreq.Header.Add(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \nres, _ := http.DefaultClient.Do(req) \ndefer res.Body.Close() \nbody, _ := ioutil.ReadAll(res.Body) \nfmt.Println(res) \nfmt.Println(string(body)) }"
      - lang: Swift
        label: Swift
        source: "import Foundation \nlet headers = [ \n\"content-type\": \"application/json\", \n\"authorization\": \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"accept\": \"application/json\" \nvar request = URLRequest(url: URL(string: \"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\")!, \ncachePolicy: .reloadIgnoringLocalAndRemoteCacheData, \ntimeoutInterval: 10.0) \nlet data: [String: Any] = [\"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ [ \"clOrdId\": \"st85589-27-09-2018-req4\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"SP\", \"valueDate\": \"\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" ] ] ] \nlet jsonData: Data \ndo { \n jsonData = try JSONSerialization.data(withJSONObject: data, options: []) \n request.httpBody = jsonData \n} catch { \n print(\"Error: cannot create JSON from todo\") \n} \nrequest.httpMethod = \"POST\" \nrequest.allHTTPHeaderFields = headers \nlet session = URLSession.shared \nlet task = session.dataTask(with: request, completionHandler: { (data, response, error) in \n guard let data = data, error == nil else { // check for fundamental networking error \n print(\"error=\\(String(describing: error))\") \n return \n } \n if let httpStatus = response as? HTTPURLResponse, httpStatus.statusCode != 200 { // check for http errors \n print(\"statusCode should be 200, but is \\(httpStatus.statusCode)\") \n print(\"response = \\(String(describing: response))\") \n } \nlet responseString = String(data: data, encoding: .utf8) \n print(\"responseString = \\(String(describing: responseString))\") \n}) \ntask.resume()"
      - lang: R
        label: R
        source: "## install the packages httr,jsonlite \nlibrary(httr) \nlibrary(jsonlite) \nurl<- 'https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2' \nreq<- '{ \"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ { \"clOrdId\": \"st85589-27-09-2018-req4\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"SP\", \"valueDate\": \"\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" } ] }' \nresp<- POST(url , body=req, add_headers(\"accept\" = \"applicaton/json\",\"authorization\" =\"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \"content-type\" = \"application/json\")) \ndata<- (toJSON(content(resp, as = \"parsed\"))) \nprettify(data)"
      - lang: Ruby
        label: Ruby
        source: "require 'uri' \nrequire 'openssl' \nrequire 'net/http' \nurl = URI(\"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \nhttp = Net::HTTP.new(url.host, url.port) \nhttp.use_ssl = true \nhttp.verify_mode = OpenSSL::SSL::VERIFY_PEER \nrequest = Net::HTTP::Post.new(url) \nrequest[\"content-type\"] = 'application/json' \nrequest[\"accept\"] = 'application/json' \nrequest[\"authorization\"] = 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ' \nrequest.body = \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\" \nresponse = http.request(request) \nputs response.read_body.force_encoding(\"utf-8\")"
      - lang: C#
        label: C#
        source: "using System; \nusing System.Collections.Generic; \nusing System.Linq; \nusing System.Text; \nusing System; \nusing System.Web; \nusing System.Net; \nusing System.IO; \n \nnamespace ConsoleProgram \n{ \n public class Class1 \n { \n private const string URL = \"https://api.citivelocity.com/markets/fxgateway/async/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\"; \n private const string DATA = @\"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"st85589-27-09-2018-req4\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"SP\\\", \\\"valueDate\\\": \\\"\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\"; \n \n static void Main(string[] args) \n { \n Class1.CreateObject(); \n } \n \n private static void CreateObject() \n { \n HttpWebRequest request = (HttpWebRequest)WebRequest.Create(URL); \n request.Method = \"POST\"; \n request.ContentType = \"application/json\"; \n request.ContentLength = DATA.Length; \n request.Headers[\"authorization\"] = \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\"; \n using (Stream webStream = request.GetRequestStream()) \n using (StreamWriter requestWriter = new StreamWriter(webStream, System.Text.Encoding.ASCII)) \n { \n requestWriter.Write(DATA); \n } \n try \n { \n WebResponse webResponse = request.GetResponse(); \n using (Stream webStream = webResponse.GetResponseStream() ?? Stream.Null) \n using (StreamReader responseReader = new StreamReader(webStream)) \n { \n string response = responseReader.ReadToEnd(); \n Console.Out.WriteLine(response); \n } \n }catch (Exception e) \n { \n Console.Out.WriteLine(\"-----------------\"); \n Console.Out.WriteLine(e.Message); \n } \n \n } \n } \n}"
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      operationId: postFxgatewayAsyncInstantfxorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://api.citivelocity.com/markets
      description: production gateway URL
    - url: https://sandbox.api.citivelocity.com/markets
      description: sandbox URL
  /fxgateway/sync/instantfxorder/api/v1:
    post:
      parameters:
      - name: client_id
        in: query
        description: Your unique identifier shared during your API onboarding. It is the same client_id used for oauth token generation.
        required: true
        schema:
          type: string
      summary: Order request
      description: Use this endpoint to request a rate for standard, drawdowns, pre-orders (intent to pay), forecast, and refund orders. Both individual and multi-order requests are accepted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXTradeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionReport_2'
        '401':
          description: Unauthorized user error
        '403':
          description: Access Forbidden error
        '500':
          description: Internal Server Error
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl --request POST \

          --url ''https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2'' \

          --header ''accept: application/json'' \

          --header ''authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ'' \

          --header ''content-type: application/json'' \

          --data ''{ "action": "order-request", "senderCompId": "IFXCLIENT0", "onBehalfOfCompId": "IFXCLIENT0", "jsonReqId": "brs-25-09-2018-03", "sendingTime": "20180927-12:12:56.807", "deals": [ { "clOrdId": "test1134-27-09-2018-req5", "account": "XXXXXXXXXXX", "ccyPair": "EURUSD", "tenor": "BROKEN", "valueDate": "2018-10-01", "dealtCcy": "EUR", "side": "B", "orderQty": "100","rateSetId": "142310", "ordType": "STANDARD" } ] }'''
      - lang: python
        label: Python
        source: "import http.client \n\n#If a proxy is used, set the tunnel as per below:\n#conn=http.client.HTTPSConnection(\"your_proxy_host\",your_proxy_port)\n#conn.set_tunnel(\"sandbox.api.citivelocity.com\",443)\nconn = http.client.HTTPSConnection(\"sandbox.api.citivelocity.com\") \npayload = \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"test1134-27-09-2018-req5\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"BROKEN\\\", \\\"valueDate\\\": \\\"2018-10-01\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\" \nheaders = { \n'content-type': \"application/json\", \n'accept': \"application/json\", \n'authorization': \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\" \n} \nconn.request(\"POST\", \"/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\", payload, headers) \nres = conn.getresponse() \ndata = res.read() \nprint(data.decode(\"utf-8\"))"
      - lang: PHP
        label: PHP
        source: "<?php \n$curl = curl_init(); \ncurl_setopt_array($curl, array( \nCURLOPT_URL => \"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2 \", \nCURLOPT_RETURNTRANSFER => true, \nCURLOPT_ENCODING => \" \", CURLOPT_MAXREDIRS => 10, \nCURLOPT_TIMEOUT => 30, \nCURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1, \nCURLOPT_CUSTOMREQUEST => \"POST\", \nCURLOPT_POSTFIELDS => \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"test1134-27-09-2018-req5\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": BROKEN\\\", \\\"valueDate\\\": \\\"2018-10-01\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\", \nCURLOPT_HTTPHEADER => array( \n\"accept: application/json\", \n\"authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\", \n\"content-type: application/json\", \n), \n)); \n$response = curl_exec($curl); \n$err = curl_error($curl); \ncurl_close($curl); \nif ($err) { \necho \"cURL Error #:\" . $err; \n} else \n{ \necho $response; \n}"
      - lang: JAVA
        label: Java
        source: "/**Include following Maven dependency \n <dependency> \n <groupId>com.squareup.okhttp3</groupId> \n <artifactId>okhttp3</artifactId> \n <version>3.9.0</version> \n </dependency> \n */ \nimport java.io.IOException; \nimport java.net.InetSocketAddress; \nimport java.net.Proxy; \nimport okhttp3.MediaType; \nimport okhttp3.OkHttpClient; \nimport okhttp3.Request; \nimport okhttp3.RequestBody; \nimport okhttp3.Response;\npublic class Main { \n public static void main(String[] args) { \nOkHttpClient client = new OkHttpClient(); \n MediaType mediaType = MediaType.parse(\"application/json\"); \n RequestBody body = RequestBody.create(mediaType, \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"test1134-27-09-2018-req5\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": \\\"BROKEN\\\", \\\"valueDate\\\": \\\"2018-10-01\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\"); \n Request request = new Request.Builder() .url(\"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \n .post(body) \n .addHeader(\"content-type\", \"application/json\") \n .addHeader(\"accept\", \"application/json\") \n .addHeader(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\") \n .build(); \n try { \n Response response = client.newCall(request).execute(); \n } catch (IOException e) { \n e.printStackTrace(); \n } \n } \n}"
      - lang: Javacript
        label: Node
        source: " // Install request by running \"npm install --save request\" \n var request = require(\"request\"); \n var options = { \n method: 'POST', \n url: 'https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1', \n qs: { client_id: 'REPLACE_THIS_VALUE' }, \n headers: \n { \n authorization: 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ', \n accept: 'application/json', \n 'content-type': 'application/json' \n }, \n body: \n { \"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ { \"clOrdId\": \"test1134-27-09-2018-req5\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"BROKEN\", \"valueDate\": \"2018-10-01\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" } ] }, \n json: true }; \n request(options, function (error, response, body) { \n if (error) \n return console.error('Failed: %s', error.message); \n console.log('Success: ', body); \n });"
      - lang: Go
        label: Go
        source: "package main \nimport ( \n\"fmt\" \n\"strings\" \n\"net/http\" \n\"io/ioutil\" \n) \nfunc main() { \nurl := \"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\" \npayload := strings.NewReader(\"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"test1134-27-09-2018-req5\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": BROKEN\\\", \\\"valueDate\\\": \\\"2018-10-01\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\") \nreq, _ := http.NewRequest(\"POST\", url, payload) \nreq.Header.Add(\"content-type\", \"application/json\") \nreq.Header.Add(\"accept\", \"application/json\") \nreq.Header.Add(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\") \nres, _ := http.DefaultClient.Do(req) \ndefer res.Body.Close() \nbody, _ := ioutil.ReadAll(res.Body) \nfmt.Println(res) \nfmt.Println(string(body)) }"
      - lang: Swift
        label: Swift
        source: "import Foundation \nlet headers = [ \n\"content-type\": \"application/json\", \n\"authorization\": \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\", \n\"accept\": \"application/json\" \nvar request = URLRequest(url: URL(string: \"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\")!, \ncachePolicy: .reloadIgnoringLocalAndRemoteCacheData, \ntimeoutInterval: 10.0) \nlet data: [String: Any] = [\"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ [ \"clOrdId\": \"test1134-27-09-2018-req5\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"BROKEN\", \"valueDate\": \"2018-10-01\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" ] ] ] \nlet jsonData: Data \ndo { \n jsonData = try JSONSerialization.data(withJSONObject: data, options: []) \n request.httpBody = jsonData \n} catch { \n print(\"Error: cannot create JSON from todo\") \n} \nrequest.httpMethod = \"POST\" \nrequest.allHTTPHeaderFields = headers \nlet session = URLSession.shared \nlet task = session.dataTask(with: request, completionHandler: { (data, response, error) in \n guard let data = data, error == nil else { // check for fundamental networking error \n print(\"error=\\(String(describing: error))\") \n return \n } \n if let httpStatus = response as? HTTPURLResponse, httpStatus.statusCode != 200 { // check for http errors \n print(\"statusCode should be 200, but is \\(httpStatus.statusCode)\") \n print(\"response = \\(String(describing: response))\") \n } \nlet responseString = String(data: data, encoding: .utf8) \n print(\"responseString = \\(String(describing: responseString))\") \n}) \ntask.resume()"
      - lang: R
        label: R
        source: "## install the packages httr,jsonlite \nlibrary(httr) \nlibrary(jsonlite) \nurl<- 'https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2' \nreq<- '{ \"action\": \"order-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-03\", \"sendingTime\": \"20180927-12:12:56.807\", \"deals\": [ { \"clOrdId\": \"test1134-27-09-2018-req5\", \"account\": \"XXXXXXXXXXX\", \"ccyPair\": \"EURUSD\", \"tenor\": \"BROKEN\", \"valueDate\": \"2018-10-01\", \"dealtCcy\": \"EUR\", \"side\": \"B\", \"orderQty\": \"100\",\"rateSetId\": \"142310\", \"ordType\": \"STANDARD\" } ] }' \nresp<- POST(url , body=req, add_headers(\"accept\" = \"applicaton/json\",\"authorization\" =\"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\", \"content-type\" = \"application/json\")) \ndata<- (toJSON(content(resp, as = \"parsed\"))) \nprettify(data)"
      - lang: Ruby
        label: Ruby
        source: "require 'uri' \nrequire 'openssl' \nrequire 'net/http' \nurl = URI(\"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \nhttp = Net::HTTP.new(url.host, url.port) \nhttp.use_ssl = true \nhttp.verify_mode = OpenSSL::SSL::VERIFY_PEER \nrequest = Net::HTTP::Post.new(url) \nrequest[\"content-type\"] = 'application/json' \nrequest[\"accept\"] = 'application/json' \nrequest[\"authorization\"] = 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ' \nrequest.body = \"{ \\\"action\\\": \\\"order-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-03\\\", \\\"sendingTime\\\": \\\"20180927-12:12:56.807\\\", \\\"deals\\\": [ { \\\"clOrdId\\\": \\\"test1134-27-09-2018-req5\\\", \\\"account\\\": \\\"XXXXXXXXXXX\\\", \\\"ccyPair\\\": \\\"EURUSD\\\", \\\"tenor\\\": BROKEN\\\", \\\"valueDate\\\": \\\"2018-10-01\\\", \\\"dealtCcy\\\": \\\"EUR\\\", \\\"side\\\": \\\"B\\\", \\\"orderQty\\\": \\\"100\\\",\\\"rateSetId\\\": \\\"142310\\\", \\\"ordType\\\": \\\"STANDARD\\\" } ] }\" \nresponse = http.request(request) \nputs response.read_body.force_encoding(\"utf-8\")"
      - lang: C#
        label: C#
        source: "using System; \nusing System.Collections.Generic; \nusing System.Linq; \nusing System.Text; \nusing System; \nusing System.Web; \nusing System.Net; \nusing System.IO; \n\nnamespace ConsoleProgram \n{ \n public class Class1 \n { \n private const string URL = \"https://sandbox.api.citivelocity.com/markets/fxgateway/sync/instantfxorder/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\"; \n private const string DATA = @\"{ \"\"action\"\": \"\"order-request\"\", \"\"senderCompId\"\": \"\"IFXCLIENT0\"\", \"\"onBehalfOfCompId\"\": \"\"IFXCLIENT0\"\", \"\"jsonReqId\"\": \"\"brs-25-09-2018-03\"\", \"\"sendingTime\"\": \"\"20180927-12:12:56.807\"\", \"\"deals\"\": [ { \"\"clOrdId\"\": \"\"test1134-27-09-2018-req5\"\", \"\"account\"\": \"\"XXXXXXXXXXX\"\", \"\"ccyPair\"\": \"\"EURUSD\"\", \"\"tenor\"\": \"\"BROKEN\"\", \"\"valueDate\"\": \"\"2018-10-01\"\", \"\"dealtCcy\"\": \"\"EUR\"\", \"\"side\"\": \"\"B\"\", \"\"orderQty\"\": \"\"100\"\",\"\"rateSetId\"\": \"\"142310\"\", \"\"ordType\"\": \"\"STANDARD\"\" } ] }\"; \n\n static void Main(string[] args) \n { \n Class1.CreateObject(); \n } \n\n private static void CreateObject() \n { \n HttpWebRequest request = (HttpWebRequest)WebRequest.Create(URL); \n request.Method = \"POST\"; \n request.ContentType = \"application/json\"; \n request.ContentLength = DATA.Length; \n request.Headers[\"authorization\"] = \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEyAciLNKD3tsWcMS0Tzabo_6vnohvV_4n1CQuirlfy-hXVqqLYMvpZ12-mspSBzq-9VLhTZkrstSqgyCL8GJuJUfW-SOOYVPeoxMWq2Lyu6R0iQ7ttixnmRDKMPB9M8zt8uBLJJBe2vGhrGGxre4BqRQ\"; \n using (Stream webStream = request.GetRequestStream()) \n using (StreamWriter requestWriter = new StreamWriter(webStream, System.Text.Encoding.ASCII)) \n { \n requestWriter.Write(DATA); \n } \n try \n { \n WebResponse webResponse = request.GetResponse(); \n using (Stream webStream = webResponse.GetResponseStream() ?? Stream.Null) \n using (StreamReader responseReader = new StreamReader(webStream)) \n { \n string response = responseReader.ReadToEnd(); \n Console.Out.WriteLine(response); \n } \n }catch (Exception e) \n { \n Console.Out.WriteLine(\"-----------------\"); \n Console.Out.WriteLine(e.Message); \n } \n\n } \n } \n}"
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      operationId: postFxgatewaySyncInstantfxorderApiV1
      x-operation-id-source: derived
    servers:
    - url: https://api.citivelocity.com/markets
      description: production URL
    - url: https://sandbox.api.citivelocity.com/markets
      description: sanbox URL
  /fxgateway/async/instantfxquote/api/v1:
    post:
      parameters:
      - name: client_id
        in: query
        description: Your unique identifier shared during your API onboarding. It is the same client_id used for oauth token generation.
        required: true
        schema:
          type: string
      summary: Quote Request and Quote Report Request API
      description: 'This endpoint facilitates requests for active rate enquiries - for a specific currency pair or all currency pairs and historic rate enquiries - for all currency pairs. The response will be sent via web socket connection.


        For Quote Report Request, while the fields ‘tradeDate’, ‘rateSetId’, are optional, you must send them in at least one of the combinations below to fetch the results:


        a) ‘tradeDate’


        b) ‘rateSetId’'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FXQuoteRequest'
              - $ref: '#/components/schemas/FXQuoteReportRequest'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\n\n<b>Note: The quote response message will be sent via web socket.</b> Please see the User Guide tab for more information on using the web socket connection.\n\nIn rate response, if you are configured to have time-based guaranteed rates, then all live rates are included. Expired rates are omitted in the sent response. \nIn rate report response, if you are configured to have time based guaranteed rates, then all the tier-based rates are included. \n\nThe different spot rates for a given currency pair will have different spreads and can be viewed based on the `validUntilTime` field. \n\nMissing rates are omitted in the rates and rates report response unless configured to receive missing rates."
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FXQuoteResponse'
                - $ref: '#/components/schemas/FXQuoteReportResponse'
        '401':
          description: Unauthorized user error
        '403':
          description: Access Forbidden error
        '500':
          description: Internal Server Error
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl --request POST \

          --url ''https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2'' \

          --header ''accept: application/json'' \

          --header ''authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ'' \

          --header ''content-type: application/json'' \

          --data ''{ "action": "rate-request", "senderCompId": "IFXCLIENT0", "onBehalfOfCompId": "IFXCLIENT0", "jsonReqId": "brs-25-09-2018-01", "sendingTime": "20180925-14:41:56.807", "symbol": "ALL", "account": "Xxxxxxxxxxx" }'''
      - lang: python
        label: Python
        source: "import http.client \n\n#If a proxy is used, set the tunnel as per below:\n#conn=http.client.HTTPSConnection(\"your_proxy_host\",your_proxy_port)\n#conn.set_tunnel(\"api.citivelocity.com\",443)\nconn = http.client.HTTPSConnection(\"api.citivelocity.com\") \npayload = \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\" \nheaders = { \n'content-type': \"application/json\", \n'accept': \"application/json\", \n'authorization': \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\" \n} \nconn.request(\"POST\", \"/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\", payload, headers) \nres = conn.getresponse() \ndata = res.read() \nprint(data.decode(\"utf-8\"))"
      - lang: PHP
        label: PHP
        source: "<?php \n$curl = curl_init(); \ncurl_setopt_array($curl, array( \nCURLOPT_URL => \"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2 \", \nCURLOPT_RETURNTRANSFER => true, \nCURLOPT_ENCODING => \" \", CURLOPT_MAXREDIRS => 10, \nCURLOPT_TIMEOUT => 30, \nCURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1, \nCURLOPT_CUSTOMREQUEST => \"POST\", \nCURLOPT_POSTFIELDS => \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\", \nCURLOPT_HTTPHEADER => array( \n\"accept: application/json\", \n\"authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"content-type: application/json\", \n), \n)); \n$response = curl_exec($curl); \n$err = curl_error($curl); \ncurl_close($curl); \nif ($err) { \necho \"cURL Error #:\" . $err; \n} else \n{ \necho $response; \n}"
      - lang: JAVA
        label: Java
        source: "/**Include following Maven dependency \n <dependency> \n <groupId>com.squareup.okhttp3</groupId> \n <artifactId>okhttp3</artifactId> \n <version>3.9.0</version> \n </dependency> \n */ \nimport java.io.IOException; \nimport java.net.InetSocketAddress; \nimport java.net.Proxy; \nimport okhttp3.MediaType; \nimport okhttp3.OkHttpClient; \nimport okhttp3.Request; \nimport okhttp3.RequestBody; \nimport okhttp3.Response;\npublic class Main { \n public static void main(String[] args) { \nOkHttpClient client = new OkHttpClient(); \n MediaType mediaType = MediaType.parse(\"application/json\"); \n RequestBody body = RequestBody.create(mediaType, \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\"); \n Request request = new Request.Builder() .url(\"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \n .post(body) \n .addHeader(\"content-type\", \"application/json\") \n .addHeader(\"accept\", \"application/json\") \n .addHeader(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \n .build(); \n try { \n Response response = client.newCall(request).execute(); \n } catch (IOException e) { \n e.printStackTrace(); \n } \n } \n}"
      - lang: Javacript
        label: Node
        source: " // Install request by running \"npm install --save request\" \n var request = require(\"request\"); \n var options = { \n method: 'POST', \n url: 'https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1', \n qs: { client_id: 'REPLACE_THIS_VALUE' }, \n headers: \n { \n authorization: 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ', \n accept: 'application/json', \n 'content-type': 'application/json' \n }, \n body: \n { \"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\" }, \n json: true }; \n request(options, function (error, response, body) { \n if (error) \n return console.error('Failed: %s', error.message); \n console.log('Success: ', body); \n });"
      - lang: Go
        label: Go
        source: "package main \nimport ( \n\"fmt\" \n\"strings\" \n\"net/http\" \n\"io/ioutil\" \n) \nfunc main() { \nurl := \"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\" \npayload := strings.NewReader(\"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\") \nreq, _ := http.NewRequest(\"POST\", url, payload) \nreq.Header.Add(\"content-type\", \"application/json\") \nreq.Header.Add(\"accept\", \"application/json\") \nreq.Header.Add(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \nres, _ := http.DefaultClient.Do(req) \ndefer res.Body.Close() \nbody, _ := ioutil.ReadAll(res.Body) \nfmt.Println(res) \nfmt.Println(string(body)) }"
      - lang: Swift
        label: Swift
        source: "import Foundation \nlet headers = [ \n\"content-type\": \"application/json\", \n\"authorization\": \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"accept\": \"application/json\" \nvar request = URLRequest(url: URL(string: \"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\")!, \ncachePolicy: .reloadIgnoringLocalAndRemoteCacheData, \ntimeoutInterval: 10.0) \nlet data: [String: Any] = [ \"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\" ] \nlet jsonData: Data \ndo { \n jsonData = try JSONSerialization.data(withJSONObject: data, options: []) \n request.httpBody = jsonData \n} catch { \n print(\"Error: cannot create JSON from todo\") \n} \nrequest.httpMethod = \"POST\" \nrequest.allHTTPHeaderFields = headers \nlet session = URLSession.shared \nlet task = session.dataTask(with: request, completionHandler: { (data, response, error) in \n guard let data = data, error == nil else { // check for fundamental networking error \n print(\"error=\\(String(describing: error))\") \n return \n } \n if let httpStatus = response as? HTTPURLResponse, httpStatus.statusCode != 200 { // check for http errors \n print(\"statusCode should be 200, but is \\(httpStatus.statusCode)\") \n print(\"response = \\(String(describing: response))\") \n } \nlet responseString = String(data: data, encoding: .utf8) \n print(\"responseString = \\(String(describing: responseString))\") \n}) \ntask.resume()"
      - lang: R
        label: R
        source: "## install the packages httr,jsonlite \nlibrary(httr) \nlibrary(jsonlite) \nurl<- 'https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2' \nreq<- '{ \"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\" }' \nresp<- POST(url , body=req, add_headers(\"accept\" = \"applicaton/json\",\"authorization\" =\"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \"content-type\" = \"application/json\")) \ndata<- (toJSON(content(resp, as = \"parsed\"))) \nprettify(data)"
      - lang: Ruby
        label: Ruby
        source: "require 'uri' \nrequire 'openssl' \nrequire 'net/http' \nurl = URI(\"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \nhttp = Net::HTTP.new(url.host, url.port) \nhttp.use_ssl = true \nhttp.verify_mode = OpenSSL::SSL::VERIFY_PEER \nrequest = Net::HTTP::Post.new(url) \nrequest[\"content-type\"] = 'application/json' \nrequest[\"accept\"] = 'application/json' \nrequest[\"authorization\"] = 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ' \nrequest.body = \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\" \nresponse = http.request(request) \nputs response.read_body.force_encoding(\"utf-8\")"
      - lang: C#
        label: C#
        source: "using System; \nusing System.Collections.Generic; \nusing System.Linq; \nusing System.Text; \nusing System; \nusing System.Web; \nusing System.Net; \nusing System.IO; \n\nnamespace ConsoleProgram \n{ \n public class Class1 \n { \n private const string URL = \"https://api.citivelocity.com/markets/fxgateway/async/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\"; \n private const string DATA = @\"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\"; \n\n static void Main(string[] args) \n { \n Class1.CreateObject(); \n } \n\n private static void CreateObject() \n { \n HttpWebRequest request = (HttpWebRequest)WebRequest.Create(URL); \n request.Method = \"POST\"; \n request.ContentType = \"application/json\"; \n request.ContentLength = DATA.Length; \n request.Headers[\"authorization\"] = \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\"; \n using (Stream webStream = request.GetRequestStream()) \n using (StreamWriter requestWriter = new StreamWriter(webStream, System.Text.Encoding.ASCII)) \n { \n requestWriter.Write(DATA); \n } \n try \n { \n WebResponse webResponse = request.GetResponse(); \n using (Stream webStream = webResponse.GetResponseStream() ?? Stream.Null) \n using (StreamReader responseReader = new StreamReader(webStream)) \n { \n string response = responseReader.ReadToEnd(); \n Console.Out.WriteLine(response); \n } \n }catch (Exception e) \n { \n Console.Out.WriteLine(\"-----------------\"); \n Console.Out.WriteLine(e.Message); \n } \n\n } \n } \n}"
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      operationId: postFxgatewayAsyncInstantfxquoteApiV1
      x-operation-id-source: derived
    servers:
    - url: https://api.citivelocity.com/markets
      description: production URL
    - url: https://sandbox.api.citivelocity.com/markets
      description: sanbox URL
  /fxgateway/sync/instantfxquote/api/v1:
    post:
      parameters:
      - name: client_id
        in: query
        description: Your unique identifier shared during your API onboarding. It is the same client_id used for oauth token generation.
        required: true
        schema:
          type: string
      summary: Quote Request and Quote Report Request API
      description: 'This endpoint facilitates requests for active rate enquiries - for a specific currency pair or all currency pairs and historic rate enquiries - for all currency pairs.


        For Quote Report Request, while the fields ‘tradeDate’, ‘rateSetId’, are optional, you must send them in at least one of the combinations below to fetch the results:


        a) ‘tradeDate’


        b) ‘rateSetId’'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FXQuoteRequest_2'
              - $ref: '#/components/schemas/FXQuoteReportRequest_2'
        required: true
      responses:
        '200':
          description: "OK Acknowledged.\n\nIn rate response, if you are configured to have time-based guaranteed rates, then all live rates are included. \nIn rate report response, if you are configured to have time based guaranteed rates, then all the tier-based rates are included. Expired rates are omitted in the sent response. \n\nThe different spot rates for a given currency pair will have different spreads and can be viewed based on the `validUntilTime` field. \n\nMissing rates are omitted in the rates and rates report response unless configured to receive missing rates."
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/FXQuoteResponse'
                - $ref: '#/components/schemas/FXQuoteReportResponse'
        '401':
          description: Unauthorized user error
        '403':
          description: Access Forbidden error
        '500':
          description: Internal Server Error
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl --request POST \

          --url ''https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2'' \

          --header ''accept: application/json'' \

          --header ''authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ'' \

          --header ''content-type: application/json'' \

          --data ''{ "action": "rate-request", "senderCompId": "IFXCLIENT0", "onBehalfOfCompId": "IFXCLIENT0", "jsonReqId": "brs-25-09-2018-01", "sendingTime": "20180925-14:41:56.807", "symbol": "ALL", "account": "Xxxxxxxxxxx" }'''
      - lang: python
        label: Python
        source: "import http.client \n\n#If a proxy is used, set the tunnel as per below:\n#conn=http.client.HTTPSConnection(\"your_proxy_host\",your_proxy_port)\n#conn.set_tunnel(\"api.citivelocity.com\",443)\nconn = http.client.HTTPSConnection(\"api.citivelocity.com\") \npayload = \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\" \nheaders = { \n'content-type': \"application/json\", \n'accept': \"application/json\", \n'authorization': \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\" \n} \nconn.request(\"POST\", \"/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\", payload, headers) \nres = conn.getresponse() \ndata = res.read() \nprint(data.decode(\"utf-8\"))"
      - lang: PHP
        label: PHP
        source: "<?php \n$curl = curl_init(); \ncurl_setopt_array($curl, array( \nCURLOPT_URL => \"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2 \", \nCURLOPT_RETURNTRANSFER => true, \nCURLOPT_ENCODING => \" \", CURLOPT_MAXREDIRS => 10, \nCURLOPT_TIMEOUT => 30, \nCURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1, \nCURLOPT_CUSTOMREQUEST => \"POST\", \nCURLOPT_POSTFIELDS => \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\", \nCURLOPT_HTTPHEADER => array( \n\"accept: application/json\", \n\"authorization: Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"content-type: application/json\", \n), \n)); \n$response = curl_exec($curl); \n$err = curl_error($curl); \ncurl_close($curl); \nif ($err) { \necho \"cURL Error #:\" . $err; \n} else \n{ \necho $response; \n}"
      - lang: JAVA
        label: Java
        source: "/**Include following Maven dependency \n <dependency> \n <groupId>com.squareup.okhttp3</groupId> \n <artifactId>okhttp3</artifactId> \n <version>3.9.0</version> \n </dependency> \n */ \nimport java.io.IOException; \nimport java.net.InetSocketAddress; \nimport java.net.Proxy; \nimport okhttp3.MediaType; \nimport okhttp3.OkHttpClient; \nimport okhttp3.Request; \nimport okhttp3.RequestBody; \nimport okhttp3.Response;\npublic class Main { \n public static void main(String[] args) { \nOkHttpClient client = new OkHttpClient(); \n MediaType mediaType = MediaType.parse(\"application/json\"); \n RequestBody body = RequestBody.create(mediaType, \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\"); \n Request request = new Request.Builder() .url(\"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \n .post(body) \n .addHeader(\"content-type\", \"application/json\") \n .addHeader(\"accept\", \"application/json\") \n .addHeader(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \n .build(); \n try { \n Response response = client.newCall(request).execute(); \n } catch (IOException e) { \n e.printStackTrace(); \n } \n } \n} "
      - lang: Javacript
        label: Node
        source: " // Install request by running \"npm install --save request\" \n var request = require(\"request\"); \n var options = { \n method: 'POST', \n url: 'https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1', \n qs: { client_id: 'REPLACE_THIS_VALUE' }, \n headers: \n { \n authorization: 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ', \n accept: 'application/json', \n 'content-type': 'application/json' \n }, \n body: \n { \"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\" }, \n json: true }; \n request(options, function (error, response, body) { \n if (error) \n return console.error('Failed: %s', error.message); \n console.log('Success: ', body); \n });"
      - lang: Go
        label: Go
        source: "package main \nimport ( \n\"fmt\" \n\"strings\" \n\"net/http\" \n\"io/ioutil\" \n) \nfunc main() { \nurl := \"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\" \npayload := strings.NewReader(\"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\") \nreq, _ := http.NewRequest(\"POST\", url, payload) \nreq.Header.Add(\"content-type\", \"application/json\") \nreq.Header.Add(\"accept\", \"application/json\") \nreq.Header.Add(\"authorization\", \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\") \nres, _ := http.DefaultClient.Do(req) \ndefer res.Body.Close() \nbody, _ := ioutil.ReadAll(res.Body) \nfmt.Println(res) \nfmt.Println(string(body)) }"
      - lang: Swift
        label: Swift
        source: "import Foundation \nlet headers = [ \n\"content-type\": \"application/json\", \n\"authorization\": \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \n\"accept\": \"application/json\" \nvar request = URLRequest(url: URL(string: \"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\")!, \ncachePolicy: .reloadIgnoringLocalAndRemoteCacheData, \ntimeoutInterval: 10.0) \nlet data: [String: Any] = [\"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\"] \nlet jsonData: Data \ndo { \n jsonData = try JSONSerialization.data(withJSONObject: data, options: []) \n request.httpBody = jsonData \n} catch { \n print(\"Error: cannot create JSON from todo\") \n} \nrequest.httpMethod = \"POST\" \nrequest.allHTTPHeaderFields = headers \nlet session = URLSession.shared \nlet task = session.dataTask(with: request, completionHandler: { (data, response, error) in \n guard let data = data, error == nil else { // check for fundamental networking error \n print(\"error=\\(String(describing: error))\") \n return \n } \n if let httpStatus = response as? HTTPURLResponse, httpStatus.statusCode != 200 { // check for http errors \n print(\"statusCode should be 200, but is \\(httpStatus.statusCode)\") \n print(\"response = \\(String(describing: response))\") \n } \nlet responseString = String(data: data, encoding: .utf8) \n print(\"responseString = \\(String(describing: responseString))\") \n}) \ntask.resume()"
      - lang: R
        label: R
        source: "## install the packages httr,jsonlite \nlibrary(httr) \nlibrary(jsonlite) \nurl<- 'https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2' \nreq<- '{ \"action\": \"rate-request\", \"senderCompId\": \"IFXCLIENT0\", \"onBehalfOfCompId\": \"IFXCLIENT0\", \"jsonReqId\": \"brs-25-09-2018-01\", \"sendingTime\": \"20180925-14:41:56.807\", \"symbol\": \"ALL\", \"account\": \"Xxxxxxxxxxx\" }' \nresp<- POST(url , body=req, add_headers(\"accept\" = \"applicaton/json\",\"authorization\" =\"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\", \"content-type\" = \"application/json\")) \ndata<- (toJSON(content(resp, as = \"parsed\"))) \nprettify(data)"
      - lang: Ruby
        label: Ruby
        source: "require 'uri' \nrequire 'openssl' \nrequire 'net/http' \nurl = URI(\"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\") \nhttp = Net::HTTP.new(url.host, url.port) \nhttp.use_ssl = true \nhttp.verify_mode = OpenSSL::SSL::VERIFY_PEER \nrequest = Net::HTTP::Post.new(url) \nrequest[\"content-type\"] = 'application/json' \nrequest[\"accept\"] = 'application/json' \nrequest[\"authorization\"] = 'Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ' \nrequest.body = \"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\" \nresponse = http.request(request) \nputs response.read_body.force_encoding(\"utf-8\")"
      - lang: C#
        label: C#
        source: "using System; \nusing System.Collections.Generic; \nusing System.Linq; \nusing System.Text; \nusing System; \nusing System.Web; \nusing System.Net; \nusing System.IO; \n \nnamespace ConsoleProgram \n{ \n public class Class1 \n { \n private const string URL = \"https://api.citivelocity.com/markets/fxgateway/sync/instantfxquote/api/v1?client_id=da41c8aa-c96b-437c-ad95-dade40c85fa2\"; \n private const string DATA = @\"{ \\\"action\\\": \\\"rate-request\\\", \\\"senderCompId\\\": \\\"IFXCLIENT0\\\", \\\"onBehalfOfCompId\\\": \\\"IFXCLIENT0\\\", \\\"jsonReqId\\\": \\\"brs-25-09-2018-01\\\", \\\"sendingTime\\\": \\\"20180925-14:41:56.807\\\", \\\"symbol\\\": \\\"ALL\\\", \\\"account\\\": \\\"Xxxxxxxxxxx\\\" }\"; \n \n static void Main(string[] args) \n { \n Class1.CreateObject(); \n } \n \n private static void CreateObject() \n { \n HttpWebRequest request = (HttpWebRequest)WebRequest.Create(URL); \n request.Method = \"POST\"; \n request.ContentType = \"application/json\"; \n request.ContentLength = DATA.Length; \n request.Headers[\"authorization\"] = \"Bearer AAIkZGE0MWM4YWEtYzk2Yi00MzdjLWFkOTUtZGFkZTQwYzg1ZmEy9q61Vj0ly6PHyTj84qbE5UaKGxf3fdz2ARY15Kszu-zf_SWLloRClpkg6aBQxG9I608HzrBB7FSV3DVJcyrpjsGtJx0rOfNEO_Sn708nqxQsBuPzn03YZ2OHi5Q0jLpLpvE-s5XoaAf74nLYKLHtnQ\"; \n using (Stream webStream = request.GetRequestStream()) \n using (StreamWriter requestWriter = new StreamWriter(webStream, System.Text.Encoding.ASCII)) \n { \n requestWriter.Write(DATA); \n } \n try \n { \n WebResponse webResponse = request.GetResponse(); \n using (Stream webStream = webResponse.GetResponseStream() ?? Stream.Null) \n using (StreamReader responseReader = new StreamReader(webStream)) \n { \n string response = responseReader.ReadToEnd(); \n Console.Out.WriteLine(response); \n } \n }catch (Exception e) \n { \n Console.Out.WriteLine(\"-----------------\"); \n Console.Out.WriteLine(e.Message); \n } \n \n } \n } \n}"
      tags:
      - Fxgateway
      security:
      - OAuth2:
        - fxapi
      operationId: postFxgatewaySyncInstantfxquoteApiV1
      x-operation-id-source: derived
    servers:
    - url: https://api.citivelocity.com/markets
      description: production URL
    - url: https://sandbox.api.citivelocity.com/markets
      description: sanbox URL
components:
  schemas:
    Order_Acknowledged_Or_Rejected:
      description: The response will be published via web socket for Acknowledged or Rejected orders. In case of multiple orders, multiple dealResponses JSON objects will be present in the dealResponses JSON array. Response array can be of both Ack, Nack. This is also applicable for cancelled and cancel rejection. Upon receipt of the deal request, you will receive a status update as ACKNOWLEDGED (with orderId) or REJECTED (without orderId).
      required:
      - action
      - jsonReqId
      - senderCompId
      - onBehalfOfCompId
      - sendingTime
      - dealResponses
      properties:
        action:
          type: string
          example: order-response
          description: 'Defines the action of the message. Allowed value: order-response.'
        jsonReqId:
          type: string
          example: Req20181011776
          description: The unique identifier for the JSON request. Format is alphanumeric.
          maxLength: 60
        senderCompId:
          type: string
          description: The Citi-assigned value used to identify the firm sending the message.
          example: ClientName
        onBehalfOfCompId:
          type: string
          description: The Citi-assigned value used to identify the sub-entity. This was assigned to you during onboarding.
          example: Sub Entity
        sendingTime:
          type: string
          description: The time of message transmission. Always expressed in UTC (Universal Time Coordinated, also known as 'GMT.' Format is YYYYMMDD-HH:MM:SS.mmm.
          example: 20180820-04:48:29.125
        deals:
          type: array
          items:
            required:
            - account
            - clOrdId
            - ccyPair
            - dealtCcy
            - orderQty
            - side
            - fixingCode
            - transactTime
            - execId
            - avgPx
            - orderStatus
            - purposeCode
            properties:
              account:
                type: string
                description: Your Citi-assigned client identifier.
                example: 109430258
              clOrdId:
                type: string
                description: The order reference you assigned.
                example: TEST12345
              side:
                type: string
                enum:
                - B
                - S
                description: Indicates whether you are buying (B) or selling (S) the dealt ccy.
                example: B
              valueDate:
                type: string
                description: Populated for Acknowledged deal.
                example: '20240502'
              tradeDate:
                type: string
                description: Populated for Acknowledged deal.
                example: '20240429'
              purposeCode:
                type: string
                description: Populates with the same value as sent in the incoming request, else null.
              ccyPair:
                type: string
                description: The currency pair that you are trading on.
                maxLength: 6
                example: GBPUSD
              dealtCcy:
                type: string
                description: The currency for which you supplied the dealt amount.
                maxLength: 3
                example: GBP
              fixingCode:
                type: string
                description: The fixing code you requested when sending the deal.
                example: QOUTED
              transactTime:
                type: string
                description: The time of the transaction represented by this single order occurrance.
                example: Mon Apr 29 12:50:33 IST 2024
              execId:
                type: string
                description: Populates as 0 for an Acknowledged deal or a unique identifier for a Rejected deal.
                example: 0 (or) Alphanumeric & special character hyphen (-)
              avgPx:
                type: number
                description: The calculated average price of all fills on this order.
                example: 0
              orderId:
                type: number
                description: The Citi-assigned order ID for an Acknowledged deal. This field is not populated for Rejected deals.
                example: 3714864
              orderStatus:
                type: string
                description: The current status of the deal.
                example: ACKNOWLEDGED or REJECTED
              lastQty:
                type: number
                description: Populates with value 0 only for Acknowledged deals.
                example: 0
              cumQty:
                type: number
                description: Populates with value 0 only for Rejected deals.
              leavesQty:
                type: number
                description: Populates with value 0 only for Rejected deals.
              execType:
                type: number
                description: Populates with value 8 for Rejected deals. Does not get populated for Acknowledged deals.
                example: 8
              ordRejReason:
                type: number
                description: Applicable only for Rejected deals. Contains the rejection code.
                example: 99
              text:
                type: string
                description: Applicable only for Rejected deals. Contains actual rejection reason.
                example: 0
              secondaryClOrdId:
                type: string
                description: Secondary order reference.
                example: OR12345
              valueDate2:
                type: string
                description: Far Leg Value Date. Applicable for SWAP orders only. Date format is yyyyMMdd.
                example: 20250525
              orderQty2:
                type: string
                description: Far Leg Amount. Applicable for SWAP orders only.
                example: 1000
      example:
        senderCompId: TESTCLIENT0
        onBehalfOfCompId: TCL0
        action: order-response
        jsonReqId: e4c0bb9-6
        sendingTime: 20240429-07:20:36.683
        senderSubId: System
        dealResponses:
        - account: LDN|xxxxxxxxxx
          clOrdId: TEST98
          side: S
          fixingCode: QUOTED
          transactTime: Mon Apr 29 07:20:35 GMT 2024
          valueDate: '20240502'
          tradeDate: '20240429'
          dealtCcy: USD
          ccyPair: EURUSD
          execId: '0'
          avgPx: '0.0'
          orderId: '3714864'
          orderStatus: ACKNOWLEDGED
          lastQty: '0'
          purposeCode: 'null'
    Order_Rated:
      description: The response will be published via web socket for Rated orders. In case of multiple orders, multiple dealResponses JSON objects will be present in the dealResponses JSON array.
      required:
      - action
      - jsonReqId
      - senderCompId
      - onBehalfOfCompId
      - sendingTime
      - dealResponses
      properties:
        action:
          type: string
          description: 'Defines the action of the message. Allowed value: order-response.'
          example: order-response
        jsonReqId:
          type: string
          example: Req20181011776
          description: The unique identifier for the JSON request. Format is alphanumeric.
          maxLength: 60
        senderCompId:
          type: string
          description: The Citi-assigned value used to identify the firm sending the message.
          example: ClientName
        onBehalfOfCompId:
          type: string
          description: The Citi-assigned value used to identify the sub-entity. This was assigned to you during onboarding.
          example: Sub Entity
        sendingTime:
          type: string
          description: The time of message transmission. Always expressed in UTC (Universal Time Coordinated, also known as 'GMT.' Format is YYYYMMDD-HH:MM:SS.mmm.
          example: 20180820-04:48:29.125
        deals:
          type: array
          items:
            required:
            - account
            - clOrdId
            - valueDate
            - tradeDate
            - ccyPair
            - dealtCcy
            - orderQty
            - side
            - fixingCode
            - transactTime
            - execId
            - avgPx
            - orderId
            - orderStatus
            - lastQty
            - contAmtValue
            - lastPx
            - lastSpotRate
            - lastForwardPoints
            - purposeCode
            properties:
              account:
                type: string
                description: Your Citi-assigned client identifier.
                example: 109430258
              clOrdId:
                type: string
                description: The order reference you assigned.
                example: TEST12345
              side:
                type: string
                enum:
                - B
                - S
                description: Indicates whether you are buying (B) or selling (S) the dealt ccy.
                example: B
              valueDate:
                type: string
                description: Populated for Rated deal.
                example: '20240502'
              tradeDate:
                type: string
                description: Populated for Rated deal.
                example: '20240429'
              purposeCode:
                type: string
                description: Populates with the same value as sent in the incoming request, else null.
              ccyPair:
                type: string
                description: The currency pair that you are trading on.
                maxLength: 6
                example: GBPUSD
              dealtCcy:
                type: string
                description: The currency for which you supplied the dealt amount.
                maxLength: 3
                example: GBP
              fixingCode:
                type: string
                description: The fixing code you requested when sending the deal.
                example: QOUTED or LDN1500BFIX
              transactTime:
                type: string
                description: The time of the transaction represented by this single order occurrance.
                example: Mon Apr 29 12:50:33 IST 2024
              execId:
                type: string
                description: The unique identifier of the execution message.
                example: Alphanumeric and special character hyphen (-)
              avgPx:
                type: number
                description: The calculated average price of all fills on this order.
                example: 0
              orderId:
                type: number
                description: The Citi-assigned order ID. This will be the same value as sent in orderId field of Acknowledged and Accepted deal.
                example: 3714864
              orderStatus:
                type: string
                description: The current status of the deal.
                example: COMPLETED
              contAmtValue:
                type: number
                description: The counter amount, i.e., non dealt amount.
                example: 54321.21
              lastPx:
                type: number
                description: The Outright Rate.
                example: 1.51446
              lastQty:
                type: number
                description: Amount.
                example: 12345.56
              lastSpotRate:
                type: number
                description: Spot Rate.
                example: 1.5144
              lastForwardPoints:
                type: number
                description: Forward Points.
                example: 0
              lastForwardPoints2:
                type: number
                description: Forward Points. Applicable for swap orders only.
                example: 6.0e-06
              valueDate2:
                type: string
                description: Far Leg Value Date. Applicable for SWAP orders only.
                example: 20250525
              orderQty2:
                type: number
                description: Far Leg Amount. Applicable for SWAP orders only.
                example: 1000
              settlCurrAmt:
                type: number
                description: Far Counter Amount. Applicable for SWAP orders only.
                example: 54321.21
              securityId:
                type: string
                description: MIFID Field. ISIN Code for the FX Security.
              securityIdSource:
                type: string
                description: 'MIFID Field. Allowed Values: 4 = ISIN.'
              legSecurityId:
                type: string
                description: MIFID Field. For SWAP Deals only.
              legSecurityIdSource:
                type: string
                description: MIFID Field. For SWAP Deals only.
              lastCapacity:
                type: string
                description: 'MIFID Field. Allowed Values: 4 = Principal.'
              tradeReportingIndicator:
                type: string
                description: MIFID Field
              matchType:
                type: string
                description: MIFID Field
      example:
        senderCompId: TESTCLIENT2
        onBehalfOfCompId: TCL0
        action: order-response
        jsonReqId: e4c0bb9-6
        sendingTime: 20240429-07:20:36.683
        senderSubId: System
        dealResponses:
        - account: LDN|xxxxxxxxxx
          clOrdId: TEST98
          side: S
          fixingCode: QUOTED
          transactTime: Mon Apr 29 07:20:35 GMT 2024
          valueDate: '20240502'
          tradeDate: '20240429'
          dealtCcy: USD
          ccyPair: EURUSD
          execId: '323595562789'
          avgPx: '7.7262'
          orderId: '3714864'
          orderStatus: COMPLETED
          lastQty: '1'
          contAmtValue: '0.13'
          lastPx: '7.7262'
          lastSpotRate: '7.7262'
          lastForwardPoints: '0'
          purposeCode: 'null'
    Order_Accepted:
      description: The response will be published via web socket for Accepted orders. In case of multiple orders, multiple dealResponses JSON objects will be present in the dealResponses JSON array. This is the second response for a Benchmark order that has been accepted. It will include the original order details including fixing code such as “NYK1500WMR” with the same orderId provided in the Acknowledged status update.
      required:
      - action
      - jsonReqId
      - senderCompId
      - onBehalfOfCompId
      - sendingTime
      - dealResponses
      properties:
        action:
          type: string
          description: 'Defines the action of the message. Allowed value: order-response.'
          example: order-response
        jsonReqId:
          type: string
          example: Req20181011776
          description: The unique identifier for the JSON request. Format is alphanumeric.
          maxLength: 60
        senderCompId:
          type: string
          description: The Citi-assigned value used to identify the firm sending the message.
          example: ClientName
        onBehalfOfCompId:
          type: string
          description: The Citi-assigned value used to identify the sub-entity. This was assigned to you during onboarding.
          example: Sub Entity
        sendingTime:
          type: string
          description: The time of message transmission. Always expressed in UTC (Universal Time Coordinated, also known as 'GMT.' Format is YYYYMMDD-HH:MM:SS.mmm.
          example: 20180820-04:48:29.125
        deals:
          type: array
          items:
            required:
            - account
            - clOrdId
            - ccyPair
            - dealtCcy
            - orderQty
            - side
            - fixingCode
            - transactTime
            - execId
            - avgPx
            - orderStatus
            - orderId
            - purposeCode
            properties:
              account:
                type: string
                description: Your Citi-assigned client identifier.
                example: 109430258
              clOrdId:
                type: string
                description: The order reference you assigned.
                example: TEST12345
              side:
                type: string
                enum:
                - B
                - S
                description: Indicates whether you are buying (B) or selling (S) the dealt ccy.
              valueDate:
                type: string
                description: Populated for Accepted deal.
                example: '20240502'
              tradeDate:
                type: string
                description: Populated for Accepted deal.
                example: '20240429'
              purposeCode:
                type: string
                description: Populates with the same value as sent in the incoming request, else null.
              ccyPair:
                type: string
                description: The currency pair that you are trading on.
                maxLength: 6
                example: GBPUSD
              dealtCcy:
                type: string
                description: The currency for which you supplied the dealt amount.
                maxLength: 3
                example: GBP
              fixingCode:
                type: string
                description: The fixing code you requested when sending the deal.
                example: QOUTED or LDN1500BFIX
              transactTime:
                type: string
                description: The time of the transaction represented by this single order occurrance.
                example: Mon Apr 29 12:50:33 IST 2024
              execId:
                type: string
                description: Populates as 0 for an Accepted deal.
                example: 0
              avgPx:
                type: number
                description: The calculated average price of all fills on this order.
                example: 0
              orderId:
                type: number
                description: The Citi-assigned order ID, same as an Acknowledged deal.
                example: 3714864
              orderStatus:
                type: string
                description: The current status of the deal.
                example: ACCEPTED
              lastQty:
                type: number
                description: Populates with value 0 only for Acknowledged deals.
                example: 0
      example:
        senderCompId: TESTCLIENt0
        onBehalfOfCompId: TCL0
        action: order-response
        jsonReqId: e4c0bb9-6
        sendingTime: 20240429-07:20:36.683
        senderSubId: System
        dealResponses:
        - account: LDN|xxxxxxxxxx
          clOrdId: TEST98
          side: S
          fixingCode: QUOTED
          transactTime: Mon Apr 29 07:20:35 GMT 2024
          valueDate: '20240502'
          tradeDate: '20240429'
          dealtCcy: USD
          ccyPair: EURUSD
          execId: '0'
          avgPx: '0.0'
          orderId: '3714864'
          orderStatus: ACCEPTED
          lastQty: '0'
          purposeCode: 'null'
    FXBenchmarkOrder:
      type: object
      required:
      - action
      - jsonReqId
      - senderCompId
      - onBehalfOfCompId
      - sendingTime
      - deals
      properties:
        action:
          type: string
          description: 'The service you are requesting. Allowed values: NEW.'
        jsonReqId:
          type: string
          example: Req20181011776
          description: The unique identifier for the JSON request. Format is alphanumeric.
          maxLength: 60
        senderCompId:
          type: string
          description: The Citi-assigned value used to identify the message sender. This was assigned to you during onboarding.
          example: ClientName
        onBehalfOfCompId:
          type: string
          description: The Citi-assigned value used to identify the message sender. This was assigned to you during onboarding.
          example: Sub Entity
        sendingTime:
          type: string
[...]
