openapi: 3.2.0
info:
  title: Pix Cob R API
  version: 2.8.1
  description: Update - February 04, 2026
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod
  description: Servidor de Produção
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb
  description: sbox URL
- url: https://tts.sit.apib2b.citi.com/citiconnect/uat
  description: Servidor de Homologação
tags:
- name: CobR
  x-displayName: Gerenciamento de cobranças associadas a uma recorrência
  description: Reúne endpoints destinados a lidar com gerenciamento de cobranças associadas a uma recorrência.
paths:
  /digitalpayments/br/v1/cobr/{txid}:
    parameters:
    - name: txid
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TxId'
    put:
      tags:
      - CobR
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      summary: Criar cobrança recorrente
      security:
      - OAuth2:
        - authenticationservices/v1
      description: Endpoint para criar uma cobrança recorrente.
      requestBody:
        $ref: '#/components/requestBodies/CobRBody'
      responses:
        '201':
          description: Cobrança imediata recorrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobRGerada'
              examples:
                response1:
                  $ref: '#/components/examples/cobRResponse2'
        '400':
          description: Requisição com formato inválido.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problema'
              examples:
                requisicao1:
                  $ref: '#/components/examples/OperacaoInvalidaCobRExample1'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: putDigitalpaymentsBrV1CobrByTxid
      x-operation-id-source: derived
    patch:
      tags:
      - CobR
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      summary: Revisar cobrança recorrente
      security:
      - OAuth2:
        - authenticationservices/v1
      requestBody:
        $ref: '#/components/requestBodies/CobRBodyRevisada'
      responses:
        '200':
          description: Cobrança recorrente revisada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobRGerada'
              examples:
                response1:
                  $ref: '#/components/examples/cobRResponse4'
        '400':
          description: Requisição com formato inválido.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problema'
              examples:
                exemplo1:
                  $ref: '#/components/examples/OperacaoInvalidaCobRExample2'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: patchDigitalpaymentsBrV1CobrByTxid
      x-operation-id-source: derived
    get:
      tags:
      - CobR
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      summary: Consultar cobrança recorrente
      security:
      - OAuth2:
        - authenticationservices/v1
      description: Endpoint para consultar uma cobrança recorrente através de um determinado txid.
      responses:
        '200':
          description: Dados da cobrança recorrente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobRCompleta'
              examples:
                response1:
                  $ref: '#/components/examples/cobRResponse2'
                response2:
                  $ref: '#/components/examples/cobRResponse3'
                response3:
                  $ref: '#/components/examples/cobRResponse4'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: getDigitalpaymentsBrV1CobrByTxid
      x-operation-id-source: derived
  /digitalpayments/br/v1/cobr:
    post:
      tags:
      - CobR
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      summary: Criar cobrança recorrente
      security:
      - OAuth2:
        - authenticationservices/v1
      description: Endpoint para criar uma cobrança recorrente, neste caso, o txid deve ser definido pelo PSP.
      requestBody:
        $ref: '#/components/requestBodies/CobRBody'
      responses:
        '201':
          description: Cobrança recorrente criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobRGerada'
              examples:
                response1:
                  $ref: '#/components/examples/cobRResponse1'
        '400':
          description: Requisição com formato inválido.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problema'
              examples:
                requisicao1:
                  $ref: '#/components/examples/OperacaoInvalidaCobRExample1'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: postDigitalpaymentsBrV1Cobr
      x-operation-id-source: derived
    get:
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      - in: query
        name: inicio
        required: true
        schema:
          $ref: '#/components/schemas/Inicio'
      - in: query
        name: fim
        required: true
        schema:
          $ref: '#/components/schemas/Fim'
      - name: idRec
        in: query
        schema:
          type: string
          title: ID Recorrência
          pattern: '[a-zA-Z0-9]{29}'
          minLength: 29
          maxLength: 29
          description: Filtro pelo Identificador da Recorrência.
      - name: cpf
        in: query
        schema:
          type: string
          title: CPF
          pattern: /^\d{11}$/
          description: Filtro pelo CPF do devedor. Não pode ser utilizado ao mesmo tempo que o CNPJ.
      - name: cnpj
        in: query
        schema:
          type: string
          title: CNPJ
          pattern: /^\d{14}$/
          description: Filtro pelo CNPJ do devedor. Não pode ser utilizado ao mesmo tempo que o CPF.
      - name: status
        in: query
        schema:
          type: string
          title: Status do registro da recorrência
          description: Filtro pelo status da recorrência.
      - name: convenio
        in: query
        schema:
          type: string
          title: Convênio
          maxLength: 60
          description: Filtro pelo convênio associado.
      - $ref: '#/components/parameters/paginaAtual'
      - $ref: '#/components/parameters/itensPorPagina'
      tags:
      - CobR
      summary: Consultar lista de cobranças recorrentes
      security:
      - OAuth2:
        - authenticationservices/v1
      description: Endpoint para consultar cobranças recorrentes através de parâmetros como início, fim, idRec, cpf, cnpj, status e convênio.
      responses:
        '200':
          description: Lista de cobranças recorrentes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CobsRConsultadas'
              examples:
                retorno1:
                  $ref: '#/components/examples/getCobR1'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: getDigitalpaymentsBrV1Cobr
      x-operation-id-source: derived
  /digitalpayments/br/v1/cobr/{txid}/retentativa/{data}:
    parameters:
    - $ref: '#/components/parameters/Client-Id'
    - name: txid
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/TxId'
    - name: data
      in: path
      required: true
      description: Data prevista para liquidação da ordem de pagamento correspondente. Trata-se de uma data, no formato `YYYY-MM-DD`, segundo ISO 8601.
      schema:
        type: string
        format: date
        example: '2023-04-01'
    post:
      tags:
      - CobR
      summary: Solicitar retentativa de cobrança
      security:
      - OAuth2:
        - authenticationservices/v1
      description: Endpoint para solicitar retentativa de uma cobrança recorrente.
      responses:
        '201':
          description: Cobrança recorrente.
          content:
            application/json:
              schema:
                allOf:
                - required:
                  - tentativas
                - $ref: '#/components/schemas/CobRCompleta'
              examples:
                response1:
                  $ref: '#/components/examples/cobRResponse3'
        '400':
          description: Requisição com formato inválido.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problema'
              examples:
                exemplo1:
                  $ref: '#/components/examples/RequisicaoInvalidaCobRTentativaExample1'
        '403':
          $ref: '#/components/responses/AcessoNegado'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '503':
          $ref: '#/components/responses/ServicoIndisponivel'
      operationId: postDigitalpaymentsBrV1CobrByTxidRetentativaByData
      x-operation-id-source: derived
components:
  schemas:
    CobRStatusRevisada:
      type: object
      title: Status da Cobrança Recorrente
      properties:
        status:
          type: string
          title: Status do registro da cobrança
          enum:
          - CANCELADA
    EndToEndId:
      type: string
      title: Id fim a fim da transação
      description: EndToEndIdentification que transita na PACS002, PACS004 e PACS008
      pattern: '[a-zA-Z0-9]{32}'
      minLength: 32
      maxLength: 32
    Problema:
      type: object
      required:
      - type
      - title
      - status
      properties:
        type:
          type: string
          format: uri
          description: URI de referência que identifica o tipo de problema. De acordo com a RFC 7807.
          example: https://pix.bcb.gov.br/api/v2/error/NaoEncontrado
        title:
          type: string
          description: Descrição resumida do problema.
          example: Not found
        status:
          type: integer
          description: Código HTTP do status retornado.
          example: 404
        detail:
          type: string
          description: Descrição completa do problema.
        correlationId:
          type: string
          description: Identificador de correlação do problema para fins de suporte
        violacoes:
          type: array
          items:
            $ref: '#/components/schemas/Violacao'
    CobRSolicitada:
      type: object
      title: Cobrança Recorrente Solicitada
      required:
      - idRec
      - calendario
      - valor
      - recebedor
      description: Dados enviados para criação da cobrança recorrente via API Pix
      allOf:
      - type: object
        properties:
          idRec:
            $ref: '#/components/schemas/RecId'
      - $ref: '#/components/schemas/CobRBase'
      - $ref: '#/components/schemas/DadosDevedorRecorrencia'
    DadosDevedorRecorrencia:
      type: object
      properties:
        devedor:
          title: Devedor
          description: O objeto devedor organiza as informações sobre o devedor da recorrência.
          allOf:
          - type: object
            properties:
              email:
                type: string
                title: Email
                pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
                example: customer.raj2024@gmail.com
                description: Email do usuário.
          - $ref: '#/components/schemas/DadosComplementaresPessoa'
    CobRBase:
      type: object
      title: Cobrança Recorrente Base
      required:
      - ajusteDiaUtil
      description: Atributos de cobrança recorrente
      properties:
        infoAdicional:
          type: string
          title: Informações adicionais da fatura.
          description: Informações adicionais da fatura.
          minLength: 1
          maxLength: 140
        calendario:
          type: object
          title: Informações sobre calendário da cobrança
          required:
          - dataDeVencimento
          description: ''
          properties:
            dataDeVencimento:
              type: string
              format: date
              title: Data de vencimento da cobrança
              description: Trata-se de uma data, no formato `YYYY-MM-DD`, segundo ISO 8601. É a data de vencimento da cobrança.
              example: '2023-04-01'
        valor:
          type: object
          title: Valor da cobrança recorrente
          required:
          - original
          description: Valor da cobrança recorrente
          properties:
            original:
              type: string
              title: Valor
              pattern: \d{1,10}\.\d{2}
              description: Valor original da cobrança.
        ajusteDiaUtil:
          type: boolean
          title: Ajuste data prevista para liquidação para próximo dia útil
          default: false
          description: Campo de ativação do ajuste da data prevista para liquidação para próximo dia útil caso o vencimento corrente seja um dia não útil. O PSP Recebedor deverá considerar os feriados locais com base no código município do usuário pagador.
        recebedor:
          title: Recebedor
          description: O objeto recebedor organiza as informações sobre o recebedor da cobrança.
          allOf:
          - $ref: '#/components/schemas/DadosBancariosRecebedor'
    CobsRConsultadas:
      type: object
      title: Cobranças recorrentes consultadas
      required:
      - parametros
      - cobsr
      properties:
        parametros:
          $ref: '#/components/schemas/ParametrosConsultaCobR'
        cobsr:
          type: array
          title: Lista de cobranças
          items:
            allOf:
            - $ref: '#/components/schemas/CobRCompleta'
    Violacao:
      type: object
      title: Violações
      properties:
        razao:
          type: string
          title: Descrição do erro
          description: Descrição do erro
          example: Valor da cobrança não pode ser 0.00
        propriedade:
          type: string
          title: Nome da propriedade
          description: Nome da propriedade
          example: cob.chave
        valor:
          type: string
          title: Valor da propriedade
          description: Valor da propriedade
          example: 061996671234
    CobRCompleta:
      type: object
      title: Cobrança Recorrente Completa
      required:
      - idRec
      - txid
      - status
      - valor
      - recebedor
      - calendario
      description: Dados completos da cobrança recorrente via API Pix
      allOf:
      - type: object
        properties:
          idRec:
            $ref: '#/components/schemas/RecId'
      - type: object
        properties:
          txid:
            $ref: '#/components/schemas/TxId'
      - $ref: '#/components/schemas/CobRBase'
      - type: object
        properties:
          calendario:
            type: object
            required:
            - criacao
            properties:
              criacao:
                type: string
                format: date
                title: Data de criação da cobrança
                description: Trata-se de uma data, no formato `YYYY-MM-DD`, segundo ISO 8601. É a data de criação da cobrança.
                example: '2023-04-01'
      - $ref: '#/components/schemas/CobRStatus'
      - $ref: '#/components/schemas/CobRConfiguracao'
      - $ref: '#/components/schemas/DadosDevedorRecorrencia'
      - type: object
        properties:
          pix:
            type: array
            title: Pix recebidos
            items:
              allOf:
              - $ref: '#/components/schemas/PixAutomatico'
              - type: object
                properties:
                  txid:
                    allOf:
                    - $ref: '#/components/schemas/TxId'
                    - pattern: '[a-zA-Z0-9]{26,35}'
      - $ref: '#/components/schemas/CobRAtualizacao'
      - $ref: '#/components/schemas/CobRTentativas'
    PixAutomatico:
      type: object
      title: Pix
      required:
      - txid
      - endToEndId
      - valor
      - horario
      properties:
        endToEndId:
          $ref: '#/components/schemas/EndToEndId'
        txid:
          allOf:
          - $ref: '#/components/schemas/TxId'
          - pattern: '[a-zA-Z0-9]{1,35}'
        valor:
          type: string
          title: Valor do Pix.
          pattern: \d{1,10}\.\d{2}
          description: Valor do Pix.
        horario:
          type: string
          format: date-time
          title: Horário
          description: Horário em que o Pix foi processado no PSP.
        infoPagador:
          type: string
          title: Informação livre do pagador
          maxLength: 140
        devolucoes:
          type: array
          title: Devoluções
          items:
            $ref: '#/components/schemas/DevolucaoPixAutomatico'
    CobRTentativas:
      type: object
      title: Histórico de Tentativas da Cobrança Recorrente
      properties:
        tentativas:
          type: array
          title: Histórico de Tentativas de Cobrança
          description: Histórico de Tentativas de Cobrança
          items:
            type: object
            required:
            - dataLiquidacao
            - tipo
            - endToEndId
            - status
            - atualizacao
            properties:
              dataLiquidacao:
                type: string
                format: date
                description: Data da liquidação da cobrança. Trata-se de uma data, no formato `YYYY-MM-DD`, segundo ISO 8601.
                example: '2023-04-01'
              tipo:
                type: string
                title: Tipo da Tentativa
                description: Tipo da tentativa da cobrança.
                enum:
                - AGND
                - NTAG
                - RIFL
              status:
                type: string
                title: Status da Tentativa
                description: Status da tentativa da cobrança.
                enum:
                - SOLICITADA
                - AGENDADA
                - PAGA
                - CANCELADA
                - REJEITADA
                - EXPIRADA
              endToEndId:
                $ref: '#/components/schemas/EndToEndId'
              atualizacao:
                type: array
                title: Histórico de Status da Tentativa
                description: Histórico das mudanças de status da tentativa de cobrança.
                items:
                  type: object
                  required:
                  - status
                  - data
                  properties:
                    status:
                      type: string
                      title: Status da Tentativa
                      description: Status da tentativa da cobrança.
                      enum:
                      - SOLICITADA
                      - AGENDADA
                      - PAGA
                      - CANCELADA
                      - REJEITADA
                      - EXPIRADA
                    data:
                      type: string
                      format: date-time
                      description: Data e hora do registro de status atualizado. Respeita RFC 3339.
              rejeicao:
                type: object
                title: Informações sobre a rejeição da tentativa da cobrança
                required:
                - codigo
                - descricao
                description: Informações sobre a rejeição da tentativa da cobrança
                properties:
                  codigo:
                    type: string
                    title: Código da rejeição da tentativa
                    description: Código da rejeição da tentativa. Corresponde ao código de rejeição presente no catálogo de mensagens. Os códigos de rejeição da tentativa `AC05`,`AM09`,`DENC`,`DS27`,`DTED`,`MIDI`,`MSUC`,`NITX`,`RC09` e `DTED` causam a rejeição da cobrança recorrente correspondente.
                    maxLength: 4
                    enum:
                    - AB10
                    - AC05
                    - AC06
                    - AM02
                    - AM09
                    - DENC
                    - DS27
                    - DTED
                    - DTNT
                    - FBRD
                    - IRNT
                    - MIDI
                    - MSUC
                    - NIEC
                    - NIPA
                    - NITX
                    - QUNT
                    - RC09
                    - UDEI
                  descricao:
                    type: string
                    title: Descricao da rejeição
                    description: Descricao da causa da rejeição
                    maxLength: 105
    CobRStatus:
      type: object
      title: Status da Cobrança Recorrente
      properties:
        status:
          type: string
          title: Status do registro da cobrança
          enum:
          - CRIADA
          - ATIVA
          - CONCLUIDA
          - EXPIRADA
          - REJEITADA
          - CANCELADA
    DadosBancariosRecebedor:
      type: object
      required:
      - conta
      - tipoConta
      properties:
        conta:
          type: string
          title: Conta
          description: Número da conta do usuário recebedor.
          minLength: 1
          maxLength: 20
        tipoConta:
          type: string
          title: Tipo da conta do usuário recebedor
          description: Tipo da conta do usuário recebedor.
          enum:
          - CORRENTE
          - POUPANCA
          - PAGAMENTO
        agencia:
          type: string
          title: Agencia
          description: Número da agência do usuário recebedor.
          minLength: 1
          maxLength: 4
    DevolucaoPixAutomatico:
      type: object
      title: Devolução
      required:
      - id
      - rtrId
      - valor
      - horario
      - status
      properties:
        id:
          $ref: '#/components/schemas/DevolucaoId'
        rtrId:
          type: string
          title: RtrId
          description: ReturnIdentification que transita na PACS004.
          example: D12345678202009091000abcde123456
          pattern: '[a-zA-Z0-9]{32}'
          minLength: 32
          maxLength: 32
        valor:
          type: string
          title: Valor a devolver.
          pattern: \d{1,10}\.\d{2}
          description: Valor a devolver.
        natureza:
          $ref: '#/components/schemas/DevolucaoNaturezaPixAutomatico'
        descricao:
          type: string
          title: Mensagem ao pagador relativa à devolução.
          maxLength: 140
          description: O campo `descricao`, opcional, determina um texto a ser apresentado ao pagador contendo informações sobre a devolução. Esse texto será preenchido, na pacs.004, pelo PSP do recebedor, no campo RemittanceInformation. O tamanho do campo na pacs.004 está limitado a 140 caracteres.
        horario:
          type: object
          properties:
            solicitacao:
              type: string
              format: date-time
              title: Horário de solicitação
              description: Horário no qual a devolução foi solicitada no PSP.
            liquidacao:
              type: string
              format: date-time
              title: Horário de liquidacao
              description: Horário no qual a devolução foi liquidada no PSP.
        status:
          type: string
          title: Status
          description: Status da devolução.
          enum:
          - EM_PROCESSAMENTO
          - DEVOLVIDO
          - NAO_REALIZADO
        motivo:
          type: string
          title: Descrição do status.
          description: '# Status da Devolução


            Campo opcional que pode ser utilizado pelo PSP recebedor para detalhar os motivos

            de a devolução ter atingido o status em questão.

            Pode ser utilizado, por exemplo, para detalhar o motivo de a devolução não ter sido realizada.

            '
          maxLength: 140
    Paginacao:
      type: object
      title: Paginação
      required:
      - paginaAtual
      - itensPorPagina
      - quantidadeDePaginas
      - quantidadeTotalDeItens
      properties:
        paginaAtual:
          type: integer
          title: Página atual
          description: Número da página recuperada.
          minimum: 0
        itensPorPagina:
          type: integer
          title: Itens por página
          description: Quantidade de registros retornado na página.
          minimum: 1
        quantidadeDePaginas:
          type: integer
          title: Quantidade de páginas
          description: Quantidade de páginas disponíveis para consulta.
          minimum: 1
        quantidadeTotalDeItens:
          type: integer
          title: Quantidade total de itens
          description: Quantidade total de itens disponíveis de acordo com os parâmetros informados.
          minimum: 0
    CobRGerada:
      type: object
      title: Cobrança Recorrente Gerada
      required:
      - idRec
      - txid
      - status
      - valor
      - recebedor
      - calendario
      description: Dados criados ou alterados da cobrança recorrente via API Pix
      allOf:
      - type: object
        properties:
          idRec:
            $ref: '#/components/schemas/RecId'
      - type: object
        properties:
          txid:
            $ref: '#/components/schemas/TxId'
      - $ref: '#/components/schemas/CobRBase'
      - type: object
        properties:
          calendario:
            type: object
            required:
            - criacao
            properties:
              criacao:
                type: string
                format: date
                title: Data de criação da cobrança
                description: Trata-se de uma data, no formato `YYYY-MM-DD`, segundo ISO 8601. É a data de criação da cobrança.
                example: '2023-04-01'
      - type: object
        properties:
          recebedor:
            allOf:
            - $ref: '#/components/schemas/PessoaJuridicaRecorrencia'
      - $ref: '#/components/schemas/CobRStatus'
      - $ref: '#/components/schemas/DadosDevedorRecorrencia'
    DevolucaoNaturezaPixAutomatico:
      type: string
      title: Natureza da Devolução
      description: "Indica qual é a natureza da devolução. Uma devolução pode ser relacionada a um Pix comum (com códigos possíveis: `MD06` e `FR01` da pacs.004 e `REFU` da pacs.008). Na ausência deste campo a natureza deve ser interpretada como \nsendo de um Pix comum (`ORIGINAL`).\n\nAs naturezas são assim definidas:\n  - `ORIGINAL`: quando a devolução é solicitada pelo usuário recebedor e se refere a um Pix comum (`MD06`);\n  - `MED_FRAUDE`: quando a devolução ocorre no âmbito do MED (Mecanismo Especial de Devolução) por fundada suspeita de fraude e se refere a um Pix comum (`FR01`).\n  - `MED_PIX_AUTOMATICO`: reembolso total ou parcial ao participante do usuário pagador no âmbito do MED (Mecanismo Especial de Devolução) para o Pix Automático pela utilização de recursos próprios para ressarcimento do usuário pagador.(`REFU`);\n\nOs valores de devoluções são sempre limitados aos valores máximos a seguir:\n- Pix comum: o valor da devolução é limitado ao valor do próprio Pix (a natureza nesse caso pode ser: ORIGINAL, MED_PIX_AUTOMATICO ou MED_FRAUDE);\n"
      enum:
      - ORIGINAL
      - MED_PIX_AUTOMATICO
      - MED_FRAUDE
    DevolucaoId:
      type: string
      title: Id da Devolução
      description: Id gerado pelo cliente para representar unicamente uma devolução.
      pattern: '[a-zA-Z0-9]{1,35}'
    CobRRevisada:
      type: object
      title: Cobrança Recorrente Revisada
      description: Dados enviados para revisão da cobrança recorrente via API Pix
      allOf:
      - $ref: '#/components/schemas/CobRStatusRevisada'
    RecId:
      type: string
      title: ID Recorrência
      description: "# Identificador da Recorrência\n\nRegra de formação:\n- RAxxxxxxxxyyyyMMddkkkkkkkkkkk (29 caracteres; \"case sensitive\", isso é, diferencia letras maiúsculas e minúsculas), sendo:\n  - \"R\":  fixo (1 caractere). \"R\" para a recorrência criada dentro do Pix;\n  - \"A\": identificação da possibilidade de novas tentativas, sendo possíveis os valores \"R\" ou \"N\" (1 caractere). \"R\" caso a recorrência permita novas tentativas de pagamento pós vencimento, ou \"N\" caso não permita novas tentativas.\n  - \"xxxxxxxx\":  identificação do agente que presta serviço para o usuário recebedor que gerou o <Id>, podendo ser: o ISPB do participante direto, o ISPB do participante indireto ou os 8 primeiros dígitos do CNPJ do prestador de serviço de iniciação (8 caracteres numéricos [0-9]);\n  - \"yyyyMMdd\":  data (8 caracteres) de criação da recorrência;\n  - \"kkkkkkkkkkk\": sequencial criado pelo agente que gerou o <Id> (11 caracteres alfanuméricos [a-z|A-Z|0-9]). Deve ser único dentro de cada \"yyyyMMdd\".\n\nDessa forma, o ID da recorrência deve ser formado de acordo com um dos tipos a seguir:\n- \"RRxxxxxxxxyyyyMMddkkkkkkkkkkk\"; para recorrência criada dentro do Pix e que permite novas tentativas de pagamento pós vencimento; ou\n- \"RNxxxxxxxxyyyyMMddkkkkkkkkkkk\"; para recorrência criada dentro do Pix e que não permite novas tentativas de pagamento pós vencimento.”\n"
      pattern: '[a-zA-Z0-9]{29}'
      minLength: 29
      maxLength: 29
      example: RR1234567820240115abcdefghijk
    CobRConfiguracao:
      type: object
      title: Configuração da Cobrança Recorrente
      required:
      - politicaRetentativa
      properties:
        politicaRetentativa:
          type: string
          title: Política de retentativa da cobrança recorrente
          enum:
          - NAO_PERMITE
          - PERMITE_3R_7D
    DadosComplementaresPessoa:
      type: object
      properties:
        logradouro:
          type: string
          title: Logradouro
          description: Logradouro do usuário.
          minLength: 1
          maxLength: 200
        cidade:
          type: string
          title: Cidade
          description: Cidade do usuário.
          minLength: 1
          maxLength: 200
        uf:
          type: string
          title: UF
          description: UF do usuário.
          minLength: 2
          maxLength: 2
        cep:
          type: string
          title: CEP
          description: CEP do usuário.
          minLength: 8
          maxLength: 8
    CobRAtualizacao:
      type: object
      title: Histórico de Atualização da Cobrança Recorrente
      required:
      - atualizacao
      properties:
        atualizacao:
          type: array
          title: Histórico de Status
          description: Histórico das mudanças de status das cobranças recorrentes.
          items:
            type: object
            required:
            - status
            - data
            properties:
              status:
                type: string
                title: Status da cobrança
                description: Status da cobrança.
                enum:
                - CRIADA
                - ATIVA
                - CONCLUIDA
                - EXPIRADA
                - REJEITADA
                - CANCELADA
              data:
                type: string
                format: date-time
                description: Data e hora do registro de status atualizado. Respeita RFC 3339.
        encerramento:
          type: object
          title: Detalhamento do encerramento da cobrança.
          oneOf:
          - type: object
            properties:
              cancelamento:
                type: object
                title: Informações sobre o cancelamento da cobrança
                required:
                - solicitante
                - codigo
                - descricao
                description: Informações sobre o cancelamento da cobrança
                properties:
                  solicitante:
                    type: string
                    title: Solicitante do cancelamento
                    enum:
                    - PSP_PAGADOR
                    - USUARIO_PAGADOR
                    - PSP_RECEBEDOR
                    - USUARIO_RECEBEDOR
                  codigo:
                    type: string
                    title: Código do cancelamento
                    description: Código do cancelamento. Corresponde ao código de cancelamento presente no catálogo de mensagens.
                    maxLength: 4
                    enum:
                    - ACCT
                    - BLCK
                    - CCLD
                    - FAIL
                    - OTHR
                    - SLBD
                    - SLCR
                  descricao:
                    type: string
                    title: Descricao do cancelamento
                    description: Descricao da causa do cancelamento
                    maxLength: 105
          - type: object
            properties:
              rejeicao:
                type: object
                title: Informações sobre a rejeição da cobrança
                required:
                - codigo
                - descricao
                description: Informações sobre a rejeição da cobrança
                properties:
                  codigo:
                    type: string
                    title: Código da rejeição
                    description: Código da rejeição. Corresponde ao código de rejeição presente no catálogo de mensagens.
                    maxLength: 4
                    enum:
                    - AB10
                    - AC05
                    - AC06
                    - AM02
                    - AM09
                    - DENC
                    - DS27
                    - DTED
                    - DTNT
                    - FBRD
                    - IRNT
                    - MIDI
                    - MSUC
                    - NIEC
                    - NIPA
                    - NITX
                    - QUNT
                    - RC09
                    - UDEI
                  descricao:
                    type: string
                    title: Descricao da rejeição
                    description: Descricao da causa da rejeição
                    maxLength: 105
    Fim:
      type: string
      format: date-time
      title: Data de fim
      description: Filtra os registros cuja data de criação seja menor ou igual que a data de fim. Respeita RFC 3339.
    ParametrosConsultaCobR:
      type: object
      title: Parâmetros de Consulta de Cobrança
      description: Parâmetros utilizados para a realização de uma consulta de cobranças.
      required:
      - inicio
      - fim
      - paginacao
      properties:
        inicio:
          type: string
          format: date-time
          title: Data de Início
          description: Data inicial utilizada na consulta. Respeita RFC 3339.
          example: '2020-04-01T00:00:00Z'
        fim:
          type: string
          format: date-time
          title: Data de Fim
          description: Data de fim utilizada na consulta. Respeita RFC 3339.
          example: '2020-04-01T17:00:00Z'
        idRec:
          $ref: '#/components/schemas/RecId'
        cpf:
          type: string
          title: CPF
          pattern: /^\d{11}$/
          description: Filtro pelo CPF do devedor. Não pode ser utilizado ao mesmo tempo que o CNPJ.
        cnpj:
          type: string
          title: CNPJ
          pattern: /^\d{14}$/
          description: Filtro pelo CNPJ do devedor. Não pode ser utilizado ao mesmo tempo que o CPF.
        status:
          type: string
          title: Status do registro da cobrança
          description: Filtro pelo status das cobranças.
        recebedor:
          type: object
          title: Recebedor
          properties:
            convenio:
              type: string
              title: Convênio
              description: Convênio entre usuário e participante recebedor.
              maxLength: 60
        paginacao:
          $ref: '#/components/schemas/Paginacao'
    Inicio:
      type: string
      format: date-time
      title: Data de início
      description: Filtra os registros cuja data de criação seja maior ou igual que a data de início. Respeita RFC 3339.
    TxId:
      type: string
      title: Id da Transação
      description: "# Identificador da transação\n\nO campo `txid` determina o identificador da transação.\nO objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como `TransactionIdentification <txId>` ou `idConciliacaoRecebedor`.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, \ndepois de confirmado o pagamento, é enviado para o SPI via pacs.008. \nUma pacs.008 também é enviada ao PSP do recebedor, contendo, além de todas as informações usuais \ndo pagamento, o txid.\nAo perceber um recebimento dotado de txid, o PSP do recebedor está apto a se comunicar com o usuário recebedor, \ninformando que um pagamento específico foi liquidado.\n\nO txid é criado exclusivamente pelo usuário recebedor e está sob sua responsabilidade.\nO txid, no contexto de representação de uma cobrança, é único por CPF/CNPJ do usuário recebedor. Cabe ao \nPSP recebedor validar essa regra na API Pix.\n"
      pattern: '[a-zA-Z0-9]{26,35}'
      minLength: 26
      maxLength: 35
    PessoaJuridicaRecorrencia:
      type: object
      required:
      - cnpj
      - nome
      title: Pessoa Jurídica
      properties:
        cnpj:
          type: string
          title: CNPJ
          pattern: /^\d{14}$/
          example: '45164632481234'
          description: CNPJ do usuário.
        nome:
          type: string
          title: Nome
          description: Nome do usuário.
          minLength: 1
          maxLength: 140
          example: Fulano de Tal
  examples:
    cobRBody1:
      summary: Exemplo de criação de cobrança recorrente 1
      value:
        idRec: RR1234567820240115abcdefghijk
        infoAdicional: Serviços de Streamming de Música e Filmes.
        calendario:
          dataDeVencimento: '2024-04-15'
        valor:
          original: '106.07'
        ajusteDiaUtil: false
        devedor:
          cep: 89256-140
          cidade: Uberlândia
          email: sebastiao.tavares@mail.com
          logradouro: Alameda Franco 1056
          uf: MG
        recebedor:
          agencia: '9708'
          conta: 012682
          tipoConta: CORRENTE
    OperacaoInvalidaCobRExample2:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/CobROperacaoInvalida
        title: Operação inválida.
        status: 400
        detail: Não é possível cancelar uma cobrança em uma data igual ou maior que a data prevista da primeira tentativa de liquidação.
    getCobR1:
      summary: Exemplo de retorno da consulta de cobranças recorrentes 1
      value:
        parametros:
          inicio: '2024-04-01T00:00:00Z'
          fim: '2024-12-01T23:59:59Z'
          paginacao:
            paginaAtual: 0
            itensPorPagina: 100
            quantidadeDePaginas: 1
            quantidadeTotalDeItens: 1
        cobsr:
        - idRec: RR123456782024061999000566354
          txid: 7f733863543b4a16b516d839bd4bc34e
          calendario:
            criacao: '2024-05-20'
            dataDeVencimento: '2024-06-20'
          valor:
            original: '50.33'
          status: ATIVA
          ajusteDiaUtil: false
          politicaRetentativa: PERMITE_3R_7D
          devedor:
            cep: 63259-740
            cidade: Campinas
            email: beltrano.silva@mail.com
            logradouro: Rua Gonçalves Dias 605
            uf: SP
          recebedor:
            conta: '997182'
            tipoConta: CORRENTE
          tentativas:
          - dataLiquidacao: '2024-06-20'
            tipo: AGND
            status: AGENDADA
            endToEndId: E12345678202406201221abcdef12345
            atualizacao:
            - data: '2024-05-21T10:40:16.730Z'
              status: SOLICITADA
            - data: '2024-05-21T17:08:00.520Z'
              status: AGENDADA
          atualizacao:
          - data: '2024-05-20T14:47:29.470Z'
            status: CRIADA
          - data: '2024-05-21T10:18:20.120Z'
            status: ATIVA
    cobRResponse3:
      summary: Exemplo de cobrança recorrente 2
      value:
        idRec: RR123456782024061999000566354
        txid: 7f733863543b4a16b516d839bd4bc34e
        calendario:
          criacao: '2024-05-20'
          dataDeVencimento: '2024-06-20'
        valor:
          original: '50.33'
        status: ATIVA
        politicaRetentativa: PERMITE_3R_7D
        ajusteDiaUtil: false
        devedor:
          cep: 63259-740
          cidade: Campinas
          email: beltrano.silva@mail.com
          logradouro: Rua Gonçalves Dias 605
          uf: SP
        recebedor:
          cnpj: '58966551101210'
          conta: '997182'
          tipoConta: CORRENTE
        tentativas:
        - dataLiquidacao: '2024-06-22'
          tipo: AGND
          endToEndId: E12345678202406201221abcdef12345
          status: EXPIRADA
        - dataLiquidacao: '2024-06-24'
          tipo: NTAG
          endToEndId: E12345678202406201221abcdef12345
          status: AGENDADA
        atualizacao:
        - data: '2024-05-20T14:47:29.470Z'
          status: CRIADA
        - data: '2024-05-21T10:18:20.120Z'
          status: ATIVA
    cobRResponse2:
      summary: Exemplo de cobrança recorrente 1
      value:
        idRec: RR1234567820240115abcdefghijk
        txid: 3136957d93134f2184b369e8f1c0729d
        infoAdicional: Serviços de Streamming de Música e Filmes.
        calendario:
          criacao: '2024-04-01'
          dataDeVencimento: '2024-04-15'
        valor:
          original: '106.07'
        status: CRIADA
        politicaRetentativa: PERMITE_3R_7D
        ajusteDiaUtil: false
        devedor:
          cep: 89256-140
          cidade: Uberlândia
          email: sebastiao.tavares@mail.com
          logradouro: Alameda Franco 1056
          uf: MG
        recebedor:
          agencia: '9708'
          conta: 012682
          tipoConta: CORRENTE
        atualizacao:
        - data: '2024-04-01T14:47:29.470Z'
          status: CRIADA
    cobRBody2:
      summary: Exemplo de revisão de cobrança recorrente 1
      value:
        status: CANCELADA
    OperacaoInvalidaCobRExample1:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/CobROperacaoInvalida
        title: Operação inválida.
        status: 400
        detail: A cobrança não respeita o schema.
        violacoes:
        - razao: O objeto cobr.calendario não respeita o schema.
          propriedade: cobr.calendario
    AcessoNegadoExample1:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/AcessoNegado
        title: Acesso Negado
        status: 403
        detail: Requisição de participante autenticado que viola alguma regra de autorização.
    NaoEncontradoExample1:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/NaoEncontrado
        title: Não Encontrado
        status: 404
        detail: Entidade não encontrada.
    cobRResponse1:
      summary: Exemplo de cobrança recorrente 1
      value:
        idRec: RR1234567820240115abcdefghijk
        txid: 3136957d93134f2184b369e8f1c0729d
        infoAdicional: Serviços de Streamming de Música e Filmes.
        calendario:
          criacao: '2024-04-01'
          dataDeVencimento: '2024-04-15'
        status: CRIADA
        valor:
          original: '106.07'
        politicaRetentativa: PERMITE_3R_7D
        ajusteDiaUtil: false
        devedor:
          cep: 89256-140
          cidade: Uberlândia
          email: sebastiao.tavares@mail.com
          logradouro: Alameda Franco 1056
          uf: MG
        recebedor:
          agencia: '9708'
          conta: 012682
          tipoConta: CORRENTE
        atualizacao:
        - data: '2024-04-01T14:47:29.470Z'
          status: CRIADA
    cobRResponse4:
      summary: Exemplo de cobrança recorrente 3
      value:
        idRec: RN985156112024071999000566354
        txid: 517bd858b59d458a841280b0f0a60bfa
        calendario:
          criacao: '2024-05-20'
          dataDeVencimento: '2024-06-20'
        valor:
          original: '210.00'
        status: CANCELADA
        politicaRetentativa: NAO_PERMITE
        ajusteDiaUtil: false
        devedor:
          cep: 26901-340
          cidade: São Luís
          email: fulano.tal@mail.com
          logradouro: Alameda Cardoso 1007
          uf: MA
        recebedor:
          cnpj: '31166575201770'
          conta: '107262'
          nome: Empresa de Telecomunicações SA
          tipoConta: POUPANÇA
        tentativas:
        - dataLiquidacao: '2024-06-20'
          tipo: AGND
          endToEndId: E12345678202406201221abcdef12345
          status: CANCELADA
        encerramento:
          cancelamento:
            solicitante: USUARIO_RECEBEDOR
            codigo: SLCR
            descricao: Cancelamento de agendamento solicitado pelo usuário recebedor
        atualizacao:
        - data: '2024-05-20T14:47:29.470Z'
          status: CRIADA
        - data: '2024-05-21T10:18:20.120Z'
          status: ATIVA
        - data: '2024-05-26T10:18:20.120Z'
          status: CANCELADA
    ServicoIndisponivelExample1:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/ServicoIndisponivel
        title: Serviço Indisponível
        status: 503
        detail: Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.
    RequisicaoInvalidaCobRTentativaExample1:
      summary: Exemplo de erro da requisição 1
      value:
        type: https://pix.bcb.gov.br/api/v2/error/CobROperacaoInvalida
        title: Cobrança não encontrada.
        status: 400
        detail: A política configurada na recorrência não permite retentativa de cobrança.
  responses:
    NaoEncontrado:
      description: Recurso solicitado não foi encontrado.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problema'
          examples:
            exemplo1:
              $ref: '#/components/examples/NaoEncontradoExample1'
    AcessoNegado:
      description: Requisição de participante autenticado que viola alguma regra de autorização.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problema'
          examples:
            exemplo1:
              $ref: '#/components/examples/AcessoNegadoExample1'
    ServicoIndisponivel:
      description: Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problema'
          examples:
            exemplo1:
              $ref: '#/components/examples/ServicoIndisponivelExample1'
  parameters:
    itensPorPagina:
      in: query
      name: paginacao.itensPorPagina
      required: false
      schema:
        type: integer
        format: int32
        title: Itens por Página
        minimum: 1
        maximum: 1000
        default: 100
        description: Quantidade máxima de registros retornados em cada página. Apenas a última página pode conter uma quantidade menor de registros.
    Client-Id:
      in: query
      name: client_id
      required: true
      description: Sua identificação exclusiva, a mesma que você usa para geração de token OAuth, o Citi compartilhou com você durante a integração da API do CitiConnect
      schema:
        type: string
        description: Sua identificação exclusiva, a mesma que você usa para geração de token OAuth, o Citi compartilhou com você durante a integração da API do CitiConnect
        example: 9a10a5d6-63d4-4885-b6bd-19e79629496d
    paginaAtual:
      in: query
      name: paginacao.paginaAtual
      required: false
      schema:
        type: integer
        format: int32
        title: Página atual
        minimum: 0
        default: 0
        description: Página a ser retornada pela consulta. Se não for informada, o PSP assumirá que será 0.
  requestBodies:
    CobRBody:
      description: Dados para geração da cobrança recorrente.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CobRSolicitada'
          examples:
            exemplo1:
              $ref: '#/components/examples/cobRBody1'
    CobRBodyRevisada:
      description: Dados para geração da cobrança.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CobRRevisada'
          examples:
            exemplo1:
              $ref: '#/components/examples/cobRBody2'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /authenticationservices/v3/oauth/token
          tokenUrl: /authenticationservices/v3/oauth/token
          scopes:
            authenticationservices/v1: Grant read-only access to payment initation service
