openapi: 3.2.0
info:
  title: Citi Transaction API
  version: ''
  description: 'Operations tagged Transaction across 2 of this provider''s published API definitions: citi-request-to-pay-openapi.yaml, self-service_api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1
  description: production gateway URL
- url: https://tts.apib2b.citi.com/citiconnect/sb/requesttopayservice/v1
  description: ' sandbox gateway URL'
- url: https://tts.apib2b.citi.com/citiconnect/prod/selfservices/v1
  description: production gateway url
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/selfservices/v1
  description: sbox url
security:
- clientCredentials: []
tags:
- name: Transaction
paths:
  /transaction/inquiry:
    post:
      summary: Transaction/Inquiry
      description: 'CitiConnect Request To Pay: Transaction Inquiry allows users to retrieve the latest status of a transaction by submitting one or all of the following parameters: Client Id, Transaction Reference number.


        Content-Type : Supports “application/json” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        ClientId : Client Id of the Merchant/Citi Customer :

        SecretKey : Secret Key Sent by Merchant/Citi Customer :

        TxnRefNo : Unique Txn Ref No by Citi Customer/Merchant :

        TimeStamp : Message time and date(YYYY-MM-DD''T''HH:MM:SS''+or-''ZZ:ZZ

        ZZ:ZZ = UTC Time Offset) sent by Citi Customer/Merchant :

        CountryCode : Country code for API :

        Merchant Ref No : Merchant Reference No for Txn Status Check :

        Bank Ref No. : Bank Reference No for Txn Status Check :'
      parameters:
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: ClientId
        in: header
        description: Client identity
        required: false
        schema:
          type: string
      - name: TxnRefNo
        in: header
        description: Transaction reference number
        required: false
        schema:
          type: string
      - name: CountryCode
        in: header
        description: Country code
        required: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Request content type
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: Request payload
      tags:
      - Transaction
      operationId: postTransactionInquiry
      x-operation-id-source: derived
    servers:
    - url: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1
      description: production gateway URL
    - url: https://tts.apib2b.citi.com/citiconnect/sb/requesttopayservice/v1
      description: ' sandbox gateway URL'
  /transaction/historyreport:
    get:
      summary: Transaction Reports
      description: 'CitiConnect Transaction Reports allows users to retrieve reports, directly to their ERP or partner application systems for easier processing and reconciliation.


        Content-Type : Supports “application/xml” or “application/json” or “text/csv” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        TranRefNo : endToEndId or MT 100 Reference Number (mt100refNo).

        Important: Either Transaction Reference Number or Date Range is required. :

        FromDate : Start date from when the transaction reports should be generated. Important: Either Transaction Reference Number or Date Range is required. :

        ToDate : End date from when the transaction reports should be generated. Important: Either Transaction Reference Number or Date Range is required. :

        BranchNo : Branch Number :

        PymtCurrency : Currency related to the payment :

        AccountNo : :'
      parameters:
      - name: client_id
        in: query
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content: {}
      tags:
      - Transaction
      operationId: getTransactionHistoryreport
      x-operation-id-source: derived
    post:
      summary: Transaction Reports
      description: 'CitiConnect Transaction Reports allows users to retrieve reports, directly to their ERP or partner application systems for easier processing and reconciliation.


        Content-Type : Supports “application/xml” or “application/json” or “text/csv” :

        Authorization : The OAuth Token prefixed with “Bearer” and space in between. :

        TranRefNo : endToEndId or MT 100 Reference Number (mt100refNo).

        Important: Either Transaction Reference Number or Date Range is required. :

        FromDate : Start date from when the transaction reports should be generated. Important: Either Transaction Reference Number or Date Range is required. :

        ToDate : End date from when the transaction reports should be generated. Important: Either Transaction Reference Number or Date Range is required. :

        BranchNo : Branch Number :

        PymtCurrency : Currency related to the payment :

        AccountNo : :'
      parameters:
      - name: client_id
        in: query
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content: {}
      tags:
      - Transaction
      operationId: postTransactionHistoryreport
      x-operation-id-source: derived
    servers:
    - url: https://tts.apib2b.citi.com/citiconnect/prod/selfservices/v1
      description: production gateway url
    - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/selfservices/v1
      description: sbox url
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1/validate/address/authenticationservices/v1/oauth/token
      description: 'All CitiConnect APIs use the oAuth2 authentication scheme, which requires a bearer token to authenticate your API call. The Token URL includes the version of authentication used by this API. See <a href="../../authentication/authentication-api-reference/" target="_blank">the Citi Authentication API reference</a> for information on requesting a token.


        '
x-refined-from:
- citi-request-to-pay-openapi.yaml
- self-service_api.yaml
