openapi: 3.2.0
info:
  title: Instant Payments Beneficiary Validation API
  description: 'Use the Citi Payments Express API to initiate these types of transaction and check their status:

    * Instant Payments

    * Payment Messages

    * Refunds

    * Beneficiary Validation


    **Note:** The Citi Payments Express API is for direct payments and refunds. To send payments or refunds to a third-party account or via a proxy, use the CitiConnect Payments API'
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
- url: https://b2b.api.icg.citi.com/citiconnect/prod
  description: production gateway url
- url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
  description: 'sbox url '
tags:
- name: Beneficiary Validation
  description: Before initiating payment, POST beneficiary validation details to confirm that you are sending to the correct beneficiary.
paths:
  /paymentservices/v1/beneficiaryvalidations:
    post:
      tags:
      - Beneficiary Validation
      summary: Validating the beneficiary account details
      operationId: expressBeneficiaryValidation
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: Idempotency-Id
        in: header
        required: true
        schema:
          type: string
          maxLength: 128
        example: a44cbb606de4edb9a7a123414bba3bb
        description: "Your unique identification for a POST request \n - Maximum length is 128. \n-  CitiConnect API responds with an error (HTTP status 4XX) if your POST request idempotency identification value is a duplicate across a recent history of idempotency identifications in Citi's database. \n- If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from Citi to your POST request and you wish to retry, reinitiate your request with the same idempotency identification to prevent accidental duplicate payment."
      requestBody:
        required: true
        description: This API allows the client to validate beneficiary details with the use of combination of fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Beneficiary-Validation-Request'
            examples:
              IN IMPS Beneficiary Validation Non Penny:
                $ref: '#/components/examples/In-Beneficiary-Validation-Request-Non-Penny'
              IN IMPS Beneficiary Validation Penny:
                $ref: '#/components/examples/In-Beneficiary-Validation-Request-Penny'
              UPI IN Beneficiary Validation:
                $ref: '#/components/examples/Upi-In-Beneficiary-Validation-Request'
              UPI IN Mobile Number Beneficiary Validation:
                $ref: '#/components/examples/Upi-In-Mobile-Number-Beneficiary-Validation-Request'
              UPI IN UPI ID Beneficiary Validation:
                $ref: '#/components/examples/Upi-In-UPI-ID-Beneficiary-Validation-Request'
              US EWS Beneficiary Validation:
                $ref: '#/components/examples/US-EWS-Beneficiary-Validation-Request'
              UK Beneficiary Validation:
                $ref: '#/components/examples/UK-Beneficiary-Validation-Request'
              IN PAN Validation:
                $ref: '#/components/examples/IN-PAN-Validation-Request'
              Pay2China Merchant Validation:
                $ref: '#/components/examples/Pay2China-Beneficiary-Validation-Request'
          application/xml:
            schema:
              $ref: '#/components/schemas/Beneficiary-Validation-Request'
            examples:
              Pay2China Merchant Validation:
                $ref: '#/components/examples/Pay2China-Beneficiary-Validation-Request'
      security:
      - oAuth2:
        - selfservices
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Initial-Beneficiary-Validation-Response'
              examples:
                IN IMPS Initial Beneficiary Validation Response Non Penny:
                  $ref: '#/components/examples/In-Initial-Beneficiary-Validation-Response-Non-Penny'
                IN IMPS Initial Beneficiary Validation Response Penny:
                  $ref: '#/components/examples/In-Initial-Beneficiary-Validation-Response-Penny'
                UPI IN Initial Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-Initial-Beneficiary-Validation-Response'
                UPI IN Mobile Number Initial Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-Mobile-Number-Initial-Beneficiary-Validation-Response'
                UPI IN UPI ID Initial Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-UPI-ID-Initial-Beneficiary-Validation-Response'
                US EWS Initial Beneficiary Validation Response:
                  $ref: '#/components/examples/US-EWS-Initial-Beneficiary-Validation-Response'
                UK Initial Beneficiary Validation Response:
                  $ref: '#/components/examples/UK-Initial-Beneficiary-Validation-Response'
                IN PAN Initial Validation Response:
                  $ref: '#/components/examples/IN-PAN-Initial-Validation-Response'
                Pay2China Initial Validation Response:
                  $ref: '#/components/examples/Pay2China-Initial-Beneficiary-Validation-Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Initial-Beneficiary-Validation-Response'
              examples:
                Pay2China Initial Validation Response:
                  $ref: '#/components/examples/Pay2China-Initial-Beneficiary-Validation-Response'
        '400':
          $ref: '#/components/responses/Bad-Request-Pay2China'
        '401':
          $ref: '#/components/responses/Unauthorized-Pay2China'
        '404':
          $ref: '#/components/responses/Not-Found-Pay2China'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed-Pay2China'
        '409':
          $ref: '#/components/responses/Conflict-Pay2China'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type-Pay2China'
        '500':
          $ref: '#/components/responses/Internal-Server-Error-Pay2China'
        default:
          $ref: '#/components/responses/Internal-Server-Error-Pay2China'
  /paymentservices/v1/beneficiaryvalidations/{uetr}:
    get:
      tags:
      - Beneficiary Validation
      summary: Inquire for the latest status of a beneficiary validation using UETR
      description: The API service responds with the latest beneficiary validation status of the unique end-to-end transaction reference (UETR) you inquire with.
      operationId: findBeneficiaryValidation
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: Your unique identification, same as the identification you use for OAuth token generation, Citi shared with you during your CitiConnect API onboarding
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
      - name: end_to_end_id
        in: query
        schema:
          type: string
        description: Client provided reference number
      - name: uetr
        in: path
        description: Unique end-to-end transaction reference
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
        examples:
          payment_transaction_details_1:
            value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
      security:
      - oAuth2:
        - selfservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Final-Beneficiary-Validation-Response'
              examples:
                IN IMPS Final Beneficiary Validation Response Non Penny:
                  $ref: '#/components/examples/In-Final-Beneficiary-Validation-Response-Non-Penny'
                IN IMPS Final Beneficiary Validation Response Penny:
                  $ref: '#/components/examples/In-Final-Beneficiary-Validation-Response-Penny'
                UPI IN Final Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-Final-Beneficiary-Validation-Response'
                UPI IN Mobile Number Final Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Response'
                UPI IN Mobile Number Final Beneficiary Validation Penny Testing Response:
                  $ref: '#/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Penny-Testing-Response'
                UPI IN UPI ID Final Beneficiary Validation Response:
                  $ref: '#/components/examples/Upi-In-Final-UPI-ID-Beneficiary-Validation-Response'
                US EWS Final Beneficiary Validation Response:
                  $ref: '#/components/examples/US-EWS-Final-Beneficiary-Validation-Response'
                UK Final Beneficiary Validation Response:
                  $ref: '#/components/examples/UK-Final-Beneficiary-Validation-Response'
                IN PAN Final Validation Response:
                  $ref: '#/components/examples/IN-PAN-Final-Validation-Response'
                Pay2China Final Validation Positive Response:
                  $ref: '#/components/examples/Pay2China-Final-Beneficiary-Validation-Positive-Response'
                Pay2China Final Validation Negative Response:
                  $ref: '#/components/examples/Pay2China-Final-Beneficiary-Validation-Negative-Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Final-Beneficiary-Validation-Response'
              examples:
                Pay2China Final Validation Positive Response:
                  $ref: '#/components/examples/Pay2China-Final-Beneficiary-Validation-Positive-Response'
                Pay2China Final Validation Negative Response:
                  $ref: '#/components/examples/Pay2China-Final-Beneficiary-Validation-Negative-Response'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /payment/beneficiarysearch:
    get:
      parameters:
      - description: Unique reference which was shared during CitiConnect API on-boarding(client_id which used during oauth token generation)
        in: query
        name: client_id
        required: true
        schema:
          type: string
      - description: Country where the request is initiated for beneficiary account search/validation in ISO 3166-1 alpha-2 format
        in: query
        name: country_code
        required: true
        schema:
          type: string
          pattern: ^[A-Z]{2}$
      - description: Account name of the creditor intended for search/validation whose payment amount will be credited. For early warning system (EWS), if the verification_type = (BANKOWN or BASICVR) either creditor_firstname & creditor_lastname or creditor_name (Business Name) should be passed. Business name maximum allowed length 87 characters.
        in: query
        name: creditor_name
        schema:
          type: string
          maxLength: 140
          minLength: 3
      - description: Creditor account bank identification code of the creditor whose payment amount will be credited. - For early warning system (EWS), 9 digit beneficiary bank routing number.
        in: query
        name: creditor_bank_code
        schema:
          type: string
          maxLength: 11
          minLength: 1
      - description: 'Creditor Branch identification of the creditor whose payment amount will be credited. ##### Field exclusively applicable for below conditions - country_code = AR (Argentina), BR (Brazil), UY (Uruguay), PE (Peru), MX (Mexico), CO (Colombia)'
        in: query
        name: creditor_branch_id
        schema:
          type: string
          maxLength: 3
      - description: 'Account alias name of the creditor intended for search/validation whose payment amount will be credited. ##### Field exclusively applicable for below conditions - country_code = AR (Argentina), BR (Brazil), UY (Uruguay), PE (Peru), MX (Mexico), CO (Colombia)'
        in: query
        name: creditor_alias
        schema:
          type: string
          maxLength: 140
          minLength: 3
      - description: Account name of the debtor whose payment amount will be deducted.
        in: query
        name: debtor_name
        schema:
          type: string
          maxLength: 140
          minLength: 3
      - description: 'Requested execution date post alias resolution when the payment needs to be processed for settlement, format would be YYYYMMDD ##### Field exclusively applicable for below countries - country_code = BR (Brazil) _Note_ * _If not provided present date will be populated when alias api is invoked_ * _Only Present and Future date will be acceptable and not past date_'
        in: query
        name: value_date
        schema:
          type: string
          maxLength: 8
      - description: "Account & Proxy details intended for search/validation of Beneficiary details\n  _Condition : It should be encrypted JSON combination of **creditor_account** or **creditor_proxy_type & creditor_proxy_value** should be passed along with **debtor_account**_\n  - **debtor_account** \n     - account number of the debtor whose payment amount will be deducted\n     - max length is 35\n     - mandatory\n  - **creditor_account**\n     - account number of the creditor whose payment amount will be credited & which requires validation\n     - max length is 35\n     - conditional\n\n  - **creditor_proxy_type**\n     - type of the proxy value to be used for validation/search\n     - max length is 35\n     - conditional \n        - *Supported Types*\n\n          * PHONE\n            - Used as an identifier for providing Mobile/Phone Number in **creditor_proxy_value**\n          * EMAIL\n            - Used as an identifier for providing Email ID in **creditor_proxy_value**\n          * TAXID\n            - Used as an identifier for providing Tax Identification No in **creditor_proxy_value**\n            - *Applicable only for country_code = BR (Brazil)*\n          * EVP\n            - Used as an identifier for providing EVP in **creditor_proxy_value**\n            - *Applicable only for country_code = BR (Brazil)*\n          * NIDN\n            - Used as an identifier for providing NRIC Number in **creditor_proxy_value**\n          * COID\n            - Used as an identifier for providing Unique Entity Number in **creditor_proxy_value**\n          * MOBN\n            - Used as an identifier for providing Mobile number       \n  - **creditor_proxy_value**\n     - value of proxy type to be used for validation/search\n     - max length is 70\n     - conditional\n   - **document_type**\n     - Originating Customer's Document Type. The values are:\n 1:LE \n2:DNI \n3:LM \n4:Pasaporte \n5:Carné de Extranjería \n6:RUC.           \n - **document_number**\n     - Originating Customer Document Number.In case the  Originating Client's account is joint, the document number must be 99999999\n     - max length is 12 \n - **creditor_document_number**\n     - Creditor document number of credit account (both creditor document number and creditor tax id are same). It is mandatory for Brazil and Colombia and not  applicable for other countries.\n     - It is a Request header with string data type.\n     - max length is 14\n      - example: \"11111111111111\" \n  - **creditor_account_type**\n     - Creditor Account Type of Credit Account. It is mandatory for Brazil and Colombia and not applicable for other countries.\n      - BR  - The account type must be populated with following list of dominion:SAVINGS, CHECKING, PAYMENTS,  EASY, PUBLIC_ENTITY. However validation is not required at CCAPI, whatever received by CCAPI will be   routed to downstream and downstream will do the validation\n      - CO - The account type must  be populated with following list of dominion:CUENTA_DE_AHORRO and CUENTA_CORRIENTE. However validation  is not required at CCAPI, whatever received by CCAPI will be routed to downstream and downstream will do the validation \n       - It is a Request header with string data type.\n        - maxLength: 15\n \n - **creditor_document_type**\n      - Creditor Document Type of Credit Account.It is Optional for  Brazil and Mandatory for Colombia and not applicable for other countries.\n       - CO - The  account type must be populated with following list of dominion:CC, CD, CE, NIT, TI, PAS, IEPN, IEPJ, FD, RC It is a Request header with string data type.\n       - maxLength: 5\n       - example: \"11111\"\n \n - **extra_information** \n     - Creditor Document Type of Credit Account. This field is  optional for Colombia and it is not applicable for other countries.\n     - It is a Request header  with string data type.\n     - maxLength: 30\n       - example: \"qwertyuiopasdfgjklzxcvbnm1234\" \n  * JSON combination :  \n\n     * With Creditor Account  \n\n       {\"debtor_account\":\"123123\",\"creditor_account\":\"234324234\"}.  \n\n     * with Proxy detials  \n\n       {\"debtor_account\":\"123123\",\"creditor_proxy_type\":\"EMAIL\",\"creditor_proxy_value\":\"John@citi.com\"}  \n       \n  *Note - Usage of both **creditor_account** + **creditor_proxy_type & creditor_proxy_value** will result in error response* \n  \n  **Example for encrypted-params:**\n   eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0.cM5nUBLy-Nt4bmoS3YyKpMKVgc1zG2bhX1SLFLPmfOtmuv4vMYDPrFJSStlBK6KQqnNpeia6Er-Mvtoiy6d-x_cE_wZnkZdY-s7-mPKTWdB-1mQ9ev7sripvDcrvdV46aA8yIdat7j3C1guyIrQ3pixJLAWuWwYh-Mu9oQ5Y4fbt8hSyWUcrv50BVVHDTNhl1JfC9aMedo9RSZP4uVQrkuc64cSDs65F5CPrALSINWc1kWvtBdE00rFs8VPboFlOjzh8SWKUwhEWRGziRcBo0s0Rvjr1aS6xlXFK2xduWa2Yhww_i8x4LZPl4wuG0lYUxNfYfW-i1zPgbffpxEEoTg.56JMOGxrFjQNqUnaTrDnWw._UYD1vvZk6zcPpVX0WbxpVSCv_kbZjMbMfY9zbrAeQkEwd5-6l2LJ2X0rOnQrt6bvfMdxuT8_v5A4rpOX2BlOtKOOxkt1rxO1422HJcimejh2QCG9SK65_Gq202ZHUpertZsxP1So4NXD4E5yHPCMHkhgQCxEiZYAOweVmmAGR28J7P2faMUY0_y_PEOK6L8R-MuI7MJvO95vhdQcXsn1YirgkvWYWiO9AJX9UY-ES-VnBXu5ZtH3VtEcvYsydVFjssP83vObZehaRoz-vObYFRkm8oHEXmcEGNchXgUQ-w5UtpIk4EKX-rqOG-TYPPfJTU-z-QH5s0Z9fVVUKcYpyys6-5LSgpR_LMYxkTg3nTbTvN4RoDVglgzi_pLz2fHBC8tQXLk2FpXB8l9dQPOFdfaxVyS7eq14kmEPHdkh0lRxhCKS1hFgMxIo1YRGrJoeRfrb0E7im1lviZcXm_T0ZLZTFtmLOxaRhB69ggTH38OZLHP_NFFJHSwcP3EIwQ7LS_2PC1yOBj8ctCWbd4Ig2ZjT2K7KECHaam8ugAPo1PbGrt0okk1P5fFfCwd4YPr92tnyVugI-ngSL2VpIUz3w.Sa9VUUM13fNAFvovk7L-Hg\n"
        in: header
        name: encrypted-params
        required: true
        schema:
          type: string
      responses:
        '200':
          description: "**Complete Creditor account details will be part of response**\n\n**1. Generic Response:**\n```json\n{\n  \"debtor\": {\n    \"name\": \"XXXYXXX\",\n    \"account_id\": \"0054400063\"\n  },\n  \"creditor\": {\n    \"name\": \"ABCDEEFGH\",\n    \"alias\": \"ABCDEEFGH\",\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"owner_type\": \"LEGAL_PERSON\",\n    \"tax_id\": \"12345678\",\n    \"country_code\": \"BR\",\n    \"bank_code\": \"ABCD123456\",\n    \"branch_id\": \"076\",\n    \"account_id\": \"1234567890\",\n    \"proxy_type\": \"PHONE\",\n    \"proxy_value\": \"5555141910097\",\n    \"account_currency\": \"USD,UYU\",\n    \"account_type\": \"SAVINGS\",\n    \"account_opening_date\": \"20221203\",\n    \"trade_name\": \"XYZ\",\n    \"document_type\": \"RUC\",\n    \"document_number\": \"91991923\"\n  },\n  \"additional_information\": {\n    \"end_to_end_id\": \"XYXYX001\",\n    \"value_date\": \"20220102\",\n    \"proxy_status\": \"ACTIVE\",\n    \"banelco_flag\": \"Y\",\n    \"clearing_system_id\": \"3233423\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_reference\": \"ModifyAlias29122\",\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n} \n```\n\n**2. Argentina Response (country_code = AR):**\n ```json\n{\n  \"creditor\": {\n    \"alias\": \"ABCDEEFGH\",\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"tax_id\": \"12345678\",\n    \"branch_id\": \"076\",\n    \"account_id\": \"1234567890\",\n    \"account_type\": \"SAVINGS\"\n  },\n  \"additional_information\": {\n    \"banelco_flag\": \"Y\",\n    \"clearing_system_id\": \"3233423\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n**3. US Response (country_code = US):**\n```json\n{\n  \"creditor\": {\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"proxy_value\": \"5555141910097\"\n  },\n  \"additional_information\": {\n    \"proxy_status\": \"ACTIVE\"\n  },\n  \"lookup_status_information\": {\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n**4. Korea Response (country_code = KR):**\n```json\n{\n  \"creditor\": {\n    \"resolved_name\": \"ABCDEEFGH\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_reference\": \"ModifyAlias29122\",\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n**5. India Response (country_code = IN):**\n```json\n{\n  \"creditor\": {\n    \"name\": \"ABCDEEFGH\",\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"account_id\": \"1234567890\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_reference\": \"ModifyAlias29122\",\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n **6. Indonesia Response (country_code = ID):**\n```json\n{\n  \"creditor\": {\n    \"name\": \"ABCDEEFGH\",\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"account_id\": \"1234567890\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_reference\": \"ModifyAlias29122\",\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n **7. Singapore Response (country_code = SG):**\n```json\n{\n  \"creditor\": {\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"proxy_value\": \"5555141910097\"\n  },\n  \"additional_information\": {\n    \"proxy_status\": \"ACTIVE\"\n  },\n  \"lookup_status_information\": {\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n **8. Brazil Alias Resolution (country_code = BR):**\n```json\n{\n  \"creditor\": {\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"owner_type\": \"LEGAL_PERSON\",\n    \"tax_id\": \"12345678\",\n    \"bank_code\": \"ABCD123456\",\n    \"branch_id\": \"076\",\n    \"account_id\": \"1234567890\",\n    \"proxy_type\": \"PHONE\",\n    \"proxy_value\": \"5555141910097\",\n    \"account_type\": \"SAVINGS\",\n    \"account_opening_date\": \"20221203\",\n    \"trade_name\": \"XYZ\"\n  },\n  \"additional_information\": {\n    \"end_to_end_id\": \"XYXYX001\",\n    \"value_date\": \"20220102\",\n    \"proxy_status\": \"ACTIVE\"\n  }\n}\n```\n**9. LATAM Countries| Beneficiary Search (country_code = [ MX or PA or PE or UY or BR or CO ] ):**\n```json\n{\n  \"debtor\": {\n    \"account_id\": \"0054400063\"\n  },\n  \"creditor\": {\n    \"resolved_name\": \"ABCDEEFGH\",\n    \"country_code\": \"MX\",\n    \"bank_code\": \"ABCD123456\",\n    \"account_id\": \"1234567890\",\n    \"account_currency\": \"USD,UYU\",\n    \"account_type\": \"SAVINGS\",\n    \"document_type\": \"RUC\",\n    \"document_number\": \"91991923\"\n  },\n  \"lookup_status_information\": {\n    \"lookup_response_status\": \"Success\",\n    \"status_code\": \"200\",\n    \"status_message\": \"Success\"\n  }\n}\n```\n**10. US_EWS Response (country_code = US_EWS):**\n```json\n{\n  \"creditor\": {\n    \"account_verification_status\": \"Passed\",\n    \"account_verification_description\": \"Account sucessfully verfied in EWS\",\n    \"account_type\": \"Saving\",\n    \"account_owner_status\": \"Passed\",\n    \"account_owner_description\": \"Account owner sucessfully verfied in EWS\",\n    \"owner_type\": \"OWN\",\n    \"firstname\": \"FMATCH\",\n    \"lastname\": \"PMATCH\",\n    \"dob\": \"NAVAIL\",\n    \"address_line1\": \"PMATCH\",\n    \"address_line2\": \"PMATCH\",\n    \"city\": \"FMATCH\",\n    \"state\": \"FMATCH\",\n    \"zip\": \"FMATCH\",\n    \"home_phone\": \"FMATCH\",\n    \"work_phone\": \"FMATCH\",\n    \"tax_id\": \"PMATCH\",\n    \"id_type\": \"FMATCH\",\n    \"id_no\": \"FMATCH\",\n    \"id_issuance_place\": \"NMATCH\",\n    \"additional_information\": \"TESTING EWS RESPONSE\",\n    \"creditor_name\": \"FMATCH\"\n  }\n}\n```\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryValidationResponse'
              example:
                debtor:
                  name: XXXYXXX
                  account_id: '0054400063'
                creditor:
                  name: ABCDEEFGH
                  alias: ABCDEEFGH
                  resolved_name: ABCDEEFGH
                  owner_type: LEGAL_PERSON
                  tax_id: '12345678'
                  country_code: BR
                  bank_code: ABCD123456
                  branch_id: '076'
                  account_id: '1234567890'
                  proxy_type: PHONE
                  proxy_value: '5555141910097'
                  account_currency: USD,UYU
                  account_type: SAVINGS
                  account_opening_date: '20221203'
                  trade_name: XYZ
                  document_type: RUC
                  document_number: '91991923'
                additional_information:
                  end_to_end_id: XYXYX001
                  value_date: '20220102'
                  proxy_status: ACTIVE
                  banelco_flag: Y
                  clearing_system_id: '3233423'
                lookup_status_information:
                  lookup_reference: ModifyAlias29122
                  lookup_response_status: Success
                  status_code: '200'
                  status_message: Success
            application/xml:
              schema:
                $ref: '#/components/schemas/BeneficiaryValidationResponse'
              example:
                debtor:
                  name: XXXYXXX
                  account_id: '0054400063'
                creditor:
                  name: ABCDEEFGH
                  alias: ABCDEEFGH
                  resolved_name: ABCDEEFGH
                  owner_type: LEGAL_PERSON
                  tax_id: '12345678'
                  country_code: BR
                  bank_code: ABCD123456
                  branch_id: '076'
                  account_id: '1234567890'
                  proxy_type: PHONE
                  proxy_value: '5555141910097'
                  account_currency: USD,UYU
                  account_type: SAVINGS
                  account_opening_date: '20221203'
                  trade_name: XYZ
                  document_type: RUC
                  document_number: '91991923'
                additional_information:
                  end_to_end_id: XYXYX001
                  value_date: '20220102'
                  proxy_status: ACTIVE
                  banelco_flag: Y
                  clearing_system_id: '3233423'
                lookup_status_information:
                  lookup_reference: ModifyAlias29122
                  lookup_response_status: Success
                  status_code: '200'
                  status_message: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: VC00002
                  issue: invalid value provided for property debtor_account
                  action: please provide valid value for property debtor_account
                - code: VC00002
                  issue: invalid value provided for property country_code
                  action: please provide valid value for property country_code, in format ^[A-Z]{2}$
                - code: VC00002
                  issue: invalid value provided for property creditor_account
                  action: please provide valid value for property creditor_account
                - code: VC00002
                  issue: invalid value provided for property creditor_bank_code
                  action: please provide valid value for property creditor_bank_code
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: VC00002
                  issue: invalid value provided for property debtor_account
                  action: please provide valid value for property debtor_account
                - code: VC00002
                  issue: invalid value provided for property country_code
                  action: please provide valid value for property country_code, in format ^[A-Z]{2}$
                - code: VC00002
                  issue: invalid value provided for property creditor_account
                  action: please provide valid value for property creditor_account
                - code: VC00002
                  issue: invalid value provided for property creditor_bank_code
                  action: please provide valid value for property creditor_bank_code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00007
                  issue: Authorization failed
                  action: Please try again with valid credentials.
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00007
                  issue: Authorization failed
                  action: Please try again with valid credentials.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00006
                  issue: requested resource not found
                  action: please try again later.
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00006
                  issue: requested resource not found
                  action: please try again later.
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00001
                  action: Please use valid Http Verb.
                  issue: Method Not Allowed
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00001
                  issue: Method Not Allowed
                  action: Please use valid Http Verb.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00004
                  action: Please try again after sometime
                  issue: Internal error , Unable to process the request at this moment
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00004
                  action: Please try again after sometime
                  issue: Internal error , Unable to process the request at this moment
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00011
                  issue: unable to serve your request at this moment
                  action: Not in business hours. Please try after sometime
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ref_id: ec689822-9864-4c4d-9d68-222467627902
                error_details:
                - code: CC00011
                  issue: unable to serve your request at this moment
                  action: Not in business hours. Please try after sometime
      tags:
      - Beneficiary Validation
      description: This API allows the client to retrieve beneficiary details.
      operationId: getBeneficiaryDetails
      summary: Retrieve the Beneficiary details for a given debit and credit account number of…
components:
  responses:
    Internal-Server-Error-Pay2China:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Internal-Server-Error-Example:
              $ref: '#/components/examples/Internal-Server-Error-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Internal-Server-Error-Example:
              $ref: '#/components/examples/Internal-Server-Error-Example'
    Bad-Request:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Bad-Request-Example:
              $ref: '#/components/examples/Bad-Request-Example'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Unauthorized-Example:
              $ref: '#/components/examples/Unauthorized-Example'
    Not-Found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Not-Found-Example:
              $ref: '#/components/examples/Not-Found-Example'
    Unauthorized-Pay2China:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Unauthorized-Example:
              $ref: '#/components/examples/Unauthorized-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Unauthorized-Example:
              $ref: '#/components/examples/Unauthorized-Example'
    Method-Not-Allowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Method-Not-Allowed-Example:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
    Method-Not-Allowed-Pay2China:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Method-Not-Allowed-Example:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Method-Not-Allowed-Example:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
    Bad-Request-Pay2China:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Bad-Request-Example:
              $ref: '#/components/examples/Bad-Request-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Bad-Request-Example:
              $ref: '#/components/examples/Bad-Request-Example'
    Conflict-Pay2China:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Idempotency-Id-Conflict-Example:
              $ref: '#/components/examples/Idempotency-Id-Conflict-Example'
            Duplicate-Payment-Conflict-Example:
              $ref: '#/components/examples/Duplicate-Payment-Conflict-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Idempotency-Id-Conflict-Example:
              $ref: '#/components/examples/Idempotency-Id-Conflict-Example'
            Duplicate-Payment-Conflict-Example:
              $ref: '#/components/examples/Duplicate-Payment-Conflict-Example'
    Internal-Server-Error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Internal-Server-Error-Example:
              $ref: '#/components/examples/Internal-Server-Error-Example'
    Unsupported-Media-Type-Pay2China:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Un-Supported-Media-Type-Example:
              $ref: '#/components/examples/Un-Supported-Media-Type-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Un-Supported-Media-Type-Example:
              $ref: '#/components/examples/Un-Supported-Media-Type-Example'
    Not-Found-Pay2China:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Not-Found-Example:
              $ref: '#/components/examples/Not-Found-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Response'
          examples:
            Not-Found-Example:
              $ref: '#/components/examples/Not-Found-Example'
  examples:
    In-Initial-Beneficiary-Validation-Response-Non-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
        method:
          country: IN
          method: IMPS
          type: AER
          penny_test: NONPENNY
        creation_date_time: '2023-09-10T08:23:49.112Z'
        status:
          date_time: '2023-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    In-Beneficiary-Validation-Request-Non-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
        method:
          country: IN
          method: IMPS
          type: AER
          penny_test: NONPENNY
    Un-Supported-Media-Type-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: Media type is invalid
          action: Provide valid media type
          code: CC00002
    Unauthorized-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: Request is not authorized
          action: Try again with valid credentials
          code: CC00007
    Upi-In-Initial-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: lbem0028@citibank
        method:
          country: IN
          method: UPI
          type: AER
        creation_date_time: '2023-09-10T08:23:49.112Z'
        status:
          date_time: '2023-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    Pay2China-Initial-Beneficiary-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667222f
        debtor:
          account: P39023128
          name: Das
          ultimate_debtor:
            name: Ethan
            account: '403653000011'
        creditor:
          id: M20220520100001
          work_phone_number: '19988886666'
          beneficial_owner:
            name: Dino
            id: '330001202219817201'
          document:
            entity: BUSINESS
            type: EMPL
            number: 91330100799655058B
        method:
          country: CN
          method: MERCHANTID
          type: Ownership
        status:
          date_time: '2024-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    US-EWS-Initial-Beneficiary-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          account: '927393445'
          name: Leo
          bank_id: FGHJ09890
          address_lines:
          - ABCD#WERT
          street_name: 1515 3rd Street
          building_number: A1234
          postal_code: '94158'
          city: San Francisco
          state: CA
          country: US
          birth_date: '1950-09-26'
          home_phone_number: +92-80808009
          document:
            entity: PERSONAL
            type: CCPT
            number: M7891234
            state: Dublin
        method:
          country: US
          method: BANKACCOUNT
          type: Ownership
        status:
          date_time: '2024-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
        creation_date_time: '2023-05-02T08:23:49.554Z'
    Upi-In-UPI-ID-Beneficiary-Validation-Request:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: hailey21@okbank
          proxy_type: SHID
        method:
          country: IN
          method: UPI
          type: AER
    UK-Initial-Beneficiary-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667656f
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          account: '927393445'
          name: Leo
          bank_id: FGHJ09890
          address_lines:
          - ABCD#WERT
          street_name: 1515 3rd Street
          building_number: A1234
          postal_code: '94158'
          city: Manchester
          state: Leeds
          country: UK
          birth_date: '1950-09-26'
          home_phone_number: +92-80808009
          document:
            entity: PERSONAL
            type: CCPT
            number: M7891234
            state: Dublin
        method:
          country: GB
          method: BANKACCOUNT
          type: Ownership
        status:
          date_time: '2024-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
        creation_date_time: '2023-05-02T08:23:49.554Z'
    US-EWS-Final-Beneficiary-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        creditor:
          account: '927393445'
        method:
          country: US
          method: BANKACCOUNT
          type: Ownership
        response:
          type: HR
          data_date_time: '2023-09-10T08:23:49.112Z'
          validation_risk_score: HIGH
          account:
            number_validation: MATCH
            name_validation: MATCH
        status:
          code: ACCC
          description: Completed
          date_time: '2024-09-10T08:23:49.112Z'
        creation_date_time: '2023-05-02T08:23:49.554Z'
    Idempotency-Id-Conflict-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: Idempotency-Id provided is currently being used in another request
          action: please do not repeat the same request again
          code: VC00016
    UK-Beneficiary-Validation-Request:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667656f
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          account: '927393445'
          name: Leo
          bank_id: FGHJ09890
          address_lines:
          - ABCD#WERT
          street_name: 1515 3rd Street
          building_number: A1234
          postal_code: '94158'
          city: Manchester
          state: Leeds
          country: UK
          birth_date: '1950-09-26'
          home_phone_number: +92-80808009
          document:
            entity: PERSONAL
            type: CCPT
            number: M7891234
            state: Dublin
        method:
          country: GB
          method: BANKACCOUNT
          type: Ownership
    Bad-Request-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        error_details:
        - issue: instructed_amount is missing
          action: Provide valid instructed_amount
          code: VC00010
    Upi-In-Mobile-Number-Initial-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: '9809056489'
          proxy_type: MBNO
        method:
          country: IN
          method: UPI
          type: AER
        creation_date_time: '2023-09-10T08:23:49.112Z'
        status:
          date_time: '2023-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    Method-Not-Allowed-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: HTTP method is not supported
          action: Provide valid HTTP method
          code: CC00001
    Upi-In-UPI-ID-Initial-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: hailey21@okbank
          proxy_type: SHID
        method:
          country: IN
          method: UPI
          type: AER
        creation_date_time: '2023-09-10T08:23:49.112Z'
        status:
          date_time: '2023-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    In-Final-Beneficiary-Validation-Response-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
        creditor:
          account: '927393908'
          name: Mathew
          resolved_name: Simon
        method:
          method: IMPS
          type: AER
          country: IN
          network: IMPS
          instructed_currency: INR
          penny_test: PENNY
        transaction:
          purpose: SALA
          type: debit
          value_date: '2024-02-23'
          instructed_amount: '1'
          unstructured_remittance_info:
          - Penny Testing for <End_to_End_ID>
          batch_id: '1234'
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
    Pay2China-Beneficiary-Validation-Request:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667222f
        debtor:
          account: P39023128
          name: Das
          ultimate_debtor:
            name: Ethan
            account: '403653000011'
        creditor:
          id: M20220520100001
          work_phone_number: '19988886666'
          beneficial_owner:
            name: Dino
            id: '330001202219817201'
          document:
            entity: BUSINESS
            type: EMPL
            number: 91330100799655058B
        method:
          country: CN
          method: MERCHANTID
          type: Ownership
    Internal-Server-Error-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: Request was not processed
          code: CC00004
    Upi-In-Final-UPI-ID-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: hailey21@okbank
          proxy_type: SHID
          resolved_name: Simon
          upi_id: urik@okaxil
        method:
          method: UPI
          type: AER
          country: IN
          network: UPI
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
    Not-Found-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627702
        error_details:
        - issue: Resource that you are searching is not found
          action: Please use valid resource details
          code: CC00006
    In-Initial-Beneficiary-Validation-Response-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
        method:
          country: IN
          method: IMPS
          type: AER
          penny_test: PENNY
        creation_date_time: '2023-09-10T08:23:49.112Z'
        status:
          date_time: '2023-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
    IN-PAN-Final-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        creditor:
          document:
            number: WERHJ9012B
        method:
          country: IN
          method: ID
          type: TAXID
        response:
          type: HR
          data_date_time: '2023-09-10T08:23:49.112Z'
          txid:
            number_validation: MATCH
            name_validation: MATCH
            father_name_validation: MATCH
            date_of_birth_validation: MATCH
            status: E
            seeding_status: Y
        status:
          code: ACCC
          description: Completed
          date_time: '2024-09-10T08:23:49.112Z'
        creation_date_time: '2023-05-02T08:23:49.554Z'
    Pay2China-Final-Beneficiary-Validation-Negative-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667222f
        debtor:
          account: P39023128
          name: Das
          ultimate_debtor:
            name: Ethan
            account: '403653000011'
        creditor:
          id: M20220520100001
          work_phone_number: '19988886666'
          beneficial_owner:
            name: Dino
            id: '330001202219817201'
          document:
            entity: BUSINESS
            type: EMPL
            number: 91330100799655058B
        method:
          country: CN
          method: MERCHANTID
          type: Ownership
        creation_date_time: '2024-09-10T08:23:49.112Z'
        status:
          code: RJCT
          description: Rejected
          date_time: '2024-09-10T08:23:49.111Z'
        reasons:
          code: '9001'
          description: request parameter [creditor.beneficial_owner_id] format error
        response:
          data_date_time: '2023-09-10T08:23:49.112Z'
          mxid:
            number_validation: MISMATCH
    In-Final-Beneficiary-Validation-Response-Non-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
        creditor:
          account: '927393908'
          name: Mathew
          resolved_name: Simon
        method:
          method: IMPS
          type: AER
          country: IN
          network: IMPS
          penny_test: NONPENNY
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
    UK-Final-Beneficiary-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667656f
        creditor:
          account: '927393445'
        method:
          country: GB
          method: BANKACCOUNT
          type: Ownership
        response:
          type: HR
          data_date_time: '2023-09-10T08:23:49.112Z'
          validation_risk_score: HIGH
          account:
            number_validation: MATCH
            name_validation: MATCH
        status:
          code: ACCC
          description: Completed
          date_time: '2024-09-10T08:23:49.112Z'
        creation_date_time: '2023-05-02T08:23:49.554Z'
    IN-PAN-Initial-Validation-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          name: Leo
          father_name: Moss
          birth_date: '1950-09-26'
          document:
            type: TXID
            number: WERHJ9012B
        method:
          country: IN
          method: ID
          type: TAXID
        status:
          date_time: '2024-01-10T08:59:10.489Z'
          code: ACTC
          description: Accepted
        creation_date_time: '2023-05-02T08:23:49.554Z'
    In-Beneficiary-Validation-Request-Penny:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
        method:
          country: IN
          method: IMPS
          type: AER
          penny_test: PENNY
    Pay2China-Final-Beneficiary-Validation-Positive-Response:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667222f
        debtor:
          account: P39023128
          name: Das
          ultimate_debtor:
            name: Ethan
            account: '403653000011'
        creditor:
          id: M20220520100001
          work_phone_number: '19988886666'
          beneficial_owner:
            name: Dino
            id: '330001202219817201'
          document:
            entity: BUSINESS
            type: EMPL
            number: 91330100799655058B
        method:
          country: CN
          method: MERCHANTID
          type: Ownership
        creation_date_time: '2024-09-10T08:23:49.111Z'
        status:
          code: ACCC
          description: Completed
          date_time: '2024-09-10T08:23:49.112Z'
        response:
          data_date_time: '2023-09-10T08:23:49.112Z'
          mxid:
            number_validation: MATCH
    Upi-In-Final-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          proxy_id: lbem0028@citibank
        creditor:
          proxy_id: lbem0028@citibank
          name: Mathew
          resolved_name: Simon
        method:
          method: UPI
          type: AER
          country: IN
          network: UPI
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
    Upi-In-Final-Mobile-Number-Beneficiary-Validation-Penny-Testing-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: '9809056489'
          proxy_type: MBNO
          resolved_name: Simon
          upi_id: urik@okaxil
        method:
          method: UPI
          type: AER
          country: IN
          network: UPI
          instructed_currency: INR
        transaction:
          purpose: SALA
          type: debit
          value_date: '2024-02-23'
          instructed_amount: '1'
          unstructured_remittance_info:
          - Penny Testing for <End_to_End_ID>
          batch_id: '1234'
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
    US-EWS-Beneficiary-Validation-Request:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          account: '927393445'
          name: Leo
          bank_id: FGHJ09890
          address_lines:
          - ABCD#WERT
          street_name: 1515 3rd Street
          building_number: A1234
          postal_code: '94158'
          city: San Francisco
          state: CA
          country: US
          birth_date: '1950-09-26'
          home_phone_number: +92-80808009
          document:
            entity: PERSONAL
            type: CCPT
            number: M7891234
            state: Dublin
        method:
          country: US
          method: BANKACCOUNT
          type: Ownership
    Upi-In-Mobile-Number-Beneficiary-Validation-Request:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: '9809056489'
          proxy_type: MBNO
        method:
          country: IN
          method: UPI
          type: AER
    IN-PAN-Validation-Request:
      value:
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393890'
          name: Hopkin
        creditor:
          name: Leo
          father_name: Moss
          birth_date: '1950-09-26'
          document:
            type: TXID
            number: WERHJ9012B
        method:
          country: IN
          method: ID
          type: TAXID
    Upi-In-Beneficiary-Validation-Request:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: lbem0028@citibank
        method:
          country: IN
          method: UPI
          type: AER
    Duplicate-Payment-Conflict-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: duplicate request. same request is being processed in another request
          action: please do not repeat the same request again
          code: VC00017
    Upi-In-Final-Mobile-Number-Beneficiary-Validation-Response:
      value:
        end_to_end_id: r/434SKtUcd01
        uetr: 921a9445-97df-4118-9a55-68d14667624c
        debtor:
          account: '927393038'
          name: John
          proxy_id: lbem0028@citibank
        creditor:
          account: '927393908'
          name: Mathew
          bank_id: FGHJ0985026
          proxy_id: '9809056489'
          proxy_type: MBNO
          resolved_name: Simon
          upi_id: urik@okaxil
        method:
          method: UPI
          type: AER
          country: IN
          network: UPI
        creation_date_time: '2023-09-11T08:23:49.112Z'
        local_reference: 7634an78543
        network_id: '209323283934'
        status:
          date_time: '2023-01-10T08:59:12.489Z'
          code: ACCC
          description: Completed
  schemas:
    Initial-Beneficiary-Validation-Response:
      xml:
        name: InitialBeneficiaryValidationResponse
      type: object
      title: InitialBeneficiaryValidationResponse
      properties:
        end_to_end_id:
          xml:
            name: EndToEndId
          type: string
          description: "Client provided reference number. \n - For India IMPS and UPI, this field is mandatory and max length is 16 \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n- For Pay2China, this field is not applicable"
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        uetr:
          xml:
            name: Uetr
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        debtor:
          xml:
            name: Debtor
          type: object
          title: debtor
          properties:
            account:
              xml:
                name: Account
              type: string
              description: "Bank account held with CITI \n - For India IMPS and UPI , this field is mandatory and max length is 34 \n - For US EWS, this field is mandatory and max length is 40 \n - For UK, this field is mandatory and max length is 40 \n - For IN PAN, this field is mandatory and max length is 40 \n - For Pay2China, this field is mandatory and max length is 40"
              minLength: 1
              maxLength: 40
              title: account
            name:
              xml:
                name: Name
              type: string
              description: "Debtor Account Name.\n - For India IMPS and UPI ,this field is mandatory and max length is 99 \n - For US EWS,this field is optional and max length is 140 \n - For UK,this field is optional and max length is 140 \n - For IN PAN,this field is optional and max length is 140 \n - For Pay2China, this field is optional and max length is 140"
              minLength: 1
              maxLength: 140
              title: name
            proxy_id:
              xml:
                name: ProxyId
              type: string
              description: "Remitter Proxy ID.\n - For India,this field is mandatory for UPI only and max length is 255 \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is not applicable"
              minLength: 1
              maxLength: 255
              title: proxy_id
            ultimate_debtor:
              xml:
                name: UltimateDebtor
              type: object
              title: ultimate_debtor
              properties:
                name:
                  xml:
                    name: Name
                  type: string
                  description: "Ultimate debtor name. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For Pay2China, this field is optional and the max length is 140"
                  minLength: 1
                  maxLength: 140
                  title: ultimate_debtor_name
                account:
                  xml:
                    name: Account
                  type: string
                  description: "Beneficiary Owner Id/Legal Rep id. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is mandatory and the max length is 35"
                  minLength: 1
                  maxLength: 35
                  title: ultimate_debtor_account
          required:
          - account
        creditor:
          xml:
            name: Creditor
          type: object
          title: creditor
          properties:
            id:
              xml:
                name: Id
              type: string
              description: "Creditor Id. \n - For IMPS India,this field is not applicable \n - For UPI India, this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable. \n - For Pay2China, this field is merchant ID. It is mandatory and the max length is 32"
              minLength: 1
              maxLength: 35
              title: id
            account:
              xml:
                name: Account
              type: string
              description: "Creditor Account Number. \n - For IMPS India,this field is mandatory and max length is 34 \n - For UPI India, this field is optional and length should be 34 \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is optional and max length is 32"
              minLength: 1
              maxLength: 40
              title: account
            name:
              xml:
                name: Name
              type: string
              description: "Creditor Account Name.\n - For India IMPS and UPI,this field is optional and max length is 99 \n - For US EWS,this field is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces \n - For UK,this field is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces \n - For IN PAN,this field is mandatory and max length is 85. Please provide first middle(if any) last name in this sequence with spaces \n - For Pay2China, this field is merchant name. It is a conditional field. It is mandatory for first time onboarding and max length is 128"
              minLength: 1
              maxLength: 140
              title: name
            father_name:
              xml:
                name: FatherName
              type: string
              description: "Creditor' Father's Name.\n - For India IMPS and UPI,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is optional and max length is 75. Please provide first middle(if any) last name in this sequence with spaces \n - For Pay2China,this field is not applicable"
              minLength: 1
              maxLength: 140
              title: father_name
            bank_id:
              xml:
                name: BankId
              type: string
              description: "Receiving Financial Institution BIC.\n - For IMPS India,this field is mandatory and length should be 11 \n - For UPI India,this field is optional and length should be 11 \n - For US EWS,this field is mandatory and length should be 9 if routing/clearing code is populated \n - For UK,this field is mandatory and length should be 8 or 11 character if bic (including branch code) is sent \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is optional and max length is 64"
              minLength: 1
              maxLength: 35
              title: bank_id
            bank_name:
              xml:
                name: BankName
              type: string
              description: "Receiving Financial Institution Name. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this is an optional field and max length is 128"
              minLength: 1
              maxLength: 140
              title: bank_name
            proxy_id:
              xml:
                name: ProxyId
              type: string
              description: "Creditor Proxy ID \n - For India,this field is mandatory for UPI only and max length is 255 (UPI ID or Mobile number can be passed).If mobile number is passed it should be greater than or equal to 6 and less than or equal to 16 \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client\n - For IN PAN,this field is not applicable  \n - For IN Pay2China,this field is not applicable"
              minLength: 1
              maxLength: 255
              title: proxy_id
            proxy_type:
              xml:
                name: ProxyType
              type: string
              description: "Creditor Proxy type \n - For India,this field is optional for UPI only if mobile number needs to be passed in creditor.proxy_id  \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n- MBNO - Mobile Number  \n- SHID - Scheme identification number (eg. VPA ID) \n - For IN Pay2China,this field is not applicable "
              enum:
              - MBNO
              - SHID
              title: proxy_type
            wallet:
              xml:
                name: Wallet
              type: string
              description: "Creditor wallet details \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For IN PAN,this field is not applicable  \n - For IN Pay2China,this field is not applicable"
              minLength: 1
              maxLength: 40
              title: wallet
            IBAN:
              xml:
                name: Iban
              type: string
              description: "Creditor IBAN number \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 34.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For IN PAN,this field is not applicable  \n - For IN Pay2China,this field is not applicable"
              minLength: 1
              maxLength: 40
              title: IBAN
            address_lines:
              xml:
                name: AddressLines
              type: array
              description: "Creditor's address lines \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional and allowed 2 lines with each line max length of 40 \n - For UK, this field is optional and allowed 2 lines with each line max length of 40 \n - For IN PAN,this field is not applicable  \n - For IN Pay2China,this field is not applicable"
              items:
                $ref: '#/components/schemas/Address'
              title: address_lines
            street_name:
              xml:
                name: StreetName
              maxLength: 70
              minLength: 1
              type: string
              description: "Creditor's street_name \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 70 \n - For UK, this field is optional with max length 70 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              title: street_name
            building_number:
              xml:
                name: BuildingNumber
              maxLength: 16
              minLength: 1
              type: string
              description: "Creditor's building_number \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 16 \n - For UK, this field is optional with max length 16 \n - For IN PAN,this field is not applicable  \n - For IN Pay2China,this field is not applicable"
              title: building_number
            postal_code:
              xml:
                name: PostalCode
              maxLength: 16
              minLength: 1
              type: string
              description: "Creditor's postal_code \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 10 \n - For UK, this field is optional with max length 16 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              title: postal_code
            city:
              xml:
                name: City
              maxLength: 35
              minLength: 1
              type: string
              description: "Creditor's city \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 25 \n - For UK, this field is optional with max length 35 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              title: city
            state:
              xml:
                name: State
              maxLength: 35
              minLength: 1
              type: string
              description: "Creditor's state \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 25 \n - For UK, this field is optional with max length 35 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              title: state
            country:
              xml:
                name: Country
              type: string
              description: "Creditor's country \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 2 \n - For UK, this field is optional with max length 2 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              pattern: ^[A-Z]{2,2}$
              title: country
            birth_date:
              xml:
                name: BirthDate
              type: string
              format: date
              description: "ISO 8601 (YYYY-MM-DD), Creditor's birth date \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional \n - For UK, this field is optional \n - For IN PAN,this field is mandatory \n - For IN Pay2China,this field is not applicable"
              title: birth_date
            home_phone_number:
              xml:
                name: HomePhoneNumber
              maxLength: 34
              minLength: 6
              type: string
              description: "Creditor's home phone number \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 10 \n - For UK, this field is optional with max length 34 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
              title: home_phone_number
            work_phone_number:
              xml:
                name: WorkPhoneNumber
              maxLength: 34
              minLength: 6
              type: string
              description: "Creditor's work phone number \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 10 \n - For UK, this field is optional with max length 34 \n - For IN PAN,this field is not applicable \n - For Pay2China, this is a conditional field. It is mandatory for first time onboarding and max length is 32"
              title: work_phone_number
            beneficial_owner:
              xml:
                name: BeneficialOwner
              type: object
              title: beneficial_owner
              properties:
                name:
                  xml:
                    name: Name
                  type: string
                  description: "Beneficiary Owner Name/Legal Rep name. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For Pay2China, this is a conditional field. If the document.entity is business, this field should present for first time onboarding. If document.entity is Personal, this fields is not application and the max length is 32"
                  minLength: 1
                  maxLength: 140
                  title: owner_name
                id:
                  xml:
                    name: Id
                  type: string
                  description: "Beneficiary Owner Id/Legal Rep id. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this is a conditional field. If the document.entity is business, this filed should present for first time onboarding. If document.entity is Personal, this fields is not application and max length is 32"
                  minLength: 1
                  maxLength: 35
                  title: owner_id
            document:
              xml:
                name: Document
              type: object
              title: document
              properties:
                entity:
                  xml:
                    name: Entity
                  type: string
                  description: "Whether the document belongs to Business or Individual \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n- For US EWS,this field is optional \n- For UK,this field is optional \n - For IN PAN,this field is not applicable \n - For Pay2China, this is a Mandatory field."
                  enum:
                  - BUSINESS
                  - PERSONAL
                  title: entity
                type:
                  xml:
                    name: Type
                  type: string
                  description: "Whether the document belongs to Business or Individual \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n- For US EWS,this field is optional \n- For UK,this field is optional \n - For IN PAN,this field is mandatory with applicable value  TXID  \n - For Pay2China, this field is conditional. It is mandatory for first time onboarding. If the document.entity is Business, this filed value should be EMPL. If document.entity is Personal, this fields value should be NIDN \n- Personal Code values \n- ARNU  AlienRegistrationNumber \n- CCPT PassportNumber \n- CUST CustomerIdentificationNumber \n- DRLC  DriversLicenseNumber \n- EMPL EmployeeIdentificationNumber \n- NIDN  NationalIdentityNumber \n- SOSE SocialSecurityNumber \n- TELE  TelephoneNumber \n- TXID TaxIdentificationNumber \n- POID PersonCommercialIdentification \n - Corporate Code values \n- BANK BankPartyIdentification \n- CBID  Central Bank Identification Number \n- CHID Clearing Identification Number \n- COID CountryIdentificationCode \n- CUST CustomerNumber \n- DUNS Data Universal Numbering System \n- EMPL  EmployerIdentificationNumber \n- GS1G  GS1GLNIdentifier \n- SREN  SIREN \n- SRET SIRET \n- TXID  Tax Identification Number"
                  enum:
                  - ARNU
                  - CCPT
                  - CUST
                  - DRLC
                  - EMPL
                  - NIDN
                  - SOSE
                  - TELE
                  - TXID
                  - POID
                  - BANK
                  - CBID
                  - CHID
                  - COID
                  - DUNS
                  - GS1G
                  - SREN
                  - SRET
                  title: type
                number:
                  xml:
                    name: Number
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: "Creditor's document number \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 28 \n - For UK, this field is optional with max length 35 \n - For IN PAN,this field is mandatory with max length 10\n - For Pay2China, this field is conditional. It is mandatory for first time onboarding and max length is 20"
                  title: number
                state:
                  xml:
                    name: State
                  maxLength: 35
                  minLength: 1
                  type: string
                  description: "Creditor's document state \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS, this field is optional with max length 6 \n - For UK, this field is optional with max length 35 \n - For IN PAN,this field is not applicable \n - For IN Pay2China,this field is not applicable"
                  title: state
        method:
          xml:
            name: Method
          type: object
          title: method
          properties:
            country:
              xml:
                name: Country
              type: string
              description: ISO 3166 Alpha-2 code for the transaction country
              enum:
              - IN
              - US
              - GB
              - CN
              title: country
            method:
              xml:
                name: Method
              type: string
              description: Method specified by the debtor for the validation
              enum:
              - IMPS
              - UPI
              - BANKACCOUNT
              - IBAN
              - CARD
              - PAYMENTID
              - ID
              - MERCHANTID
              title: method
            type:
              xml:
                name: Type
              type: string
              description: "Message type (e.g., CT for credit transfer,AER for Account Enquiry Request) \n - For India,this field is mandatory and allowed value is AER \n - For US EWS,this field is mandatory \n- For UK,this field is mandatory \n- Ownership - Account ownership is limited to validation of correct owner , hence the account number or equivalent ( i.e Virtual account) and Name \n- Attributes- Attributes define the properties of the object , for an account the properties should include Status , type of account, status of account , the address of the account  etc. \n- Structure - Structure refers to the mod 97 and the length as per the country of IBAN \n- TAXID-  Validation of individual or corporate tax id/tax documentation \n - For Pay2China, this field is mandatory with the value Ownership"
              enum:
              - AER
              - Structure
              - Ownership
              - Attributes
              - TAXID
              title: type
            penny_test:
              xml:
                name: PennyTest
              type: string
              description: "This field enables selection of penny,non-penny or both validations \n- Applicable for IN IMPS"
              enum:
              - NONPENNY
              - PENNY
              - BOTH
              title: penny_test
          required:
          - country
          - method
          - type
        creation_date_time:
          xml:
            name: CreationDateTime
          type: string
          format: date-time
          description: Request Creation Date and Time in UTC generated by CitiConnect API UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ)
          title: creation_date_time
        status:
          xml:
            name: Status
          type: object
          title: status
          properties:
            date_time:
              xml:
                name: DateTime
              type: string
              format: date-time
              description: "UTC (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) \n- Date time of transaction status"
              title: date_time
            code:
              xml:
                name: Code
              type: string
              description: ISO 20022 acknowledegment status code
              enum:
              - ACTC
              title: code
            description:
              xml:
                name: Description
              type: string
              description: "Status code description \n- ACTC - Accepted"
              title: description
          required:
          - code
          - description
          - date_time
    Error-Response:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
          xml:
            name: Errordetails
    Beneficiary-Validation-Request:
      xml:
        name: BeneficiaryValidationRequest
      type: object
      title: BeneficiaryValidationRequest
      required:
      - debtor
      - method
      properties:
        end_to_end_id:
          xml:
            name: EndToEndId
          type: string
          description: "Client provided reference number. \n - For India IMPS and UPI, this field is mandatory and max length is 16 \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is not required"
          minLength: 1
          maxLength: 35
          title: end_to_end_id
        uetr:
          xml:
            name: Uetr
          type: string
          pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        debtor:
          xml:
            name: Debtor
          type: object
          title: debtor
          properties:
            account:
              xml:
                name: Account
              type: string
              description: "Bank account held with CITI \n - For India IMPS and UPI , this field is mandatory and max length is 34 \n - For US EWS, this field is mandatory and max length is 40 \n - For UK, this field is mandatory and max length is 40 \n - For IN PAN, this field is mandatory and max length is 40 \n - For Pay2China, this field is mandatory and max length is 40"
              minLength: 1
              maxLength: 40
              title: account
            name:
              xml:
                name: Name
              type: string
              description: "Debtor Account Name.\n - For India IMPS and UPI ,this field is mandatory and max length is 99 \n - For US EWS,this field is optional and max length is 140 \n - For UK,this field is optional and max length is 140 \n - For IN PAN,this field is optional and max length is 140 \n - For Pay2China - this field is optional and max length is 140"
              minLength: 1
              maxLength: 140
              title: name
            proxy_id:
              xml:
                name: ProxyId
              type: string
              description: "Remitter Proxy ID.\n - For India,this field is mandatory for UPI only and max length is 255 \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is not required"
              minLength: 1
              maxLength: 255
              title: proxy_id
            ultimate_debtor:
              xml:
                name: UltimateDebtor
              type: object
              title: ultimate_debtor
              properties:
                name:
                  xml:
                    name: Name
                  type: string
                  description: "Ultimate debtor name. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For Pay2China, this field is optional and the max length is 140"
                  minLength: 1
                  maxLength: 140
                  title: ultimate_debtor_name
                account:
                  xml:
                    name: Account
                  type: string
                  description: "Beneficiary Owner Id/Legal Rep id. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is mandatory and the max length is 35"
                  minLength: 1
                  maxLength: 35
                  title: ultimate_debtor_account
          required:
          - account
        creditor:
          xml:
            name: Creditor
          type: object
          title: creditor
          properties:
            id:
              xml:
                name: Id
              type: string
              description: "Creditor Id. \n - For IMPS India,this field is not applicable \n - For UPI India, this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable. \n - For Pay2China, this field is merchant ID. It is mandatory and the max length is 32"
              minLength: 1
              maxLength: 35
              title: id
            account:
              xml:
                name: Account
              type: string
              description: "Creditor Account Number. \n - For IMPS India,this field is mandatory and max length is 34 \n - For UPI India, this field is optional and length should be 34 \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is optional and max length is 32"
              minLength: 1
              maxLength: 40
              title: account
            name:
              xml:
                name: Name
              type: string
              description: "Creditor Account Name.\n - For India IMPS and UPI,this field is optional and max length is 99 \n - For US EWS,this field is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces \n - For UK,this field is mandatory and max length is 87. Please provide first middle(if any) last name in this sequence with spaces \n - For IN PAN,this field is mandatory and max length is 85. Please provide first middle(if any) last name in this sequence with spaces \n - For Pay2China, this field is merchant name. It is a conditional field. It is mandatory for first time onboarding and max length is 128"
              minLength: 1
              maxLength: 140
              title: name
            father_name:
              xml:
                name: FatherName
              type: string
              description: "Creditor' Father's Name.\n - For India IMPS and UPI,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is optional and max length is 75. Please provide first middle(if any) last name in this sequence with spaces \n - For Pay2China, this field is not required"
              minLength: 1
              maxLength: 140
              title: father_name
            bank_id:
              xml:
                name: BankId
              type: string
              description: "Receiving Financial Institution BIC.\n - For IMPS India,this field is mandatory and length should be 11 \n - For UPI India,this field is optional and length should be 11 \n - For US EWS,this field is mandatory and length should be 9 if routing/clearing code is populated \n - For UK,this field is mandatory and length should be 8 or 11 character if bic (including branch code) is sent \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is optional and max length is 64"
              minLength: 1
              maxLength: 35
              title: bank_id
            bank_name:
              xml:
                name: BankName
              type: string
              description: "Receiving Financial Institution Name. \n - For IMPS India,this field is not applicable \n - For UPI India,this field is not applicable \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n - For Pay2China, this is an optional field and  max length is 128"
              minLength: 1
              maxLength: 140
              title: bank_name
            proxy_id:
              xml:
                name: ProxyId
              type: string
              description: "Creditor Proxy ID \n - For India,this field is mandatory for UPI only and max length is 255 (UPI ID or Mobile number can be passed).If mobile number is passed it should be greater than or equal to 6 and less than or equal to 16 \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client\n - For IN PAN,this field is not applicable \n - For Pay2China, this field is not required"
              minLength: 1
              maxLength: 255
              title: proxy_id
            proxy_type:
              xml:
                name: ProxyType
              type: string
              description: "Creditor Proxy type \n - For India,this field is optional for UPI only if mobile number needs to be passed in creditor.proxy_id  \n - For US EWS,this field is not applicable \n - For UK,this field is not applicable \n - For IN PAN,this field is not applicable \n- MBNO - Mobile Number \n- SHID - Scheme identification number (eg. VPA ID) \n - For Pay2China, this field is not required "
              enum:
              - MBNO
              - SHID
              title: proxy_type
            wallet:
              xml:
                name: Wallet
              type: string
              description: "Creditor wallet details \n - For India IMPS,this field is not applicable \n - For India UPI,this field is not applicable \n - For US EWS,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For UK,this field is conditional and max length is 17.Either creditor.account or creditor.proxy_id or creditor.wallet or creditor.IBAN should be passed by client \n - For IN PAN,this field is not applicable \n - For Pay2China, this field is not required"
              minLength: 1
              maxLength: 40
              title: wallet
[...]
