openapi: 3.2.0
info:
  title: Citi Vca API
  x-refined-note:
  - x-ibm-name differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Vca across 5 of this provider''s published API definitions: citi-id-provisioning-openapi.yaml, citi-purchase-openapi.yaml, citi-virtual-cards-notifications-openapi.yaml, citi-virtual-cards-pi-openapi.yaml, citi-virtual-cards-reporting-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://tts.apib2b.citi.com/tts/cards/
  description: production gateway URL
- url: https://tts.sandbox.apib2b.citi.com/tts/cards/
  description: sandbox URL
- url: https://tts.apib2b.citi.com/tts/cards
  description: production gateway URL
- url: https://tts.sandbox.apib2b.citi.com/tts/cards
  description: sandbox URL
- url: https://grace-engine-service-uat-icg-tts-grace-173707.namicgswd12u.nam.nsroot.net/tts/cards
  description: production gateway URL
- url: https://tts.apib2b.citi.com/tts/cards/pi/
  description: production gateway URL
- url: https://tts.sandbox.apib2b.citi.com/tts/cards/pi/
  description: sandbox URL
tags:
- name: Vca
paths:
  /vca/programdtls/v1/idprov:
    post:
      tags:
      - Vca
      summary: ID Provisioning
      description: ''
      operationId: generateAuthReport_2
      parameters:
      - name: Content-Type
        in: header
        description: Supports application/json
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: Three-character length country code used during onboarding into Citi.
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: This value will be used by APIm to route to the respective Citi backend instance.
        required: true
        schema:
          type: string
      requestBody:
        description: GenerateIdProvisioningRequest
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdProvRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdProvResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowedResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechIssueResponse'
      security:
      - clientCredentials: []
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards/
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards/
      description: sandbox URL
  /vca/v1/purchasetemplate/details:
    post:
      tags:
      - Vca
      summary: Purchase Template Details
      description: ''
      operationId: getPurchaseTemplateDetails
      parameters:
      - name: Content-Type
        in: header
        description: Supports application/json
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: sample
        required: true
        schema:
          type: string
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Country
        in: header
        description: sample
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: sample
        required: true
        schema:
          type: string
      - name: Req-Sys-Id
        in: header
        description: sample
        required: true
        schema:
          type: string
      responses:
        '200':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>PurchaseTemplateInboundSuccessResponse</td><td></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseTemplateInboundSuccessResponse'
        '206':
          description: <table><tr><td>PurchaseTemplateInboundPartialResponse</td><td></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseTemplateInboundPartialResponse'
        '400':
          description: '<table><tr><td>ResponseCodes400</td><td><table><tr><th>Error Code</th><th>Error Description</th></tr>

            <tr><td>ERS0060</td><td>Client ID and/or Program Id is missing in Client Onboard Configuration setup. Contact Citi support.</td></tr>

            <tr><td>MS0007</td><td>There was a problem retrieving the purchase template details for Purchase Template ID: {templateId}</td></tr>

            <tr><td>GRC0002</td><td>Client ID is missing in the request header</td></tr>

            <tr><td>GRC0003</td><td>Invalid JSON Input</td></tr>

            <tr><td>GRC0004</td><td>Region ID is not available in the request</td></tr>

            <tr><td>GRC0005</td><td>Client Tracking ID is missing in the request header</td></tr>

            <tr><td>GRC0010</td><td>Client Tracking ID length should contain a min of 1 character and a max of 36 characters</td></tr>

            <tr><td>GRC0011</td><td>Client ID and/or Country and/or region id is missing in Client Onboard Configuration setup. Contact Citi support.</td></tr>

            <tr><td>GRC0012</td><td>Necessary header value is missing</td></tr>

            <tr><td>GRC0016</td><td>Country code is not available in the request</td></tr>

            <tr><td>ERS0064</td><td>No ID Provisioning data was found for the given Program Name: {programName}</td></tr>

            <tr><td>ERS0065</td><td>The required Program Name Field was empty</td></tr>

            <tr><td>ERS0073</td><td>Size of the programName exceeds max length</td></tr>

            <tr><td>ERS0074</td><td>Size of the templateId exceeds max length</td></tr>

            <tr><td>ERS0075</td><td>templateId should be a valid long value</td></tr></table></td></tr></table>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCodes400'
        '500':
          description: '<table><tr><td>ResponseCode500</td><td><table><tr><th>Error Code</th><th>Error Description</th></tr>

            <tr><td>GRC0001</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments</td></tr><tr><td>GRC0014</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments</td></tr>

            <tr><td>MS0003</td><td>There was a problem retrieving the funding source data for Program Name: {programName}</td></tr>

            <tr><td>MS0004</td><td>There was a problem retrieving ID provisioning data for Program Name: {programName}</td></tr>

            <tr><td>MS0006</td><td> There was a problem retrieving the purchase template list for Program Name: {programName}</td></tr></table></td></tr></table>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCode500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseTemplateInboundRequest'
        description: PurchaseTemplateInboundRequest
        required: true
      security:
      - clientCredentials: []
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards
      description: sandbox URL
  /vca/v1/authorizations/subscriptions:
    post:
      summary: Create Subscription
      description: Create a notification subscription for a Virtual Card program.
      operationId: createSubscription
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: region of the client(Apac/EMEA/NAM)
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: country of the Client
        required: true
        schema:
          type: string
      - name: Req-Sys-Id
        in: header
        description: Client Tracking ID
        required: true
        schema:
          type: string
      responses:
        '201':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>SubscriptionResponse</td><td>Created</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          description: <table><tr><td>Error-400</td><td>Bad Request</td></tr><tr><td>SubscriptionFailureResponse</td><td>Bad Request</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionFailureResponse'
        '500':
          description: <table><tr><td>Error-403</td><td>Internal Server Error</td></tr><tr><td>Error-401</td><td>Internal Server Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d401'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
        description: SubscriptionRequest
        required: true
      tags:
      - Vca
      security:
      - clientCredentials: []
    servers:
    - url: https://grace-engine-service-uat-icg-tts-grace-173707.namicgswd12u.nam.nsroot.net/tts/cards
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards
      description: sandbox URL
  /vca/v1/authorizations/subscriptions/{subscriptionId}:
    get:
      summary: Retrieve Subscription
      description: Retrieve the details that were set on the subscription.
      operationId: getSubscription
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Subscription ID
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: region of the client(Apac/EMEA/NAM)
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: country of the Client
        required: true
        schema:
          type: string
      - name: Req-Sys-Id
        in: header
        description: Client Tracking ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>SubscriptionResponse</td><td>OK</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '404':
          description: <table><tr><td>Error-404</td><td>Bad Request</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d404'
        '500':
          description: <table><tr><td>Error-403</td><td>Internal Server Error</td></tr><tr><td>Error-401</td><td>Internal Server Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d401'
      tags:
      - Vca
      security:
      - clientCredentials: []
    put:
      summary: Update an Existing Subscription
      description: Update an existing Virtual Cards notification subscription.
      operationId: updateSubscription
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports application/json.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Subscription ID
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: region of the client(Apac/EMEA/NAM)
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: country of the Client
        required: true
        schema:
          type: string
      - name: Req-Sys-Id
        in: header
        description: Client Tracking ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>SubscriptionResponse</td><td>OK</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          description: <table><tr><td>SubscriptionFailureResponse</td><td>Bad Request</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionFailureResponse'
        '404':
          description: <table><tr><td>Error-404</td><td></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d404'
        '500':
          description: <table><tr><td>Error-403</td><td>Internal Server Error</td></tr><tr><td>Error-401</td><td>Internal Server Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d401'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
        description: SubscriptionRequest
        required: true
      tags:
      - Vca
      security:
      - clientCredentials: []
    delete:
      summary: Delete Subscription
      description: Delete a Virtual Cards Notification subscription.
      operationId: deleteSubscription
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for oauth token generation
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Subscription ID
        required: true
        schema:
          type: string
      - name: Region
        in: header
        description: region of the client(Apac/EMEA/NAM)
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: country of the Client
        required: true
        schema:
          type: string
      - name: Req-Sys-Id
        in: header
        description: Client Tracking ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td></td><td>DELETED</td></tr></table>
        '404':
          description: <table><tr><td>Error-404</td><td>Not Found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d404'
        '500':
          description: <table><tr><td>Error-403</td><td>Internal Server Error</td></tr><tr><td>Error-401</td><td>Internal Server Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error%2d401'
      tags:
      - Vca
      security:
      - clientCredentials: []
    servers:
    - url: https://grace-engine-service-uat-icg-tts-grace-173707.namicgswd12u.nam.nsroot.net/tts/cards
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards
      description: sandbox URL
  /vca/v1/create:
    post:
      summary: Create Virtual Card Accounts
      operationId: create
      description: Create a virtual card and set its associated spending controls, custom reference data and payment beneficiaries.
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for OAuth token generation
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and a space in between.
        required: true
        schema:
          type: string
      - name: country
        in: header
        description: Country of the client.
        required: true
        schema:
          type: string
      - name: region
        in: header
        description: region of the client(APAC/EMEA/NAM)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Create virtual card acknowledgement response
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              example: 0123456789012345678901234567
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImmediateAckResponse'
        '400':
          description: Invalid virtual card request
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVirtualCardFailureResponse'
        '401':
          description: Unauthorized Modify Virtual Card request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '405':
          description: Method Not Allowed
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVirtualCardFailureResponse'
        '500':
          description: Internal Server Error
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVirtualCardFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualCardRequest'
        required: true
      tags:
      - Vca
      security:
      - clientCredentials: []
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards/pi/
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards/pi/
      description: sandbox URL
  /vca/v1/modify:
    post:
      summary: Modify Virtual Card Accounts
      operationId: update
      description: Modify a virtual card and set its associated spending controls, custom reference data, and payment beneficiaries.
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for OAuth token generation
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and a space in between.
        required: true
        schema:
          type: string
      - name: country
        in: header
        description: Country of the client.
        required: true
        schema:
          type: string
      - name: region
        in: header
        description: region of the client(APAC/EMEA/NAM)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Modify Virtual Card response
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyVirtualCardResponse'
        '400':
          description: Invalid Modify Virtual Card request
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyVirtualCardFailureResponse'
        '401':
          description: Unauthorized Modify Virtual Card request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '405':
          description: Method Not Allowed
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyVirtualCardFailureResponse'
        '500':
          description: Internal Server Error
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyVirtualCardFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyVirtualCardRequest'
        required: true
      tags:
      - Vca
      security:
      - clientCredentials: []
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards/pi/
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards/pi/
      description: sandbox URL
  /vca/v1/cancel:
    post:
      summary: Cancel Virtual Card Accounts
      operationId: cancel
      description: Cancel a virtual card when it is no longer needed.
      parameters:
      - name: client_id
        in: query
        required: true
        description: This is your unique identifier shared during your CitiConnect API onboarding. This is the same `client_id` used for OAuth token generation
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and a space in between.
        required: true
        schema:
          type: string
      - name: country
        in: header
        description: Country of the client.
        required: true
        schema:
          type: string
      - name: region
        in: header
        description: region of the client(APAC/EMEA/NAM)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cancel Virtual Card response
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelVirtualCardResponse'
        '400':
          description: Invalid Cancel Virtual Card request
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelVirtualCardFailureResponse'
        '401':
          description: Unauthorized Virtual Card request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '405':
          description: Method Not Allowed
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelVirtualCardFailureResponse'
        '500':
          description: Internal Server Error
          headers:
            api-transactionId:
              description: Citi commercial cards API tracking ID.
              schema:
                type: string
            messageId:
              description: Unique ID of the API message sent. The messageId will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelVirtualCardFailureResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelVirtualCardRequest'
        required: true
      tags:
      - Vca
      security:
      - clientCredentials: []
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards/pi/
      description: production gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards/pi/
      description: sandbox URL
  /vca/v2/reports/authorization:
    post:
      summary: Obtain Authorized Transaction Details
      description: Obtain authorized transaction details on a VCA for reporting & payment reconciliation
      operationId: Authorization Report
      parameters:
      - name: Content-Type
        in: header
        description: Supports application/json
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Oauth token included by the external client to APIm. APIm will external the client ID and pass it to GRACE
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: Three character length country code used during onboarding into GRACE
        schema:
          type: string
        required: true
      - name: Region
        in: header
        description: This value will be used by APIm to route to the respective GRACE backend instance
        schema:
          type: string
        required: true
      - name: Req-Sys-Id
        in: header
        description: Unique ID of the API message sent. This ID will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
        schema:
          type: string
        required: false
      requestBody:
        description: AuthReportInboundRequest
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthReportInboundRequest'
            examples:
              Mastercard-Request-Required-Fields:
                summary: Mastercard Sample Request with Required Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195320
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
              Visa-Request-Required-Fields:
                summary: Visa Sample Request with Required Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195321
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
              Mastercard-Request-All-Fields:
                summary: Mastercard Sample Request with All Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195322
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: 00:00
                  endTime: '23:00'
                  timeZone: UTC-04:00
                  transactionType: All
              Visa-Request-All-Fields:
                summary: Visa Sample Request with All Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195323
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: 00:00
                  endTime: '23:00'
              Mastercard-Pagination-Request:
                summary: Mastercard Sample Request with Pagination
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195324
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                  - '1234567'
                  - '2345678'
                  filters:
                    paginationRequired: 'true'
                    sortOrder: DESCENDING
                    startIndex: '101'
                    endIndex: '200'
              Visa-Pagination-Request:
                summary: Visa Sample Request with Pagination
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195325
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  filters:
                    paginationRequired: 'true'
                    startIndex: '150'
                    endIndex: '300'
              Mastercard-Retry-Request:
                summary: Mastercard Sample Retry Request for Pending/Active Status
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195326
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                  - '1234567'
      responses:
        '200':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>AuthReportInboundResponse</td><td>success</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthReportInboundResponse'
              examples:
                Mastercard-Response-All-Transaction-Type:
                  summary: Mastercard Sample Response for All Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2026-02-27'
                    endDate: '2026-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2026-02-27'
                      toDate: '2026-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2026-03-30'
                      toDate: '2026-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '122026'
                      billingCurrencyAmount: '123'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '123'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:52:11'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Refer to card issuer
                      vcaAuthorizationResponseDetail: Iss/Netwk decline
                    - expiryDate: '012026'
                      billingCurrencyAmount: '-143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '-143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:26:26'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '012026'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:24:56'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '012026'
                      billingCurrencyAmount: '141'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '141'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:23:33'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '122026'
                      billingCurrencyAmount: '0'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '0'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:34:03'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Do not honor
                      vcaAuthorizationResponseDetail: No Auth for Revl
                    - expiryDate: '122026'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:32:47'
                      transactionType: Auth Purchase Return
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '122026'
                      billingCurrencyAmount: '141'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '141'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:29:20'
                      transactionType: Auth Purchase Return
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON        MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Approved-Transaction-Type:
                  summary: Mastercard Sample Response for Approved Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Approved
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '012023'
                      billingCurrencyAmount: '-143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '-143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:26:26'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '012023'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:24:56'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '012023'
                      billingCurrencyAmount: '141'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '141'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:23:33'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '122023'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:32:47'
                      transactionType: Auth Purchase Return
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '122023'
                      billingCurrencyAmount: '141'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '141'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:29:20'
                      transactionType: Auth Purchase Return
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Declined-Transaction-Type:
                  summary: Mastercard Sample Response for Declined Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Declined
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '122021'
                      billingCurrencyAmount: '123'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '123'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:52:11'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Refer to card issuer
                      vcaAuthorizationResponseDetail: Iss/Netwk decline
                    - expiryDate: '122023'
                      billingCurrencyAmount: '0'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '0'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:34:03'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Do not honor
                      vcaAuthorizationResponseDetail: No Auth for Revl
                Mastercard-Response-Issuer-Declined-Transaction-Type:
                  summary: Mastercard Sample Response for Issuer-Declined Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Issuer-Declined
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '122021'
                      billingCurrencyAmount: '123'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '123'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:52:11'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Refer to card issuer
                      vcaAuthorizationResponseDetail: Iss/Netwk decline
                Mastercard-Response-Reversal-Response-Transaction-Type:
                  summary: Mastercard Sample Response for Reversal-Response Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Reversal-Response
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '012023'
                      billingCurrencyAmount: '-143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '-143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:26:26'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON  MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '122023'
                      billingCurrencyAmount: '0'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '0'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:34:03'
                      transactionType: Reversal
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON  MO
                      acquirerIdentifier: '999080'
                      authorizationResponseDetail: Do not honor
                      vcaAuthorizationResponseDetail: No Auth for Revl
                Mastercard-Response-Request-Response-Transaction-Type:
                  summary: Mastercard Sample Response for Request-Response Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Request-Response
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '122021'
                      billingCurrencyAmount: '123'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '123'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:52:11'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Refer to card issuer
                      vcaAuthorizationResponseDetail: Iss/Netwk decline
                    - expiryDate: '012023'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:24:56'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                    - expiryDate: '012023'
                      billingCurrencyAmount: '141'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '141'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '19:23:33'
                      transactionType: Authorization
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      transactionEnvironment: POS
                      authorizationResponseDetail: Approved or completed successfully
                      vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Purchase-Return:
                  summary: Mastercard Sample Response for Purchase-Return
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - expiryDate: '122023'
                      billingCurrencyAmount: '143'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-15
                      transactionTime: '17:32:47'
                      transactionType: Purchase Return
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5999'
                      mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                      merchantId: 00000R-5411-USA
                      merchantName: GROCERY STORES SUPERM OFALLON      MO
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: '999080'
                      terminalId: '33248931'
                      transactionEnvironment: UNKNOWN
                      vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Forced-Post:
                  summary: Mastercard Sample Response for Forced-Post
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    authorizationRecords:
                    - billingCurrencyAmount: '127.00'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '127.00'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '14:41:52'
                      transactionType: Forced Post
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: 00000999080
                      transactionEnvironment: POS
                      vcaAuthorizationResponseDetail: Approval
                    - billingCurrencyAmount: '143.00'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '143.00'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '14:37:13'
                      transactionType: Forced Post
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: 00000999080
                      transactionEnvironment: POS
                      vcaAuthorizationResponseDetail: Approval
                    - billingCurrencyAmount: '125.00'
                      billingCurrencyCode: USD
                      billingCurrencyCodeDescription: US Dollar
                      transactionCurrencyCode: USD
                      transactionCurrencyAmount: '125.00'
                      transactionCurrencyCodeDescription: US Dollar
                      transactionDate: 04-20
                      transactionTime: '14:36:25'
                      transactionType: Forced Post
                      preAuthorizationFlag: 'No'
                      addressVerificationServiceFlag: 'No'
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCountryCode: USA
                      merchantCountryName: United States (the)
                      acquirerIdentifier: 00000999080
                      transactionEnvironment: POS
                      vcaAuthorizationResponseDetail: Approval
                Mastercard-Pending-Response:
                  summary: Mastercard Sample Response for Pending Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      errorMessage: Transactions were unable to be returned for the requested data range. Please try again, or contact Citi support if you have any further questions or comments
                      errorCode: ERC0004
                      status: PENDING
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      errorMessage: Transactions were unable to be returned for the requested data range. Please try again, or contact Citi support if you have any further questions or comments
                      errorCode: ERC0004
                      status: PENDING
                Mastercard-Active-Response:
                  summary: Mastercard Sample Response for Active Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      errorMessage: Transactions were unable to be returned for the requested data range. Please try again, or contact Citi support if you have any further questions or comments
                      errorCode: ERC0004
                      status: ACTIVE
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      errorMessage: Transactions were unable to be returned for the requested data range. Please try again, or contact Citi support if you have any further questions or comments
                      errorCode: ERC0004
                      status: ACTIVE
        '400':
          description: '<table><tr><td>ErrorResponseForAuthReport</td><td><table><tr><th>Error Code</th><th>Error Description</th></tr>\n<tr><td>ERS0001</td><td>Invalid Virtual Card Account Number format</td></tr>\n<tr><td>ERS0002</td><td>Invalid Transaction Type</td></tr>\n<tr><td>ERS0003</td><td>timeZone field is empty or has an invalid UTC offset time zone format</td></tr>\n<tr><td>ERC0004</td><td>Transactions were unable to be returned for the requested data range. Please try again, or contact Citi support if you have any further questions or comments.</td></tr>\n<tr><td>ERS0007</td><td>Invalid Message ID format</td></tr>\n<tr><td>ERS0009</td><td>Client Onboard Configuration setup is missing. Contact Citi support.</td></tr>\n<tr><td>ERS0010</td><td>Invalid Report ID format. Report ID must include numeric values</td></tr>\n<tr><td>ERS0053</td><td>Start Date is Mandatory.</td></tr>\n<tr><td>ERS0054</td><td>End Date is Mandatory.</td></tr>\n<tr><td>ERS0055</td><td>Requested report date cannot exceed 180 days in the past from today''s date</td></tr>\n<tr><td>ERS0057</td><td>startDate value exceeds requested endDate value</td></tr>\n<tr><td>ERS0060</td><td>Client ID and/or Program Id is missing in Client Onboard Configuration setup. Contact Citi support.</td></tr>\n<tr><td>ERS0061</td><td>VCA ID is not present in our system</td></tr>\n<tr><td>ERS0063</td><td>Requested Time Zone is not supported</td></tr>\n<tr><td>ERS0068</td><td>Program Id is Mandatory.</td></tr>\n<tr><td>ERS0069</td><td>Vca Id is Mandatory.</td></tr>\n<tr><td>ERS0070</td><td>Message Id is Mandatory.</td></tr>\n<tr><td>ERS0071</td><td>Virtual Card Account Number is Mandatory.</td></tr>\n<tr><td>ERS0072</td><td>Requested report date cannot exceed 36 months in the past from todays date</td></tr>\n<tr><td>ERS0079</td><td>The requested report ID(s) is for a VCA that is different than the VCA included in the request. Please include the VCA associated to the report ID(s).</td></tr>\n<tr><td>ERS0080</td><td>The requested report ID(s) is for a programId that is different than the programId included in the request. Please include the programId associated to the report ID(s).</td></tr>\n<tr><td>ERS0081</td><td>The requested report ID(s) is for a timeZone that is different than the timeZone included in the request. Please include the timeZone associated to the report ID(s).</td></tr>\n<tr><td>ERS0082</td><td>The requested report IDs are for different VCAs, Please include report IDs that belong to the same VCA.</td></tr>\n<tr><td>ERS0083</td><td>The requested report IDs are for different program IDs, Please include report IDs that belong to the same program ID.</td></tr>\n<tr><td>ERS0084</td><td>The requested report IDs are for different requested time zones, Please include report IDs that belong to the same requested time zone.</td></tr>\n<tr><td>ERS0091</td><td>startDate value must have valid format: YYYY-MM-DD</td></tr>\n<tr><td>ERS0092</td><td>endDate value must have valid format: YYYY-MM-DD</td></tr>\n<tr><td>ERS0093</td><td>The date specified in startDate does not exist</td></tr>\n<tr><td>ERS0094</td><td>The date specified in endDate does not exist</td></tr>\n<tr><td>ERS0095</td><td>Report ID included in your request is not present for the given ClientID/program ID. Please generate a new report ID for this Reports request by calling the Reports API without a report ID</td></tr>\n<tr><td>ERS0097</td><td>startTime value must have valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M (0-9)</td></tr>\n<tr><td>ERS0098</td><td>endTime value must have valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M (0-9)</td></tr>\n<tr><td>ERS0099</td><td>startTime value cannot exceed the requested endTime value</td></tr><tr><td>ERS0100</td><td>Invalid sortOrder value</td></tr><tr><td>ERS0101</td><td>startIndex should be numeric</td></tr><tr><td>ERS0102</td><td>endIndex should be numeric</td></tr><tr><td>ERS0103</td><td>startIndex should be less than or equal to endIndex</td></tr><tr><td>ERS0104</td><td>The startIndex & endIndex range cannot be greater than 150</td></tr><tr><td>ERS0105</td><td>The startDate and endDate range cannot be greater than 30 days if paginationRequired is true</td></tr>\n\n<tr><td>MS0001</td><td>Invalid Virtual Card Account Number</td></tr>\n<tr><td>MS0002</td><td>From date should be before to date.</td></tr>\n<tr><td>MS0006</td><td>Invalid vcaId value</td></tr>\n<tr><td>MS0008</td><td>Invalid Report ID</td></tr>\n\n<tr><td>GRC0002</td><td>Client ID is missing in the request header</td></tr>\n<tr><td>GRC0003</td><td>Invalid JSON Input</td></tr>\n<tr><td>GRC0004</td><td>Region ID is not available in the request</td></tr>\n<tr><td>GRC0011</td><td>Client ID and/or Country and/or region id is missing in Client Onboard Configuration setup. Contact Citi support.</td></tr>\n<tr><td>GRC0016</td><td>Country code is not available in the request</td></tr>\n</table></td></tr></table>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForAuthReport'
        '500':
          description: '<table><tr><td>ServerErrorResponseForAuthReport</td><td><table><tr><th>Error Code</th><th>Error Description</th></tr>

            <tr><td>GRC0001</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments.</td></tr>

            <tr><td>GRC0006</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments.</td></tr>

            <tr><td>GRC0009</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments.</td></tr>

            <tr><td>GRC0014</td><td>We have encountered an error and couldn''t receive your request. Please try again, or contact Citi support if you have any further questions or comments</td></tr>

            </table></td></tr></table>'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseForAuthReport'
        '504':
          description: <table><tr><td>ErrorResponseForAuthReport</td><td>Backend Connectivity Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForAuthReport'
      tags:
      - Vca
      security:
      - clientCredentials:
        - /api
    servers:
    - url: https://tts.apib2b.citi.com/tts/cards
      description: Production Gateway URL
    - url: https://tts.sandbox.apib2b.citi.com/tts/cards
      description: Sandbox Gateway URL
  /vca/v2/reports/clearing:
    post:
      summary: Obtain Cleared Transaction Details Reporting
      description: Obtain cleared transaction details on a VCA for reporting and payment reconciliation
      operationId: Clearing Report
      parameters:
      - name: Content-Type
        in: header
        description: Supports application/json
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Oauth token included by the external client to APIm. APIm will external the client ID and pass it to GRACE
        required: true
        schema:
          type: string
      - name: Country
        in: header
        description: Three character length country code used during onboarding into GRACE
        schema:
          type: string
        required: true
      - name: Region
        in: header
        description: This value will be used by APIm to route to the respective GRACE backend instance
        schema:
          type: string
        required: true
      - name: Req-Sys-Id
        in: header
        description: Unique ID of the API message sent. This ID will be provided back in the corresponding response. The ID can be used for investigation and troubleshooting. The ID must be unique per integration.
        schema:
          type: string
        required: false
      requestBody:
        description: ClearingReportInboundRequest
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearingReportInboundRequest'
            examples:
              Mastercard-Request-Required-Fields:
                summary: Mastercard Sample Request with Required Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195320
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
              Visa-Request-Required-Fields:
                summary: Visa Sample Request with Required Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195321
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
              Mastercard-Request-All-Fields:
                summary: Mastercard Sample Request with All Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195322
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: 00:00
                  endTime: '23:00'
                  timeZone: UTC-04:00
                  transactionType: All
              Visa-Request-All-Fields:
                summary: Visa Sample Request with All Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195323
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: 00:00
                  endTime: '23:00'
              Mastercard-Pagination-Request:
                summary: Mastercard Sample Request with Pagination
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195324
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                  - '1234567'
                  - '2345678'
                  filters:
                    paginationRequired: 'true'
                    sortOrder: DESCENDING
                    startIndex: '101'
                    endIndex: '200'
              Visa-Pagination-Request:
                summary: Visa Sample Request with Pagination
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195325
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  filters:
                    paginationRequired: 'true'
                    startIndex: '150'
                    endIndex: '300'
              Mastercard-Retry-Request:
                summary: Mastercard Sample Retry Request for Pending/Active Status
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195326
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                  - '1234567'
      responses:
        '200':
          description: <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>ClearingReportInboundResponse</td><td>success</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingReportInboundResponse'
              examples:
                Mastercard-Response-All-Transaction-Type:
                  summary: Mastercard Sample Response for All Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    transactionType: All
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    clearingRecords:
                    - transactionCurrencyAmount: '143'
                      transactionCurrencyCode: USD
                      transactionCurrencyCodeDescription: U.S. DOLLAR
                      transactionExchangerate: '1'
                      billingCurrencyCode: USD
                      billingCurrencyAmount: '143'
                      billingCurrencyCodeDescription: U.S. DOLLAR
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000999080R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCity: OFALLON
                      merchantState: MO
                      merchantCountryCode: USA
                      merchantCountryName: UNITED STATES
                      acquirerIdentifier: 00000999080
                      acquirerReferenceData: '25567681110000232050357'
                      messageType: '1240'
                      messageReasonCode: '1400'
                      functionCode: '200'
                      transactionDate: '2021-04-21'
                      transactionTime: '11:06:00'
                      settlementAmount: '189.98'
                      settlementCurrencyCode: SGD
                      settlementCurrencyDescription: Singapore Dollar
                      approvalCode: '802907'
                      transactionPostDate: '2021-04-21'
                      transactionType: First Presentment
                    - transactionCurrencyAmount: '141'
                      transactionCurrencyCode: USD
                      transactionCurrencyCodeDescription: U.S. DOLLAR
                      transactionExchangerate: '1'
                      billingCurrencyCode: USD
                      billingCurrencyAmount: '141'
                      billingCurrencyCodeDescription: U.S. DOLLAR
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000999080R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCity: OFALLON
                      merchantState: MO
                      merchantCountryCode: USA
                      merchantCountryName: UNITED STATES
                      acquirerIdentifier: 00000999080
                      acquirerReferenceData: '25567681110000232050340'
                      messageType: '1240'
                      messageReasonCode: '1400'
                      functionCode: '200'
                      transactionDate: '2021-04-21'
                      transactionTime: '11:06:00'
                      settlementAmount: '187.32'
                      settlementCurrencyCode: SGD
                      settlementCurrencyDescription: Singapore Dollar
                      approvalCode: '802931'
                      transactionPostDate: '2021-04-21'
                      transactionType: First Presentment
                Mastercard-Response-Presentment-Transaction-Type:
                  summary: Mastercard Sample Response for Presentment Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Presentment
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                    - fromDate: '2021-02-27'
                      toDate: '2021-03-29'
                      reportId: '1122330'
                      status: COMPLETED
                    - fromDate: '2021-03-30'
                      toDate: '2021-04-27'
                      reportId: '1122331'
                      status: COMPLETED
                    clearingRecords:
                    - transactionCurrencyAmount: '127'
                      transactionCurrencyCode: USD
                      transactionCurrencyCodeDescription: U.S. DOLLAR
                      transactionExchangerate: '1'
                      billingCurrencyCode: USD
                      billingCurrencyAmount: '127'
                      billingCurrencyCodeDescription: U.S. DOLLAR
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000999080R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCity: OFALLON
                      merchantState: MO
                      merchantCountryCode: USA
                      merchantCountryName: UNITED STATES
                      acquirerIdentifier: 00000999080
                      acquirerReferenceData: '25567681110000232050407'
                      messageType: '1240'
                      messageReasonCode: '1400'
                      functionCode: '200'
                      transactionDate: '2021-04-21'
                      transactionTime: '11:06:00'
                      settlementAmount: '168.72'
                      settlementCurrencyCode: SGD
                      settlementCurrencyDescription: Singapore Dollar
                      approvalCode: '802910'
                      transactionPostDate: '2021-04-21'
                      transactionType: First Presentment
                    - transactionCurrencyAmount: '143'
                      transactionCurrencyCode: USD
                      transactionCurrencyCodeDescription: U.S. DOLLAR
                      transactionExchangerate: '1'
                      billingCurrencyCode: USD
                      billingCurrencyAmount: '143'
                      billingCurrencyCodeDescription: U.S. DOLLAR
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000999080R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCity: OFALLON
                      merchantState: MO
                      merchantCountryCode: USA
                      merchantCountryName: UNITED STATES
                      acquirerIdentifier: 00000999080
                      acquirerReferenceData: '25567681110000232050399'
                      messageType: '1240'
                      messageReasonCode: '1400'
                      functionCode: '200'
                      transactionDate: '2021-04-21'
                      transactionTime: '11:06:00'
                      settlementAmount: '189.98'
                      settlementCurrencyCode: SGD
                      settlementCurrencyDescription: Singapore Dollar
                      approvalCode: '802933'
                      transactionPostDate: '2021-04-21'
                      transactionType: First Presentment
                    - transactionCurrencyAmount: '125'
                      transactionCurrencyCode: USD
                      transactionCurrencyCodeDescription: U.S. DOLLAR
                      transactionExchangerate: '1'
                      billingCurrencyCode: USD
                      billingCurrencyAmount: '125'
                      billingCurrencyCodeDescription: U.S. DOLLAR
                      merchantCategoryCode: '5812'
                      mccDescription: EATING PLACES RESTAURANTS
                      merchantId: 00000999080R-5411-USA
                      merchantName: GROCERY STORES SUPERM
                      merchantCity: OFALLON
                      merchantState: MO
                      merchantCountryCode: USA
                      merchantCountryName: UNITED STATES
                      acquirerIdentifier: 00000999080
                      acquirerReferenceData: '25567681110000232050381'
                      messageType: '1240'
                      messageReasonCode: '1400'
                      functionCode: '200'
                      transactionDate: '2021-04-21'
                      transactionTime: '11:06:00'
                      settlementAmount: '166.06'
                      settlementCurrencyCode: SGD
                      settlementCurrencyDescription: Singapore Dollar
                      approvalCode: '802909'
                      transactionPostDate: '2021-04-21'
                      transactionType: First Presentment
                Mastercard-Response-Second-Presentment-Transaction-Type:
                  summary: Mastercard Sample Response for Second Presentment Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Second Presentment
                    programId: '429777'
                    reportStatus: COMPLETED
[...]
