openapi: 3.0.2
info:
  title: Gateway Services
  description: >-
    Self onboarding services for merchants to register on the platform, create
    wallets, and perform withdrawals or payouts to their designated settlement
    and external beneficiary accounts.
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
  - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
    description: production gateway url
  - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb/gatewayservices
    description: sbox url
tags:
  - name: MerchantCreation
    description: Merchant onboarding and management operations
  - name: File
    description: File management
  - name: Certification
    description: KYC certification submission and retrieval
  - name: Rfi
    description: Request for Information operations
  - name: Wallet
    description: Wallet management and balance operations
  - name: LinkAccount
    description: Account linkage operations for external payments
  - name: Payment
    description: Payout and payment query operations
  - name: Fx
    description: FX Rate Inquiry
  - name: Reporting
    description: Transaction and balance reporting operations
security:
  - oAuth2:
      - /authenticationservices/v1
paths:
  /merchants/v1/onboard:
    post:
      tags:
        - MerchantCreation
      summary: Create merchant
      description: >-
        This endpoint allows you to create or onboard a merchant on the Payment
        Service Provider platform, validate onboarding data, and receive a
        merchant identifier for downstream service requests.
      operationId: merchantCreation
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Country-Code'
      requestBody:
        required: true
        description: >-
          This request body contains the necessary merchant details for creating
          a new merchant entity in PSP.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Merchant-Onboarding-Request'
            examples:
              Merchant-Creation-For-Enterprise-Request:
                $ref: >-
                  #/components/examples/Merchant-Creation-For-Enterprise-Request-Example
      responses:
        '200':
          description: >-
            This response body will return the unique identifier for the newly
            created merchant along with status.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant-Onboarding-Response'
              examples:
                merchant_creation_success_response:
                  $ref: >-
                    #/components/examples/Merchant-Creation-Success-Response-Example
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
    get:
      summary: Get Merchant ID
      description: >-
        Use the partner user ID on your platform to look up the merchant ID on
        the payment service provider platform (the merchant_id returned when you
        create a merchant).
      operationId: getMerchantId
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - MerchantCreation
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Partner-User-Id'
      responses:
        '200':
          description: Merchant ID retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Merchant-Onboarding'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/documents/upload:
    post:
      tags:
        - File
      summary: Documents upload for verification
      description: >-
        This endpoint is where you securely upload files to send to payment
        service provider, including KYC and KYB documentation to support
        customer verification.
      operationId: fileUpload
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Country-Code'
      requestBody:
        required: true
        description: >-
          Multipart file upload allows client to send files (e.g., images,
          documents) as part of a request. The request content type must be
          multipart/form-data. Supported formats are image/png, image/jpeg,
          image/jpg, image/bmp, application/pdf. Supported file size <10000000
          bytes. Client should pass single file per request
        content:
          multipart/form-data:
            schema:
              title: Upload-Document-Request
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                  maxLength: 10000000
              additionalProperties: false
            encoding:
              file:
                contentType: image/png, image/jpeg, image/jpg, image/bmp, application/pdf.
                headers:
                  Content-Length:
                    schema:
                      type: integer
                      maximum: 10000000
      responses:
        '200':
          description: Merchant ID creation Response
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File-Upload-Response'
              examples:
                File-Upload-Positive-Response:
                  $ref: '#/components/examples/File-Upload-Positive-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      deprecated: false
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/documents/download:
    post:
      summary: File Download
      description: >-
        Retrieve secure download links for previously uploaded merchant files by
        providing one or more file identifiers, allowing clients to fetch
        supported documents in a controlled and traceable manner.
      operationId: downloadFile
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - File
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
      requestBody:
        content:
          application/json:
            schema:
              title: Download-Document-Request
              type: object
              properties:
                file_ids:
                  type: array
                  minItems: 1
                  maxItems: 25
                  items:
                    type: string
                    maxLength: 128
                  description: >-
                    File ID returned by PingPong at upload. List file ids to get
                    download links for multiple files in one call.
              required:
                - file_ids
            example:
              file_ids:
                - N1234567891011121314151620
                - N1234567891011121314151621
                - N1234567891011121314151622
      responses:
        '200':
          description: File downloaded successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File-Download-Response'
              examples:
                File-Download-Response-Example:
                  $ref: '#/components/examples/File-Download-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      deprecated: false
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/certification:
    post:
      summary: Submit Certification
      description: >-
        This endpoint allows you to submit certification information to verify a
        merchant or update existing KYC details, and trigger review workflows
        required for compliance and account readiness.
      operationId: submitCertification
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Certification
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Operation'
      requestBody:
        required: true
        description: Request body for the certification request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certification-Request'
            examples:
              Certification-Request:
                $ref: '#/components/examples/Certification-Request'
              Certification-Request-CN:
                $ref: '#/components/examples/Certification-Request-Cn'
              Certification-Request-HK:
                $ref: '#/components/examples/Certification-Request-Hk'
      responses:
        '200':
          description: Certification request accepted for processing.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sync-Response'
              examples:
                Certification-Save-Acknowledgement:
                  $ref: '#/components/examples/Certification-Save-Acknowledgement'
                Certification-Submit-Acknowledgement:
                  $ref: '#/components/examples/Certification-Submit-Acknowledgement'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
      callbacks:
        certification-webhook:
          '{$notificationURL}':
            post:
              summary: Certification Webhook
              description: >-
                Webhook notification for certification status updates. Pushes
                updates of the KYC certification request.
              operationId: certificationWebhook
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Webhook-Certification'
                    examples:
                      Certification-Approved-Webhook-Example:
                        $ref: >-
                          #/components/examples/Certification-Approved-Webhook-Example
                      Certification-Declined-Webhook-Example:
                        $ref: >-
                          #/components/examples/Certification-Declined-Webhook-Example
                      Certification-Rfi-Pending-Webhook-Example:
                        $ref: >-
                          #/components/examples/Certification-Rfi-Pending-Webhook-Example
              responses:
                '200':
                  description: Webhook received successfully.
        rfi:
          '{$notificationURL}':
            post:
              operationId: rfiNotification
              summary: Request for Information (RFI) Notification Webhook
              description: This webhook pushes notifications of Request for Information.
              tags:
                - RFI Webhook
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/RFI-Notification'
                    examples:
                      rfi-notification-example:
                        $ref: '#/components/examples/RFI-Notification-Example'
              responses:
                '200':
                  description: Webhook received successfully.
    get:
      summary: Get Certification
      description: >-
        Check the status of a merchant's KYC review using the merchant_id
        returned during onboarding, including progress indicators, review
        outcomes, and required follow-up actions when applicable.
      operationId: getCertification
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Certification
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
      responses:
        '200':
          description: Certification details retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Certification-Response'
              examples:
                Get-Certification:
                  $ref: '#/components/examples/Get-Certification'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/wallets/activation:
    post:
      summary: Activate wallet for virtual accounts
      description: >-
        Use this endpoint to apply for Virtual Accounts (VAs) to start
        sending/receiving funds. You can only apply for VAs when the kyc_status
        of your account is APPROVED.
      operationId: activateWallet
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Country-Code'
      requestBody:
        required: true
        description: >-
          This section holds the request parameters for virtual account
          activation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wallet-Activation-Request'
            examples:
              wallet-activation-request:
                $ref: '#/components/examples/Wallet-Activation-Request-Example'
      responses:
        '200':
          description: >-
            This section holds the successful response for virtual account
            activation.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sync-Response'
              examples:
                wallet-activation-response:
                  $ref: '#/components/examples/Wallet-Activation-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
      callbacks:
        walletActivationWebhook:
          '{$notificationURL}':
            post:
              summary: Wallet activation webhook notification
              description: >-
                Webhook notification sent when a wallet activation status
                changes.
              operationId: walletActivationWebhookNotification
              tags:
                - Wallet
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Webhook-Wallet-Activation'
                    examples:
                      Wallet-Activation-Available-Webhook-Example:
                        $ref: >-
                          #/components/examples/Wallet-Activation-Available-Webhook-Example
                      Wallet-Activation-Closed-Webhook-Example:
                        $ref: >-
                          #/components/examples/Wallet-Activation-Closed-Webhook-Example
                      wallet-activation-Declined-webhook:
                        $ref: >-
                          #/components/examples/Wallet-Activation-Declined-Webhook-Example
              responses:
                '200':
                  description: Webhook received successfully.
  /merchants/v1/wallets/balances:
    get:
      summary: Get wallet balances
      description: >
        Retrieve available and related wallet account balance information for
        the specified merchant and account filters, enabling reconciliation,
        reporting, and operational funding decisions.
      operationId: getWalletBalances
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Currency-Code'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Virtual-Account-Id'
      responses:
        '200':
          description: This section holds the virtual balances.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Wallet-Balances'
              examples:
                get-wallet-balances-response:
                  $ref: '#/components/examples/Get-Wallet-Balances-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/wallets:
    get:
      summary: Get wallet status
      description: >-
        Check the status of virtual accounts using the virtual_account_id
        returned from wallet activation, and review account state details needed
        to determine operational readiness and lifecycle stage.
      operationId: getWallet
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Virtual-Account-Id'
      responses:
        '200':
          description: >-
            This section holds the successful response for virtual account
            status inquiry.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Wallet-Activation-Response'
              examples:
                get-wallet-response:
                  $ref: '#/components/examples/Get-Wallet-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/link-accounts:
    post:
      summary: Link external account for payments
      description: >-
        Use this endpoint to verify an external creditor account and receive a
        creditor_id for successfully validated beneficiaries, so the account can
        be used in subsequent payout transactions.
      operationId: linkAccount
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - LinkAccount
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Country-Code'
      requestBody:
        required: true
        description: This section holds the request parameters used to verify the Creditor.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Link-Account-Request'
            examples:
              account-linkage-request:
                $ref: '#/components/examples/Account-Linkage-Request-Example'
              Account-Linkage-Request-Example-HK:
                $ref: '#/components/examples/Account-Linkage-Request-Example-HK'
              Account-Linkage-Request-Example-CN:
                $ref: '#/components/examples/Account-Linkage-Request-Example-CN'
      responses:
        '200':
          description: >-
            This section holds the successful response for creditor
            verification.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sync-Response'
              examples:
                account-linkage-response:
                  $ref: '#/components/examples/Account-Linkage-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
      callbacks:
        accountLinkageWebhook:
          '{$notificationURL}':
            description: >-
              This endpoint used to push the status notification for creditor
              verification.
            post:
              summary: Account linkage webhook notification
              description: >-
                Webhook notification sent when an account linkage status
                changes. This callback is triggered for status updates on linked
                accounts.
              operationId: accountLinkageWebhookNotification
              tags:
                - Account-Linkage
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                description: >-
                  This section holds the request parameters for creditor
                  verification notification.
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Webhook-Link-Account'
                    examples:
                      Account-Linkage-Available-Webhook-Example:
                        $ref: >-
                          #/components/examples/Account-Linkage-Available-Webhook-Example
                      Account-Linkage-Declined-Webhook-Example:
                        $ref: >-
                          #/components/examples/Account-Linkage-Declined-Webhook-Example
              responses:
                '200':
                  description: Webhook received successfully.
    get:
      summary: Get linked account details
      description: >-
        You can use this to check the status of the creditor. Creditor must be
        verified and have an 'AVAILABLE' status before sending external
        payments.
      operationId: getLinkedAccount
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - LinkAccount
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Creditor-Id'
        - $ref: '#/components/parameters/Creditor-Partner-User-Id'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page-No'
      responses:
        '200':
          description: >-
            This section holds the successful response for creditor verification
            inquiry.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
            Pagination-Metadata:
              description: >-
                This header contains a JSON object with details about the
                response. The full schema is available in the
                'Pagination-Metadata' schema section below
              schema:
                $ref: '#/components/schemas/Pagination-Metadata'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Link-Account-Response'
              examples:
                get-account-linkage-response:
                  $ref: '#/components/examples/Get-Account-Linkage-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/fx-rate:
    post:
      summary: FX Query
      description: >-
        You can use this to get fx rate to be used for transaction. The latest
        rate you get is valid for 5 minutes , during which time you can use this
        rate to transaction
      operationId: fxQuery
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Fx
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Country-Code'
      requestBody:
        description: This section holds the request parameters for FX Rate Inquiry.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fx-Query-Request'
            examples:
              fxquery-request:
                $ref: '#/components/examples/Fx-Query-Request-Example'
      responses:
        '200':
          description: FX Query completed successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fx-Query-Response'
              examples:
                success-response:
                  $ref: '#/components/examples/Fx-Query-Success-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/payments:
    post:
      summary: Create Payment
      description: >-
        Make a payment from your account held with Citi to a virtual account
        held with Citi or from the virtual account held with Citi to an external
        bank account. Virtual account must be in "AVAILABLE" status.
      operationId: createPayout
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Payment
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Optional-Merchant-Id'
        - $ref: '#/components/parameters/Wallet-Payment'
      requestBody:
        x-skip-validation: true
        required: true
        description: This section contains the request parameters for payment initiation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Request'
            examples:
              Payment-To-Wallet-Request:
                $ref: '#/components/examples/Payment-To-Wallet-Request'
              Payment-To-External-Request:
                $ref: '#/components/examples/Payment-To-External-Request'
      responses:
        '202':
          description: Payout request accepted for processing.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Response'
              examples:
                Payment-Validation-Success-Example:
                  $ref: '#/components/examples/Payment-Validation-Success-Example'
                Payment-Validation-Partial-Rejection-Example:
                  $ref: >-
                    #/components/examples/Payment-Validation-Partial-Rejection-Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                title: Payment-Bad-Request-Response
                oneOf:
                  - $ref: '#/components/schemas/Gateway-Error-Response'
                  - $ref: '#/components/schemas/Service-Error-Response'
                  - $ref: '#/components/schemas/Payment-Response'
              examples:
                Payment-Validation-Full-Rejection-Example:
                  $ref: >-
                    #/components/examples/Payment-Validation-Full-Rejection-Example
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
      callbacks:
        payout-webhook:
          '{$notificationURL}':
            post:
              summary: Payout Webhook
              description: Webhook notification for payment status updates.
              operationId: payoutWebhook
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Webhook-Payment-Request'
                    examples:
                      Payment-To-Wallet-Rejected-Webhook:
                        $ref: >-
                          #/components/examples/Payment-To-Wallet-Rejected-Webhook
                      Payment-To-External-Rejected-Webhook:
                        $ref: >-
                          #/components/examples/Payment-To-External-Rejected-Webhook
                      Payment-To-Wallet-Success-Webhook:
                        $ref: >-
                          #/components/examples/Payment-To-Wallet-Success-Webhook
                      Payment-To-External-Success-Webhook:
                        $ref: >-
                          #/components/examples/Payment-To-External-Success-Webhook
              responses:
                '200':
                  description: Webhook received successfully.
        inbound-payment:
          '{$notificationURL}':
            post:
              operationId: inboundPaymentNotification
              summary: Inbound Payment Notification Webhook
              description: >-
                This webhook pushes notifications for the payment received in
                your virtual account.
              tags:
                - Inbound Webhook
              parameters:
                - $ref: '#/components/parameters/Event-Type'
                - $ref: '#/components/parameters/Event-Name'
                - $ref: '#/components/parameters/Apim-Guid'
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Inbound-Payment-Notification'
                    examples:
                      inbound-payment-example:
                        $ref: >-
                          #/components/examples/Inbound-Payment-Notification-Example
              responses:
                '200':
                  description: Webhook received successfully.
    get:
      summary: Get Payment
      description: >-
        Query the status and detailed attributes of a payment using supported
        identifiers, including processing state, settlement outcomes, and
        reference information needed for reconciliation and customer support.
      operationId: getPayment
      tags:
        - Payment
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Optional-Merchant-Id'
        - $ref: '#/components/parameters/Uetr'
        - $ref: '#/components/parameters/End-To-End-Id'
      responses:
        '200':
          description: Payment details retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-Payment-Response'
              examples:
                Get-Payment-To-Wallet:
                  $ref: '#/components/examples/Get-Payment-To-Wallet'
                Get-Payment-To-External:
                  $ref: '#/components/examples/Get-Payment-To-External'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      deprecated: false
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/rfi:
    post:
      summary: RFI Response
      description: >-
        Allows you to respond to the RFI request with answers. This API allows
        you to reply to either a single or multiple questions in one call,
        depending on how you choose to respond.
      operationId: saveRfiResponse
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Rfi
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
      requestBody:
        description: This section holds the request parameters for RFI.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rfi-Save-Request'
            examples:
              Rfi-Response:
                $ref: '#/components/examples/Rfi-Response'
      responses:
        '200':
          description: RFI response accepted for processing.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfi-Save-Response'
              examples:
                Rfi-Response-Acknowledgement:
                  $ref: '#/components/examples/Rfi-Response-Acknowledgement'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
    get:
      summary: RFI Query
      description: >-
        Retrieves details of single RFI using the given RFI ID or returns a list
        of RFIs raised for your account.
      operationId: queryRfi
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Rfi
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Rfi-Id'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/From-Date'
        - $ref: '#/components/parameters/To-Date'
        - $ref: '#/components/parameters/Page-No'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Rfi-Status'
      responses:
        '200':
          description: RFI details retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
            Pagination-Metadata:
              description: >-
                This header contains a JSON object with details about the
                response. The full schema is available in the
                'Pagination-Metadata' schema section below
              schema:
                $ref: '#/components/schemas/Pagination-Metadata'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfi-Query-Response'
              examples:
                Get-Rfi:
                  $ref: '#/components/examples/Get-Rfi'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/rfi/submit:
    post:
      summary: RFI Submit
      description: >-
        Allows you to submit an RFI. After submitting status will be updated to
        CLOSED. CLOSED means the submission of replies is now disabled.
      operationId: submitRfiResponse
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Rfi
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Id'
      requestBody:
        description: This section holds the request parameters for RFI Submit.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rfi-Submit-Request'
            examples:
              Rfi-Submit:
                $ref: '#/components/examples/Rfi-Submit'
      responses:
        '200':
          description: RFI submitted successfully for processing.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rfi-Submit-Response'
              examples:
                Rfi-Submit-Acknowledgement:
                  $ref: '#/components/examples/Rfi-Submit-Acknowledgement'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/transactions:
    get:
      summary: Transaction Reporting
      description: >-
        Retrieves list and details of transactions, suitable for reporting
        purposes such as ledgers, finance Operations and analytics.
      operationId: getTransactions
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Reporting
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/From-Date-Time'
        - $ref: '#/components/parameters/To-Date-Time'
        - $ref: '#/components/parameters/Page-No'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Uetr'
        - $ref: '#/components/parameters/Payment-Type'
        - $ref: '#/components/parameters/Reporting-Status'
      responses:
        '200':
          description: Transaction report retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
            Pagination-Metadata:
              description: >-
                This header contains a JSON object with details about the
                response. The full schema is available in the
                'Pagination-Metadata' schema section below
              schema:
                $ref: '#/components/schemas/Pagination-Metadata'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction-Report-Response'
              examples:
                Transaction-Report:
                  $ref: '#/components/examples/Transaction-Report'
                Transaction-Report-For-WITHDRAW-&-INBOUND:
                  $ref: >-
                    #/components/examples/Transaction-Report-For-WITHDRAW-INBOUND
                Transaction-Report-For-PAYOUT:
                  $ref: '#/components/examples/Transaction-Report-For-PAYOUT'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
  /merchants/v1/balance-report:
    get:
      summary: Balance Report
      description: >-
        This helps financial reconciliation, enabling tracking of opening and
        closing balances for a period, along with updated running balances
        following each transaction. This report helps you track changes to your
        account balance and reconcile the balance whenever required.
      operationId: getBalanceReport
      servers:
        - url: https://b2b.api.icg.citi.com/citiconnect/prod/gatewayservices
      tags:
        - Reporting
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/From-Date-Time'
        - $ref: '#/components/parameters/To-Date-Time'
        - $ref: '#/components/parameters/Page-No'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Uetr'
        - $ref: '#/components/parameters/Currency-Code'
        - $ref: '#/components/parameters/Virtual-Account-Id'
      responses:
        '200':
          description: Balance report retrieved successfully.
          headers:
            apim-guid:
              $ref: '#/components/headers/Apim-Guid'
            Pagination-Metadata:
              description: >-
                This header contains a JSON object with details about the
                response. The full schema is available in the
                'Pagination-Metadata' schema section below
              schema:
                $ref: '#/components/schemas/Pagination-Metadata'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance-Report-Response'
              examples:
                Balance-Report:
                  $ref: '#/components/examples/Balance-Report'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Requests'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '503':
          $ref: '#/components/responses/Service-Unavailable'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
      security:
        - oAuth2:
            - /authenticationservices/v1
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://b2b.api.icg.citi.com/authenticationservices/v3/oauth/token
          scopes:
            /authenticationservices/v1: Access to marketplace management APIs
  headers:
    Apim-Guid:
      description: >-
        Unique system generated reference number generated by   Citi. Refer to
        this number in case of any discrepancy reporting to a Citi
        representative.
      schema:
        type: string
        maxLength: 128
        minLength: 1
        title: Apim-Guid
      required: true
      example: na-apimgwgtds04~4a98cbc5-d813-4e65-bc81-d70f0f87f6ec
  parameters:
    Client-Id:
      in: query
      name: client_id
      description: >-
        Your unique identification, same as the identification you use for OAuth
        token generation, Citi shared with you during your CitiConnect API
        onboarding.
      schema:
        type: string
        title: Client-Id
        example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        minimum: 1
        maximum: 128
      required: true
    Apim-Guid:
      in: header
      name: Apim-Guid
      description: >-
        Unique system generated reference number generated by   Citi. Refer to
        this number in case of any discrepancy reporting to a Citi
        representative.
      schema:
        type: string
        maxLength: 128
        minLength: 1
        title: Apim-Guid
      required: true
      example: na-apimgwgtds04~4a98cbc5-d813-4e65-bc81-d70f0f87f6ec
    Optional-Merchant-Id:
      in: header
      name: Merchant-Id
      description: >-
        CITI generated Merchant ID during merchant creation. It is mandatory for
        payment to external.
      schema:
        type: string
        title: Merchant-Id
        minLength: 1
        maxLength: 36
        example: ec689822-9864-4c4d-9d68-22246762901
    Merchant-Id:
      in: header
      name: Merchant-Id
      description: CITI generated Merchant ID during merchant creation.
      schema:
        type: string
        title: Merchant-Id
        minLength: 1
        maxLength: 36
        example: ec689822-9864-4c4d-9d68-22246762901
      required: true
    Idempotency-Id:
      in: header
      name: Idempotency-Id
      description: >-
        Your unique identification for a POST request 
         - Maximum length is 128. 
        -CitiConnect API responds with an error (HTTP status 4XX) if your POST
        request idempotency identification value is a duplicate across a recent
        history of idempotency identifications in Citi's database. 

        - If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from
        Citi to your POST request and you wish to retry, reinitiate your request
        with the same idempotency identification to prevent accidental duplicate
        payment.
      schema:
        type: string
        title: Idempotency-Id
        minLength: 1
        maxLength: 128
        example: a44cbb606de4edb9a7a123414bba3bb
      required: true
    Country-Code:
      in: header
      name: Country-Code
      description: Marketplace's country code.
      schema:
        pattern: ^[A-Z]{2,2}$
        type: string
        title: Country-Code
        example: US
      required: true
    Virtual-Account-Id:
      name: virtual_account_id
      in: query
      description: The unique ID returned when you call wallet activation.
      schema:
        type: string
        title: virtual_account_id
        minLength: 1
        maxLength: 36
        example: R200801012359590001
    Creditor-Id:
      name: creditor_id
      in: query
      description: The unique creditor identifier returned when you call link account.
      schema:
        type: string
        title: creditor_id
        minLength: 1
        maxLength: 36
        example: R202501080950209789
    Creditor-Partner-User-Id:
      name: creditor_partner_user_id
      in: query
      description: The unique creditor identifier of your system.
      schema:
        type: string
        title: creditor_partner_user_id
        minLength: 1
        maxLength: 50
        example: P298UI839KADY381
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: >-
        Type of event (e.g., CERTIFICATION, WALLET_ACTIVATION, LINK_ACCOUNT,
        PAYMENT, INBOUND, RFI).
      schema:
        type: string
        title: event-type
        minLength: 1
        maxLength: 64
        example: Webhook
    Event-Name:
      name: Event-Name
      in: header
      description: Name of event (e.g., PAYOUT, PAYIN).
      schema:
        type: string
        title: event-name
        minLength: 1
        maxLength: 64
        example: Payout
    Currency-Code:
      name: currency_code
      in: query
      required: false
      description: Query the balance for a specific currency code.
      schema:
        type: string
        title: currency_code
        pattern: ^[A-Z]{3}$
      example: USD
    Partner-User-Id:
      name: partner_user_id
      in: query
      required: true
      description: The unique seller identifier of your system.
      schema:
        type: string
        title: partner_user_id
        minLength: 1
        maxLength: 50
      example: PartnerUserID1234
    Limit:
      name: limit
      in: query
      required: false
      description: Number of results per page (default- 50).
      schema:
        type: integer
        title: limit
        minimum: 1
        maximum: 100
        default: 50
    Page-No:
      name: page_no
      in: query
      required: false
      description: Page number (default- 1).
      schema:
        type: integer
        title: page_no
        minimum: 1
        maximum: 5000
        default: 1
    Uetr:
      name: uetr
      required: false
      in: query
      description: The unique payment identifier assigned during payment initiation.
      schema:
        type: string
        title: uetr
        minLength: 1
        maxLength: 36
    End-To-End-Id:
      name: end_to_end_id
      in: query
      required: false
      description: >-
        The unique payment identifier from your system. If the request is for
        payment to wallet, this field should contain maximum 16 character.
      schema:
        type: string
        title: end_to_end_id
        minLength: 1
        maxLength: 35
    From-Date-Time:
      name: from_date_time
      in: query
      required: false
      description: >-
        The start date for the requested period. Pattern: YYYY-MM-DDTHH:mm:ssZ.
        When from_date_time is used to_date_time is required and the supported
        range should be 1 year. 
      schema:
        type: string
        title: from_date_time
        format: date-time
        example: '2024-03-17T10:30:00Z'
    To-Date-Time:
      name: to_date_time
      in: query
      required: false
      description: 'The end date for the requested period. Pattern: YYYY-MM-DDTHH:mm:ssZ'
      schema:
        type: string
        title: to_date_time
        format: date-time
        example: '2024-03-17T10:30:00Z'
    From-Date:
      name: from_date
      in: query
      required: false
      description: 'The start date for the requested period. Pattern: YYYY-MM-DD'
      schema:
        type: string
        title: from_date
        format: date
        example: '2024-03-17'
    To-Date:
      name: to_date
      in: query
      required: false
      description: 'The end date for the requested period. Pattern: YYYY-MM-DD'
      schema:
        type: string
        title: to_date
        format: date
        example: '2024-03-17'
    Payment-Type:
      name: payment_type
      in: query
      required: false
      description: 'Transaction type filter. Supported values: INBOUND, PAYOUT.'
      schema:
        type: array
        title: payment_type
        items:
          type: string
          enum:
            - INBOUND
            - PAYOUT
            - WITHDRAW
    Reporting-Status:
      name: status
      in: query
      required: false
      description: 'Transaction status filter. Supported values: PENDING, SUCCESS, REJECTED.'
      schema:
        type: array
        title: status
        items:
          type: string
          enum:
            - PENDING
            - SUCCESS
            - REJECTED
    Rfi-Id:
      name: rfi_id
      in: query
      required: false
      description: RFI unique id.
      schema:
        type: string
        title: rfi_id
        minLength: 1
        maxLength: 128
    Type:
      name: type
      in: query
      required: false
      description: List of RFI types. Currently supports KYC, RECIPIENT.
      schema:
        type: string
        title: type
        minLength: 1
        maxLength: 64
    Rfi-Status:
      name: status
      in: query
      required: false
      description: List of RFI status values to filter by.
      schema:
        type: string
        title: status
        minLength: 1
        maxLength: 64
    Operation:
      name: Operation
      in: header
      required: true
      description: Operation to indicate which functionality to be invoked.
      schema:
        type: string
        title: Operation
        enum:
          - SAVE
          - SUBMIT
      example: SAVE
    Wallet-Payment:
      name: Wallet-Payment
      in: header
      required: true
      description: Indicates whether this is a wallet payment. Y or N.
      schema:
        type: string
        title: Wallet-Payment
        enum:
          - 'Y'
          - 'N'
      example: 'N'
  schemas:
    Gateway-Error-Response:
      type: object
      title: GatewayErrorResponse
      required:
        - httpCode
        - httpMessage
        - moreInformation
      properties:
        httpCode:
          type: string
          maxLength: 3
          description: Numeric HTTP Staus code
          title: httpCode
        httpMessage:
          type: string
          maxLength: 128
          description: HTTP error message
          title: httpMessage
          example: Bad Request
        moreInformation:
          type: string
          maxLength: 128
          description: HTTP error message
          title: moreInformation
          example: please provide valid value for request
    Service-Error-Response:
      title: ServiceErrorResponse
      type: object
      required:
        - ref_id
        - error_details
      properties:
        ref_id:
          type: string
          maxLength: 120
          description: Unique ID for the Transaction
          title: ref_id
          example: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        error_details:
          type: array
          description: List of error details
          title: error_details
          items:
            $ref: '#/components/schemas/Error-Detail'
    Error-Detail:
      type: object
      title: ErrorDetail
      properties:
        issue:
          type: string
          minLength: 1
          maxLength: 200
          description: more details about the issue
          title: issue
          example: property emailAddress is mandatory and it cannot be empty
        action:
          type: string
          maxLength: 350
          description: corrective action to be taken to resolve above issue
          title: action
          example: please provide valid value for property emailAddress
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: unique code representing the issue
          title: code
          example: VC00010
    Merchant-Onboarding-Request:
      title: MerchantOnboardingRequest
      description: Request parameters for Merchant Onboarding Request.
      allOf:
        - $ref: '#/components/schemas/Common-Merchant-Onboarding-Request'
        - type: object
          required:
            - partner_user_id
          properties:
            partner_user_id:
              $ref: '#/components/schemas/Partner-User-Id'
    Get-Merchant-Onboarding:
      title: GetMerchantOnboarding
      description: Response for Get Merchant Onboarding.
      allOf:
        - $ref: '#/components/schemas/Common-Merchant-Onboarding-Request'
        - type: object
          required:
            - merchant_id
          properties:
            merchant_id:
              $ref: '#/components/schemas/Merchant-Id'
    Common-Merchant-Onboarding-Request:
      title: CommonMerchantOnboardingRequest
      description: Request parameters for Merchant Onboarding Request.
      type: object
      required:
        - contact_number
        - contact_prefix
        - email
      properties:
        contact_number:
          type: string
          description: Contact number of the merchant.
          title: contact number
          minLength: 1
          maxLength: 32
          example: '9234567890'
        contact_prefix:
          type: string
          description: Country code of the contact number.
          title: contact_prefix
          minLength: 1
          maxLength: 32
          example: '+91'
        email:
          type: string
          description: >-
            The email address of the merchant. It should always be in lower
            case.
          title: email
          minLength: 1
          maxLength: 64
          example: abc@yahoo.com
    Merchant-Onboarding-Response:
      title: MerchantOnboardingResponse
      description: Response parameters for Merchant Onboarding Response.
      type: object
      properties:
        merchant_id:
          $ref: '#/components/schemas/Merchant-Id'
        status_details:
          $ref: '#/components/schemas/Status-Details'
    Status-Details:
      title: StatusDetails
      description: Status Details.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        message:
          $ref: '#/components/schemas/Message'
    File-Upload-Response:
      title: FileUploadResponse
      description: Response parameters for file upload.
      type: object
      properties:
        file_id:
          $ref: '#/components/schemas/File-Id'
        created_time:
          $ref: '#/components/schemas/Created-Time'
        status_details:
          $ref: '#/components/schemas/Status-Details'
    File-Download-Response:
      title: FileDownloadResponse
      type: array
      description: Response for file download.
      items:
        $ref: '#/components/schemas/File-Download'
    File-Download:
      title: FileDownload
      type: object
      description: File download details.
      properties:
        file_id:
          $ref: '#/components/schemas/File-Id'
        file_download_link:
          type: string
          title: file_download_link
          description: >-
            File link for downloading the file. The link is valid for 15 minutes
            and can be used only once.
          minLength: 1
          maxLength: 256
          example: https://pingpongx.com/
    File-Id:
      type: string
      description: Unique identifier for the document uploaded.
      title: file_id
      minLength: 1
      maxLength: 128
      example: '112213'
    Created-Time:
      type: string
      format: date-time
      description: Date and time of the file created. Pattern YYYY-MM-DDTHH:mm:ssZ
      title: created_time
      example: '2026-01-06T10:56:25Z'
    Merchant-Id:
      type: string
      description: >-
        Unique identifier generated by Citi for each seller. Seller to use this
        id for the further functional calls.
      title: merchant_id
      minLength: 1
      maxLength: 36
      example: ec689822-9864-4c4d-9d68-222467627901
    Partner-User-Id:
      type: string
      description: Partner user identifier for seller from your system.
      title: partner_user_id
      minLength: 1
      maxLength: 50
      example: '1323436'
    Status:
      type: string
      description: Status of the request.
      title: status
      minLength: 1
      maxLength: 64
    Message:
      type: string
      description: Description of the status.
      title: message
      minLength: 1
      maxLength: 500
      example: Request is in-progress
    Business-Address:
      title: BusinessAddress
      type: object
      description: Address information for company.
      properties:
        street_name:
          type: string
          title: street_name
          minLength: 1
          maxLength: 200
          description: Street name. Required for CHINA and HONGKONG.
          example: Schillerstrasse 23
        postal_code:
          type: string
          title: postal_code
          minLength: 1
          maxLength: 16
          description: Postal code or ZIP code. Required for CHINA and HONGKONG.
          example: '999077'
        city:
          type: string
          title: city
          minLength: 1
          maxLength: 200
          description: City name. Required for CHINA and HONGKONG.
          example: Ras Al Khaimah
        district:
          type: string
          title: district
          minLength: 1
          maxLength: 200
          description: District name. Required for CHINA and HONGKONG.
          example: district1111
        state:
          type: string
          title: state
          minLength: 1
          maxLength: 200
          description: State or province name. Required for CHINA and HONGKONG.
          example: Ras al Khaymah
    Document:
      title: Document
      type: object
      description: >-
        Document information for KYC validation including document type,
        sub-type, and file reference.
      required:
        - type
      properties:
        type:
          type: string
          title: type
          description: >-
            Type of identity document (ID). <br> certificate_of_registration is
            applicable for CHINA. <br> certificate_of_incorporation and
            business_registration are applicable for HONGKONG.
          enum:
            - CERTIFICATE_OF_REGISTRATION
            - CERTIFICATE_OF_INCORPORATION
            - BUSINESS_REGISTRATION
            - SHARE_STRUCTURE
            - COMPANY_CONSTITUTION_OR_ANNUAL_REPORT
            - ARTICLE_OF_ASSOCIATION
            - UBO_DECLARATION
            - PARTNERSHIP_MINUTES_OF_MEETING
            - PARTNERSHIP_DEED
            - CERTIFICATE_OF_INCUMBENCY
            - INDONESIA_MINISTRY_OFFICIAL_APPROVAL_PROOF
            - OFFICE_PHOTO
            - PROOF_OF_ADDRESS
            - BANK_ACCOUNT_PROOF
            - BUSINESS_URL_OWNERSHIP
          example: CERTIFICATE_OF_REGISTRATION
        sub_type:
          type: string
          title: sub_type
          description: Applicable only if the type is certificate_of_registration.
          enum:
            - ACRA
            - GST
            - MSME
            - CERTIFICATE_OF_REGISTRATION
          example: ACRA
        number:
          type: string
          title: number
          minLength: 1
          maxLength: 128
          description: >-
            Document ID number. <br> required if type is
            certificate_of_registration for CHINA. <br> required if type are
            certificate_of_incorporation and business_registration for HONGKONG.
          example: DE123456789
        file_id:
          $ref: '#/components/schemas/File-Id'
    Person-Document:
      title: PersonDocument
      type: object
      description: Document information for business person KYC validation.
      required:
        - type
        - sub_type
      properties:
        type:
          type: string
          title: type
          description: >-
            Type of identity document (ID). Provide details for one primary
            identity document (CHINESE_RESIDENT_IDENTITY_CARD,
            NATIONAL_OR_STATE_ID, PASSPORT, DRIVERS_LICENSE, RESIDENCE_PERMIT,
            TAX_ID, PROOF_OF_AGE_CARD, MY_NUMBER_CARD, MAINLAND_TRAVEL_PERMIT),
            optionally supplemented by AUTHORISED_LETTER, PROOF_OF_ADDRESS, or
            HAND_HOLD_PHOTO if required. <br> AUTHORISED_LETTER is required if
            the role is AUTHORISED_PERSON <br> NATIONAL_OR_STATE_ID, PASSPORT,
            RESIDENCE_PERMIT, MAINLAND_TRAVEL_PERMIT are applicable for CHINA.
            <br> NATIONAL_OR_STATE_ID, PASSPORT, RESIDENCE_PERMIT,
            CHINESE_RESIDENT_IDENTITY_CARD, MAINLAND_TRAVEL_PERMIT are
            applicable for HONGHONG.
          enum:
            - CHINESE_RESIDENT_IDENTITY_CARD
            - NATIONAL_OR_STATE_ID
            - PASSPORT
            - DRIVERS_LICENSE
            - RESIDENCE_PERMIT
            - TAX_ID
            - PROOF_OF_AGE_CARD
            - MY_NUMBER_CARD
            - MAINLAND_TRAVEL_PERMIT
            - AUTHORISED_LETTER
            - PROOF_OF_ADDRESS
            - HAND_HOLD_PHOTO
          example: NATIONAL_OR_STATE_ID
        sub_type:
          type: string
          title: sub_type
          description: >-
            Applicable for all id type other than PASSPORT. Front and Back both
            sub_type is applicable for CN and HK. When BACK is used, number,
            expiry_date, issue_date, issuing_authority are not required.
          enum:
            - FRONT
            - BACK
          example: FRONT
        number:
          type: string
          title: number
          minLength: 1
          maxLength: 128
          description: Document ID number. Required for CHINA and HONGKONG.
          example: ID123456789
        expiry_date:
          allOf:
            - $ref: '#/components/schemas/Common-Date'
          title: expiry_date
          description: >-
            The expiry date of the ID document; format yyyy-mm-dd. Fill in
            9999-12-31 if there is no expiry date. Required for CHINA and
            HONGKONG.
        issue_date:
          allOf:
            - $ref: '#/components/schemas/Common-Date'
          title: issue_date
          description: >-
            Issuing date of the ID document; format yyyy-mm-dd. Required for
            CHINA and HONGKONG.
        issuing_authority:
          type: string
          title: issuing_authority
          minLength: 1
          maxLength: 2048
          description: >-
            Issuing authority of merchant's identity document. Required for
            CHINA and HONGKONG.
          example: Government of China
        file_id:
          $ref: '#/components/schemas/File-Id'
    Business-Person-Address:
      title: BusinessPersonAddress
      description: Business person address information.
      allOf:
        - $ref: '#/components/schemas/Business-Address'
        - type: object
          title: Business-Person-Address
          properties:
            country_code:
              allOf:
                - $ref: '#/components/schemas/Country-Code'
              title: country_code
              description: Country code. Required for CHINA and HONGKONG.
    Country-Code:
      type: string
      title: country_code
      pattern: ^[A-Z]{2,2}$
      description: Country code.
      example: CN
    Common-Date:
      type: string
      title: date
      format: date
      description: Date in ISO 8601 (YYYY-MM-DD).
      example: '1975-03-07'
    Birth-Details:
      title: BirthDetails
      type: object
      description: Birth information of the business person.
      properties:
        date:
          allOf:
            - $ref: '#/components/schemas/Common-Date'
          title: date
          description: ISO 8601 (YYYY-MM-DD), birth_date is required for CN and HK.
        country_code:
          allOf:
            - $ref: '#/components/schemas/Country-Code'
          title: country_code
          description: Country code.
        state:
          type: string
          title: state
          minLength: 1
          maxLength: 2048
          description: State (province of birth).
          example: beijing
    Personal-Details:
      title: Personal-Details
      type: object
      description: This section contains the name details.
      properties:
        first_name:
          type: string
          title: first_name
          minLength: 1
          maxLength: 64
          description: Business person's first name in English. Required for CN and HK.
          example: Hongbo
        first_name_in_local_language:
          type: string
          title: first_name_in_local_language
          minLength: 1
          maxLength: 64
          description: >-
            Business person's first name in local language. Required for CN and
            HK.
          example: first name
        middle_name:
          type: string
          title: middle_name
          minLength: 1
          maxLength: 64
          description: Business person's middle name in English. Optional for CN and HK.
          example: s
        middle_name_in_local_language:
          type: string
          title: middle_name_in_local_language
          minLength: 1
          maxLength: 64
          description: >-
            Business person's middle name in local language. Optional for CN and
            HK.
          example: middle name
        last_name:
          type: string
          title: last_name
          minLength: 1
          maxLength: 64
          description: Business person's last name in English. Required for CN and HK.
          example: Lin
        last_name_in_local_language:
          type: string
          title: last_name_in_local_language
          minLength: 1
          maxLength: 64
          description: >-
            Business person's full name in local language. Required for CN and
            HK.
          example: last name
    Business-Person:
      title: BusinessPerson
      description: Business person details for KYC certification.
      allOf:
        - $ref: '#/components/schemas/Personal-Details'
        - type: object
          properties:
            role:
              type: string
              title: role
              description: >-
                Role of business person. Required for both CHINA and HONGKONG.
                <br> UBO, DIRECTOR_CONTROL_PERSON_OR_LEGAL_REP,
                AGENT_OR_AUTHORISED_PERSON are applicable for CHINA. <br> UBO,
                DIRECTOR_CONTROL_PERSON_OR_LEGAL_REP, AGENT_OR_AUTHORISED_PERSON
                are applicable for HONGKONG. <br> For the limitation on the
                number of business persons- <br> UBO - 4 maximum across all
                regions (as UBO is defined as shareholding above 25%). <br>
                Legal rep/Director - 1 for CN (only one legal rep per CN law)
                and up to 25 directors for HK. <br> Agent - 1, as there can only
                be 1 agent.
              enum:
                - OWNER_OR_OPERATOR
                - PARTNER
                - UBO
                - DIRECTOR_CONTROL_PERSON_OR_LEGAL_REP
                - AGENT_OR_AUTHORISED_PERSON
              example: AGENT_OR_AUTHORISED_PERSON
            alias:
              type: string
              title: alias
              minLength: 1
              maxLength: 2048
              description: Business person's alias name.
              example: Hongbo
            nationality:
              type: string
              title: nationality
              description: Business person's nationality. Required for CHINA and HONGKONG.
              example: CN
              pattern: ^[A-Z]{2,2}$
            gender:
              type: string
              title: gender
              description: Business person's gender.
              enum:
                - MALE
                - FEMALE
              example: MALE
            birth_details:
              $ref: '#/components/schemas/Birth-Details'
            address:
              $ref: '#/components/schemas/Business-Person-Address'
            tax_id_number:
              type: string
              title: tax_id_number
              minLength: 1
              maxLength: 128
              description: Tax id number.
              example: tax123456
            business_title:
              type: string
              title: business_title
              minLength: 1
              maxLength: 2048
              description: Business title.
              example: Director
            documents:
              type: array
              description: List of documents
              title: documents
              items:
                $ref: '#/components/schemas/Person-Document'
    Business:
      title: Business
      type: object
      description: Detailed information of the business for certification.
      required:
        - name
      properties:
        name:
          allOf:
            - $ref: '#/components/schemas/Name'
            - description: >-
                The full legal name of the business in English. Required for CN
                and HK.
              example: payment service provider
        name_in_local_language:
          type: string
          title: name_in_local_language
          minLength: 1
          maxLength: 128
          description: >-
            The full legal name of the business in the local language. Required
            for CN and HK.
          example: payment service provider
        establishment_date:
          allOf:
            - $ref: '#/components/schemas/Common-Date'
          title: establishment_date
          description: Company establishment date. Required for CN and HK.
        license_expiry_date:
          allOf:
            - $ref: '#/components/schemas/Common-Date'
          title: license_expiry_date
          description: >-
            Expiry date of company license; format yyyy-mm-dd. Fill in
            9999-12-31 for a long-term license. Required for CN. For HK, this is
            expiry date of business registration.
        address:
          $ref: '#/components/schemas/Business-Address'
        products_and_services_category:
          type: string
          title: products_and_services_category
          description: Products and services category. Required for CN and HK.
          example: KC02001008
          minLength: 1
          maxLength: 20
        tax_id_type:
          type: string
          title: tax_id_type
          description: Tax id type.
          enum:
            - EIN
            - SSN
            - VAT
            - TIN
            - UTR
          example: VAT
        tax_id_number:
          type: string
          title: tax_id_number
          minLength: 1
          maxLength: 128
          description: Tax id number.
          example: tax_id_number1111
        account_usage:
          type: array
          title: account_usage
          description: List of account usage. Required for CN and HK.
          items:
            $ref: '#/components/schemas/Account-Usage'
          minItems: 1
          maxItems: 25
        description:
          type: string
          title: description
          minLength: 1
          maxLength: 2048
          description: >-
            Description of the business. This is one of the three ways of
            proving the business.
          example: Selling products or purchasing raw materials on online platforms
        website:
          type: string
          title: website
          minLength: 1
          maxLength: 2048
          description: Website URL. This is one of the three ways of proving the business.
          example: http://www.company.cn
        business_proof_file_id:
          allOf:
            - $ref: '#/components/schemas/File-Id'
          title: business_proof_file_id
          description: File ID for a screenshot of the business website/dashboards.
          example: N1234567891011121314151622
        documents:
          type: array
          title: documents
          description: List of documents.
          items:
            $ref: '#/components/schemas/Document'
        business_persons:
          type: array
          title: business_persons
          description: List of business person.
          items:
            $ref: '#/components/schemas/Business-Person'
    Account-Usage:
      type: string
      title: account_usage
      description: >-
        Description of merchant's business purpose of using PSP account.
        Required for CN and HK.
      example: ONLINE_MARKETPLACE_TRADING
    Certification-Request:
      title: CertificationRequest
      description: >-
        Request body for submitting certification information for KYC
        verification.
      allOf:
        - $ref: '#/components/schemas/Certification-Common-Details'
        - type: object
          title: Certification-Request
          required:
            - country_code
            - merchant_ack
            - business
    Certification-Common-Details:
      title: CertificationCommonDetails
      type: object
      description: Certification details.
      properties:
        country_code:
          allOf:
            - $ref: '#/components/schemas/Country-Code'
          title: country_code
          description: Country code.
        merchant_ack:
          type: string
          title: merchant_ack
          description: >-
            Has the merchant signed the payment service provider service terms?
            YES or NO.
          enum:
            - 'YES'
            - 'NO'
          example: 'YES'
        business:
          $ref: '#/components/schemas/Business'
    Webhook-Certification:
      title: WebhookCertification
      description: Notification for certification status updates.
      allOf:
        - $ref: '#/components/schemas/Common-Error-Response'
        - type: object
          properties:
            business_name:
              type: string
              title: business_name
              minLength: 1
              maxLength: 256
              description: Business name in English.
              example: business name
            business_name_in_local_language:
              type: string
              title: business_name_in_local_language
              minLength: 1
              maxLength: 64
              description: Business name in local language.
              example: business name in local
    Get-Certification-Response:
      title: GetCertificationResponse
      description: >-
        Response body for retrieving certification details including KYC status
        and business information.
      allOf:
        - $ref: '#/components/schemas/Certification-Common-Details'
        - type: object
          title: Get-Certification-Response
          properties:
            status:
              allOf:
                - $ref: '#/components/schemas/Status'
              title: status
              description: >-
                The status of the certification. Allowed values PENDING_SAVED,
                PENDING_SUBMITTED, APPROVED, DECLINED, RFI_PENDING.
            message:
              type: string
              title: message
              minLength: 1
              maxLength: 500
              description: Description of certification status.
              example: KYC approved
            merchant_type:
              $ref: '#/components/schemas/Merchant-Type'
            product_code:
              type: string
              title: product_code
              description: Product code. Currently supports PAYMENT_CORE and ACQ_ONLINE.
              minLength: 1
              maxLength: 15
              example: PAYMENT_CORE
    Wallet-Activation-Request:
      title: WalletActivationRequest
      type: object
      description: Notification for wallet activation status update.
      required:
        - currency_code
        - bank_country_code
      properties:
        currency_code:
          allOf:
            - $ref: '#/components/schemas/Currency-Code'
          title: currency_code
          description: The currency code for the virtual account.
          example: USD
        bank_country_code:
          allOf:
            - $ref: '#/components/schemas/Country-Code'
          title: bank_country_code
          description: The country code of the bank issuing the virtual account.
    Sync-Response:
      title: SyncResponse
      type: object
      description: Acknowledgement.
      properties:
        status_details:
          $ref: '#/components/schemas/Status-Details'
    Virtual-Account:
      title: VirtualAccount
      type: object
      description: This field contains the detailed information of account.
      properties:
        type:
          type: string
          title: type
          description: Account type.
          enum:
            - SAVINGS
            - CURRENT
            - CHECKING
          example: CHECKING
        iban:
          type: string
          title: iban
          description: EU international bank account number.
          minLength: 1
          maxLength: 32
          example: SE1498203030437006071356
        holder_name:
          type: string
          title: holder_name
          description: >-
            Account holder's name. Normally equal to your account name. Note
            that some banks may return payment service provider in this field.
          minLength: 1
          maxLength: 256
          example: Carol Parisian
        currency_code:
          allOf:
            - $ref: '#/components/schemas/Currency-Code'
          title: currency_code
          description: Account currency code.
          example: HNL
    Bank:
      title: Bank
      type: object
      description: This field contains the detailed information of bank.
      properties:
        name:
          allOf:
            - $ref: '#/components/schemas/Name'
            - description: Bank name.
              minLength: 1
              maxLength: 255
              example: CITI Bank HongKong Branch
        code:
          type: string
          title: code
          description: Domestic bank code in the bank_location.
          minLength: 1
          maxLength: 32
          example: '37'
        branch_number:
          type: string
          title: branch_number
          description: Domestic branch code/ associate bank number in the bank_location.
          minLength: 1
          maxLength: 32
          example: '690'
        city:
          type: string
          title: city
          description: The city where the bank is located.
          minLength: 1
          maxLength: 128
          example: South Devyn
        address_line:
          type: string
          title: address_line
          description: The bank's detailed address.
          minLength: 1
          maxLength: 256
          example: Apt. 883
        postal_code:
          type: string
          title: postal_code
          description: Bank's postal or ZIP code.
          minLength: 1
          maxLength: 16
          example: '605826'
        country_code:
          allOf:
            - $ref: '#/components/schemas/Country-Code'
          title: country_code
          description: Country code.
        routing_number:
          type: string
          title: routing_number
          description: North American bank code.
          minLength: 1
          maxLength: 64
          example: '687869237'
        swift_code:
          type: string
          title: swift_code
          description: SWIFT code.
          minLength: 1
          maxLength: 64
          example: BETFSJGNJ8F
        sort_code:
          type: string
          title: sort_code
          description: UK bank sort code (6 digits).
          minLength: 1
          maxLength: 32
          example: '430391'
    Webhook-Wallet-Activation:
      title: WebhookWalletActivation
      description: Wallet activation notification for the status update.
      allOf:
        - $ref: '#/components/schemas/Wallet-Activation'
        - $ref: '#/components/schemas/Common-Error-Response'
        - type: object
          title: Webhook-Wallet-Activation
    Webhook-Error-Response:
      title: WebhookErrorResponse
      description: Details of error in the request.
      allOf:
        - $ref: '#/components/schemas/Common-Error-Response'
        - type: object
          properties:
            error_details:
              type: array
              description: List of error details
              title: error_details
              items:
                $ref: '#/components/schemas/Error-Detail'
    Common-Error-Response:
      title: CommonErrorResponse
      description: Details of error in the request.
      type: object
      properties:
        merchant_id:
          $ref: '#/components/schemas/Merchant-Id'
        status:
          allOf:
            - $ref: '#/components/schemas/Status'
          description: >-
            Status description. <br> Certification Webhook - Allowed values are
            APPROVED, DECLINED, RFI_PENDING. <br> Wallet Activation Webhook -
            Allowed values are AVAILABLE - account is available to be used;
            DECLINED - account application rejected; SUSPENDED - account is
            frozen; CLOSED - account is no longer available. <br> Link Account
            Webhook - Allowed values are AVAILABLE and DECLINED <br> Payment
            Webhook - Allowed values are SUCCESS, REJECTED. <br> Inbound Webhook
            - Allowed values is SUCCESS. <br> Transaction Reporting - PENDING,
            SUCCESS, REJECTED.
        message:
          $ref: '#/components/schemas/Message'
    Virtual-Account-Id:
      type: string
      title: Virtual-Account-Id
      description: Account ID for a specific virtual account.
      minLength: 1
      maxLength: 36
      example: R200801012359590001
    Wallet-Activation:
      title: WalletActivation
      type: object
      description: >-
        Response body containing wallet activation details and virtual account
        information.
      properties:
        virtual_account_id:
          $ref: '#/components/schemas/Virtual-Account-Id'
        virtual_account_number:
          type: string
          title: virtual_account_number
          description: Bank account number.
          minLength: 1
          maxLength: 64
          example: '38879371'
        account:
          $ref: '#/components/schemas/Virtual-Account'
        bank:
          $ref: '#/components/schemas/Bank'
    Get-Wallet-Activation:
      title: GetWalletActivation
      description: >-
        Response body containing wallet activation details and virtual account
        information.
      allOf:
        - $ref: '#/components/schemas/Wallet-Activation'
        - type: object
          properties:
            status:
              allOf:
                - $ref: '#/components/schemas/Status'
              title: status
              description: >-
                The status of wallet activation. PENDING - account is pending;
                AVAILABLE - account is available to be used; DECLINED - account
                application rejected; SUSPENDED - account is frozen; CLOSED -
                account is no longer available.
            message:
              $ref: '#/components/schemas/Message'
    Get-Wallet-Activation-Response:
      title: GetWalletActivationResponse
      description: Response body containing wallet and virtual account information.
      type: array
      items:
        $ref: '#/components/schemas/Get-Wallet-Activation'
    Get-Wallet-Balances:
      title: GetWalletBalances
      type: array
      description: Response body containing wallet balance information.
      items:
        $ref: '#/components/schemas/Wallet-Balance-Item'
    Wallet-Balance-Item:
      title: WalletBalanceItem
      type: object
[...]
