openapi: 3.2.0
info:
  title: WorldLink v3 API
  version: 3.0.0
  description: 'WorldLink is a complete cross-border payment and Foreign-Exchange (FX)

    service that allows you to perform payments in 135 currencies without having

    the need to maintain local currency accounts for each of them.'
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod/worldlinkservices
  description: production gateway url
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/worldlinkservices
  description: sandbox url
security:
- clientCredentials: []
tags:
- name: WorldLink v3
paths:
  /v3/payment/initiation:
    post:
      tags:
      - WorldLink v3
      summary: WorldLink Payment Initiation
      description: 'The CitiConnect WorldLink Payment Initiation endpoint allows users to perform payment initiation through their ERP/partner systems of choice.

        Content-Type: Supports application/xml:'
      operationId: paymentInitiation
      parameters:
      - name: client_id
        in: query
        description: Unique identifier created during the onboarding process.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      - name: payloadType
        in: header
        description: 'ISO XML type of input request payload. Supports "urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"

          '
        schema:
          type: string
          enum:
          - urn:iso:std:iso:20022:tech:xsd:pain.001.001.03
      requestBody:
        description: Contains the required fields of the ISOXML request body. The request body must be Base64 encoded and enclosed within the \<Request>\<paymentBase64> tags.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Request'
            example: <?xml version="1.0" encoding="utf-8"?><Document xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"><CstmrCdtTrfInitn><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>200</CtrlSum><InitgPty><Nm>MSA ILE DE FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><PmtInf><PmtInfId>Wire_SZD_FD_API_1401</PmtInfId><PmtMtd>TRF</PmtMtd><ReqdExctnDt>2022-09-22</ReqdExctnDt><Dbtr><Nm>MSA ILE DE FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtTrfTxInf><PmtId><InstrId>JA2020072233</InstrId><EndToEndId>SM22557799</EndToEndId></PmtId><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><Amt><InstdAmt Ccy="EUR">200</InstdAmt></Amt><ChrgBr>SHAR</ChrgBr><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene Bank Name</Nm><PstlAdr><StrtNm>Wellsprings Renaissanc</StrtNm><BldgNb>Building No 02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
            examples:
              Payment-Initiation-Request-Json:
                $ref: '#/components/examples/Payment-Initiation-Request-Json'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Payment-Initiation-Response-Xml:
                  value: <?xml version="1.0" encoding="utf-8"?><Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrPmtStsRpt><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><InitgPty><Nm>MSA ILE DE FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>Wire_SZD_API_1401</OrgnlMsgId><OrgnlMsgNmId>Pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2020-02-20T09:30:47</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><OrgnlCtrlSum>200</OrgnlCtrlSum></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>Wire_SZD_FD_API_1401</OrgnlPmtInfId><TxInfAndSts><OrgnlInstrId>JA2020072233</OrgnlInstrId><OrgnlEndToEndId>SM22667799</OrgnlEndToEndId><TxSts>ACCP</TxSts><OrgnlTxRef><Amt><InstdAmt Ccy="EUR">200</InstdAmt></Amt><ReqdExctnDt>2022-09-30</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf><Dbtr><Nm>MSA ILE DE FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene Bank Name</Nm><PstlAdr><StrtNm>Wellsprings Renaissanc</StrtNm><BldgNb>Building No 02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Payment-Initiation-Response-Json:
                  $ref: '#/components/examples/Payment-Initiation-Response-Json'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <response><status>400</status><message>Mismatch of WorldLink Client ID or Client ID not maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: Mismatch of WorldLink client ID or client ID is not maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth Token</httpMessage><moreInformation>Please use valid OAuth Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: This server could not verify that you are authorized to access the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>404</httpCode><httpMessage>Not Found</httpMessage><moreInformation>No resources match requested URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>405</httpCode><httpMessage>Method Not Allowed</httpMessage><moreInformation>The method is not allowed for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>415</httpCode><httpMessage>Unsupported Media Type</httpMessage><moreInformation>Unsupported Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <Response><status>500</status><message>Unable to process your request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
  /v3/fx/raterequest:
    post:
      tags:
      - WorldLink v3
      summary: WorldLink FX Rate Inquiry
      description: The CitiConnect WorldLink FX Rate Inquiry endpoint allows users to get updates on the present FX Rate details along with the rate expiry date, time, and Rate Quote ID, accelerating FX transactions.
      operationId: processRateRequest
      parameters:
      - name: client_id
        in: query
        description: Unique identifier created during the onboarding process.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IFXRequest-FX-Rate'
            examples:
              Fx-Rate-Request-Json:
                $ref: '#/components/examples/Fx-Rate-Request-Json'
          application/xml:
            schema:
              $ref: '#/components/schemas/IFXRequest-FX-Rate'
            example: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IFX xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="CTSI.xsd"><SignonRq><ClientDt>2025-12-17T05:21:02</ClientDt><CustLangPref>ENGLISH</CustLangPref><ClientApp><Org>KIWIBANK</Org><Name>CTSI INTERFACE</Name><Version>1.0</Version></ClientApp></SignonRq><BankSvcRq><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><ForExRateInqRq><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><CustId><SPName>CTSI</SPName><CustPermId>391310001</CustPermId></CustId><DepAcctId><AcctId>9999999999</AcctId><AcctType>KB</AcctType><BankInfo/></DepAcctId><RemitAmt>200.00</RemitAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><ForExRateType>Indicated</ForExRateType><ForExRateDealType>SELL</ForExRateDealType><ForExValDtType>Spot</ForExValDtType><DeliveryMethod>DEALID16</DeliveryMethod></ForExRateInqRq></BankSvcRq></IFX>
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFXResponse-FX-Rate'
              examples:
                Fx-Rate-Response-Json:
                  $ref: '#/components/examples/Fx-Rate-Response-Json'
            application/xml:
              schema:
                $ref: '#/components/schemas/IFXResponse-FX-Rate'
              example: '<IFX xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="CTSI.xsd"><BankSvcRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000 : Rate returned</StatusDesc></Status><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><ForExRateInqRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000 : Rate returned</StatusDesc></Status><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><RemitAmt>200.00</RemitAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><DepAcctId><AcctId>9999999999</AcctId><AcctType>KB</AcctType><BankInfo/></DepAcctId><ForExRateRec><ForExRateInfo><RemitAmt>200.000</RemitAmt><IssueAmt>1473.140</IssueAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><CurRate>7.36570000</CurRate><CurConvertRule>Direct</CurConvertRule><ExpDt>2025-12-17T01:19:47</ExpDt><SPRefId>XML56EPA</SPRefId></ForExRateInfo><ForExValDt>2025-12-19</ForExValDt></ForExRateRec></ForExRateInqRs></BankSvcRs></IFX>'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <response><status>400</status><message>Mismatch of WorldLink Client ID or Client ID not maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: Mismatch of WorldLink client ID or client ID is not maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth Token</httpMessage><moreInformation>Please use valid OAuth Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: This server could not verify that you are authorized to access the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>404</httpCode><httpMessage>Not Found</httpMessage><moreInformation>No resources match requested URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>405</httpCode><httpMessage>Method Not Allowed</httpMessage><moreInformation>The method is not allowed for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>415</httpCode><httpMessage>Unsupported Media Type</httpMessage><moreInformation>Unsupported Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <Response><status>500</status><message>Unable to process your request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
  /v3/fx/bookfx:
    post:
      tags:
      - WorldLink v3
      summary: WorldLink FX Booking
      description: 'The CitiConnect WorldLink FX Booking endpoint allows you to book FX deals according to rate quotes received through CitiConnect FX Rate Inquiry for available currency combinations.


        **Content Type:** Supports application/xml or application/json.


        **Authorization:** The OAuth Token prefixed with Bearer and space in between.


        **Request:** For more information on specific field mappings, please refer to Customized IFX XML standards.'
      operationId: bookFx
      parameters:
      - name: client_id
        in: query
        description: Unique identifier created during the onboarding process.
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Supports \"application/xml\" and \"application/json\".
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The OAuth Token prefixed with "Bearer" and space in between.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IFXRequest-Book-FX'
            examples:
              Book-Fx-Request-Json:
                $ref: '#/components/examples/Book-Fx-Request-Json'
          application/xml:
            schema:
              $ref: '#/components/schemas/IFXRequest-Book-FX'
            example: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IFX xmlns="http://com.citi.citiconnect/services/types/worldlinkservices/bookfx/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SignonRq><ClientDt>2025-12-17T05:21:03</ClientDt><CustLangPref>ENGLISH</CustLangPref><ClientApp><Org>KIWIBANK</Org><Name>CTSI INTERFACE</Name><Version>1.0</Version></ClientApp></SignonRq><BankSvcRq><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><PrefPrice>N</PrefPrice><WLFlag>W</WLFlag><DealType>O</DealType><ForExRateDealAddRq><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><CustId><SPName>CTSI</SPName><CustPermId>391310001</CustPermId></CustId><ForExDealInfo><ForExRateDealType>SELL</ForExRateDealType><CurConvertRule>Direct</CurConvertRule><IssueCurCode>NOK</IssueCurCode><RemitAmt>200</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo></ForExRateDealAddRq></BankSvcRq></IFX>
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFXResponse-Book-FX'
              examples:
                Book-Fx-Response-Json:
                  $ref: '#/components/examples/Book-Fx-Response-Json'
            application/xml:
              schema:
                $ref: '#/components/schemas/IFXResponse-Book-FX'
              examples:
                value: '<IFX xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="CTSI.xsd"><BankSvcRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000 : Rate returned</StatusDesc></Status><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><PrefPrice>N</PrefPrice><WLFlag>W</WLFlag><DealType>O</DealType><ForExRateDealAddRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000 : Rate returned</StatusDesc></Status><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><ForExDealInfo><ForExRateDealType>SELL</ForExRateDealType><CurConvertRule>Direct</CurConvertRule><IssueCurCode>NOK</IssueCurCode><RemitAmt>200</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo><ForExDealRec><ForExDealId>AA2340101234515</ForExDealId><ForExDealInfo><CurRate>7.36570000</CurRate><CurConvertRule>Direct</CurConvertRule><IssueAmt>1473.140</IssueAmt><IssueCurCode>NOK</IssueCurCode><RemitAmt>200.000</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo></ForExDealRec></ForExRateDealAddRs></BankSvcRs></IFX>'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <response><status>400</status><message>Mismatch of WorldLink Client ID or Client ID not maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: Mismatch of WorldLink client ID or client ID is not maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth Token</httpMessage><moreInformation>Please use valid OAuth Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: This server could not verify that you are authorized to access the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>404</httpCode><httpMessage>Not Found</httpMessage><moreInformation>No resources match requested URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>405</httpCode><httpMessage>Method Not Allowed</httpMessage><moreInformation>The method is not allowed for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: <errormessage><httpCode>415</httpCode><httpMessage>Unsupported Media Type</httpMessage><moreInformation>Unsupported Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: <Response><status>500</status><message>Unable to process your request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
components:
  examples:
    Payment-Initiation-Request-Json:
      value:
        '@xmlns': urn:iso:std:iso:20022:tech:xsd:pain.001.001.03
        customer_credit_transfer_initiation:
          group_header:
            message_identification: Wire_SZD_API_1401
            creation_date_time: '2020-02-20T09:30:47'
            number_of_transactions: '1'
            control_sum: '200'
            initiating_party:
              name: MSA ILE DE FRANCE
              identification:
                organisation_identification:
                  other:
                  - identification: '583700001'
          payment_information:
          - payment_information_identification: Batch_211
            payment_method: TRF
            requested_execution_date: '2022-09-22'
            debtor:
              name: SPVA - Veterans Agency
              postal_address:
                address_type: ADDR
                country: FR
            debtor_account:
              identification:
                other:
                  identification: '1187390001'
              currency: USD
            debtor_agent:
              financial_institution_identification:
                bic: CITIGB2L
                name: ABCD
                other:
                  identification: '583700001'
            credit_transfer_transaction_information:
            - payment_identification:
                instruction_identification: MMSA27DECX028LUSEPA
                end_to_end_identification: SRWL2022092201
              payment_type_information:
                service_level:
                  code: SEPA
                category_purpose:
                  code: OTHR
              amount:
                equivalent_amount:
                  amount:
                    currency: EUR
                    $: '100'
                  currency_of_transfer: EUR
              charge_bearer: SHAR
              creditor_agent:
                financial_institution_identification:
                  bic: CITILULX
              creditor:
                name: Beneficiaryname011231234567890123455
                postal_address:
                  address_type: DLVY
                  department: Dept00001
                  sub_department: Subdept001
                  street_name: Streetname001
                  building_number: buildngno12
                  post_code: pstlcode01
                  town_name: town001
                  country_sub_division: ctrysub001
                  country: LU
                country_of_residence: FR
                contact_details:
                  name_prefix: MIST
                  name: dhgdfh
              creditor_account:
                identification:
                  iban: LU820340000201472001
                type:
                  code: SVGS
                name: BB
              remittance_information:
                unstructured:
                - '12796190145799300'
    Book-Fx-Request-Json:
      value:
        '@xmlns': http://com.citi.citiconnect/services/types/worldlinkservices/bookfx/v1
        SignonRq:
          ClientDt: '2025-12-17T05:21:02'
          CustLangPref: ENGLISH
          ClientApp:
            Org: KIWIBANK
            Name: CTSI INTERFACE
            Version: '1.0'
        BankSvcRq:
        - RqUID: 99dc17a3-6bbf-4310-973a-a369e5
          PrefPrice: N
          WLFlag: W
          DealType: O
          ForExRateDealAddRq:
          - RqUID: 99dc17a3-6bbf-4310-973a-a369e50
            CustId:
              SPName: CTSI
              CustPermId: 085370001
            ForExDealInfo:
              ForExRateDealType: Sell
              CurConvertRule: Direct
              IssueCurCode: INR
              RemitAmt: '3'
              RemitCurCode: USD
              SPRefId: XML56EQB
    Fx-Rate-Request-Json:
      value:
        SignonRq:
          ClientDt: '2020-02-25T05:21:02'
          CustLangPref: ENGLISH
          ClientApp:
            Name: CTSI INTERFACE
            Org: ABCDBANK
            Version: '1.0'
        BankSvcRq:
        - RqUID: 99dc17a3-6bbf-4310-973a-a369e5
          ForExRateInqRq:
          - RqUID: 99dc17a3-6bbf-4310-973a-a369e50
            CustId:
              CustPermId: 085370001
              SPName: CTSI
            DepAcctId:
              AcctId: '9999999999'
              AcctType: SD
              BankInfo: {}
            RemitAmt: '3.00'
            RemitCurCode: USD
            IssueCurCode: INR
            ForExRateType: Indicated
            ForExRateDealType: Sell
            ForExValDtType: SPOT
    Book-Fx-Response-Json:
      value:
        IFX:
          xmlns:xsi: http://www.w3.org/2001/XMLSchema-instance
          xsi:noNamespaceSchemaLocation: CTSI.xsd
          BankSvcRs:
            Status:
              StatusDesc: '000 : Rate returned'
              Severity: NONE
              StatusCode: PROCESSED
            RqUID: 99dc17a3-6bbf-4310-973a-a369e5
            PrefPrice: N
            WLFlag: W
            DealType: O
            ForExRateDealAddRs:
              Status:
                StatusDesc: '000 : Rate returned'
                Severity: NONE
                StatusCode: PROCESSED
              RqUID: 99dc17a3-6bbf-4310-973a-a369e50
              ForExDealInfo:
                RemitAmt: 3
                ForExRateDealType: Sell
                RemitCurCode: USD
                CurConvertRule: Direct
                IssueCurCode: INR
                SPRefId: XML5CNYP
              ForExDealRec:
                ForExDealInfo:
                  IssueAmt: 285.54
                  RemitAmt: 3
                  ForExUnw: 2026-05-08-08.50.01
                  CurRate: 95.18
                  RemitCurCode: USD
                  CurConvertRule: Direct
                  IssueCurCode: INR
                  SPRefId: XML5CNYP
                ForExDealId: AA5663101573228
    Payment-Initiation-Response-Json:
      value:
        '@xmlns': urn:iso:std:iso:20022:tech:xsd:pain.002.001.03
        customer_payment_status_report:
          group_header:
            message_identification: msg1018-DR011
            creation_date_time: '2019-12-27T09:30:47'
            initiating_party:
              name: Vaibhav
              identification:
                organisation_identification:
                  other:
                  - identification: '583700001'
          original_group_information_and_status:
            original_message_identification: msg1018-DR011
            original_message_name_identification: Pain.001.001.03
            original_creation_date_time: '2019-12-27T09:30:47'
            original_number_of_transactions: '1'
            original_control_sum: '100'
          original_payment_information_and_status:
          - original_payment_information_identification: Batch_211
            transaction_information_and_status:
            - original_instruction_identification: MMSA27DECX028LUSEPA
              original_end_to_end_identification: SRWL2022092901
              transaction_status: ACCP
              original_transaction_reference:
                amount:
                  equivalent_amount:
                    amount:
                      currency: EUR
                      $: '100'
                    currency_of_transfer: EUR
                requested_execution_date: '2022-09-30'
                payment_type_information:
                  service_level:
                    code: SEPA
                  category_purpose:
                    code: OTHR
                payment_method: TRF
                remittance_information:
                  unstructured:
                  - FID 2345678909123456
                  - PMT Detail 212312345678901234567890
                  - PMT Detail 312312345678901234567890
                  - PMT Detail 412312345678901234567890
                debtor:
                  name: SPVA - Veterans Agency
                  postal_address:
                    address_type: ADDR
                    country: FR
                debtor_account:
                  identification:
                    other:
                      identification: '1187390001'
                  currency: USD
                debtor_agent:
                  financial_institution_identification:
                    bic: CITIGB2L
                    name: ABCD
                    other:
                      identification: '583700001'
                creditor_agent:
                  financial_institution_identification:
                    bic: CITILULX
                creditor:
                  name: Beneficiaryname011231234567890123455
                  postal_address:
                    address_type: DLVY
                    department: Dept00001
                    sub_department: Subdept001
                    street_name: Streetname001
                    building_number: buildngno12
                    post_code: pstlcode01
                    town_name: town001
                    country_sub_division: ctrysub001
                    country: LU
                  country_of_residence: FR
                  contact_details:
                    name_prefix: MIST
                    name: dhgdfh
                creditor_account:
                  identification:
                    iban: LU820340000201472001
                  type:
                    code: SVGS
                  name: BB
    Fx-Rate-Response-Json:
      value:
        IFX:
          xsi:noNamespaceSchemaLocation: CTSI.xsd
          BankSvcRs:
            Status:
              StatusDesc: '000 : Rate returned'
              Severity: NONE
              StatusCode: PROCESSED
            ForExRateInqRs:
              Status:
                StatusDesc: '000 : Rate returned'
                Severity: NONE
                StatusCode: PROCESSED
              RemitAmt: 3
              ForExRateRec:
                ForExValDt: '2025-12-19'
                ForExRateInfo:
                  RemitAmt: 3
                  IssueAmt: 267.81
                  CurRate: 89.27
                  RemitCurCode: USD
                  CurConvertRule: Direct
                  ExpDt: '2025-12-17T04:36:22'
                  IssueCurCode: INR
                  SPRefId: XML56EQB
              RemitCurCode: USD
              DepAcctId:
                AcctId: 9999999999
                AcctType: SD
                BankInfo: ''
              RqUID: 99dc17a3-6bbf-4310-973a-a369e50
              IssueCurCode: INR
            RqUID: 99dc17a3-6bbf-4310-973a-a369e5
          xmlns:xsi: http://www.w3.org/2001/XMLSchema-instance
  schemas:
    BankInfo:
      title: BankInfo
      type: object
      properties:
        bankId:
          maxLength: 34
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
          xml:
            name: BankId
            attribute: false
            wrapped: false
        bankIdType:
          minLength: 1
          type: string
          xml:
            name: BankIdType
            attribute: false
            wrapped: false
        branchId:
          maxLength: 22
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
          xml:
            name: BranchId
            attribute: false
            wrapped: false
        branchName:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: BranchName
            attribute: false
            wrapped: false
        city:
          maxLength: 35
          minLength: 1
          type: string
          xml:
            name: City
            attribute: false
            wrapped: false
        country:
          maxLength: 35
          minLength: 1
          type: string
          xml:
            name: Country
            attribute: false
            wrapped: false
        name:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        postAddr:
          $ref: '#/components/schemas/PostAddr'
        postalCode:
          maxLength: 35
          minLength: 1
          type: string
          xml:
            name: PostalCode
            attribute: false
            wrapped: false
        refInfo:
          type: array
          xml:
            name: RefInfo
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/RefInfo'
        stateProv:
          maxLength: 32
          minLength: 1
          type: string
          xml:
            name: StateProv
            attribute: false
            wrapped: false
      description: Only parameter need to be present in the message. Parameters under this block will be ignored.
    StatusReason6Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: Reason for the status, as published in an external reason code list.
        Prtry:
          type: object
          description: Reason for the status, in a proprietary form.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
      description: Specifies the reason for the status report. Either Code or Proprietary field value should be passed on request.
    AmountType3Choice:
      type: object
      properties:
        EqvtAmt:
          $ref: '#/components/schemas/EquivalentAmount2'
        InstdAmt:
          type: object
          description: Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party. Either EqvtAmt or InstdAmt field value should be passed on request.
    ActiveOrHistoricCurrencyAndAmount_SimpleType:
      maxLength: 18
      type: string
      description: 'The number of fractional digits (or minor unit of currency) must comply with ISO 4217. Note: The decimal separator is a dot.A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits should be 5.'
    SettlementMethod1Code:
      type: string
      description: 'Method used to settle the (batch of) payment instructions. <br><br><b>INDA</b> : Settlement is done by the agent instructed to execute a payment instruction. <br><br><b>INGA</b> : Settlement is done by the agent instructing and forwarding the payment to the next party in the payment chain. <br><br><b>COVE</b> : Settlement is done through a cover payment. <br><br><b>CLRG</b> : Settlement is done through a payment clearing system.'
      enum:
      - INDA
      - INGA
      - COVE
      - CLRG
    CreditorReferenceType1Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/DocumentType3Code'
        Prtry:
          type: object
          description: Creditor reference type, in a proprietary form.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
      description: Coded or proprietary format creditor reference type. Either Code or Proprietary field value should be passed on request.
    Max140Text:
      maxLength: 140
      minLength: 1
      type: string
    Error-Response:
      type: object
      properties:
        httpMessage:
          type: string
        httpCode:
          type: string
        moreInformation:
          type: string
      description: Error response body.
    Max35Text:
      maxLength: 35
      minLength: 1
      type: string
    ReferredDocumentInformation3:
      type: object
      properties:
        Nb:
          type: object
          description: Unique and unambiguous identification of the referred document.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        RltdDt:
          type: object
          description: Date associated with the referred document.
          allOf:
          - $ref: '#/components/schemas/ISODate'
        Tp:
          $ref: '#/components/schemas/ReferredDocumentType2'
    StatusReasonInformation8:
      type: object
      properties:
        Orgtr:
          type: object
          description: Party that issues the status.
          allOf:
          - $ref: '#/components/schemas/PartyIdentification32'
        Rsn:
          $ref: '#/components/schemas/StatusReason6Choice'
        AddtlInf:
          type: array
          description: Further details on the status reason.
          items:
            $ref: '#/components/schemas/Max105Text'
    DateAndPlaceOfBirth:
      required:
      - BirthDt
      - CityOfBirth
      - CtryOfBirth
      type: object
      properties:
        BirthDt:
          type: object
          description: Date on which a person is born.
          allOf:
          - $ref: '#/components/schemas/ISODate'
        PrvcOfBirth:
          type: object
          description: Province where a person was born.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        CityOfBirth:
          type: object
          description: City where a person was born.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        CtryOfBirth:
          type: object
          description: Country where a person was born.
          allOf:
          - $ref: '#/components/schemas/CountryCode'
      description: Date and place of birth of a person.
    StructuredRemittanceInformation7:
      type: object
      properties:
        AddtlRmtInf:
          maxItems: 3
          type: array
          description: Additional information, in free text form, to complement the structured remittance information.
          items:
            $ref: '#/components/schemas/Max140Text'
        CdtrRefInf:
          $ref: '#/components/schemas/CreditorReferenceInformation2'
        Invcee:
          type: object
          description: Identification of the party to whom an invoice is issued, when it is different from the debtor or ultimate debtor.
          allOf:
          - $ref: '#/components/schemas/PartyIdentification32'
        Invcr:
          type: object
          description: Identification of the organisation issuing the invoice, when it is different from the creditor or ultimate creditor.
          allOf:
          - $ref: '#/components/schemas/PartyIdentification32'
        RfrdDocAmt:
          $ref: '#/components/schemas/RemittanceAmount1'
        RfrdDocInf:
          type: array
          description: Set of elements used to identify the documents referred to in the remittance information.
          items:
            $ref: '#/components/schemas/ReferredDocumentInformation3'
    ActiveOrHistoricCurrencyCode:
      pattern: '[A-Z]{3,3}'
      type: string
    Response:
      type: object
      properties:
        correlationId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
        message:
          type: string
        status:
          maxLength: 3
          type: string
          description: Error response code
    Max15NumericText:
      pattern: '[0-9]{1,15}'
      type: string
    RemittanceAmount1:
      type: object
      properties:
        AdjstmntAmtAndRsn:
          type: array
          description: Set of elements used to provide information on the amount and reason of the document adjustment.
          items:
            $ref: '#/components/schemas/DocumentAdjustment1'
        CdtNoteAmt:
          type: object
          description: Amount specified for the referred document is the amount of a credit note.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        DscntApldAmt:
          type: object
          description: Amount of money that results from the application of an agreed discount to the amount due and payable to the creditor.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        DuePyblAmt:
          type: object
          description: Amount specified is the exact amount due and payable to the creditor.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        RmtdAmt:
          type: object
          description: Amount of money remitted for the referred document.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        TaxAmt:
          type: object
          description: Quantity of cash resulting from the calculation of the tax.
          allOf:
          - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: Set of elements used to provide details on the amounts of the referred document.
    Max16Text:
      maxLength: 16
      minLength: 1
      type: string
    MandateRelatedInformation6:
      type: object
      properties:
        MndtId:
          type: object
          description: Unique identification, as assigned by the creditor, to unambiguously identify the mandate.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        AmdmntInd:
          type: boolean
          description: Indicator notifying whether the underlying mandate is amended or not.
        AmdmntInfDtls:
          $ref: '#/components/schemas/AmendmentInformationDetails6'
        ElctrncSgntr:
          maxLength: 1025
          minLength: 1
          type: string
          description: Additional security provisions, such as a digital signature, as provided by the debtor.
        DtOfSgntr:
          type: string
          description: Date on which the direct debit mandate has been signed by the debtor.
          format: date
        FrstColltnDt:
          type: string
          description: Date of the first collection of a direct debit as per the mandate.
          format: date
        FnlColltnDt:
          type: string
          description: Date of the final collection of a direct debit as per the mandate.
          format: date
        Frqcy:
          $ref: '#/components/schemas/Frequency1Code'
      description: Set of elements used to provide further details of the mandate signed between the creditor and the debtor.
    SettlementInformation13:
      required:
      - SttlmMtd
      type: object
      properties:
        SttlmMtd:
          $ref: '#/components/schemas/SettlementMethod1Code'
        SttlmAcct:
          type: object
          description: A specific purpose account used to post debit and credit entries as a result of the transaction.
          allOf:
          - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgtAcct:
          type: object
          description: Unambiguous identification of the account of the instructing reimbursement agent account at its servicing agent in the payment chain.
          allOf:
          - $ref: '#/components/schemas/CashAccount16'
        InstdRmbrsmntAgtAcct:
          type: object
          description: Unambiguous identification of the account of the instructed reimbursement agent account at its servicing agent in the payment chain.
          allOf:
          - $ref: '#/components/schemas/CashAccount16'
        ThrdRmbrsmntAgtAcct:
          type: object
          description: Unambiguous identification of the account of the third reimbursement agent account at its servicing agent in the payment chain.
          allOf:
          - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgt:
          type: object
          description: Agent through which the instructing agent will reimburse the instructed agent.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        InstdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        ThrdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        ClrSys:
          $ref: '#/components/schemas/ClearingSystemIdentification3Choice'
      description: Specifies the details on how the settlement of the original transaction(s) between the instructing agent and the instructed agent was completed.
    PaymentTransactionInformation25:
      type: object
      properties:
        StsId:
          type: object
          description: Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the reported status.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlInstrId:
          type: object
          description: Unique identification, as assigned by the original instructing party for the original instructed party, to unambiguously identify the original instruction.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlEndToEndId:
          type: object
          description: Unique identification, as assigned by the original initiating party, to unambiguously identify the original transaction.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        TxSts:
          $ref: '#/components/schemas/TransactionIndividualStatus3Code'
        StsRsnInf:
          type: array
          description: Set of elements used to provide detailed information on the status reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        ChrgsInf:
          type: array
          description: Provides information on the charges related to the processing of the rejection of the instruction.
          items:
            $ref: '#/components/schemas/ChargesInformation5'
        AccptncDtTm:
          type: string
          description: Point in time when the payment order from the initiating party meets the processing conditions of the account servicing agent. This means that the account servicing agent has received the payment order and has applied checks such as authorisation, availability of funds.
          format: date-time
        AcctSvcrRef:
          type: object
          description: Unique reference, as assigned by the account servicing institution, to unambiguously identify the instruction.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        ClrSysRef:
          type: object
          description: Unique reference, as assigned by a clearing system, to unambiguously identify the instruction.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlTxRef:
          $ref: '#/components/schemas/OriginalTransactionReference13'
    ClearingSystemMemberIdentification2:
      required:
      - MmbId
      type: object
      properties:
        ClrSysId:
          type: object
          properties:
            Cd:
              maxLength: 5
              minLength: 1
              type: string
              description: It Specifies the clearing system identification code, as published in an external clearing system identification code list.
            Prtry:
              type: object
              description: Identification code for a clearing system, that has not yet been identified in the list of clearing systems.
              allOf:
              - $ref: '#/components/schemas/Max35Text'
          description: Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.Either from Code Or Proprietary is required
        MmbId:
          type: object
          description: Identification of a member of a clearing system.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
      description: Information used to identify a member within a clearing system.
    BranchData2:
      type: object
      properties:
        Id:
          type: object
          description: Unique and unambiguous identification of a branch of a financial institution.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        Nm:
          type: object
          description: Name by which an agent is known and which is usually used to identify that agent.
          allOf:
          - $ref: '#/components/schemas/Max140Text'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
      description: Identifies a specific branch of a financial institution.
    Max2048Text:
      maxLength: 2048
      minLength: 1
      type: string
    RefInfo:
      title: RefInfo
      type: object
      properties:
        refId:
          maxLength: 64
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
          xml:
            name: RefId
            attribute: false
            wrapped: false
        refType:
          minLength: 1
          type: string
          xml:
            name: RefType
            attribute: false
            wrapped: false
    DocumentType3Code:
      type: string
      description: 'Type of creditor reference, in a coded form.<br><br><b>RADM</b> : Document is a remittance advice sent separately from the current transaction. <br><br><b>RPIN</b> : Document is a linked payment instruction to which the current payment instruction is related, for example, in a cover scenario. <br><br><b>FXDR</b> : Document is a pre-agreed or pre-arranged foreign exchange transaction to which the payment transaction refers. <br><br><b>DISP</b> : Document is a dispatch advice. <br><br><b>PUOR</b> : Document is a purchase order <br><br><b>SCOR</b> : Document is a structured communication reference provided by the creditor to identify the referred transaction.'
      enum:
      - RADM
      - RPIN
      - FXDR
      - DISP
      - PUOR
      - SCOR
    Priority2Code:
      type: string
      description: 'Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the instruction.<br><br><b>HIGH</b> : Priority level is high. <br><br><b>NORM</b> : Priority level is normal.'
      enum:
      - HIGH
      - NORM
    IFXResponse-Book-FX:
      type: object
      description: Book Fx Response
      xml:
        name: IFX
      properties:
        BankSvcRs:
          type: object
          properties:
            Status:
              type: object
              properties:
                StatusCode:
                  maxLength: 35
                  type: string
                  description: "StatusCode as Per IFX XML. PROCESSED for code 000 and 120 (Rate returned and value date changed) FAILED for all other codes\n (Rejects)"
                Severity:
                  maxLength: 5
                  type: string
                  description: Error,Warn,Info. NONE for code 000, HIGH for all the other status codes.
                StatusDesc:
                  maxLength: 255
                  type: string
                  description: 'Text description for status code. <StatusDesc>991 : Application program abend has occurred</StatusDesc> <StatusDesc>000 : Rate Returned</StatusDesc>'
            RqUID:
              type: string
              description: Customer Ref No for the request.
              example: 99dc17a3-6bbf-4310-973a-a369e5
            PrefPrice:
              maxLength: 1
              type: string
              description: Preferred pricing indicator.<br>N - Default value for standard pricing. <br>Value must be 'W' for Alipay Wallet payments, 'E' for UPI Cards payment and ‘Z’ for Dandelion Wallet payments.
            BaseNo:
              maxLength: 10
              type: string
              description: FXLM Base Number. If provided this base number will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
            FXLMEntity:
              maxLength: 10
              type: string
              description: FXLM Entity. If provided this Entity will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
            WLFlag:
              maxLength: 1
              type: string
              description: Account processing and settlement. W - Standard WorldLink account processing and settlement<br>N- Bypass all WorldLink account processing and settlement. Pass the numeric detail TRN to FXLM.<br>O - Bypass all WorldLink account processing and settlement. Pass the OLR numeric sequence number as the TRN to FXLM.<br>If not provided default will be W.
            DealType:
              maxLength: 1
              type: string
              description: Deal type. Deal type- 'B' for all bench deals for bench fixing rates<br>Deal type- `Q` for all real time quoted rate deals This must be coordinated with QUOTED fixing type<br>Deal Type- 'O' book per OLR parameters<br>Default value will be O, if not provided.
            ForExRateDealAddRs:
              type: object
              properties:
                Status:
                  type: object
                  properties:
                    StatusCode:
                      maxLength: 35
                      type: string
                      description: "StatusCode as Per IFX XML. PROCESSED for code 000 and 120 (Rate returned and value date changed) FAILED for all other codes\n (Rejects)"
                    ServerStatusCode:
                      maxLength: 35
                      type: string
                      description: Backend Status Code
                    Severity:
                      maxLength: 5
                      type: string
                      description: Error,Warn,Info. NONE for code 000, HIGH for all the other status codes.
                    StatusDesc:
                      maxLength: 255
                      type: string
                      description: 'Text description for status code. <StatusDesc>991 : Application program abend has occurred</StatusDesc> <StatusDesc>000 : Rate Returned</StatusDesc>'
                RqUID:
                  maxLength: 35
                  type: string
                  description: Customer Ref No for the request. Header - Client Reference Number. Echoed from customer request.
                  example: 99dc17a3-6bbf-4310-973a-a369e5
                CustId:
                  type: object
                  properties:
                    SPName:
                      maxLength: 35
                      type: string
                      description: Always set to "CTSI".
                    CustPermId:
                      maxLength: 9
                      type: string
                      description: WL Client Number + WorldLink Branch Number. It is used to validate client id. Please note this will be same for all requests in a single message as per existing CMX flow.
                ResTime:
                  maxLength: 19
                  type: string
                  description: Date & Time when the response is generated
                ForExDealInfo:
                  type: object
                  properties:
                    ForExRateDealType:
                      maxLength: 4
                      minLength: 1
                      type: string
                      description: Buy or Sell. Default is Buy. Echoed from Customer Request.
                    ForExValDtType:
                      maxLength: 35
                      type: string
                      description: Daily, Spot or Future. Default value is Spot, if no value is provided.
                    ForExTnr:
                      maxLength: 2
                      type: string
                      description: Tenor value from frontend. Two Alphanumeric code for tenor.0 SP, TN, SD & BA. Conditional when FX request has Tenor listed as SD or TN or SP, OLR will book the FX and respond with the same requested tenor value. If the request is having BA as tenor value, OLR will determine tenor value either as SD or TN or SP based on FX availablity.
                    ForExValDt:
                      maxLength: 10
                      type: string
                      description: Value date required only if ForExValDtType is Future. Data type is "Date" as defined in IFX XML. FX contract Value Date mapped as yyyy-mm-dd. Value date is required if ForExValDtType is Future <br>GPP to map the value date if Client profile is set up for FX Request type as Value date
                    CurConvertRule:
                      maxLength: 35
                      type: string
                      description: Currency conversion method Direct/Indirect
                      enum:
                      - DIRECT
                      - INDIRECT
                      - INTERBANK
                    IssueAmt:
                      maxLength: 15
                      type: string
                      description: Amount to Buy or Sell. If IssueAmt is provided it means you are buying the currency.
                    IssueCurCode:
                      maxLength: 3
                      type: string
                      description: Issue Currency. It is an ISO currency code. It is mandatory field for rate request if issueAmt is provided and will be used for validating currency code.
                    RemitAmt:
                      maxLength: 15
                      type: string
                      description: Amount to Buy or Sell. If RemitAmt is provided it means you are selling the currency.
                    RemitCurCode:
                      maxLength: 3
                      type: string
                      description: Remit Currency. It is an ISO currency code. It is mandatory field for rate request if RemitAmt is provided and will be used for validating currency code.
                    SPRefId:
                      maxLength: 36
                      type: string
                      description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
                    DeliveryMethod:
                      maxLength: 35
                      type: string
                      description: DEALID6 or DEALID16
                ForExDealRec:
                  type: object
                  properties:
                    ForExDealId:
                      maxLength: 35
                      type: string
                      description: The commited FX contract ID. This element is present if the deal was ssuccessfully booked. Deal Id should be combination of Deal Number(6x) & OLR Deal Sequence number(9n).
                    ForExDealInfo:
                      type: object
                      properties:
                        ExpDt:
                          type: string
                          maxLength: 19
                          description: Contract Expiry Datetime. This is the expiry datetime for this contract. This may be a few minutes for a rate offer and may be few days for a committed rate.
                        CurRate:
                          type: number
                          description: FX Rate
                        CurConvertRule:
                          maxLength: 35
                          type: string
                          description: Currency conversion method Direct/Indirect
                          enum:
                          - DIRECT
                          - INDIRECT
                          - INTERBANK
                        IssueAmt:
                          maxLength: 15
                          type: string
                          description: Amount to Buy or Sell. If IssueAmt is provided it means you are buying the currency.
                        IssueCurCode:
                          maxLength: 3
                          type: string
                          description: Issue Currency. It is an ISO currency code. It is mandatory field for rate request if issueAmt is provided and will be used for validating currency code.
                        RemitAmt:
                          maxLength: 15
                          type: string
                          description: Amount to Buy or Sell. If RemitAmt is provided it means you are selling the currency.
                        RemitCurCode:
                          maxLength: 3
                          type: string
                          description: Remit Currency. It is an ISO currency code. It is mandatory field for rate request if RemitAmt is provided and will be used for validating currency code.
                        SPRefId:
                          maxLength: 36
                          type: string
                          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
                        BenchFixing:
                          maxLength: 20
                          type: string
                          description: Bench Fixing. Required only for Bench Deals
    CreditorReferenceInformation2:
      type: object
      properties:
        Ref:
          type: object
          description: Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        Tp:
          $ref: '#/components/schemas/CreditorReferenceType2'
      description: Reference information provided by the creditor to allow the identification of the underlying documents.
    OrganisationIdentification4:
      type: object
      properties:
        BICOrBEI:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".
        Othr:
          type: array
          description: Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          items:
            $ref: '#/components/schemas/GenericOrganisationIdentification1'
      description: Unique and unambiguous way to identify an organisation.
    IFXRequest-Book-FX:
      type: object
      description: Book FX Request
      xml:
        name: IFX
      required:
      - SignonRq
      - BankSvcRq
      properties:
        SignonRq:
          required:
          - ClientDt
          - CustLangPref
          - ClientApp
          type: object
          properties:
            ClientDt:
              maxLength: 19
              type: string
              description: 'Customer date and time for the message. Format: Header -Date/Time ''yyyy-mm-ddThh:mm:ss''. Will be stored for use in service related issues.'
              example: '2017-08-30T05:21:02'
            CustLangPref:
              maxLength: 35
              type: string
              description: Always set to "ENGLISH". Only English language is supported. Value in this parameter will be ignored.
              example: ENGLISH
            ClientApp:
              required:
              - Name
              - Org
              - Version
              type: object
              properties:
                Name:
                  maxLength: 140
                  type: string
                  description: Customer System application name. CTSI INTERFACE/ GPP would map this as default - GPP
                Org:
                  maxLength: 140
                  type: string
                  description: Customer System application manufacturer. CTSI INTERFACE/ GPP would map this as default - GPP
                Version:
                  maxLength: 3
                  type: string
                  description: 'Customer system application version. '
        BankSvcRq:
          type: array
          description: Bank Service Request for Book FX
          items:
            required:
            - RqUID
            - ForExRateDealAddRq
            type: object
            properties:
              RqUID:
                maxLength: 35
                type: string
                description: Customer Ref No for the BankSvcRq request.Needs to be unique.
                example: 99dc17a3-6bbf-4310-973a-a369e5
              PrefPrice:
                maxLength: 1
                type: string
                description: Preferred pricing indicator.<br>N - Default value for standard pricing. <br>Value must be 'W' for Alipay Wallet payments, 'E' for UPI Cards payment and ‘Z’ for Dandelion Wallet payments.
              BaseNo:
                maxLength: 10
                type: string
                description: FXLM Base Number. If provided this base number will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
              FXLMEntity:
                maxLength: 10
                type: string
                description: FXLM Entity. If provided this Entity will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
              WLFlag:
                maxLength: 1
                type: string
                description: Account processing and settlement. W - Standard WorldLink account processing and settlement<br>N- Bypass all WorldLink account processing and settlement. Pass the numeric detail TRN to FXLM.<br>O - Bypass all WorldLink account processing and settlement. Pass the OLR numeric sequence number as the TRN to FXLM.<br>If not provided default will be W.
              DealType:
                maxLength: 1
                type: string
                description: Deal type. Deal type- 'B' for all bench deals for bench fixing rates<br>Deal type- `Q` for all real time quoted rate deals This must be coordinated with QUOTED fixing type<br>Deal Type- 'O' book per OLR parameters<br>Default value will be O, if not provided.
              ForExRateDealAddRq:
                type: array
                description: Book FX Deal Add request array.
                items:
                  required:
                  - RqUID
                  - CustId
                  - ForExDealInfo
                  type: object
                  properties:
                    RqUID:
                      maxLength: 35
                      type: string
                      description: Customer Ref No for this ForExRateDealAddRq block. Can be the same as reference for Rate request.
                      example: 99dc17a3-6bbf-4310-973a-a369e5
                    CustId:
                      required:
                      - CustPermId
                      - SPName
                      type: object
                      properties:
                        SPName:
                          maxLength: 35
                          type: string
                          description: Always set to "CTSI".
                        CustPermId:
                          maxLength: 9
                          type: string
                          description: WL Client Number + WorldLink Branch Number. It is used to validate client id. Please note this will be same for all requests in a single message as per existing CMX flow.
                    ForExDealInfo:
                      description: Deal Info request.
                      type: object
                      required:
                      - CurConvertRule
                      - IssueCurCode
                      - RemitCurCode
                      - SPRefId
                      properties:
                        ForExRateDealType:
                          maxLength: 4
                          type: string
                          description: Buy or Sell. Default is Buy.
                        ForExValDtType:
                          maxLength: 35
                          type: string
                          description: Daily, Spot or Future. Default value is Spot, if no value is provided.
                        ForExTnr:
                          maxLength: 2
                          type: string
                          description: Tenor value from frontend. Two Alphanumeric code for tenor.0 SP, TN, SD & BA. Conditional when FX request has Tenor listed as SD or TN or SP, OLR will book the FX and respond with the same requested tenor value. If the request is having BA as tenor value, OLR will determine tenor value either as SD or TN or SP based on FX availablity.
                        ForExValDt:
                          maxLength: 10
                          type: string
                          description: Value date required only if ForExValDtType is Future. Data type is "Date" as defined in IFX XML. FX contract Value Date mapped as yyyy-mm-dd. Value date is required if ForExValDtType is Future <br>GPP to map the value date if Client profile is set up for FX Request type as Value date
                        CurConvertRule:
                          maxLength: 35
                          type: string
                          description: Currency conversion method Direct/Indirect
                          enum:
                          - DIRECT
                          - INDIRECT
                          - INTERBANK
                        IssueAmt:
                          maxLength: 15
                          type: string
                          description: Amount to Buy or Sell. If IssueAmt is provided it means you are buying the currency.
                        IssueCurCode:
                          maxLength: 3
                          type: string
                          description: Issue Currency. It is an ISO currency code. It is mandatory field for rate request if issueAmt is provided and will be used for validating currency code.
                        RemitAmt:
                          maxLength: 15
                          type: string
                          description: Amount to Buy or Sell. If RemitAmt is provided it means you are selling the currency.
                        RemitCurCode:
                          maxLength: 3
                          type: string
                          description: Remit Currency. It is an ISO currency code. It is mandatory field for rate request if RemitAmt is provided and will be used for validating currency code.
                        ForExUnw:
                          type: string
                          description: Unwind time.
                        SPRefId:
                          maxLength: 36
                          type: string
                          description: Object identifiers in the IFX specification are of the data type "Identifier."  This is a narrow character data type with a maximum length of 36.
                        DeliveryMethod:
                          maxLength: 35
                          type: string
                          description: DEALID6 or DEALID16
    GroupHeader36:
      required:
      - CreDtTm
      - MsgId
      type: object
      properties:
        CreDtTm:
          type: string
          description: Date and time at which the message was created.
          format: date-time
        FwdgAgt:
          type: object
          description: Financial institution that receives the instruction from the initiating party and forwards it to the next agent in the payment chain.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        DbtrAgt:
          type: object
          description: Financial institution servicing an account for the debtor.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
          - $ref: '#/components/schemas/BranchAndFinancialInstitutionIdentification4'
        InitgPty:
          type: object
          description: Party that initiates the status message.
          allOf:
          - $ref: '#/components/schemas/PartyIdentification32'
        MsgId:
          maxLength: 35
          minLength: 1
          type: string
          description: Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
      description: Set of characteristics shared by all individual transactions included in the message.
    CreditDebitCode:
      type: string
      description: 'Specifies whether the adjustment must be subtracted or added to the total amount.<br><br><b>CRDT</b> : Operation is an increase. <br><br><b>DBIT</b> : Operation is a decrease.'
      enum:
      - CRDT
      - DBIT
    IFXRequest-FX-Rate:
      type: object
      description: FX Rate Request
      xml:
        name: IFX
      required:
      - SignonRq
      - BankSvcRq
      properties:
        SignonRq:
          required:
          - ClientDt
          - CustLangPref
          - ClientApp
          type: object
          properties:
            ClientDt:
              maxLength: 19
              type: string
              description: 'Customer date and time for the message. Format: Header -Date/Time ''yyyy-mm-ddThh:mm:ss''. Will be stored for use in service related issues.'
              example: '2017-08-30T05:21:02'
            CustLangPref:
              maxLength: 35
              type: string
              description: Always set to "ENGLISH". Only English language is supported. Value in this parameter will be ignored.
              example: ENGLISH
            ClientApp:
              type: object
              required:
              - Name
              - Org
              - Version
              properties:
                Name:
                  maxLength: 140
                  type: string
                  description: Customer System application name. CTSI INTERFACE/ GPP would map this as default - GPP
                Org:
                  maxLength: 140
                  type: string
                  description: Customer System application manufacturer. CTSI INTERFACE/ GPP would map this as default - GPP
                Version:
                  maxLength: 3
                  type: string
                  description: 'Customer system application version. '
        BankSvcRq:
          type: array
          description: Bank Service Request for FX Rate
          items:
            required:
            - RqUID
            - ForExRateInqRq
            type: object
            properties:
              RqUID:
                maxLength: 35
                type: string
                description: Customer Ref No for the BankSvcRq request.Needs to be unique.
                example: 99dc17a3-6bbf-4310-973a-a369e5
              PrefPrice:
                maxLength: 1
                type: string
                description: Preferred pricing indicator.<br>N - Default value for standard pricing. <br>Value must be 'W' for Alipay Wallet payments, 'E' for UPI Cards payment and ‘Z’ for Dandelion Wallet payments.
              BaseNo:
                maxLength: 10
                type: string
                description: FXLM Base Number. If provided this base number will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
              FXLMEntity:
                maxLength: 10
                type: string
                description: FXLM Entity. If provided this Entity will be passed to FXLM for pricing and settlement. Only one of <BaseNo> or <FXLMEntity> may be provided. If neither is present the OLR to base number configuration will be used. Echoed from customer request.
              WLFlag:
                maxLength: 1
                type: string
                description: Account processing and settlement. W - Standard WorldLink account processing and settlement<br>N- Bypass all WorldLink account processing and settlement. Pass the numeric detail TRN to FXLM.<br>O - Bypass all WorldLink account processing and settlement. Pass the OLR numeric sequence number as the TRN to FXLM.<br>If not provided default will be W.
              DealType:
                maxLength: 1
                type: string
                description: Deal type. Deal type- 'B' for all bench deals for bench fixing rates<br>Deal type- `Q` for all real time quoted rate deals This must be coordinated with QUOTED fixing type<br>Deal Type- 'O' book per OLR parameters<br>Default value will be O, if not provided.
              ForExRateInqRq:
                type: array
                description: FX Rate inquiry request array.
                items:
                  required:
                  - RqUID
                  - CustId
                  - DepAcctId
                  - RemitCurCode
                  - IssueCurCode
                  type: object
                  properties:
                    RqUID:
                      maxLength: 35
                      type: string
                      description: Customer Ref No for the request. Will be used to track individual ForExRateInqRq blocks. Needs to be unique.
                      example: 99dc17a3-6bbf-4310-973a-a369e5
                    CustId:
                      required:
                      - CustPermId
                      - SPName
                      type: object
                      properties:
                        SPName:
                          maxLength: 35
                          type: string
                          description: Always set to "CTSI".
                        CustPermId:
                          maxLength: 9
                          type: string
                          description: WL Client Number + WorldLink Branch Number. It is used to validate client id. Please note this will be same for all requests in a single message as per existing CMX flow.
                    DepAcctId:
                      required:
                      - AcctId
                      - AcctType
                      - BankInfo
                      type: object
                      properties:
                        AcctId:
                          maxLength: 35
                          minLength: 1
                          type: string
                          description: FROM account number. Not used. Echoed from Customer Request ForExRateInqRq
                        AcctType:
                          maxLength: 4
                          minLength: 1
                          type: string
                          description: FROM account type. Not used. Echoed from Customer Request ForExRateInqRq
                        BankInfo:
                          $ref: '#/components/schemas/BankInfo'
                    RemitAmt:
                      maxLength: 15
                      type: string
                      description: Amount to Buy or Sell. If RemitAmt is provided it means you are selling the currency.
                    IssueAmt:
                      maxLength: 15
                      type: string
                      description: Amount to Buy or Sell. If IssueAmt is provided it means you are buying the currency.
                    RemitCurCode:
                      maxLength: 3
                      type: string
                      description: Remit Currency. It is an ISO currency code. It is mandatory field for rate request if RemitAmt is provided and will be used for validating currency code.
                    IssueCurCode:
                      maxLength: 3
                      type: string
                      description: Issue Currency. It is an ISO currency code. It is mandatory field for rate request if issueAmt is provided and will be used for validating currency code.
                    CurConvertRule:
                      maxLength: 35
                      type: string
                      description: Currency conversion method Direct/Indirect
                      enum:
                      - DIRECT
                      - INDIRECT
                      - INTERBANK
                    ForExRateType:
                      maxLength: 35
                      type: string
                      description: If value is Indicated > Interactive and if the value is Committed, its Auto-accept.
                      enum:
                      - Indicated
                      - Committed
                    ForExRateDealType:
                      maxLength: 4
                      type: string
                      description: Buy or Sell. Default is Buy.
                    ForExValDtType:
                      maxLength: 35
                      type: string
                      description: Daily, Spot or Future. Default value is Spot, if no value is provided.
                    ForExTnr:
                      maxLength: 2
                      type: string
                      description: Tenor value from frontend. Two Alphanumeric code for tenor.0 SP, TN, SD & BA. Conditional when FX request has Tenor listed as SD or TN or SP, OLR will book the FX and respond with the same requested tenor value. If the request is having BA as tenor value, OLR will determine tenor value either as SD or TN or SP based on FX availablity.
                    ForExValDt:
                      maxLength: 10
                      type: string
                      description: "Value date required only if ForExValDtType is Future. Data type is\n  \"Date\" as defined in IFX XML. FX contract Value Date mapped as\nyyyy-mm-dd. Value date is required if ForExValDtType is Future <br>GPP to map the value date if Client profile is set up for FX Request type as Value date"
                    DeliveryMethod:
                      maxLength: 35
                      type: string
                      description: DEALID6 or DEALID16
                    PayAcct:
                      maxLength: 35
                      type: string
                      description: Citi Account held at Citi Branch routing id (valid Citi acct). This is only passed if requesting OLR to credit a source requested Citi account. Previous tag must also be sent in conjunction with this tag.
                    PayBrnch:
                      maxLength: 3
                      type: string
                      description: Citi Branch routing id (valid Citi Branch). This is only passed if requesting OLR to credit a source requested Citi account. Next tag must also be sent in conjunction with this tag.
                    RemitAcct:
                      maxLength: 35
                      type: string
                      description: Citi Account held at Citi Branch routing id (valid Citi acct). This is only passed if requesting OLR to debit a source requested Citi account. remitBrnch must also be sent.
                    RemitBrnch:
                      maxLength: 3
                      type: string
                      description: Citi Branch routing ID (valid Citi Branch). This is only passed if the requesting OLR to debit a source requested Citi account. RemitAcct must also be sent.
                    BenchFixing:
                      maxLength: 20
                      type: string
                      description: Bench Fixing. Required only for Bench Deals
    OriginalPaymentInformation1:
      required:
      - OrgnlPmtInfId
      type: object
      properties:
        OrgnlPmtInfId:
          type: object
          description: Unique identification, as assigned by the original sending party, to unambiguously identify the original payment information group.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlNbOfTxs:
          type: object
          description: Number of individual transactions contained in the original payment information group.
          allOf:
          - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: Total of all individual amounts included in the original payment information group, irrespective of currencies. The number of fractional digits should not be more than 17.
        PmtInfSts:
          type: object
          description: 'Specifies the status of the payment information group.<br><br><b>ACTC</b> : Authentication and syntactical and semantical validation are successful. <br><br><b>RCVD</b> : Payment initiation has been received by the receiving agent. <br><br><b>PART</b> : A number of transactions have been accepted, whereas another number of transactions have not yet achieved ''accepted'' status. <br><br><b>RJCT</b> : Payment initiation or individual transaction included in the payment initiation has been rejected.<br><br><b>PDNG</b> : Payment initiation or individual transaction included in the payment initiation is pending. Further checks and status update will be performed.<br><br><b>ACCP</b> : Preceding check of technical validation was successful. Customer profile check was also successful.<br><br><b>ACSP</b> : All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.<br><br><b>ACSC</b> : Settlement on the debtor''s account has been completed. Usage : this can be used by the first agent to report to the debtor that the transaction has been completed. Warning : this status is provided for transaction status reasons, not for financial information. It can only be used after bilateral agreement<br><br><b>ACWC</b> : Instruction is accepted but a change will be made, such as date or remittance not sent.'
          allOf:
          - $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: Set of elements used to provide detailed information on the status reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: Detailed information on the number of transactions for each identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
        TxInfAndSts:
          type: array
          description: Payment transaction information and status.
          items:
            $ref: '#/components/schemas/PaymentTransactionInformation25'
    OriginalGroupInformation20:
      required:
      - OrgnlMsgId
      - OrgnlMsgNmId
      type: object
      properties:
        OrgnlMsgId:
          type: object
          description: Point to point reference, as assigned by the original instructing party, to unambiguously identify the original message.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlMsgNmId:
          type: object
          description: Specifies the original message name identifier to which the message refers.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        OrgnlCreDtTm:
          type: string
          description: Date and time at which the original message was created.
          format: date-time
        OrgnlNbOfTxs:
          type: object
          description: Number of individual transactions contained in the original message.
          allOf:
          - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: Total of all individual amounts included in the original message, irrespective of currencies. The number of fractional digits should not be more than 17.
        GrpSts:
          $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: Set of elements used to provide detailed information on the status reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: Detailed information on the number of transactions for each identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
      description: Original group information concerning the group of transactions, to which the status report message refers to.
    OrganisationIdentificationSchemeName1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: Specifies the external organisation identification scheme name code in the format of character string with a maximum length of 4 characters.The list of valid codes is an external code list published separately.
        Prtry:
          maxLength: 35
          minLength: 1
          type: string
          description: Description for Proprietary
      description: Name of the identification scheme.Sets of elements to identify a name of the organisation identification scheme. Either Code or Proprietary is required
    GenericAccountIdentification1:
      required:
      - Id
      type: object
      properties:
        Id:
          maxLength: 34
          minLength: 1
          type: string
          description: Identification assigned by an institution.
        Issr:
          type: object
          description: Entity that assigns the identification.
          allOf:
          - $ref: '#/components/schemas/Max35Text'
        SchmeNm:
          type: object
          description: Name of the identification scheme.Either Code or Proprietary is required
          allOf:
          - $ref: '#/components/schemas/FinancialIdentificationSchemeName1Choice'
      description: Unique identification of an account, as assigned by the account servicer, using an identification scheme.
    ContactDetails2:
      type: object
      properties:
        EmailAdr:
          type: object
          description: Address for electronic mail (e-mail).
          allOf:
          - $ref: '#/components/schemas/Max2048Text'
        FaxNb:
          type: object
          description: Collection of information that identifies a FAX number, as defined by telecom services.
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
        MobNb:
          type: object
          description: Collection of information that identifies a mobile phone number, as defined by telecom services.
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
        Nm:
          type: object
          description: Name by which a party is known and which is usually used to identify that party.
          allOf:
          - $ref: '#/components/schemas/Max140Text'
        NmPrfx:
          $ref: '#/components/schemas/NamePrefix1Code'
        Othr:
          type: object
[...]
