openapi: 3.2.0
info:
  title: Payment Acceptance API
  description: 'Payment Acceptance API

    Update - April 28, 2026'
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
- url: https://tts.apib2b.citi.com/citiconnect/prod
  description: production gateway URL
- url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb
  description: sbox URL
- url: https://tts.sit.apib2b.citi.com/citiconnect/uat
  description: uat URL
tags:
- name: Payment-Acceptance
  description: Payment Acceptance API
paths:
  /digitalpayments/v1/payment-acceptance/methods:
    get:
      tags:
      - Payment-Acceptance
      summary: Payment Method Details
      description: Payment method details, merchant enabled payment method during onboarding details.
      operationId: getPayment-Method
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      - $ref: '#/components/parameters/Merchant-Id'
      security:
      - clientCredentials: []
      responses:
        '200':
          description: Payment method
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Method-Response'
              examples:
                Payment-Method:
                  $ref: '#/components/examples/Payment-Method'
        '400':
          $ref: '#/components/responses/Bad-Get-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance:
    post:
      tags:
      - Payment-Acceptance
      summary: Submit A Payment With Selected Payment Method
      description: Create a payment
      operationId: Payments
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      - $ref: '#/components/parameters/Idempotency-Id'
      - $ref: '#/components/parameters/Merchant-Post-Id'
      - $ref: '#/components/parameters/Post-Operation'
      - $ref: '#/components/parameters/Post-Country-Code'
      security:
      - clientCredentials: []
      requestBody:
        description: Payment Initiation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Request'
            examples:
              Brazil QR Creation Payment Request:
                $ref: '#/components/examples/Qrpix-Payment-Request-Example'
              US Alipay Payment Request:
                $ref: '#/components/examples/US-Alipay-Payment-Request-Example'
              US Trustly Payment Request:
                $ref: '#/components/examples/US-Trustly-Payment-Request-Example'
              US Card Payment Request With Card Details:
                $ref: '#/components/examples/US-Card-Payment-Request-Example'
              US Card Payment Request With Token Details:
                $ref: '#/components/examples/US-Card-Payment-Request-With-Token-Example'
              US Card Payment Request With Session Details:
                $ref: '#/components/examples/US-Card-Payment-Request-With-Session-Example'
              US Card Authorize Request With Card Details:
                $ref: '#/components/examples/US-Card-Authorize-Request-With-Card-Example'
              US Card Authorize Request With Token Details:
                $ref: '#/components/examples/US-Card-Authorize-Request-With-Token-Example'
              US Card Authorize Request With Session Details:
                $ref: '#/components/examples/US-Card-Authorize-Request-With-Session-Example'
              US Card Verify Request With Card Details:
                $ref: '#/components/examples/US-Card-Verify-Request-With-Card-Example'
              US Card Verify Request With Token Details:
                $ref: '#/components/examples/US-Card-Verify-Request-With-Token-Example'
              US Card Verify Request With Session Details:
                $ref: '#/components/examples/US-Card-Verify-Request-With-Session-Example'
              US Card Capture Request:
                $ref: '#/components/examples/US-Card-Capture-Request-Example'
              US Google Pay Capture Request:
                $ref: '#/components/examples/Us-Google-Pay-Capture-Request-Example'
              US Google Pay Verify With Card Request:
                $ref: '#/components/examples/Us-Google-Pay-Verify-With-Card-Request-Example'
              US Google Pay Verify With Session Request:
                $ref: '#/components/examples/Us-Google-Pay-Verify-With-Session-Request-Example'
              US Google Pay Verify With Token Request:
                $ref: '#/components/examples/Us-Google-Pay-Verify-With-Token-Request-Example'
              India Card Payment Request With Card Details:
                $ref: '#/components/examples/India-Card-Payment-With-Card-Request-Example'
              India Card Capture Payment Request:
                $ref: '#/components/examples/India-Card-Capture-Payment-Request-Example'
              India Card Payment Request With Token Details:
                $ref: '#/components/examples/India-Card-Token-Payment-Request-Example'
              India Card Authorize Request:
                $ref: '#/components/examples/India-Card-Authorize-Request-Example'
              India Token Authorize Request:
                $ref: '#/components/examples/India-Token-Authorize-Request-Example'
              UK PayByBank Payment Request:
                $ref: '#/components/examples/Uk-Payment-Request-Example'
              US RFP Payment Request:
                $ref: '#/components/examples/Us-Rfp-Request-Example'
              US ApplePay Payment With Card Request:
                $ref: '#/components/examples/US-Apple-Pay-Payment-With-Card-Request-Example'
              US ApplePay Payment With Token Request:
                $ref: '#/components/examples/US-Apple-Pay-Payment-With-Token-Request-Example'
              US ApplePay Payment With Session Request:
                $ref: '#/components/examples/US-Apple-Pay-Payment-With-Session-Request-Example'
              US ApplePay Authorize With Card Request:
                $ref: '#/components/examples/US-Apple-Pay-Authorize-With-Card-Request-Example'
              US ApplePay Authorize With Token Request:
                $ref: '#/components/examples/US-Apple-Pay-Authorize-With-Token-Request-Example'
              US ApplePay Authorize With Session Request:
                $ref: '#/components/examples/US-Apple-Pay-Authorize-With-Session-Request-Example'
              US Apple Pay Capture Request:
                $ref: '#/components/examples/Us-Apple-Pay-Capture-Request-Example'
              US Apple Pay Verify With Card Request:
                $ref: '#/components/examples/Us-Apple-Pay-Verify-With-Card-Request-Example'
              US Apple Pay Verify With Token Request:
                $ref: '#/components/examples/Us-Apple-Pay-Verify-With-Token-Request-Example'
              US Apple Pay Verify With Session Request:
                $ref: '#/components/examples/Us-Apple-Pay-Verify-With-Session-Request-Example'
              US GooglePay Payment Request With Card:
                $ref: '#/components/examples/Us-Google-Pay-Payment-Request-With-Card-Example'
              US GooglePay Payment Request With Token:
                $ref: '#/components/examples/Us-Google-Pay-Payment-Request-With-Token-Example'
              US GooglePay Payment Request With Session:
                $ref: '#/components/examples/Us-Google-Pay-Payment-Request-With-Session-Example'
              US GooglePay Authorize Request With Card:
                $ref: '#/components/examples/Us-Google-Pay-Authorize-Request-With-Card-Example'
              US GooglePay Authorize Request With Session:
                $ref: '#/components/examples/Us-Google-Pay-Authorize-Request-With-Session-Example'
              US GooglePay Authorize Request With Token:
                $ref: '#/components/examples/Us-Google-Pay-Authorize-Request-With-Token-Example'
              US Paypal Payment Request:
                $ref: '#/components/examples/US-Paypal-Payment-Request-Example'
              US Paypal Authorize Request:
                $ref: '#/components/examples/Us-Paypal-Authorize-Request-Example'
              US Paypal Capture Request:
                $ref: '#/components/examples/Us-Paypal-Capture-Request-Example'
              US ACH DirectDebit Payment Request CCD/PPD/WEB:
                $ref: '#/components/examples/Us-Ach-Direct-Debit-CCD-PPD-WEB-Request-Example'
              US ACH DirectDebit Payment Request IAT:
                $ref: '#/components/examples/Us-Ach-Direct-Debit-IAT-Request-Example'
              Brazil PIX Initiation Request:
                $ref: '#/components/examples/Brazil-PIX-Initiation-Request-Example'
              US ACH Payment Request:
                $ref: '#/components/examples/US-Ach-Pay-Payment-Request-Example'
      callbacks:
        payment-qr-created:
          $ref: '#/components/callbacks/Payment-Created-Status'
        payment-qr-failed:
          $ref: '#/components/callbacks/Payment-Failed-Status-Notification'
        payment-settled:
          $ref: '#/components/callbacks/Payment-Success-Status-Notification'
        payment-authorize-success:
          $ref: '#/components/callbacks/payment-Authorize-Success'
        payment-authorize-failed:
          $ref: '#/components/callbacks/payment-Authorize-Failed'
        payment-capture-success:
          $ref: '#/components/callbacks/Payment-Capture-Success'
        payment-capture-failed:
          $ref: '#/components/callbacks/Payment-Capture-Failed'
        payment-failed:
          $ref: '#/components/callbacks/Payment-Failed'
        payment-rfp-failed:
          $ref: '#/components/callbacks/Payment-Rfp-Failed'
        payment-rfp-success:
          $ref: '#/components/callbacks/Payment-Rfp-Success'
      responses:
        '200':
          description: OK
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Notification'
              examples:
                USCardPaymentResponse:
                  $ref: '#/components/examples/Card-Payment-Response-Example'
                IndiaCardPaymentResponse:
                  $ref: '#/components/examples/India-Card-Payment-Response-Example'
                USGooglepayPaymentResponse:
                  $ref: '#/components/examples/Googlepay-Payment-Response-Example'
                USApplepayPaymentResponse:
                  $ref: '#/components/examples/Applepay-Payment-Response-Example'
                USPaypalPaymentResponse:
                  $ref: '#/components/examples/Paypal-Payment-Response-Example'
                Payment-Uk-Link-Failed-Response:
                  $ref: '#/components/examples/Payment-Uk-Link-Failed-Notification'
                Payment-Uk-Link-Success-Response:
                  $ref: '#/components/examples/Payment-Uk-Link-Sucess-Notification'
                USAlipay-Link-Success-Response:
                  $ref: '#/components/examples/Alipay-Link-Sucess-Notification'
                USTrustly-Link-Success-Response:
                  $ref: '#/components/examples/Trustly-Link-Sucess-Notification'
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    get:
      tags:
      - Payment-Acceptance
      summary: Get Transaction Details
      description: Receive transaction status of the transaction for last 90 days using transaction ID provided during transaction creation or transaction end-to-end-id received in incoming credit notification.
      operationId: getpaymentstatus
      parameters:
      - $ref: '#/components/parameters/Client-Id'
      - $ref: '#/components/parameters/Get-Payment-End-To-End-Id'
      - $ref: '#/components/parameters/Type'
      - $ref: '#/components/parameters/Post-Country-Code'
      security:
      - clientCredentials: []
      responses:
        '200':
          description: Payment status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments-Response'
              examples:
                Brazil-Qr-Created-Status:
                  $ref: '#/components/examples/Qr-Created-Status'
                Brazil-Qr-Pending-Status:
                  $ref: '#/components/examples/Qr-Pending-Status'
                Brazil-Qr-Cancelled-Status:
                  $ref: '#/components/examples/Qr-Cancelled-Status'
                Brazil-Qr-Failed-Status:
                  $ref: '#/components/examples/Qr-Failed-Status'
                Brazil-Qr-Settled-Status:
                  $ref: '#/components/examples/Qr-Settled-Status'
                India-Upi-Settled-Status:
                  $ref: '#/components/examples/Payment-Success-Upi-Status'
                Brazil-Incoming-Credit-Settled-Status:
                  $ref: '#/components/examples/Payment-Success-Incoming-Brazil-PIX-Credit-Status-Notification'
                Brazil-Incoming-Credit-Failed-Status:
                  $ref: '#/components/examples/Payment-Failed-Incoming-Brazil-PIX-Credit-Status-Notification'
                UK-Pending-Status:
                  $ref: '#/components/examples/Uk-Pending-Status'
                UK-Failed-Status:
                  $ref: '#/components/examples/Uk-Failed-Status'
                UK-Settled-Status:
                  $ref: '#/components/examples/Uk-Settled-Status'
                US-RFP-Reject-Status:
                  $ref: '#/components/examples/Us-Rfp-Reject-Status-Example'
                US-RFP-Success-Status:
                  $ref: '#/components/examples/Us-Rfp-Success-Status-Example'
                Payment-Success-US-RFP-Status:
                  $ref: '#/components/examples/Payment-Success-Us-Rfp-Status'
                US-ACH-Direct-Debit-Status:
                  $ref: '#/components/examples/ACH-Direct-Debit-Status'
                US-Wire-Status:
                  $ref: '#/components/examples/US-Wire-Status'
                US-ACH-Status:
                  $ref: '#/components/examples/US-ACH-Status'
                Brazil-PIX-Status:
                  $ref: '#/components/examples/BR-PIX-Status'
                India-Card-Status:
                  $ref: '#/components/examples/India-Card-Status'
                US-Card-Status:
                  $ref: '#/components/examples/Us-Card-Status'
                US-Googlepay-Card-Status:
                  $ref: '#/components/examples/Us-Googlepay-Status'
                US-Applepay-Card-Status:
                  $ref: '#/components/examples/Us-Applepay-Status'
                US-Paypal-Card-Status:
                  $ref: '#/components/examples/Us-Paypal-Status'
                India-IMPS-Status:
                  $ref: '#/components/examples/India-IMPS-Status'
                Thailand-IP-Status:
                  $ref: '#/components/examples/Thailand-IP-Status'
                Australia-IP-Status:
                  $ref: '#/components/examples/Australia-IP-Status'
        '400':
          $ref: '#/components/responses/Bad-Get-Request2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/{id}:
    patch:
      tags:
      - Payment-Acceptance
      summary: Update a payment with selected payment method
      description: Update a payment.
      operationId: collectionUpdate
      parameters:
      - $ref: '#/components/parameters/Idempotency-Id'
      - $ref: '#/components/parameters/Client-Id'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/Merchant-Post-Id'
      - $ref: '#/components/parameters/Patch-Operation'
      requestBody:
        description: Update a payment with selected payment method.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Update-Request'
            examples:
              Brazil QR PIX Update Payment:
                $ref: '#/components/examples/Qrpix-Payment-Update-Request-Example'
              Brazil QR PIX Cancel Payment:
                $ref: '#/components/examples/Qrpix-Payment-Cancel-Request-Example'
              US Card Payment Request:
                $ref: '#/components/examples/US-Card-Payment-Update-Request-Example'
              US Card Update Authorize Request:
                $ref: '#/components/examples/US-Card-Authorize-Update-Request-Example'
              US Card Cancel Request:
                $ref: '#/components/examples/US-Card-Cancel-Request-Example'
              India Card Cancel Payment Request:
                $ref: '#/components/examples/India-Card-Cancel-Payment-Request-Example'
              Brazil PIX Cancellation Request:
                $ref: '#/components/examples/Brazil-PIX-Cancellation-Request-Example'
              US Paypal Payment Confirm Request:
                $ref: '#/components/examples/Paypal-Payment-Confirm-Request-Example'
              US Paypal Authorize Confirm Request:
                $ref: '#/components/examples/Paypal-Authorize-Confirm-Request-Example'
              US Paypal Update Authorize Request:
                $ref: '#/components/examples/Us-Paypal-Update-Authorize-Request-Example'
              US Paypal Cancel Request:
                $ref: '#/components/examples/Us-Paypal-Cancel-Request-Example'
              US GooglePay Update Authorize Request:
                $ref: '#/components/examples/Us-Google-Pay-Update-Authorize-Request-Example'
              US GooglePay Cancel Request:
                $ref: '#/components/examples/Us-Google-Pay-Cancel-Request-Example'
              US ApplePay Update Authorize Request:
                $ref: '#/components/examples/Us-Apple-Pay-Update-Authorize-Request-Example'
              US ApplePay Cancel Request:
                $ref: '#/components/examples/Us-Apple-Pay-Cancel-Request-Example'
      security:
      - clientCredentials: []
      callbacks:
        payment-qr-modified:
          $ref: '#/components/callbacks/Payment-Created-Status'
        payment-qr-cancelled:
          $ref: '#/components/callbacks/Payment-Cancelled-Status'
        payment-cancel-success:
          $ref: '#/components/callbacks/Payment-Cancel-Success'
        payment-cancel-failed:
          $ref: '#/components/callbacks/Payment-Cancel-Failed'
      responses:
        '200':
          description: Okay
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Notification'
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
components:
  examples:
    US-Card-Payment-Request-With-Token-Example:
      value:
        method:
          type: CARD
          token_id: 49be1a9f-a861-48ba-b603-d87248f4d5aa
          token_type: CITI_TOKEN
          card:
            cvv: '123'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    Us-Rfp-Request-Example:
      value:
        method:
          type: RTP
        transaction:
          id: e2e123456
          uetr: bea176bf-1d5d-48cc-88fb-1d0e06af43e7
          value_date: '2024-05-01'
          expiry_date: '2024-05-09'
          update_flag: Y
          amount: '500.00'
          currency_code: USD
          country_code: US
          full_amount: '500.00'
          discount_amount: '10.00'
          purpose: GDDS
          remittance_info: This is sample
          reference: 2017111202120020101BSTRF00000000011
        customer:
          account:
            number: '89770098'
            bank_id: ABC12345
            name: Josh
          name:
            first_name: Karl
          organization_id: GH4657
          birth_date: '2023-01-02'
          birth_city: New York
          birth_country: US
          address:
            street_name: 1212 4th Street
            building_number: A6378
            city: San Francisco
            state: CA
            postal_code: '70989'
            country_code: US
          type: BUSINESS
        merchant:
          account:
            number: '900900981'
            name: Mike
            bank_id: '89332'
          name: Yokal
          organization_id: AS2345
          birth_date: '2023-01-03'
          birth_city: New Ark
          birth_country: US
          phone_number: +1-555-123-4567
          address:
            street_name: 1212 7th Street
            building_number: V7839
            postal_code: '50098'
            city: New York
            state: CA
            country_code: US
        sender:
          name: Himan
          organization_id: AM2345
          birth_date: '2023-01-07'
          birth_city: New York
          birth_country: US
          private_id: PS89090
          address:
            street_name: 1345 4th Street
            building_number: B5829
            postal_code: '89934'
            city: Vegas
            state: CA
            country_code: US
        receiver:
          name: Pista
          organization_id: GH6785
          birth_date: '2023-07-07'
          birth_city: New York
          birth_country: US
          private_id: PB19090
          address:
            street_name: 4th Avenue
            building_number: G6178
            postal_code: '90213'
            city: New York
            state: CA
            country_code: US
    Trustly-Payment-Capture-Failed-Notification:
      value:
        method:
          type: TRUSTLY
        transaction:
          id: pay02052623456r
          amount: 200
          currency_code: USD
          status: FAILED
          description: Transaction failed for invalid payload
          reason_code: SC23456
          psp_reference: 23dsdsdsj
        order:
          id: ORD123456
    US-ACH-Status:
      value:
      - transaction:
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          creation_date_time: '2022-09-13T08:23:49.114Z'
          amount: 1015.5
          currency_code: USD
          status: SETTLED
          description: AC01 - Account Dormant
          network_id: '209323283934'
          value_date: '2025-03-17'
          remittance_info:
          - This is sample
          end_to_end_id: pay02052023456r
        customer:
          name:
            first_name: Smith
          account:
            number: '89770098'
            bank_id: ABC12345
            virtual_number: '91908009856'
          address:
            country_code: US
            postal_code: '31503'
            state: Georgia
            lines:
            - Street No 432, Church Street
        merchant:
          name: Smith
          account:
            number: '89770098'
            bank_id: ABC12345
            virtual_number: '91908009856'
          address:
            country_code: US
            postal_code: '31503'
            state: Georgia
            lines:
            - Street No 432, Church Street
    Payment-Failed-Australia-IP-Credit-Status-Notification:
      value:
        transaction:
          country_code: AU
          currency_code: AUD
          creation_date_time: '2022-09-13T08:22:49.112Z'
          status_date_time: '2022-09-13T08:23:49.112Z'
          end_to_end_id: RMTEST16SEP03
          settlement_date: '2022-09-13'
          status: FAILED
          description: Charge code is Invalid
          reason_code: FF01
          uetr: 7c6e36c0-8538-4309-afe2-535053df2a42
        method:
          type: IP
        merchant:
          account:
            number: 0100599074
            bank_id: TYEG6758
          name: ROLF RICHARDUS
        customer:
          account:
            bank_id: RSBKAU2SXXX
            number: '5589089'
          name:
            first_name: vopak terminals
    Us-Google-Pay-Cancel-Request-Example:
      value:
        transaction:
          id: ccapicardstestmk021826001
          target_transaction_id: ccapigpaytestmk1771319407
          currency_code: USD
          country_code: US
        method:
          type": GOOGLEPAY
        order:
          id: ccapigpaytestmk1771319407
    Payment-Success-India-IMPS-Credit-Status-Notification:
      value:
        transaction:
          end_to_end_id: r434SKtUcdGQ
          reference: NPCI123456789
          amount: 100
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          network_id: clr02052023478
          batch_id: batch12345
          value_date: '2022-09-07'
          creation_date_time: '2022-09-13T08:23:49.112Z'
          status_date_time: '2022-09-14T08:23:49.112Z'
          currency_code: INR
          status: SETTLED
          description: Transaction settled
          unstructured:
            remittance_info:
            - PURCHASED APPLE LAPTOP
            - PURCHASED ADDITIONAL SOFTWARE
        method:
          type: IMPS
        customer:
          name:
            first_name: Wilston
          account:
            number: '5564412'
            bank_id: SBININBB
          address:
            street_name: Church street
            building_number: '123'
            postal_code: '987654'
            city: Mumbai
            state: Maharashtra
            country: IN
        merchant:
          name: Hood
          account:
            number: '5564412'
            bank_id: SBININBB
          address:
            street_name: Brigade street
            building_number: '123'
            postal_code: '996252'
            city: Mumbai
            state: Maharashtra
            country: IN
    Payment-Uk-Link-Failed-Notification:
      value:
        transaction:
          id: pay02052623456r
          amount: 200
          currency_code: GBP
          status: FAILED
          description: Transaction failed for invalid payload
          creation_date_time: '2022-09-13T08:23:49.114Z'
          reference: PRDQWETY
          reason_code: SC90120
        order:
          id: ORD12345
    Us-Ach-Direct-Debit-IAT-Request-Example:
      value:
        method:
          type: ACH
          ach:
            sec_code: CCD
        transaction:
          country_code: US
          id: DEBIT1744297417
          value_date: '2024-05-01'
          amount: 0.01
          currency_code: USD
          reference: '1234567890'
        customer:
          account:
            number: '89770098'
            bank_id: 021000089
            bank_name: CITI
            bank_country_code: US
            type: CORPORATE_CHECKING
          name:
            first_name: Tracie Gallegosa
          address:
            street_name: brasil
            building_number: 12-108
            city: london
            state: NJ
            postal_code: '126644'
            country_code: US
        merchant:
          account:
            number: '100000000228'
            bank_id: 021000089
            bank_name: citi bank us
            bank_country_code: US
          name: Chris Topher
          organization_id: '1234567181'
          tax_id: '1234567812'
          address:
            street_name: brasil
            building_number: 12-108
            postal_code: '12644'
            city: london
            state: NJ
            country_code: US
        receiver:
          name: Will Smith
          organization_id: '12345678'
          address:
            street_name: brasil
            building_number: 12-108
            postal_code: '1234567890123456'
            city: london
            state: NJ
            country_code: US
        sender:
          organization_id: '10000000000000264'
    Us-Google-Pay-Authorize-Request-With-Card-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: GOOGLEPAY
          card:
            number: '4320445566778907'
            expiry_month: '12'
            expiry_year: '24'
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    India-Card-Authorize-Request-Example:
      value:
        method:
          type: CARD
          holder_name:
            first_name: kevin
            last_name: bob
          card:
            cvv: '123'
            number: '11223344556677'
            expiry_month: '10'
            expiry_year: '39'
        transaction:
          id: INDIA234568
          amount: 101
          currency_code: INR
          country_code: IN
        order:
          amount: 101
          currency_code: INR
    Qr-Created-Status:
      value:
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 305
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: CREATED
          description: The transaction has successfully been created
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
      - customer:
          id: 8415678edef
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2501
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 306
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: CREATED
          description: The transaction has successfully been created
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
    Bad-Request-Gateway-Error-Example:
      value:
        httpCode: '400'
        httpMessage: Bad Request
        moreInformation: please provide valid value for property emailAddress
    Paypal-Payment-Confirm-Request-Example:
      value:
        transaction:
          id: RFP99341778674913690215632
          currency_code: USD
          country_code: US
        order:
          id: ccapicards1744354454
          amount: 1000
          currency_code: USD
        method:
          type: PAYPAL
          paypal:
            browser_payment_operation: CONFIRM
    US-Apple-Pay-Authorize-With-Token-Request-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: APPLEPAY
          token_id: ' 5613dc38-ba17-446c-8c18-ae89f79de596'
          token_type: CITI_TOKEN
          card:
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    US-Apple-Pay-Authorize-With-Session-Request-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: APPLEPAY
          session_id: ad44b8bb-07ee-4a2c-ae84-3203d2e332af
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    Payment-Failed-Incoming-Brazil-PIX-Credit-Status-Notification:
      value:
        method:
          type: PIX
        customer:
          account:
            number: '97150300543944526009'
            bank_id: CITIBRXXX
            name: Jack
          tax_id: TAX123
          name:
            first_name: Jack
        merchant:
          account:
            number: '62080300543944526226'
            bank_id: '33479023'
            name: Kingston
          name: Kingston
          tax_id: TAX234
        transaction:
          end_to_end_id: 12345678dd
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          creation_date_time: '2024-09-13T08:23:49.114Z'
          country_code: BR
          currency_code: BRL
          value_date: '2025-03-10'
          amount: 800.21
          status: FAILED
          reason_code: AM02
          description: Transaction Failed
          status_date_time: '2024-05-26T08:20:49.114Z'
    Us-Google-Pay-Payment-Request-With-Token-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: GOOGLEPAY
          token_id: 5613dc38-ba17-446c-8c18-ae89f79de596
          token_type: CITI_TOKEN
          card:
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    Payment-Created-Notification:
      value:
        transaction:
          id: r434SKtUcdGQ
          expiry_time: 1500
          update_flag: Y
          update_count: 0
          status: PENDING
          description: Transaction pending action from customer
          creation_date_time: '2022-09-13T08:23:49.114Z'
          qr_byte_code: iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAYV0lEQVR4Xu3T26osu3JF0f3/P21jmMKmQa+QKlWbg8kO8TAuEaWci/XPf728vCT/aLy8vPwv73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD7z/QV5ePvD+B3l5+cD7H+Tl5QPvf5CXlw+8/0FeXj7w/gd5efnA+x/k5eUD73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD1z9D/LPP/98NdP+lNuzX1qme4spX9gr7VQu5lNP7VQu5lNPyhfv785Nrl7zobsz7U+5PfulZbq3mPKFvdJO5WI+9dRO5WI+9aR88f7u3OTqtdMH2p/0RPX1S+ubT1rffBf7dV+/8l2qrz/pwp7vrnyX0/4OV6+dPtD+pCeqr19a33zS+ua72K/7+pXvUn39SRf2fHflu5z2d7h6zQf64ZUXlU/3Jt/ZpfYmX61vLrWnfurXVG+X2vtWO+Y3uXrNB/ohlReVT/cm39ml9iZfrW8utad+6tdUb5fa+1Y75je5es0H+iGVly5frV8zUf3SNcXUM7enlikvas93VO9bvLerHfObXL3mA/2QykuXr9avmah+6Zpi6pnbU8uUF7XnO6r3Ld7b1Y75Ta5e84F+SOVSvnh3d57u1xSVn/oTvmca90qX7z2nmPKFPe9XfpOr13ygH1K5lC/e3Z2n+zVF5af+hO+Zxr3S5XvPKaZ8Yc/7ld/k6rXTB1a//MI/mPulawpz96aZqH7p8ovdvKYwL61vLuUXp/0drl47fWD1yy/8B3C/dE1h7t40E9UvXX6xm9cU5qX1zaX84rS/w9Vr/iF2x/1Xv/r/6tO5ydVrPnR33H/1q/+vPp2b3L32ED/UEf1Jlz/9zsK89krXSOX6lRe1N+WlHfNdTvv/Jv9Rr/IP7oj+pMuffmdhXnula6Ry/cqL2pvy0o75Lqf9f5Orr/JDpz+gI/pqme4t7J2Od3a1vrm+U73yT2e6M+X27J9Se/rT7z/h6jUfWA/XN7dXWqZ7C3un451drW+u71Sv/NOZ7ky5Pfun1J7+9PtPuHvtDx+qFnM/2LEn+qdapnyXulP+YsoX9pbWNy/ct1+++S72T++rb3D32h8+VC3m/mEce6J/qmXKd6k75S+mfGFvaX3zwn375ZvvYv/0vvoGd69BPbg+XC3uOfbUk1+52HeqV37NLrv96f7kVy5Tz3tOUT31TX5z9Y96+Lcf6p5jTz35lYt9p3rl1+yy25/uT37lMvW85xTVU9/k6lU/wIer9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aep9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aed6vJ3tX7ljuirpfLyT/GOepfTvW/77u36zsRu74Sr1/wgH3yqy9/V+pU7oq+Wyss/xTvqXU73vu27t+s7E7u9E65eu/1A75XWl+rpO1PvNJfJNy+tby6Tb17aMZddX134+7t7J1y9dvuB3iutL9XTd6beaS6Tb15a31wm37y0Yy67vrrw93f3Trh77Q8fWrqmeqI/6cKevzvNr/F31JO/mHKxrxbzpctXO/8J/OQVfmDpmuqJ/qQLe/7uNL/G31FP/mLKxb5azJcuX+38J3D1FX7gNNNe5aJ/S+uLeWlnyqv3Le6X1hfz3b3F1Ku8fmfSN7h6zQ+ZZtqrXPRvaX0xL+1MefW+xf3S+mK+u7eYepXX70z6Blev1QMnv/KFuXvm9k61fuXVm3C/7uiX1jeXya+xp3ZOcd87p/4Nrl6rB05+5Qtz98ztnWr9yqs34X7d0S+tby6TX2NP7ZzivndO/RtcveZDTx9ce6e++UTd0TefqP63fk1hXtoRc3vlT7m6uN074eo1/xCnD669U998ou7om09U/1u/pjAv7Yi5vfKnXF3c7p1w9druH2K3V0z7+jLlhfcde1J+Ufcn7Ktv+WqZ3l++VE9ffYOr1+oPUrr8iWlfX6a88L5jT8ov6v6EffUtXy3T+8uX6umrb3D12vQHKdyrfX21fs23vV0tleurxby0/pSrxfxb7VSuL6f+E65eqw+dcK/29dX6Nd/2drVUrq8W89L6U64W82+1U7m+nPpPuHsNpg93ptyxL/Z3Z9qvXCbfMZ90+RO7vcL9eo/5hL1JT/4NfnP1j/rD6e/mjn2xvzvTfuUy+Y75pMuf2O0V7td7zCfsTXryb3D1av2hyjdXTyPli73p7sKeI/ql9c2L3dzerm9ePf3Sp75apvwGV69Pfzh9c/U0Ur7Ym+4u7DmiX1rfvNjN7e365tXTL33qq2XKb/DT6/4h/SD90/HOri5/uu9ULuUvzEtPfuW7VF9/0kX1ypfVs1/+De5eAx/uB+ifjnd2dfnTfadyKX9hXnryK9+l+vqTLqpXvqye/fJvcPXa9NDy5fSO/Wncm/Q0U9+8cK/GvlrfXNyrsS/lL8zV+lP+b3D1V2592Okd+9O4N+lppr554V6NfbW+ubhXY1/KX5ir9af83+Dqr/hwP3R33Fc7om/f2e05056Uv9jN7elPI5PvyGl+2judm1y95gN9+O64r3ZE376z23OmPSl/sZvb059GJt+R0/y0dzo3uXrNh/pgtbjnVE9/V+tXvrDnTD2Z/MqLqT/dnXKxN+1XXr7s9m5y9Vf8AD9ELe451dPf1fqVL+w5U08mv/Ji6k93p1zsTfuVly+7vZv8K79SH1a6fPXuuKd2zNX6E/bV5Z/+nr1Jl3/6u4tpr/yF+aQn/wa/uQr1hytdvnp33FM75mr9Cfvq8k9/z96kyz/93cW0V/7CfNKTf4OfXPXB0x9uUfmury7qPWpxb+oX7ql3cU8t5uqJ+m51+bVvXpirf8FPrvvw6Q+zqHzXVxf1HrW4N/UL99S7uKcWc/VEfbe6/No3L8zVv+DqdR/sH2R33FfXVE/MT0d281Pcq9/Rn8Y99a4vU0/f/ulI+U+4es0H+kG74766pnpifjqym5/iXv2O/jTuqXd9mXr69k9Hyn/C1Wu7D6yef4CaYsrFvrr8Xa1vLvpqfXO1VO696i3sTf2F/dqbcjntn3D12u4Dq+eH1hRTLvbV5e9qfXPRV+ubq6Vy71VvYW/qL+zX3pTLaf+Eq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEu9cCHz7p8v1D1ExUXz1Rd05z9a5vLuUv6u6kT/36HfNd7E/3n3D3WuDDJ12+f4iaieqrJ+rOaa7e9c2l/EXdnfSpX79jvov96f4T7l77ox6qr97FvfoD7fqOmDv2Spc/3dM3l9M99YT9+j31LrWn7++a3+DutT/qofrqXdyrP9Cu74i5Y690+dM9fXM53VNP2K/fU+9Se/r+rvkNrl779oH1gZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl799qH1oZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl7dfagf5shp7siu7x1H9Kt/6ldur/wp3/UrL8zV+pUvqlf+Da5e232gH+TIae7Iru8dR/Srf+pXbq/8Kd/1Ky/M1fqVL6pX/g2uXvOhuw+eet6zP/ky+TVi7hTV03emnrmUvzBXP/VrxNyRKX/C1Ws+dPfBU8979idfJr9GzJ2ievrO1DOX8hfm6qd+jZg7MuVPuHrNh/rgUy3eta+W2hN7u/1vtb65vmNPrW8up/7C/Kme/MWUP+Hq1fVQx3xXi3ftq6X2xN5u/1utb67v2FPrm8upvzB/qid/MeVPuHrVh6onf2G+9Lf+aX7KtF+/U1pfpnxR98oXc3X5ajGftFRe/hOuXvOB6slfmC/9rX+anzLt1++U1pcpX9S98sVcXb5azCctlZf/hLvXgvVwP6D8onqTv5tPvVO869ibcN8RffUtf3qH7PbN1fqVP+HutaA+oPyiepO/m0+9U7zr2Jtw3xF99S1/eofs9s3V+pU/4e61P3ywD9/VzpQ7E/Zqv3yxZ19/d2TyzXd1jb3S+o65lF/YV9/g7rU//MP48F3tTLkzYa/2yxd79vV3RybffFfX2Cut75hL+YV99Q2uXqsHTn7li9NcLfW75e/mC/NdXWNPTvsL96aRytW/9tU3uXq1Hjr5lS9Oc7XU75a/my/Md3WNPTntL9ybRipX/9pX3+TqVR+6tCP6ky7sqcv3fY6UL9WbfHO1vvmk9R1zdflF5eWfUu+6wdVrPtCHm9vb1YU9dfm+z5HypXqTb67WN5+0vmOuLr+ovPxT6l03uHvtj+nB3+bqXd/5Fu/UvVNfvO/eri5/0s4uu3vm7pkXu70n/OT69KHf5upd3/kW79S9U1+8796uLn/Szi67e+bumRe7vSf89npQH1Z/oNLObm5PXb7ou+/Ym6he3T3NxT1Hyi+8N+1PuZz2d7h7bZP6kPrDlXZ2c3vq8kXffcfeRPXq7mku7jlSfuG9aX/K5bS/w91rf0wP9Q/kVE+/9FOme/Wuwl7tn+ryvW++2yutX0z9b/3Kf8FPfmX6AD/UqZ5+6adM9+pdhb3aP9Xle998t1dav5j63/qV/4Krv1IP15/0LtMfTF+tX/m3eHca9ybcr70pL+yrn/rmpfXNS9/g6rV6oP6kd7n1B5zufIt3p3Fvwv3am/LCvvqpb15a37z0De5e+8OHqvUrL+zXHf3KRb/25TRXl//t76t3/ZrqSfmFfe9XLuU/4e61P3yoWr/ywn7d0a9c9GtfTnN1+d/+vnrXr6melF/Y937lUv4Trl57+kD3T/Uua6/2zaee1N6kC3ver/xb/SvfXC1TvtjtfcPVq08f6v6p3mXt1b751JPam3Rhz/uVf6t/5ZurZcoXu71v+M3VP/zD7I6UX1Rfv/Q0xdTT3+3XiPk0xZQvvOeeesI7NfZ/yU+v+2G7I+UX1dcvPU0x9fR3+zViPk0x5Qvvuaee8E6N/V9y9bofUlOYT7qwN/3+lC8qn/bLL6o/+ZUvpryoPX936k1aX+xN/Rtcve7DawrzSRf2pt+f8kXl0375RfUnv/LFlBe15+9OvUnri72pf4Or1+vB9UGTLrznFNWb/NJirtavqd6EvdL6Yu+0/9Tf1fqVP+HqtXpgfcCkC+85RfUmv7SYq/Vrqjdhr7S+2DvtP/V3tX7lT7h6bXpo+Qv3HXtF7Ym90/5TvOcUlZe/8L4zUb1f+wvfa199g6vX6uHmhfuOvaL2xN5p/ynec4rKy19435mo3q/9he+1r77B3WsDfliN/cK9adwT+7vj/qT1d6k9705TmE97+vbNxd7T+QW/uRr4QTX2C/emcU/s7477k9bfpfa8O01hPu3p2zcXe0/nF/zkaj188kvrm+uby25eY2/St3w57S/cm/qLqb+bq3f9Yrf3DT+5Wh84+aX1zfXNZTevsTfpW76c9hfuTf3F1N/N1bt+sdv7ht9cDfzw3Q+rvrp8980L+84t6p6/5xRTvqiev+MU1Zv0rm+u/gW/vQ5+6O4HVl9dvvvmhX3nFnXP33OKKV9Uz99xiupNetc3V/+Cq9frwX7gac857dec4p76lNovv5i+S189+Qtz9VPfXF1+7d/g6rV6oB9w2nNO+zWnuKc+pfbLL6bv0ldP/sJc/dQ3V5df+ze4ew18uB9QetcXe86EvdJOUb3J38V+3Z1y9S1fPfmLypdf+S/46a/4QX5Y6V1f7DkT9ko7RfUmfxf7dXfK1bd89eQvKl9+5b/g6q/4Aacf8nTvVNeIvv2aidP+hHfqfvkT1Z9880nrT/kvuXrdDzr9gKd7p7pG9O3XTJz2J7xT98ufqP7km09af8p/ydXrPri0s8tpX/zd3Xv23dM3L6Ze5fqld32Z8sK9SZd/qif/CVev+cDSzi6nffF3d+/Zd0/fvJh6leuX3vVlygv3Jl3+qZ78J9y99sd66O6D7ddI5fo13/bdm6g7+k719IvK9et+5U719G/xb/3O/3D32h/1AYX9Gqlcv+bbvnsTdUffqZ5+Ubl+3a/cqZ7+Lf6t3/kfrl7zgWp9x1yt/5S6p3/790/v2SutX3n1xJ5616+ZeuZiv3pPuHrNB6r1HXO1/lPqnv7t3z+9Z6+0fuXVE3vqXb9m6pmL/eo94eo1H+jDzaee/VP/V/h7jpz6RfVPf7/6an1zfad6suurZcq/4eo1H+gfxnzq2T/1f4W/58ipX1T/9Perr9Y313eqJ7u+Wqb8G65e8w/hyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR/qyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR94+vCp5z37+ubV01eXX1T+7b1F7VfuSPmLaX9h7p65vdL6jpT/hKvXfOD0QTL1vGdf37x6+uryi8q/vbeo/codKX8x7S/M3TO3V1rfkfKfcPWaH+CD9R0xt1f+Lu57Ry21Zy7Tnky9yiffXD1Rfe87spury7/J1Ws+3AfrO2Jur/xd3PeOWmrPXKY9mXqVT765eqL63ndkN1eXf5Or13YfPulTv7RjXrp879WIvlq/RspfmJcuX6q/y7RnXrr8X3D16u4HTPrUL+2Yly7fezWir9avkfIX5qXLl+rvMu2Zly7/F1y9uvsBU0/fXHZ9tb55+WKvpjjNvesU5moxr99R65ur9c0nv/QNrl47/ZBd31x2fbW+eflir6Y4zb3rFOZqMa/fUeubq/XNJ7/0De5eAz+sPkC/+pMv9p3qFealJ9+8elK5Wt+Rb/PJl/IXlZe/mPIn/ObqH/4B60P0qz/5Yt+pXmFeevLNqyeVq/Ud+TaffCl/UXn5iyl/wm+u/jE93D+wfbW459hT18ipv6i8fk8t5qWdKbdX/fIdMXfs7eKd0/0d7l6D6cF+mH21uOfYU9fIqb+ovH5PLealnSm3V/3yHTF37O3indP9Ha5emx445Yvq+YeYemr9yu2p9c3V5de+uehPdxb27JdvPlF31PrOKd/ufeLqtemBU76onn/AqafWr9yeWt9cXX7tm4v+dGdhz3755hN1R63vnPLt3ifuXvvDD62H609afzffndov3ylO87pbWr+YenWvtP6Ul3/K0/0TfvIr/iHqg/Qnrb+b707tl+8Up3ndLa1fTL26V1p/yss/5en+CT/5lekDzEs7t/Du7kz7lZdv/m1PTv2i+r/2ZfWcym9y99of00PNSzu38O7uTPuVl2/+bU9O/aL6v/Zl9ZzKb3L32h8+uB4+5XLac8R8dwp7ztSrXCZ/GvvytO9MvSl3ZMqfcPfaHz64Hj7lctpzxHx3CnvO1KtcJn8a+/K070y9KXdkyp9w99pD6kPV+pVL9XbvVF7+bep3Tt9fvcmvmaied6q3MJ/0De5ee0j9odT6lUv1du9UXv5t6ndO31+9ya+ZqJ53qrcwn/QNrl7zQ3en9ifsO7s9x73S+jXVk/IX5t6rXF2+2jnNJ+yd6sm/wdWr/sF2p/Yn7Du7Pce90vo11ZPyF+beq1xdvto5zSfsnerJv8HVq6cPtb+0/inuq4upZ17vLa0/UXvqyV94b+ov7O1q/WK3b76794SrV08fav/WB7uvLqaeeb23tP5E7aknf+G9qb+wt6v1i92++e7eE65e9aF+QOWiX/uVT1PYm0ZO/aL6k7877qlr7E24X3vmu1P7N7l6zQf68MpFv/Yrn6awN42c+kX1J3933FPX2Jtwv/bMd6f2b3L1mg/04ZWr9SemvcpL10j5i9rXd+yJ/d2e/qT1J3b3zNWTX5z2d7h6zQf6B6tcrT8x7VVeukbKX9S+vmNP7O/29CetP7G7Z66e/OK0v8PVaz7QP1jl6qfjvV2tbz7pierrqyfqvbv5wl7N1N9l2tOf9C+4et0H+weoXP10vLer9c0nPVF9ffVEvXc3X9irmfq7THv6k/4FV6+fPnjq+wesvrk9tb65Wp7uqcsvplzsq3dxT73rm09+4d7U/4ar104fOPX98Oqb21Prm6vl6Z66/GLKxb56F/fUu7755BfuTf1vuHrNh+6O+2r9ym/NKbv71St/ovr60/1vfXP909yeWt/8F1y96ofsjvtq/cpvzSm7+9Urf6L6+tP9b31z/dPcnlrf/Bf85urLy/8T3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOD9D/Ly8oH3P8jLywfe/yAvLx94/4O8vHzg/Q/y8vKB9z/Iy8sH3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOC/Acp9OPj144RMAAAAAElFTkSuQmCC
          qr_string: 00020101021226700014br.gov.bcb.pix.citi.com.br/qr/2/8b3da2f39a4140d1a91abd93113bd44 15204000053039865802BR5913Fulano de Tal6008BRASILIA62070503***630464E4
    Us-Rfp-Reject-Notification-Example:
      value:
        method:
          type: RTP
        transaction:
          id: e2e123456
          uetr: bea176bf-1d5d-48cc-88fb-1d0e06af43e7
          creation_date_time: '2022-09-13T08:23:49.114Z'
          value_date: '2024-05-01'
          expiry_date: '2024-05-09'
          update_flag: Y
          amount: '500.00'
          currency_code: USD
          country_code: US
          full_amount: '500.00'
          discount_amount: '10.00'
          purpose: GDDS
          remittance_info: This is sample
          reference: 2017111202120020101BSTRF00000000011
          network_id: 2023111202120020101BSRFP00000000013
          status: FAILED
          description: AM04 - Insuficient Amount
        customer:
          account:
            number: '89770098'
            bank_id: ABC12345
            name: Josh
          name:
            first_name: Karl
          organization_id: GH4657
          birth_date: '2023-01-02'
          birth_city: New York
          birth_country: US
          address:
            street_name: 1212 4th Street
            building_number: A6378
            city: San Francisco
            state: CA
            postal_code: '70989'
            country_code: US
          type: BUSINESS
        merchant:
          account:
            number: '900900981'
            name: Mike
            bank_id: '89332'
          name: Yokal
          organization_id: AS2345
          birth_date: '2023-01-03'
          birth_city: New Ark
          birth_country: US
          phone_number: +1-555-123-4567
          address:
            street_name: 1212 7th Street
            building_number: V7839
            postal_code: '50098'
            city: New York
            state: CA
            country_code: US
        sender:
          name: Himan
          organization_id: AM2345
          birth_date: '2023-01-07'
          birth_city: New York
          birth_country: US
          private_id: PS89090
          address:
            street_name: 1345 4th Street
            building_number: B5829
            postal_code: '89934'
            city: Vegas
            state: CA
            country_code: US
        receiver:
          name: Pista
          organization_id: GH6785
          birth_date: '2023-07-07'
          birth_city: New York
          birth_country: US
          private_id: PB19090
          address:
            street_name: 4th Avenue
            building_number: G6178
            postal_code: '90213'
            city: New York
            state: CA
            country_code: US
    Method-Not-Allowed-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: HTTP method is not supported
          action: Provide valid HTTP method
          code: CC00001
    Payment-Success-Us-Wire-Status-Notification:
      value:
        transaction:
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          creation_date_time: '2022-09-13T08:23:49.114Z'
          amount: 1015.5
          currency_code: USD
          status: SETTLED
          description: AC01 - Account Dormant
          network_id: '209323283934'
          value_date: '2025-03-17'
          remittance_info:
          - This is sample
          end_to_end_id: pay02052023456r
        customer:
          name:
            first_name: Smith
          account:
            number: '89770098'
            bank_id: ABC12345
            virtual_number: '91908009856'
          address:
            country_code: US
            postal_code: '31503'
            state: Georgia
            lines:
            - Street No 432, Church Street
        merchant:
          name: Smith
          account:
            number: '89770098'
            bank_id: ABC12345
            virtual_number: '91908009856'
          address:
            country_code: US
            postal_code: '31503'
            state: Georgia
            lines:
            - Street No 432, Church Street
        method:
          type: FT
    Us-Paypal-Status:
      value:
        customer:
          id: CST123456
          name:
            first_name: PAUL
            last_name: JOHN
        merchant:
          name:
            first_name: THOKLR
            last_name: JOHN
        method:
          type: PAYPAL
        transaction:
          id: pay02052623456r
          amount: 200
          currency_code: USD
          status: FAILED
          description: Transaction failed for invalid payload
          creation_date_time: '2022-09-13T08:23:49.114Z'
          update_time: '2022-09-13T08:23:49.114Z'
          redirect_url: redirected@url
        order:
          amount: 200
          currency_code: USD
          merchant_amount: 200
          merchant_currency: USD
          status: FAILED
          total_auth_amount: 200
          total_captured_amount: 200
    Trustly-Link-Sucess-Notification:
      value:
        customer:
          name:
            first_name: john
            last_name: peter
          email: customer@gmail.com
        method:
          type: ALIPAY
        transaction:
          id: pay02052623456r
          psp_reference: PYMT123456
          amount: 200
          currency_code: USD
          country_code: US
          status: PENDING
          description: Pending action from customer.
          creation_date_time: '2022-09-13T08:23:49.114Z'
          redirect_url: redirect@abc
    India-Card-Payment-Response-Example:
      value:
        transaction:
          id: INDIA234567
          amount: 101
          psp_reference: PSP123456
          redirect_url: https:\url
          status: SUCCESS
          description: The operation was successfully processed
          currency_code: INR
          country_code: IN
          creation_date_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
        order:
          id: ORD12345
          amount: 323
          currency_code: INR
          creation_date_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
          status: AUTHENTICATION_INITIATED
    Qr-Pending-Status:
      value:
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 305
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: PENDING
          description: Pending action from customer
          qr_byte_code: iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAYV0lEQVR4Xu3T26osu3JF0f3/P21jmMKmQa+QKlWbg8kO8TAuEaWci/XPf728vCT/aLy8vPwv73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD7z/QV5ePvD+B3l5+cD7H+Tl5QPvf5CXlw+8/0FeXj7w/gd5efnA+x/k5eUD73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD1z9D/LPP/98NdP+lNuzX1qme4spX9gr7VQu5lNP7VQu5lNPyhfv785Nrl7zobsz7U+5PfulZbq3mPKFvdJO5WI+9dRO5WI+9aR88f7u3OTqtdMH2p/0RPX1S+ubT1rffBf7dV+/8l2qrz/pwp7vrnyX0/4OV6+dPtD+pCeqr19a33zS+ua72K/7+pXvUn39SRf2fHflu5z2d7h6zQf64ZUXlU/3Jt/ZpfYmX61vLrWnfurXVG+X2vtWO+Y3uXrNB/ohlReVT/cm39ml9iZfrW8utad+6tdUb5fa+1Y75je5es0H+iGVly5frV8zUf3SNcXUM7enlikvas93VO9bvLerHfObXL3mA/2QykuXr9avmah+6Zpi6pnbU8uUF7XnO6r3Ld7b1Y75Ta5e84F+SOVSvnh3d57u1xSVn/oTvmca90qX7z2nmPKFPe9XfpOr13ygH1K5lC/e3Z2n+zVF5af+hO+Zxr3S5XvPKaZ8Yc/7ld/k6rXTB1a//MI/mPulawpz96aZqH7p8ovdvKYwL61vLuUXp/0drl47fWD1yy/8B3C/dE1h7t40E9UvXX6xm9cU5qX1zaX84rS/w9Vr/iF2x/1Xv/r/6tO5ydVrPnR33H/1q/+vPp2b3L32ED/UEf1Jlz/9zsK89krXSOX6lRe1N+WlHfNdTvv/Jv9Rr/IP7oj+pMuffmdhXnula6Ry/cqL2pvy0o75Lqf9f5Orr/JDpz+gI/pqme4t7J2Od3a1vrm+U73yT2e6M+X27J9Se/rT7z/h6jUfWA/XN7dXWqZ7C3un451drW+u71Sv/NOZ7ky5Pfun1J7+9PtPuHvtDx+qFnM/2LEn+qdapnyXulP+YsoX9pbWNy/ct1+++S72T++rb3D32h8+VC3m/mEce6J/qmXKd6k75S+mfGFvaX3zwn375ZvvYv/0vvoGd69BPbg+XC3uOfbUk1+52HeqV37NLrv96f7kVy5Tz3tOUT31TX5z9Y96+Lcf6p5jTz35lYt9p3rl1+yy25/uT37lMvW85xTVU9/k6lU/wIer9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aep9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aed6vJ3tX7ljuirpfLyT/GOepfTvW/77u36zsRu74Sr1/wgH3yqy9/V+pU7oq+Wyss/xTvqXU73vu27t+s7E7u9E65eu/1A75XWl+rpO1PvNJfJNy+tby6Tb17aMZddX134+7t7J1y9dvuB3iutL9XTd6beaS6Tb15a31wm37y0Yy67vrrw93f3Trh77Q8fWrqmeqI/6cKevzvNr/F31JO/mHKxrxbzpctXO/8J/OQVfmDpmuqJ/qQLe/7uNL/G31FP/mLKxb5azJcuX+38J3D1FX7gNNNe5aJ/S+uLeWlnyqv3Le6X1hfz3b3F1Ku8fmfSN7h6zQ+ZZtqrXPRvaX0xL+1MefW+xf3S+mK+u7eYepXX70z6Blev1QMnv/KFuXvm9k61fuXVm3C/7uiX1jeXya+xp3ZOcd87p/4Nrl6rB05+5Qtz98ztnWr9yqs34X7d0S+tby6TX2NP7ZzivndO/RtcveZDTx9ce6e++UTd0TefqP63fk1hXtoRc3vlT7m6uN074eo1/xCnD669U998ou7om09U/1u/pjAv7Yi5vfKnXF3c7p1w9druH2K3V0z7+jLlhfcde1J+Ufcn7Ktv+WqZ3l++VE9ffYOr1+oPUrr8iWlfX6a88L5jT8ov6v6EffUtXy3T+8uX6umrb3D12vQHKdyrfX21fs23vV0tleurxby0/pSrxfxb7VSuL6f+E65eqw+dcK/29dX6Nd/2drVUrq8W89L6U64W82+1U7m+nPpPuHsNpg93ptyxL/Z3Z9qvXCbfMZ90+RO7vcL9eo/5hL1JT/4NfnP1j/rD6e/mjn2xvzvTfuUy+Y75pMuf2O0V7td7zCfsTXryb3D1av2hyjdXTyPli73p7sKeI/ql9c2L3dzerm9ePf3Sp75apvwGV69Pfzh9c/U0Ur7Ym+4u7DmiX1rfvNjN7e365tXTL33qq2XKb/DT6/4h/SD90/HOri5/uu9ULuUvzEtPfuW7VF9/0kX1ypfVs1/+De5eAx/uB+ifjnd2dfnTfadyKX9hXnryK9+l+vqTLqpXvqye/fJvcPXa9NDy5fSO/Wncm/Q0U9+8cK/GvlrfXNyrsS/lL8zV+lP+b3D1V2592Okd+9O4N+lppr554V6NfbW+ubhXY1/KX5ir9af83+Dqr/hwP3R33Fc7om/f2e05056Uv9jN7elPI5PvyGl+2judm1y95gN9+O64r3ZE376z23OmPSl/sZvb059GJt+R0/y0dzo3uXrNh/pgtbjnVE9/V+tXvrDnTD2Z/MqLqT/dnXKxN+1XXr7s9m5y9Vf8AD9ELe451dPf1fqVL+w5U08mv/Ji6k93p1zsTfuVly+7vZv8K79SH1a6fPXuuKd2zNX6E/bV5Z/+nr1Jl3/6u4tpr/yF+aQn/wa/uQr1hytdvnp33FM75mr9Cfvq8k9/z96kyz/93cW0V/7CfNKTf4OfXPXB0x9uUfmury7qPWpxb+oX7ql3cU8t5uqJ+m51+bVvXpirf8FPrvvw6Q+zqHzXVxf1HrW4N/UL99S7uKcWc/VEfbe6/No3L8zVv+DqdR/sH2R33FfXVE/MT0d281Pcq9/Rn8Y99a4vU0/f/ulI+U+4es0H+kG74766pnpifjqym5/iXv2O/jTuqXd9mXr69k9Hyn/C1Wu7D6yef4CaYsrFvrr8Xa1vLvpqfXO1VO696i3sTf2F/dqbcjntn3D12u4Dq+eH1hRTLvbV5e9qfXPRV+ubq6Vy71VvYW/qL+zX3pTLaf+Eq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEu9cCHz7p8v1D1ExUXz1Rd05z9a5vLuUv6u6kT/36HfNd7E/3n3D3WuDDJ12+f4iaieqrJ+rOaa7e9c2l/EXdnfSpX79jvov96f4T7l77ox6qr97FvfoD7fqOmDv2Spc/3dM3l9M99YT9+j31LrWn7++a3+DutT/qofrqXdyrP9Cu74i5Y690+dM9fXM53VNP2K/fU+9Se/r+rvkNrl779oH1gZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl799qH1oZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl7dfagf5shp7siu7x1H9Kt/6ldur/wp3/UrL8zV+pUvqlf+Da5e232gH+TIae7Iru8dR/Srf+pXbq/8Kd/1Ky/M1fqVL6pX/g2uXvOhuw+eet6zP/ky+TVi7hTV03emnrmUvzBXP/VrxNyRKX/C1Ws+dPfBU8979idfJr9GzJ2ievrO1DOX8hfm6qd+jZg7MuVPuHrNh/rgUy3eta+W2hN7u/1vtb65vmNPrW8up/7C/Kme/MWUP+Hq1fVQx3xXi3ftq6X2xN5u/1utb67v2FPrm8upvzB/qid/MeVPuHrVh6onf2G+9Lf+aX7KtF+/U1pfpnxR98oXc3X5ajGftFRe/hOuXvOB6slfmC/9rX+anzLt1++U1pcpX9S98sVcXb5azCctlZf/hLvXgvVwP6D8onqTv5tPvVO869ibcN8RffUtf3qH7PbN1fqVP+HutaA+oPyiepO/m0+9U7zr2Jtw3xF99S1/eofs9s3V+pU/4e61P3ywD9/VzpQ7E/Zqv3yxZ19/d2TyzXd1jb3S+o65lF/YV9/g7rU//MP48F3tTLkzYa/2yxd79vV3RybffFfX2Cut75hL+YV99Q2uXqsHTn7li9NcLfW75e/mC/NdXWNPTvsL96aRytW/9tU3uXq1Hjr5lS9Oc7XU75a/my/Md3WNPTntL9ybRipX/9pX3+TqVR+6tCP6ky7sqcv3fY6UL9WbfHO1vvmk9R1zdflF5eWfUu+6wdVrPtCHm9vb1YU9dfm+z5HypXqTb67WN5+0vmOuLr+ovPxT6l03uHvtj+nB3+bqXd/5Fu/UvVNfvO/eri5/0s4uu3vm7pkXu70n/OT69KHf5upd3/kW79S9U1+8796uLn/Szi67e+bumRe7vSf89npQH1Z/oNLObm5PXb7ou+/Ym6he3T3NxT1Hyi+8N+1PuZz2d7h7bZP6kPrDlXZ2c3vq8kXffcfeRPXq7mku7jlSfuG9aX/K5bS/w91rf0wP9Q/kVE+/9FOme/Wuwl7tn+ryvW++2yutX0z9b/3Kf8FPfmX6AD/UqZ5+6adM9+pdhb3aP9Xle998t1dav5j63/qV/4Krv1IP15/0LtMfTF+tX/m3eHca9ybcr70pL+yrn/rmpfXNS9/g6rV6oP6kd7n1B5zufIt3p3Fvwv3am/LCvvqpb15a37z0De5e+8OHqvUrL+zXHf3KRb/25TRXl//t76t3/ZrqSfmFfe9XLuU/4e61P3yoWr/ywn7d0a9c9GtfTnN1+d/+vnrXr6melF/Y937lUv4Trl57+kD3T/Uua6/2zaee1N6kC3ver/xb/SvfXC1TvtjtfcPVq08f6v6p3mXt1b751JPam3Rhz/uVf6t/5ZurZcoXu71v+M3VP/zD7I6UX1Rfv/Q0xdTT3+3XiPk0xZQvvOeeesI7NfZ/yU+v+2G7I+UX1dcvPU0x9fR3+zViPk0x5Qvvuaee8E6N/V9y9bofUlOYT7qwN/3+lC8qn/bLL6o/+ZUvpryoPX936k1aX+xN/Rtcve7DawrzSRf2pt+f8kXl0375RfUnv/LFlBe15+9OvUnri72pf4Or1+vB9UGTLrznFNWb/NJirtavqd6EvdL6Yu+0/9Tf1fqVP+HqtXpgfcCkC+85RfUmv7SYq/Vrqjdhr7S+2DvtP/V3tX7lT7h6bXpo+Qv3HXtF7Ym90/5TvOcUlZe/8L4zUb1f+wvfa199g6vX6uHmhfuOvaL2xN5p/ynec4rKy19435mo3q/9he+1r77B3WsDfliN/cK9adwT+7vj/qT1d6k9705TmE97+vbNxd7T+QW/uRr4QTX2C/emcU/s7477k9bfpfa8O01hPu3p2zcXe0/nF/zkaj188kvrm+uby25eY2/St3w57S/cm/qLqb+bq3f9Yrf3DT+5Wh84+aX1zfXNZTevsTfpW76c9hfuTf3F1N/N1bt+sdv7ht9cDfzw3Q+rvrp8980L+84t6p6/5xRTvqiev+MU1Zv0rm+u/gW/vQ5+6O4HVl9dvvvmhX3nFnXP33OKKV9Uz99xiupNetc3V/+Cq9frwX7gac857dec4p76lNovv5i+S189+Qtz9VPfXF1+7d/g6rV6oB9w2nNO+zWnuKc+pfbLL6bv0ldP/sJc/dQ3V5df+ze4ew18uB9QetcXe86EvdJOUb3J38V+3Z1y9S1fPfmLypdf+S/46a/4QX5Y6V1f7DkT9ko7RfUmfxf7dXfK1bd89eQvKl9+5b/g6q/4Aacf8nTvVNeIvv2aidP+hHfqfvkT1Z9880nrT/kvuXrdDzr9gKd7p7pG9O3XTJz2J7xT98ufqP7km09af8p/ydXrPri0s8tpX/zd3Xv23dM3L6Ze5fqld32Z8sK9SZd/qif/CVev+cDSzi6nffF3d+/Zd0/fvJh6leuX3vVlygv3Jl3+qZ78J9y99sd66O6D7ddI5fo13/bdm6g7+k719IvK9et+5U719G/xb/3O/3D32h/1AYX9Gqlcv+bbvnsTdUffqZ5+Ubl+3a/cqZ7+Lf6t3/kfrl7zgWp9x1yt/5S6p3/790/v2SutX3n1xJ5616+ZeuZiv3pPuHrNB6r1HXO1/lPqnv7t3z+9Z6+0fuXVE3vqXb9m6pmL/eo94eo1H+jDzaee/VP/V/h7jpz6RfVPf7/6an1zfad6suurZcq/4eo1H+gfxnzq2T/1f4W/58ipX1T/9Perr9Y313eqJ7u+Wqb8G65e8w/hyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR/qyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR94+vCp5z37+ubV01eXX1T+7b1F7VfuSPmLaX9h7p65vdL6jpT/hKvXfOD0QTL1vGdf37x6+uryi8q/vbeo/codKX8x7S/M3TO3V1rfkfKfcPWaH+CD9R0xt1f+Lu57Ry21Zy7Tnky9yiffXD1Rfe87spury7/J1Ws+3AfrO2Jur/xd3PeOWmrPXKY9mXqVT765eqL63ndkN1eXf5Or13YfPulTv7RjXrp879WIvlq/RspfmJcuX6q/y7RnXrr8X3D16u4HTPrUL+2Yly7fezWir9avkfIX5qXLl+rvMu2Zly7/F1y9uvsBU0/fXHZ9tb55+WKvpjjNvesU5moxr99R65ur9c0nv/QNrl47/ZBd31x2fbW+eflir6Y4zb3rFOZqMa/fUeubq/XNJ7/0De5eAz+sPkC/+pMv9p3qFealJ9+8elK5Wt+Rb/PJl/IXlZe/mPIn/ObqH/4B60P0qz/5Yt+pXmFeevLNqyeVq/Ud+TaffCl/UXn5iyl/wm+u/jE93D+wfbW459hT18ipv6i8fk8t5qWdKbdX/fIdMXfs7eKd0/0d7l6D6cF+mH21uOfYU9fIqb+ovH5PLealnSm3V/3yHTF37O3indP9Ha5emx445Yvq+YeYemr9yu2p9c3V5de+uehPdxb27JdvPlF31PrOKd/ufeLqtemBU76onn/AqafWr9yeWt9cXX7tm4v+dGdhz3755hN1R63vnPLt3ifuXvvDD62H609afzffndov3ylO87pbWr+YenWvtP6Ul3/K0/0TfvIr/iHqg/Qnrb+b707tl+8Up3ndLa1fTL26V1p/yss/5en+CT/5lekDzEs7t/Du7kz7lZdv/m1PTv2i+r/2ZfWcym9y99of00PNSzu38O7uTPuVl2/+bU9O/aL6v/Zl9ZzKb3L32h8+uB4+5XLac8R8dwp7ztSrXCZ/GvvytO9MvSl3ZMqfcPfaHz64Hj7lctpzxHx3CnvO1KtcJn8a+/K070y9KXdkyp9w99pD6kPV+pVL9XbvVF7+bep3Tt9fvcmvmaied6q3MJ/0De5ee0j9odT6lUv1du9UXv5t6ndO31+9ya+ZqJ53qrcwn/QNrl7zQ3en9ifsO7s9x73S+jXVk/IX5t6rXF2+2jnNJ+yd6sm/wdWr/sF2p/Yn7Du7Pce90vo11ZPyF+beq1xdvto5zSfsnerJv8HVq6cPtb+0/inuq4upZ17vLa0/UXvqyV94b+ov7O1q/WK3b76794SrV08fav/WB7uvLqaeeb23tP5E7aknf+G9qb+wt6v1i92++e7eE65e9aF+QOWiX/uVT1PYm0ZO/aL6k7877qlr7E24X3vmu1P7N7l6zQf68MpFv/Yrn6awN42c+kX1J3933FPX2Jtwv/bMd6f2b3L1mg/04ZWr9SemvcpL10j5i9rXd+yJ/d2e/qT1J3b3zNWTX5z2d7h6zQf6B6tcrT8x7VVeukbKX9S+vmNP7O/29CetP7G7Z66e/OK0v8PVaz7QP1jl6qfjvV2tbz7pierrqyfqvbv5wl7N1N9l2tOf9C+4et0H+weoXP10vLer9c0nPVF9ffVEvXc3X9irmfq7THv6k/4FV6+fPnjq+wesvrk9tb65Wp7uqcsvplzsq3dxT73rm09+4d7U/4ar104fOPX98Oqb21Prm6vl6Z66/GLKxb56F/fUu7755BfuTf1vuHrNh+6O+2r9ym/NKbv71St/ovr60/1vfXP909yeWt/8F1y96ofsjvtq/cpvzSm7+9Urf6L6+tP9b31z/dPcnlrf/Bf85urLy/8T3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOD9D/Ly8oH3P8jLywfe/yAvLx94/4O8vHzg/Q/y8vKB9z/Iy8sH3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOC/Acp9OPj144RMAAAAAElFTkSuQmCC
          qr_string: 00020101021226700014br.gov.bcb.pix.citi.com.br/qr/2/8b3da2f39a4140d1a91abd93113bd44 15204000053039865802BR5913Fulano de Tal6008BRASILIA62070503***630464E4
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 201
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: PENDING
          description: Transaction pending action from customer
          qr_byte_code: iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAYV0lEQVR4Xu3T26osu3JF0f3/P21jmMKmQa+QKlWbg8kO8TAuEaWci/XPf728vCT/aLy8vPwv73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD7z/QV5ePvD+B3l5+cD7H+Tl5QPvf5CXlw+8/0FeXj7w/gd5efnA+x/k5eUD73+Ql5cPvP9BXl4+8P4HeXn5wPsf5OXlA+9/kJeXD1z9D/LPP/98NdP+lNuzX1qme4spX9gr7VQu5lNP7VQu5lNPyhfv785Nrl7zobsz7U+5PfulZbq3mPKFvdJO5WI+9dRO5WI+9aR88f7u3OTqtdMH2p/0RPX1S+ubT1rffBf7dV+/8l2qrz/pwp7vrnyX0/4OV6+dPtD+pCeqr19a33zS+ua72K/7+pXvUn39SRf2fHflu5z2d7h6zQf64ZUXlU/3Jt/ZpfYmX61vLrWnfurXVG+X2vtWO+Y3uXrNB/ohlReVT/cm39ml9iZfrW8utad+6tdUb5fa+1Y75je5es0H+iGVly5frV8zUf3SNcXUM7enlikvas93VO9bvLerHfObXL3mA/2QykuXr9avmah+6Zpi6pnbU8uUF7XnO6r3Ld7b1Y75Ta5e84F+SOVSvnh3d57u1xSVn/oTvmca90qX7z2nmPKFPe9XfpOr13ygH1K5lC/e3Z2n+zVF5af+hO+Zxr3S5XvPKaZ8Yc/7ld/k6rXTB1a//MI/mPulawpz96aZqH7p8ovdvKYwL61vLuUXp/0drl47fWD1yy/8B3C/dE1h7t40E9UvXX6xm9cU5qX1zaX84rS/w9Vr/iF2x/1Xv/r/6tO5ydVrPnR33H/1q/+vPp2b3L32ED/UEf1Jlz/9zsK89krXSOX6lRe1N+WlHfNdTvv/Jv9Rr/IP7oj+pMuffmdhXnula6Ry/cqL2pvy0o75Lqf9f5Orr/JDpz+gI/pqme4t7J2Od3a1vrm+U73yT2e6M+X27J9Se/rT7z/h6jUfWA/XN7dXWqZ7C3un451drW+u71Sv/NOZ7ky5Pfun1J7+9PtPuHvtDx+qFnM/2LEn+qdapnyXulP+YsoX9pbWNy/ct1+++S72T++rb3D32h8+VC3m/mEce6J/qmXKd6k75S+mfGFvaX3zwn375ZvvYv/0vvoGd69BPbg+XC3uOfbUk1+52HeqV37NLrv96f7kVy5Tz3tOUT31TX5z9Y96+Lcf6p5jTz35lYt9p3rl1+yy25/uT37lMvW85xTVU9/k6lU/wIer9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aep9Z1d7JeusVe4Z19d7PYmfIcj+qf6W7/wvY6U/0uu/pof6Aed6vJ3tX7ljuirpfLyT/GOepfTvW/77u36zsRu74Sr1/wgH3yqy9/V+pU7oq+Wyss/xTvqXU73vu27t+s7E7u9E65eu/1A75XWl+rpO1PvNJfJNy+tby6Tb17aMZddX134+7t7J1y9dvuB3iutL9XTd6beaS6Tb15a31wm37y0Yy67vrrw93f3Trh77Q8fWrqmeqI/6cKevzvNr/F31JO/mHKxrxbzpctXO/8J/OQVfmDpmuqJ/qQLe/7uNL/G31FP/mLKxb5azJcuX+38J3D1FX7gNNNe5aJ/S+uLeWlnyqv3Le6X1hfz3b3F1Ku8fmfSN7h6zQ+ZZtqrXPRvaX0xL+1MefW+xf3S+mK+u7eYepXX70z6Blev1QMnv/KFuXvm9k61fuXVm3C/7uiX1jeXya+xp3ZOcd87p/4Nrl6rB05+5Qtz98ztnWr9yqs34X7d0S+tby6TX2NP7ZzivndO/RtcveZDTx9ce6e++UTd0TefqP63fk1hXtoRc3vlT7m6uN074eo1/xCnD669U998ou7om09U/1u/pjAv7Yi5vfKnXF3c7p1w9druH2K3V0z7+jLlhfcde1J+Ufcn7Ktv+WqZ3l++VE9ffYOr1+oPUrr8iWlfX6a88L5jT8ov6v6EffUtXy3T+8uX6umrb3D12vQHKdyrfX21fs23vV0tleurxby0/pSrxfxb7VSuL6f+E65eqw+dcK/29dX6Nd/2drVUrq8W89L6U64W82+1U7m+nPpPuHsNpg93ptyxL/Z3Z9qvXCbfMZ90+RO7vcL9eo/5hL1JT/4NfnP1j/rD6e/mjn2xvzvTfuUy+Y75pMuf2O0V7td7zCfsTXryb3D1av2hyjdXTyPli73p7sKeI/ql9c2L3dzerm9ePf3Sp75apvwGV69Pfzh9c/U0Ur7Ym+4u7DmiX1rfvNjN7e365tXTL33qq2XKb/DT6/4h/SD90/HOri5/uu9ULuUvzEtPfuW7VF9/0kX1ypfVs1/+De5eAx/uB+ifjnd2dfnTfadyKX9hXnryK9+l+vqTLqpXvqye/fJvcPXa9NDy5fSO/Wncm/Q0U9+8cK/GvlrfXNyrsS/lL8zV+lP+b3D1V2592Okd+9O4N+lppr554V6NfbW+ubhXY1/KX5ir9af83+Dqr/hwP3R33Fc7om/f2e05056Uv9jN7elPI5PvyGl+2judm1y95gN9+O64r3ZE376z23OmPSl/sZvb059GJt+R0/y0dzo3uXrNh/pgtbjnVE9/V+tXvrDnTD2Z/MqLqT/dnXKxN+1XXr7s9m5y9Vf8AD9ELe451dPf1fqVL+w5U08mv/Ji6k93p1zsTfuVly+7vZv8K79SH1a6fPXuuKd2zNX6E/bV5Z/+nr1Jl3/6u4tpr/yF+aQn/wa/uQr1hytdvnp33FM75mr9Cfvq8k9/z96kyz/93cW0V/7CfNKTf4OfXPXB0x9uUfmury7qPWpxb+oX7ql3cU8t5uqJ+m51+bVvXpirf8FPrvvw6Q+zqHzXVxf1HrW4N/UL99S7uKcWc/VEfbe6/No3L8zVv+DqdR/sH2R33FfXVE/MT0d281Pcq9/Rn8Y99a4vU0/f/ulI+U+4es0H+kG74766pnpifjqym5/iXv2O/jTuqXd9mXr69k9Hyn/C1Wu7D6yef4CaYsrFvrr8Xa1vLvpqfXO1VO696i3sTf2F/dqbcjntn3D12u4Dq+eH1hRTLvbV5e9qfXPRV+ubq6Vy71VvYW/qL+zX3pTLaf+Eq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEq9emh+rbd6T8wnvul9Y3F/26U775pPWLqV/5pCd/YT5pfUfMq/eEu9cCHz7p8v1D1ExUXz1Rd05z9a5vLuUv6u6kT/36HfNd7E/3n3D3WuDDJ12+f4iaieqrJ+rOaa7e9c2l/EXdnfSpX79jvov96f4T7l77ox6qr97FvfoD7fqOmDv2Spc/3dM3l9M99YT9+j31LrWn7++a3+DutT/qofrqXdyrP9Cu74i5Y690+dM9fXM53VNP2K/fU+9Se/r+rvkNrl779oH1gZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl799qH1oZMu33uOPXX5Uv2ieuUX0+/qT1rqvrqofXO1fmF/d+8brl7dfagf5shp7siu7x1H9Kt/6ldur/wp3/UrL8zV+pUvqlf+Da5e232gH+TIae7Iru8dR/Srf+pXbq/8Kd/1Ky/M1fqVL6pX/g2uXvOhuw+eet6zP/ky+TVi7hTV03emnrmUvzBXP/VrxNyRKX/C1Ws+dPfBU8979idfJr9GzJ2ievrO1DOX8hfm6qd+jZg7MuVPuHrNh/rgUy3eta+W2hN7u/1vtb65vmNPrW8up/7C/Kme/MWUP+Hq1fVQx3xXi3ftq6X2xN5u/1utb67v2FPrm8upvzB/qid/MeVPuHrVh6onf2G+9Lf+aX7KtF+/U1pfpnxR98oXc3X5ajGftFRe/hOuXvOB6slfmC/9rX+anzLt1++U1pcpX9S98sVcXb5azCctlZf/hLvXgvVwP6D8onqTv5tPvVO869ibcN8RffUtf3qH7PbN1fqVP+HutaA+oPyiepO/m0+9U7zr2Jtw3xF99S1/eofs9s3V+pU/4e61P3ywD9/VzpQ7E/Zqv3yxZ19/d2TyzXd1jb3S+o65lF/YV9/g7rU//MP48F3tTLkzYa/2yxd79vV3RybffFfX2Cut75hL+YV99Q2uXqsHTn7li9NcLfW75e/mC/NdXWNPTvsL96aRytW/9tU3uXq1Hjr5lS9Oc7XU75a/my/Md3WNPTntL9ybRipX/9pX3+TqVR+6tCP6ky7sqcv3fY6UL9WbfHO1vvmk9R1zdflF5eWfUu+6wdVrPtCHm9vb1YU9dfm+z5HypXqTb67WN5+0vmOuLr+ovPxT6l03uHvtj+nB3+bqXd/5Fu/UvVNfvO/eri5/0s4uu3vm7pkXu70n/OT69KHf5upd3/kW79S9U1+8796uLn/Szi67e+bumRe7vSf89npQH1Z/oNLObm5PXb7ou+/Ym6he3T3NxT1Hyi+8N+1PuZz2d7h7bZP6kPrDlXZ2c3vq8kXffcfeRPXq7mku7jlSfuG9aX/K5bS/w91rf0wP9Q/kVE+/9FOme/Wuwl7tn+ryvW++2yutX0z9b/3Kf8FPfmX6AD/UqZ5+6adM9+pdhb3aP9Xle998t1dav5j63/qV/4Krv1IP15/0LtMfTF+tX/m3eHca9ybcr70pL+yrn/rmpfXNS9/g6rV6oP6kd7n1B5zufIt3p3Fvwv3am/LCvvqpb15a37z0De5e+8OHqvUrL+zXHf3KRb/25TRXl//t76t3/ZrqSfmFfe9XLuU/4e61P3yoWr/ywn7d0a9c9GtfTnN1+d/+vnrXr6melF/Y937lUv4Trl57+kD3T/Uua6/2zaee1N6kC3ver/xb/SvfXC1TvtjtfcPVq08f6v6p3mXt1b751JPam3Rhz/uVf6t/5ZurZcoXu71v+M3VP/zD7I6UX1Rfv/Q0xdTT3+3XiPk0xZQvvOeeesI7NfZ/yU+v+2G7I+UX1dcvPU0x9fR3+zViPk0x5Qvvuaee8E6N/V9y9bofUlOYT7qwN/3+lC8qn/bLL6o/+ZUvpryoPX936k1aX+xN/Rtcve7DawrzSRf2pt+f8kXl0375RfUnv/LFlBe15+9OvUnri72pf4Or1+vB9UGTLrznFNWb/NJirtavqd6EvdL6Yu+0/9Tf1fqVP+HqtXpgfcCkC+85RfUmv7SYq/Vrqjdhr7S+2DvtP/V3tX7lT7h6bXpo+Qv3HXtF7Ym90/5TvOcUlZe/8L4zUb1f+wvfa199g6vX6uHmhfuOvaL2xN5p/ynec4rKy19435mo3q/9he+1r77B3WsDfliN/cK9adwT+7vj/qT1d6k9705TmE97+vbNxd7T+QW/uRr4QTX2C/emcU/s7477k9bfpfa8O01hPu3p2zcXe0/nF/zkaj188kvrm+uby25eY2/St3w57S/cm/qLqb+bq3f9Yrf3DT+5Wh84+aX1zfXNZTevsTfpW76c9hfuTf3F1N/N1bt+sdv7ht9cDfzw3Q+rvrp8980L+84t6p6/5xRTvqiev+MU1Zv0rm+u/gW/vQ5+6O4HVl9dvvvmhX3nFnXP33OKKV9Uz99xiupNetc3V/+Cq9frwX7gac857dec4p76lNovv5i+S189+Qtz9VPfXF1+7d/g6rV6oB9w2nNO+zWnuKc+pfbLL6bv0ldP/sJc/dQ3V5df+ze4ew18uB9QetcXe86EvdJOUb3J38V+3Z1y9S1fPfmLypdf+S/46a/4QX5Y6V1f7DkT9ko7RfUmfxf7dXfK1bd89eQvKl9+5b/g6q/4Aacf8nTvVNeIvv2aidP+hHfqfvkT1Z9880nrT/kvuXrdDzr9gKd7p7pG9O3XTJz2J7xT98ufqP7km09af8p/ydXrPri0s8tpX/zd3Xv23dM3L6Ze5fqld32Z8sK9SZd/qif/CVev+cDSzi6nffF3d+/Zd0/fvJh6leuX3vVlygv3Jl3+qZ78J9y99sd66O6D7ddI5fo13/bdm6g7+k719IvK9et+5U719G/xb/3O/3D32h/1AYX9Gqlcv+bbvnsTdUffqZ5+Ubl+3a/cqZ7+Lf6t3/kfrl7zgWp9x1yt/5S6p3/790/v2SutX3n1xJ5616+ZeuZiv3pPuHrNB6r1HXO1/lPqnv7t3z+9Z6+0fuXVE3vqXb9m6pmL/eo94eo1H+jDzaee/VP/V/h7jpz6RfVPf7/6an1zfad6suurZcq/4eo1H+gfxnzq2T/1f4W/58ipX1T/9Perr9Y313eqJ7u+Wqb8G65e8w/hyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR/qyORXvqhcv/TkO1NPvvUrl+qX1jffpfr+TvUWleurZff3vuHqNR94+vCp5z37+ubV01eXX1T+7b1F7VfuSPmLaX9h7p65vdL6jpT/hKvXfOD0QTL1vGdf37x6+uryi8q/vbeo/codKX8x7S/M3TO3V1rfkfKfcPWaH+CD9R0xt1f+Lu57Ry21Zy7Tnky9yiffXD1Rfe87spury7/J1Ws+3AfrO2Jur/xd3PeOWmrPXKY9mXqVT765eqL63ndkN1eXf5Or13YfPulTv7RjXrp879WIvlq/RspfmJcuX6q/y7RnXrr8X3D16u4HTPrUL+2Yly7fezWir9avkfIX5qXLl+rvMu2Zly7/F1y9uvsBU0/fXHZ9tb55+WKvpjjNvesU5moxr99R65ur9c0nv/QNrl47/ZBd31x2fbW+eflir6Y4zb3rFOZqMa/fUeubq/XNJ7/0De5eAz+sPkC/+pMv9p3qFealJ9+8elK5Wt+Rb/PJl/IXlZe/mPIn/ObqH/4B60P0qz/5Yt+pXmFeevLNqyeVq/Ud+TaffCl/UXn5iyl/wm+u/jE93D+wfbW459hT18ipv6i8fk8t5qWdKbdX/fIdMXfs7eKd0/0d7l6D6cF+mH21uOfYU9fIqb+ovH5PLealnSm3V/3yHTF37O3indP9Ha5emx445Yvq+YeYemr9yu2p9c3V5de+uehPdxb27JdvPlF31PrOKd/ufeLqtemBU76onn/AqafWr9yeWt9cXX7tm4v+dGdhz3755hN1R63vnPLt3ifuXvvDD62H609afzffndov3ylO87pbWr+YenWvtP6Ul3/K0/0TfvIr/iHqg/Qnrb+b707tl+8Up3ndLa1fTL26V1p/yss/5en+CT/5lekDzEs7t/Du7kz7lZdv/m1PTv2i+r/2ZfWcym9y99of00PNSzu38O7uTPuVl2/+bU9O/aL6v/Zl9ZzKb3L32h8+uB4+5XLac8R8dwp7ztSrXCZ/GvvytO9MvSl3ZMqfcPfaHz64Hj7lctpzxHx3CnvO1KtcJn8a+/K070y9KXdkyp9w99pD6kPV+pVL9XbvVF7+bep3Tt9fvcmvmaied6q3MJ/0De5ee0j9odT6lUv1du9UXv5t6ndO31+9ya+ZqJ53qrcwn/QNrl7zQ3en9ifsO7s9x73S+jXVk/IX5t6rXF2+2jnNJ+yd6sm/wdWr/sF2p/Yn7Du7Pce90vo11ZPyF+beq1xdvto5zSfsnerJv8HVq6cPtb+0/inuq4upZ17vLa0/UXvqyV94b+ov7O1q/WK3b76794SrV08fav/WB7uvLqaeeb23tP5E7aknf+G9qb+wt6v1i92++e7eE65e9aF+QOWiX/uVT1PYm0ZO/aL6k7877qlr7E24X3vmu1P7N7l6zQf68MpFv/Yrn6awN42c+kX1J3933FPX2Jtwv/bMd6f2b3L1mg/04ZWr9SemvcpL10j5i9rXd+yJ/d2e/qT1J3b3zNWTX5z2d7h6zQf6B6tcrT8x7VVeukbKX9S+vmNP7O/29CetP7G7Z66e/OK0v8PVaz7QP1jl6qfjvV2tbz7pierrqyfqvbv5wl7N1N9l2tOf9C+4et0H+weoXP10vLer9c0nPVF9ffVEvXc3X9irmfq7THv6k/4FV6+fPnjq+wesvrk9tb65Wp7uqcsvplzsq3dxT73rm09+4d7U/4ar104fOPX98Oqb21Prm6vl6Z66/GLKxb56F/fUu7755BfuTf1vuHrNh+6O+2r9ym/NKbv71St/ovr60/1vfXP909yeWt/8F1y96ofsjvtq/cpvzSm7+9Urf6L6+tP9b31z/dPcnlrf/Bf85urLy/8T3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOD9D/Ly8oH3P8jLywfe/yAvLx94/4O8vHzg/Q/y8vKB9z/Iy8sH3v8gLy8feP+DvLx84P0P8vLygfc/yMvLB97/IC8vH3j/g7y8fOC/Acp9OPj144RMAAAAAElFTkSuQmCC
          qr_string: 00020101021226700014br.gov.bcb.pix.citi.com.br/qr/2/8b3da2f39a4140d1a91abd93113bd44 15204000053039865802BR5913Fulano de Tal6008BRASILIA62070503***630464E4
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
    Un-Supported-Media-Type-Gateway-Error-Example:
      value:
        httpCode: '415'
        httpMessage: Unsupported Media Type
        moreInformation: Unsupported Content-Type
    US-Card-Verify-Request-With-Session-Example:
      value:
        method:
          type: CARD
          session_id: ad44b8bb-07ee-4a2c-ae84-3203d2e332af
        transaction:
          id: ccapicardstestmk0218260012
          country_code: US
          currency_code: USD
        order:
          id: ccapicardstestmk0218260013
          amount: 2
          currency_code: USD
    Rate-Limit-Exceeded-Gateway-Error-Example:
      value:
        httpCode: '429'
        httpMessage: Too Many Requests
        moreInformation: Rate Limit exceeded
    Us-Google-Pay-Authorize-Request-With-Token-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: GOOGLEPAY
          token_id: 5613dc38-ba17-446c-8c18-ae89f79de596
          token_type: CITI_TOKEN
          card:
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    Us-Card-Status:
      value:
        customer:
          id: CST123456
          name:
            first_name: PAUL
            last_name: JOHN
        merchant:
          name:
            first_name: THOKLR
            last_name: JOHN
        method:
          type: CARD
        transaction:
          id: pay02052623456r
          amount: 200
          currency_code: USD
          status: FAILED
          description: Transaction failed for invalid payload
          creation_date_time: '2022-09-13T08:23:49.114Z'
          update_time: '2022-09-13T08:23:49.114Z'
          redirect_url: redirected@url
        order:
          amount: 200
          currency_code: USD
          merchant_amount: 200
          merchant_currency: USD
          status: FAILED
          total_auth_amount: 200
          total_captured_amount: 200
    Bad-Request-Get2-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2b921a5ab
        error_details:
        - issue: provided value is not within the range for query-param reference
          action: please provide valid value for query-param reference, size must be between 1 and 128
          code: VC00012
    Internal-Server-Gateway-Error-Example:
      value:
        httpCode: '500'
        httpMessage: Internal Server Error
        moreInformation: unable to serve your request at this moment
    Payment-Success-Thailand-IP-Credit-Status-Notification:
      value:
        transaction:
          id: REF123456
          end_to_end_id: ref34SKtUcdGQ
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          network_id: clr02052023478
          batch_id: batch12345
          value_date: '2022-09-07'
          creation_date_time: '2022-09-13T08:23:49.112Z'
          status_date_time: '2022-09-14T08:00:00.000Z'
          bill_id_1: '77889900'
          bill_id_2: '77889901'
          bill_id_3: '77889902'
          purpose: PAYMENT
          processing_code: '58000'
          tax_id: '2'
          wht_code: A
          wht_rate: 10
          wht_amount: 1000
          income_type: '001'
          bill_due_date: '2022-09-07'
          vat_rate: 10
          vat_amount: 1000
          amount: 5000
          currency_code: THB
          additional_info: Credit Payment
          reference: payment for september
          status: SETTLED
          description: Transaction settled
        merchant:
          account:
            number: '123456'
            virtual_account: '998877'
            bank_id: CITITHBX
            branch_id: '123'
            proxy_id: raja@citi.com
            proxy_type: BIID
          tax_id: tax123
          name: Thomas
        customer:
          account:
            number: '987654'
            virtual_account: '1122334455'
            bank_id: CITITHBX
            branch_id: '123'
            proxy_id: raja@citi.com
            proxy_type: BIID
          tax_id: tax123
          name:
            first_name: Wilson
        sender:
          name: Gary
          address:
            city: Phuket
            country_code: TH
        method:
          type: IP
    US-Paypal-Payment-Request-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: PAYPAL
          paypal:
            browser_payment_operation: INITIATE
            payment_confirmation: CONFIRM_AT_MERCHANT
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
          update_flag: Y
          url:
            browser_payment_return: http://www.mastercard.com
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    US-Apple-Pay-Payment-With-Token-Request-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: APPLEPAY
          token_id: ' 5613dc38-ba17-446c-8c18-ae89f79de596'
          token_type: CITI_TOKEN
          card:
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    US-Alipay-Payment-Failed-Timedout-Notification:
      value:
        method:
          type: ALIPAY
        transaction:
          id: pay02052623456r
          amount: 200
          currency_code: USD
          status: FAILED
          description: Transaction failed for invalid payload
          psp_reference: 23dsdsdsj
        order:
          id: ORD123456
    Qr-Cancelled-Status:
      value:
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 305
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: CANCELLED
          description: Transaction cancelled
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 240
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: CANCELLED
          description: Transaction cancelled
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
    India-Card-Cancel-Payment-Response-Example:
      value:
        transaction:
          id: INDIA234560
          status: SUCCESS
          description: The operation was successfully processed
          currency_code: INR
          country_code: IN
          creation_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
        order:
          id: ORD12345
          amount: 323
          currency_code: INR
          creation_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
          status: PARTIALLY_CAPTURED
    Us-Rfp-Success-Notification-Example:
      value:
        method:
          type: RTP
        transaction:
          id: e2e123456
          uetr: bea176bf-1d5d-48cc-88fb-1d0e06af43e7
          creation_date_time: '2022-09-13T08:23:49.114Z'
          value_date: '2024-05-01'
          expiry_date: '2024-05-09'
          update_flag: Y
          amount: 500
          currency_code: USD
          country_code: US
          full_amount: 500
          discount_amount: 10
          purpose: GDDS
          remittance_info:
          - This is sample
          reference: 2017111202120020101BSTRF00000000011
          network_id: 2023111202120020101BSRFP00000000013
          status: PENDING_SETTLEMENT
          description: Transaction is pending settlement
        customer:
          account:
            number: '89770098'
            bank_id: ABC12345
            name: Josh
          name:
            first_name: Karl
          organization_id: GH4657
          birth_date: '2023-01-02'
          birth_city: New York
          birth_country: US
          address:
            street_name: 1212 4th Street
            building_number: A6378
            city: San Francisco
            state: CA
            postal_code: '70989'
            country_code: US
          type: BUSINESS
        merchant:
          account:
            number: '900900981'
            name: Mike
            bank_id: '89332'
          name: Yokal
          organization_id: AS2345
          birth_date: '2023-01-03'
          birth_city: New Ark
          birth_country: US
          phone_number: +1-555-123-4567
          address:
            street_name: 1212 7th Street
            building_number: V7839
            postal_code: '50098'
            city: New York
            state: CA
            country_code: US
        sender:
          name: Himan
          organization_id: AM2345
          birth_date: '2023-01-07'
          birth_city: New York
          birth_country: US
          private_id: PS89090
          address:
            street_name: 1345 4th Street
            building_number: B5829
            postal_code: '89934'
            city: Vegas
            state: CA
            country_code: US
        receiver:
          name: Pista
          organization_id: GH6785
          birth_date: '2023-07-07'
          birth_city: New York
          birth_country: US
          private_id: PB19090
          address:
            street_name: 4th Avenue
            building_number: G6178
            postal_code: '90213'
            city: New York
            state: CA
            country_code: US
    Us-Google-Pay-Verify-With-Token-Request-Example:
      value:
        customer:
          id: '123456789'
        merchant:
          name: Wilson
        method:
          type: GOOGLEPAY
          token_id: 5613dc38-ba17-446c-8c18-ae89f79de596
          token_type: CITI_TOKEN
          card:
            cvv: '123'
        transaction:
          id: ccapigpaytestmk021826010
          country_code: US
          currency_code: USD
        order:
          id: ccapigpaytestmk1771318960
          amount: 110
          currency_code: USD
    Gateway-Timeout-Gateway-Error-Example:
      value:
        httpCode: '504'
        httpMessage: GATEWAY_TIMEOUT
        moreInformation: 'Response took longer than timeout: PT50S'
    Uk-Pending-Status:
      value:
      - customer:
          id: '225367001'
          name:
            first_name: RANJITH
            last_name: PETER
          email: ranjith.peter@gmail.com
        method:
          type: FPS
        transaction:
          id: PAYBY123456
          amount: 786.01
          currency_code: GBP
          country_code: GB
          url:
            accepted: merchant.accepted.com
            declined: merchant.declined.com
          reason: Loan Payment
          reference: TRY1234567
          product_info:
          - id: PRDT123456
            name: APPLE IPHONE
            quantity: 2
            amount: 786.01
            description: SALES
          expiry_type: 10
          status: PENDING
          description: Pending action from customer
      - customer:
          id: '225367001'
          name:
            first_name: RANJITH
            last_name: PETER
          email: ranjith.peter@gmail.com
        method:
          type: FPS
        transaction:
          id: PAYBY123456
          amount: 899.04
          currency_code: GBP
          country_code: UK
          url:
            accepted: merchant.accepted.com
            declined: merchant.declined.com
          reason: Loan Payment
          reference: TRY1234567
          product_info:
          - id: PRDT123456
            name: APPLE IPHONE
            quantity: 2
            amount: 786.01
            description: SALES
          expiry_type: 10
          status: PENDING
          description: Pending action from customer
    US-Card-Payment-Update-Request-Example:
      value:
        customer:
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        transaction:
          id: '1234567'
          amount: 202
    Payment-Success-Upi-Status:
      value:
      - customer:
          account:
            proxy_id: raja@citi.com
            bank_id: CITIIN77
            type: SAVINGS
            number: '1122334455'
          name:
            first_name: PETER
          address:
            lines:
            - '#45, Block 12'
            - Federal Street
            building_number: '20'
            city: Abis Brasil
            postal_code: 69935-000
            state: san francisco
            country_code: IN
        merchant:
          name: JOHN
          account:
            proxy_id: vinu@citi.com
            bank_id: CITIIN33
            number: '8899775544'
          address:
            lines:
            - '#45, Block 12'
            - Federal Street
            building_number: '20'
            city: Abis Brasil
            postal_code: 69935-000
            state: san francisco
            country_code: IN
        method:
          type: UPI
          upi:
            initiation_type: UPI QR Code
        transaction:
          end_to_end_id: r434SKtUcdGQ
          reference: NPCI123456789
          amount: 100
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          network_id: clr02052023478
          batch_id: batch12345
          value_date: '2022-09-07'
          creation_date_time: '2022-09-13T08:23:49.112Z'
          currency_code: INR
          status: SETTLED
          description: Transaction settled
          remittance_info:
          - PURCHASED APPLE LAPTOP
          - PURCHASED ADDITIONAL SOFTWARE
      - customer:
          account:
            proxy_id: raja@citi.com
            bank_id: CITIIN77
            type: SAVINGS
            number: '1122334455'
          name:
            first_name: PETER
          address:
            lines:
            - '#45, Block 12'
            - Federal Street
            building_number: '20'
            city: Abis Brasil
            postal_code: 69935-000
            state: san francisco
            country_code: IN
        merchant:
          name: JOHN
          account:
            proxy_id: vinu@citi.com
            bank_id: CITIIN33
            number: '8899775544'
          address:
            lines:
            - '#45, Block 12'
            - Federal Street
            building_number: '20'
            city: Abis Brasil
            postal_code: 69935-000
            state: san francisco
            country_code: IN
        method:
          type: UPI
          upi:
            initiation_type: UPI QR Code
        transaction:
          end_to_end_id: r434SKtUcdGQ
          reference: NPCI123456789
          amount: 700
          uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
          network_id: clr02052023478
          batch_id: batch12345
          value_date: '2022-09-07'
          creation_date_time: '2022-09-13T08:23:49.112Z'
          currency_code: INR
          status: SETTLED
          description: Transaction settled
          remittance_info:
          - PURCHASED APPLE LAPTOP
          - PURCHASED ADDITIONAL SOFTWARE
    Not-Found-Gateway-Error-Example:
      value:
        httpCode: '404'
        httpMessage: Not Found
        moreInformation: No resources match requested URI
    Australia-IP-Status:
      value:
      - transaction:
          country_code: AU
          currency_code: AUD
          acceptance_date_time: '2022-09-13T08:23:49.112Z'
          creation_date_time: '2022-09-13T08:22:49.112Z'
          status_date_time: '2022-09-13T08:23:49.112Z'
          purpose: OTHR
          charges_paid_by: SHAR
          end_to_end_id: RMTEST16SEP03
          id: REF123
          settlement_date: '2022-09-13'
          network_id: RSBKAU2SXXX20250916000015568466557
          category_purpose: Salary payment
          status: SETTLED
          description: Transaction settled
          regulatory_reporting:
            type: INDV
            code: DBTRTP
          reference: More details
          uetr: 7c6e36c0-8538-4309-afe2-535053df2a42
          remittance_info:
          - Sample
        method:
          type: IP
        merchant:
          account:
            number: 0100599074
          name: ROLF RICHARDUS
        customer:
          account:
            bank_id: RSBKAU2SXXX
          name:
            first_name: vopak terminals
    India-Card-Payment-With-Card-Request-Example:
      value:
        method:
          type: CARD
          holder_name:
            first_name: JOHN
            last_name: VINU
          card:
            number: '4320445566778907'
            expiry_month: '12'
            expiry_year: '24'
            cvv: '567'
        transaction:
          id: INDIA234567
          amount: 101
          currency_code: INR
          country_code: IN
        order:
          amount: 323
          currency_code: INR
    Unauthorized-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: User not authorized for this functionality
          action: please use valid credentials to access this functionality
          code: CC00007
    Qr-Failed-Status:
      value:
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 305
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: SYSTEM_ERROR
          description: Internal system error occurred processing the transaction
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
      - customer:
          id: 8415678edrf
          type: BUSINESS
          name:
            first_name: JOHN
            last_name: PETER
        merchant:
          tax_id: 8.020.340/8910-44
        method:
          type: PIX
          pix:
            tax_id: 1.020.340/8910-22
        transaction:
          id: abcedgh8742323
          expiry_time: 2500
          creation_date_time: '2022-09-13T08:23:49.112Z'
          amount: 809.76
          update_flag: Y
          update_count: 0
          qr_image: Y
          status: SYSTEM_ERROR
          description: Internal system error occurred processing the transaction
          additional_info:
          - name: LAPTOP
            value: PURCHASED APPLE LAPTOP
          - name: SOFTWARE
            value: PURCHASED ADDITIONAL SOFTWARE
    India-Card-Capture-Payment-Response-Example:
      value:
        transaction:
          id: INDIA234568
          amount: 101
          status: SUCCESS
          description: The operation was successfully processed
          currency_code: INR
          country_code: IN
          creation_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
        order:
          id: ORD12345
          amount: 323
          currency_code: INR
          creation_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
          status: PARTIALLY_CAPTURED
    Us-Rfp-Success-Status-Example:
      value:
      - method:
          type: RTP
        transaction:
          id: e2e123456
          uetr: bea176bf-1d5d-48cc-88fb-1d0e06af43e7
          creation_date_time: '2022-09-13T08:23:49.114Z'
          value_date: '2024-05-01'
          expiry_date: '2024-05-09'
          update_flag: Y
          amount: 500
          currency_code: USD
          country_code: US
          full_amount: 500
          discount_amount: 10
          purpose: GDDS
          remittance_info:
          - This is sample
          reference: 2017111202120020101BSTRF00000000011
          network_id: 2023111202120020101BSRFP00000000013
          status: PENDING_SETTLEMENT
          description: Transaction is pending settlement
        customer:
          account:
            number: '89770098'
            bank_id: ABC12345
            name: Josh
          name:
            first_name: Karl
          organization_id: GH4657
          birth_date: '2023-01-02'
          birth_city: New York
          birth_country: US
          address:
            street_name: 1212 4th Street
            building_number: A6378
            city: San Francisco
            state: CA
            postal_code: '70989'
            country_code: US
          type: BUSINESS
        merchant:
          account:
            number: '900900981'
            name: Mike
            bank_id: '89332'
          name: Yokal
          organization_id: AS2345
          birth_date: '2023-01-03'
          birth_city: New Ark
          birth_country: US
          phone_number: +1-555-123-4567
          address:
            street_name: 1212 7th Street
            building_number: V7839
            postal_code: '50098'
            city: New York
            state: CA
            country_code: US
        sender:
          name: Himan
          organization_id: AM2345
          birth_date: '2023-01-07'
          birth_city: New York
          birth_country: US
          private_id: PS89090
          address:
            street_name: 1345 4th Street
            building_number: B5829
            postal_code: '89934'
            city: Vegas
            state: CA
            country_code: US
        receiver:
          name: Pista
          organization_id: GH6785
          birth_date: '2023-07-07'
          birth_city: New York
          birth_country: US
          private_id: PB19090
          address:
            street_name: 4th Avenue
            building_number: G6178
            postal_code: '90213'
            city: New York
            state: CA
            country_code: US
      - method:
          type: RTP
        transaction:
          id: e2e123456
          uetr: bea176bf-1d5d-48cc-88fb-1d0e06af43e7
          creation_date_time: '2022-09-13T08:23:49.114Z'
          value_date: '2024-05-01'
          expiry_date: '2024-05-09'
          update_flag: Y
          amount: '701.00'
          currency_code: USD
          country_code: US
          full_amount: '701.00'
          discount_amount: '11.00'
          purpose: GDDS
          remittance_info: This is sample
          reference: 2017111202120020101BSTRF00000000011
          network_id: 2023111202120020101BSRFP00000000013
          status: PENDING_SETTLEMENT
          description: Transaction is pending settlement
        customer:
          account:
            number: '89770098'
            bank_id: ABC12345
            name: Josh
          name:
            first_name: Karl
          organization_id: GH4657
          birth_date: '2023-01-02'
          birth_city: New York
          birth_country: US
          address:
            street_name: 1212 4th Street
            building_number: A6378
            city: San Francisco
            state: CA
            postal_code: '70989'
            country_code: US
          type: BUSINESS
        merchant:
          account:
            number: '900900981'
            name: Mike
            bank_id: '89332'
          name: Yokal
          organization_id: AS2345
          birth_date: '2023-01-03'
          birth_city: New Ark
          birth_country: US
          phone_number: +1-555-123-4567
          address:
            street_name: 1212 7th Street
            building_number: V7839
            postal_code: '50098'
            city: New York
            state: CA
            country_code: US
        sender:
          name: Himan
          organization_id: AM2345
          birth_date: '2023-01-07'
          birth_city: New York
          birth_country: US
          private_id: PS89090
          address:
            street_name: 1345 4th Street
            building_number: B5829
            postal_code: '89934'
            city: Vegas
            state: CA
            country_code: US
        receiver:
          name: Pista
          organization_id: GH6785
          birth_date: '2023-07-07'
          birth_city: New York
          birth_country: US
          private_id: PB19090
          address:
            street_name: 4th Avenue
            building_number: G6178
            postal_code: '90213'
            city: New York
            state: CA
            country_code: US
    US-Apple-Pay-Authorize-With-Card-Request-Example:
      value:
        customer:
          id: '11225367999'
        method:
          type: APPLEPAY
          card:
            number: '4320445566778907'
            expiry_month: '12'
            expiry_year: '24'
            cvv: '567'
        transaction:
          id: card1234567
          currency_code: USD
          country_code: US
        order:
          id: order0000001
          amount: 323
          currency_code: USD
    Us-Paypal-Update-Authorize-Request-Example:
      value:
        method:
          type: PAYPAL
        transaction:
          id: REFUNDID12345
          country_code: US
          amount: 100
          currency_code: USD
        order:
          id: ccapigpaytestmk1771318960
    Payment-Uk-Link-Sucess-Notification:
      value:
        transaction:
          id: pay02052623456r
          psp_reference: PYMT123456
          amount: 200
          currency_code: GBP
          status: PENDING
          description: Pending action from customer.
          creation_date_time: '2022-09-13T08:23:49.114Z'
          redirect_url: redirect@abc
          reference: PRDQWETY
          expiry_time: 40
        order:
          id: ORD12345
    Us-Paypal-Cancel-Request-Example:
      value:
        method:
          type: PAYPAL
        transaction:
          id: REFUNDID12345
          target_transaction_id: MkPayPAL1771321466
        order:
          id: ccapigpaytestmk1771318960
    US-Card-Cancel-Request-Example:
      value:
        method:
          type: CARD
        transaction:
          id: ccapigpaytestmk021826010
          target_transaction_id: ccapigpaytestmk1771318161
          country_code: US
          currency_code: USD
        order:
          id: ccapigpaytestmk1771318960
    Bad-Request-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        error_details:
        - issue: property method.type is mandatory and it cannot be empty
          action: please provide valid value for property method.type
          code: VC00010
    Idempotency-Id-Conflict-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: Idempotency-Id provided is currently being used in another request
          action: please do not repeat the same request again
          code: VC00016
    Brazil-PIX-Cancellation-Request-Example:
      value:
        transaction:
          id: RFP99341778674913690215632
          reason: ACCT
          country_code: BR
    Internal-Server-Error-Example:
      value:
        ref_id: ec689822-9864-4c4d-9d68-222467627902
        error_details:
        - issue: unable to serve your request at this moment
          action: Please refer to documentation provided or contact support team
          code: CC00004
    Card-Payment-Response-Example:
      value:
        order:
          amount: 100
          currency_code: USD
          merchant_amount: 100
          merchant_currency: USD
          status: AUTHORIZED
          total_auth_amount: 100
          total_captured_amount: 0
          total_disbursed_amount: 0
          total_refunded_amount: 0
          id: TX0250117002
          creation_time: '2025-01-17T13:10:23.973Z'
          update_time: '2025-01-17T13:10:24.351Z'
        transaction:
          authorizationResponse:
            posEntryMode: '812'
            returnAci: '8'
            stan: '144032'
            transactionIdentifier: '123456789012345'
            commercialCardIndicator: '3'
            posData: '1025104006600'
            processingCode: '003000'
            responseCode: '00'
          acquirer:
            transaction_id: '123456789012345'
            batch: '20250117'
            date: '0117'
            merchant_id: '120240306011001'
          type: AUTHORIZATION
          terminal: 0791
          response:
            acquirer_code: '00'
            acquirer_message: Approved
          id: ORD_20250117_002
          amount: 100
          currency_code: USD
          status: SUCCESS
          description: APPROVED
          creation_date_time: '2025-01-17T13:10:24.019Z'
          update_time: '2025-01-17T13:10:24.351Z'
          receipt: '501713144032'
          authorization_code: '144032'
        method:
          CARD:
            number: 401200xxxxxx0026
            expiry_month: '1'
            expiry_year: '39'
            fundingMethod: CREDIT
            stored_on_file: NOT_STORED
[...]
