openapi: 3.0.1
info:
  title: Enhanced Payment Status Inquiry
  description: >-
    CitiConnect® Payment Status Inquiry provides access to payment status and
    next steps in the payment workflow in real-time, providing increased
    visibility and control.



    ### Transaction Inquiry Parameters: `EndToEndID`, `UETR`, and
    `transaction_flow_indicator`


    When querying for specific transactions, clients can utilize either the
    `EndToEndID` or the `UETR` (Unique End-to-End Transaction Reference) as
    primary identifiers. Additionally, the `transaction_flow_indicator`
    parameter can be specified to distinguish between debit (`DR`) and credit
    (`CR`) transactions.


    ### Key Usage Guidelines


    *   **Primary Identifiers:** You should specify either `EndToEndID` or
    `UETR` to identify the transaction you are inquiring about.

    *   **Transaction Flow Indicator:** The `transaction_flow_indicator`
    parameter accepts two values:
        *   `"DR"`: To inquire about a debit transaction.
        *   `"CR"`: To inquire about a credit transaction.
    It is highly recommended to explicitly use this indicator to ensure the
    retrieval of the correct transaction type.


    ### Default Behavior (When `transaction_flow_indicator` is Omitted):


    1.  **`EndToEndID` Only:** If you provide only the `EndToEndID` and do not
    specify the `transaction_flow_indicator`, the API will, by default, filter
    for and return **debit transactions** associated with that `EndToEndID`.

    2.  **`UETR` Only:** If you provide only the `UETR` and do not specify the
    `transaction_flow_indicator`, the API will, by default, filter for and
    return **debit transactions** associated with that `UETR`.


    ### Recommendation for Unique Record Retrieval


    To guarantee the retrieval of a unique transaction record, it is strongly
    recommended to use the **`UETR` (Unique End-to-End Transaction Reference)**.
    The `EndToEndID`, while useful, may in certain circumstances be associated
    with multiple transaction records, potentially leading to duplicate results.
    Therefore, for precise and unique transaction identification, `UETR` is the
    preferred parameter.


    Additionally, to prevent ambiguity and ensure that you always retrieve the
    intended transaction type (debit or credit), always include the
    `transaction_flow_indicator` parameter with either `"DR"` or `"CR"` when
    performing a transaction inquiry.


    Download our SDKs:


    * [Python
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=python&apiTitle=all&isClientSecReq=true)

    * [Java
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=java&apiTitle=all&isClientSecReq=true)

    * [.Net
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=dotnet&apiTitle=all&isClientSecReq=true)

    * [Ruby
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ruby&apiTitle=all&isClientSecReq=true)

    * [NodeJS
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=nodejs&apiTitle=all&isClientSecReq=true)

    * [Go
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=go&apiTitle=all&isClientSecReq=true)

    * [CLI Tool
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ccapi-cli&apiTitle=all&isClientSecReq=true)


    Note: You must be logged in to download the SDKs.
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 3.0.1
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
    description: production gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/paymentservices/v3
    description: sandbox URL
security:
  - clientCredentials: []
tags:
  - name: Enhanced Payment Status Inquiry
paths:
  /payment/enhancedinquiry:
    post:
      tags:
        - Enhanced Payment Status Inquiry
      summary: Payment Status Inquiry
      description: >-
        This API returns details of your transactions for both Incoming and
        Outgoing payments based on the specified parameters.<br><br><font
        size='2'><b>Content-Type</b> : Supports application/xml
      operationId: paymentStatusInquiry
      parameters:
        - name: client_id
          in: query
          description: >-
            This is your unique identifier shared during your CitiConnect API
            onboarding. This is the same `client_id` used for oauth token
            generation
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: >-
            Oauth token used to authenticate the user. This token is short
            lived, so make sure valid token used.
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          description: >-
            This header represents the format in which the response output is
            needed. I.e. Input will be application/xml;format=PSRX03
          required: true
          schema:
            type: string
          example: application/xml;format=PSRX03
        - name: Content-type
          in: header
          description: Specify 'application/xml' as the response type.
          required: true
          schema:
            type: string
          example: application/xml
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/EnhancedRequest'
            examples:
              Inquiry-Request-Example-EndtoEndId:
                $ref: '#/components/examples/Inquiry-Request-Example-EndtoEndId'
              Inquiry-Request-Example-UETR:
                $ref: '#/components/examples/Inquiry-Request-Example-UETR'
              Inquiry-Request-Example-EndtoEndId-Transaction-Flow-Indicator:
                $ref: >-
                  #/components/examples/Inquiry-Request-Example-EndtoEndId-Transaction-Flow-Indicator
              Inquiry-Request-Example-UETR-Transaction-Flow-Indicator:
                $ref: >-
                  #/components/examples/Inquiry-Request-Example-UETR-Transaction-Flow-Indicator
      responses:
        '200':
          description: OK. successful operation response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Inquiry-Response-Example:
                  $ref: '#/components/examples/Inquiry-Response-Example'
                Inquiry-Response-Return-Example:
                  $ref: '#/components/examples/Inquiry-Response-Return-Example'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
              example:
                error:
                  - action: >-
                      Resend request with valid Transaction flow indicator,
                      Indicator should be CR or DR.
                    issue: Invalid Transaction flow indicator
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Gateway-Error-Response'
              example:
                httpCode: '401'
                httpMessage: Unauthorized
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not Found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Gateway-Error-Response'
              example:
                httpCode: '404'
                httpMessage: Not Found
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Gateway-Error-Response'
              example:
                httpCode: '405'
                httpMessage: Method Not Allowed
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Gateway-Error-Response'
              example:
                httpCode: '415'
                httpMessage: Unsupported Media Type
                moreInformation: Unsupported Content-Type
        '429':
          description: Too Many Requests
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Gateway-Error-Response'
              example:
                httpCode: '429'
                httpMessage: Too Many Requests
                moreInformation: Rate Limit exceeded
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
              example:
                error:
                  - action: Check the service of API.
                    issue: Internal Server Error
        '503':
          description: Service Unavailable
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
              example:
                error:
                  - action: Please try again later/ after some time.
                    issue: Service Unavailable
        '504':
          description: Gateway Timeout
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errors'
              example:
                error:
                  - action: Look for server connectivity issues.
                    issue: Gateway timeout issue
      security:
        - clientCredentials: []
components:
  schemas:
    error_detail:
      type: object
      properties:
        action:
          maxLength: 150
          minLength: 1
          type: string
          description: correction action needs to be done
        issue:
          maxLength: 150
          minLength: 1
          type: string
          description: more details about the issue
    errors:
      type: object
      xml:
        name: Errors
      properties:
        error:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/error_detail'
    Gateway-Error-Response:
      type: object
      title: GatewayErrorResponse
      xml:
        name: errormessage
      properties:
        httpCode:
          type: string
          maxLength: 3
          description: Numeric HTTP Staus code
          title: http_code
          example: '400'
          xml:
            name: httpCode
        httpMessage:
          type: string
          maxLength: 128
          description: HTTP error message
          title: http_message
          example: Bad Request
          xml:
            name: httpMessage
        moreInformation:
          type: string
          maxLength: 128
          description: HTTP error message
          title: more_information
          example: please provide valid value for request
          xml:
            name: moreInformation
    EnhancedRequest:
      type: object
      properties:
        uetr:
          maxLength: 105
          minLength: 1
          pattern: '[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
          type: string
          description: >-
            Input UETR number. Unique EndtoEnd Transaction Reference
            identification assigned by the initiating party or payment
            processing bank to uniquely identify the transaction. 36 characters,
            made up to 32 hexadecimal characters, shown in five parts divided by
            hyphens/dashes as follows - xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.
            Please provide either of uetr or end_to_end_identification.
          xml:
            name: UETR
        end_to_end_identification:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique identification assigned by the initiating party to clearly
            identify the transaction. This Identification is passed on,
            unchanged, throughout the entire end-to-end chain.   Please provide
            either of uetr or end_to_end_identification.
          xml:
            name: endToEndId
        transaction_flow_indicator:
          type: string
          description: >-
            This value indicates whether the transaction is a Credit or debit
            with the values CR or DR respectively. For Debit Transaction
            inquiry, this input is not required as by default Sytem will
            consider the query to be Debit.  However for Credit Transaction
            inquiry this must be inputted as CR. Debit account number should be
            specified for outgoing transaction.Credit account number should be
            specified for incoming transaction
          xml:
            name: txnFlowInd
    Document:
      type: object
      oneOf:
        - properties:
            FIToFIPmtStsRpt:
              $ref: '#/components/schemas/FIToFIPaymentStatusReportV10'
        - properties:
            CstmrPmtStsRpt:
              $ref: '#/components/schemas/CustomerPaymentStatusReportV03'
    CustomerPaymentStatusReportV03:
      description: CustomerPaymentStatusReport (PAIN) message.
      title: CustomerPaymentStatusReport
      required:
        - GrpHdr
        - OrgnlGrpInfAndSts
      type: object
      properties:
        GrpHdr:
          $ref: '#/components/schemas/GroupHeader36'
        OrgnlGrpInfAndSts:
          $ref: '#/components/schemas/OriginalGroupInformation20'
        OrgnlPmtInfAndSts:
          type: array
          description: >-
            Information concerning the original payment information, to which
            the status report message refers.
          items:
            $ref: '#/components/schemas/OriginalPaymentInformation1'
    GroupHeader36:
      required:
        - CreDtTm
        - MsgId
      type: object
      properties:
        CreDtTm:
          type: string
          description: Date and time at which the message was created.
          format: date-time
        FwdgAgt:
          type: object
          description: >-
            Financial institution that receives the instruction from the
            initiating party and forwards it to the next agent in the payment
            chain.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        DbtrAgt:
          type: object
          description: Financial institution servicing an account for the debtor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        InitgPty:
          type: object
          description: Party that initiates the status message.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        MsgId:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Point to point reference, as assigned by the instructing party, and
            sent to the next party in the chain to unambiguously identify the
            message.
      description: >-
        Set of characteristics shared by all individual transactions included in
        the message.
    BranchAndFinancialInstitutionIdentification4:
      required:
        - FinInstnId
      type: object
      properties:
        BrnchId:
          $ref: '#/components/schemas/BranchData2'
        FinInstnId:
          $ref: '#/components/schemas/FinancialInstitutionIdentification7'
    BranchData2:
      type: object
      properties:
        Id:
          type: object
          description: >-
            Unique and unambiguous identification of a branch of a financial
            institution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
      description: Identifies a specific branch of a financial institution.
    OriginalGroupInformation20:
      required:
        - OrgnlMsgId
        - OrgnlMsgNmId
      type: object
      properties:
        OrgnlMsgId:
          type: object
          description: >-
            Point to point reference, as assigned by the original instructing
            party, to unambiguously identify the original message.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlMsgNmId:
          type: object
          description: >-
            Specifies the original message name identifier to which the message
            refers.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCreDtTm:
          type: string
          description: Date and time at which the original message was created.
          format: date-time
        OrgnlNbOfTxs:
          type: object
          description: Number of individual transactions contained in the original message.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the original message,
            irrespective of currencies. The number of fractional digits should
            not be more than 17.
        GrpSts:
          $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: >-
            Detailed information on the number of transactions for each
            identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
      description: >-
        Original group information concerning the group of transactions, to
        which the status report message refers to.
    OriginalPaymentInformation1:
      required:
        - OrgnlPmtInfId
      type: object
      properties:
        OrgnlPmtInfId:
          type: object
          description: >-
            Unique identification, as assigned by the original sending party, to
            unambiguously identify the original payment information group.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlNbOfTxs:
          type: object
          description: >-
            Number of individual transactions contained in the original payment
            information group.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the original payment
            information group, irrespective of currencies. The number of
            fractional digits should not be more than 17.
        PmtInfSts:
          type: object
          description: >-
            Specifies the status of the payment information
            group.<br><br><b>ACTC</b> : Authentication and syntactical and
            semantical validation are successful. <br><br><b>RCVD</b> : Payment
            initiation has been received by the receiving agent.
            <br><br><b>PART</b> : A number of transactions have been accepted,
            whereas another number of transactions have not yet achieved
            'accepted' status. <br><br><b>RJCT</b> : Payment initiation or
            individual transaction included in the payment initiation has been
            rejected.<br><br><b>PDNG</b> : Payment initiation or individual
            transaction included in the payment initiation is pending. Further
            checks and status update will be performed.<br><br><b>ACCP</b> :
            Preceding check of technical validation was successful. Customer
            profile check was also successful.<br><br><b>ACSP</b> : All
            preceding checks such as technical validation and customer profile
            were successful and therefore the payment initiation has been
            accepted for execution.<br><br><b>ACSC</b> : Settlement on the
            debtor's account has been completed. Usage : this can be used by the
            first agent to report to the debtor that the transaction has been
            completed. Warning : this status is provided for transaction status
            reasons, not for financial information. It can only be used after
            bilateral agreement<br><br><b>ACWC</b> : Instruction is accepted but
            a change will be made, such as date or remittance not sent.
          allOf:
            - $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: >-
            Detailed information on the number of transactions for each
            identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
        TxInfAndSts:
          type: array
          description: Payment transaction information and status.
          items:
            $ref: '#/components/schemas/PaymentTransactionInformation25'
    PaymentTransactionInformation25:
      type: object
      properties:
        StsId:
          type: object
          description: >-
            Unique identification, as assigned by an instructing party for an
            instructed party, to unambiguously identify the reported status.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlInstrId:
          type: object
          description: >-
            Unique identification, as assigned by the original instructing party
            for the original instructed party, to unambiguously identify the
            original instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlEndToEndId:
          type: object
          description: >-
            Unique identification, as assigned by the original initiating party,
            to unambiguously identify the original transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TxSts:
          $ref: '#/components/schemas/TransactionIndividualStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        ChrgsInf:
          type: array
          description: >-
            Provides information on the charges related to the processing of the
            rejection of the instruction.
          items:
            $ref: '#/components/schemas/ChargesInformation5'
        AccptncDtTm:
          type: string
          description: >-
            Point in time when the payment order from the initiating party meets
            the processing conditions of the account servicing agent. This means
            that the account servicing agent has received the payment order and
            has applied checks such as authorisation, availability of funds.
          format: date-time
        AcctSvcrRef:
          type: object
          description: >-
            Unique reference, as assigned by the account servicing institution,
            to unambiguously identify the instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        ClrSysRef:
          type: object
          description: >-
            Unique reference, as assigned by a clearing system, to unambiguously
            identify the instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlTxRef:
          $ref: '#/components/schemas/OriginalTransactionReference13'
    ChargesInformation5:
      required:
        - Amt
        - Pty
      type: object
      properties:
        Amt:
          type: object
          description: Transaction charges to be paid by the charge bearer.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Pty:
          type: object
          description: >-
            Party that takes the transaction charges or to which the transaction
            charges are due.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
    OriginalTransactionReference13:
      type: object
      properties:
        IntrBkSttlmAmt:
          type: object
          description: >-
            Amount of money moved between the instructing agent and the
            instructed agent.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Amt:
          $ref: '#/components/schemas/AmountType3Choice'
        IntrBkSttlmDt:
          type: string
          description: >-
            Date on which the amount of money ceases to be available to the
            agent that owes it and when the amount of money becomes available to
            the agent to which it is due.
          format: date
        ReqdColltnDt:
          type: string
          description: >-
            Date on which the creditor requests that the amount of money is to
            be collected from the debtor.
          format: date
        ReqdExctnDt:
          type: string
          description: >-
            Date at which the initiating party requests the clearing agent to
            process the payment.
          format: date
        CdtrSchmeId:
          type: object
          description: Credit party that signs the mandate.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        SttlmInf:
          $ref: '#/components/schemas/SettlementInformation13'
        PmtTpInf:
          $ref: '#/components/schemas/PaymentTypeInformation22'
        PmtMtd:
          $ref: '#/components/schemas/PaymentMethod4Code'
        MndtRltdInf:
          $ref: '#/components/schemas/MandateRelatedInformation6'
        RmtInf:
          $ref: '#/components/schemas/RemittanceInformation5'
        UltmtDbtr:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        Dbtr:
          type: object
          description: Party that owes an amount of money to the (ultimate) creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        DbtrAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the debtor to which a
            debit entry will be made as a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        DbtrAgt:
          type: object
          description: Financial institution servicing an account for the debtor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        DbtrAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the debtor agent at its
            servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        CdtrAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the creditor agent at
            its servicing agent to which a credit entry will be made as a result
            of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        Cdtr:
          type: object
          description: Party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        CdtrAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the creditor to which a
            credit entry will be posted as a result of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        UltmtCdtr:
          type: object
          description: Ultimate party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
      description: >-
        Set of key elements used to identify the original transaction that is
        being referred to.
    AmountType3Choice:
      type: object
      properties:
        EqvtAmt:
          $ref: '#/components/schemas/EquivalentAmount2'
        InstdAmt:
          type: object
          description: >-
            Amount of money to be moved between the debtor and creditor, before
            deduction of charges, expressed in the currency as ordered by the
            initiating party.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
        initiating party. Either EqvtAmt or InstdAmt field value should be
        passed on request.
    SettlementInformation13:
      required:
        - SttlmMtd
      type: object
      properties:
        SttlmMtd:
          $ref: '#/components/schemas/SettlementMethod1Code'
        SttlmAcct:
          type: object
          description: >-
            A specific purpose account used to post debit and credit entries as
            a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the instructing
            reimbursement agent account at its servicing agent in the payment
            chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstdRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the instructed
            reimbursement agent account at its servicing agent in the payment
            chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        ThrdRmbrsmntAgtAcct:
          type: object
          description: >-
            Unambiguous identification of the account of the third reimbursement
            agent account at its servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgt:
          type: object
          description: >-
            Agent through which the instructing agent will reimburse the
            instructed agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        InstdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        ThrdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        ClrSys:
          $ref: '#/components/schemas/ClearingSystemIdentification3Choice'
      description: >-
        Specifies the details on how the settlement of the original
        transaction(s) between the instructing agent and the instructed agent
        was completed.
    MandateRelatedInformation6:
      type: object
      properties:
        MndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to unambiguously
            identify the mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        AmdmntInd:
          type: boolean
          description: >-
            Indicator notifying whether the underlying mandate is amended or
            not.
        AmdmntInfDtls:
          $ref: '#/components/schemas/AmendmentInformationDetails6'
        ElctrncSgntr:
          maxLength: 1025
          minLength: 1
          type: string
          description: >-
            Additional security provisions, such as a digital signature, as
            provided by the debtor.
        DtOfSgntr:
          type: string
          description: >-
            Date on which the direct debit mandate has been signed by the
            debtor.
          format: date
        FrstColltnDt:
          type: string
          description: Date of the first collection of a direct debit as per the mandate.
          format: date
        FnlColltnDt:
          type: string
          description: Date of the final collection of a direct debit as per the mandate.
          format: date
        Frqcy:
          $ref: '#/components/schemas/Frequency1Code'
      description: >-
        Set of elements used to provide further details of the mandate signed
        between the creditor and the debtor.
    Frequency1Code:
      type: string
      description: >-
        Original frequency that has been modified.<br><br><b>YEAR</b> : Event
        takes place every year or once a year. <br><br><b>MNTH</b> : Event takes
        place every month or once a month. <br><br><b>QURT</b> : Event takes
        place every three months or four times a year. <br><br><b>MIAN</b> :
        Event takes place every six months or two times a
        year.<br><br><b>WEEK</b> : Event takes place once a week.
        <br><br><b>DAIL</b> : Event takes place every day. <br><br><b>ADHO</b> :
        Event takes place on request or as necessary. <br><br><b>INDA</b> :
        Event takes place several times a day.
      enum:
        - YEAR
        - MNTH
        - QURT
        - MIAN
        - WEEK
        - DAIL
        - ADHO
        - INDA
    AmendmentInformationDetails6:
      type: object
      properties:
        OrgnlMndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to unambiguously
            identify the original mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCdtrSchmeId:
          type: object
          description: Original creditor scheme identification that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        OrgnlDbtr:
          type: object
          description: Original debtor that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        OrgnlDbtrAcct:
          type: object
          description: Original debtor account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlDbtrAgt:
          type: object
          description: Original debtor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        OrgnlDbtrAgtAcct:
          type: object
          description: Original debtor agent account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlCdtrAgt:
          type: object
          description: Original creditor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        OrgnlCdtrAgtAcct:
          type: object
          description: Original creditor agent acount that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlFnlColltnDt:
          type: string
          description: Original final collection date that has been modified.
          format: date
        OrgnlFrqcy:
          $ref: '#/components/schemas/Frequency1Code'
      description: List of mandate elements that have been modified.
    CashAccount16:
      required:
        - Id
      type: object
      properties:
        Ccy:
          type: object
          description: Identification of the currency in which the account is held.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Id:
          $ref: '#/components/schemas/AccountIdentification4Choice'
        Nm:
          type: object
          description: >-
            Name of the account, as assigned by the account servicing
            institution, in agreement with the account owner in order to provide
            an additional means of identification of the account.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        Tp:
          $ref: '#/components/schemas/CashAccountType2'
    CashAccountType2:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/CashAccountType4Code'
        Prtry:
          type: object
          description: Nature or use of the account in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the nature, or use of the account. Either Code or Proprietary
        field value should be passed on request.
    CashAccountType4Code:
      type: string
      description: >-
        Account type, in a coded form. <br><br><b>CASH</b> : Account used for
        the payment of cash. <br><br><b>CHAR</b> : Account used for charges if
        different from the account for payment. <br><br><b>COMM</b> : Account
        used for commission if different from the account for payment.
        <br><br><b>TAXE</b> : Account used for taxes if different from the
        account for payment. <br><br><b>CISH</b> : Account used for payment of
        income if different from the current cash account. <br><br><b>TRAS</b> :
        Account used for trading if different from the current cash account.
        <br><br><b>SACC</b> : Account used to post debit and credit entries, as
        a result of transactions cleared and settled through a specific clearing
        and settlement system. <br><br><b>CACC</b> : Account used to post debits
        and credits when no specific account has been nominated.
        <br><br><b>SVGS</b> : Account used for savings. <br><br><b>ONDP</b> :
        Account used for overnight deposits. <br><br><b>MGLD</b> : Account used
        for a marginal lending facility. <br><br><b>NREX</b> : Account used for
        non-resident external. <br><br><b>MOMA</b> : Account used for money
        markets if different from the cash account. <br><br><b>LOAN</b> :
        Account used for loans. <br><br><b>SLRY</b> : Accounts used for salary
        payments. <br><br><b>ODFT</b> : Account is used for overdrafts.
      enum:
        - CASH
        - CHAR
        - COMM
        - TAXE
        - CISH
        - TRAS
        - SACC
        - CACC
        - SVGS
        - ONDP
        - MGLD
        - NREX
        - MOMA
        - LOAN
        - SLRY
        - ODFT
    PaymentTypeInformation22:
      type: object
      properties:
        InstrPrty:
          $ref: '#/components/schemas/Priority2Code'
        ClrChanl:
          type: string
          description: >-
            Specifies the clearing channel to be used to process the payment
            instruction.<br><br><b>RTGS</b> : Clearing channel is a real-time
            gross settlement system. <br><br><b>RTNS</b> : Clearing channel is a
            real-time net settlement system. <br><br><b>MPNS</b> : Clearing
            channel is a mass payment net settlement system. <br><br><b>BOOK</b>
            : Payment through internal book transfer.
          enum:
            - RTGS
            - RTNS
            - MPNS
            - BOOK
        SvcLvl:
          $ref: '#/components/schemas/ServiceLevel8Choice'
        LclInstrm:
          $ref: '#/components/schemas/LocalInstrument2Choice'
        SeqTp:
          type: string
          description: >-
            Identifies the direct debit sequence, such as first, recurrent,
            final or one-off.<br><br><b>FRST</b> : First collection of a series
            of direct debit instructions. <br><br><b>RCUR</b> : Direct debit
            instruction where the debtor's authorisation is used for regular
            direct debit transactions initiated by the creditor.
            <br><br><b>FNAL</b> : Final collection of a series of direct debit
            instructions. <br><br><b>OOFF</b> : Direct debit instruction where
            the debtor's authorisation is used to initiate one single direct
            debit transaction.
          enum:
            - FRST
            - RCUR
            - FNAL
            - OOFF
        CtgyPurp:
          $ref: '#/components/schemas/CategoryPurpose1Choice'
      description: Set of elements used to further specify the type of transaction.
    RemittanceInformation5:
      type: object
      properties:
        Strd:
          type: array
          description: >-
            Information supplied to enable the matching/reconciliation of an
            entry with the items that the payment is intended to settle, such as
            commercial invoices in an accounts' receivable system, in a
            structured form.
          items:
            $ref: '#/components/schemas/StructuredRemittanceInformation7'
        Ustrd:
          type: array
          description: >-
            Information supplied to enable the matching/reconciliation of an
            entry with the items that the payment is intended to settle, such as
            commercial invoices in an accounts' receivable system, in an
            unstructured form.
          items:
            $ref: '#/components/schemas/Max140Text'
    StructuredRemittanceInformation7:
      type: object
      properties:
        AddtlRmtInf:
          maxItems: 3
          type: array
          description: >-
            Additional information, in free text form, to complement the
            structured remittance information.
          items:
            $ref: '#/components/schemas/Max140Text'
        CdtrRefInf:
          $ref: '#/components/schemas/CreditorReferenceInformation2'
        Invcee:
          type: object
          description: >-
            Identification of the party to whom an invoice is issued, when it is
            different from the debtor or ultimate debtor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        Invcr:
          type: object
          description: >-
            Identification of the organisation issuing the invoice, when it is
            different from the creditor or ultimate creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        RfrdDocAmt:
          $ref: '#/components/schemas/RemittanceAmount1'
        RfrdDocInf:
          type: array
          description: >-
            Set of elements used to identify the documents referred to in the
            remittance information.
          items:
            $ref: '#/components/schemas/ReferredDocumentInformation3'
    RemittanceAmount1:
      type: object
      properties:
        AdjstmntAmtAndRsn:
          type: array
          description: >-
            Set of elements used to provide information on the amount and reason
            of the document adjustment.
          items:
            $ref: '#/components/schemas/DocumentAdjustment1'
        CdtNoteAmt:
          type: object
          description: >-
            Amount specified for the referred document is the amount of a credit
            note.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        DscntApldAmt:
          type: object
          description: >-
            Amount of money that results from the application of an agreed
            discount to the amount due and payable to the creditor.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        DuePyblAmt:
          type: object
          description: >-
            Amount specified is the exact amount due and payable to the
            creditor.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        RmtdAmt:
          type: object
          description: Amount of money remitted for the referred document.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        TaxAmt:
          type: object
          description: Quantity of cash resulting from the calculation of the tax.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Set of elements used to provide details on the amounts of the referred
        document.
    ReferredDocumentInformation3:
      type: object
      properties:
        Nb:
          type: object
          description: Unique and unambiguous identification of the referred document.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        RltdDt:
          type: object
          description: Date associated with the referred document.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        Tp:
          $ref: '#/components/schemas/ReferredDocumentType2'
    ReferredDocumentType2:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/ReferredDocumentType1Choice'
        Issr:
          type: object
          description: Identification of the issuer of the reference document type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of referred document.
    FinancialInstitutionIdentification7:
      type: object
      properties:
        BIC:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: >-
            Code allocated to a financial institution by the ISO 9362
            Registration Authority as described in ISO 9362 "Banking - Banking
            telecommunication messages - Business identifier code (BIC)".
        ClrSysMmbId:
          $ref: '#/components/schemas/ClearingSystemMemberIdentification2'
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Othr:
          $ref: '#/components/schemas/GenericFinancialIdentification1'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
      description: >-
        Unique and unambiguous identification of a financial institution, as
        assigned under an internationally recognised or proprietary
        identification scheme.
    PostalAddress6:
      type: object
      properties:
        AdrLine:
          maxItems: 7
          type: array
          description: >-
            Information that locates and identifies a specific address, as
            defined by postal services, presented in free format text.
          items:
            $ref: '#/components/schemas/Max70Text'
        AdrTp:
          type: string
          description: >-
            Identifies the nature of the postal address.<br><br><b>ADDR</b> :
            Address is the complete postal address. <br><br><b>PBOX</b> :
            Address is a postal office (PO) box. <br><br><b>HOME</b> : Address
            is the home address. <br><br><b>BIZZ</b> : Address is the business
            address.<br><br><b>MLTO</b> : Address is the address to which mail
            is sent.<br><br><b>DLVY</b> : Address is the address to which
            delivery is to take place.
          enum:
            - ADDR
            - PBOX
            - HOME
            - BIZZ
            - MLTO
            - DLVY
        BldgNb:
          type: object
          description: Number that identifies the position of a building on a street.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        Ctry:
          $ref: '#/components/schemas/CountryCode'
        CtrySubDvsn:
          type: object
          description: Identifies a subdivision of a country such as state, region, county.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Dept:
          type: object
          description: Identification of a division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        PstCd:
          type: object
          description: >-
            Identifier consisting of a group of letters and/or numbers that is
            added to a postal address to assist the sorting of mail.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        StrtNm:
          type: object
          description: Name of a street or thoroughfare.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        SubDept:
          type: object
          description: >-
            Identification of a sub-division of a large organisation or
            building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        TwnNm:
          type: object
          description: >-
            Name of a built-up area, with defined boundaries, and a local
            government.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Information that locates and identifies a specific address, as defined
        by postal services.
    PartyIdentification32:
      type: object
      properties:
        Nm:
          type: object
          description: >-
            Name by which a party is known and which is usually used to identify
            that party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
        Id:
          type: object
          properties:
            OrgId:
              $ref: '#/components/schemas/OrganisationIdentification4'
            PrvtId:
              $ref: '#/components/schemas/PersonIdentification5'
          description: >-
            Unique and unambiguous identification of a party. Should pass either
            OrgId or PrvtId for organisation and private respectively.
        CtryOfRes:
          type: object
          description: >-
            Country in which a person resides (the place of a person's home). In
            the case of a company, it is the country from which the affairs of
            that company are directed.
          allOf:
            - $ref: '#/components/schemas/CountryCode'
        CtctDtls:
          $ref: '#/components/schemas/ContactDetails2'
    OrganisationIdentification4:
      type: object
      properties:
        BICOrBEI:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: >-
            Code allocated to a financial institution or non financial
            institution by the ISO 9362 Registration Authority as described in
            ISO 9362 "Banking - Banking telecommunication messages - Business
            identifier code (BIC)".
        Othr:
          type: array
          description: >-
            Unique identification of an organisation, as assigned by an
            institution, using an identification scheme.
          items:
            $ref: '#/components/schemas/GenericOrganisationIdentification1'
      description: Unique and unambiguous way to identify an organisation.
    PersonIdentification5:
      type: object
      properties:
        DtAndPlcOfBirth:
          $ref: '#/components/schemas/DateAndPlaceOfBirth'
        Othr:
          type: array
          description: >-
            Unique identification of a person, as assigned by an institution,
            using an identification scheme.
          items:
            $ref: '#/components/schemas/GenericPersonIdentification1'
      description: >-
        Unique and unambiguous identification of a person, for example a
        passport.
    ContactDetails2:
      type: object
      properties:
        EmailAdr:
          type: object
          description: Address for electronic mail (e-mail).
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
        FaxNb:
          type: object
          description: >-
            Collection of information that identifies a FAX number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        MobNb:
          type: object
          description: >-
            Collection of information that identifies a mobile phone number, as
            defined by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        Nm:
          type: object
          description: >-
            Name by which a party is known and which is usually used to identify
            that party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        NmPrfx:
          $ref: '#/components/schemas/NamePrefix1Code'
        Othr:
          type: object
          description: Contact details in another form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        PhneNb:
          type: object
          description: >-
            Collection of information that identifies a phone number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
      description: Set of elements used to indicate how to contact the party.
    NamePrefix1Code:
      type: string
      description: >-
        Specifies the terms used to formally address a person. 
        <br><br><b>DOCT</b> : Title of the person is Doctor or Dr.
        <br><br><b>MIST</b> : Title of the person is Mister or Mr.
        <br><br><b>MISS</b> : Title of the person is Miss. <br><br><b>MADM</b> :
        Title of the person is Madam.
      enum:
        - DOCT
        - MIST
        - MISS
        - MADM
    TransactionGroupStatus3Code:
      type: string
      description: >-
        Specifies the status of a group of transactions.<br><br><b>ACTC</b> :
        Authentication and syntactical and semantical validation are successful.
        <br><br><b>RCVD</b> : Payment initiation has been received by the
        receiving agent. <br><br><b>PART</b> : A number of transactions have
        been accepted, whereas another number of transactions have not yet
        achieved 'accepted' status. <br><br><b>RJCT</b> : Payment initiation or
        individual transaction included in the payment initiation has been
        rejected.<br><br><b>PDNG</b> : Payment initiation or individual
        transaction included in the payment initiation is pending. Further
        checks and status update will be performed.<br><br><b>ACCP</b> :
        Preceding check of technical validation was successful. Customer profile
        check was also successful.<br><br><b>ACSP</b> : All preceding checks
        such as technical validation and customer profile were successful and
        therefore the payment initiation has been accepted for
        execution.<br><br><b>ACSC</b> : Settlement on the debtor's account has
        been completed. Usage : this can be used by the first agent to report to
        the debtor that the transaction has been completed. Warning : this
        status is provided for transaction status reasons, not for financial
        information. It can only be used after bilateral
        agreement<br><br><b>ACWC</b> : Instruction is accepted but a change will
        be made, such as date or remittance not sent.
      enum:
        - ACTC
        - RCVD
        - PART
        - RJCT
        - PDNG
        - ACCP
        - ACSP
        - ACSC
        - ACWC
    StatusReasonInformation8:
      type: object
      properties:
        Orgtr:
          type: object
          description: Party that issues the status.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        Rsn:
          $ref: '#/components/schemas/StatusReason6Choice'
        AddtlInf:
          type: array
          description: Further details on the status reason.
          items:
            $ref: '#/components/schemas/Max105Text'
    NumberOfTransactionsPerStatus3:
      required:
        - DtldNbOfTxs
        - DtldSts
      type: object
      properties:
        DtldNbOfTxs:
          type: object
          description: >-
            Number of individual transactions contained in the message, detailed
            per status.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        DtldCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the message,
            irrespective of currencies, detailed per status. The number of
            fractional digits should not be more than 17
        DtldSts:
          $ref: '#/components/schemas/TransactionIndividualStatus3Code'
    TransactionIndividualStatus3Code:
      type: string
      description: >-
        Common transaction status for all individual transactions
        reported.<br><br><b>ACTC</b> : Authentication and syntactical and
        semantical validation are successful. <br><br><b>RJCT</b> : Payment
        initiation or individual transaction included in the payment initiation
        has been rejected.<br><br><b>PDNG</b> : Payment initiation or individual
        transaction included in the payment initiation is pending. Further
        checks and status update will be performed.<br><br><b>ACCP</b> :
        Preceding check of technical validation was successful. Customer profile
        check was also successful.<br><br><b>ACSP</b> : All preceding checks
        such as technical validation and customer profile were successful and
        therefore the payment initiation has been accepted for
        execution.<br><br><b>ACSC</b> : Settlement on the debtor's account has
        been completed. Usage : this can be used by the first agent to report to
        the debtor that the transaction has been completed. Warning : this
        status is provided for transaction status reasons, not for financial
        information. It can only be used after bilateral
        agreement<br><br><b>ACWC</b> : Instruction is accepted but a change will
        be made, such as date or remittance not sent.
      enum:
        - ACTC
        - RJCT
        - PDNG
        - ACCP
        - ACSP
        - ACSC
        - ACWC
    FIToFIPaymentStatusReportV10:
      description: FIToFIPaymentStatusReport (PACS) message.
      required:
        - GrpHdr
      type: object
      properties:
        GrpHdr:
          $ref: '#/components/schemas/GroupHeader91'
        OrgnlGrpInfAndSts:
          type: array
          description: Provides details on the original group, to which the message refers.
          items:
            $ref: '#/components/schemas/OriginalGroupHeader17'
        TxInfAndSts:
          type: array
          description: >-
            Provides further details on the original transactions, to which the
            status report message refers.
          items:
            $ref: '#/components/schemas/PaymentTransaction110'
        SplmtryData:
          type: array
          description: >-
            Additional information that cannot be captured in the structured
            elements and/or any other specific block.
          items:
            $ref: '#/components/schemas/SupplementaryData1Res'
    SupplementaryData1Res:
      required:
        - Envlp
      type: object
      properties:
        PlcAndNm:
          maxLength: 350
          minLength: 1
          type: string
          description: >-
            Unambiguous reference to the location where the supplementary data
            must be inserted in the message instance.
        Envlp:
          type: string
          description: >-
            Technical element wrapping the supplementary data.Namespace is
            'any'processContents is 'lax'
      description: >-
        Additional information that cannot be captured in the structured
        elements and/or any other specific block.This component may not be used
        without the explicit approval of a SEG and submission to the RA of ISO
        20022 compliant structure(s) to be used in the Envelope element.
    GroupHeader91:
      required:
        - CreDtTm
        - MsgId
      type: object
      properties:
        MsgId:
          type: object
          description: >-
            Point to point reference, as assigned by the instructing party, and
            sent to the next party in the chain to unambiguously identify the
            message.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CreDtTm:
          type: string
          description: Date and time at which the message was created.
          format: date-time
        InstgAgt:
          type: object
          description: >-
            Agent that instructs the next party in the chain to carry out the
            (set of) instruction(s).
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        InstdAgt:
          type: object
          description: >-
            Agent that is instructed by the previous party in the chain to carry
            out the (set of) instruction(s).
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
      description: >-
        Set of characteristics shared by all individual transactions included in
        the message.
    AccountIdentification4Choice:
      type: object
      properties:
        IBAN:
          $ref: '#/components/schemas/IBAN2007Identifier'
        Othr:
          $ref: '#/components/schemas/GenericAccountIdentification1'
      description: >-
        Unique and unambiguous identification for the account between the
        account owner and the account servicer. Either IBAN or Othr field value
        should be passed in request.
    ActiveOrHistoricCurrencyAndAmount:
      type: object
      properties:
        Ccy:
          type: object
          description: Currency code. Passed as the tag attribute.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Value:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount_SimpleType'
    ActiveOrHistoricCurrencyAndAmount_SimpleType:
      maxLength: 18
      type: string
      description: >-
        A number of monetary units specified in an active or a historic currency
        where the unit of currency is explicit and compliant with ISO 4217. The
        number of fractional digits in the amount should not be more than 5.
    ActiveOrHistoricCurrencyCode:
      pattern: '[A-Z]{3,3}'
      type: string
    AddressType3Choice:
      type: object
      properties:
        Cd:
          type: string
          description: >-
            Specifies the type of address.<br><br><b>ADDR</b> : Address is the
            complete postal address. <br><br><b>PBOX</b> : Address is a postal
            office (PO) box. <br><br><b>HOME</b> : Address is the home address.
            <br><br><b>BIZZ</b> : Address is the business
            address.<br><br><b>MLTO</b> : Address is the address to which mail
            is sent.<br><br><b>DLVY</b> : Address is the address to which
            delivery is to take place.
          enum:
            - ADDR
            - PBOX
            - HOME
            - BIZZ
            - MLTO
            - DLVY
        Prtry:
          $ref: '#/components/schemas/GenericIdentification30'
      description: >-
        Identifies the nature of the postal address. Either Code or Proprietary
        field value should be passed in request.
    AmendmentInformationDetails13:
      type: object
      properties:
        OrgnlMndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to unambiguously
            identify the original mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCdtrSchmeId:
          type: object
          description: Original creditor scheme identification that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        OrgnlDbtr:
          type: object
          description: Original debtor that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        OrgnlDbtrAcct:
          type: object
          description: Original debtor account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlDbtrAgt:
          type: object
          description: Original debtor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        OrgnlDbtrAgtAcct:
          type: object
          description: Original debtor agent account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlCdtrAgt:
          type: object
          description: Original creditor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
        OrgnlCdtrAgtAcct:
          type: object
          description: Original creditor agent acount that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount38'
        OrgnlFnlColltnDt:
          type: string
          description: Original final collection date that has been modified.
          format: date
        OrgnlFrqcy:
          type: object
          description: >-
            Original frequency that has been modified. One of the 3 field
            values(Tp/Prd/PtInTm) should be passed in request.
          allOf:
            - $ref: '#/components/schemas/Frequency36Choice'
        OrgnlRsn:
          type: object
          description: >-
            Original reason for the mandate to allow the user to distinguish
            between different mandates for the same creditor. One of the 2 field
            values(Cd/Prtry) should be passed in request.
          allOf:
            - $ref: '#/components/schemas/MandateSetupReason1Choice'
        OrgnlTrckgDays:
          pattern: '[0-9]{2}'
          type: string
          description: Original number of tracking days that has been modified.
      description: List of mandate elements that have been modified.
    AmountType4Choice:
      type: object
      properties:
        EqvtAmt:
          $ref: '#/components/schemas/EquivalentAmount2'
        InstdAmt:
          type: object
          description: >-
            A number of monetary units specified in an active or a historic
            currency where the unit of currency is explicit and compliant with
            ISO 4217.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
        initiating party. Either EqvtAmt or InstdAmt field value should be
        passed in request.
    BranchAndFinancialInstitutionIdentification6:
      required:
        - FinInstnId
      type: object
      properties:
        BrnchId:
          $ref: '#/components/schemas/BranchData3'
        FinInstnId:
          $ref: '#/components/schemas/FinancialInstitutionIdentification18'
    BranchData3:
      type: object
      properties:
        Id:
          type: object
          description: >-
            Unique and unambiguous identification of a branch of a financial
            institution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        LEI:
          pattern: '[A-Z0-9]{18,18}[0-9]{2,2}'
          type: string
          description: Legal entity identifier of the financial institution.
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress24'
      description: Identifies a specific branch of a financial institution.
    CashAccount38:
      required:
        - Id
      type: object
      properties:
        Ccy:
          type: object
          description: Identification of the currency in which the account is held.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Id:
          $ref: '#/components/schemas/AccountIdentification4Choice'
        Nm:
          type: object
          description: >-
            Name of the account, as assigned by the account servicing
            institution, in agreement with the account owner in order to provide
            an additional means of identification of the account.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        Tp:
          $ref: '#/components/schemas/CashAccountType2Choice'
        Prxy:
          $ref: '#/components/schemas/ProxyAccountIdentification1'
    CashAccountType2Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the nature, or use, of the cash account in the format of
            character string with a maximum length of 4 characters. The list of
            valid codes is an external code list published separately. External
            code sets can be downloaded from www.iso20022.org.
        Prtry:
          type: object
          description: Name of the cash account, in a free text form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the nature, or use of the account. Either Code or Proprietary
        field value should be passed in request.
    CategoryPurpose1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Category purpose, as published in an external category purpose code
            list.
        Prtry:
          type: object
          description: Category purpose, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the high level purpose of the instruction based on a set of
        pre-defined categories. Either Code or Proprietary field value should be
        passed in request.
    Charges7:
      type: object
      properties:
        Amt:
          type: object
          description: Transaction charges to be paid by the charge bearer.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Agt:
          type: object
          description: >-
            Agent that takes the transaction charges or to which the transaction
            charges are due.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification6
    ClearingChannel2Code:
      type: string
      description: >-
        Specifies the clearing channel to be used to process the payment
        instruction. <br><br><b>RTGS</b> : Clearing channel is a real-time gross
        settlement system. <br><br><b>RTNS</b> : Clearing channel is a real-time
        net settlement system. <br><br><b>MPNS</b> : Clearing channel is a mass
        payment net settlement system. <br><br><b>BOOK</b> : Payment through
        internal book transfer.
      enum:
        - RTGS
        - RTNS
        - MPNS
        - BOOK
    ClearingSystemIdentification3Choice:
      type: object
      properties:
        Cd:
          maxLength: 3
          minLength: 1
          type: string
          description: >-
            Infrastructure through which the payment instruction is processed,
            as published in an external clearing system identification code
            list. External code sets can be downloaded from www.iso20022.org.
        Prtry:
          type: object
          description: Clearing system identification in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specification of a pre-agreed offering between clearing agents or the
        channel through which the payment instruction is processed. Either Code
        or Proprietary field value should be passed in request.
    ClearingSystemMemberIdentification2:
      required:
        - MmbId
      type: object
      properties:
        ClrSysId:
          type: object
          properties:
            Cd:
              maxLength: 5
              minLength: 1
              type: string
              description: >-
                Identification of a clearing system, in a coded form as
                published in an external clearing system identification code
                list. External code sets can be downloaded from
                www.iso20022.org.
            Prtry:
              type: object
              description: >-
                Identification code for a clearing system, that has not yet been
                identified in the list of clearing systems.
              allOf:
                - $ref: '#/components/schemas/Max35Text'
          description: >-
            Specification of a pre-agreed offering between clearing agents or
            the channel through which the payment instruction is processed.
            Either Code or Proprietary field value should be passed in request.
        MmbId:
          type: object
          description: Identification of a member of a clearing system.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Information used to identify a member within a clearing system.
    Contact4:
      type: object
      properties:
        NmPrfx:
          $ref: '#/components/schemas/NamePrefix2Code'
        Nm:
          type: object
          description: >-
            Name by which a party is known and which is usually used to identify
            that party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        PhneNb:
          type: object
          description: >-
            Collection of information that identifies a phone number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        MobNb:
          type: object
          description: >-
            Collection of information that identifies a mobile phone number, as
            defined by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        FaxNb:
          type: object
          description: >-
            Collection of information that identifies a FAX number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        EmailAdr:
          type: object
          description: Address for electronic mail (e-mail).
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
        EmailPurp:
          type: object
          description: Purpose for which an email address may be used.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        JobTitl:
          type: object
          description: Title of the function.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Rspnsblty:
          type: object
          description: Role of a person in an organisation.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Dept:
          type: object
          description: Identification of a division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        Othr:
          type: array
          description: Contact details in another form.
          items:
            $ref: '#/components/schemas/OtherContact1'
        PrefrdMtd:
          $ref: '#/components/schemas/PreferredContactMethod1Code'
      description: Set of elements used to indicate how to contact the party.
    CountryCode:
      pattern: '[A-Z]{2,2}'
      type: string
      description: >-
        Nation with its own government. The code is checked against the list of
        country names obtained from the United Nations (ISO 3166, Alpha-2 code).
    CreditDebitCode:
      type: string
      description: >-
        Specifies whether the adjustment must be subtracted or added to the
        total amount.<br><br><b>CRDT</b> : Operation is an increase.
        <br><br><b>DBIT</b> : Operation is a decrease.
      enum:
        - CRDT
        - DBIT
    CreditorReferenceInformation2:
      type: object
      properties:
        Ref:
          type: object
          description: >-
            Unique reference, as assigned by the creditor, to unambiguously
            refer to the payment transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Tp:
          $ref: '#/components/schemas/CreditorReferenceType2'
      description: >-
        Reference information provided by the creditor to allow the
        identification of the underlying documents.
    CreditorReferenceType1Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/DocumentType3Code'
        Prtry:
          type: object
          description: Creditor reference type, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Coded or proprietary format creditor reference type. Either Code or
        Proprietary field value should be passed on request.
    CreditorReferenceType2:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/CreditorReferenceType1Choice'
        Issr:
          type: object
          description: Entity that assigns the credit reference type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of creditor reference.
    DateAndDateTime2Choice:
      type: object
      properties:
        Dt:
          type: object
          description: Date
          allOf:
            - $ref: '#/components/schemas/ISODate'
        DtTm:
          type: string
          description: Date and Time
          format: date-time
      description: >-
        Date and time at which a transaction is completed and cleared, that is,
        payment is effected. Either Dt or DtTm field value should be passed in
        request.
    DateAndPlaceOfBirth:
      required:
        - BirthDt
        - CityOfBirth
        - CtryOfBirth
      type: object
      properties:
        BirthDt:
          type: object
          description: Date on which a person is born.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        PrvcOfBirth:
          type: object
          description: Province where a person was born.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CityOfBirth:
          type: object
          description: City where a person was born.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CtryOfBirth:
          type: object
          description: Country where a person was born.
          allOf:
            - $ref: '#/components/schemas/CountryCode'
      description: Date and place of birth of a person.
    DatePeriodDetails:
      required:
        - FrDt
        - ToDt
      type: object
      properties:
        FrDt:
          type: object
          description: Start date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        ToDt:
          type: object
          description: End date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
      description: >-
        Range of time between a start date and an end date for which the tax
        report is provided.
    DocumentAdjustment1:
      required:
        - Amt
      type: object
      properties:
        AddtlInf:
          type: object
          description: Provides further details on the document adjustment.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Amt:
          type: object
          description: Amount of money of the document adjustment.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        CdtDbtInd:
          $ref: '#/components/schemas/CreditDebitCode'
        Rsn:
          type: object
          description: Specifies the reason for the adjustment.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
    DiscountAmountAndType1:
      required:
        - Amt
      type: object
      properties:
        Tp:
          $ref: '#/components/schemas/DiscountAmountType1Choice'
        Amt:
          type: object
          description: Amount of money, which has been typed.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
    DiscountAmountType1Choice:
      type: object
      properties:
        Cd:
          type: object
          description: >-
            Specifies the nature, or use, of the amount in the format of
            character string with a maximum length of 4 characters. The list of
            valid codes is an external code list published separately. External
            code sets can be downloaded from www.iso20022.org.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
        Prtry:
          type: object
          description: Specifies type of amount, as a proprietary code.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the type of the amount. Either Code or Proprietary field value
        should be passed in request.
    DocumentLineInformation1:
      required:
        - Id
      type: object
      properties:
        Id:
          minItems: 1
          type: array
          description: >-
            Set of elements used to provide the content of the referred document
            line.
          items:
            $ref: '#/components/schemas/DocumentLineIdentification1'
        Desc:
          type: object
          description: Description associated with the document line.
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
        Amt:
          $ref: '#/components/schemas/RemittanceAmount3'
    DocumentLineIdentification1:
      type: object
      properties:
        Nb:
          type: object
          description: Identification of the type specified for the referred document line.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        RltdDt:
          type: object
          description: Date associated with the referred document line.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        Tp:
          $ref: '#/components/schemas/DocumentLineType1'
    DocumentType3Code:
      type: string
      description: >-
        Type of creditor reference, in a coded form.<br><br><b>RADM</b> :
        Document is a remittance advice sent separately from the current
        transaction. <br><br><b>RPIN</b> : Document is a linked payment
        instruction to which the current payment instruction is related, for
        example, in a cover scenario. <br><br><b>FXDR</b> : Document is a
        pre-agreed or pre-arranged foreign exchange transaction to which the
        payment transaction refers. <br><br><b>DISP</b> : Document is a dispatch
        advice. <br><br><b>PUOR</b> : Document is a purchase order
        <br><br><b>SCOR</b> : Document is a structured communication reference
        provided by the creditor to identify the referred transaction.
      enum:
        - RADM
        - RPIN
        - FXDR
        - DISP
        - PUOR
        - SCOR
    DocumentType6Code:
      type: string
      description: >-
        Specifies a type of financial or commercial document.<br><br><b>MSIN</b>
        : Document is an invoice claiming payment for the supply of metered
        services, for example gas or electricity supplied to a fixed meter.
        <br><br><b>CNFA</b> : Document is a credit note for the final amount
        settled for a commercial transaction. <br><br><b>DNFA</b> : Document is
        a debit note for the final amount settled for a commercial transaction.
        <br><br><b>CINV</b> :   Document is an invoice. <br><br><b>CREN</b> :
        Document is a credit note. <br><br><b>DEBN</b> : Document is a debit
        note. <br><br><b>HIRI</b> : Document is an invoice for the hiring of
        human resources or renting goods or equipment. <br><br><b>SBIN</b> :
        Document is an invoice issued by the debtor. <br><br><b>SVGS</b> :
        Account used for savings. <br><br><b>CMCN</b> : Document is an agreement
        between the parties, stipulating the terms and conditions of the
        delivery of goods or services. <br><br><b>SOAC</b> : Document is a
        statement of the transactions posted to the debtor's account at the
        supplier. <br><br><b>DISP</b> : Document is a dispatch advice.
        <br><br><b>BOLD</b> : Document is a shipping notice. <br><br><b>VCHR</b>
        : Document is an electronic payment document. <br><br><b>AROI</b> :
        Document is a payment that applies to a specific source document.
        <br><br><b>TSUT</b> : Document is a transaction identifier as assigned
        by the Trade Services Utility. <br><br><b>PUOR</b> : Document is a
        purchase order.
      enum:
        - MSIN
        - CNFA
        - DNFA
        - CINV
        - CREN
        - DEBN
        - HIRI
        - SBIN
        - CMCN
        - SOAC
        - DISP
        - BOLD
        - VCHR
        - AROI
        - TSUT
        - PUOR
    DocumentLineType1:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/DocumentLineType1Choice'
        Issr:
          type: object
          description: >-
            Identification of the issuer of the reference document line
            identificationtype.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of referred document line identification.
    DocumentLineType1Choice:
      type: object
      properties:
        Cd:
          type: object
          description: >-
            Specifies the document line type as published in an external
            document type code list.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
        Prtry:
          type: object
          description: Proprietary identification of the type of the document line.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Provides the type details of the referred document line identification.
        Either Code or Proprietary field value should be passed in request.
    EquivalentAmount2:
      required:
        - Amt
        - CcyOfTrf
      type: object
      properties:
        Amt:
          type: object
          description: >-
            Amount of money to be moved between debtor and creditor, before
            deduction of charges, expressed in the currency of the debtor's
            account, and to be moved in a different currency.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        CcyOfTrf:
          type: object
          description: >-
            Specifies the currency of the to be transferred amount, which is
            different from the currency of the debtor's account.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
      description: >-
        Amount of money to be moved between the debtor and creditor, expressed
        in the currency of the debtor's account, and the currency in which the
        amount is to be moved.
    FinancialIdentificationSchemeName1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Specifies the external account identification scheme name code in
            the format of character string with a maximum length of 4
            characters. The list of valid codes is an external code list
            published separately. External code sets can be downloaded from
            www.iso20022.org.
        Prtry:
          type: object
          description: Name of the identification scheme, in a free text form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Name of the identification scheme. Either Code or Proprietary field
        value should be passed in request.
    FinancialInstitutionIdentification18:
      type: object
      properties:
        BICFI:
          pattern: '[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}'
          type: string
          description: >-
            Code allocated to a financial institution by the ISO 9362
            Registration Authority as described in ISO 9362 "Banking - Banking
            telecommunication messages - Business identifier code (BIC)".
        ClrSysMmbId:
          $ref: '#/components/schemas/ClearingSystemMemberIdentification2'
        LEI:
          pattern: '[A-Z0-9]{18,18}[0-9]{2,2}'
          type: string
          description: Legal entity identifier of the financial institution.
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Othr:
          $ref: '#/components/schemas/GenericFinancialIdentification1'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress24'
      description: >-
        Unique and unambiguous identification of a financial institution, as
        assigned under an internationally recognised or proprietary
        identification scheme.
    Frequency36Choice:
      type: object
      properties:
        Tp:
          $ref: '#/components/schemas/Frequency6Code'
        Prd:
          $ref: '#/components/schemas/FrequencyPeriod1'
        PtInTm:
          $ref: '#/components/schemas/FrequencyAndMoment1'
      description: >-
        Regularity with which direct debit instructions are to be created and
        processed. One of the 3 field values(Tp/Prd/PtInTm) should be passed in
        request.
    Frequency6Code:
      type: string
      description: >-
        Specifies the regularity of an event.br><br><b>YEAR</b> : Event takes
        place every year or once a year. <br><br><b>MNTH</b> : Event takes place
        every month or once a month. <br><br><b>QURT</b> : Event takes place
        every three months or four times a year. <br><br><b>MIAN</b> : Event
        takes place every six months or two times a year.<br><br><b>WEEK</b> :
        Event takes place once a week. <br><br><b>DAIL</b> : Event takes place
        every day. <br><br><b>ADHO</b> : Event takes place on request or as
        necessary. <br><br><b>INDA</b> : Event takes place several times a
        day.<br><br><b>FRTN</b> : Event takes place every two weeks.
      enum:
        - YEAR
        - MNTH
        - QURT
        - MIAN
        - WEEK
        - DAIL
        - ADHO
        - INDA
        - FRTN
    FrequencyAndMoment1:
      required:
        - PtInTm
        - Tp
      type: object
      properties:
        Tp:
          $ref: '#/components/schemas/Frequency6Code'
        PtInTm:
          pattern: '[0-9]{2}'
          type: string
          description: >-
            Further information on the exact point in time the event should take
            place.
      description: >-
        Defines a frequency in terms a specific moment within a specified period
        type.
    FrequencyPeriod1:
      required:
        - CntPerPrd
        - Tp
      type: object
      properties:
        Tp:
          $ref: '#/components/schemas/Frequency6Code'
        CntPerPrd:
          maxLength: 18
          type: string
          description: >-
            Number of instructions to be created and processed during the
            specified period. The number of fractional digits in the amount
            should not be more than 17.
      description: >-
        Defines a frequency in terms on counts per period for a specific period
        type.
    Garnishment3:
      required:
        - Tp
      type: object
      properties:
        Tp:
          $ref: '#/components/schemas/GarnishmentType1'
        Grnshee:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor, in this case, to the garnisher.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        GrnshmtAdmstr:
          type: object
          description: >-
            Party on the credit side of the transaction who administers the
            garnishment on behalf of the ultimate beneficiary.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification135'
        RefNb:
          type: object
          description: >-
            Reference information that is specific to the agency receiving the
            garnishment.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Dt:
          type: object
          description: Date of payment which garnishment was taken from.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        RmtdAmt:
          type: object
          description: Amount of money remitted for the referred document.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        FmlyMdclInsrncInd:
          type: boolean
          description: >-
            Indicates if the person to whom the garnishment applies (that is,
            the ultimate debtor) has family medical insurance coverage
            available.
        MplyeeTermntnInd:
          type: boolean
          description: >-
            Indicates if the employment of the person to whom the garnishment
            applies (that is, the ultimate debtor) has been terminated.
      description: >-
        Provides remittance information about a payment for garnishment-related
        purposes.
    GarnishmentType1:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/GarnishmentType1Choice'
        Issr:
          type: object
          description: Identification of the issuer of the garnishment type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of garnishment.
    GarnishmentType1Choice:
      type: object
      properties:
        Cd:
          type: object
          description: >-
            Specifies the garnishment type as published in an external document
            type code list.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
        Prtry:
          type: object
          description: Proprietary identification of the type of the garnishment.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Provides the type details of the garnishment. Either Code or Proprietary
        field value should be passed in request.
    GenericAccountIdentification1:
      required:
        - Id
      type: object
      properties:
        Id:
          type: object
          description: Identification assigned by an institution.
          allOf:
            - $ref: '#/components/schemas/Max34Text'
        Issr:
          type: object
          description: Entity that assigns the identification.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        SchmeNm:
          type: object
          description: Name of the identification scheme.
          allOf:
            - $ref: '#/components/schemas/FinancialIdentificationSchemeName1Choice'
      description: >-
        Unique identification of an account, as assigned by the account
        servicer, using an identification scheme.
    GenericFinancialIdentification1:
      required:
        - Id
      type: object
      properties:
        Id:
          type: object
          description: Unique and unambiguous identification of a person.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Issr:
          type: object
          description: Entity that assigns the identification.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        SchmeNm:
          $ref: '#/components/schemas/FinancialIdentificationSchemeName1Choice'
      description: >-
        Unique identification of an agent, as assigned by an institution, using
        an identification scheme.
    GenericIdentification30:
      required:
        - Id
        - Issr
      type: object
      properties:
        Id:
          pattern: '[a-zA-Z0-9]{4}'
          type: string
          description: >-
[...]
