openapi: 3.0.0
info:
  description: >-
    Cards disputes APIs to initiate a dispute case creation request and to
    inquire the dispute case status
  version: 1.0.0
  title: cards-disputes_1-0-0
  x-ibm-name: cards-disputes_1-0-0
  contact:
    name: GLOBAL Commercial Cards API Production support
    email: >-
      dl.icg.global.commercial.cards.digital.production.support@imcap.ap.ssmb.com
tags:
  - name: Create Dispute request
    description: Operations related to dispute management
  - name: Status Enquiry request
    description: 'Operations related to dispute status enquiry '
servers:
  - url: https://tts.apib2b.citi.com/tts/cards/disputes
    description: Base URL for the API
  - url: https://tts.apib2b.citi.com/tts/apac/cards/disputes
    description: Base URL for the APAC API
paths:
  /v1/cases:
    post:
      summary: Submit dispute case on a transaction
      description: >-
        Case creation/submission API for clients to consume by providing
        Acquirer Reference Number of a posted transaction along with dispute
        reason
      operationId: createDispute
      security:
        - ClientCredentials: []
      tags:
        - Create Dispute request
      parameters:
        - name: region
          in: header
          description: 'Region of the client. <br>`Example`: NAM,APAC, EMEA, LATAM, INDIA'
          schema:
            type: string
          required: true
        - name: country
          in: header
          description: >-
            Country code in ISO 3166 alpha-3 format.. <br>`Example`: USA(United
            States of America), SGP(Singapore), PHL(Philippines), THA(Thailand)
          schema:
            type: string
          required: true
        - name: req-sys-id
          in: header
          description: >-
            Client Unique id to identify the particular
            request.Min-12:Max-36<br> `Format`: UUID <br> `Example`:
            7d13245e-243a-5e8f-bc10-8626ec728291
          schema:
            type: string
          required: true
        - name: Authorization
          in: header
          description: >-
            </br>Request should contain Authorization header OAuth  <br>
            **OAuth:** <br> Request contains a header field in the form of
            Authorization: Bearer (access_token), where access_token is
            generated using the OAuth url <br>

            `Example` : Bearer
            AAIkMjU2OTI4OGQtODY5Ny00ZjgzLTg0NzEtY2QyZWYwZjM5ZjJk_m3yqnGAbxR_ovVx5bs9OUfF0dd52qHadLtw2ARkwCw2BJcwg1zHsTOuvjPtsW5ioxxd2xXXjlDDCKLuvg15Ce1gzGxTu17xEvLOzSECLIdU_02JbpS3h9ee9GzB-u_MPfKseOiACXYAh_7AVWQhtRMLDKd8RgCUsNzTGXXBeE4</br>
          schema:
            type: string
          required: true
      requestBody:
        required: true
        description: requestBody section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseRequest'
            examples:
              DuplicateProcessing:
                $ref: '#/components/examples/DuplicateProcessing'
              AlteredAmount:
                $ref: '#/components/examples/AlteredAmount'
              IncorrectTransactionCurrency:
                $ref: '#/components/examples/IncorrectTransactionCurrency'
              MultipleProcessing:
                $ref: '#/components/examples/MultipleProcessing'
              CreditAppliedAsCharge:
                $ref: '#/components/examples/CreditAppliedAsCharge'
              HotelCancellation:
                $ref: '#/components/examples/HotelCancellation'
              AirlineTicketCancellation:
                $ref: '#/components/examples/AirlineTicketCancellation'
              MerchandiseReturned:
                $ref: '#/components/examples/MerchandiseReturned'
              CreditNotReceived:
                $ref: '#/components/examples/CreditNotReceived'
              CancelledRecurringTransaction:
                $ref: '#/components/examples/CancelledRecurringTransaction'
              PaidByOtherMeans:
                $ref: '#/components/examples/PaidByOtherMeans'
              ATMDiscrepancy:
                $ref: '#/components/examples/ATMDiscrepancy'
              NotAsDescribed:
                $ref: '#/components/examples/NotAsDescribed'
              NeverReceived:
                $ref: '#/components/examples/NeverReceived'
              FraudulentTransaction:
                $ref: '#/components/examples/FraudulentTransaction'
      responses:
        '202':
          description: Ack Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckResponsePayload'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/status:
    get:
      summary: >-
        To get status of a dispute by passing the Acquirer Reference Number or
        Case ID
      description: >-
        To get status of a dispute by passing the Acquirer Reference Number or
        Case ID
      operationId: getDisputeStatus
      security:
        - ClientCredentials: []
      tags:
        - Status Enquiry request
      parameters:
        - name: Content-Type
          in: header
          description: >-
            The MIME type of the body of the request (used with POST and PUT
            requests). Always pass application/json.
          schema:
            type: string
          required: false
        - name: req-sys-id
          in: header
          description: Client Unique id to identify the particular request.
          schema:
            type: string
          required: true
        - name: country
          in: header
          description: >-
            Country code in ISO 3166 alpha-3 format.. <br>`Example`: USA(United
            States of America), SGP(Singapore), PHL(Philippines), THA(Thailand)
          schema:
            type: string
          required: true
        - name: region
          in: header
          description: 'Region of the client. <br>`Example`: NAM,APAC, EMEA, LATAM, INDIA'
          schema:
            type: string
          required: true
        - name: Authorization
          in: header
          description: >-
            </br>Request should contain Authorization header OAuth  <br>
            **OAuth:** <br> Request contains a header field in the form of
            Authorization: Bearer (access_token), where access_token is
            generated using the OAuth url <br>

            `Example` : Bearer
            AAIkMjU2OTI4OGQtODY5Ny00ZjgzLTg0NzEtY2QyZWYwZjM5ZjJk_m3yqnGAbxR_ovVx5bs9OUfF0dd52qHadLtw2ARkwCw2BJcwg1zHsTOuvjPtsW5ioxxd2xXXjlDDCKLuvg15Ce1gzGxTu17xEvLOzSECLIdU_02JbpS3h9ee9GzB-u_MPfKseOiACXYAh_7AVWQhtRMLDKd8RgCUsNzTGXXBeE4</br>
          schema:
            type: string
          required: true
        - name: acquirerReferenceNumber
          in: query
          example: '12345678912123456789123'
          description: >-
            The Acquirer Reference Number of the transaction on which the
            dispute case was created
          schema:
            type: string
          required: false
        - name: caseId
          in: query
          example: '12345678912'
          description: >-
            The Dispute case ID that was sent back to the client as part of the
            final response webhook post dispute case creation
          schema:
            type: string
          required: false
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>ChargeBackStatusEnquiryResponse</td><td>Success
            response for getting the status</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeBackStatusEnquiryResponse'
        '400':
          description: >-
            <table><tr><td>InvalidChargeBackStatusEnquiryResponse</td><td>Bad
            request</td></tr></tr><tr><td>DISP140</td><td>Client Group corporate
            number is not available</td></tr><tr><td>DISP141</td><td>Invalid
            Case ID or ARN</td></tr><tr><td>DISP142</td><td>Either
            acquirerReferenceNumber or caseId is mandatory. Kindly provide
            acquirerReferenceNumber or
            caseId</td></tr><tr><td>DISP143</td><td>Either
            acquirerReferenceNumber or caseId is only accepted but not both.
            Kindly provide acquirerReferenceNumber or
            caseId</td></tr><tr><td>DISP144</td><td>caseId expected minimum
            length is 11 and can be only
            alphanumeric</td></tr><tr><td>DISP145</td><td>acquirerReferenceNumber
            expected minimum length is 23 and expected maximum length is 24 and
            can be of only digits</td></tr><tr><td>DISP146</td><td>No record
            found for given caseId</td></tr><tr><td>DISP147</td><td>No record
            found for given
            acquirerReferenceNumber</td></tr><tr><td>DISP148</td><td>Invalid
            caseId</td></tr><tr><td>DISP149</td><td>Invalid
            acquirerReferenceNumber</td></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidChargeBackStatusEnquiryResponse'
        '401':
          description: >-
            <table><tr><td>UnAuthorizedResponse</td><td>UnAuthorized
            request.</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '500':
          description: >-
            <table><tr><td>InternalServerErrorResponse</td><td></tr><tr><td>GRC0015</td><td>We
            have encountered an error and couldn't receive your request. Please
            try again, or contact Citi support if you have any further questions
            or comments</td><table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
components:
  securitySchemes:
    ClientCredentials:
      type: oauth2
      description: ''
      flows:
        clientCredentials:
          tokenUrl: https://tts.apib2b.citi.com/api/oauth2/token
          scopes:
            /api: ''
  schemas:
    CaseRequest:
      properties:
        reasonCode:
          description: >-
            Reason Code provides the Dispute reason for sending the chargeback.
            Based on the selected reason code, the respective reason code
            details need to be passed in the request.
          type: string
          format: string
          title: reasonCode
          example: DuplicateProcessing
          enum:
            - DuplicateProcessing
            - AlteredAmount
            - IncorrectTransactionCurrency
            - MultipleProcessing
            - CreditAppliedAsCharge
            - HotelCancellation
            - AirlineTicketCancellation
            - MerchandiseReturned
            - CreditNotReceived
            - CancelledRecurringTransaction
            - PaidByOtherMeans
            - ATMDiscrepancy
            - NotAsDescribed
            - NeverReceived
            - FraudulentTransaction
        reasonCodeDetails:
          $ref: '#/components/schemas/ReasonCodeDetails'
        transactionDetails:
          description: Dispute transactions details
          type: array
          maxLength: 1
          title: transactionDetails
          items:
            $ref: '#/components/schemas/TransactionDetails'
      required:
        - reasonCode
        - transactionDetails
        - reasonCodeDetails
    TransactionDetails:
      properties:
        requestId:
          description: >-
            Unique Request ID. UUID generated by a client for each individual
            transaction
          type: string
          format: alphanumeric
          title: requestId
          example: 73d150f5-ee16-4841-a2db-4f24b6d372cc
          maxLength: 36
          minLength: 36
        acquirerReferenceNumber:
          description: >-
            The Acquirer Reference Number of the transaction against which the
            dispute case creation request is being raised
          type: string
          format: numeric
          title: acquirerReferenceNumber
          example: '22345678901234500000000'
          maxLength: 24
          minLength: 23
        disputeAmount:
          description: Dispute Amount
          type: number
          format: Double
          title: disputeAmount
          example: 123456789876.65
          maxLength: 19
        disputeCurrency:
          description: >-
            Disputed amount currency. ISO-3 Currency Code only. E.g. USD, INR,
            IDR, SGD
          type: string
          format: string
          title: disputeCurrency
          example: USD
          minLength: 3
          maxLength: 3
      required:
        - requestId
        - acquirerReferenceNumber
        - disputeAmount
        - disputeCurrency
    ReasonCodeDetails:
      description: Pass the reason code details based on the reason code selected.
      oneOf:
        - $ref: '#/components/schemas/DuplicateProcessing'
        - $ref: '#/components/schemas/AlteredAmount'
        - $ref: '#/components/schemas/IncorrectTransactionCurrency'
        - $ref: '#/components/schemas/MultipleProcessing'
        - $ref: '#/components/schemas/CreditAppliedAsCharge'
        - $ref: '#/components/schemas/HotelCancellation'
        - $ref: '#/components/schemas/MerchandiseReturned'
        - $ref: '#/components/schemas/CreditNotReceived'
        - $ref: '#/components/schemas/AirlineTicketCancellation'
        - $ref: '#/components/schemas/CancelledRecurringTransaction'
        - $ref: '#/components/schemas/NeverReceived'
        - $ref: '#/components/schemas/NotAsDescribed'
        - $ref: '#/components/schemas/ATMDiscrepancy'
        - $ref: '#/components/schemas/PaidByOtherMeans'
        - $ref: '#/components/schemas/FraudulentTransaction'
    DuplicateProcessing:
      properties:
        chComments:
          description: Cardholder comments
          type: string
          format: alphanumeric
          title: chComments
          example: Sample cardholder comments.
          maxLength: 250
        chAckd:
          description: >-
            Checkbox Answer to the Question -I certify that the information
            provided is true to the best of my knowledge (True/False)
          type: string
          format: string
          title: chAckd
          example: 'True'
      required:
        - chAckd
    AlteredAmount:
      properties:
        chComments:
          description: Cardholder comments
          type: string
          format: alphanumeric
          title: chComments
          example: Sample cardholder comments
          maxLength: 250
        chAlteredAmtFrm:
          description: This is the expected original transaction amount
          type: string
          format: Double
          title: chAlteredAmtFrm
          example: '1234567898.76'
          maxLength: 19
        chAlteredAmtTo:
          description: >-
            This is the amount that the original transaction amount was altered
            to
          type: string
          format: Double
          title: chAlteredAmtTo
          example: '12345678987.98'
          maxLength: 19
      required:
        - chAlteredAmtFrm
        - chAlteredAmtTo
    IncorrectTransactionCurrency:
      properties:
        merchantProcessedCurr:
          description: Merchants processed currency only. E.g. USD, INR, IDR, SGD
          type: string
          format: string
          title: merchantProcessedCurr
          example: USD
          maxLength: 3
          minLength: 3
        chReceiptCurr:
          description: Cardholders receipt currency only. E.g. USD, INR, IDR, SGD
          type: string
          format: string
          title: chReceiptCurr
          example: IND
          maxLength: 3
          minLength: 3
      required:
        - merchantProcessedCurr
        - chReceiptCurr
    MultipleProcessing:
      properties:
        chComments:
          description: Cardholder comments
          type: string
          format: alphanumeric
          title: chComments
          example: Sample cardholder comments
          maxLength: 250
        chProvidedTransDt:
          description: Cardholder provided transaction date, Should be YYYYMMDD format
          type: string
          format: Date
          title: chProvidedTransDt
          example: YYYYMMDD
        chProvidedTransAmnt:
          description: Cardholder provided transactional amount .
          type: string
          format: Double
          title: chProvidedTransAmnt
          example: '1234567898765.43'
          maxLength: 19
      required:
        - chProvidedTransDt
        - chProvidedTransAmnt
    CreditAppliedAsCharge:
      properties:
        chComments:
          description: Cardholder comments
          type: string
          format: alphanumeric
          title: chComments
          example: Sample cardholder comments
          maxLength: 250
      additionalProperties: false
    HotelCancellation:
      title: HotelCancellation
      properties:
        chComments:
          description: 'Cardholder comments '
          type: string
          format: alphanumeric
          title: chComments
          example: >-
            If without Cancellation number, provide Details of the cancellation
            and the person accepting the Cancellation.
          maxLength: 250
        cancelledDate:
          description: Cardholder cancellation date. Should be YYYYMMDD format
          type: string
          format: Date
          title: cancelledDate
          example: YYYYMMDD
        cancelledTime:
          description: Cardholder cancellation time. Should be HH:MM format
          type: string
          format: Time
          title: cancelledTime
          example: HH:MM
        cancellationNumber:
          description: >-
            Cancellation number .If isCancelPolicyProvided == Y then, Either
            Cancellation Number or Cancellation Details is required
          type: string
          format: numeric
          title: cancellationNumber
          example: '1245'
        isCancelPolicyProvided:
          description: Is the cancellation policy provided? True/False
          type: string
          format: string
          title: isCancelPolicyProvided
          example: 'True'
        cancellationDetails:
          description: >-
            Cancellation details.Either Cancellation Number or Cancellation
            Details is required
          type: string
          format: alphanumeric
          title: cancellationDetails
          example: >-
            If without Cancellation number, provide Details of the cancellation
            and the person accepting the Cancellation.
          maxLength: 250
        contactedMerchantDt:
          description: Cardholder contact date with the Merchant. Should be YYYYMMDD format
          type: string
          format: Date
          title: contactedMerchantDt
          example: YYYYMMDD
        merchantResponse:
          description: >-
            Response from the Merchant .If CancellationDetails is iprovided then
            Merchant Response is Mandatory
          type: string
          format: alphanumeric
          title: merchantResponse
          example: Merchant Response
        isMerchantBankrupt:
          description: Is the Merchant Bankrupt? (True/False)
          type: string
          format: string
          title: isMerchantBankrupt
          example: 'True'
        serviceType:
          description: Type of Service :T=Timeshare/G=Guaranteed Reservation
          type: string
          format: string
          title: serviceType
          example: T
        reservationType:
          description: >-
            If Service Type is  G ,  then choose any of the below  :GR = The
            cardholder properly cancelled the guaranteed reservation/RC = The
            cardholder attempted to cancel within 24 hours of delivery of the
            reservation confirmation/AR = The merchant billed a no show
            transaction for more than one day's accommodation or rental
          type: string
          format: string
          title: reservationType
          example: GR
        serviceDate:
          description: Date of service or expected service
          type: string
          format: Date
          title: serviceDate
          example: YYYYMMDD
        cancellationReason:
          description: Cancellation Reason
          type: string
          format: alphanumeric
          title: cancellationReason
          example: cancellationReason
          maxLength: 250
      required:
        - cancelledDate
        - isCancelPolicyProvided
        - isMerchantBankrupt
        - serviceType
        - serviceDate
        - cancellationReason
    MerchandiseReturned:
      title: MerchandiseReturned
      properties:
        merchandiseAmnt:
          description: Merchandise Amount
          type: string
          format: Double
          title: merchandiseAmnt
          example: '1234567898765432.34'
          maxLength: 19
        merchandiseReturnedOn:
          description: Date the merchandise was returned on (YYYYMMDD)
          type: string
          format: Date
          title: merchandiseReturnedOn
          example: YYYYMMDD
        returnReason:
          description: Reason for returning the merchandise
          type: string
          format: string
          title: returnReason
          example: returnReason
        contactedMerchantOn:
          description: Date the merchant was contacted on (YYYYMMDD)
          type: string
          format: Date
          title: contactedMerchantOn
          example: YYYYMMDD
        merchantResponse:
          description: Merchant Response
          type: string
          format: string
          title: merchantResponse
          example: merchantResponse
        merchantReturnPolicy:
          description: Merchant Return Policy
          type: string
          format: string
          title: merchantReturnPolicy
          example: merchantReturnPolicy
        returnItems:
          description: Items returned to the merchant
          type: string
          format: string
          title: returnItems
          example: returnItems
        isReturnAuthorized:
          description: Is the Return Authorized? (True/False)
          type: string
          format: string
          title: isReturnAuthorized
          example: 'True'
        merchantAdvise:
          description: Merchant advise
          type: string
          format: string
          title: merchantAdvise
          example: merchantAdvise
        merchandiseReceivedOn:
          description: Date the merchandise was received (YYYMMDD)
          type: string
          format: Date
          title: merchandiseReceivedOn
          example: YYYYMMDD
        invoiceNumber:
          description: Invoice Number
          type: string
          format: string
          title: invoiceNumber
          example: '123456789'
        packageSignedBy:
          description: 'Package Signed by '
          type: string
          format: string
          title: packageSignedBy
          example: packageSigned name
        deliveryAddress:
          description: Delivery Address
          type: string
          format: string
          title: deliveryAddress
          example: address
        returnMethod:
          description: >-
            "Return Method.Mandatory if invoice number is present. <br>  Domain
            Values: <br> FF=Face to Face <br> FE=Fed Ex <br> D=DHL <br> U=UPS
            <br> P=Postal Service <br> O=Other"
          type: string
          format: string
          title: returnMethod
          example: P
        otherComments:
          description: Other Comments.Mandatory if value Other selected in Retun Method
          type: string
          format: string
          title: otherComments
          example: otherreturn method
          maxLength: 250
        merchantReturnReceivedDt:
          description: Date of receipt of returned merchandise
          type: string
          format: Date
          title: merchantReturnReceivedDt
          example: YYYYMMDD
      required:
        - merchandiseAmnt
        - merchandiseReturnedOn
        - returnReason
        - contactedMerchantOn
        - merchantResponse
        - returnItems
        - isReturnAuthorized
        - merchantReturnReceivedDt
    CreditNotReceived:
      properties:
        disputeAmnt:
          description: Disputed Amount for which the credit is not received
          type: string
          format: Double
          title: disputeAmnt
          example: '1234567898765432.34'
          maxLength: 19
        creditVoucherDate:
          description: >-
            Date of credit voucher, transaction receipt or refund
            acknowledgement
          type: string
          format: Date
          title: creditVoucherDate
          example: YYYYMMDD
        cancellationDate:
          description: >-
            Date the cardholder cancelled the service or returned the
            merchandise
          type: string
          format: Date
          title: cancellationDate
          example: YYYYMMDD
      required:
        - disputeAmnt
        - creditVoucherDate
        - cancellationDate
    AirlineTicketCancellation:
      title: AirlineTicketCancellation
      properties:
        isCancelled:
          description: Is the airline ticket cancelled? True/False
          type: string
          format: string
          title: isCancelled
          example: 'True'
        cancelledDate:
          description: >-
            Cancellation Date.If isCancelled == 'true', then cancelledDate is
            required 
          type: string
          format: Date
          title: cancelledDate
          example: YYYYMMDD
        cancelReason:
          description: Cancellation Reason
          type: string
          format: string
          title: cancelReason
          example: cancel ticket reason
        ticketNumber:
          description: Ticket Number
          type: string
          format: string
          title: ticketNumber
          example: 24ja98
        contactedAirlineOn:
          description: 'Date on which the client contacted the airline '
          type: string
          format: Date
          title: contactedAirlineOn
          example: YYYYMMDD
        airlineResponse:
          description: Response from the airline
          type: string
          format: string
          title: airlineResponse
          example: airlineResponse
        travelAgentDetails:
          description: 'Details of the Travel Agent '
          type: string
          format: string
          title: travelAgentDetails
          example: travelAgentDetails
        cancellationPolicyAndNum:
          description: Cancellation Policy and Number
          type: string
          format: string
          title: cancellationPolicyAndNum
          example: 24ja98
        isMerchantBankrupt:
          description: Is merchant in bankruptcy/liquidation? True/False
          type: string
          format: string
          title: isMerchantBankrupt
          example: 'True'
        serviceDate:
          description: Date of service or expected service
          type: string
          format: Date
          title: serviceDate
          example: YYYYMMDD
      required:
        - isCancelled
        - isMerchantBankrupt
        - serviceDate
    CancelledRecurringTransaction:
      title: CancelledRecurringTransaction
      properties:
        chNotificationDt:
          description: Cardholder notification date to the merchant.
          type: string
          format: Date
          title: chNotificationDt
          example: YYYYMMDD
        contactedMerchantDt:
          description: >-
            Cardholder contact date with the Merchant.Either Contacted Merchant
            Date or Merchant Response is required 
          type: string
          format: Date
          title: contactedMerchantDt
          example: YYYYMMDD
        merchantResponse:
          description: >-
            Merchant response text to the card holder.Either Contacted Merchant
            Date or Merchant Response is required
          type: string
          format: string
          title: merchantResponse
          example: merchantResponse
        cancellationNumber:
          description: Cancellation number provided by the merchant to the Cardholder.
          type: string
          format: string
          title: cancellationNumber
          example: '123456789'
        cancellationReason:
          description: Cancellation Reason
          type: string
          format: string
          title: cancellationReason
          example: cancellationReason
          maxLength: 250
      required:
        - chNotificationDt
        - cancellationReason
    NeverReceived:
      title: NeverReceived
      properties:
        whatNotReceived:
          description: Details of merchandise or service.
          type: string
          format: string
          title: whatNotReceived
          example: whatNotReceived
          maxLength: 250
        purchaseAmnt:
          description: Amount of Purchase
          type: string
          format: Double
          title: purchaseAmnt
          example: '123456789876.34'
          maxLength: 19
        expectedDt:
          description: 'Expected date of the Merchandise. '
          type: string
          format: Date
          title: expectedDt
          example: YYYYMMDD
        deliveredAddress:
          description: Delivery Address
          type: string
          format: string
          title: deliveredAddress
          example: deliveredAddress
        contactNm:
          description: Name/Number of the person contacted.
          type: string
          format: string
          title: contactNm
          example: '1234598774'
        contactMethod:
          description: Contact Method like phone etc.
          type: string
          format: string
          title: contactMethod
          example: contactMethod
        contactDt:
          description: Date Contacted
          type: string
          format: Date
          title: contactDt
          example: YYYYMMDD
        merchantResponse:
          description: Merchant response.
          type: string
          format: string
          title: merchantResponse
          example: merchantResponse
        merchandiseOrService:
          description: 'What was not received? Merchandise or Service? '
          type: string
          format: string
          title: merchandiseOrService
          example: Service
        didMerchantCancel:
          description: >-
            Did merchant cancel services? / Did merchant cancel the merchandise?
            True/False
          type: string
          format: string
          title: didMerchantCancel
          example: 'True'
        merchantCancelledDt:
          description: >-
            Date merchant cancelled merchandise/services.Mandatory if
            'didMerchantCancel' is True
          type: string
          format: string
          title: merchantCancelledDt
          example: YYYYMMDD
        isMerchantBankrupt:
          description: Is merchant in bankruptcy/liquidation? True/False
          type: string
          format: string
          title: isMerchantBankrupt
          example: 'True'
      required:
        - whatNotReceived
        - purchaseAmnt
        - expectedDt
        - deliveredAddress
        - contactDt
        - merchandiseOrService
        - didMerchantCancel
        - isMerchantBankrupt
    NotAsDescribed:
      properties:
        chExplanation:
          description: >-
            CH provided explanation of what merchandise or service was received
            and what was expected.
          type: string
          format: string
          title: chExplanation
          example: chExplanation
          maxLength: 250
        transactionHappenedAt:
          description: Where the transaction took place
          type: string
          format: string
          title: transactionHappenedAt
          example: transactionHappenedAt
        merchandiseReceivedDt:
          description: Merchandise received or expected to receive date.
          type: string
          format: Date
          title: merchandiseReceivedDt
          example: YYYYMMDD
        merchandiseCancelledDt:
          description: Merchandise returned or cancelled  date.
          type: string
          format: Date
          title: merchandiseCancelledDt
          example: YYYYMMDD
        contactedMerchantDt:
          description: Merchant contact date.
          type: string
          format: Date
          title: contactedMerchantDt
          example: YYYYMMDD
        merchantResponse:
          description: Merchant response detail.
          type: string
          format: string
          title: merchantResponse
          example: merchantResponse
          maxLength: 250
        isMerchantRefused:
          description: Merchant Accepted or refuse to accept (true/false).
          type: string
          format: string
          title: isMerchantRefused
          example: 'True'
        merchantAdvise:
          description: What did the merchant refuse or advise.
          type: string
          format: string
          title: merchantAdvise
          example: merchantAdvise
        invoiceNumber:
          description: Invoice or Tracking number for return.
          type: string
          format: string
          title: invoiceNumber
          example: '12345432123'
          maxLength: 64
        packageSignedBy:
          description: Who signed the package.
          type: string
          format: string
          title: packageSignedBy
          example: packageSignedBy
          maxLength: 64
        deliveryAddress:
          description: Delivery Address
          type: string
          format: string
          title: deliveryAddress
          example: deliveryAddress
          maxLength: 250
        whatPurchased:
          description: What was purchased? Merchandise or Service?
          type: string
          format: string
          title: whatPurchased
          example: Service
        merchantReturnReceivedDt:
          description: Date merchant received returned merchandise
          type: string
          format: Date
          title: merchantReturnReceivedDt
          example: YYYYMMDD
        merchantAcceptedCancellation:
          description: >-
            Did the merchant accept the cancellation?If What was purchased =
            Service: True/False
          type: string
          format: string
          title: merchantAcceptedCancellation
          example: 'True'
        returnMethod:
          description: >-
            Return Method Applicable if invoice number is present. choose any
            one of below allowed return methods: <ol><li>'FF=Face to
            Face'</li><li>'FE=Fed
            Ex'</li><li>'D=DHL'</li><li>'U=UPS'</li><li>'P=Postal
            Service'</li><li>'O=Other'</li></ol>
          type: string
          format: string
          title: returnMethod
          example: returnMethod
        otherComments:
          description: Other Comments
          type: string
          format: string
          title: otherComments
          example: otherComments
          maxLength: 250
      required:
        - chExplanation
        - transactionHappenedAt
        - merchandiseReceivedDt
        - merchandiseCancelledDt
        - contactedMerchantDt
        - isMerchantRefused
        - invoiceNumber
        - whatPurchased
        - merchantReturnReceivedDt
    ATMDiscrepancy:
      properties:
        amntDispensed:
          description: Amount dispensed at the ATM.
          type: string
          format: Double
          title: amntDispensed
          example: '12345676543.76'
          maxLength: 19
      required:
        - amntDispensed
    PaidByOtherMeans:
      title: PaidByOtherMeans
      properties:
        contactedMerchantDt:
          description: Cardholder contact date with the Merchant. Format YYYYMMDD
          type: string
          format: Date
          title: contactedMerchantDt
          example: YYYYMMDD
        meansOfPayment:
          description: Providing proof of payment by other means,values- A, T, C, F,V,S,O
          type: string
          format: string
          title: meansOfPayment
          example: C
        merchantResponse:
          description: Merchant response text to the card holder.
          type: string
          format: string
          title: merchantResponse
          example: merchantResponse
          maxLength: 250
      required:
        - contactedMerchantDt
        - meansOfPayment
        - merchantResponse
    FraudulentTransaction:
      title: FraudulentTransaction
      properties:
        fraudulentType:
          description: 'fraudulentType of fraud: Lost/Stolen/NeverReceived'
          type: string
          format: string
          title: fraudulentType
          example: Lost
        cardInPossessionDuringTxn:
          description: Was the card in possession of the CH during txn (True/False).
          type: string
          format: string
          title: cardInPossessionDuringTxn
          example: 'True'
        anyoneHadAccessToCard:
          description: Anyone else had access to the Card.True/False
          type: string
          format: string
          title: anyoneHadAccessToCard
          example: 'True'
        relationToCH:
          description: ' Relationship of the CH with the person who had access to the Card.'
          type: string
          format: string
          title: relationToCH
          example: 'True'
          maxLength: 16
        cardLostDt:
          description: Date when the card was lost. Should be YYYYMMDD format
          type: string
          format: Date
          title: cardLostDt
          example: YYYYMMDD
        cardLostDiscDt:
          description: Date when the card lost was discovered.. Should be YYYYMMDD format
          type: string
          format: Date
          title: cardLostDiscDt
          example: YYYYMMDD
        cardStolenDt:
          description: Date when the card was stolen. Should be YYYYMMDD format
          type: string
          format: Date
          title: cardStolenDt
          example: YYYYMMDD
        cardStolenDiscDt:
          description: Date when the card stolen was discovered. Should be YYYYMMDD format
          type: string
          format: Date
          title: cardStolenDiscDt
          example: YYYYMMDD
        descOnCardStolen:
          description: Describe how the card was stolen. should not exceed 250 char limit
          type: string
          format: string
          title: descOnCardStolen
          example: descOnCardStolen
          maxLength: 250
        isReportedToCiti:
          description: Is card lost or stolen reported to Citi (true/false).
          type: string
          format: string
          title: isReportedToCiti
          example: 'True'
        cardDeliveryAdd:
          description: Address where the card to be delivered.
          type: string
          format: string
          title: cardDeliveryAdd
          example: cardDeliveryAdd
          maxLength: 250
        chComments:
          description: Cardholder comments
          type: string
          format: string
          title: chComments
          example: chComments
          maxLength: 250
      required:
        - cardInPossessionDuringTxn
    AckResponsePayload:
      properties:
        trackingId:
          type: string
          format: string
          title: trackingId
          example: 7d13245e-243a-5e8f-bc10-8626ec728291
        description:
          type: string
          format: string
          title: description
          default: >-
            Your case creation request is being processed. You will receive an
            update shortly
          example: >-
            Your case creation request is being processed. You will receive an
            update shortly
    ErrorResponse:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorMessage'
    ErrorMessage:
      title: ErrorMessage
      properties:
        errorCode:
          type: string
          example: ErrorCode
          description: >
            All Possible error codes that can be returned in the ErrorResponse.
            *`DISP001` *`DISP002` *`DISP003` *`DISP004` *`DISP005` *`DISP006`
            *`DISP007` *`DISP008` *`DISP009` *`DISP010` *`DISP012` *`DISP013`
            *`DISP014` *`DISP016` *`DISP017` *`DISP018` *`DISP019` *`DISP020`
            *`DISP021` *`DISP022` *`DISP023` *`DISP024` *`DISP025` *`DISP027`
            *`DISP028` *`DISP030` *`DISP031` *`DISP032` *`DISP033` *`DISP034`
            *`DISP035` *`DISP036` *`DISP037` *`DISP038` *`DISP039` *`DISP040`
            *`DISP041` *`DISP042` *`DISP043` *`DISP044` *`DISP045` *`DISP046`
            *`DISP047` *`DISP048` *`DISP049` *`DISP050` *`DISP051` *`DISP052`
            *`DISP053` *`DISP054` *`DISP055` *`DISP056` *`DISP057` *`DISP058`
            *`DISP059` *`DISP060` *`DISP061` *`DISP062` *`DISP063` *`DISP064`
            *`DISP065` *`DISP066` *`DISP067` *`DISP068` *`DISP069` *`DISP070`
            *`DISP071` *`DISP072` *`DISP073` *`DISP074` *`DISP075` *`DISP076`
            *`DISP077` *`DISP078` *`DISP079` *`DISP080` *`DISP081` *`DISP082`
            *`DISP083` *`DISP087` *`DISP088` *`DISP089` *`DISP090` *`DISP091`
            *`DISP092` *`DISP093` *`DISP094` *`DISP095` *`DISP096` *`DISP097`
            *`DISP098` *`DISP099` *`DISP100` *`DISP101` *`DISP102` *`DISP103`
            *`DISP104` *`DISP105` *`DISP106` *`DISP107` *`DISP108` *`DISP109`
            *`DISP110` *`DISP111` *`DISP112` *`DISP113` *`DISP114` *`DISP117`
            *`DISP118` *`DISP119` *`DISP120` *`DISP121` *`DISP122` *`DISP123`
            *`DISP124` *`DISP125` *`DISP126` *`DISP127` *`DISP128` *`DISP129`
            *`DISP130` *`DISP131` *`DISP132` *`DISP133` *`DISP134` *`DISP135`
            *`DISP136` *`DISP137` *`DISP138` *`DISP139` *`DISP140` *`GRC0003`
            *`GRC0004` *`GRC0005` *`GRC0006` *`GRC0007` *`GRC0010` *`GRC0016`
        errorDescription:
          type: string
          example: ErrorDescription
          description: >
            The error description that corresponds to error code when there is
            any error occurred while retrieving the transaction. * `DISP001` -
            reasonCode is mandatory * `DISP002` - Reason code could only be one
            of the 15 below:
              - Duplicate Processing
              - Altered Amount
              - Incorrect Transaction Currency
              - Multiple Processing
              - Credit Applied as Charge
              - Hotel Cancellation
              - Merchandise Returned
              - Credit Not Received
              - Airline Ticket Cancellation
              - Cancelled Recurring Transaction
              - Never Received
              - Not As Described
              - ATM Discrepency
              - Paid By Other Means
              - Fraudulent Transaction                  
            * `DISP003` - Transaction Details object is  mandatory * `DISP004` -
            You can send only one ARN per dispute creation request * `DISP005` -
            requestID is mandatory * `DISP006` - Request ID is not unique within
            the array. Please use unique request IDs for all ARNs in the array.
            * `DISP007` - RequestId length should contain max of 36 characters *
            `DISP008` - acquirerReferenceNumber is mandatory * `DISP009` -
            Invalid ARN * `DISP010` - disputeAmount is mandatory * `DISP012` -
            Disputed amount cannot be negative and cannot have more than 19
            digits (including decimals) * `DISP013` - disputeCurrency is
            mandatory * `DISP014` - disputeCurrency is invalid. Please send a
            valid 3-char currency code * `DISP016` - reasonCodeDetails is
            mandatory * `DISP017` - CardHolder Comments length should contain
            max of 250 characters * `DISP018` - Card holder acknowledgement is
            mandatory * `DISP019` - Card holder acknowledgement should be True
            or False * `DISP020` - chAlteredAmtFrm is mandatory * `DISP021` -
            Altered amount 'from' or 'to' cannot be negative and cannot have
            more than 19 digits (including decimals) * `DISP022` -
            chAlteredAmtTo is mandatory * `DISP023` - Altered amount 'from' or
            'to' cannot be negative and cannot have more than 19 digits
            (including decimals) * `DISP024` - merchantProcessedCurr is
            mandatory * `DISP025` - merchantProcessedCurr is invalid. Please
            send a valid 3-char currency code * `DISP027` - chReceiptCurr is
            mandatory * `DISP028` - chReceiptCurr is invalid. Please send a
            valid 3-char currency code * `DISP030` - chProvidedTransDt is
            mandatory * `DISP031` - Cardholder provided transaction date should
            be YYYYMMDD format and can't be future date * `DISP032` -
            chProvidedTransAmnt is mandatory * `DISP033` - chProvidedTransAmnt
            cannot be negative and cannot have more than 19 digits (including
            decimals) * `DISP034` - cancelledDate is mandatory * `DISP035` -
            Cancelled Date should be YYYYMMDD format and can't be a future date 
            * `DISP036` - Cancelled Time should beHH:MM format * `DISP037` -
            isCancPolicyProvided is mandatory * `DISP038` - isCancPolicyProvided
            must contain only True/False values * `DISP039` - Either
            Cancellation Number or Cancellation Details should be mandatory, If
            Cancellation policy is True. * `DISP040` - CancellationDetails
            length must be with in 250 character * `DISP041` -
            contactedMechantDt should be YYYYMMDD format and can't be a future
            date  * `DISP042` - merchantResponse cannot be more than 250 char *
            `DISP043` - isMerchantBankrupt is mandatory * `DISP044` -
            isMerchantBankrupt value should be True or False * `DISP045` -
            serviceType is mandatory * `DISP046` - serviceType value should be T
            or G * `DISP047` - reservationType is mandatory, if serviceType is G
            * `DISP048` - Invalid reservationType * `DISP049` - serviceDate is
            mandatory * `DISP050` - Service Date should be YYYYMMDD format and
            can't be future date * `DISP051` - cancellationReason is mandatory *
            `DISP052` - cancellationReason length with in 250 character. *
            `DISP053` - merchandiseAmnt is mandatory * `DISP054` -
            merchandiseAmnt cannot be negative and cannot have more than 19
            digits (including decimals) * `DISP055` - merchandiseReturnedOn is
            mandatory * `DISP056` - mechandiseReturnedOn should be YYYYMMDD
            format and can't be future date * `DISP057` - Return Reason is
            mandatory * `DISP058` - contactedmerchantOn is mandatory * `DISP059`
            - contactedMechantOn should be YYYYMMDD format and can't be future
            date * `DISP060` - Merchant Response is Mandatory * `DISP061` -
            Return Items is mandatory * `DISP062` - isReturnAuthorized is
            mandatory * `DISP063` - Return Authorized should be True or False *
            `DISP064` - mechandiseReceivedOn should be YYYYMMDD format and can't
            be future date * `DISP065` - returnMethod is mandatory, if invoice
            number present * `DISP066` - returnMethod is invalid * `DISP067` -
            otherComments is mandatory, if returnMethod value is Other *
            `DISP068` - otherComments cannot be more than 250 char * `DISP069` -
            merchantReturnReceivedDt is mandatory * `DISP070` -
            merchantReturnReceivedDt should be YYYYMMDD format and can't be
            future date * `DISP071` - creditVoucherDate is mandatory * `DISP072`
            - creditVoucherDate should be YYYYMMDD format and can't be future
            date * `DISP073` - cancellationDate is mandatory * `DISP074` -
            cancellationDate should be YYYYMMDD format and can't be future date
            * `DISP075` - isCancelled is Mandatory * `DISP076` - isCancelled
            should be True or False * `DISP077` - cancelledDate is mandatory, if
            isCancelled is True * `DISP078` - CancellationDate should be
            YYYYMMDD format and Furture Date not allowed, if Air ticket
            isCancelled True * `DISP079` - contactedAirlineOn should be YYYYMMDD
            format and can't be future date * `DISP080` - chNotificationDt is
            mandatory * `DISP081` - Card Holder NotificationDate should be
            YYYYMMDD format * `DISP082` - Either contactedMechantDt or
            merchantResponse is required * `DISP083` - contactedMerchantDt
            should be YYYYMMDD format

            * `DISP087` - whatNotReceived field is mandatory * `DISP088` -
            whatNotReceived cannot be more than 250 char * `DISP089` -
            purchaseAmnt is mandatory * `DISP090` - purchaseAmnt cannot be
            negative and cannot have more than 19 digits (including decimals) *
            `DISP091` - expectedDt is mandatory * `DISP092` - expectedDate
            should be YYYYMMDD format * `DISP093` - deliveredAddress is
            mandatory * `DISP094` - contactDt is mandatory * `DISP095` -
            contactDt should be YYYYMMDD format * `DISP096` -
            merchandiseOrService is mandatory * `DISP097` - merchandiseOrService
            must be either Service OR Merchandise * `DISP098` -
            didMerchantCancel is mandatory * `DISP099` - didMerchantCancel
            should be True or False * `DISP100` - merchantCancelledDt is
            mandatory if 'didMerchantCancel' is True * `DISP101` -
            merchantCancelledDt should be YYYYMMDD format * `DISP102` -
            chExplanation is mandatory * `DISP103` - chExplanation cannot be
            more than 250 char * `DISP104` - transactionHappenedAt is Mandatory
            * `DISP105` - merchandiseReceivedDt is mandatory * `DISP106` -
            merchandiseReceivedDt Should be YYYYMMDD format * `DISP107` -
            merchandiseCancelledDt is mandatory * `DISP108` -
            merchandiseCancelledDt should be YYYYMMDD format * `DISP109` -
            contactedMerchantDt is mandatory * `DISP110` - merchantResponse
            length with in 250 character * `DISP111` - isMerchantRefused is
            mandatory * `DISP112` - isMerchantRefused should be True or False *
            `DISP113` - invoiceNumber is mandatory * `DISP114` - invoiceNumber
            cannot be more than 64 char * `DISP117` - packageSignedBy cannot be
            more than 64 char * `DISP118` - deliveryAddress cannot be more than
            250 char * `DISP119` - whatPurchased is mandatory * `DISP120` -
            whatPurchased field should be either Merchandise or Service *
            `DISP121` - merchantAcceptedCancellation is mandatory if
            whatPurchased is Service * `DISP122` - merchantAcceptedCancellation
            should be either True or False * `DISP123` - amntDispensed is
            mandatory * `DISP124` - amntDispensed cannot be negative and cannot
            have more than 19 digits (including decimals) * `DISP125` -
            meansOfPayment is mandatory * `DISP126` - meansOfPayment should be
            valid for domain values A, T, C, F,V,S and O * `DISP127` -
            cardInPossessionDuringTxn is mandatory * `DISP128` -
            cardInPossessionDuringTxn either True or False * `DISP129` -
            anyoneHadAccessToCard either True or False * `DISP130` -
            relationToCH cannot be more than 16 character * `DISP131` -
            cardLostDt should be YYYYMMDD format * `DISP132` - cardLostDiscDt
            should be YYYYMMDD format * `DISP133` - cardStolenDt should be
            YYYYMMDD format * `DISP134` - cardStolenDiscDt should be YYYYMMDD
            format * `DISP135` - descOnCardStolen cannot be more than 250 char *
            `DISP136` - isReportedToCiti value should be either True or False *
            `DISP137` - cardDeliveryAdd length cannot be more than 250 char *
            `DISP138` - Duplicate req-sys-id * `DISP139` - fraudulentType should
            be Lost/Stolen/NeverReceived * `DISP140` - Client Group corporate
            number is not available * `GRC0003` - Invalid JSON input * `GRC0004`
            - Region ID is not available in the request * `GRC0005` - Invalid
            Region ID format. Region ID must be a max of 4 characters *
            `GRC0006` - Client Tracking ID is missing in the request header *
            `GRC0007` - Client requested Content Type is not supported. *
            `GRC0010` - Client Tracking ID length should contain a min of 1
            character and a max of 36 characters  * `GRC0016` - Country code is
            not available in the request
    ChargeBackStatusEnquiryResponse:
      properties:
        acquirerReferenceNumber:
          title: acquirerReferenceNumber
          description: Acquirer Reference Number of the disputed transaction
          type: string
          example: '123456789123456789123456'
          maxLength: 24
          minLength: 23
        cases:
          description: List of cases
          type: array
          items:
            $ref: '#/components/schemas/Cases'
      required:
        - acquirerReferenceNumber
    Cases:
      properties:
        caseDetails:
          $ref: '#/components/schemas/CaseDetails'
        reasonCode:
          description: Reason code against the dispute request
          type: string
          example: DuplicateProcessing
        requestId:
          description: >-
            This is the request that was used by the client at the time of case
            creation
          type: string
          example: '123456789123456789123456789123456789'
          maxLength: 36
          minLength: 36
        trackingId:
          title: trackingId
          description: >-
            This is the api-sys-id that was used at the time of dispute case
            creation request
          type: string
          example: '123456789123456789123456789123456789'
          maxLength: 36
          minLength: 36
      required:
        - caseDetails
        - disputeReason
        - requestID
        - trackingID
    CaseDetails:
      description: >-
        The object containing the individual case status to be sent back to the
        client
      title: CaseDetails
      properties:
        caseId:
          description: Case Number generated in ADS
          type: string
          example: '12345678912'
          maxLength: 11
          minLength: 11
        statusDescription:
          description: >-
            Case status description. Possible values - OP - Open; CP - Awaiting
            Information from Cardholder; CR - Cancelled / Rejected; CM - Closed
            in favour of bank; CC - Closed in favour of cardholder
          type: string
          example: CC - Closed in favour of cardholder
          maxLength: 250
        statusAsOnDate:
          description: >-
            This is the Date Timestamp that the status was last updated. This is
            in the GMT timezone with format YYYYMMDD HH:MM:SS:MMM
          type: string
          example: YYYYMMDD HH:MM:SS:MMM
      required:
        - caseId
        - statusAsOnDate
    InvalidChargeBackStatusEnquiryResponse:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Errors'
    Errors:
      title: Errors
      properties:
        errorCode:
          example: ErrorCode
          type: string
          description: >
            ErrorCode * `DISP140` * `DISP141` * `DISP142` * `DISP143` *
            `DISP144` * `DISP145` * `DISP146` * `DISP147` * `DISP148` *
            `DISP149`
        errorDescription:
          example: ErrorDescription
          description: >
            The error description that corresponds to error code when there is
            any error occurred while retrieving the transaction. * `DISP140` -
            Client Group corporate number is not onboarded * `DISP141` - Case ID
            or ARN doesn't belong to client * `DISP142` - Either
            acquirerReferenceNumber or caseId is mandatory. Kindly provide
            acquirerReferenceNumber or caseId * `DISP143` - Either
            acquirerReferenceNumber or caseId is only accepted but not both.
            Kindly provide acquirerReferenceNumber or caseId * `DISP144` - Case
            ID expected length is 11 and can be only alphanumeric * `DISP145` -
            acquirerReferenceNumber expected minimum length is 23 and expected
            maximum length is 24 and can be of only digits * `DISP146` - No
            record found for given caseId * `DISP147` - No record found for
            given acquirerReferenceNumber * `DISP148` - Invalid caseId *
            `DISP149` - Invalid acquirerReferenceNumber
          type: string
    UnAuthorizedResponse:
      properties:
        httpCode:
          title: httpCode
          description: error code to be sent to the Client
          type: string
          example: '401'
          maxLength: 10
          minLength: 1
        httpMessage:
          title: httpMessage
          description: error message to be sent to the Client
          type: string
          example: Unauthorized
          maxLength: 255
          minLength: 1
        moreInformation:
          description: more details related to the error to be sent to the Client
          type: string
          example: Access Denied
          maxLength: 255
          minLength: 1
    InternalServerErrorResponse:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Errors'
  examples:
    IncorrectTransactionCurrency:
      value:
        reasonCode: IncorrectTransactionCurrency
        reasonCodeDetails:
          chReceiptCurr: IND
          merchantProcessedCurr: USD
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.31
            disputeCurrency: USD
    DuplicateProcessing:
      value:
        reasonCode: DuplicateProcessing
        reasonCodeDetails:
          chComments: Sample cardholder comments.
          chAckd: 'true'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.55
            disputeCurrency: USD
    AlteredAmount:
      value:
        reasonCode: AlteredAmount
        reasonCodeDetails:
          chComments: Sample cardholder comments.
          chAlteredAmtFrm: '1234567898765430'
          chAlteredAmtTo: '1234567898765430'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.31
            disputeCurrency: USD
    MultipleProcessing:
      value:
        reasonCode: MultipleProcessing
        reasonCodeDetails:
          chComments: Sample cardholder comments
          chProvidedTransDt: '20240601'
          chProvidedTransAmnt: '1234567898765.43'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.31
            disputeCurrency: USD
    CreditAppliedAsCharge:
      value:
        reasonCode: CreditAppliedAsCharge
        reasonCodeDetails:
          chComments: Sample cardholder comments
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.34
            disputeCurrency: USD
    HotelCancellation:
      value:
        reasonCode: HotelCancellation
        reasonCodeDetails:
          chComments: >-
            If without Cancellation number, provide Details of the cancellation
            and the person accepting the Cancellation.
          cancelledDate: '20240601'
          cancelledTime: '12:00'
          cancellationNumber: '123456789'
          isCancelPolicyProvided: 'True'
          cancellationDetails: Sample cancellation details
          contactedMerchantDt: '20240601'
          merchantResponse: Sample merchant response
          isMerchantBankrupt: 'True'
          serviceType: T
          reservationType: GR
          serviceDate: '20240601'
          cancellationReason: Sample cancellation reason
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.31
            disputeCurrency: USD
    AirlineTicketCancellation:
      value:
        reasonCode: AirlineTicketCancellation
        reasonCodeDetails:
          isCancelled: 'True'
          cancelledDate: '20240601'
          cancelReason: Sample cancel ticket reason
          ticketNumber: 24ja98
          contactedAirlineOn: '20240602'
          airlineResponse: Sample airline response
          travelAgentDetails: Sample travel agent details
          cancellationPolicyAndNum: Policy123
          isMerchantBankrupt: 'False'
          serviceDate: '20240610'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.2
            disputeCurrency: USD
    MerchandiseReturned:
      value:
        reasonCode: MerchandiseReturned
        reasonCodeDetails:
          merchandiseAmnt: '1234567898765432.34'
          merchandiseReturnedOn: '20240601'
          returnReason: Sample return reason
          contactedMerchantOn: '20240602'
          merchantResponse: Sample merchant response
          merchantReturnPolicy: Sample return policy
          returnItems: Sample returned items
          isReturnAuthorized: 'True'
          merchantAdvise: Sample merchant advise
          merchandiseReceivedOn: '20240603'
          invoiceNumber: INV123456
          packageSignedBy: John Doe
          deliveryAddress: 123 Main St
          returnMethod: FE
          otherComments: Sample other comments
          merchantReturnReceivedDt: '20240604'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.44
            disputeCurrency: USD
    CreditNotReceived:
      value:
        reasonCode: CreditNotReceived
        reasonCodeDetails:
          disputeAmnt: '1234567898765432.34'
          creditVoucherDate: '20240601'
          cancellationDate: '20240602'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.31
            disputeCurrency: USD
    CancelledRecurringTransaction:
      value:
        reasonCode: CancelledRecurringTransaction
        reasonCodeDetails:
          chNotificationDt: '20240601'
          contactedMerchantDt: '20240602'
          merchantResponse: Sample merchant response
          cancellationNumber: '123456789'
          cancellationReason: Sample reason for cancellation
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.66
            disputeCurrency: USD
    PaidByOtherMeans:
      value:
        reasonCode: PaidByOtherMeans
        reasonCodeDetails:
          contactedMerchantDt: '20240601'
          meansOfPayment: C
          merchantResponse: Sample merchant response
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.88
            disputeCurrency: USD
    ATMDiscrepancy:
      value:
        reasonCode: ATMDiscrepancy
        reasonCodeDetails:
          amntDispensed: '12345676543.76'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.66
            disputeCurrency: USD
    NotAsDescribed:
      value:
        reasonCode: NotAsDescribed
        reasonCodeDetails:
          chExplanation: Sample explanation
          transactionHappenedAt: Sample location
          merchandiseReceivedDt: '20240601'
          merchandiseCancelledDt: '20240602'
          contactedMerchantDt: '20240603'
          merchantResponse: Sample merchant response
          isMerchantRefused: 'True'
          merchantAdvise: Sample merchant advise
          invoiceNumber: INV123456
          packageSignedBy: John Doe
          deliveryAddress: 123 Main St
          whatPurchased: Service
          merchantReturnReceivedDt: '20240604'
          merchantAcceptedCancellation: 'True'
          returnMethod: FE
          otherComments: Sample other comments
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.45
            disputeCurrency: USD
    NeverReceived:
      value:
        reasonCode: NeverReceived
        reasonCodeDetails:
          whatNotReceived: Product not received
          purchaseAmnt: '1234567898765.43'
          expectedDt: '20240601'
          deliveredAddress: 123 Main St, City, Country
          contactNm: '1234598774'
          contactMethod: Email
          contactDt: '20240602'
          merchantResponse: Sample merchant response
          merchandiseOrService: Service
          didMerchantCancel: 'False'
          merchantCancelledDt: '20240603'
          isMerchantBankrupt: 'False'
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.23
            disputeCurrency: USD
    FraudulentTransaction:
      value:
        reasonCode: FraudulentTransaction
        reasonCodeDetails:
          fraudulentType: Lost
          cardInPossessionDuringTxn: 'True'
          anyoneHadAccessToCard: 'False'
          relationToCH: Self
          cardLostDt: '20240601'
          cardLostDiscDt: '20240602'
          cardStolenDt: '20240603'
          cardStolenDiscDt: '20240604'
          descOnCardStolen: Card was stolen from my bag.
          isReportedToCiti: 'True'
          cardDeliveryAdd: 123 Main St, City, Country
          chComments: Sample cardholder comments
        transactionDetails:
          - requestId: 73d150f5-ee16-4841-a2db-4f24b6d372cc
            acquirerReferenceNumber: '22345678901234500000000'
            disputeAmount: 123456789876543.98
            disputeCurrency: USD
