openapi: 3.0.1
info:
  title: Cash Transactions API
  description: >
    The Cash Transactions API serves a dual purpose:the EOD transactions
    delivers a finalized,  historical record of all settled cash movements for
    the account.Simultaneously, the Intraday transactions provides real-time
    visibility into the current Business day's activity, capturing
    pending,processing, and settled transactions.
    <br><br>**Authentication**<br><br>Client applications must supply an
    authentication token with every request, and therefore must first
    authenticate before it can proceed. A client can use the OAuth 2 client
    credential grant flow to obtain a time limited access token. To get an
    access token send a HTTP Post request to the token endpoint using basic
    authentication with the client key and secret (provided under separate
    cover).<br><br>**Request**<br><br>```POST {baseURL}/api/oauth2/token
    HTTPS/1.1    

    Authorization: Basic base64(key:secret) 

    Content-Type:application/x-www-form-urlencoded```<br><br>

    **Response**<br><br>```
      {
          "token_type": "bearer", 
          "access_token": <access token>, 
          "expires_in": <seconds until expiry>, 
          "consented_on":<timestamp>, 
          "scope": "/dod"`
      }```    <br><br>The bearer token is valid for 1800 seconds (30 minutes) after which it will expire. At this point, you would need to re-authenticate.
servers:
  - url: https://sandbox.api.citivelocity.com/markets/dod
    description: Sandbox server (uses test data)
  - url: https://api.citivelocity.com/markets/dod
    description: Production server
security:
  - client-Credential-Oauth-Security-Schema: []
components:
  headers:
    dod-request-id:
      schema:
        type: string
      description: The UUID representing the unique identifier of the dod request
    paging-page-number:
      schema:
        type: string
      description: The current page number
    paging-total-page-count:
      schema:
        type: string
      description: The total count of pages available
    paging-total-record-count:
      schema:
        type: string
      description: The total count of records
  responses:
    Bad-Request:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Bad-Request-Example:
              $ref: '#/components/examples/Bad-Request-Example'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Unauthorized-Example:
              $ref: '#/components/examples/Unauthorized-Example'
    Not-Found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not-Found-Example:
              $ref: '#/components/examples/Not-Found-Example'
    Method-Not-Allowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Method-Not-Allowed-Example:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
    Unsupported-Media-Type:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Unsupported-Media-Type-Example:
              $ref: '#/components/examples/Unsupported-Media-Type-Example'
    Internal-Server-Error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Internal-Server-Error-Example:
              $ref: '#/components/examples/Internal-Server-Error-Example'
  examples:
    Bad-Request-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: path-param servicePortableId is mandatory and it cannot be empty
            action: please provide valid parameter values
            code: VC00010
    Unauthorized-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: User not authorized for this functionality
            action: please use valid credentials to access this functionality
            code: CC00007
    Not-Found-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: Resource that you are searching is not found
            action: Please use valid resource details
            code: CC00006
    Method-Not-Allowed-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: Method not supported
            action: please use valid http verb
            code: CC00001
    Unsupported-Media-Type-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: Media type not supported
            action: please use valid content-type in header
            code: CC00002
    Internal-Server-Error-Example:
      value:
        ref_id: 444d0f3f-4x55-7g99-8b2c-0cf2a921a5ab
        errorDetails:
          - issue: unable to serve your request at this moment
            action: Please refer to documentation provided or contact support team
            code: CC00004
  schemas:
    f5471486-3c48-45bc-9b1f-05a7d57bdc71-data-schema:
      type: object
      properties:
        ACCT_BASE_NBR:
          type: string
          description: >-
            Account Base Number is an internal Citi client identifier that is
            associated to a Safekeeping or cash account.
          example: 8-DEMOCSH53JPY
        ACCT_ID:
          type: string
          description: >-
            Account ID is an identifier for both a cash account and/or a
            Safekeeping account that is unique within a branch.
          example: DEMOSK02US
        ULTM_BENEF_ACCT:
          type: string
          description: >-
            Ultimate Beneficiary Account is the account number of the Ultimate
            Beneficiary.
          example: DEMOCH1234
        BR_NME:
          type: string
          description: >-
            Branch Name is the name of the branch for the cash account and/or
            safekeeping account.
          example: NEW YORK SECURITIES CB
        ALTV_CUR_CD:
          type: string
          description: Account Base Currency Code is the ISO Currency Code for the account.
          example: JPY
        SEC_GROUP:
          type: string
          description: >-
            Asset Type is a code representing the Asset Type of the security. 
            Values include:<br> EQTY (Equity)<br> FI (Fixed Income)<br> etc.
          example: FI
        ASRD_INCM_IND:
          type: string
          description: >-
            The Assured Income Indicator advises whether an income payment is
            assured (to be paid on the anticipated payment date) or actual (to
            be paid when funds are actually received).  The values are:<br> ASRD
            (assured)<br> ACTU (actual).
          example: ACTU
        BNK_CUST_PMT_COND:
          type: string
          description: >-
            Bank/Customer Payment Conditions are the terms and conditions for
            payment services for financial institutions.
          example: YOUR/OUR PAYMENT VALUE
        BNKCUST_REPMT_COND:
          type: string
          description: >-
            Bank/Customer Repayment Conditions are the terms and conditions for
            payment services for financial institutions.
          example: OUR/YOUR REPAYMENT VALUE
        CLNT_PFD_CUR_CD:
          type: string
          description: >-
            Base Currency Code is the ISO currency code preferred by the client
            organization.
          example: USD
        BENEF:
          type: string
          description: The Beneficiary is the recipient (payee) of the funds.
          example: BENEFICIARY NAME
        BENEF_BNK:
          type: string
          description: >-
            The Beneficiary Bank  is the bank where the beneficiary has the
            account.
          example: CITIBANK N.A
        BENEF_REF:
          type: string
          description: >-
            Beneficiary Reference is a transaction level reference at the
            beneficiary bank side.
          example: DEMOSG123456
        BR_ID:
          type: string
          description: >-
            Branch Code is the identifier of the branch for the account. For the
            cash account the branch code is a numeric value and for the
            safekeeping account it is the ISO Country code.
          example: '484'
        BRKR_NME:
          type: string
          description: Transaction Broker Name.
          example: BROKER NAME
        BRKR_CODE:
          type: string
          description: Broker Code
          example: '1234'
        EFF_POST_DT:
          type: string
          format: date
          description: >-
            The contractual settlement date while the underlying transaction is
            not settled. The actual settlement date for settled transactions.
          example: '2019-08-26'
        PRIN_INC_IND:
          type: string
          description: >-
            Principal / Income Indicator advises if the balance is for Principal
            or Income.  Values include: <br>P (Principal)<br> I (Income).
          example: P
        CASH_CR_AMT:
          type: number
          format: double
          description: Cash Credit is the amount on the credit transaction
          example: '6136188.61'
        CASH_DB_AMT:
          type: number
          format: double
          description: Cash Debit is the amount on the debit transaction
          example: '6136188.61'
        CASH_NET_AMT:
          type: number
          format: double
          description: >-
            Cash Net Amount is the signed amount that will be credited or
            debited from the cash account.
          example: '6136188.61'
        CMPNY_DESC:
          type: string
          description: >-
            Company Description contains information regarding the company which
            issued the security.
          example: CITIBANK N.A
        CONTR_PYBL_DT:
          type: string
          format: date
          description: >-
            Contractual Settlement Date is the date when the clients cash
            account should be credited with funds on a sale (and debited on a
            purchase) on the due settlement date in place of when a trade
            actually settles in the market.
          example: '2019-08-26'
        CORP_ACTN_TYP:
          type: string
          description: >-
            Corporate Action Type are codes that identify the type of
            corporation action transaction. Values include BIDS (BID/REVERSE
            RIGHTS), CSHDIV (CASH DIVIDEND), INTR (INTEREST PAYMENT), STDIV
            (STOCK DIVIDEND), etc.
          example: BONU
        CORP_ACTN_TYP_NME:
          type: string
          description: >-
            Corporate Action Type Name is the description for the Corporate
            Action Type code. Values include BID/REVERSE RIGHTS (BIDS), CASH
            DIVIDEND (CSHDIV), INTEREST PAYMENT (INTR), STOCK DIVIDEND (STDIV),
            etc.
          example: BONUS ISSUE
        CORR_BNK_ACCT_NBR:
          type: string
          description: >-
            The Corresponding Bank Account Number is the account established by
            a banking institution to receive deposits from, make payments on
            behalf of, or handle other financial transactions for another
            financial institution.
          example: '123456789'
        TRAD_BRKR_NME:
          type: string
          description: >-
            Counterparty is the other party to the trade. The person or entity
            (e.g. institution, agent, broker) with whom a transaction is
            conducted).
          example: CITIBANK N.A
        CUM_AMRT_AMT:
          type: number
          format: double
          description: >-
            Cumulative Amortization Amount is the amount for fixed income
            securities.  This parameter pertains to US domestic only.
          example: '6136188.61'
        CUM_QTY:
          type: number
          format: double
          description: >-
            Cumulative Quantity is the units for fixed income securities.  This
            parameter pertains to US domestic only.
          example: '371889'
        CURR_FCTR:
          type: number
          format: double
          description: >-
            Current Factor is the factor which applies to the current accrual
            period to determine payments and balances for principal paying
            securities.
          example: '0.01580556'
        DTED_TMS:
          type: string
          format: date-time
          description: >-
            Dated Date/Time is the date that the interest begins to accrue on a
            fixed-income security.
          example: '2019-08-26 00:00:00'
        DIV_RATE:
          type: number
          format: double
          description: >-
            The Dividend Rate is the total expected dividend payments for an
            investment on an annualized basis
          example: '0.452071'
        ENTLMT_QTY:
          type: number
          format: double
          description: >-
            Entitlement Quantity is the associated security holding quantity on
            which the entitlement has been calculated.
          example: '81338'
        ENTLMT_STS_NME:
          type: string
          description: >-
            Entitlements Status is a description of the current processing
            status of the entitlement.  Values include: Pending, Fully Released,
            Fully Paid, Partially Released, Partially Paid, Pending Payment,
            Pending, Reversal, Rev, To Be Received, (null), etc.
          example: PARTIALLY PAID
        ENTRY_ID:
          type: string
          description: Entry ID is the two-digit National Codification Bureau (NCB) code
          example: '40'
        EVENT_CLAS_CD:
          type: string
          description: >-
            Event Class are codes that identify the type of Income transaction. 
            Values include:  BOT, DELD, DIV (Dividend), INT (Interest), MBSD,
            PAID, RECD, SOLD, TSFD, (null).
          example: DIV
        EX_DISTN_DT:
          type: string
          format: date
          description: >-
            Ex Date is the trading cut off date after which position changes
            will no longer alter the eligibility to the corporate action or the
            date established by an issuer of a security for the purpose of
            determining the holders who are entitled to receive the last
            dividend or distribution.
          example: '2021-06-09'
        FED_REF_NBR:
          type: string
          description: >-
            The FED/CHIPS Reference Number is a unique number that is assigned
            by the Federal Reserve Bank (FED) or the Clearing House Interbank
            Payments System (CHIPS) for the transaction.
          example: C-12345678
        PCH_CUR_CD:
          type: string
          description: >-
            The FX Purchase Currency is the ISO Currency Code for the currency
            that is being purchased as part of the foreign exchange transaction.
          example: SGD
        CUR_CVN_RATE:
          type: number
          format: double
          description: >-
            FX Rate - Local is a foreign exchange rate applied for converting
            the local currency into the base currency. The rate is effective as
            of the trade date of the transaction.
          example: '1.076'
        SALE_CUR_CD:
          type: string
          description: >-
            The FX Sale Currency is the ISO 4217 Currency Code for the currency
            that is being sold as part of the foreign exchange transaction.
          example: INR
        FACE_QTY:
          type: number
          format: double
          description: >-
            Face Value is the original face value for Mortgage Backed Securities
            in the US domestic market. For other MBS positions this will be the
            current face value after amortization.
          example: '3147'
        DIV_AMT:
          type: number
          format: double
          description: Gross Income is the gross amount received for an income transaction.
          example: '150676.24'
        GROSS_NET_IND:
          type: string
          description: >-
            The Gross/Net is an indicator that advises if the amount for the
            transaction is Gross or Net. Values include G (Gross), N (Net) and
            (null).
          example: G
        INCM_CUR_CD:
          type: string
          description: >-
            Income Currency Code is the ISO currency code in which income
            payments will be made for the security in the local market.
          example: SGD
        INCM_CUR_NME:
          type: string
          description: >-
            Income Currency Name is the name of the currency in which income
            payments will be made for the security in the local market.
          example: SINGAPORE DOLLAR
        BASE_INCM_ERND:
          type: number
          format: double
          description: >-
            The Income Earned - Base is the signed income amount in the account
            base currency.
          example: '836509.21'
        LCL_INCM_ERND:
          type: number
          format: double
          description: >-
            The Income Earned - Local is the signed income amount in local
            currency.
          example: '63099.87'
        INCM_IND:
          type: string
          description: >-
            Income Indicator.  Values include Y (Yes for Income), N (No for
            Income) and (null).  This parameter pertains to US domestic only.
          example: 'N'
        INCM_QTY:
          type: number
          format: double
          description: >-
            Income Quantity is the number of shares/units for the income payment
            or the entitlement shares or face amount for income payments.
          example: '124755'
        INT_PMT_COND:
          type: string
          description: >-
            Interest Payment Conditions provides details for income
            transactions.
          example: 130325 PLN 89,74
        ISS_CLF_NME:
          type: string
          description: >-
            Issue Classification Name is a description for the Issue
            Classification Code parameter.  This is for US ASTRA only and values
            include Stripped, UIT, Sealed-Envlp, etc.
          example: GOLD STRIP
        ISS_TMS:
          type: string
          format: date-time
          description: Issue Date is the date of first issue of the security.
          example: '2019-11-26 00:00:00'
        SEC_DESC:
          type: string
          description: >-
            Issue Description contains the name and other details of the
            instrument.
          example: TEMPORARY SECURITY 003263100
        SEC_SUB_TYP_CD:
          type: string
          description: >-
            Issue Type Code is a code linked to the Issue Type parameter which
            describes the type of security instrument. Values include: 1 (ADR
            Convertible), 12 (Bond), 19 (Bond Convertible), etc.
          example: '12'
        SEC_SUB_TYP_NME:
          type: string
          description: >-
            Issue Type is a description of the type of the security instrument. 
            Values include: ADR Convertible (1), Bond (12) , Bond Convertible
            (19), etc.
          example: BOND
        ISSR_LOC_CD:
          type: string
          description: >-
            Issuer Location Code is the ISO country code where the issuer of the
            security is based.  Values include: AR (Argentina), CA (Canada), IE
            (Ireland), etc.
          example: CA
        ISSR_LOC_NME:
          type: string
          description: >-
            Issuer Location is the name of the country where the issuer of the
            security is based.  Values include: Argentina (AR), Canada (CA),
            Ireland (IE), etc.
          example: CANADA
        LCL_CUR_NME:
          type: string
          description: >-
            Local Currency Name is the description for the ISO currency code or
            it is the name of the local currency of the Settlement Amount.
          example: HONG KONG DOLLAR
        MATY_DT:
          type: string
          format: date-time
          description: >-
            Maturity Date is the date of maturity or redemption for fixed income
            securities.
          example: '2041-10-10 00:00:00'
        NET_DIV:
          type: number
          format: double
          description: The Net Dividend is the net amount of the transaction.
          example: '242116.38'
        NOMINEE:
          type: number
          format: double
          description: >-
            Nominee: role played by a Legal entity established solely for the
            purpose of registration of record ownership of securities. A
            custodian typically registers customer securities in a nominee name
            for ease of handling subsequent transfers or denomination changes,
            interest and dividend collections and other corporate actions.
          example: null
        NOMINEE_CD:
          type: string
          description: >-
            The Nominee Code provides the two-digit nominee code value for the
            transaction. This parameter pertains to US domestic only.
          example: '88'
        DEAL_REF_NBR:
          type: string
          description: >-
            OTM Reference is the Order and Trade Manager Reference number that
            has been assigned to the order instructions.
          example: DEMO-1234567
        ONE_DAY_FLO:
          type: number
          format: double
          description: >-
            One Day Float is the time period between when a deposit is made and
            when funds become available in an account.
          example: '200'
        ORD_BANK_ACCT_NO:
          type: string
          description: >-
            Ordering Bank Account Number is the account for the amount of money
            used to derive the financial instrument to be bought or sold.
          example: DEMOC12345
        ORD_BANK_ADR_LNE_1:
          type: string
          description: >-
            Ordering Bank Address1 is the first line of (1 of 4) address for the
            Ordering Bank
          example: STANDARD STREET
        ORD_BANK_ADR_LNE_2:
          type: string
          description: >-
            Ordering Bank Address2 is the second line of (2 of 4) address for
            the Ordering Bank
          example: WILMINGTON
        ORD_BANK_ADR_LNE_3:
          type: string
          description: >-
            Ordering Bank Address3 is the third line of (3 of 4) address for the
            Ordering Bank
          example: MAURITIUS AE
        ORD_BANK_ADR_LNE_4:
          type: string
          description: >-
            Ordering Bank Address4 is the fourth line of (4 of 4) address for
            the Ordering Bank
          example: NEW YORK
        ORD_BANK_NME:
          type: string
          description: >-
            Ordering Bank Name is the name of the institution that has been
            authorized to act on the payment of funds.
          example: DEMO ASSET MGMT
        ORD_PTY_ACCT_NO:
          type: string
          description: >-
            Ordering Party Account Number is the account number of the
            instructing party that has authorized the payment of funds.
          example: DEMO12345678
        ORD_PTY_ADR_LNE_1:
          type: string
          description: >-
            Ordering Party Address1 is the first line of (1 of 4) address for
            the Ordering Party
          example: 1/WMHHIKPBST
        ORD_PTY_ADR_LNE_2:
          type: string
          description: >-
            Ordering Party Address2 is the second line of (2 of 4) address for
            the Ordering Party
          example: 429-433 PINNER ROAD
        ORD_PTY_ADR_LNE_3:
          type: string
          example: VKTBI
          description: >-
            Ordering Party Address3 is the third line of (3 of 4) address for
            the Ordering Party
        ORD_PTY_ADR_LNE_4:
          type: string
          description: >-
            Ordering Party Address4 is the fourth line of (4 of 4) address for
            the Ordering Party
          example: POTOMAC,MD
        ORD_PTY_NME:
          type: string
          description: >-
            Ordering Party Name is the name of the instructing party that has
            authorized the payment of funds.
          example: LNIXSHUS YDUBTY
        ORIG_BANK_ACCT_NO:
          type: string
          description: >-
            The Originating Bank Account Number is the account at the
            originating bank from which the transfer originated.
          example: DEMOGB2LXXX
        ORIG_BANK_ADR_LNE1:
          type: string
          description: >-
            Originating Bank Address Line 1 is the first line of (1 of 4)
            address for the Originating Bank
          example: KI BWCPYHTDROAZK CITY
        ORIG_BANK_ADR_LNE2:
          type: string
          description: >-
            Originating Bank Address Line 2 is the second line of (2 of 4)
            address for the Originating Bank
          example: XITUN DIST
        ORIG_BANK_ADR_LNE3:
          type: string
          description: >-
            Originating Bank Address Line 3 is the third line of (3 of 4)
            address for the Originating Bank
          example: NEW YORK
        ORIG_BANK_ADR_LNE4:
          type: string
          description: >-
            Originating Bank Address Line 4 is the fourth line of (4 of 4)
            address for the Originating Bank
          example: US
        PMT_DTL_DESC:
          type: string
          description: >-
            Payment Details provides descriptive information regarding the
            transaction.
          example: Payment for services
        PLEDGE_CDE:
          type: string
          description: >-
            Pledge Code is a 10 digit numeric number corresponding to the DTC
            (Depository Trust Company) participant number in a pledge
          example: '0000023634'
        POOL_ID_CD:
          type: string
          description: >-
            Pool ID is an alphanumeric code that identifies a particular
            mortgage backed security.
          example: AB1234
        PFD_ISS_ID:
          type: string
          description: >-
            Security ID is the most commonly used identifier for the security in
            a given market.
          example: BFXCMX4
        PREV_FCTR:
          type: number
          format: double
          description: >-
            The factor which applies for the previous accrual period to
            determine payments and balances for principal paying securities.
            Currently applicable to the US intraday cash transactions.
          example: '0.84824716'
        PRNCSH_CMB_AMT:
          type: number
          format: double
          description: >-
            Principal Cash is the consideration amount. On the Buy side, it is
            comprised of the broker commission + tax + security fee. On the Sell
            side, it is comprised of the broker commission - tax - security fee.
          example: '836509.21'
        PRIN_QTY:
          type: number
          format: double
          description: Principal Quantity is the quantity for principal transactions.
          example: '1041002'
        PRCD_CMB_AMT:
          type: number
          format: double
          description: >-
            Proceeds - Local is the amount, in the market currency, for a sale
            and/or loan transaction.
          example: '113911.25'
        PRDCT_NME:
          type: string
          description: >-
            Product Name is a high level description for the cash transaction 
            Values include: Data Entry (DE), Foreign Exchange Movement (FX),
            Funds Transfer (FT), Money Market Movement (MM), Security Settlement
            Advice (SC), (null).
          example: SECURITY SETTLEMENT ADVICE
        PRDCT_TYP:
          type: string
          description: >-
            Product Type is a 2-digit high level description for the cash
            transaction  Values include: DE (Data Entry), FX (Foreign Exchange
            Movement), FT (Funds Transfer), MM (Money Market Movement ), SC
            (Security Settlement Advice), (null).
          example: SC
        RCEV_DIV_AMT:
          type: number
          format: double
          description: Received Dividend Amount is the dividend amount of the  transaction.
          example: '2606.56'
        RCEV_DIV_CUR_CD:
          type: string
          description: >-
            Received Dividend Currency is the ISO 4217 Currency Code for the
            dividend amount.
          example: HKD
        REC_DT:
          type: string
          format: date
          description: >-
            Record Date is the date established by the issuer of a security for
            the purpose of determining the holders who are entitled to receive a
            dividend or distribution or is the cut off date to determine which
            holders of the security are eligible.
          example: '2025-01-30'
        RELD_REF:
          type: string
          description: Related Reference as provided on a SWIFT message.
          example: CITI2L6777USBK44
        SUB_DIVSN_ID:
          type: string
          description: >-
            Reversal Indicator (FX) notes whether or not the  transaction was
            processed to reverse an earlier transaction.  Values include: N, R,
            Y, (null)
          example: 'N'
        SID_SEDOL:
          type: string
          description: >-
            SEDOL (Stock Exchange Daily Official List) is a unique
            identification code, consisting of seven alphanumeric characters,
            that is assigned to all securities trading on the London Stock
            Exchange.
          example: BJ18KB6
        SK_ACCT_ID:
          type: string
          description: >-
            The safekeeping account ID is an identifier for a safekeeping
            account that is unique within a branch.
          example: '614442644'
        SID_CUSIP:
          type: string
          description: >-
            CUSIP (Committee on Uniform Securities Identification Procedures) It
            is a nine-character alphanumeric code that identifies a North
            American financial security for the purposes of facilitating
            clearing and settlement of trades.
          example: T5379P105
        SID_ISIN:
          type: string
          description: >-
            ISIN (International Securities Identification Number) is a
            12-character alpha-numerical code that does not contain information
            characterizing financial instruments but serves for uniform
            identification of a security at trading and settlement.
          example: JP3049040003
        ACCT_NME:
          type: string
          description: >-
            Account Name is the name that is assigned to the cash account and/or
            the safekeeping account. If an alternate account name has been
            specified for an account it will be displayed as the Account Name.
          example: Demo - SK - Japan 2
        SOLD_REMIT_INSTRS:
          type: string
          description: >-
            Sold Remit Instruction is text that describes the sell activity for
            the transaction.
          example: ON MATURITY WE WILL CREDIT YOUR ACCOUNT CITIBANK, N.A.
        TAX_EXT_AMT:
          type: number
          format: double
          description: Tax Amount is the tax amount of the transaction.
          example: '3095.25'
        TAX_AMT_CUR_CD:
          type: string
          description: Tax Amount Currency is the ISO Currency Code for the tax amount.
          example: EUR
        LOC_CUR_TAX_AMT:
          type: number
          format: double
          description: >-
            Tax Amount Local Currency Amount is the market tax amount of the
            transaction.
          example: '2889.12'
        TAX_LCL_CUR_CD:
          type: string
          description: >-
            Tax Amount Local Currency (Currency) is the ISO Currency Code for
            the market tax amount.
          example: EUR
        TAX_DEDD_IND:
          type: string
          description: Tax Deducted Indicator advises if taxes have been deducted.
          example: null
        TXWHLD_CMB_AMT:
          type: number
          format: double
          description: >-
            Tax Withheld is the amount of money that has been held back for tax
            purposes.
          example: '2203.13'
        THREE_DAY_FLO:
          type: number
          format: double
          description: >-
            Three Day Float is the time period between when a deposit is made
            and when funds become available in an account.
          example: null
        SID_TICKER_SYMB:
          type: string
          description: Ticker is the symbol used on the exchange to identify the security.
          example: DARK
        TRD_EXCUTD_EF_DT:
          type: string
          format: date
          description: Trade Date is the date a transaction is effected or executed.
          example: '2023-12-26'
        TRN_CL_CD:
          type: string
          description: >-
            Transaction Class is the transaction type code for securities
            transactions.  Values include: ADJ (Adjustment), BIDS, BOE,  BUY,
            CAPD, CAPG, CAPGL, DF (Deliver Free), DIV (Dividend), DRAW, DRIP,
            DVCA, etc.
          example: DIV
        TRN_CD:
          type: string
          description: Transaction Code is the specific type of transaction.
          example: '874'
        TRANS_CATG_NME:
          type: string
          description: >-
            Transaction Category is used in the US Cash Balance Summary report.
            Values include: CORPORATE ACTIONS DDA DDASEC DF DP INCOME MATURITIES
            MISCELLANEOUS RF RP Only applicable to the US cash transactions.
          example: DIVIDEND
        US_TAX_CD:
          type: string
          description: >-
            US Tax Codes indicates the US tax code that is applicable to the
            transaction.
          example: '0080'
        CASH_VAL_DT:
          type: string
          format: date
          description: >-
            Value Date is the date on which the cash posting corresponding to
            this trade will have value.
          example: '2023-04-24'
        EV_CREATED_TMS:
          type: string
          format: date-time
          description: >-
            Created Timestamp is the date and time of when an item was loaded to
            the source system.
          example: '2024-07-03 00:00:00'
        PREF_SEC_ID_TP:
          type: string
          description: >-
            Security Type identifies the Security ID.  Values include: CUSIP,
            ISIN, SEDOL, etc.
          example: ISIN
        DEAL_ID:
          type: string
          description: 'Security Code is the Contract # or Security Number.'
          example: JP3783050002
        CMPNY_NME:
          type: string
          description: Company Name is the name of the company which issued the security.
          example: FN BS6982
        TRANS_DESC:
          type: string
          description: A one-line text description of this cash flow activity.
          example: CASH DIVIDEND , QTY
        DB_CR_IND:
          type: string
          description: >-
            Credit/Debit Indicator shows whether the cash posting associated to
            the corporate action will be a credit (C) or a debit (D).
          example: C
        LCL_CUR_CD:
          type: string
          description: >-
            The CCY Code is the ISO Currency Code in which the cash will be
            credited and/or debited.
          example: SGD
        AMT:
          type: number
          format: double
          description: >-
            Amount is the Cash Transaction amount that will be credited or
            debited from the cash account.
          example: '15416.98'
        CLNT_REF_NBR:
          type: string
          description: >-
            Client Reference is a unique number assigned by the client, to the
            transaction, for identification purposes within their organization.
          example: '5516313912'
        INTRNL_REF_ID:
          type: string
          description: >-
            Custodian Reference (internal) is the unique reference assigned by
            the Custodian to the record. The reference number is unique within a
            branch.
          example: '143720728'
        EOD_INTRA_IND:
          type: string
          description: >-
            EOD/intraday Indicator advises if the balance is an End of Day
            reported balance or if the balance is an Intraday reported balance.
            Values are: 1 (Intraday) 2 (End of Day)
          example: '2'
        ACCT_BUS_TYP_CD:
          type: string
          description: >-
            Account Type Code indicates the type of the account. Values are: C
            (Cash Account), S (Safekeeping Account).
          example: C
        BGHT_REMIT_INSTRS:
          type: string
          description: >-
            Bought Remit Instruction is text that describes the buy activity for
            the transaction.
          example: ON MATURITY WE WILL DEBIT YOUR ACCOUNT
        TRANS_REF_NBR:
          type: string
          description: >-
            Custodian Reference is the unique reference assigned by the
            Custodian to the record. The reference number is unique within a
            branch.
          example: '156943580'
        POST_SEC_DESC:
          type: string
          description: >-
            Posting Description is the first line of the descriptive information
            regarding the transaction.
          example: FN CB4658
        DNOMD_CUR_CD:
          type: string
          description: >-
            Denomination Currency Code is the ISO currency code in which the
            security is denominated, in the local market.
          example: HKD
        PFD_ID_CTXT_CD:
          type: string
          description: >-
            Security ID Type indicates the type of identifier of the
            corresponding Security ID parameter. Values include: CUSIP, ISIN,
            SEDOL, LOCAL, etc.
          example: ISIN
        STRK_PRC_AMT:
          type: number
          format: double
          description: >-
            Strike Price is the specified price on an options contract at which
            the contract may be exercised.
          example: '109.9'
        DLAY_DAYS:
          type: string
          description: >-
            Delay Days is the number of days from the issuance of an MBS pool
            (or from the beginning of the interest accrual period) until the
            first payment is remitted/paid to the holders.
          example: '13'
        CNTRY_CD:
          type: string
          description: >-
            The Country Code (location) of the security custodian. Not
            applicable to the US domestic positions.
          example: JE
        ENTRY_TYP:
          type: string
          description: Entry Type
          example: null
        FCTR_DTE:
          type: string
          format: date-time
          description: >-
            Factor Date is the date the current factor is applicable from for
            principal paying securities.
          example: '2023-12-10 00:00:00'
        PMT_FREQY_DESC:
          type: string
          description: >-
            Payment Frequency Description indicates how often interest is paid
            on the security.  Values include: Annual (00001),  Sem-Annual
            (00002), One Payment Per Year (00035), etc.
          example: Annual
        ACRL_BASIS_CDE:
          type: string
          description: >-
            Accrual Basis Code is a code linked to the Accrual Basis parameter
            which indicates the basis on which interest accruals are
            calculated.  Values include: 00043 (360 / 365), 00011 (360 / 360),
            00063 (30 / 360 Non-EOM), etc.
          example: '00043'
        ACRL_BASIS_NME:
          type: string
          description: >-
            Accrual Basis Description is the basis on which interest accrual is
            calculated, for example, 30/360 meaning nominal 30 day months and a
            360 day year.
          example: 360 / 365
        NXT_PAY_DT:
          type: string
          format: date
          description: >-
            Next Payable Date is the next date on which a dividend or interest
            payment is scheduled to be paid.
          example: '2026-04-22'
        PMT_FREQY:
          type: string
          description: >-
            Payment Frequency indicates how often interest is paid on the
            security.  Values include: 00001 (Annual), 00002 (Sem-Annual), 00035
            (One Payment Per Year), etc.
          example: '00001'
        PREV_FCTR_RATE:
          type: number
          format: double
          description: >-
            Previous Factor (Old) is the factor which applies to the last
            accrual period to determine payments and balances for principal
            paying securities.
          example: '0.18340964'
        ISS_CATG_CD:
          type: string
          description: >-
            Issue Category Code is a specific category for the security.  Values
            include: CSTK (Common Stock), DERIV (Derivatives), MBS (Mortgage
            Backed Securities), etc.
          example: EQTY
        ISS_CAT_NME:
          type: string
          description: >-
            Issue Category is the description for the Issue Category Code. 
            Values include:  Common Stock (CSTK), Derivatives (DERIV), Mortgage
            Backed Securities (MBS), etc.
          example: EQUITIES
        CURR_FCTR_RATE:
          type: number
          format: double
          description: >-
            Current Factor (Old) is the factor which applies to the current
            accrual period to determine payments and balances for principal
            paying securities.
          example: '0.4515268'
        INCM_PROJN_RATE:
          type: number
          format: double
          description: Interest Rate is the coupon rate of the security.
          example: '3.0946'
        RECORD_DT:
          type: string
          format: date
          description: >-
            Record Date is the date established by the issuer of a security for
            the purpose of determining the holders who are entitled to receive a
            dividend or distribution or is the cut off date to determine which
            holders of the security are eligible.
          example: '2024-05-21'
        SEC_SECURITY_CD:
          type: string
          description: >-
            CITI Internal Security Code is the identifier of the CITI Internal
            Security Identifier.
          example: 000BMG6KT4
        SEC_SHRT_NME:
          type: string
          description: Issue Name is the Security Name of the security instrument.
          example: FR QN4224
        LST_BUSCLS_DT:
          type: string
          format: date
          description: >-
            The date for which End of Day data was last received for the
            account.
          example: '2024-07-04'
        ACT_SETT_DT:
          type: string
          format: date
          description: Actual Settlement Date is the date of final settlement of the trade.
          example: '2024-08-22'
        CA_INCM_IND:
          type: string
          description: >-
            The CA/Income Indicator advises if the cash transaction is related
            to corporate actions or income.  Values are: C for Corporate Action,
            I for Income.
          example: C
        INTRNL_REF_ID_CA:
          type: string
          description: >-
            Custodian Reference (CA) is the unique reference assigned by the
            Custodian to the record. The reference number is unique within a
            branch.
          example: '15396821'
        TRN_CL_CD_CA:
          type: string
          description: >-
            Transaction Class Code (CA) is the transaction type code for
            corporate action transactions.  The parameter values are CATX and
            (null).
          example: CATX
        CLIENT_ID_1:
          type: string
          description: Client ID 1
          example: '1068'
        CLIENT_ID_2:
          type: string
          description: Client ID 2
          example: '3355'
        ACCT_PLEDGE_TYPE:
          type: string
          description: >-
            Account Flag is a flag identifying whether the account is Free, 3rd
            party Pledge, Pledge HIC.
          example: P
        EX_DATE:
          type: string
          format: date
          description: >-
            Ex Date (Dupe) is the trading cut off date after which position
            changes will no longer alter the eligibility to the corporate
            action.
          example: '2022-06-30'
        PAY_DATE:
          type: string
          format: date
          description: >-
            Payable Date is the date on which a dividend or interest payment is
            scheduled to be paid.
          example: '2022-01-05'
        PAY_RATE:
          type: number
          format: double
          description: >-
            This is a security Master parameter, it relates to the rate paid for
            the most recent Corporate Action. But It's only populated for US
            domestic securities (from ASTRA).
          example: '0.032757'
        SID_LOCAL:
          type: string
          description: >-
            Local ID is the Local security identifier of the associated
            security.
          example: '0059663300'
        RVSL_IND:
          type: string
          description: >-
            The Reversal Indicator notes whether or not the cash transaction was
            processed to reverse an earlier transaction. Values include: N, R,
            Y, (null).
          example: 'Y'
        CASH_TRANS_TYPE:
          type: string
          description: >-
            A cash transaction type is a business transaction that is settled
            with immediate exchange of cash.
          example: ACH PYMT
        MKT_TRANS_TYPE:
          type: string
          description: >-
            Financial Market Transaction Type indicates the type of trade
            conducted by the Financial Institution. * Domain *  Buy  Sell 
            Borrow  Lend  Swap  Transfer  Exchange.
          example: TAX PAYMENT
        COB_DATE:
          type: string
          format: date
          description: Close of Business Date
          example: '2024-07-10'
        IOD_TIMESTAMP:
          type: string
          format: date-time
          description: Provides the Timestamp when data is loaded in the Data Lake
          example: '2024-11-12 19:30:08'
        HEAD_ACCOUNT:
          type: string
          description: SCAR Head Account Number
          example: '1234567'
        SEGMENT:
          type: string
          description: A Cash Blotter Detail record
          example: PAYMENT
    f5471486-3c48-45bc-9b1f-05a7d57bdc71-json-response-schema:
      type: object
      properties:
        Count:
          type: number
          format: integer
        PagedList:
          type: array
          items:
            $ref: >-
              #/components/schemas/f5471486-3c48-45bc-9b1f-05a7d57bdc71-data-schema
    f5471486-3c48-45bc-9b1f-05a7d57bdc71-xml-response-schema:
      type: object
      properties:
        row:
          type: array
          items:
            $ref: >-
              #/components/schemas/f5471486-3c48-45bc-9b1f-05a7d57bdc71-data-schema
      xml:
        name: data
    0687f793-b687-4ac0-9337-e6a0c8445918-data-schema:
      type: object
      properties:
        BR_ID:
          type: string
          description: >-
            Branch Code is the identifier of the branch for the account.  For
            the cash account the branch code is a numeric value and for the
            safekeeping account it is the ISO Country code.
          example: '484'
        ACCT_ID:
          type: string
          description: >-
            Account ID is an identifier for both a cash account and/or a
            safekeeping account that is unique within a branch.
          example: DEMOSK02US
        ACCT_BUS_TYP_CD:
          type: string
          description: >-
            Account Type Code indicates the type of the account. Values are: C
            (Cash Account), S (Safekeeping Account).
          example: C
        ACCT_BUS_ID:
          type: string
          description: >-
            Account Business Identifier is a business line identifier for the
            account.
          example: CITI
        ACCT_NME:
          type: string
          description: >-
            Account Name is the name that is assigned to the cash account and/or
            the safekeeping account. If an alternate account name has been
            specified for an account it will be displayed as the Account Name.
          example: Demo - SK - Japan 2
        ALTV_CUR_CD:
          type: string
          description: Account Base Currency Code is the ISO Currency Code for the account.
          example: JPY
        CONTR_PYBL_DT:
          type: string
          format: date
          description: >-
            Contractual Settlement Date is the date when the clients cash
            account should be credited with funds on a sale (and debited on a
            purchase) on the due settlement date in place of when a trade
            actually settles in the market.
          example: '2019-08-26'
        AMT:
          type: number
          format: double
          description: >-
            Amount is the Cash Transaction amount that will be credited or
            debited from the cash account.
          example: '15416.98'
        BENEF:
          type: string
          description: The Beneficiary is the recipient (payee) of the funds.
          example: BENEFICIARY NAME
        BENEF_BNK:
          type: string
          description: >-
            The Beneficiary Bank  is the bank where the beneficiary has the
            account.
          example: CITIBANK N.A
        BENEF_REF:
          type: string
          description: >-
            Beneficiary Reference is a transaction level reference at the
            beneficiary bank side.
          example: DEMOSG123456
        BGHT_REMIT_INSTRS:
          type: string
          description: >-
            Bought Remit Instruction is text that describes the buy activity for
            the transaction.
          example: ON MATURITY WE WILL DEBIT YOUR ACCOUNT
        BNK_CUST_PMT_COND:
          type: string
          description: >-
            Bank/Customer Payment Conditions are the terms and conditions for
            payment services for financial institutions.
          example: YOUR/OUR PAYMENT VALUE
        BNKCUST_REPMT_COND:
          type: string
          description: >-
            Bank/Customer Repayment Conditions are the terms and conditions for
            payment services for financial institutions.
          example: OUR/YOUR REPAYMENT VALUE
        CASH_CR_AMT:
          type: number
          format: double
          description: Cash Credit is the amount on the credit transaction
          example: '6136188.61'
        CASH_DB_AMT:
          type: number
          format: double
          description: Cash Debit is the amount on the debit transaction
          example: '6136188.61'
        CASH_NET_AMT:
          type: number
          format: double
          description: >-
            Cash Net Amount is the signed amount that will be credited or
            debited from the cash account.
          example: '6136188.61'
        CASH_VAL_DT:
          type: string
          format: date
          description: >-
            Value Date is the date on which the cash posting corresponding to
            this trade will have value.
          example: 2023-04-2
        CLNT_REF_NBR:
          type: string
          description: >-
            Client Reference is a unique number assigned by the client, to the
            transaction, for identification purposes within their organization.
          example: '5516313912'
        CMPNY_DESC:
          type: string
          description: >-
            Company Description contains information regarding the company which
            issued the security.
          example: CITIBANK N.A
        CMPNY_NME:
          type: string
          description: Company Name is the name of the company which issued the security.
          example: FN BS6982
        CORR_BNK_ACCT_NBR:
          type: string
          description: >-
            The Corresponding Bank Account Number is the account established by
            a banking institution to receive deposits from, make payments on
            behalf of, or handle other financial transactions for another
            financial institution.
          example: '123456789'
        CUM_AMRT_AMT:
          type: number
          format: double
          description: >-
            Cumulative Amortization Amount is the amount for fixed income
            securities.  This parameter pertains to US domestic only.
          example: '6136188.61'
        CUM_QTY:
          type: number
          format: double
          description: >-
            Cumulative Quantity is the units for fixed income securities.  This
            parameter pertains to US domestic only.
          example: '371889'
        CUR_CVN_RATE:
          type: number
          format: double
          description: >-
            FX Rate - Local is a foreign exchange rate applied for converting
            the local currency into the base currency. The rate is effective as
            of the trade date of the transaction.
          example: '1.076'
        DB_CR_IND:
          type: string
          description: >-
            Credit/Debit Indicator shows whether the cash posting associated to
            the corporate action will be a credit (C) or a debit (D).
          example: C
        DEAL_ID:
          type: string
          description: 'Security Code is the Contract # or Security Number.'
          example: JP3783050002
        DIV_AMT:
          type: number
          format: double
          description: Gross Income is the gross amount received for an income transaction.
          example: '150676.24'
        EV_CREATED_TMS:
          type: string
          format: date-time
          description: >-
            Created Timestamp is the date and time of when an item was loaded to
            the source system.
          example: '2024-07-03 00:00:00'
        EVENT_CLAS_CD:
          type: string
          description: >-
            Event Class are codes that identify the type of Income transaction. 
            Values include:  BOT, DELD, DIV (Dividend), INT (Interest), MBSD,
            PAID, RECD, SOLD, TSFD, (null).
          example: DIV
        TRANS_CATG_NME:
          type: string
          description: >-
            Transaction Category is used in the US Cash Balance Summary report.
            Values include: CORPORATE ACTIONS DDA DDASEC DF DP INCOME MATURITIES
            MISCELLANEOUS RF RP Only applicable to the US cash transactions.
          example: DIVIDEND
        INT_PMT_COND:
          type: string
          description: >-
            Interest Payment Conditions provides details for income
            transactions.
          example: 130325 PLN 89,74
        LOC_CUR_TAX_AMT:
          type: number
          format: double
          description: >-
            Tax Amount Local Currency Amount is the market tax amount of the
            transaction.
          example: '2889.12'
        LCL_CUR_CD:
          type: string
          description: >-
            The CCY Code is the ISO Currency Code in which the cash will be
            credited and/or debited.
          example: SGD
        LCL_CUR_NME:
          type: string
          description: >-
            Local Currency Name is the description for the ISO currency code or
            it is the name of the local currency of the Settlement Amount.
          example: HONG KONG DOLLAR
        NET_DIV:
          type: number
          format: double
          description: The Net Dividend is the net amount of the transaction.
          example: '242116.38'
        NOMINEE_CD:
          type: string
          description: >-
            The Nominee Code provides the two-digit nominee code value for the
            transaction. This parameter pertains to US domestic only.
          example: '88'
        ONE_DAY_FLO:
          type: number
          format: double
          description: >-
            One Day Float is the time period between when a deposit is made and
            when funds become available in an account.
          example: '200'
        ORD_BANK_ACCT_NO:
          type: string
          description: >-
            Ordering Bank Account Number is the account for the amount of money
            used to derive the financial instrument to be bought or sold.
          example: DEMOC12345
        ORD_BANK_ADR_LNE_4:
          type: string
          description: >-
            Ordering Bank Address4 is the fourth line of (4 of 4) address for
            the Ordering Bank
          example: NEW YORK
        ORD_BANK_NME:
          type: string
          description: >-
            Ordering Bank Name is the name of the institution that has been
            authorized to act on the payment of funds.
          example: DEMO ASSET MGMT
        ORD_PTY_ACCT_NO:
          type: string
          description: >-
            Ordering Party Account Number is the account number of the
            instructing party that has authorized the payment of funds.
          example: DEMO12345678
        ORD_PTY_ADR_LNE_1:
          type: string
          description: >-
            Ordering Party Address1 is the first line of (1 of 4) address for
            the Ordering Party
          example: 1/WMHHIKPBST
        ORD_PTY_ADR_LNE_2:
          type: string
          description: >-
            Ordering Party Address2 is the second line of (2 of 4) address for
            the Ordering Party
          example: 429-433 PINNER ROAD
        ORD_PTY_ADR_LNE_3:
          type: string
          description: >-
            Ordering Party Address3 is the third line of (3 of 4) address for
            the Ordering Party
          example: VKTBI
        ORD_PTY_ADR_LNE_4:
          type: string
          description: >-
            Ordering Party Address4 is the fourth line of (4 of 4) address for
            the Ordering Party
          example: POTOMAC,MD
        ORIG_BANK_ACCT_NO:
          type: string
          description: >-
            The Originating Bank Account Number is the account at the
            originating bank from which the transfer originated.
          example: DEMOGB2LXXX
        ORIG_BANK_ADR_LNE1:
          type: string
          description: >-
            Originating Bank Address Line 1 is the first line of (1 of 4)
            address for the Originating Bank
          example: KI BWCPYHTDROAZK CITY
        ORIG_BANK_ADR_LNE2:
          type: string
          description: >-
            Originating Bank Address Line 2 is the second line of (2 of 4)
            address for the Originating Bank
          example: XITUN DIST
        ORIG_BANK_ADR_LNE3:
          type: string
          description: >-
            Originating Bank Address Line 3 is the third line of (3 of 4)
            address for the Originating Bank
          example: NEW YORK
        ORIG_BANK_ADR_LNE4:
          type: string
          description: >-
            Originating Bank Address Line 4 is the fourth line of (4 of 4)
            address for the Originating Bank
          example: US
        RELD_REF:
          type: string
          description: Related Reference as provided on a SWIFT message.
          example: CITI2L6777USBK44
        SALE_CUR_CD:
          type: string
          description: >-
            The FX Sale Currency is the ISO 4217 Currency Code for the currency
            that is being sold as part of the foreign exchange transaction.
          example: INR
        SK_ACCT_ID:
          type: string
          description: >-
            The safekeeping account ID is an identifier for a safekeeping
            account that is unique within a branch.
          example: '614442644'
        SOLD_REMIT_INSTRS:
          type: string
          description: >-
            Sold Remit Instruction is text that describes the sell activity for
            the transaction.
          example: ON MATURITY WE WILL CREDIT YOUR ACCOUNT CITIBANK, N.A.
        SUB_DIVSN_ID:
          type: string
          description: >-
            Reversal Indicator (FX) notes whether or not the  transaction was
            processed to reverse an earlier transaction.  Values include: N, R,
            Y, (null)
          example: 'N'
        TAX_AMT_CUR_CD:
          type: string
          description: Tax Amount Currency is the ISO Currency Code for the tax amount.
          example: EUR
        TAX_DEDD_IND:
          type: string
          description: Tax Deducted Indicator advises if taxes have been deducted.
          example: null
        TAX_EXT_AMT:
          type: number
          format: double
          description: Tax Amount is the tax amount of the transaction.
          example: '3095.25'
        TAX_LCL_CUR_CD:
          type: string
          description: >-
            Tax Amount Local Currency (Currency) is the ISO Currency Code for
            the market tax amount.
          example: EUR
        THREE_DAY_FLO:
          type: number
          format: double
          description: >-
            Three Day Float is the time period between when a deposit is made
            and when funds become available in an account.
          example: null
        TRANS_REF_NBR:
          type: string
          description: >-
            Custodian Reference is the unique reference assigned by the
            Custodian to the record. The reference number is unique within a
            branch.
          example: '156943580'
        TRN_CD:
          type: string
          description: Transaction Code is the specific type of transaction.
          example: '874'
        TXWHLD_CMB_AMT:
          type: number
          format: double
          description: >-
            Tax Withheld is the amount of money that has been held back for tax
            purposes.
          example: '2203.13'
        ULTM_BENEF_ACCT:
          type: string
          description: >-
            Ultimate Beneficiary Account is the account number of the Ultimate
            Beneficiary.
          example: DEMOCH1234
        US_TAX_CD:
          type: string
          description: >-
            US Tax Codes indicates the US tax code that is applicable to the
            transaction.
          example: '0080'
        PRNCSH_CMB_AMT:
          type: number
          format: double
          description: >-
            Principal Cash is the consideration amount. On the Buy side, it is
            comprised of the broker commission + tax + security fee. On the Sell
            side, it is comprised of the broker commission - tax - security fee.
          example: '836509.21'
        PRDCT_NME:
          type: string
          description: >-
            Product Name is a high level description for the cash transaction 
            Values include: Data Entry (DE), Foreign Exchange Movement (FX),
            Funds Transfer (FT), Money Market Movement (MM), Security Settlement
            Advice (SC), (null).
          example: SECURITY SETTLEMENT ADVICE
        PMT_DTL_DESC:
          type: string
          description: >-
            Payment Details provides descriptive information regarding the
            transaction.
          example: Payment for services
        ORD_BANK_ADR_LNE_1:
          type: string
          description: >-
            Ordering Bank Address1 is the first line of (1 of 4) address for the
            Ordering Bank
          example: STANDARD STREET
        ORD_BANK_ADR_LNE_2:
          type: string
          description: >-
            Ordering Bank Address2 is the second line of (2 of 4) address for
            the Ordering Bank
          example: WILMINGTON
        ORD_BANK_ADR_LNE_3:
          type: string
          description: >-
            Ordering Bank Address3 is the third line of (3 of 4) address for the
            Ordering Bank
          example: MAURITIUS AE
        PCH_CUR_CD:
          type: string
          description: >-
            The FX Purchase Currency is the ISO Currency Code for the currency
            that is being purchased as part of the foreign exchange transaction.
          example: SGD
        EFF_POST_DT:
          type: string
          format: date
          description: >-
            The contractual settlement date while the underlying transaction is
            not settled. The actual settlement date for settled transactions.
          example: '2019-08-26'
        PRCD_CMB_AMT:
          type: number
          format: double
          description: >-
            Proceeds - Local is the amount, in the market currency, for a sale
            and/or loan transaction.
          example: '113911.25'
        INCM_IND:
          type: string
          description: >-
            Income Indicator.  Values include Y (Yes for Income), N (No for
            Income) and (null).  This parameter pertains to US domestic only.
          example: 'N'
        FACE_QTY:
          type: number
          format: double
          description: >-
            Face Value is the original face value for Mortgage Backed Securities
            in the US domestic market. For other MBS positions this will be the
            current face value after amortization.
          example: '3147'
        ENTRY_ID:
          type: string
          description: Entry ID is the two-digit National Codification Bureau (NCB) code
          example: '40'
        PREF_SEC_ID_TP:
          type: string
          description: >-
            Security Type identifies the Security ID.  Values include: CUSIP,
            ISIN, SEDOL, etc.
          example: ISIN
        TRN_CL_CD:
          type: string
          description: >-
            Transaction Class Code (CA) is the transaction type code for
            corporate action transactions.  The parameter values are CATX and
            (null).
          example: CATX
        POST_SEC_DESC:
          type: string
          description: >-
            Posting Description is the first line of the descriptive information
            regarding the transaction.
          example: FN CB4658
        SEC_DESC:
          type: string
          description: >-
            Issue Description contains the name and other details of the
            instrument.
          example: TEMPORARY SECURITY 003263100
        DTED_TMS:
          type: string
          format: date-time
          description: >-
            Dated Date/Time is the date that the interest begins to accrue on a
            fixed-income security.
          example: '2019-08-26 00:00:00'
        DNOMD_CUR_CD:
          type: string
          description: >-
            Denomination Currency Code is the ISO currency code in which the
            security is denominated, in the local market.
          example: HKD
        INCM_CUR_CD:
          type: string
          description: >-
            Income Currency Code is the ISO currency code in which income
            payments will be made for the security in the local market.
          example: SGD
        INCM_CUR_NME:
          type: string
          description: >-
            Income Currency Name is the name of the currency in which income
            payments will be made for the security in the local market.
          example: SINGAPORE DOLLAR
        ISS_TMS:
          type: string
          format: date-time
          description: Issue Date is the date of first issue of the security.
          example: '2019-11-26 00:00:00'
        ISSR_LOC_CD:
          type: string
          description: >-
            Issuer Location Code is the ISO country code where the issuer of the
            security is based.  Values include: AR (Argentina), CA (Canada), IE
            (Ireland), etc.
          example: CA
        ISSR_LOC_NME:
          type: string
          description: >-
            Issuer Location is the name of the country where the issuer of the
            security is based.  Values include: Argentina (AR), Canada (CA),
            Ireland (IE), etc.
          example: CANADA
        SEC_GROUP:
          type: string
          description: >-
            Asset Type is a code representing the Asset Type of the security. 
            Values include: EQTY (Equity), FI (Fixed Income), etc.
          example: FI
        MATY_DT:
          type: string
          format: date-time
          description: >-
            Maturity Date is the date of maturity or redemption for fixed income
            securities.
          example: '2041-10-10 00:00:00'
        POOL_ID_CD:
          type: string
          description: >-
            Pool ID is an alphanumeric code that identifies a particular
            mortgage backed security.
          example: AB1234
        PFD_ID_CTXT_CD:
          type: string
          description: >-
            Security ID Type indicates the type of identifier of the
            corresponding Security ID parameter. Values include: CUSIP, ISIN,
            SEDOL, LOCAL, etc.
          example: ISIN
        PFD_ISS_ID:
          type: string
          description: >-
            Security ID is the most commonly used identifier for the security in
            a given market.
          example: BFXCMX4
        STRK_PRC_AMT:
          type: number
          format: double
          description: >-
            Strike Price is the specified price on an options contract at which
            the contract may be exercised.
          example: '109.9'
        SID_TICKER_SYMB:
          type: string
          description: Ticker is the symbol used on the exchange to identify the security.
          example: DARK
        DLAY_DAYS:
          type: string
          description: >-
            Delay Days is the number of days from the issuance of an MBS pool
            (or from the beginning of the interest accrual period) until the
            first payment is remitted/paid to the holders.
          example: '13'
        CNTRY_CD:
          type: string
          description: >-
            The Country Code (location) of the security custodian. Not
            applicable to the US domestic positions.
          example: JE
        ENTRY_TYP:
          type: string
          description: Entry Type
          example: null
        FCTR_DTE:
          type: string
          format: date-time
          description: >-
            Factor Date is the date the current factor is applicable from for
            principal paying securities.
          example: '2023-12-10 00:00:00'
        PMT_FREQY_DESC:
          type: string
          description: >-
            Payment Frequency Description indicates how often interest is paid
            on the security.  Values include: Annual (00001),  Sem-Annual
            (00002), One Payment Per Year (00035), etc.
          example: Annual
        SID_ISIN:
          type: string
          description: >-
            ISIN (International Securities Identification Number) is a
            12-character alpha-numerical code that does not contain information
            characterizing financial instruments but serves for uniform
            identification of a security at trading and settlement.
          example: JP3049040003
        SID_SEDOL:
          type: string
          description: >-
            SEDOL (Stock Exchange Daily Official List) is a unique
            identification code, consisting of seven alphanumeric characters,
            that is assigned to all securities trading on the London Stock
            Exchange.
          example: BJ18KB6
        ACRL_BASIS_CDE:
          type: string
          description: >-
            Accrual Basis Code is a code linked to the Accrual Basis parameter
            which indicates the basis on which interest accruals are
            calculated.  Values include: 00043 (360 / 365), 00011 (360 / 360),
            00063 (30 / 360 Non-EOM), etc.
          example: '00043'
        ACRL_BASIS_NME:
          type: string
          description: >-
            Accrual Basis Description is the basis on which interest accrual is
            calculated, e.g. 30/360 meaning nominal 30 day months and a 360 day
            year.
          example: 360 / 365
        NXT_PAY_DT:
          type: string
          format: date
          description: >-
            Next Payable Date is the next date on which a dividend or interest
            payment is scheduled to be paid.
          example: '2026-04-22'
        PMT_FREQY:
          type: string
          description: >-
            Payment Frequency indicates how often interest is paid on the
            security.  Values include: 00001 (Annual), 00002 (Sem-Annual), 00035
            (One Payment Per Year), etc.
          example: '00001'
        ISS_CATG_CD:
          type: string
          description: >-
            Issue Category Code is a specific category for the security.  Values
            include: CSTK (Common Stock), DERIV (Derivatives), MBS (Mortgage
            Backed Securities), etc.
          example: EQTY
        ISS_CAT_NME:
          type: string
          description: >-
            Issue Category is the description for the Issue Category Code. 
            Values include:  Common Stock (CSTK), Derivatives (DERIV), Mortgage
            Backed Securities (MBS), etc.
          example: EQUITIES
        INCM_PROJN_RATE:
          type: number
          format: double
          description: Interest Rate is the coupon rate of the security.
          example: '3.0946'
        TRANS_DESC:
          type: string
          description: A one-line text description of this cash flow activity.
          example: CASH DIVIDEND , QTY
        EOD_INTRA_IND:
          type: string
          description: >-
            EOD/intraday Indicator advises if the balance is an End of Day
            reported balance or if the balance is an Intraday reported balance.
            Values are: 1 (Intraday) 2 (End of Day)
          example: '2'
        CURR_FCTR:
          type: number
          format: double
          description: >-
            Current Factor is the factor which applies to the current accrual
            period to determine payments and balances for principal paying
            securities.
          example: '0.01580556'
        DIV_RATE:
          type: number
          format: double
          description: >-
            The Dividend Rate is the total expected dividend payments for an
            investment on an annualized basis
          example: '0.452071'
        PREV_FCTR:
          type: number
          format: double
          description: >-
            The factor which applies for the previous accrual period to
            determine payments and balances for principal paying securities.
            Currently applicable to the US intraday cash transactions.
          example: '0.84824716'
        PRIN_INC_IND:
          type: string
          description: >-
            Principal / Income Indicator advises if the balance is for Principal
            or Income.  Values include: P (Principal) or I (Income).
          example: P
        PRIN_QTY:
          type: number
          format: double
          description: Principal Quantity is the quantity for principal transactions.
          example: '1041002'
        TRAD_BRKR_NME:
          type: string
          description: >-
            Counterparty is the other party to the trade. The person or entity
            (e.g. institution, agent, broker) with whom a transaction is
            conducted).
          example: CITIBANK N.A
        TRD_EXCUTD_EF_DT:
          type: string
          format: date
          description: Trade Date is the date a transaction is effected or executed.
          example: '2023-12-26'
        BASE_INCM_ERND:
          type: number
          format: double
          description: >-
            The Income Earned - Base is the signed income amount in the account
            base currency.
          example: '836509.21'
        LCL_INCM_ERND:
          type: number
          format: double
          description: >-
            The Income Earned - Local is the signed income amount in local
            currency.
          example: '63099.87'
        PRDCT_TYP:
          type: string
          description: >-
            Product Type is a 2-digit high level description for the cash
            transaction  Values include: DE (Data Entry), FX (Foreign Exchange
            Movement), FT (Funds Transfer), MM (Money Market Movement ), SC
            (Security Settlement Advice), (null).
          example: SC
        RCEV_DIV_CUR_CD:
          type: string
          description: >-
            Received Dividend Currency is the ISO 4217 Currency Code for the
            dividend amount.
          example: HKD
        RCEV_DIV_AMT:
          type: number
          format: double
          description: Received Dividend Amount is the dividend amount of the  transaction.
          example: '2606.56'
        INCM_QTY:
          type: number
          format: double
          description: >-
            Income Quantity is the number of shares/units for the income payment
            or the entitlement shares or face amount for income payments.
          example: '124755'
        SID_CUSIP:
          type: string
          description: >-
            CUSIP (Committee on Uniform Securities Identification Procedures) It
            is a nine-character alphanumeric code that identifies a North
            American financial security for the purposes of facilitating
            clearing and settlement of trades.
          example: T5379P105
        BR_NME:
          type: string
          description: >-
            Branch Name is the name of the branch for the cash account and/or
            safekeeping account.
          example: NEW YORK SECURITIES CB
        SEC_SUB_TYP_CD:
          type: string
          description: >-
            Issue Type Code is a code linked to the Issue Type parameter which
            describes the type of security instrument. Values include: 1 (ADR
            Convertible), 12 (Bond), 19 (Bond Convertible), etc.
          example: '12'
        SEC_SUB_TYP_NME:
          type: string
          description: >-
            Issue Type is a description of the type of the security instrument. 
            Values include: ADR Convertible (1), Bond (12) , Bond Convertible
            (19), etc.
          example: BOND
        FED_REF_NBR:
          type: string
          description: >-
            The FED/CHIPS Reference Number is a unique number that is assigned
            by the Federal Reserve Bank (FED) or the Clearing House Interbank
            Payments System (CHIPS) for the transaction.
          example: C-12345678
        ORD_PTY_NME:
          type: string
          description: >-
            Ordering Party Name is the name of the instructing party that has
            authorized the payment of funds.
          example: LNIXSHUS YDUBTY
        SEC_SECURITY_CD:
          type: string
          description: >-
            CITI Internal Security Code is the identifier of the CITI Internal
            Security Identifier.
          example: 000BMG6KT4
        SEC_SHRT_NME:
          type: string
          description: Issue Name is the Security Name of the security instrument.
          example: FR QN4224
        LST_BUSCLS_DT:
          type: string
          format: date
          description: >-
            The date for which End of Day data was last received for the
            account.
          example: '2024-07-04'
        ACT_SETT_DT:
          type: string
          format: date
          description: Actual Settlement Date is the date of final settlement of the trade.
          example: '2024-08-22'
        DEAL_REF_NBR:
          type: string
          description: >-
            OTM Reference is the Order and Trade Manager Reference number that
            has been assigned to the order instructions.
          example: DEMO-1234567
        ASRD_INCM_IND:
          type: string
          description: >-
            The Assured Income Indicator advises whether an income payment is
            assured (to be paid on the anticipated payment date) or actual (to
            be paid when funds are actually received).  The values are ASRD
            (assured) and ACTU (actual).
          example: ACTU
        GROSS_NET_IND:
          type: string
          description: >-
            The Gross/Net is an indicator that advises if the amount for the
            transaction is Gross or Net. Values include G (Gross), N (Net) and
            (null)
          example: G
        CA_INCM_IND:
          type: string
          description: >-
            The CA/Income Indicator advises if the cash transaction is related
            to corporate actions or income.  Values are: <br>C for Corporate
            Action<br> I for Income.
          example: C
        INTRNL_REF_ID_CA:
          type: string
          description: >-
            Custodian Reference (CA) is the unique reference assigned by the
            Custodian to the record. The reference number is unique within a
            branch.
          example: '15396821'
        TRN_CL_CD_CA:
          type: string
          description: >-
            Transaction Class Code (CA) is the transaction type code for
            corporate action transactions.  The parameter values are:<br>
            CATX<br> (null)
          example: CATX
        CORP_ACTN_TYP:
          type: string
          description: >-
            Corporate Action Type are codes that identify the type of
            corporation action transaction. Values include BIDS (BID/REVERSE
            RIGHTS), CSHDIV (CASH DIVIDEND), INTR (INTEREST PAYMENT), STDIV
            (STOCK DIVIDEND), etc.
          example: BONU
        CORP_ACTN_TYP_NME:
          type: string
          description: >-
            Corporate Action Type Name is the description for the Corporate
            Action Type code. Values include:<br> BID/REVERSE RIGHTS (BIDS)<br>
            CASH DIVIDEND (CSHDIV)<br> INTEREST PAYMENT (INTR)<br> STOCK
            DIVIDEND (STDIV)<br> etc.
          example: BONUS ISSUE
        ENTLMT_STS_NME:
          type: string
          description: >-
            Entitlements Status is a description of the current processing
            status of the entitlement.  Values include:<br> Pending<br> Fully
            Released<br> Fully Paid<br> Partially Released<br> Partially
            Paid<br> Pending Payment<br> Pending<br> Reversal<br> Rev<br> To Be
            Received<br> (null)<br> etc.
          example: PARTIALLY PAID
        ENTLMT_QTY:
          type: number
          format: double
          description: >-
            Entitlement Quantity is the associated security holding quantity on
            which the entitlement has been calculated.
          example: '81338'
        PAY_DATE:
          type: string
          format: date
          description: >-
            Payable Date is the date on which a dividend or interest payment is
            scheduled to be paid.
          example: '2022-01-05'
        SID_LOCAL:
          type: string
          description: >-
            Local ID is the Local security identifier of the associated
            security.
          example: '0059663300'
        RVSL_IND:
          type: string
          description: >-
            The Reversal Indicator notes whether or not the cash transaction was
            processed to reverse an earlier transaction. Values include: N, R,
            Y, (null).
          example: 'Y'
        IOD_UPDATE_TMS:
          type: string
          format: date-time
          description: IOD Timestamp
          example: '2024-10-01 05:30:10'
        CASH_TRANS_TYPE:
          type: string
          description: >-
            A cash transaction type is a business transaction that is settled
            with immediate exchange of cash.
          example: ACH PYMT
        MKT_TRANS_TYPE:
          type: string
          description: >-
            Financial Market Transaction Type indicates the type of trade
            conducted by the Financial Institution. * Domain *  Buy  Sell 
            Borrow  Lend  Swap  Transfer  Exchange.
          example: TAX PAYMENT
        CITI_INTRNL_REF_ID:
          type: string
          description: >-
            Custodian Reference (Internal) is a Citi generated identifier for a
            unique cash transaction record. This attribute is only valid within
            Citi and we recommend that it should not be used by clients.
          example: T135177509
    0687f793-b687-4ac0-9337-e6a0c8445918-json-response-schema:
      type: object
      properties:
        Count:
          type: number
          format: integer
        PagedList:
          type: array
          items:
            $ref: >-
              #/components/schemas/0687f793-b687-4ac0-9337-e6a0c8445918-data-schema
    0687f793-b687-4ac0-9337-e6a0c8445918-xml-response-schema:
      type: object
      properties:
        row:
          type: array
          items:
            $ref: >-
              #/components/schemas/0687f793-b687-4ac0-9337-e6a0c8445918-data-schema
      xml:
        name: data
    ErrorResponse:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        errorDetails:
          type: array
          title: Error Detail
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      title: Error Detail
      xml:
        name: ErrorDetail
      properties:
        issue:
          type: string
          maxLength: 150
          description: more details about the issue
          title: issue
          xml:
            name: Issue
        action:
          type: string
          maxLength: 150
          description: corrective action to be taken to resolve above issue
          title: action
          xml:
            name: Action
        code:
          type: string
          maxLength: 10
          description: unique code representing the issue
          title: code
          xml:
            name: Code
  parameters:
    client_id:
      description: >-
        Your unique ID. This is the same as the ID you used for OAuth token
        generation. Citi shared this ID with you during your Data On Demand API
        onboarding
      name: client_id
      in: header
      required: true
      schema:
        type: string
    skip:
      name: skip
      in: query
      description: The number of records to skip before returning the results
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
    take:
      name: take
      in: query
      description: The maximum number of records to return
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 5000
    select:
      name: $select
      in: query
      description: >-
        The `$select` parameter in an API allows users to specify which data
        parameters (properties or columns) they want to receive in the API
        response. This helps improve efficiency by reducing the amount of data
        transferred and simplifying client-side processing.
      required: false
      schema:
        type: string
    parameter-18839:
      name: ACCT_BASE_NBR
      description: >-
        Account Base Number is an internal Citi client identifier that is
        associated to a Safekeeping or cash account.
      in: query
      required: false
      schema:
        type: string
    parameter-18841:
      name: ACCT_ID
      description: >-
        Account ID is an identifier for both a cash account and/or a safekeeping
        account that is unique within a branch.
      in: query
      required: false
      schema:
        type: string
    parameter-18842:
      name: ULTM_BENEF_ACCT
      description: >-
        Ultimate Beneficiary Account is the account number of the Ultimate
        Beneficiary.
      in: query
      required: false
      schema:
        type: string
    parameter-18843:
      name: BR_NME
      description: >-
        Branch Name is the name of the branch for the cash account and/or
        safekeeping account.
      in: query
      required: false
      schema:
        type: string
    parameter-18844:
      name: ALTV_CUR_CD
      description: Account Base Currency Code is the ISO Currency Code for the account.
      in: query
      required: false
      schema:
        type: string
    parameter-18846:
      name: SEC_GROUP
      description: >-
        Asset Type is a code representing the Asset Type of the security. 
        Values include: EQTY (Equity), FI (Fixed Income), etc.
      in: query
      required: false
      schema:
        type: string
    parameter-18847:
      name: ASRD_INCM_IND
      description: >-
        The Assured Income Indicator advises whether an income payment is
        assured (to be paid on the anticipated payment date) or actual (to be
        paid when funds are actually received).  The values are ASRD (assured)
        and ACTU (actual).
      in: query
      required: false
      schema:
        type: string
    parameter-18849:
      name: BNK_CUST_PMT_COND
      description: >-
        Bank/Customer Payment Conditions are the terms and conditions for
        payment services for financial institutions.
      in: query
      required: false
      schema:
        type: string
    parameter-18850:
      name: BNKCUST_REPMT_COND
      description: >-
        Bank/Customer Repayment Conditions are the terms and conditions for
        payment services for financial institutions.
      in: query
      required: false
      schema:
        type: string
    parameter-18851:
      name: CLNT_PFD_CUR_CD
      description: >-
        Base Currency Code is the ISO currency code preferred by the client
        organization.
      in: query
      required: false
      schema:
        type: string
    parameter-18852:
      name: BENEF
      description: The Beneficiary is the recipient (payee) of the funds.
      in: query
      required: false
      schema:
        type: string
    parameter-18853:
      name: BENEF_BNK
      description: The Beneficiary Bank  is the bank where the beneficiary has the account.
      in: query
      required: false
      schema:
        type: string
    parameter-18855:
      name: BENEF_REF
      description: >-
        Beneficiary Reference is a transaction level reference at the
        beneficiary bank side.
      in: query
      required: false
      schema:
        type: string
    parameter-18856:
      name: BR_ID
      description: >-
        Branch Code is the identifier of the branch for the account.  For the
        cash account the branch code is a numeric value and for the safekeeping
        account it is the ISO Country code.
      in: query
      required: false
      schema:
        type: string
    parameter-18858:
      name: BRKR_NME
      description: Transaction Broker Name.
      in: query
      required: false
      schema:
        type: string
    parameter-18859:
      name: BRKR_CODE
      description: Broker Code
      in: query
      required: false
      schema:
        type: string
    parameter-18860:
      name: EFF_POST_DT
      description: >-
        The contractual settlement date while the underlying transaction is not
        settled. The actual settlement date for settled transactions.
      in: query
      required: false
      schema:
        type: string
        format: date
    parameter-18861:
      name: PRIN_INC_IND
      description: >-
        Principal / Income Indicator advises if the balance is for Principal or
        Income.  Values include: P (Principal) or I (Income).
      in: query
      required: false
      schema:
        type: string
    parameter-18862:
      name: CASH_CR_AMT
      description: Cash Credit is the amount on the credit transaction
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18863:
      name: CASH_DB_AMT
      description: Cash Debit is the amount on the debit transaction
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18864:
      name: CASH_NET_AMT
      description: >-
        Cash Net Amount is the signed amount that will be credited or debited
        from the cash account.
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18873:
      name: CMPNY_DESC
      description: >-
        Company Description contains information regarding the company which
        issued the security.
      in: query
      required: false
      schema:
        type: string
    parameter-18878:
      name: CONTR_PYBL_DT
      description: >-
        Contractual Settlement Date is the date when the clients cash account
        should be credited with funds on a sale (and debited on a purchase) on
        the due settlement date in place of when a trade actually settles in the
        market.
      in: query
      required: false
      schema:
        type: string
        format: date
    parameter-18880:
      name: CORP_ACTN_TYP
      description: >-
        Corporate Action Type are codes that identify the type of corporation
        action transaction.  Values include: BIDS (BID/REVERSE RIGHTS), CSHDIV
        (CASH DIVIDEND), INTR (INTEREST PAYMENT), STDIV (STOCK DIVIDEND), etc.
      in: query
      required: false
      schema:
        type: string
    parameter-18881:
      name: CORP_ACTN_TYP_NME
      description: >-
        Corporate Action Type Name is the description for the Corporate Action
        Type code.  Values include: BID/REVERSE RIGHTS (BIDS), CASH DIVIDEND
        (CSHDIV), INTEREST PAYMENT (INTR), STOCK DIVIDEND (STDIV), etc.
      in: query
      required: false
      schema:
        type: string
    parameter-18882:
      name: CORR_BNK_ACCT_NBR
      description: >-
        The Corresponding Bank Account Number is the account established by a
        banking institution to receive deposits from, make payments on behalf
        of, or handle other financial transactions for another financial
        institution.
      in: query
      required: false
      schema:
        type: string
    parameter-18883:
      name: TRAD_BRKR_NME
      description: >-
        Counterparty is the other party to the trade. The person or entity (e.g.
        institution, agent, broker) with whom a transaction is conducted).
      in: query
      required: false
      schema:
        type: string
    parameter-18886:
      name: CUM_AMRT_AMT
      description: >-
        Cumulative Amortization Amount is the amount for fixed income
        securities.  This parameter pertains to US domestic only.
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18887:
      name: CUM_QTY
      description: >-
        Cumulative Quantity is the units for fixed income securities.  This
        parameter pertains to US domestic only.
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18888:
      name: CURR_FCTR
      description: >-
        Current Factor is the factor which applies to the current accrual period
        to determine payments and balances for principal paying securities.
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18889:
      name: DTED_TMS
      description: >-
        Dated Date/Time is the date that the interest begins to accrue on a
        fixed-income security.
      in: query
      required: false
      schema:
        type: string
        format: date-time
    parameter-18890:
      name: DIV_RATE
      description: >-
        The Dividend Rate is the total expected dividend payments for an
        investment on an annualized basis
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18891:
      name: ENTLMT_QTY
      description: >-
        Entitlement Quantity is the associated security holding quantity on
        which the entitlement has been calculated.
      in: query
      required: false
      schema:
        type: number
        format: double
    parameter-18892:
      name: ENTLMT_STS_NME
      description: >-
        Entitlements Status is a description of the current processing status of
        the entitlement.  Values include: Pending, Fully Released, Fully Paid,
        Partially Released, Partially Paid, Pending Payment, Pending, Reversal,
        Rev, To Be Received, (null), etc.
      in: query
      required: false
      schema:
        type: string
    parameter-18893:
      name: ENTRY_ID
      description: Entry ID is the two-digit National Codification Bureau (NCB) code
      in: query
      required: false
      schema:
        type: string
    parameter-18894:
      name: EVENT_CLAS_CD
      description: >-
        Event Class are codes that identify the type of Income transaction. 
        Values include:  BOT, DELD, DIV (Dividend), INT (Interest), MBSD, PAID,
        RECD, SOLD, TSFD, (null).
      in: query
      required: false
      schema:
        type: string
    parameter-18896:
      name: EX_DISTN_DT
      description: >-
        Ex Date is the trading cut off date after which position changes will no
        longer alter the eligibility to the corporate action or the date
        established by an issuer of a security for the purpose of determining
        the holders who are entitled to receive the last dividend or
        distribution.
      in: query
      required: false
      schema:
        type: string
        format: date
    parameter-18897:
      name: FED_REF_NBR
[...]
