openapi: 3.0.2
info:
  title: Payment Acceptance API
  description: |
    Payment Acceptance API
    Update - April 28, 2026
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod
    description: production gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb
    description: sbox URL
  - url: https://tts.sit.apib2b.citi.com/citiconnect/uat
    description: uat URL
tags:
  - name: Payment-Acceptance
    description: Payment Acceptance API
  - name: Refunds
    description: Refunds API
  - name: Tokens
    description: Tokens API
  - name: Mandate
    description: Mandate API
paths:
  /digitalpayments/v1/payment-acceptance/methods:
    get:
      tags:
        - Payment-Acceptance
      summary: Payment Method Details
      description: >
        Payment method details, merchant enabled payment method during
        onboarding details.
      operationId: getPayment-Method
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Merchant-Id'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Payment method
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Method-Response'
              examples:
                Payment-Method:
                  $ref: '#/components/examples/Payment-Method'
        '400':
          $ref: '#/components/responses/Bad-Get-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance:
    post:
      tags:
        - Payment-Acceptance
      summary: Submit A Payment With Selected Payment Method
      description: Create a payment
      operationId: Payments
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Post-Id'
        - $ref: '#/components/parameters/Post-Operation'
        - $ref: '#/components/parameters/Post-Country-Code'
      security:
        - clientCredentials: []
      requestBody:
        description: Payment Initiation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Request'
            examples:
              Brazil QR Creation Payment Request:
                $ref: '#/components/examples/Qrpix-Payment-Request-Example'
              US Alipay Payment Request:
                $ref: '#/components/examples/US-Alipay-Payment-Request-Example'
              US Trustly Payment Request:
                $ref: '#/components/examples/US-Trustly-Payment-Request-Example'
              US Card Payment Request With Card Details:
                $ref: '#/components/examples/US-Card-Payment-Request-Example'
              US Card Payment Request With Token Details:
                $ref: >-
                  #/components/examples/US-Card-Payment-Request-With-Token-Example
              US Card Payment Request With Session Details:
                $ref: >-
                  #/components/examples/US-Card-Payment-Request-With-Session-Example
              US Card Authorize Request With Card Details:
                $ref: >-
                  #/components/examples/US-Card-Authorize-Request-With-Card-Example
              US Card Authorize Request With Token Details:
                $ref: >-
                  #/components/examples/US-Card-Authorize-Request-With-Token-Example
              US Card Authorize Request With Session Details:
                $ref: >-
                  #/components/examples/US-Card-Authorize-Request-With-Session-Example
              US Card Verify Request With Card Details:
                $ref: '#/components/examples/US-Card-Verify-Request-With-Card-Example'
              US Card Verify Request With Token Details:
                $ref: >-
                  #/components/examples/US-Card-Verify-Request-With-Token-Example
              US Card Verify Request With Session Details:
                $ref: >-
                  #/components/examples/US-Card-Verify-Request-With-Session-Example
              US Card Capture Request:
                $ref: '#/components/examples/US-Card-Capture-Request-Example'
              US Google Pay Capture Request:
                $ref: '#/components/examples/Us-Google-Pay-Capture-Request-Example'
              US Google Pay Verify With Card Request:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Verify-With-Card-Request-Example
              US Google Pay Verify With Session Request:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Verify-With-Session-Request-Example
              US Google Pay Verify With Token Request:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Verify-With-Token-Request-Example
              India Card Payment Request With Card Details:
                $ref: >-
                  #/components/examples/India-Card-Payment-With-Card-Request-Example
              India Card Capture Payment Request:
                $ref: >-
                  #/components/examples/India-Card-Capture-Payment-Request-Example
              India Card Payment Request With Token Details:
                $ref: '#/components/examples/India-Card-Token-Payment-Request-Example'
              India Card Authorize Request:
                $ref: '#/components/examples/India-Card-Authorize-Request-Example'
              India Token Authorize Request:
                $ref: '#/components/examples/India-Token-Authorize-Request-Example'
              UK PayByBank Payment Request:
                $ref: '#/components/examples/Uk-Payment-Request-Example'
              US RFP Payment Request:
                $ref: '#/components/examples/Us-Rfp-Request-Example'
              US ApplePay Payment With Card Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Payment-With-Card-Request-Example
              US ApplePay Payment With Token Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Payment-With-Token-Request-Example
              US ApplePay Payment With Session Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Payment-With-Session-Request-Example
              US ApplePay Authorize With Card Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Authorize-With-Card-Request-Example
              US ApplePay Authorize With Token Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Authorize-With-Token-Request-Example
              US ApplePay Authorize With Session Request:
                $ref: >-
                  #/components/examples/US-Apple-Pay-Authorize-With-Session-Request-Example
              US Apple Pay Capture Request:
                $ref: '#/components/examples/Us-Apple-Pay-Capture-Request-Example'
              US Apple Pay Verify With Card Request:
                $ref: >-
                  #/components/examples/Us-Apple-Pay-Verify-With-Card-Request-Example
              US Apple Pay Verify With Token Request:
                $ref: >-
                  #/components/examples/Us-Apple-Pay-Verify-With-Token-Request-Example
              US Apple Pay Verify With Session Request:
                $ref: >-
                  #/components/examples/Us-Apple-Pay-Verify-With-Session-Request-Example
              US GooglePay Payment Request With Card:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Payment-Request-With-Card-Example
              US GooglePay Payment Request With Token:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Payment-Request-With-Token-Example
              US GooglePay Payment Request With Session:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Payment-Request-With-Session-Example
              US GooglePay Authorize Request With Card:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Authorize-Request-With-Card-Example
              US GooglePay Authorize Request With Session:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Authorize-Request-With-Session-Example
              US GooglePay Authorize Request With Token:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Authorize-Request-With-Token-Example
              US Paypal Payment Request:
                $ref: '#/components/examples/US-Paypal-Payment-Request-Example'
              US Paypal Authorize Request:
                $ref: '#/components/examples/Us-Paypal-Authorize-Request-Example'
              US Paypal Capture Request:
                $ref: '#/components/examples/Us-Paypal-Capture-Request-Example'
              US ACH DirectDebit Payment Request CCD/PPD/WEB:
                $ref: >-
                  #/components/examples/Us-Ach-Direct-Debit-CCD-PPD-WEB-Request-Example
              US ACH DirectDebit Payment Request IAT:
                $ref: '#/components/examples/Us-Ach-Direct-Debit-IAT-Request-Example'
              Brazil PIX Initiation Request:
                $ref: '#/components/examples/Brazil-PIX-Initiation-Request-Example'
              US ACH Payment Request:
                $ref: '#/components/examples/US-Ach-Pay-Payment-Request-Example'
      callbacks:
        payment-qr-created:
          $ref: '#/components/callbacks/Payment-Created-Status'
        payment-qr-failed:
          $ref: '#/components/callbacks/Payment-Failed-Status-Notification'
        payment-settled:
          $ref: '#/components/callbacks/Payment-Success-Status-Notification'
        payment-authorize-success:
          $ref: '#/components/callbacks/payment-Authorize-Success'
        payment-authorize-failed:
          $ref: '#/components/callbacks/payment-Authorize-Failed'
        payment-capture-success:
          $ref: '#/components/callbacks/Payment-Capture-Success'
        payment-capture-failed:
          $ref: '#/components/callbacks/Payment-Capture-Failed'
        payment-failed:
          $ref: '#/components/callbacks/Payment-Failed'
        payment-rfp-failed:
          $ref: '#/components/callbacks/Payment-Rfp-Failed'
        payment-rfp-success:
          $ref: '#/components/callbacks/Payment-Rfp-Success'
      responses:
        '200':
          description: OK
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Notification'
              examples:
                USCardPaymentResponse:
                  $ref: '#/components/examples/Card-Payment-Response-Example'
                IndiaCardPaymentResponse:
                  $ref: '#/components/examples/India-Card-Payment-Response-Example'
                USGooglepayPaymentResponse:
                  $ref: '#/components/examples/Googlepay-Payment-Response-Example'
                USApplepayPaymentResponse:
                  $ref: '#/components/examples/Applepay-Payment-Response-Example'
                USPaypalPaymentResponse:
                  $ref: '#/components/examples/Paypal-Payment-Response-Example'
                Payment-Uk-Link-Failed-Response:
                  $ref: '#/components/examples/Payment-Uk-Link-Failed-Notification'
                Payment-Uk-Link-Success-Response:
                  $ref: '#/components/examples/Payment-Uk-Link-Sucess-Notification'
                USAlipay-Link-Success-Response:
                  $ref: '#/components/examples/Alipay-Link-Sucess-Notification'
                USTrustly-Link-Success-Response:
                  $ref: '#/components/examples/Trustly-Link-Sucess-Notification'
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    get:
      tags:
        - Payment-Acceptance
      summary: Get Transaction Details
      description: >
        Receive transaction status of the transaction for last 90 days using
        transaction ID provided during transaction creation or transaction
        end-to-end-id received in incoming credit notification.
      operationId: getpaymentstatus
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Get-Payment-End-To-End-Id'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/Post-Country-Code'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Payment status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments-Response'
              examples:
                Brazil-Qr-Created-Status:
                  $ref: '#/components/examples/Qr-Created-Status'
                Brazil-Qr-Pending-Status:
                  $ref: '#/components/examples/Qr-Pending-Status'
                Brazil-Qr-Cancelled-Status:
                  $ref: '#/components/examples/Qr-Cancelled-Status'
                Brazil-Qr-Failed-Status:
                  $ref: '#/components/examples/Qr-Failed-Status'
                Brazil-Qr-Settled-Status:
                  $ref: '#/components/examples/Qr-Settled-Status'
                India-Upi-Settled-Status:
                  $ref: '#/components/examples/Payment-Success-Upi-Status'
                Brazil-Incoming-Credit-Settled-Status:
                  $ref: >-
                    #/components/examples/Payment-Success-Incoming-Brazil-PIX-Credit-Status-Notification
                Brazil-Incoming-Credit-Failed-Status:
                  $ref: >-
                    #/components/examples/Payment-Failed-Incoming-Brazil-PIX-Credit-Status-Notification
                UK-Pending-Status:
                  $ref: '#/components/examples/Uk-Pending-Status'
                UK-Failed-Status:
                  $ref: '#/components/examples/Uk-Failed-Status'
                UK-Settled-Status:
                  $ref: '#/components/examples/Uk-Settled-Status'
                US-RFP-Reject-Status:
                  $ref: '#/components/examples/Us-Rfp-Reject-Status-Example'
                US-RFP-Success-Status:
                  $ref: '#/components/examples/Us-Rfp-Success-Status-Example'
                Payment-Success-US-RFP-Status:
                  $ref: '#/components/examples/Payment-Success-Us-Rfp-Status'
                US-ACH-Direct-Debit-Status:
                  $ref: '#/components/examples/ACH-Direct-Debit-Status'
                US-Wire-Status:
                  $ref: '#/components/examples/US-Wire-Status'
                US-ACH-Status:
                  $ref: '#/components/examples/US-ACH-Status'
                Brazil-PIX-Status:
                  $ref: '#/components/examples/BR-PIX-Status'
                India-Card-Status:
                  $ref: '#/components/examples/India-Card-Status'
                US-Card-Status:
                  $ref: '#/components/examples/Us-Card-Status'
                US-Googlepay-Card-Status:
                  $ref: '#/components/examples/Us-Googlepay-Status'
                US-Applepay-Card-Status:
                  $ref: '#/components/examples/Us-Applepay-Status'
                US-Paypal-Card-Status:
                  $ref: '#/components/examples/Us-Paypal-Status'
                India-IMPS-Status:
                  $ref: '#/components/examples/India-IMPS-Status'
                Thailand-IP-Status:
                  $ref: '#/components/examples/Thailand-IP-Status'
                Australia-IP-Status:
                  $ref: '#/components/examples/Australia-IP-Status'
        '400':
          $ref: '#/components/responses/Bad-Get-Request2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/refunds:
    post:
      tags:
        - Refunds
      summary: Initiate An Outgoing Instant Refund Credit Transfer
      description: >-
        Return an incoming payment transaction to the sender using either the
        "end_to_end_id" and "value_date", or "UETR".  The response to a refund
        transaction is asynchronous, which is either through a GET Refund
        request or as a push notification via webhook.
      operationId: refundPayments
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Refund-Id'
        - $ref: '#/components/parameters/Post-Country-Code'
      requestBody:
        description: Refund Initiation Request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refunds-Request'
            examples:
              Brazil Pix Refund Transfer:
                $ref: >-
                  #/components/examples/Brazil-Pix-Refund-Initiation-Request-Example
              US Card Refund Transfer:
                $ref: >-
                  #/components/examples/US-Card-Refund-Initiation-Request-Example
              US ACH Refund Transfer:
                $ref: '#/components/examples/US-Ach-Refund-Initiation-Request-Example'
              India Card Refund Transfer:
                $ref: >-
                  #/components/examples/India-Card-Refund-Initiation-Request-Example
              India UPI Refund Transfer:
                $ref: >-
                  #/components/examples/India-Upi-Refund-Initiation-Request-Example
              UK Refund Transfer:
                $ref: '#/components/examples/Uk-Ip-Refund-Initiation-Request-Example'
              US Ach Return And Reversal:
                $ref: '#/components/examples/Us-Ach-Retrun-Reversal-Request-Example'
              US Googlepay Refund Transfer:
                $ref: >-
                  #/components/examples/Googlepay-Refund-Initiation-Request-Example
              US Applepay Refund Transfer:
                $ref: >-
                  #/components/examples/Applepay-Refund-Initiation-Request-Example
              US Paypal Refund Transfer:
                $ref: >-
                  #/components/examples/Us-Paypal-Refund-Initiation-Request-Example
              US PPRO Refund Transfer:
                $ref: '#/components/examples/PPRO-Refund-Initiation-Request-Example'
      security:
        - clientCredentials: []
      callbacks:
        payment-refund-success:
          $ref: '#/components/callbacks/Payment-Refund-Created-Status'
        payment-refund-failed:
          $ref: '#/components/callbacks/Payment-Refund-Failed-Status'
        payment-refund-pending:
          $ref: '#/components/callbacks/Payment-Refund-Pending-Status'
      responses:
        '202':
          description: Accepted
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-L0-Refund-Notification'
              examples:
                CardPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Payment-Refund-Card-Sucess-Response'
                IndiaCardPaymentCreatedSucessResponse:
                  $ref: >-
                    #/components/examples/India-Payment-Refund-Card-Sucess-Response
                PixPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Payment-Refund-Pix-Sucess-Response'
                UpiPaymentCreatedSucessResponse:
                  $ref: >-
                    #/components/examples/Payment-Refund-India-Upi-Sucess-Response
                UkPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Payment-Refund-Uk-Ip-Sucess-Response'
                UsAchReturnAndRevesalCreatedSuccessResponse:
                  $ref: >-
                    #/components/examples/Us-Ach-Return-And-Revesal-Success-Response
                GooglepayPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Googlepay-Refund-Card-Sucess-Response'
                ApplepayPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Applepay-Refund-Card-Sucess-Response'
                PproPaymentCreatedSucessResponse:
                  $ref: '#/components/examples/Ppro-Refund-Card-Sucess-Response'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    get:
      tags:
        - Refunds
      summary: Get refund transaction details
      description: >-
        Receive transaction status of the transaction for last 90 days using the
        additional parameter. End-To-End-Id or UETR or Country-Code or Original
        Payment UETR is mandatory. 

        - For ACH Return & Reversal, you can retrieve transaction details using
        original_payment_uetr.
      operationId: getrefundpaymentstatus
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/End-To-End-Id'
        - $ref: '#/components/parameters/Country-Code'
        - $ref: '#/components/parameters/Uetr'
        - $ref: '#/components/parameters/Original-Payment-Uetr'
        - $ref: '#/components/parameters/Creation-Date-Time-Start'
        - $ref: '#/components/parameters/Creation-Date-Time-End'
        - $ref: '#/components/parameters/Amount'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/Offset-Param'
        - $ref: '#/components/parameters/Limit-Param'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Payment status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds-Response'
              examples:
                Brazil Pix Refund Transfer:
                  $ref: '#/components/examples/Payment-Refund-Pix-Sucess-Notification'
                Card Refund Transfer:
                  $ref: >-
                    #/components/examples/Payment-Refund-Card-Sucess-Notification
                India UPI Refund Transfer:
                  $ref: >-
                    #/components/examples/Payment-Refund-India-Upi-Sucess-Notification
                Uk PAYBYBANK Refund Transfer:
                  $ref: '#/components/examples/Payment-Refund-Uk-Sucess-Notification'
                US ACH RETURN AND REVERSAL:
                  $ref: >-
                    #/components/examples/Us-Ach-Retrun-Reversal-Success-Notification
                Googlepay Refund Transfer:
                  $ref: >-
                    #/components/examples/Googlepay-Refund-Card-Sucess-Notification
                Applepay Refund Transfer:
                  $ref: >-
                    #/components/examples/Applepay-Refund-Card-Sucess-Notification
                Ppro Refund Transfer:
                  $ref: '#/components/examples/Ppro-Refund-Card-Sucess-Notification'
        '400':
          $ref: '#/components/responses/Bad-Get-Request2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/refunds/{id}:
    patch:
      tags:
        - Refunds
      summary: Update a payment with selected payment method.
      description: Update a payment.
      operationId: refundUpdate
      parameters:
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Merchant-Post-Id'
        - $ref: '#/components/parameters/Refund-Patch-Operation'
        - $ref: '#/components/parameters/Post-Country-Code'
      requestBody:
        description: Update a payment with selected payment method.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refund-Update-Request'
            examples:
              US Card Refund Update Request:
                $ref: '#/components/examples/Us-Refund-Update-Request-Example'
              US Card Refund Cancel Request:
                $ref: '#/components/examples/Us-Refund-Cancel-Request-Example'
              US GooglePay Refund Cancel Request:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Refund-Cancel-Request-Example
              US ApplePay Refund Cancel Request:
                $ref: >-
                  #/components/examples/Us-Apple-Pay-Refund-Cancel-Request-Example
      security:
        - clientCredentials: []
      callbacks:
        refund-cancel-success:
          $ref: '#/components/callbacks/Refund-Cancel-Success'
        refund-cancel-failed:
          $ref: '#/components/callbacks/Refund-Cancel-Failed'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/tokens:
    post:
      tags:
        - Tokens
      summary: Create a Tokenization request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your tokenization creation request.
      operationId: tokenize
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
        - $ref: '#/components/parameters/Value-Added-Services'
      requestBody:
        description: Create Tokenization request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tokenization-Create-Request'
            examples:
              Citi_Token_Create_Request:
                $ref: '#/components/examples/Citi-Token-Create-Request-Example'
              Network_Token_Create_Request:
                $ref: '#/components/examples/Network-Token-Create-Request-Example'
              Account_Updater_Create_Request:
                $ref: >-
                  #/components/examples/Account-Updater-Token-Create-Request-Example
      security:
        - clientCredentials: []
      callbacks:
        tokenization-create-request-status:
          $ref: '#/components/callbacks/Tokenization-Create-Request-Status'
      responses:
        '202':
          $ref: '#/components/responses/Request-Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    get:
      tags:
        - Tokens
      summary: Retrieve token details
      description: >-
        Get the latest statuses of tokenization using matching criteria.
        Currently, you can get the latest tokenization statuses up to 90 days
        from the token creation date. If the tokenization statuses date is 90+
        days old, the endpoint responds with HTTP status 404 (not found).
      operationId: getToken
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Get-Token-Id'
        - $ref: '#/components/parameters/Merchant-Id'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Token status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token-Response'
              examples:
                Token-Status:
                  $ref: '#/components/examples/Token-Retrieve-Status'
        '400':
          $ref: '#/components/responses/Bad-Get-Request2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    patch:
      tags:
        - Tokens
      summary: Token Update Request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your tokenization update request.
      operationId: updateToken
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
      requestBody:
        description: Token Update Request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Token-Update-Request'
            examples:
              Token_Update_Request:
                $ref: '#/components/examples/Token-Delete-Request-Example'
      security:
        - clientCredentials: []
      callbacks:
        token-update-request-status:
          $ref: '#/components/callbacks/Token-Update-Request-Status'
      responses:
        '202':
          $ref: '#/components/responses/Request-Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    delete:
      tags:
        - Tokens
      summary: Token Delete Request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your tokenization update request.
      operationId: deleteToken
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Get-Token-Id'
        - $ref: '#/components/parameters/Merchant-Id'
        - $ref: '#/components/parameters/Value-Added-Services'
      security:
        - clientCredentials: []
      callbacks:
        token-delete-request-status:
          $ref: '#/components/callbacks/Token-Delete-Request-Status'
      responses:
        '202':
          $ref: '#/components/responses/Request-Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/{id}:
    patch:
      tags:
        - Payment-Acceptance
      summary: Update a payment with selected payment method.
      description: Update a payment.
      operationId: collectionUpdate
      parameters:
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Merchant-Post-Id'
        - $ref: '#/components/parameters/Patch-Operation'
      requestBody:
        description: Update a payment with selected payment method.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Update-Request'
            examples:
              Brazil QR PIX Update Payment:
                $ref: '#/components/examples/Qrpix-Payment-Update-Request-Example'
              Brazil QR PIX Cancel Payment:
                $ref: '#/components/examples/Qrpix-Payment-Cancel-Request-Example'
              US Card Payment Request:
                $ref: '#/components/examples/US-Card-Payment-Update-Request-Example'
              US Card Update Authorize Request:
                $ref: '#/components/examples/US-Card-Authorize-Update-Request-Example'
              US Card Cancel Request:
                $ref: '#/components/examples/US-Card-Cancel-Request-Example'
              India Card Cancel Payment Request:
                $ref: >-
                  #/components/examples/India-Card-Cancel-Payment-Request-Example
              Brazil PIX Cancellation Request:
                $ref: '#/components/examples/Brazil-PIX-Cancellation-Request-Example'
              US Paypal Payment Confirm Request:
                $ref: '#/components/examples/Paypal-Payment-Confirm-Request-Example'
              US Paypal Authorize Confirm Request:
                $ref: '#/components/examples/Paypal-Authorize-Confirm-Request-Example'
              US Paypal Update Authorize Request:
                $ref: >-
                  #/components/examples/Us-Paypal-Update-Authorize-Request-Example
              US Paypal Cancel Request:
                $ref: '#/components/examples/Us-Paypal-Cancel-Request-Example'
              US GooglePay Update Authorize Request:
                $ref: >-
                  #/components/examples/Us-Google-Pay-Update-Authorize-Request-Example
              US GooglePay Cancel Request:
                $ref: '#/components/examples/Us-Google-Pay-Cancel-Request-Example'
              US ApplePay Update Authorize Request:
                $ref: >-
                  #/components/examples/Us-Apple-Pay-Update-Authorize-Request-Example
              US ApplePay Cancel Request:
                $ref: '#/components/examples/Us-Apple-Pay-Cancel-Request-Example'
      security:
        - clientCredentials: []
      callbacks:
        payment-qr-modified:
          $ref: '#/components/callbacks/Payment-Created-Status'
        payment-qr-cancelled:
          $ref: '#/components/callbacks/Payment-Cancelled-Status'
        payment-cancel-success:
          $ref: '#/components/callbacks/Payment-Cancel-Success'
        payment-cancel-failed:
          $ref: '#/components/callbacks/Payment-Cancel-Failed'
      responses:
        '200':
          description: Okay
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment-Notification'
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/authentication:
    post:
      tags:
        - Authentication
      summary: Create a authentication request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 200 (OK) after successful validation. If validation fails,
        the endpoint synchronously responds with error (HTTP status 4XX / 5XX
        and any applicable reason code), indicating Citi couldn't accept your
        authentication creation request.
      operationId: authentication
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
        - $ref: '#/components/parameters/Post-Authentication-Operation'
        - $ref: '#/components/parameters/Post-Country-Code'
      requestBody:
        description: Create authentication request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authentication-Request'
            examples:
              Authentication_Initiate_Request:
                $ref: '#/components/examples/Authentication-Request-Example'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: OK
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication-Response'
              examples:
                Authentication_Initiate_Response:
                  $ref: '#/components/examples/Authentication-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /digitalpayments/v1/payment-acceptance/authentication/{id}:
    patch:
      tags:
        - Authentication
      summary: Payer Authentication Request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your tokenization update request.
      operationId: updateAuthentication
      parameters:
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
        - $ref: '#/components/parameters/Patch-Authentication-Operation'
      requestBody:
        description: Payer Authentication Request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authentication-Payer-Request'
            examples:
              Authentication_Payer_Request:
                $ref: '#/components/examples/Authentication-Payer-Request-Example'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: OK
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication-Payer-Response'
              examples:
                Authentication_Payer_Response:
                  $ref: '#/components/examples/Authentication-Payer-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/mandates:
    post:
      tags:
        - Mandate
      summary: Initiate New Mandate Outgoing Request
      description: >-
        This endpoint allows the Merchant to initiate the mandate creation
        process from Clients ERP to Citi’s system in a secure manner.
      operationId: initiateMandate
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
      requestBody:
        description: Mandate Initiation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mandate-Initiation-Request'
            examples:
              Brazil-Mandate-Initiation-Request:
                $ref: >-
                  #/components/examples/Brazil-Mandate-Initiation-Request-Example
      security:
        - clientCredentials: []
      callbacks:
        mandate-initiation-status:
          $ref: '#/components/callbacks/Mandate-Initiation-Status'
      responses:
        '202':
          $ref: '#/components/responses/Mandate-Initiation-Request-Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    get:
      tags:
        - Mandate
      summary: Get Mandate details
      description: Retrieve status of your mandate
      operationId: getMandate
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Mandate-Country-Code'
        - $ref: '#/components/parameters/Mandate-Id'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Mandate status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mandate-Inquiry-Response'
              examples:
                Brazil-Mandate-Get-Status:
                  $ref: '#/components/examples/Brazil-Mandate-Get-Status-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    patch:
      tags:
        - Mandate
      summary: Cancel Mandate Outgoing Request
      description: >-
        This endpoint allows the Merchant to cancel an existing mandate from
        Clients ERP to Citi’s system in a secure manner.
      operationId: cancelMandate
      parameters:
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Mandate-Patch-Operation'
      requestBody:
        description: Mandate Cancellation Request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mandate-Cancellation-Request'
            examples:
              Brazil-Mandate-Cancellation-Request:
                $ref: >-
                  #/components/examples/Brazil-Mandate-Cancellation-Request-Example
      security:
        - clientCredentials: []
      callbacks:
        mandate-cancellation-status:
          $ref: '#/components/callbacks/Mandate-Cancellation-Status'
      responses:
        '202':
          $ref: '#/components/responses/Mandate-Cancellation-Request-Accepted'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
  /digitalpayments/v1/payment-acceptance/sessions:
    get:
      tags:
        - Sessions
      summary: Retrieve session details
      description: >-
        Get the latest statuses of tokenization using matching criteria.
        Currently, you can get the latest tokenization statuses up to 90 days
        from the token creation date. If the tokenization statuses date is 90+
        days old, the endpoint responds with HTTP status 404 (not found).
      operationId: getSession
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Session-Id'
        - $ref: '#/components/parameters/Merchant-Id'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Session status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session-Status-Response'
        '400':
          $ref: '#/components/responses/Bad-Post-Session-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
    post:
      tags:
        - Sessions
      summary: Create a Session request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your session creation request.
      operationId: createsession
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
      requestBody:
        description: Create Session request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Session-Create-Request'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Session status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session-Create-Response'
        '400':
          $ref: '#/components/responses/Bad-Post-Session-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /digitalpayments/v1/payment-acceptance/sessions/{id}:
    patch:
      tags:
        - Sessions
      summary: Create a Session request.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable reason code), indicating Citi couldn't accept
        your session creation request.
      operationId: updatesession
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
        - $ref: '#/components/parameters/Session-Path-Id'
        - $ref: '#/components/parameters/Merchant-Token-Id'
        - $ref: '#/components/parameters/Encrypt-Sign'
      requestBody:
        description: Create Session request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Session-Update-Request'
      security:
        - clientCredentials: []
      responses:
        '200':
          description: Session status
          headers:
            apim-guid:
              schema:
                type: string
              description: Citi's unique identification for your request
            Merchant-Id:
              schema:
                type: string
              description: The unique identifier issued to you by your payment provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session-Update-Response'
        '400':
          $ref: '#/components/responses/Bad-Post-Session-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Rate-Limit-Exceeded'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        '504':
          $ref: '#/components/responses/Gateway-Timeout'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
components:
  parameters:
    Offset-Param:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        default: 0
      description: Payment status inquiry result page you want Citi to respond to you with
    Limit-Param:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        maximum: 1000
        minimum: 1
        default: 100
      description: |-
        Limit you want Citi to apply to your payment status inquiry results 
        - Maximum value is 1,000.
    Client-Id:
      in: query
      name: client_id
      required: true
      description: >-
        Your unique identification, same as the identification you use for OAuth
        token generation, Citi shared with you during your CitiConnect API
        onboarding
      schema:
        type: string
        description: >-
          Your unique identification, same as the identification you use for
          OAuth token generation, Citi shared with you during your CitiConnect
          API onboarding
        example: 9a10a5d6-63d4-4885-b6bd-19e79629496d
    Customer-Id:
      name: Customer-Id
      in: query
      description: Customer ID of the customer
      schema:
        type: string
        maxLength: 40
      example: CUST123456
    End-To-End-Id:
      name: id
      in: query
      description: The end to end ID included in the refund by the sender of the refund
      schema:
        $ref: '#/components/schemas/Restricted-Finx-Max-Text'
      example: 1L00IF2BCWUZF09
    Idempotency-Id:
      name: Idempotency-Id
      in: header
      required: true
      description: >-
        Your unique identification for a POST request 
         - Maximum length is 128. 
        -  CitiConnect API responds with an error (HTTP status 4XX) if your POST
        request idempotency identification value is a duplicate across a recent
        history of idempotency identifications in Citi's database.
      schema:
        type: string
        maxLength: 128
        description: >-
          Your unique identification for a POST request 
           - Maximum length is 128. 
          -  CitiConnect API responds with an error (HTTP status 4XX) if your
          POST request idempotency identification value is a duplicate across a
          recent history of idempotency identifications in Citi's database. 

          - If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from
          Citi to your POST request and you wish to retry, reinitiate your
          request with the same idempotency identification to prevent accidental
          duplicate payment.
      example: a44cbb60-6de4-4edb-9a7a-123414bba3bb
    Taas:
      in: header
      name: Taas
      required: false
      description: Flag for tokenizing sensitive data
      schema:
        type: string
        description: Flag for tokenizing sensitive data
        example: 'Y'
    Post-Operation:
      in: header
      name: Operation
      required: false
      description: API operation
      schema:
        type: string
        enum:
          - CAPTURE
          - AUTHORIZE
          - PAY
          - VERIFY
          - DIRECTDEBIT
        description: API operation
        example: CAPTURE
    Post-Authentication-Operation:
      in: header
      name: Operation
      required: false
      description: API operation
      schema:
        type: string
        enum:
          - INITIATE_AUTHENTICATION
        description: API operation
        example: INITIATE_AUTHENTICATION
    Patch-Authentication-Operation:
      in: header
      name: Operation
      required: false
      description: API operation
      schema:
        type: string
        enum:
          - AUTHENTICATE_PAYER
        description: API operation
        example: AUTHENTICATE_PAYER
    Token-Operation:
      in: header
      name: Operation
      required: false
      description: Token operation
      schema:
        type: string
        enum:
          - DELETE_TOKEN
          - UPDATE_TOKEN
        description: Token operation
        example: DELETE_TOKEN
    Patch-Operation:
      in: header
      name: Operation
      required: false
      description: API operation
      schema:
        type: string
        enum:
          - AUTHORIZE
          - CANCEL
          - PAY
        description: API operation
        example: CANCEL
    Refund-Patch-Operation:
      in: header
      name: Operation
      required: false
      description: API operation
      schema:
        type: string
        enum:
          - CANCEL
        description: API operation
        example: CANCEL
    Mandate-Patch-Operation:
      in: header
      name: Operation
      required: true
      description: API operation
      schema:
        type: string
        enum:
          - CANCEL
        description: API operation
        example: CANCEL
    Id:
      name: id
      in: path
      required: true
      description: Your unique End To End identification
      schema:
        type: string
        maxLength: 128
        minLength: 1
        description: Your unique End To End identification
      example: abc-pay-123
    Get-Payment-End-To-End-Id:
      name: id
      in: query
      schema:
        type: string
        maxLength: 128
        minLength: 1
      description: >-
        The transaction ID provided by client during transaction creation or
        transaction end-to-end-id received in incoming credit notification, 

        - The id parameter is mandatory for inqury request.
      example: 1L00IF2BCWUZF09
    Token-Id-Get:
      name: id
      in: query
      schema:
        type: string
        maxLength: 128
        minLength: 1
      description: The transaction ID provided by client during token creation
      example: 1L00IF2BCWUZF09
    Get-End-To-End-Id:
      name: end-to-end-id
      in: query
      description: The end to end ID provided in credit notification
      schema:
        $ref: '#/components/schemas/Restricted-Finx-Max-Text'
      example: 1L00IF2BCWUZF09
    Original-Payment-Uetr:
      name: Original_Payment_Uetr
      in: query
      description: >-
        The unique ‘UETR’ reference assigned to the original incoming credit on
        your account for which a refund was initiated. If multiple refunds were
        initiated against an incoming credit, the response API will include all
        these refunds
      schema:
        type: string
        pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
        description: >-
          The unique ‘UETR’ reference assigned to the original incoming credit
          on your account for which a refund was initiated. If multiple refunds
          were initiated against an incoming credit, the response API will
          include all these refunds
        example: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
    Creation-Date-Time-Start:
      name: creation_date_time_start
      in: query
      schema:
        type: string
        format: date-time
      description: |-
        GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
         - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
      example: '2022-09-13T08:23:49.114Z'
    Creation-Date-Time-End:
      name: creation_date_time_end
      in: query
      schema:
        type: string
        format: date-time
      description: |-
        GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
         - end of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
      example: '2022-09-13T08:23:49.114Z'
    Status-Date-Time-Start:
      name: status_date_time_start
      in: query
      schema:
        type: string
        format: date-time
      description: |-
        GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
         - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
      example: '2022-09-13T08:23:49.114Z'
    Status-Date-Time-End:
      name: status_date_time_end
      in: query
      schema:
        type: string
        format: date-time
      description: |-
        GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
         - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
      example: '2022-09-13T08:23:49.114Z'
    Network-Id:
      name: network_id
      in: query
      schema:
        type: string
        maxLength: 36
      description: >-
        Transaction reference generated for or by a network (e.g., PromptPay,
        NPCI)
      example: '209323283934'
    Batch-Id:
      name: batch_id
      in: query
      schema:
        type: string
        maxLength: 35
      description: >-
        Identification for your Citi account consolidated debit or credit
        posting for the transactions
      example: '209323283934'
    Uetr:
      name: uetr
      in: query
      schema:
        type: string
        pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
      description: Unique end-to-end transaction reference
      example: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
    Amount:
      name: amount
      in: query
      schema:
        type: number
        maximum: 100000000000000
      description: amount
      example: 73945.27
    Status:
      name: status
      in: query
      schema:
        type: string
        enum:
          - SETTLED
          - CREATED
          - FAILED
          - SUCCESS
      description: ISO 20022 transaction status code
      example: SETTLED
    Type:
      name: type
      in: query
      schema:
        type: string
        enum:
          - ID
          - ENDTOENDID
          - ORDERID
          - UETR
      description: >-
        Transaction identifier type. 

        - Default search will be based on ID, if client not provided any value
        from dropdown list
      example: ID
    Country-Code:
      name: country_code
      in: query
      schema:
        type: string
        enum:
          - BR
          - IN
      description: Country code
      example: IN
    Status-Inquiry:
      name: status
      in: query
      schema:
        type: string
        enum:
          - SETTLED
          - CREATED
          - FAILED
          - PENDING
          - CANCELLED
      description: ISO 20022 transaction status code
      example: SETTLED
    Merchant-Id:
      name: Merchant-Id
      in: header
      required: true
      description: Your unique Merchant Identification number
      schema:
        type: string
        maxLength: 40
        minLength: 1
        description: Your unique Merchant Identification number
      example: M123456987
    Merchant-Post-Id:
      name: Merchant-Id
      in: header
      required: false
      description: >-
        Your unique Merchant Identification number 
         - Merchant ID header parameter is mandatory for payment methods - PIX (Brazil QR creation), CARD, BOLETO, PPRO, GOOGLEPAY, APPLEPAY, FPS and PAYPAL. 
        - Merchant ID header parameter is not applicable for payment methods -
        ACH and RTP.
      schema:
        type: string
        maxLength: 40
        minLength: 1
        description: Your unique Merchant Identification number
      example: M123456987
    Merchant-Token-Id:
      name: Merchant-Id
      in: header
      required: true
      description: Your unique Merchant Identification number
      schema:
        type: string
        maxLength: 40
        minLength: 1
        description: Your unique Merchant Identification number
      example: M123456987
    Encrypt-Sign:
      name: Encrypt-Sign
      in: header
      description: Encrypted Sign
      schema:
        type: string
        enum:
          - 'N'
          - 'Y'
        description: Encrypted Sign
      example: 'Y'
    TokenID:
      name: Token-Id
      in: header
      schema:
        type: string
        maxLength: 40
        minLength: 1
        description: Token ID
      example: TOK1234456
    Post-Country-Code:
      name: Country-Code
      in: header
      schema:
        type: string
        maxLength: 2
        minLength: 2
        description: Country Code
      example: IN
    Merchant-Refund-Id:
      name: Merchant-Id
      in: header
      required: false
      description: >-
        Your unique Merchant Identification number 

        - Merchant ID header parameter is mandatory for payment methods - PIX,
        CARD. 

        - Merchant ID header parameter is not applicable for payment methods -
        UPI and FPS.
      schema:
        type: string
        maxLength: 40
        minLength: 1
        description: Your unique Merchant Identification number
      example: M123456987
    Apim-Guid:
      name: Apim-Guid
      in: header
      required: true
      description: Your unique Apim-Guid
      schema:
        type: string
        maxLength: 52
        minLength: 1
        description: Your unique Apim-Guid
        example: na-apimgwgtds04~4a98cbc5-d813-4e65-bc81-d70f0f87f6ec
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Event-Name:
      name: Event-Name
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Reference-Id:
      name: Reference-Id
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Operation:
      name: Operation
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Token-Id:
      name: Token-Id
      in: header
      required: true
      description: Token Id
      schema:
        type: string
    Value-Added-Services:
      name: Value-Added-Services
      in: header
      required: true
      description: Event Type
      schema:
        type: string
        enum:
          - NETWORK_TOKEN
          - CITI_TOKEN
          - ACCOUNT_UPDATER
    Get-Token-Id:
      name: token-id
      in: query
      required: true
      description: Token ID
      schema:
        type: string
    Session-Id:
      name: session_id
      in: query
      required: true
      description: Session ID
      schema:
        type: string
        maxLength: 37
        minLength: 36
        description: Your unique session identification
      example: SE12345897456213ytrdghkjksdsds1234567
    Session-Path-Id:
      name: id
      in: path
      required: true
      description: Your unique session identification
      schema:
        type: string
        maxLength: 37
        minLength: 36
        description: Your unique session identification
      example: SE12345897456213ytrdghkjksdsds1234567
    Mandate-Id:
      name: mandate_id
      in: query
      required: true
      description: Unique Id assigned to identify the mandate
      schema:
        type: string
    Mandate-Country-Code:
      name: country_code
      in: query
      required: true
      schema:
        type: string
        enum:
          - BR
      description: Country code
      example: BR
  schemas:
    Customer:
      title: Customer
      properties:
        account:
          title: customer account
          description: Account Details
          properties:
            number:
              maxLength: 40
              minLength: 1
              type: string
              description: >-
                Customer's bank account 

                - For US RFP this parameter is mandatory with max length 40 

                - For ACH, max length is 17 
                 - For ACH Pay and verify transaction customer.account.number parameter is mandatory 
                - For US ACH Direct Debit, customer.account.number parameter is
                mandatory with max length 17
              example: '1122334455'
              title: number
            bank_id:
              maxLength: 35
              minLength: 1
              type: string
              description: >-
                Customer bank's network identification 

                - For US RFP this parameter is mandatory with max length 16 

                - For ACH, length is equal to 9 
                 - For ACH Pay and verify transaction customer.account.bank_id parameter is mandatory 
                - For US ACH Direct Debit, customer.account.bank_id parameter is
                mandatory with maximum length 9 

                - For Brazil PIX Initiation, this parameter is mandatory with
                min & max length 8
              example: CITIIN77
              title: bank_id
            bank_name:
              maxLength: 35
              minLength: 1
              type: string
              description: >-
                Name of the bank where customer is maintaining the account 

                - For US ACH Direct Debit, customer.account.bank_name parameter
                is mandatory with max length 35
              example: CITI
              title: bank_name
            bank_country_code:
              type: string
              pattern: ^[A-Z]{2,2}$
              description: >-
                Country code of the bank where customer is maintaining the
                account 

                - For US ACH Direct Debit, customer.account.bank_country
                parameter is mandatory
              example: US
              title: bank_country_code
            name:
              maxLength: 70
              minLength: 1
              type: string
              description: >-
                Customer's Account Name 

                - For US RFP transaction, customer.account.name parameter is
                optional
              title: name
            type:
              description: |-
                An indicator identifying the type of bank account 
                 - For ACH Pay and verify transaction customer.account.type parameter is mandatory 
                 - For US ACH Direct Debit, customer.account.type parameter is mandatory with allowed values - SAVINGS & CORPORATE_CHECKING
              enum:
                - SAVINGS
                - CURRENT
                - CARD
                - OVERDRAFT
                - VIRTUAL_ACCOUNT
                - CORPORATE_CHECKING
              example: SAVINGS
              type: string
              title: type
        id:
          description: Merchant internal customer ID.
          example: 1234abcjki
          maxLength: 40
          minLength: 1
          type: string
          title: id
        name:
          $ref: '#/components/schemas/Name'
        tax_id:
          description: >-
            Customer's payer identification (e.g., email address) 

            - For Brazil PIX Initiation, this parameter is mandatory, individual
            person tax identification (CPF) allowed length = 11 or business
            entity tax identification (CNPJ) allowed length = 14
          example: 234.453.678-21
          maxLength: 100
          minLength: 1
          type: string
          title: tax_id
        national_id:
          description: An identifier for the payer assigned by a government authority.
          example: 234.453.678-21
          maxLength: 30
          minLength: 1
          type: string
          title: national_id
        email:
          description: |-
            Customer email 
             - For UK PAYBYBANK creation, customer.email parameter is mandatory.
          example: customer.raj2024@gmail.com
          type: string
          pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
          title: email
        phone:
          description: Customer phone.
          example: '+919962125789'
          pattern: \+[0-9]{1,3}[-\ ][0-9()+\-]{1,30}
          type: string
          title: phone
        line_of_business:
          description: >-
            Your payment service provider might have configured your merchant
            profile to support several lines of business.
          example: SMALL BUSINESS
          maxLength: 100
          minLength: 1
          type: string
          title: line_of_business
        type:
          description: |-
            Customer type 
             - For Brazil QR Creation customer.type parameter is mandatory 
            - For US RFP, this parameter is optional
          enum:
            - INDIVIDUAL
            - BUSINESS
          example: BUSINESS
          type: string
          title: type
        organization_id:
          description: >-
            Customer Organization Id/ Legal Entity as provided at the time of
            payment request.

            - For US RFP max length is 20
          example: ORG123456
          maxLength: 35
          minLength: 1
          type: string
          title: organization_id
        birth_date:
          type: string
          format: date
          description: >-
            ISO 8601 (YYYY-MM-DD), Customer's birth_date  

            - For US RFP and  PAYPAL transactions, customer.birth_date parameter
            is optional
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Customer's birth_city 
            - For US RFP max length is 35
          title: birth_city
        birth_country:
          type: string
          description: >-
            Customer's birth_country 

            - For US RFP transaction, customer.birth_country parameter is
            optional
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        additional_info:
          type: array
          items:
            $ref: '#/components/schemas/Additional-Info'
        device:
          $ref: '#/components/schemas/Customer-Device'
        address:
          $ref: '#/components/schemas/Address'
    Customer-Authentication-Request:
      title: Customer Authentication Request
      properties:
        account:
          title: customer account authentication request
          description: Account Details
          properties:
            number:
              description: Your identifier for the payer's account with you (immutable ID).
              example: 1234abcjki
              maxLength: 40
              minLength: 1
              type: string
              title: number
            authentication:
              $ref: '#/components/schemas/Authentication-Customer-Payer-Request'
            history:
              $ref: >-
                #/components/schemas/Authentication-Customer-History-Payer-Request
        number:
          description: Your identifier for the payer's account with you (immutable ID).
          example: 1234abcjki
          maxLength: 40
          minLength: 1
          type: string
          title: number
        name:
          $ref: '#/components/schemas/Name'
        tax_id:
          description: Customer's payer identification (e.g., email address)
          example: 234.453.678-21
          maxLength: 100
          minLength: 1
          type: string
          title: tax_id
        email:
          description: Customer email
          example: customer.raj2024@gmail.com
          type: string
          pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
          title: email
        phone:
          description: Customer phone.
          example: '+919962125789'
          pattern: \+[0-9]{1,3}[-\ ][0-9()+\-]{1,30}
          type: string
          title: phone
        mobile_phone:
          description: Customer phone.
          example: '+919962125789'
          pattern: \+[0-9]{1,3}[-\ ][0-9()+\-]{1,30}
          type: string
          title: mobile_phone
        device:
          $ref: '#/components/schemas/Authentication-Customer-Device'
        address:
          $ref: '#/components/schemas/Authentication-Address'
    Customer-Authentication-Response:
      title: Customer Authentication Response
      properties:
        account:
          title: customer account authentication response
          description: Account Details
          properties:
            number:
              description: Your identifier for the payer's account with you (immutable ID).
              example: 1234abcjki
              maxLength: 40
              minLength: 1
              type: string
              title: number
            authentication:
              $ref: '#/components/schemas/Authentication-Customer-Payer-Response'
            history:
              $ref: >-
                #/components/schemas/Authentication-Customer-History-Payer-Request
        name:
          $ref: '#/components/schemas/Name'
        tax_id:
          description: Customer's payer identification (e.g., email address)
          example: 234.453.678-21
          maxLength: 100
          minLength: 1
          type: string
          title: tax_id
        email:
          description: Customer email
          example: customer.raj2024@gmail.com
          type: string
          pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'
          title: email
        phone:
          description: Customer phone.
          example: '+919962125789'
          pattern: \+[0-9]{1,3}[-\ ][0-9()+\-]{1,30}
          type: string
          title: phone
        mobile_phone:
          description: Customer phone.
          example: '+919962125789'
          pattern: \+[0-9]{1,3}[-\ ][0-9()+\-]{1,30}
          type: string
          title: mobile_phone
        device:
          $ref: '#/components/schemas/Authentication-Customer-Device-Response'
        address:
          $ref: '#/components/schemas/Authentication-Address'
    Customer-Notification:
      type: object
      title: Customer Notification
      properties:
        account:
          title: customer account
          description: Account Details
          properties:
            number:
              maxLength: 40
              minLength: 1
              type: string
              description: >-
                Customer's bank account 

                - For US RFP this parameter is mandatory with max length 40 

                - For UK PAYBYBANK and IN UPI transactions,
                customer.account.number parameter is optional 

                - For US ACH Direct Debit, this parameter is mandatory with max
                length 17 

                - For Brazil PIX, this parameter is mandatory with max length 40
              example: '1122334455'
              title: number
            bank_id:
              maxLength: 35
              minLength: 1
              type: string
              description: >-
                Customer bank's network identification 

                - For US RFP this parameter is mandatory with max length 16 

                - For ACH, length is equal to 9 

                - For UK PAYBYBANK and IN UPI transactions,
                customer.account.bank_id parameter is optional
              example: CITIIN77
              title: bank_id
            branch_id:
              description: Customer bank's branch id
              minLength: 1
              maxLength: 35
              type: string
              example: BR123
              title: branch_id
            name:
              maxLength: 70
              minLength: 1
              type: string
              description: >-
                Customer's Account Name 

                - For US RFP transaction, customer.account.name parameter is
                optional
              title: name
            proxy_id:
              maxLength: 255
              minLength: 1
              type: string
              description: |-
                Customer's proxy identification (e.g., email address) 
                - For IN UPI, customer.account.proxy_id parameter is optional
              example: raja@citi.com
              title: proxy_id
            proxy_type:
              type: string
              enum:
                - BIID
                - EMAL
                - EWAL
                - MBNO
                - NIDN
              description: >-
                Customer's proxy type (BIID for bill identification, EMAL for
                email address, EWAL for electronic wallet identification, MBNO
                for mobile number and NIDN for national identification) 

                - For IN UPI, customer.account.proxy_type parameter is optional
              title: proxy_type
            type:
              description: |-
                Customer Source type of the transaction 
                - For IN UPI, customer.account.type parameter is optional
              enum:
                - SAVINGS
                - CURRENT
                - CARD
                - OVERDRAFT
                - VIRTUAL_ACCOUNT
                - CORPORATE_CHECKING
              example: SAVINGS
              type: string
              title: type
            virtual_number:
              description: Customer's Virtual account number
              type: string
              maxLength: 140
              minLength: 1
              example: '123456789'
              title: virtual_number
            issuer:
              description: Entity that assigned account to the party
              type: string
              maxLength: 35
              minLength: 1
              example: ABC Ltd
              title: issuer
        tax_id:
          description: Customer's tax identification
          maxLength: 128
          minLength: 1
          type: string
          example: 1.020.340/8910-22
          title: tax_id
        name:
          $ref: '#/components/schemas/Name'
        address:
          $ref: '#/components/schemas/Notification-Address'
        organization_id:
          description: >-
            Customer Organization Id/ Legal Entity as provided at the time of
            payment request.

            - For US RFP max length is 20
          example: ORG123456
          maxLength: 35
          minLength: 1
          type: string
          title: organization_id
        birth_date:
          type: string
          format: date
          description: |-
            ISO 8601 (YYYY-MM-DD), Customer's birth_date  
            - For US RFP, customer.birth_date parameter is optional
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Customer's birth_city 
            - For US RFP max length is 35
          title: birth_city
        birth_province:
          description: Customer's birth province
          type: string
          maxLength: 35
          minLength: 1
          title: birth_province
        birth_country:
          type: string
          description: |-
            Customer's birth_country 
            - For US RFP, customer.birth_country parameter is optional
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        type:
          type: string
          description: |-
            Customer type 
            - For US RFP, customer.type parameter is optional
          enum:
            - BUSINESS
            - INDIVIDUAL
          title: type
        private_id:
          description: Customer private id
          type: string
          maxLength: 35
          minLength: 1
          example: '123456789'
          title: private_id
    Sender-Notification:
      type: object
      title: Sender Notification
      properties:
        name:
          description: >-
            Sender name. 

            - For US RFP and UK PAYBYBANK transactions, sender.name parameter is
            optional
          example: JOHN
          maxLength: 140
          minLength: 1
          type: string
          title: name
        organization_id:
          description: >-
            Sender's org_id. 

            - For US RFP and UK PAYBYBANK transactions, sender.organizatio_id
            parameter is optional
          example: ORG123456
          maxLength: 35
          minLength: 1
          type: string
          title: organization_id
        birth_date:
          type: string
          format: date
          description: >-
            ISO 8601 (YYYY-MM-DD), Sender's birth_date  

            - For US RFP and UK PAYBYBANK transactions, sender.birth_date
            parameter is optional
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Sender's birth_city 

            - For US RFP and UK PAYBYBANK transactions, sender.birth_city
            parameter is optional
          title: birth_city
        birth_country:
          type: string
          description: >-
            Sender's birth_country 

            - For US RFP and UK PAYBYBANK transactions, sender.birth_country
            parameter is optional
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        birth_province:
          description: Sender's birth province
          type: string
          maxLength: 35
          minLength: 1
          title: birth_province
        private_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Sender's private ID 
             - For US RFP transaction, sender.private_id parameter is optional
          title: private_id
        account:
          title: Sender account
          description: Account details
          properties:
            bank_id:
              description: Sender's bank network identification
              minLength: 1
              maxLength: 35
              type: string
              example: CITIBRSP
              title: bank_id
            issuer:
              description: Entity that assigned account to the party
              type: string
              maxLength: 35
              minLength: 1
              example: ABC Ltd
              title: issuer
        address:
          $ref: '#/components/schemas/Notification-Address'
    Receiver-Notification:
      type: object
      title: Receiver Notification
      properties:
        name:
          description: >-
            Receiver name. 

            - For US RFP and UK PAYBYBANK transactions, receiver.name parameter
            is optional
          example: JOHN
          maxLength: 140
          minLength: 1
          type: string
          title: name
        organization_id:
          description: >-
            Sender's org_id. 

            - For US RFP and UK PAYBYBANK transactions, receiver.organization_id
            parameter is optional 

            - For US ACH Direct Debit, this parameter is mandatory with max
            length 10
          example: ORG123456
          maxLength: 35
          minLength: 1
          type: string
          title: organization_id
        birth_date:
          type: string
          format: date
          description: |-
            ISO 8601 (YYYY-MM-DD), Receiver's birth_date  
             -For US RFP, receiver.birth_date parameter is optional
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Receiver's birth_city 

            -  For US RFP transaction, receiver.birth_city parameter is optional
            and allowed max length is 35
          title: birth_city
        birth_province:
          description: Receiver's birth province
          type: string
          maxLength: 35
          minLength: 1
          title: birth_province
        birth_country:
          type: string
          description: |-
            Receiver's birth_country 
             - For US RFP, receiver.birth_country parameter is optional
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        private_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Receiver's private ID 
             - For US RFP, receiver.private_id parameter is optional
          title: private_id
        account:
          title: Receiver account
          description: Account details
          properties:
            issuer:
              description: Entity that assigned account to the party
              type: string
              maxLength: 35
              minLength: 1
              example: ABC Ltd
              title: issuer
        address:
          $ref: '#/components/schemas/Notification-Address'
    Unstructured:
      type: string
      maxLength: 140
      minLength: 1
      description: “Unstructured remittance information”
      title: Unstructured
    Merchant-Notification:
      title: Merchant Notification
      properties:
        name:
          description: >-
            Merchant internal customer name. 

            - For US RFP, IN UPI, UK PAYBYBANK transactions, merchant.name
            parameter is optional 

            - For US ACH Direct Debit, this parameter is mandatory with max
            length 16 

            - For Brazil PIX, this parameter is mandatory with max length 105
          example: JOHN
          maxLength: 140
          minLength: 1
          type: string
          title: name
        tax_id:
          maxLength: 128
          minLength: 1
          type: string
          description: |-
            Merchant's payee identification (e.g., email address) 
             - For Brazil QR creation merchant.tax_id parameter is mandatory, allowed maxlength is 77
          example: 1.020.340/8910-22
          title: tax_id
        account:
          title: merchant account
          description: Account Details
          properties:
            number:
              maxLength: 40
              minLength: 1
              type: string
              description: >-
                Merchant's bank account 

                - TFor US RFP, IN UPI, UK PAYBYBANK transactions,
                merchant.number parameter is optional 

                - For US ACH Direct Debit, this parameter is mandatory with max
                length 17 

                - For Brazil PIX, thi parameter is mandatory with max length 10
              example: '1122334455'
              title: number
            bank_id:
              maxLength: 35
              minLength: 1
              type: string
              description: >-
                Merchant bank's network identification 

                - For US RFP, IN UPI,UK PAYBYBANK transactions, merchant.bank_id
                parameter is optional 

                - For US ACH Direct Debit, this parameter is mandatory with max
                length 9 

                - For Brazil PIX, thi parameter is mandatory with max length 8
              example: CITIIN77
              title: bank_id
            branch_id:
              description: Merchant bank's branch id
              minLength: 1
              maxLength: 35
              type: string
              example: BR123
              title: branch_id
            name:
              maxLength: 70
              minLength: 1
              type: string
              description: >-
                Merchant's Account Name 

                - For US RFP transaction, merchant.account.name parameter is
                optional 
              title: name
            proxy_id:
              description: |-
                Merchant's proxy identification (e.g., email address) 
                 - For IN UPI Instant payment debtor.proxy_id is mandatory, with an allowed value of VPA ID
              example: vinu@citi.com
              maxLength: 320
              minLength: 1
              type: string
              title: proxy_id
            proxy_type:
              type: string
              enum:
                - BIID
                - EMAL
                - EWAL
                - MBNO
                - NIDN
              description: >-
                Merchant's proxy type (BIID for bill identification, EMAL for
                email address, EWAL for electronic wallet identification, MBNO
                for mobile number and NIDN for national identification)
              title: proxy_type
            virtual_number:
              description: Merchant's Virtual account number
              type: string
              maxLength: 140
              minLength: 1
              example: '123456789'
              title: virtual_number
            issuer:
              description: Entity that assigned account to the party
              type: string
              maxLength: 35
              minLength: 1
              example: ABC Ltd
              title: issuer
        private_id:
          description: |-
            Merchant's prvt_id 
            -  For UK PAYBYBANK, merchant.private_id parameter is optional
          example: '8899775544'
          maxLength: 18
          minLength: 1
          type: string
          title: private_id
        organization_id:
          description: >-
[...]
