openapi: 3.1.0
info:
  title: CCAPI Payments(JSON)
  description: |
    Update - March 2, 2026
  version: 1.0.1
servers:
  - url: https://b2b.api.icg.citi.com/citiconnect/prod
    description: production gateway url
  - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
    description: 'sandbox url '
tags:
  - name: Webhooks
    description: API service to support webhooks
webhooks:
  pushnotification:
    post:
      summary: Webhook Push Notification
      description: >-
        Webhook notifications are sent for events that are not triggered
        directly by you. For example, a notification of an incoming credit into
        your account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payments'
            examples:
              TH Status - Pending:
                $ref: '#/components/examples/Ok-Pending-Response'
              TH Status - Completed:
                $ref: '#/components/examples/Ok-Response'
              TH Status - Rejected:
                $ref: '#/components/examples/Ok-Response-Credit-Failed'
              US Status - Completed:
                $ref: '#/components/examples/Us-Ok-Response'
              US Status - Rejected:
                $ref: '#/components/examples/Us-Ok-Response-Credit-Failed'
              UK Status - Completed:
                $ref: '#/components/examples/Uk-Ok-Response'
              UK Status - Rejected:
                $ref: '#/components/examples/Uk-Ok-Response-Credit-Failed'
              IN Status - Completed:
                $ref: '#/components/examples/In-Ok-Response'
              IN Status - Rejected:
                $ref: '#/components/examples/In-Ok-Response-Credit-Failed'
              IN UPI Status - Completed:
                $ref: '#/components/examples/In-Upi-Ok-Response'
              IN UPI Status - Rejected:
                $ref: '#/components/examples/In-Upi-Ok-Response-Credit-Failed'
              JP Status - Completed:
                $ref: '#/components/examples/Jp-Ok-Response'
              SEPA IDP Pending:
                $ref: '#/components/examples/SEPA-IDP-Pending'
              SEPA IDP Completed:
                $ref: '#/components/examples/SEPA-IDP-Completed'
              SEPA Completed:
                $ref: '#/components/examples/SEPA-Completed'
              IN NEFT Status - Completed:
                $ref: '#/components/examples/In-Neft-Ok-Response'
              IN NEFT Status - Rejected:
                $ref: '#/components/examples/In-Neft-Ok-Response-Failed'
              IN IMPS Status - Completed:
                $ref: '#/components/examples/In-Imps-Response-Completed'
              IN IMPS Status - Rejected:
                $ref: '#/components/examples/In-Imps-Response-Rejected'
              AU Status - Completed:
                $ref: '#/components/examples/AU-IP-Completed'
              AU Status - Rejected:
                $ref: '#/components/examples/AU-IP-Rejected'
              AU Status - Success:
                $ref: '#/components/examples/AU-Success'
              AU Status - Failure:
                $ref: '#/components/examples/AU-Failure'
  prenotification:
    post:
      description: Webhook notification
      summary: >-
        Pre-notifications are alerts sent by Citibank to inform you of incoming
        funds before the money is officially credited to your bank account. You
        have the option to reject/accept these incoming payments via synchronous
        response.
      parameters:
        - $ref: '#/components/parameters/Event-Type'
        - $ref: '#/components/parameters/Event-Name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payments'
            examples:
              TH - Payment Confirmation Request:
                $ref: '#/components/examples/Ok-Pending-Response'
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message-Request'
              examples:
                Accept Response to Incoming Payment Confirmation Request From CITI:
                  $ref: >-
                    #/components/examples/Th-Response-To-Payment-Confirmation-Success-Request-Example
                Reject Response to Incoming Payment Confirmation Request From CITI:
                  $ref: >-
                    #/components/examples/Th-Response-To-Payment-Confirmation-Reject-Request-Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                type: object
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
  beneficiaryvalidationnotification:
    post:
      summary: >-
        Webhook notifications are sent for events that are not triggered
        directly by you. For example a notification of validating a beneficiary
      description: Webhook notification to client for beneficiary validation
      parameters:
        - $ref: '#/components/parameters/Beneficiary-Event-Type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Final-Beneficiary-Validation-Response'
            examples:
              IN Final Beneficiary Validation Response:
                $ref: '#/components/examples/In-Final-Beneficiary-Validation-Response'
              IN Final Beneficiary Validation Penny Testing Response:
                $ref: >-
                  #/components/examples/In-Final-Beneficiary-Validation-Penny-Testing-Response
              UPI IN Final Beneficiary Validation Response:
                $ref: >-
                  #/components/examples/Upi-In-Final-Beneficiary-Validation-Response
              UPI IN Mobile Number Final Beneficiary Validation Response:
                $ref: >-
                  #/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Response
              UPI IN Mobile Number Final Beneficiary Validation Penny Testing Response:
                $ref: >-
                  #/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Penny-Testing-Response
              US EWS Final Beneficiary Validation Response:
                $ref: >-
                  #/components/examples/US-EWS-Final-Beneficiary-Validation-Response
              UK Final Beneficiary Validation Response:
                $ref: '#/components/examples/UK-Final-Beneficiary-Validation-Response'
              IN PAN Final Validation Response:
                $ref: '#/components/examples/IN-PAN-Final-Validation-Response'
              Pay2China Final Validation Positive Response:
                $ref: >-
                  #/components/examples/Pay2China-Final-Beneficiary-Validation-Positive-Response
              Pay2China Final Validation Negative Response:
                $ref: >-
                  #/components/examples/Pay2China-Final-Beneficiary-Validation-Negative-Response
components:
  parameters:
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Beneficiary-Event-Type:
      name: Event-Type
      in: header
      required: false
      description: Event Type
      schema:
        type: string
    Event-Name:
      name: Event-Name
      in: header
      required: true
      description: Event Name
      schema:
        type: string
  schemas:
    Error-Response:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
          xml:
            name: Errordetails
    Error-Detail:
      type: object
      title: ErrorDetail
      xml:
        name: Errordetail
      properties:
        issue:
          xml:
            name: issue
          type: string
          maxLength: 200
          description: more details about the issue
          title: issue
        action:
          xml:
            name: action
          type: string
          maxLength: 350
          description: corrective action to be taken to resolve above issue
          title: action
        code:
          xml:
            name: code
          type: string
          maxLength: 8
          description: unique code representing the issue
          title: code
    Proxy-Id:
      maxLength: 255
      type: string
      description: |-
        Specifies a character string with a maximum length of 128 characters.
         - For TH Instant payment debtor.proxy_id is optional 
         - For US Instant payment debtor.proxy_id is not applicable 
         - For IN IMPS debtor.proxy_id is not applicable 
         - For UK FPS Instant payment debtor.proxy_id is not applicable 
         - For JP Instant payment debtor.proxy_id is not applicable 
         - For IN UPI Instant payment debtor.proxy_id is mandatory, applicable value VPA ID 
         - For US Wire and ACH CCD/PPD/IAT debtor.proxy_id is not applicable 
         - For SEPA IDP payment debtor.proxy_id is optional 
         - For Japan Instant payment debtor.proxy_id is optional
      title: Proxy-Id
    Address:
      type: string
      maxLength: 70
      minLength: 1
      description: Address
      title: Address
    Unstructured:
      type: string
      maxLength: 140
      minLength: 1
      description: Unstructured remitance information
      title: Unstructured
    Debtor-Status:
      type: object
      title: DebtorStatus
      properties:
        proxy_id:
          $ref: '#/components/schemas/Proxy-Id'
        proxy_type:
          type: string
          enum:
            - BIID
            - EMAL
            - EWAL
            - MBNO
            - NIDN
          description: >-
            Debtor's proxy type (BIID for bill identification, EMAL for email
            address, EWAL for electronic wallet identification, MBNO for mobile
            number and NIDN for national identification) 
             - For TH Instant payment debtor.proxy_type is optional 
             - For US Instant payment debtor.proxy_type is not applicable 
             - For IN IMPS debtor.proxy_type is not applicable 
             - For UK FPS Instant payment debtor.proxy_type is not applicable 
             - For JP Instant payment debtor.proxy_type is not applicable 
             - For IN UPI Instant payment debtor.proxy_type is not applicable 
             - For US Wire payment, debtor.proxy_type field is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.proxy_type field is not applicable 
            - For SEPA IDP, this field is optional with max length 35 
             - For Japan Instant payment, debtor.proxy_type field is not applicable
          title: proxy_type
        tax_id:
          maxLength: 128
          minLength: 1
          type: string
          description: |-
            Debtor's tax identification 
             - For TH Instant payment debtor.tax_id is optional 
             - For US Instant payment debtor.tax_id is not applicable 
             - For IN IMPS debtor.tax_id field is not applicable 
             - For UK FPS Instant payment debtor.tax_id is not applicable 
             - For JP Instant payment debtor.tax_id is not applicable 
             - For IN UPI debtor.tax_id field is not applicable 
             - For US Wire, debtor.tax_id is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.tax_id field is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment, debtor.tax_id field is not applicable
          title: tax_id
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: |-
            Debtor's bank account 
             - For IN IMPS debtor.account field, allowed max length is 34 
             - For UK FPS Instant payment debtor.account field allowed max length is 34 and either account number or IBAN/BBAN number can be passed 
             - For JP Instant payment debtor.account field is applicable 
             - For IN UPI Instant payment debtor.account field allowed max length is 34 
             - For US Wire payment, debtor.account is a mandatory field with max length 35 
             - For US ACH CCD/PPD payment, debtor.account is a mandatory field with max length 34 
             - For US ACH IAT payment, debtor.account is a mandatory field with max length 35 
            - For SEPA IDP, this field is mandatory with max length 34 
             - For Japan Instant payment debtor.account field is mandatory and allowed max length is 34
          title: account
        virtual_account:
          maxLength: 40
          minLength: 1
          type: string
          description: |-
            Debtor's virtual account 
             - For TH Instant payment debtor.virtual_account is optional 
             - For US Instant payment virtual_account is not applicable 
             - For IN IMPS virtual_account is not applicable 
             - For UK FPS Instant payment virtual_account is not applicable 
             - For JP Instant payment debtor.virtual_account field is applicable 
             - For IN UPI virtual_account is not applicable 
             - For Stripe_US Wire, debtor.vitual_account is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.virtual_account field is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment debtor.virtual_account is not applicable
          title: virtual_account
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: |-
            Debtor's bank account name 
             - For TH Instant payment debtor.name is not applicable 
             - For US Instant payment debtor.name is mandatory 
             - For IN IMPS Instant payment debtor.name is mandatory with max length 99 
             - For UK FPS Instant payment debtor.name field is optional with max length 40 
             - For IN UPI Instant payment debtor.name is mandatory with max length 99 
             - For US Wire payment, debtor.name field is mandatory with max length 35. Name cannot contains only NUMERIC values 
             - For US ACH CCD/PPD payment, debtor.name field is mandatory with max length 16 
             - For US ACH IAT payment, debtor.name field is mandatory with max length 35 
             - For SEPA IDP payment debtor.name is mandatory with max length 128 
             - For Japan Instant payment debtor.name field is optional
          title: name
        address_lines:
          type: array
          description: |-
            Debtor's address_lines 
             - For TH Instant payment debtor.address_lines is not applicable 
             - For US Instant payment debtor.address_lines is optional 
             - For IN IMPS debtor.address_lines is optional and allowed seven instance with each line max length of 70 
             - For UK FPS Instant payment debtor.address_lines is optional and allowed only four instance with each line max length of 35 
             - For IN UPI debtor.address_lines is optional and allowed seven instance with each line max length of 70 
             - For US Wire payment, debtor.address_lines field is conditional and up to 3 lines of 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. address_lines should present only if structured address tags (street name, building number, city, state and postal code) are not present 
             - For US ACH CCD/PPD payment, debtor.address_lines is mandatory field and allowed three instance with each line max length of 35 
             - For US ACH IAT payment, debtor.address_lines is mandatory field, if client not provided debtor.state, debtor.city, debtor.country, debtor.city, debtor.building_number and allowed one instance with each line max length of 35 
             - For SEPA IDP debtor.address_lines is optional and allowed two instance with each line max length of 70 
             - For Japan Instant payment debtor.address_lines is not applicable
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Debtor's street_name 
             - For TH Instant payment debtor.street_name is not applicable 
             - For US Instant payment debtor.street_name is optional 
             - For IN IMPS debtor.street_name is optional 
             - For UK FPS Instant payment debtor.street_name is not applicable 
             - For IN UPI debtor.street_name is optional 
             - For US Wire, debtor.street_name field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required 
             - For US ACH CCD/PPD payment, debtor.street_name field is not applicable 
             - For US ACH IAT payment, debtor.street_name is mandatory field, if client not provided debtor.address_lines and provided debtor.building_number and allowed max length is 35 
            - For SEPA IDP, debtor.street_name is optional with max length 70 
             - For Japan Instant payment debtor.street_name is not applicable
          title: street_name
        building_number:
          maxLength: 16
          minLength: 1
          type: string
          description: >-
            Debtor's building_number 
             - For TH Instant payment debtor.building_number is not applicable 
             - For US Instant payment debtor.building_number field is optional 
             - For IN IMPS debtor.building_number field is optional 
             - For UK FPS Instant payment debtor.building_number is not applicable 
             - For IN UPI debtor.building_number field is optional 
             - For US Wire payment, debtor.building_number field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD payment, debtor.building_number field is not applicable 
             - For US ACH IAT payment, debtor.building_number is mandatory field, if client not provided debtor.address_lines and provided debtor.street_name and allowed max length is 35 
            - For SEPA IDP, debtor.building_number is optional with max length
            16 
             - For Japan Instant payment debtor.building_number is not applicable
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: |-
            Debtor's postal_code 
             - For TH Instant payment debtor.postal_code is not applicable 
             - For US Instant payment debtor.postal_code field is optional 
             - For IN IMPS debtor.postal_code is optional 
             - For UK FPS Instant payment debtor.postal_code is not applicable 
             - For IN UPI debtor.postal_code is optional 
             - For US Wire, debtor.postal_code field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD payment, debtor.postal_code field is not applicable 
             - For US ACH CCD/PPD payment, debtor.building_number field is not applicable 
             - For US ACH IAT payment, debtor.postal_code is mandatory field, if client not provided debtor.address_lines and provided debtor.country and allowed max length is 16 
            - For SEPA IDP, debtor.postal_code is optional with max length 16 
             - For Japan Instant payment debtor.postal_code is not applicable
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor's city 
             - For TH Instant payment city is not applicable 
             - For US Instant payment city field is optional 
             - For IN IMPS debtor.city is optional 
             - For UK FPS Instant payment debtor.city is not applicable 
             - For IN UPI debtor.city is optional 
             - For US Wire, debtor.city field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD payment, debtor.city field is not applicable 
             - For US ACH IAT payment, debtor.city is mandatory field, if client not provided debtor.address_lines and provided debtor.state and allowed max length is 32 
            - For SEPA IDP, debtor.city is optional with max length 35 
             - For Japan Instant payment debtor.city is not applicable
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor's State 
             - For TH Instant payment debtor.state is not applicable 
             - For US Instant payment debtor.state field is optional 
             - For IN IMPS debtor.state is optional 
             - For UK FPS Instant payment debtor.state is not applicable 
             - For IN UPI debtor.state is optional  
             - For US Wire, debtor.state field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD payment, debtor.state field is not applicable 
             - For US ACH IAT payment, debtor.state is mandatory field, if client not provided debtor.address_lines and provided debtor.city and allowed max length is 2 
            - For SEPA IDP, debtor.state is optional with max length 35 
             - For Japan Instant payment debtor.state is not applicable
          title: state
        country:
          type: string
          description: |-
            Debtor's Country 
             - For TH Instant payment debtor.country is not applicable 
             - For US Instant payment debtor.country field is optional 
             - For IN IMPS debtor.country is optional 
             - For UK FPS Instant payment debtor.country field is mandatory, if debtor.address_line is provided by client 
             - For IN UPI debtor.country is optional 
             - For US Wire, debtor.country field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required 
             - For US ACH CCD/PPD payment, debtor.country field is not applicable 
             - For US ACH IAT payment, debtor.country is mandatory field, if client not provided debtor.address_lines and provided debtor.postal_code and allowed max length is 2 
            - For SEPA IDP, debtor.country is optional 
             - For Japan Instant payment debtor.country is not applicable
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 20
          minLength: 1
          type: string
          description: |-
            Debtor's org_id 
             - For TH Instant payment debtor.org_id is not applicable 
             - For US Instant payment debtor.org_id field is optional 
             - For IN IMPS debtor.org_id is not applicable 
             - For UK FPS Instant payment debtor.org_id is not applicable 
             - For IN UPI debtor.org_id is not applicable 
             - For Stripe_US Wire, debtor.org_id is not applicable 
             - For US ACH CCD/PPD payment, debtor.org_id field is mandatory and applicable value is tax identification, if debtor.prvt_id field is not provided by client 
             - For US ACH IAT payment, debtor.org_id field is optional 
            - For SEPA IDP, debtor.org_id is optional with max length 35 
             - For Japan Instant payment debtor.org_id is not applicable
          title: org_id
        birth_date:
          type: string
          format: date
          description: |-
            ISO 8601 (YYYY-MM-DD), Debtor's birth_date 
             - For TH Instant payment debtor.birth_date is not applicable 
             - For US Instant payment debtor.birth_date field is optional 
             - For IN IMPS debtor.birth_date is not applicable 
             - For UK FPS Instant payment debtor.birth_date is not applicable 
             - For IN UPI debtor.birth_date is not applicable  
             - For Stripe_US Wire, debtor.birth_date is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.birth_date field is not applicable 
             - For SEPA IDP debtor.birth_date field is optional 
             - For Japan Instant payment debtor.birth_date is not applicable
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor's birth_city 
             - For TH Instant payment debtor.birth_city is not applicable 
             - For US Instant payment debtor.birth_city field is optional 
             - For IN IMPS debtor.birth_city is not applicable 
             - For UK FPS Instant payment debtor.birth_city is not applicable 
             - For IN UPI debtor.birth_city is not applicable  
             - For Stripe_US Wire, debtor.birth_city is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.birth_city field is not applicable 
             - For SEPA IDP debtor.birth_city field is optional with max length 35 
             - For Japan Instant payment debtor.birth_city is not applicable 
          title: birth_city
        birth_country:
          type: string
          description: |-
            Debtor's birth_country 
             - For TH Instant payment debtor.birth_country is not applicable 
             - For US Instant payment debtor.birth_country field is optional 
             - For IN IMPS debtor.birth_country is not applicable 
             - For UK FPS Instant payment debtor.birth_country is not applicable 
             - For IN UPI debtor.birth_country is not applicable 
             - For Stripe_US Wire, debtor.birth_country is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.birth_country field is not applicable 
             - For SEPA IDP debtor.birth_country field is optional 
             - For Japan Instant payment debtor.birth_country is not applicable
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Debtor bank's network identification (e.g., routing number in the
            United States) 
             - For TH Instant payment debtor.bank_id field is optional and allowed maxlength is 3 
             - For US Instant payment debtor.bank_id field is mandatory 
             - For IN IMPS Instant payment debtor.bank_id field is mandatory and client should pass IFSC code (including branch code) 
             - For UK FPS Instant payment debtor.bank_id field is optional and allowed maxlength is 11 
             - For JP Instant payment debtor.bank_id field is applicable 
             - For IN UPI Instant payment debtor.bank_id field is mandatory with max length 11 
             - For US Wire, debtor.bank_id field is mandatory. Either BIC or MmbId must be provided. If the input is BIC, min and max length should be 8 and 11 and should adhere to pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}. If the input is other than BIC without pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1},max length is 35. If it is routing code, min and max length is 9 
             - For US ACH CCD/PPD/IAT payment, debtor.bank_id field is mandatory and allowed max length is 9 
             - For SEPA IDP debtor.bank_id field is mandatory with max length 11 
             - For SEPA IDP debtor.bank_id field is mandatory with max length 11 
             - For Japan Instant payment debtor.bank_id is optional
          title: bank_id
        bank_branch_id:
          maxLength: 16
          minLength: 1
          type: string
          description: |-
            Debtor bank's branch network identification 
             - For TH Instant payment debtor.bank_branch_id field is not applicable 
             - For US Instant payment debtor.bank_branch_id field is not applicable 
             - For UK Instant payment debtor.bank_branch_id field is not applicable 
             - For JP Instant payment debtor.bank_branch_id is applicable 
             - For IN IMPS Instant payment debtor.bank_branch_id field is not applicable 
             - For IN UPI Instant payment debtor.bank_branch_id field is not applicable 
             - For Stripe_US Wire, debtor.bank_branch_id is not applicable 
             - For Stripe_US ACH CCD/PPD/IAT payment, debtor.bank_branch_id is not applicable 
            - For SEPA IDP, this field is not applicable
          title: bank_branch_id
        mobile_number:
          maxLength: 34
          type: string
          pattern: ^[+]{1}[9]{1}[1]{1}[-][0-9]{10}$
          description: >-
            Debtor's mobile number 
             - For TH Instant payment debtor.mobile_number field is not applicable 
             - For US Instant payment debtor.mobile_number field is not applicable 
             - For IN IMPS debtor.mobile_number field is optional 
             - For UK FPS Instant payment debtor.mobile_number is not applicable 
            - For IN UPI debtor.mobile_number field is mandatory, if
            transaction.advice_type is SMSM 
             - For Stripe_US Wire, debtor.mobile_number is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.mobile_number field is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment debtor.mobile_number is not applicable
          title: mobile_number
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor's private id 
             - For TH Instant payment debtor.prvt_id is not applicable 
             - For US Instant payment debtor.prvt_id field is optional with max length 35.Either org_id or prvt_id or none of them should be passed by client 
             - For IN IMPS debtor.prvt_id is not applicable 
             - For UK FPS Instant payment debtor.prvt_id is not applicable 
             - For IN UPI debtor.prvt_id is not applicable 
             - For Stripe_US Wire, debtor.prvt_id is not applicable 
             - For US ACH CCD/PPD payment, debtor.prvt_id field is mandatory and applicable value is tax identification, if debtor.org_id field is not provided by client 
             - For US ACH IAT payment, debtor.prvt_id field is optional and applicable value is tax identification 
             - For SEPA IDP debtor.prvt_id field is optional with max length 35 
             - For Japan Instant payment debtor.prvt_id is not applicable
          title: prvt_id
        bank_instructions:
          maxLength: 140
          minLength: 1
          type: string
          description: >-
            instruction for debtor agent Indicator of the urgency of the payment
            to instructed party. 

            - For Thailand PromptPay debtor.bank_instructions field is not
            applicable 

            - For United States debtor.bank_instructions field is not
            applicable 

            - For IN IMPS debtor.bank_instructions field is not applicable 

            - For UK FPS Instant payment debtor.bank_instructions field is not
            applicable 

            - For IN UPI debtor.bank_instructions field is not applicable 
             - For US Wire, debtor.bank_instructions is an optional field with max length 35. This fields is used to provide Bank to Bank details and UETR information in the multiple occurrences of this tag. 
             - For US ACH CCD/PPD/IAT payment, debtor.bank_instructions field is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment debtor.bank_instructions is not applicable
          title: bank_instructions
        department:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Debtor Address Department 
             - For TH Instant payment debtor.department is not applicable 
             - For US Instant payment debtor.department is not applicable 
             - For IN IMPS debtor.department is not applicable 
             - For UK FPS Instant payment debtor.department is not applicable 
             - For IN UPI debtor.department is not applicable 
             - For US Wire, debtor.department is not applicable 
             - For US ACH CCD/PPD payment, debtor.department is not applicable 
             - For US ACH IAT payment, debtor.department is not applicable 
             - For US ACH IAT payment, debtor.department is not applicable 
            - For SEPA IDP, debtor.department is optional with max length 70 
             - For Japan Instant payment debtor.department is not applicable
          title: department
        sub_department:
          maxLength: 70
          minLength: 1
          type: string
          description: >-
            Debtor Address Sub-Department 
             - For TH Instant payment debtor.sub_department is not applicable 
             - For US Instant payment debtor.sub_department is not applicable 
             - For IN IMPS debtor.sub_department is not applicable 
             - For UK FPS Instant payment debtor.sub_department is not applicable 
             - For IN UPI debtor.sub_department is not applicable 
             - For US Wire, debtor.sub_department is not applicable 
             - For US ACH CCD/PPD payment, debtor.sub_department is not applicable 
             - For US ACH IAT payment, debtor.sub_department is not applicable 
             - For US ACH IAT payment, debtor.sub_department is not applicable 
            - For SEPA IDP, debtor.sub_department is optional with max length
            70 
             - For Japan Instant payment debtor.sub_department is not applicable
          title: sub_department
        building_name:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor building name 
             - For TH Instant payment debtor.building_name is not applicable 
             - For US Instant payment debtor.building_name is not applicable 
             - For IN IMPS debtor.building_name is not applicable 
             - For UK FPS Instant payment debtor.building_name is not applicable 
             - For IN UPI debtor.building_name is not applicable 
             - For US Wire, debtor.building_name is not applicable 
             - For US ACH CCD/PPD payment, debtor.building_name is not applicable 
             - For US ACH IAT payment, debtor.building_name is not applicable 
             - For US ACH IAT payment, debtor.building_name is not applicable 
            - For SEPA IDP, debtor.building_name is optional with max length 35 
             - For Japan Instant payment debtor.building_name is not applicable
          title: building_name
        floor:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Debtor address floor 
             - For TH Instant payment debtor.floor is not applicable 
             - For US Instant payment debtor.floor is not applicable 
             - For IN IMPS debtor.floor is not applicable 
             - For UK FPS Instant payment debtor.floor is not applicable 
             - For IN UPI debtor.floor is not applicable 
             - For US Wire, debtor.floor is not applicable 
             - For US ACH CCD/PPD payment, debtor.floor is not applicable 
             - For US ACH IAT payment, debtor.floor is not applicable 
             - For US ACH IAT payment, debtor.floor is not applicable 
            - For SEPA IDP, debtor.floor is optional with max length 70 
             - For Japan Instant payment debtor.floor is not applicable
          title: floor
        post_box:
          maxLength: 16
          minLength: 1
          type: string
          description: |-
            Debtor address post box 
             - For TH Instant payment debtor.post_box is not applicable 
             - For US Instant payment debtor.post_box is not applicable 
             - For IN IMPS debtor.post_box is not applicable 
             - For UK FPS Instant payment debtor.post_box is not applicable 
             - For IN UPI debtor.post_box is not applicable 
             - For US Wire, debtor.post_box is not applicable 
             - For US ACH CCD/PPD payment, debtor.post_box is not applicable 
             - For US ACH IAT payment, debtor.post_box is not applicable 
             - For US ACH IAT payment, debtor.post_box is not applicable 
            - For SEPA IDP, debtor.post_box is optional with max length 16 
             - For Japan Instant payment debtor.post_box is not applicable
          title: post_box
        room:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Debtor address room 
             - For TH Instant payment debtor.room is not applicable 
             - For US Instant payment debtor.room is not applicable 
             - For IN IMPS debtor.room is not applicable 
             - For UK FPS Instant payment debtor.room is not applicable 
             - For IN UPI debtor.room is not applicable 
             - For US Wire, debtor.room is not applicable 
             - For US ACH CCD/PPD payment, debtor.room is not applicable 
             - For US ACH IAT payment, debtor.room is not applicable 
             - For US ACH IAT payment, debtor.room is not applicable 
            - For SEPA IDP, debtor.room is optional with max length 70 
             - For Japan Instant payment debtor.room is not applicable
          title: room
        town_location_name:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Debtor address town location name 
             - For TH Instant payment debtor.town_location_name is not applicable 
             - For US Instant payment debtor.town_location_name is not applicable 
             - For IN IMPS debtor.town_location_name is not applicable 
             - For UK FPS Instant payment debtor.town_location_name is not applicable 
             - For IN UPI debtor.town_location_name is not applicable 
             - For US Wire, debtor.town_location_name is not applicable 
             - For US ACH CCD/PPD payment, debtor.town_location_name is not applicable 
             - For US ACH IAT payment, debtor.town_location_name is not applicable 
             - For US ACH IAT payment, debtor.town_location_name is not applicable 
            - For SEPA IDP, debtor.town_location_name is optional with max
            length 35 
             - For Japan Instant payment debtor.town_location_name is not applicable
          title: town_location_name
        district_name:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor address district_name 
             - For TH Instant payment debtor.district_name is not applicable 
             - For US Instant payment debtor.district_name is not applicable 
             - For IN IMPS debtor.district_name is not applicable 
             - For UK FPS Instant payment debtor.district_name is not applicable 
             - For IN UPI debtor.district_name is not applicable 
             - For US Wire, debtor.district_name is not applicable 
             - For US ACH CCD/PPD payment, debtor.district_name is not applicable 
             - For US ACH IAT payment, debtor.district_name is not applicable 
             - For US ACH IAT payment, debtor.district_name is not applicable 
            - For SEPA IDP, debtor.district_name is optional with max length 35 
             - For Japan Instant payment debtor.district_name is not applicable
          title: district_name
        anybic:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor BIC 
             - For TH Instant payment debtor.anybic is not applicable 
             - For US Instant payment debtor.anybic is not applicable 
             - For IN IMPS debtor.anybic is not applicable 
             - For UK FPS Instant payment debtor.anybic is not applicable 
             - For IN UPI debtor.anybic is not applicable 
             - For US Wire, debtor.anybic is not applicable 
             - For US ACH CCD/PPD payment, debtor.anybic is not applicable 
             - For US ACH IAT payment, debtor.anybic is not applicable 
             - For US ACH IAT payment, debtor.anybic is not applicable 
            - For SEPA IDP, debtor.anybic is optional with max length 11 
             - For Japan Instant payment debtor.anybic is not applicable
          title: anybic
        lei:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Unique global identifier for legal entities participating in
            financial transactions 
             - For TH Instant payment debtor.lei is not applicable 
             - For US Instant payment debtor.lei is not applicable 
             - For IN IMPS debtor.lei is not applicable 
             - For UK FPS Instant payment debtor.lei is not applicable 
             - For IN UPI debtor.lei is not applicable 
             - For US Wire, debtor.lei is not applicable 
             - For US ACH CCD/PPD payment, debtor.lei is not applicable 
             - For US ACH IAT payment, debtor.lei is not applicable 
             - For US ACH IAT payment, debtor.lei is not applicable 
            - For SEPA IDP, debtor.lei is optional with max length 20 
             - For Japan Instant payment debtor.lei is not applicable
          title: lei
        issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Debtor name that identifies an issuer 
             - For TH Instant payment debtor.issuer is not applicable 
             - For US Instant payment debtor.issuer is not applicable 
             - For IN IMPS debtor.issuer is not applicable 
             - For UK FPS Instant payment debtor.issuer is not applicable 
             - For IN UPI debtor.issuer is not applicable 
             - For US Wire, debtor.issuer is not applicable 
             - For US ACH CCD/PPD payment, debtor.issuer is not applicable 
             - For US ACH IAT payment, debtor.issuer is not applicable 
             - For US ACH IAT payment, debtor.issuer is not applicable 
            - For SEPA IDP, debtor.issuer is optional with max length 35 
             - For Japan Instant payment debtor.issuer is not applicable
          title: issuer
        birth_province:
          maxLength: 35
          minLength: 1
          type: string
          description: >2-
             Debtor Province Of Birth 
             - For TH Instant payment debtor.birth_province is not applicable 
             - For US Instant payment debtor.birth_province is not applicable 
             - For IN IMPS debtor.birth_province is not applicable 
             - For UK FPS Instant payment debtor.birth_province is not applicable 
             - For IN UPI debtor.birth_province is not applicable 
             - For US Wire, debtor.birth_province is not applicable 
             - For US ACH CCD/PPD payment, debtor.birth_province is not applicable 
             - For US ACH IAT payment, debtor.birth_province is not applicable 
             - For US ACH IAT payment, debtor.birth_province is not applicable 
            - For SEPA IDP, debtor.birth_province is optional with max length
            35 
             - For Japan Instant payment debtor.birth_province is not applicable
          title: birth_province
        bank_account:
          maxLength: 40
          minLength: 1
          type: string
          description: |-
            Debtor's bank account number 
             - For TH, US , IN IMPS, UK FPS, IN UPI, US Wire, US ACH CCD/PPD/IAT,SEPA IDP and JP payments debtor.bank_account is not applicable 
             - For India FIR IMPS payment, debtor.bank_account field is mandatory
          title: bank_account
        bank_name:
          maxLength: 140
          minLength: 1
          type: string
          description: |-
            Debtor's bank name 
             - For TH Instant payment debtor.bank_name is not applicable 
             - For US Instant payment debtor.bank_name is not applicable 
             - For IN IMPS Instant payment debtor.bank_name is not applicable 
             - For UK FPS Instant payment debtor.bank_name is not applicable 
             - For IN UPI Instant payment debtor.bank_name is not applicable 
             - For US Wire payment, debtor.bank_name is not applicable 
             - For US ACH CCD/PPD/IAT payment, debtor.bank_name is optional with max length 35 
             - For SEPA IDP debtor.bank_name is not applicable 
             - For Japan Instant payment debtor.bank_name is not applicable 
             - For India FIR IMPS payment, debtor.bank_name is mandatory with max length 100
          title: bank_name
      additionalProperties: false
      description: Debtor information
    Ultimate-Debtor-Status:
      type: object
      title: UltimateDebtorStatus
      properties:
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's bank account name 
             - For TH Instant payment ultimate_debtor.name is not applicable 
             - For US Instant payment ultimate_debtor.name is optional 
             - For IN IMPS ultimate_debtor.name is not applicable 
             - For UK FPS Instant payment ultimate_debtor.name is optional with max length 40 
             - For IN UPI ultimate_debtor.name is not applicable 
             - For US Wire, ultimate_debtor name is a conditional field. It become mandatory if Ultimate Remitter is being used for POBO. 
             - For US ACH CCD/PPD payment, ultimate_debtor.name field is mandatory and allowed max length is 16 
             - For US ACH IAT payment, ultimate_debtor.name field is optional and allowed max length is 35 
             - For SEPA IDP ultimate_debtor.name is optional with max length 128 
             - For Japan Instant payment ultimate_debtor.name field is optional 
             - For TH NRBA Instant remittances payment ultimate_debtor.name is mandatory 
             - For India FIR IMPS payment, ultimate_debtor.name field is mandatory with max length 50
          title: name
        address_lines:
          type: array
          description: |-
            Ultimate Debtor's address_lines 
             - For TH Instant payment ultimate_debtor.address_lines is not applicable 
             - For US Instant payment ultimate_debtor.address_lines is optional 
             - For IN IMPS ultimate_debtor.address_lines is not applicable 
             - For UK FPS Instant payment ultimate_debtor.address_lines is optional with max 4 instances allowed and each line max length 35 
             - For IN UPI ultimate_debtor.address_lines is not applicable 
             - For US Wire payment, ultimate_debtor.address_lines field is conditional and up to 3 lines of 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. address_lines should present only if structured address tags (street name, building number, city, state and postal code) are not present. It become mandatory if Ultimate Remitter is being used for POBO 
             - For US ACH CCD/PPD/IAT payment, ultimate_debtor.address_lines is mandatory field and allowed three instance with each line max length of 35 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.address_lines is optional with max 7 instances allowed and each line max length 70 
             - For India FIR IMPS payment ultimate_debtor.address_lines is optional with max 7 instances allowed and each line max length 70
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's street_name 
             - For TH Instant payment ultimate_debtor.street_name is not applicable 
             - For US Instant payment ultimate_debtor.street_name is optional 
             - For IN IMPS ultimate_debtor.street_name is not applicable 
             - For UK FPS Instant payment ultimate_debtor.street_name is optional with max length 70 
             - For IN UPI ultimate_debtor.street_name is not applicable 
             - For US Wire ultimate_debtor.street_name is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.street_name is not applicable 
             - For US ACH IAT payment, ultimate_debtor.street_name is mandatory and allowed max length is 35 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.street_name field is optional 
             - For India FIR IMPS payment, ultimate_debtor.street_name field is mandatory with max length 35
          title: street_name
        town_name:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's town name 
             - For TH, US, IN IMPS, UK FPS, IN UPI, US Wire, US ACH CCD/PPD/IAT and JP payments ultimate_debtor.town_name is not applicable 
             - For TH NRBA Instant remittances payment ultimate_debtor.town_name field is mandatory, if client provided ultimate_debtor.country field
          title: town_name
        building_number:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's building_number 
             - For TH Instant payment ultimate_debtor.building_number is not applicable 
             - For US Instant payment ultimate_debtor.building_number field is optional 
             - For IN IMPS ultimate_debtor.building_number is not applicable 
             - For UK FPS Instant payment ultimate_debtor.building_number is optional with max length 16 
             - For IN UPI ultimate_debtor.building_number is not applicable 
             - For US Wire ultimate_debtor.building_number is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.building_number is not applicable 
             - For US ACH IAT payment, ultimate_debtor.building_number is mandatory and allowed max length is 35 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.building_number field is optional 
             - For India FIR IMPS payment, ultimate_debtor.building_number field is mandatory with max length 16
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's postal_code 
             - For TH Instant payment ultimate_debtor.postal_code is not applicable 
             - For US Instant payment ultimate_debtor.postal_code field is optional 
             - For IN IMPS ultimate_debtor.postal_code is not applicable 
             - For UK FPS Instant payment ultimate_debtor.postal_code is optional with max length 16 
             - For IN UPI ultimate_debtor.postal_code is not applicable 
             - For US Wire ultimate_debtor.postal_code is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.postal_code is not applicable 
             - For US ACH IAT payment, ultimate_debtor.postal_code is mandatory and allowed max length is 16 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.postal_code field is optional 
             - For India FIR IMPS payment, ultimate_debtor.postal_code field is mandatory
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's city 
             - For TH Instant payment ultimate_debtor.city is not applicable 
             - For US Instant payment ultimate_debtor.city field is optional 
             - For IN IMPS ultimate_debtor.city is not applicable 
             - For UK FPS Instant payment ultimate_debtor.city is optional with max length 35 
             - For IN UPI ultimate_debtor.city is not applicable 
             - For US Wire ultimate_debtor.city is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.city is not applicable 
             - For US ACH IAT payment, ultimate_debtor.city is mandatory and allowed max length is 32 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.city field is optional 
             - For India FIR IMPS payment, ultimate_debtor.city field is mandatory
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's state 
             - For TH Instant payment ultimate_debtor.state is not applicable 
             - For US Instant payment ultimate_debtor.state field is optional 
             - For IN IMPS ultimate_debtor.state is not applicable 
             - For UK FPS Instant payment ultimate_debtor.state is optional with max length 35  
             - For IN UPI ultimate_debtor.state is not applicable 
             - For US Wire ultimate_debtor.state is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.state is not applicable 
             - For US ACH IAT payment, ultimate_debtor.state is mandatory and allowed max length is 32 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.state field is optional 
             - For India FIR IMPS payment, ultimate_debtor.state field is optional
          title: state
        country:
          type: string
          description: |-
            Ultimate Debtor's country 
             - For TH Instant payment ultimate_debtor.country is not applicable 
             - For US Instant payment ultimate_debtor.country field is optional 
             - For IN IMPS ultimate_debtor.country is not applicable 
             - For UK FPS Instant payment ultimate_debtor.country is conditional and becomes mandatory if ultimate_debtor.name is provided 
             - For IN UPI ultimate_debtor.country is not applicable 
             - For US Wire ultimate_debtor.country is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.country is not applicable 
             - For US ACH IAT payment, ultimate_debtor.country is mandatory 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment ultimate_debtor.country field is optional 
             - For TH NRBA Instant remittances payment ultimate_debtor.country field is mandatory, if client provided ultimate_debtor.town_name field 
             - For India FIR IMPS payment, ultimate_debtor.country field is mandatory
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |2-
             Ultimate Debtor's org_id 
             - For TH Instant payment ultimate_debtor.org_id is not applicable 
             - For US Instant payment ultimate_debtor.org_id field is optional with max length 20 
             - For IN IMPS ultimate_debtor.org_id is not applicable 
             - For UK FPS Instant payment ultimate_debtor.org_id is optional with max length 35 
             - For IN UPI ultimate_debtor.org_id is not applicable 
             - For US Wire, ultimate_debtor.org_id is conditionally optional field with max length 34. It become mandatory if POBO is being used. It is present only if prvt_id is not present 
             - For US ACH CCD/PPD payment, ultimate_debtor.org_id field is mandatory and applicable value is Organisation TXID or CUST Identification  values and value should prefix with /TXID/ or /CUST/, if ultimate_debtor.prvt_id field is not provided by client 
             - For US ACH IAT payment, ultimate_debtor.org_id is not applicable 
             - For SEPA IDP ultimate_debtor.org_id is optional with max length 35 
             - For Japan Instant payment ultimate_debtor.org_id field is optional 
             - For India FIR IMPS payment, ultimate_debtor.org_id field is mandatory
          title: org_id
        birth_date:
          type: string
          format: date
          description: |-
            ISO 8601 (YYYY-MM-DD), ultimate debtor's birth date 
             - For TH Instant payment ultimate_debtor.birth_date is not applicable 
             - For US Instant payment ultimate_debtor.birth_date field is optional 
             - For IN IMPS ultimate_debtor.birth_date is not applicable 
             - For UK FPS Instant payment ultimate_debtor.birth_date field is optional 
             - For IN UPI ultimate_debtor.birth_date is not applicable 
             - For US Wire ultimate_debtor.birth_date is not applicable 
             - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_date is not applicable 
             - For SEPA IDP ultimate_debtor.birth_date field is optional 
             - For Japan Instant payment ultimate_debtor.birth_date field is not applicable
          title: birth_date
        birth_city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate debtor's birth city 
             - For TH Instant payment ultimate_debtor.birth_city is not applicable 
             - For US Instant payment ultimate_debtor.birth_city field is optional 
             - For IN IMPS ultimate_debtor.birth_city is not applicable 
             - For UK FPS Instant payment ultimate_debtor.birth_city is optional with max length 35  
             - For IN UPI ultimate_debtor.birth_city is not applicable 
             - For US Wire ultimate_debtor.birth_city is not applicable 
             - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_city is not applicable 
             - For SEPA IDP ultimate_debtor.birth_city is optional with max length 35 
             - For Japan Instant payment ultimate_debtor.birth_city field is not applicable
          title: birth_city
        birth_country:
          type: string
          description: |-
            Ultimate debtor's birth country 
             - For TH Instant payment ultimate_debtor.birth_country is not applicable 
             - For US Instant payment ultimate_debtor.birth_country field is optional 
             - For IN IMPS  ultimate_debtor.birth_country is not applicable 
             - For UK FPS Instant payment ultimate_debtor.birth_country is optional with max length 2 
             - For IN UPI ultimate_debtor.birth_country is not applicable 
             - For US Wire ultimate_debtor.birth_country is not applicable 
             - For US ACH CCD/PPD/IAT payment, ultimate_debtor.birth_country is not applicable 
             - For SEPA IDP ultimate_debtor.birth_country field is optional 
             - For Japan Instant payment ultimate_debtor.birth_country field is not applicable
          pattern: ^[A-Z]{2,2}$
          title: birth_country
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's private id 
             - For TH Instant payment ultimate_debtor.prvt_id is not applicable 
             - For US Instant payment ultimate_debtor.prvt_id field is optional with max length 35.Either org_id or prvt_id or none of them should be passed by client 
             - For IN IMPS ultimate_debtor.prvt_id is not applicable 
             - For UK FPS Instant payment ultimate_debtor.prvt_id is not applicable 
             - For IN UPI ultimate_debtor.prvt_id is not applicable 
             - For US Wire, ultimate_debtor.prvt_id is conditionally optional field with max length 34. It become mandatory if POBO is being used. It is present only if org_id is not present 
             - For US ACH CCD/PPD payment, ultimate_debtor.prvt_id field is mandatory and applicable value is Organisation TXID or CUST Identification  values and value should prefix with /TXID/ or /CUST/, if ultimate_debtor.org_id field is not provided by client 
             - For US ACH IAT payment, ultimate_debtor.prvt_id is not applicable 
             - For SEPA IDP ultimate_debtor.prvt_id field is optional with max length 35 
             - For Japan Instant payment ultimate_debtor.prvt_id field is not applicable
          title: prvt_id
        anybic:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Ultimate Debtor BIC 
             - For TH Instant payment ultimate_debtor.anybic is not applicable 
             - For US Instant payment ultimate_debtor.anybic is not applicable 
             - For IN IMPS ultimate_debtor.anybic is not applicable 
             - For UK FPS Instant payment ultimate_debtor.anybic is not applicable 
             - For IN UPI ultimate_debtor.anybic is not applicable 
             - For US Wire, ultimate_debtor.anybic is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.anybic is not applicable 
             - For US ACH IAT payment, ultimate_debtor.anybic is not applicable 
             - For US ACH IAT payment, ultimate_debtor.anybic is not applicable 
            - For SEPA IDP, ultimate_debtor.anybic is optional with max length
            11 
             - For Japan Instant payment ultimate_debtor.anybic field is not applicable
          title: anybic
        lei:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            LEI of Organization ID for Ultimate Debtor 
             - For TH Instant payment ultimate_debtor.lei is not applicable 
             - For US Instant payment ultimate_debtor.lei is not applicable 
             - For IN IMPS ultimate_debtor.lei is not applicable 
             - For UK FPS Instant payment ultimate_debtor.lei is not applicable 
             - For IN UPI ultimate_debtor.lei is not applicable 
             - For US Wire, ultimate_debtor.lei is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.lei is not applicable 
             - For US ACH IAT payment, ultimate_debtor.lei is not applicable 
             - For US ACH IAT payment, ultimate_debtor.lei is not applicable 
            - For SEPA IDP, ultimate_debtor.lei is optional with max length 20 
             - For Japan Instant payment ultimate_debtor.lei field is not applicable
          title: lei
        issuer:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Ultimate Debtor name that identifies an issuer 
             - For TH Instant payment ultimate_debtor.issuer is not applicable 
             - For US Instant payment ultimate_debtor.issuer is not applicable 
             - For IN IMPS ultimate_debtor.issuer is not applicable 
             - For UK FPS Instant payment ultimate_debtor.issuer is not applicable 
             - For IN UPI ultimate_debtor.issuer is not applicable 
             - For US Wire, ultimate_debtor.issuer is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.issuer is not applicable 
             - For US ACH IAT payment, ultimate_debtor.issuer is not applicable 
             - For US ACH IAT payment, ultimate_debtor.issuer is not applicable 
            - For SEPA IDP, ultimate_debtor.issuer is optional with max length
            35 
             - For Japan Instant payment ultimate_debtor.issuer field is not applicable
          title: issuer
        birth_province:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            Ultimate Debtor  Province Of Birth 
             - For TH Instant payment ultimate_debtor.birth_province is not applicable 
             - For US Instant payment ultimate_debtor.birth_province is not applicable 
             - For IN IMPS ultimate_debtor.birth_province is not applicable 
             - For UK FPS Instant payment ultimate_debtor.birth_province is not applicable 
             - For IN UPI ultimate_debtor.birth_province is not applicable 
             - For US Wire, ultimate_debtor.birth_province is not applicable 
             - For US ACH CCD/PPD payment, ultimate_debtor.birth_province is not applicable 
             - For US ACH IAT payment, ultimate_debtor.birth_province is not applicable 
             - For US ACH IAT payment, ultimate_debtor.birth_province is not applicable 
            - For SEPA IDP, ultimate_debtor.birth_province is optional with max
            length 35 
             - For Japan Instant payment ultimate_debtor.birth_province field is not applicable
          title: birth_province
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Ultimate Debtor's bank identification 
             - For TH , US, IN IMPS, UK FPS, IN UPI, US Wire, US ACH CCD/PPD/IAT, SEPA IDP and JP payment ultimate_debtor.bank_id is not applicable 
             - For India FIR IMPS payment, ultimate_debtor.bank_id field is mandatory with max length 11
          title: bank_id
    Intermediary-Details:
      title: IntermediaryDetails
      properties:
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            intermediary agent identifier (e.g., routing number in the United
            States) 
             - For TH Instant payment Intermediary.bank_id field is not applicable 
             - For US Instant payment Intermediary.bank_id field is not applicable 
             - For IN IMPS Instant payment Intermediary.bank_id field is not applicable 
             - For UK FPS Instant payment Intermediary.bank_id field is not applicable 
             - For IN UPI Instant payment Intermediary.bank_id field is not applicable 
             - For US Wire, intermediary.bank_id field is optional. Either BIC or MmbId should be provided. If the input is BIC, min and max length should be 8 and 11 and should adhere to pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}. If the input is other than BIC without pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1},max length is 35. If it is routing code, min and max length is 9 Note: 1. First Intermediary bank SWIFT Code (BIC) is applicable to 3 credit party payments only. 2. Second Intermediary bank SWIFT Code is applicable to 3 credit party payments only 
             - For US ACH CCD/PPD payment, Intermediary.bank_id is not applicable 
             - For US ACH IAT payment, Intermediary.bank_id is mandatory and allowed max length is 11 
             - For Japan Instant payment Intermediary.bank_id field is not applicable
          title: bank_id
        bank_name:
          maxLength: 140
          minLength: 1
          type: string
          description: |-
            intermediary agent name 
             - For TH Instant payment Intermediary.bank_name is not applicable 
             - For US Instant payment Intermediary.bank_name is not applicable 
             - For IN IMPS Instant payment Intermediary.bank_name is not applicable 
             - For UK FPS Instant payment Intermediary.bank_name is not applicable 
             - For IN UPI Instant payment Intermediary.bank_name is not applicable 
             - For US Wire, Intermediary.bank_name field is conditional with max length 35. Mandatory if payment is 3 and 4 credit party payment 
             - For US ACH CCD/PPD payment, Intermediary.bank_name is not applicable 
             - For US ACH IAT payment, Intermediary.bank_name is optional and allowed max length is 35 
             - For Japan Instant payment Intermediary.bank_name field is not applicable
          title: name
        bank_country:
          type: string
          description: |-
            intermediary agent Country 
             - For TH Instant payment intermediary.bank_country is not applicable 
             - For US Instant payment intermediary.bank_country is not applicable 
             - For IN IMPS intermediary.bank_country is not applicable 
             - For UK FPS Instant payment intermediary.bank_country is not applicable 
             - For IN UPI intermediary.bank_country is not applicable 
             - For US Wire, intermediary.bank_country field is mandatory when using routing code with max length 35 for 1st intermediary bank. If using structured address, (Street name, city, State, Postal Code and country) tags are required. Become mandatory when using local routing code. 
             - For US ACH CCD/PPD payment, Intermediary.bank_country is not applicable 
             - For US ACH IAT payment, Intermediary.bank_country is mandatory 
             - For Japan Instant payment Intermediary.bank_country field is not applicable
          pattern: ^[A-Z]{2,2}$
          title: country
        bank_address_lines:
          type: array
          description: |-
            intermediary agent address_lines 
             - For TH Instant payment intermediary.bank_address_lines is not applicable 
             - For US Instant payment intermediary.bank_address_lines is not applicable 
             - For IN IMPS intermediary.bank_address_lines is not applicable 
             - For UK FPS Instant payment intermediary.bank_address_lines is not applicable 
             - For IN UPI intermediary.bank_address_lines is not applicable 
             - For US Wire payment, intermediary.bank_address_lines field is optional and up to 3 lines of 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. address_lines should present only if structured address tags (street name, building number, city, state and postal code) are not present 
             - For US ACH CCD/PPD/IAT payment, Intermediary.bank_address_lines is not applicable 
             - For Japan Instant payment Intermediary.bank_address_lines field is not applicable
          items:
            $ref: '#/components/schemas/Address'
          title: bank_address_lines
        bank_account_id:
          maxLength: 34
          minLength: 1
          type: string
          description: |-
            intermediary agent account id 
             - For TH Instant payment intermediary.bank_account_id is not applicable 
             - For US Instant payment intermediary.bank_account_id is not applicable 
             - For IN IMPS intermediary.bank_account_id is not applicable 
             - For UK FPS Instant payment intermediary.bank_account_id is not applicable 
             - For IN UPI intermediary.bank_account_id is not applicable 
             - For Stripe_US Wire, intermediary.bank_account_id is an optional field with max length is 34 
             - For US ACH CCD/PPD/IAT payment, Intermediary.bank_account_id is not applicable 
             - For Japan Instant payment Intermediary.bank_account_id field is not applicable 
          title: account
      additionalProperties: false
      description: >-
        intermediary agents information. Note: 1st occurrence of intermediary
        set will be used intermediary agent 1 information. 2nd occurrence of
        intermediary set will be used for intermediary agent 2 
    Intermediary-Status:
      title: IntermediaryStatus
      description: Intermediary agent information status
      type: array
      maxItems: 3
      items:
        $ref: '#/components/schemas/Intermediary-Details-Status'
    Intermediary-Details-Status:
      type: object
      title: IntermediaryDetailsStatus
      properties:
        bank_id:
          maxLength: 35
          minLength: 1
          type: string
          description: >-
            intermediary agent identifier (e.g., routing number in the United
            States) 
             - For TH Instant payment Intermediary.bank_id field is not applicable 
             - For US Instant payment Intermediary.bank_id field is not applicable 
             - For IN IMPS Instant payment Intermediary.bank_id field is not applicable 
             - For UK FPS Instant payment Intermediary.bank_id field is not applicable 
             - For IN UPI Instant payment Intermediary.bank_id field is not applicable 
             - For US Wire, intermediary.bank_id field is optional. Either BIC or MmbId should be provided. If the input is BIC, min and max length should be 8 and 11 and should adhere to pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}. If the input is other than BIC without pattern [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1},max length is 35. If it is routing code, min and max length is 9 Note: 1. First Intermediary bank SWIFT Code (BIC) is applicable to 3 credit party payments only. 2. Second Intermediary bank SWIFT Code is applicable to 3 credit party payments only 
             - For US ACH CCD/PPD payment, Intermediary.bank_id is not applicable 
             - For US ACH IAT payment, Intermediary.bank_id is mandatory and allowed max length is 11 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment Intermediary.bank_id field is not applicable
          title: bank_id
        bank_name:
          maxLength: 140
          minLength: 1
          type: string
          description: |-
            intermediary agent name 
             - For TH Instant payment Intermediary.bank_name is not applicable 
             - For US Instant payment Intermediary.bank_name is not applicable 
             - For IN IMPS Instant payment Intermediary.bank_name is not applicable 
             - For UK FPS Instant payment Intermediary.bank_name is not applicable 
             - For IN UPI Instant payment Intermediary.bank_name is not applicable 
             - For US Wire, Intermediary.bank_name field is conditional with max length 35. Mandatory if payment is 3 and 4 credit party payment 
             - For US ACH CCD/PPD payment, Intermediary.bank_name is not applicable 
             - For US ACH IAT payment, Intermediary.bank_name is optional and allowed max length is 35 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment Intermediary.bank_name field is not applicable
          title: name
        bank_country:
          type: string
          description: |-
            intermediary agent Country 
             - For TH Instant payment intermediary.bank_country is not applicable 
             - For US Instant payment intermediary.bank_country is not applicable 
             - For IN IMPS intermediary.bank_country is not applicable 
             - For UK FPS Instant payment intermediary.bank_country is not applicable 
             - For IN UPI intermediary.bank_country is not applicable 
             - For US Wire, intermediary.bank_country field is mandatory when using routing code with max length 35 for 1st intermediary bank. If using structured address, (Street name, city, State, Postal Code and country) tags are required. Become mandatory when using local routing code. 
             - For US ACH CCD/PPD payment, Intermediary.bank_country is not applicable 
             - For US ACH IAT payment, Intermediary.bank_country is mandatory 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment Intermediary.bank_country field is not applicable
          pattern: ^[A-Z]{2,2}$
          title: country
        bank_address_lines:
          type: array
          description: |-
            intermediary agent address_lines 
             - For TH Instant payment intermediary.bank_address_lines is not applicable 
             - For US Instant payment intermediary.bank_address_lines is not applicable 
             - For IN IMPS intermediary.bank_address_lines is not applicable 
             - For UK FPS Instant payment intermediary.bank_address_lines is not applicable 
             - For IN UPI intermediary.bank_address_lines is not applicable 
             - For US Wire payment, intermediary.bank_address_lines field is optional and up to 3 lines of 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. address_lines should present only if structured address tags (street name, building number, city, state and postal code) are not present 
             - For US ACH CCD/PPD/IAT payment, Intermediary.bank_address_lines is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment Intermediary.bank_address_lines field is not applicable
          items:
            $ref: '#/components/schemas/Address'
          title: bank_address_lines
        bank_account_id:
          maxLength: 34
          minLength: 1
          type: string
          description: |-
            intermediary agent account id 
             - For TH Instant payment intermediary.bank_account_id is not applicable 
             - For US Instant payment intermediary.bank_account_id is not applicable 
             - For IN IMPS intermediary.bank_account_id is not applicable 
             - For UK FPS Instant payment intermediary.bank_account_id is not applicable 
             - For IN UPI intermediary.bank_account_id is not applicable 
             - For Stripe_US Wire, intermediary.bank_account_id is an optional field with max length is 34 
             - For US ACH CCD/PPD/IAT payment, Intermediary.bank_account_id is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment Intermediary.bank_account_id field is not applicable
          title: account
      additionalProperties: false
      description: >-
        iintermediary agents information. Note: 1st occurrence of intermediary
        set will be used intermediary agent 1 information. 2nd occurrence of
        intermediary set will be used for intermediary agent 2
    Message-Request:
      type: object
      title: MessageRequest
      properties:
        message_type:
          type: string
          description: |-
            Message Type provided by the customer 
            - RPCR - Response to Payment Confirmation Request
          enum:
            - RPCR
          title: message_type
        message:
          oneOf:
            - $ref: >-
                #/components/schemas/Final-Response-To-Payment-Confirmation-Request
      required:
        - message_type
        - message
    Final-Response-To-Payment-Confirmation-Request:
      type: object
      title: FinalResponseToPaymentConfirmationRequest
      description: Outgoing Response to Payment Confirmation Request
      properties:
        sub_merchant_name:
          type: string
          description: Sub Merchant name
          minLength: 1
          maxLength: 50
          title: sub_merchant_name
        status:
          type: object
          title: status
          properties:
            date_time:
              type: string
              format: date-time
              description: UTC (YYYY-MM-DDTHH:MM:SS.sssZ) date time
              title: date_time
            code:
              type: string
              description: ISO 20022 message status code
              enum:
                - ACSC
                - RJCT
              title: code
            description:
              type: string
              description: |-
                Status code description 
                - ACSC - Accepted 
                - RJCT - Rejected
              minLength: 1
              maxLength: 105
              title: description
          required:
            - date_time
            - code
            - description
        reasons:
          type: object
          title: reasons
          properties:
            code:
              type: string
              description: >-
                Reason code (mandatory when status is rejected) 

                - For US RPCR, client need to pass reason.code only
                AC02,AC03,AC04,AC06,AC11,AC13,AC14,AG01,AG03,AM02,AM04,AM09,AM12,AM13,AM14,NARR 

                - For Thailand RPCR, client need to pass reason.code only AM09
                or NARR 

                - For SEPA RPCR, client need to pass reason.code only
                AM05,AC01,AC04,AC06,RR04,AG01,MS03,MS02
              enum:
                - AC02
                - AC03
                - AC04
                - AC06
                - AC11
                - AC13
                - AC14
                - AG01
                - AG03
                - AM02
                - AM04
                - AM09
                - AM12
                - AM13
                - AM14
                - NARR
                - AM05
                - AC01
                - RR04
                - MS02
                - MS03
              title: code
            description:
              type: string
              description: >-
                Reason code description 
                 - AC02- Debtor account number invalid or missing 
                 - AC03- Creditor account number invalid or missing 
                - AC04- Account number specified has been closed on the bank of
                account’s books 

                - AC06- Account specified is blocked,prohibiting posting of
                transactions against it 

                - AC11- Creditor account currency is invalid or missing 

                - AC13- Debtor account type invalid 

                - AC14- Creditor account type invalid 

                - AG01- Transaction forbidden on this type of account (formerly
                NoAgreement) 

                - AG03- Transaction type not supported / authorized on this
                account 

                - AM02- Specific transaction/message amount is greater than
                allowed maximum 

                - AM04- Amount of funds available to  cover specified message
                amount is insufficient 

                - AM09- Amount received is not the  amount agreed or expected 

                - AM12- Amount is invalid or missing 

                - AM13- Transaction amount exceeds limits set by clearing
                system 

                - AM14- Transaction amount exceeds limits agreed between bank
                and client 

                - NARR- Put the description as per clearing guideline for NARR 
                (if reasons.code is NARR, reasons.description is mandatory) 

                - AM05-  Duplication 

                - AC01-  Incorrect Account Number 

                - RR04-  Regulatory Reason 

                - MS03-  Not Specified Reason Agent Generated 

                - MS02- Not Specified Reason Customer Generated
              minLength: 1
              maxLength: 105
              title: description
      required:
        - status
    Creditor-Status:
      type: object
      title: CreditorStatus
      properties:
        proxy_id:
          maxLength: 255
          minLength: 1
          type: string
          description: >-
            Creditor's proxy identification (e.g., email address) 

            - Thailand PromptPay - If you don't provide account, proxy_id is
            required. 
             - For US Instant payment creditor.proxy_id field is not applicable 
             - For IN IMPS creditor.proxy_id field is not applicable 
             - For UK FPS Instant payment creditor.proxy_id field is not applicable 
             - For IN UPI Instant payment creditor.proxy_id is mandatory and applicable value VPA ID, if creditor.account and creditor.bank_id is not provided by client 
             - For US Wire, creditor.proxy_id field is not applicable 
             - For US ACH CCD/PPD/IAT payment, creditor.proxy_id is not applicable 
             - For SEPA IDP creditor.proxy_id is optional 
             - For Japan Instant payment creditor.proxy_id field is not applicable
          title: proxy_id
        proxy_type:
          type: string
          enum:
            - BIID
            - EMAL
            - EWAL
            - MBNO
            - NIDN
          description: >-
            Creditor's proxy type (BIID for bill identification, EMAL for email
            address, EWAL for electronic wallet identification, MBNO for mobile
            number and NIDN for national identification) 

            - Thailand PromptPay - if you provide proxy_id, proxy_type is
            required.If creditor proxy_type is 'BIID', require client to
            mandatorily provide 'bill_id_1' value. 
             - For US Instant payment creditor.proxy_type field is not applicable 
             - For IN IMPS creditor.proxy_type field is not applicable 
             - For UK FPS Instant payment creditor.proxy_type field is not applicable 
             - For IN UPI creditor.proxy_type field is not applicable 
             - For US Wire, creditor.proxy_type field is not applicable 
             - For US ACH CCD/PPD/IAT payment, creditor.proxy_type is not applicable 
            - For SEPA IDP, creditor.proxy_type is optional 
             - For Japan Instant payment creditor.proxy_type field is not applicable
          title: proxy_type
        payer_id:
          maxLength: 40
          minLength: 1
          type: string
          description: Creditor's Payer ID
          title: payer_id
        tax_id:
          maxLength: 128
          minLength: 1
          type: string
          description: |-
            Creditor's tax identification 
             - For TH Instant payment creditor.tax_id field is optional 
             - For US Instant payment creditor.tax_id field is not applicable 
             - For IN IMPS creditor.tax_id field is not applicable 
             - For UK FPS Instant payment creditor.tax_id field is not applicable 
             - For JP Instant payment creditor.tax_id field is not applicable  
             - For IN UPI creditor.tax_id field is not applicable 
             - For US Wire, creditor.tax_id is not appliable 
             - For US ACH CCD/PPD/IAT payment, creditor.tax_id is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment creditor.tax_id field is not applicable
          title: tax_id
        account:
          maxLength: 40
          minLength: 1
          type: string
          description: >-
            Creditor's bank account 

            - Thailand PromptPay - If you don't provide proxy_id, account and
            bank_id is required 
             - For US Instant payment creditor.account field is mandatory 
             - For IN IMPS creditor.account field is mandatory with max length 34 
             - For UK FPS Instant payment creditor.account field is mandatory and allowed max length is 34, Client can pass either account number or IBAN/BBAN number 
             - For JP Instant payment creditor.account field is applicable 
             - For IN UPI creditor.account field is mandatory with max length 34, if creditor.proxy_id is not provided by client 
             - For US Wire, creditor.account is a mandatory field with max length is 34 
             - For US ACH CCD/PPD/IAT payment, creditor.account is a mandatory field with max length is 34 
             - For SEPA IDP creditor.account field is mandatory with max length 34 
             - For Japan Instant payment creditor.proxy_type field is mandatory and allowed max length is 7
          title: account
        virtual_account:
          maxLength: 40
          minLength: 1
          type: string
          description: |-
            Creditor's virtual account (also kown as PAYER ID) 
             - For TH Instant payment creditor.virtual_account field is optional 
             - For US Instant payment creditor.virtual_account field is not applicable 
             - For IN IMPS creditor.virtual_account field is not applicable 
             - For UK FPS Instant payment creditor.virtual_account field is not applicable 
             - For JP Instant payment creditor.virtual_account field is applicable 
             - For IN UPI creditor.virtual_account field is not applicable 
             - For US Wire, creditor.virtual_account is not applicable 
             - For US ACH CCD/PPD/IAT payment, creditor.virtual_account is not applicable 
            - For SEPA IDP, this field is not applicable 
             - For Japan Instant payment creditor.virtual_account field is not applicable
          title: virtual_account
        name:
          maxLength: 140
          minLength: 1
          type: string
          description: >-
            Creditor's name 

            - Thailand PromptPay - Maximum length is 50. 

            - For US Instant payment creditor.name is manadtory - Maximum length
            is 140 

            - For IN IMPS  creditor.name is mandatory - Maximum length is 50 

            - For UK FPS Instant payment creditor.name field is mandatory -
            Maximum length is 40 

            - For IN UPI creditor.name is mandatory - Maximum length is 99 
             - For-US Wire, creditor.name is a mandatory field with max length 35 
             - For US ACH CCD/PPD payment, creditor.name is a mandatory field with max length is 22 
             - For US ACH IAT payment, creditor.name is a mandatory field with max length is 35 
             - For SEPA IDP creditor.name is mandatory with max length 128 
             - For Japan Instant payment creditor.name field is mandatory
          title: name
        address_lines:
          type: array
          description: |-
            Creditor's address_lines 
             - For TH Instant payment creditor.address_lines is not applicable 
             - For US Instant payment creditor.address_lines is optional 
             - For IN IMPS creditor.address_lines field is optional and allowed  seven instance with each line max length of 70 
             - For UK FPS Instant payment creditor.address_lines field is optional and allowed only four instance with each line max length of 35 
             - For IN UPI creditor.address_lines field is optional and allowed  seven instance with each line max length of 70 
             - For US Wire payment, creditor.address_lines field is conditional and up to 3 lines of 35 characters are allowed. Partial addresses will not be accepted, Street name, city and country should present in address_line. address_lines should present only if structured address tags (street name, building number, city, state and postal code) are not present 
             - For US ACH CCD/PPD/IAT payment, creditor.address_lines is mandatory field and allowed three instance with each line max length of 40 
             - For SEPA IDP creditor.address_lines is optional 
             - For Japan Instant payment creditor.address_lines field is not applicable
          items:
            $ref: '#/components/schemas/Address'
          title: address_lines
        street_name:
          maxLength: 70
          minLength: 1
          type: string
          description: |-
            Creditor's street_name 
             - For TH Instant payment creditor.street_name is not applicable 
             - For US Instant payment creditor.street_name is optional 
             - For IN IMPS creditor.street_name is optional 
             - For UK FPS Instant payment creditor.street_name field is not applicable 
             - For IN UPI creditor.street_name is optional 
             - For US Wire, creditor.street_name field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD/IAT payment, creditor.street_name is not applicable 
            - For SEPA IDP, creditor.street_name is optional with max length 70 
             - For Japan Instant payment creditor.street_name field is not applicable
          title: street_name
        building_number:
          maxLength: 16
          minLength: 1
          type: string
          description: >-
            Creditor's building_number 
             - For TH Instant payment creditor.building_number is not applicable 
             - For US Instant payment creditor.building_number field is optional 
             - For IN IMPS creditor.building_number field is optional 
             - For UK FPS Instant payment creditor.building_number field is not applicable 
             - For IN UPI creditor.building_number field is optional 
             - For US Wire payment, creditor.building_number field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD/IAT payment, creditor.building_number is not applicable 
            - For SEPA IDP, creditor.building_number is optional with max length
            16 
             - For Japan Instant payment creditor.building_number field is not applicable
          title: building_number
        postal_code:
          maxLength: 16
          minLength: 1
          type: string
          description: |-
            Creditor's postal_code 
             - For TH Instant payment creditor.postal_code is not applicable 
             - For US Instant payment creditor.postal_code field is optional 
             - For IN IMPS creditor.postal_code field is optional 
             - For UK FPS Instant payment creditor.postal_code field is not applicable 
             - For IN UPI creditor.postal_code field is optional 
             - For US Wire, creditor.postal_code field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD/IAT payment, creditor.postal_code is not applicable 
            - For SEPA IDP, creditor.postal_code is optional with max length 16 
             - For Japan Instant payment creditor.postal_code field is not applicable
          title: postal_code
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Creditor's city 
             - For TH Instant payment creditor.city is not applicable 
             - For US Instant payment creditor.city field is optional 
             - For IN IMPS creditor.city field is optional 
             - For UK FPS Instant payment creditor.city field is not applicable 
             - For IN UPI creditor.city field is optionaloptional 
             - For US Wire, creditor.city field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD/IAT payment, creditor.city is not applicable 
             - For SEPA IDP creditor.city field is optional 
             - For Japan Instant payment creditor.city field is not applicable
          title: city
        state:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Creditor's state 
             - For TH Instant payment creditor.state is not applicable 
             - For US Instant payment creditor.state field is optional 
             - For IN IMPS creditor.state field is optional 
             - For UK FPS Instant payment creditor.state is not applicable 
             - For IN UPI creditor.state field is optional 
             - For US Wire, creditor.state field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required. 
             - For US ACH CCD/PPD/IAT payment, creditor.state is not applicable 
             - For SEPA IDP creditor.state field is optional with max length 35 
             - For Japan Instant payment creditor.state field is not applicable
          title: state
        country:
          type: string
          description: |-
            Creditor's country 
             - For TH Instant payment creditor.country is not applicable 
             - For US Instant payment creditor.country field is optional 
             - For IN IMPS creditor.country field is optional 
             - For UK FPS Instant payment creditor.country field is mandatory, if creditor.address_line is provided by client 
             - For IN UPI creditor.country field is optional 
             - For US Wire, creditor.country field is conditional with max length 35. If using structured address, (Street name, city, State, Postal Code and country) tags are required 
             - For US ACH CCD/PPD/IAT payment, creditor.country is not applicable 
             - For SEPA IDP creditor.country field is optional 
             - For Japan Instant payment creditor.country field is not applicable
          pattern: ^[A-Z]{2,2}$
          title: country
        org_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Creditor's org_id 
             - For TH Instant payment creditor.org_id is not applicable 
             - For US Instant payment creditor.org_id field is optional 
             - For IN IMPS creditor.org_id is not applicable 
             - For UK FPS Instant payment creditor.org_id field is not applicable 
             - For IN UPI creditor.org_id is not applicable 
             - For US Wire, creditor.org_id is not applicable 
             - For US ACH CCD/PPD/IAT payment, creditor.org_id is not applicable 
             - For SEPA IDP creditor.org_id field is optional with max length 35 
             - For Japan Instant payment creditor.org_id field is not applicable
          title: org_id
        prvt_id:
          maxLength: 35
          minLength: 1
          type: string
          description: |-
            Creditor's prvt_id 
[...]
