openapi: 3.0.2
info:
  title: Instant Payments
  description: >
    Use the Citi Payments Express API to initiate these types of transaction and
    check their status:
     * Instant Payments
     * Payment Messages
     * Refunds
     * Beneficiary Validation

    **Note:** The Citi Payments Express API is for direct payments and refunds.
    To send payments or refunds to a third-party account or via a proxy, use the
    [CitiConnect Payments
    API](https://developer.citi.com/apim/go/home/X19OQVZJR0FUSU9OX0JBU0U2NF9fYXBpZG9jcy9vdXRnb2luZy1wYXltZW50cy9wYXltZW50cy9wYXltZW50cy1vdmVydmlldw..) 
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
  - url: https://b2b.api.icg.citi.com/citiconnect/prod
    description: production gateway url
  - url: https://sandbox.b2b.api.icg.citi.com/citiconnect/sb
    description: 'sbox url '
tags:
  - name: Beneficiary Validation
    description: >-
      Before initiating payment, POST beneficiary validation details to confirm
      that you are sending to the correct beneficiary. Validating beneficiary
      information is a two-step process:

      1. Make a POST request to the `/paymentservices/v1/beneficiaryvalidations`
      endpoint and include the required information inside the payload of the
      request to initiate the transaction.<br/><br/>

      You will receive an initial response, usually within 5 seconds, verifying
      that your request was received and indicating whether it was accepted. If
      your request was not accepted, check the request and resubmit it.

      2. When you receive the response to your POST request, retrieve the
      beneficiary details by making a GET request to the
      `/paymentservices/v1/beneficiaryvalidations/UETR`value endpoint, using the
      UETR value from your initial response.
  - name: Payments
    description: >-
      Use the Payments endpoint to initiate and track instant payments.

      While all payments can be sent through a single CitiConnect API, it is
      important to observe local country requirements to avoid rejects and
      returned transactions. The table below shows the minimum fields required
      to initiate a Thailand Instant Payment transaction. For a full list of
      fields please refer to the swagger files shared by your Citi
      representative. To ensure that a payment is initiated correctly:


      * Ensure you have the required datapoints to initiate a transaction in the
      country where your payee is located.

      * Make a ``POST`` request to the `/paymentservices/v1/payments` endpoint
      and include the required information inside the payload of the request to
      initiate the transaction.
  - name: Non-Payment Messages
  - name: Refunds
paths:
  /paymentservices/v1/beneficiaryvalidations:
    post:
      tags:
        - Beneficiary Validation
      summary: Validating the beneficiary account details
      operationId: expressBeneficiaryValidation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb606de4edb9a7a123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: >-
          This API allows the client to validate beneficiary details with the
          use of combination of fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Beneficiary-Validation-Request'
            examples:
              IN IMPS Beneficiary Validation Non Penny:
                $ref: >-
                  #/components/examples/In-Beneficiary-Validation-Request-Non-Penny
              IN IMPS Beneficiary Validation Penny:
                $ref: '#/components/examples/In-Beneficiary-Validation-Request-Penny'
              UPI IN Beneficiary Validation:
                $ref: '#/components/examples/Upi-In-Beneficiary-Validation-Request'
              UPI IN Mobile Number Beneficiary Validation:
                $ref: >-
                  #/components/examples/Upi-In-Mobile-Number-Beneficiary-Validation-Request
              UPI IN UPI ID Beneficiary Validation:
                $ref: >-
                  #/components/examples/Upi-In-UPI-ID-Beneficiary-Validation-Request
              US EWS Beneficiary Validation:
                $ref: '#/components/examples/US-EWS-Beneficiary-Validation-Request'
              UK Beneficiary Validation:
                $ref: '#/components/examples/UK-Beneficiary-Validation-Request'
              IN PAN Validation:
                $ref: '#/components/examples/IN-PAN-Validation-Request'
              Pay2China Merchant Validation:
                $ref: '#/components/examples/Pay2China-Beneficiary-Validation-Request'
          application/xml:
            schema:
              $ref: '#/components/schemas/Beneficiary-Validation-Request'
            examples:
              Pay2China Merchant Validation:
                $ref: '#/components/examples/Pay2China-Beneficiary-Validation-Request'
      security:
        - oAuth2:
            - selfservices
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Initial-Beneficiary-Validation-Response'
              examples:
                IN IMPS Initial Beneficiary Validation Response Non Penny:
                  $ref: >-
                    #/components/examples/In-Initial-Beneficiary-Validation-Response-Non-Penny
                IN IMPS Initial Beneficiary Validation Response Penny:
                  $ref: >-
                    #/components/examples/In-Initial-Beneficiary-Validation-Response-Penny
                UPI IN Initial Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-Initial-Beneficiary-Validation-Response
                UPI IN Mobile Number Initial Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-Mobile-Number-Initial-Beneficiary-Validation-Response
                UPI IN UPI ID Initial Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-UPI-ID-Initial-Beneficiary-Validation-Response
                US EWS Initial Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/US-EWS-Initial-Beneficiary-Validation-Response
                UK Initial Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/UK-Initial-Beneficiary-Validation-Response
                IN PAN Initial Validation Response:
                  $ref: '#/components/examples/IN-PAN-Initial-Validation-Response'
                Pay2China Initial Validation Response:
                  $ref: >-
                    #/components/examples/Pay2China-Initial-Beneficiary-Validation-Response
            application/xml:
              schema:
                $ref: '#/components/schemas/Initial-Beneficiary-Validation-Response'
              examples:
                Pay2China Initial Validation Response:
                  $ref: >-
                    #/components/examples/Pay2China-Initial-Beneficiary-Validation-Response
        '400':
          $ref: '#/components/responses/Bad-Request-Pay2China'
        '401':
          $ref: '#/components/responses/Unauthorized-Pay2China'
        '404':
          $ref: '#/components/responses/Not-Found-Pay2China'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed-Pay2China'
        '409':
          $ref: '#/components/responses/Conflict-Pay2China'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type-Pay2China'
        '500':
          $ref: '#/components/responses/Internal-Server-Error-Pay2China'
        default:
          $ref: '#/components/responses/Internal-Server-Error-Pay2China'
  /paymentservices/v1/beneficiaryvalidations/{uetr}:
    get:
      tags:
        - Beneficiary Validation
      summary: Inquire for the latest status of a beneficiary validation using UETR
      description: >-
        The API service responds with the latest beneficiary validation status
        of the unique end-to-end transaction reference (UETR) you inquire with.
      operationId: findBeneficiaryValidation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: end_to_end_id
          in: query
          schema:
            type: string
          description: Client provided reference number
        - name: uetr
          in: path
          description: Unique end-to-end transaction reference
          required: true
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          examples:
            payment_transaction_details_1:
              value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
      security:
        - oAuth2:
            - selfservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Final-Beneficiary-Validation-Response'
              examples:
                IN IMPS Final Beneficiary Validation Response Non Penny:
                  $ref: >-
                    #/components/examples/In-Final-Beneficiary-Validation-Response-Non-Penny
                IN IMPS Final Beneficiary Validation Response Penny:
                  $ref: >-
                    #/components/examples/In-Final-Beneficiary-Validation-Response-Penny
                UPI IN Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-Final-Beneficiary-Validation-Response
                UPI IN Mobile Number Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Response
                UPI IN Mobile Number Final Beneficiary Validation Penny Testing Response:
                  $ref: >-
                    #/components/examples/Upi-In-Final-Mobile-Number-Beneficiary-Validation-Penny-Testing-Response
                UPI IN UPI ID Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/Upi-In-Final-UPI-ID-Beneficiary-Validation-Response
                US EWS Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/US-EWS-Final-Beneficiary-Validation-Response
                UK Final Beneficiary Validation Response:
                  $ref: >-
                    #/components/examples/UK-Final-Beneficiary-Validation-Response
                IN PAN Final Validation Response:
                  $ref: '#/components/examples/IN-PAN-Final-Validation-Response'
                Pay2China Final Validation Positive Response:
                  $ref: >-
                    #/components/examples/Pay2China-Final-Beneficiary-Validation-Positive-Response
                Pay2China Final Validation Negative Response:
                  $ref: >-
                    #/components/examples/Pay2China-Final-Beneficiary-Validation-Negative-Response
            application/xml:
              schema:
                $ref: '#/components/schemas/Final-Beneficiary-Validation-Response'
              examples:
                Pay2China Final Validation Positive Response:
                  $ref: >-
                    #/components/examples/Pay2China-Final-Beneficiary-Validation-Positive-Response
                Pay2China Final Validation Negative Response:
                  $ref: >-
                    #/components/examples/Pay2China-Final-Beneficiary-Validation-Negative-Response
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/refunds:
    post:
      tags:
        - Refunds
      summary: Initiate an outgoing instant refund credit transfer.
      description: >-
        Return an incoming payment transaction to the sender using either the
        “end_to_end_id” and "value_date”, or “UETR”. The response to a refund
        transaction is asynchronous, which is either through a GET Refund
        request or as a push notification via webhook.
      operationId: expressRefundInitiation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb60-6de4-4edb-9a7a-123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: >-
          Return an incoming payment transaction to the sender using either the
          “end_to_end_id” and "value_date”, or “UETR”. The response to a refund
          transaction is asynchronous, which is either through a GET Refund
          request or as a push notification via webhook.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refunds-Initiation'
            examples:
              TH Refund Transfer:
                $ref: '#/components/examples/Th-Refund-Initiation-Request-Example'
              BR Refund Transfer:
                $ref: '#/components/examples/Br-Refund-Initiation-Request-Example'
              US Refund Transfer:
                $ref: '#/components/examples/Us-Refund-Initiation-Request-Example'
              SEPA Refund Transfer:
                $ref: '#/components/examples/SEPA-Refund-Initiation-Request-Example'
      security:
        - oAuth2:
            - paymentservices
      callbacks:
        Refund-Notification:
          $ref: '#/components/callbacks/Refund-Notification'
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds'
              examples:
                OK:
                  $ref: '#/components/examples/Refund-Initiation-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    get:
      tags:
        - Refunds
      summary: >-
        Inquire for the latest status of refund transations matching additional
        parameters.
      description: >-
        Get the latest refund transactions statuses initiated through the refund
        initiation endpoint using matching criteria. Currently, you can get the
        latest transactions statuses up to 90 days from the refund initiation
        date. If the latest transactions statuses date is 90+ days, the endpoint
        responds with HTTP status 404 (not found).
      operationId: findRefunds
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: end_to_end_id
          in: query
          description: The end to end ID included in the refund by the sender of the refund
          schema:
            $ref: '#/components/schemas/Restricted-Finx-Max-Text'
          examples:
            refund_transaction_details_1:
              value: 1L00IF2BCWUZF09
        - name: original_payment_uetr
          in: query
          description: >-
            The unique ‘UETR’ reference assigned to the original incoming credit
            on your account for which a refund was initiated. If multiple
            refunds were initiated against an incoming credit, the response API
            will include all these refunds
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          examples:
            refund_transaction_details_1:
              value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
        - name: creation_date_time_start
          in: query
          description: |-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
             - Start of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            refund_transaction_details_1:
              value: '2022-09-13T08:23:49.114Z'
        - name: creation_date_time_end
          in: query
          description: |-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 
             - end of date time, generated by CitiConnect API, when CitiConnect API accepted a refund initiation after validation
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            refund_transaction_details_1:
              value: '2022-09-13T08:23:49.114Z'
        - name: instructed_amount
          in: query
          description: refund amount
          schema:
            type: number
            maximum: 1000000000000000
          examples:
            refund_transaction_details_1:
              value: 73945.27
        - name: status_code
          in: query
          description: ISO 20022 transaction status code
          schema:
            type: string
            enum:
              - ACCC
              - ACTC
              - RJCT
          examples:
            refund_transaction_details_1:
              value: ACCC
        - $ref: '#/components/parameters/Off-Set-Param'
        - $ref: '#/components/parameters/Limit-Param'
      security:
        - oAuth2:
            - paymentservices
      responses:
        '200':
          description: Refund status
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds-Response'
              examples:
                Ok-ResponseExample:
                  $ref: '#/components/examples/Ok-Refund-Response-Multiple-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/refunds/{refund_id}:
    get:
      tags:
        - Refunds
      summary: Inquire for the latest status of a transaction using refund_id.
      description: >
        "Get the latest refund transaction status initiated through the refund
        initiation endpoint. Currently, you can get the latest transaction
        status up to 90 days from the refund initiation date. If the latest
        transaction status date is 90+ days, the endpoint responds with HTTP
        status 404 (not found)"
      operationId: findRefundById
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: refund_id
          in: path
          description: >-
            Unique Refund reference Id, generated during refund initiation and
            provided to you in the synchronous response to your refund POST
            request 
          required: true
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          examples:
            payment_transaction_details_1:
              value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
      security:
        - oAuth2:
            - paymentservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds'
              examples:
                Refund Status - Completed:
                  $ref: '#/components/examples/Ok-Refund-Response'
                Refund Status - Rejected:
                  $ref: '#/components/examples/Ok-Refund-Response-Failed'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/payments:
    post:
      tags:
        - Payments
      summary: Initiate an outgoing instant payment credit transfer.
      description: >-
        This endpoint validates your request and synchronously responds with
        HTTP status 202 (accepted) after successful validation. If validation
        fails, the endpoint synchronously responds with error (HTTP status 4XX /
        5XX and any applicable ISO 20022 reason code), indicating Citi couldn't
        accept your transaction initiation request.
      operationId: expressPaymentInitiation
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb606de4edb9a7a123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: >-
          This endpoint validates your request and synchronously responds with
          HTTP status 202 (accepted) after successful validation. If validation
          fails, the endpoint synchronously responds with error (HTTP status 4XX
          / 5XX and any applicable ISO 20022 reason code), indicating Citi
          couldn't accept your transaction initiation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment-Initiation-Request'
            examples:
              TH Proxy Credit Transfer:
                $ref: >-
                  #/components/examples/Th-Proxy-Payment-Initiation-Request-Example
              TH Account Credit Transfer:
                $ref: >-
                  #/components/examples/Th-Account-Payment-Initiation-Request-Example
              US Credit Transfer:
                $ref: '#/components/examples/Us-Payment-Initiation-Request-Example'
              IN IMPS Credit Transfer:
                $ref: >-
                  #/components/examples/In-Imps-Payment-Initiation-Request-Example
              IN IMPS FIR Credit Transfer:
                $ref: >-
                  #/components/examples/In-Imps-Fir-Payment-Initiation-Request-Example
              UK FPS Credit Transfer:
                $ref: '#/components/examples/Uk-Payment-Initiation-Request-Example'
              IN UPI Credit Transfer:
                $ref: >-
                  #/components/examples/In-Upi-Payment-Initiation-Request-Example
              IN NEFT Credit Transfer:
                $ref: >-
                  #/components/examples/In-Neft-Payment-Initiation-Request-Example
              US Wire Credit Transfer:
                $ref: >-
                  #/components/examples/Us-Wire-Payment-Initiation-Request-Example
              US ACH CCD/PPD Credit Transfer:
                $ref: >-
                  #/components/examples/Us-Ach-Ccd-Payment-Initiation-Request-Example
              US ACH IAT Credit Transfer:
                $ref: >-
                  #/components/examples/Us-Ach-Iat-Payment-Initiation-Request-Example
              JP Credit Transfer:
                $ref: '#/components/examples/Jp-Payment-Initiation-Request-Example'
              SEPA Credit Transfer:
                $ref: >-
                  #/components/examples/SEPA-AllFields-Payment-Initiation-Request-Example
              SEPA Credit Mandatory Transfer:
                $ref: >-
                  #/components/examples/SEPA-MandatoryFields-Payment-Initiation-Request-Example
              AU Credit Transfer:
                $ref: '#/components/examples/AU-Payment-Initiation-Request-Example'
              MX DFT Credit Transfer:
                $ref: >-
                  #/components/examples/MX-DFT-Payment-Initiation-Request-Example
              MX BKT Credit Transfer:
                $ref: >-
                  #/components/examples/MX-BKT-Payment-Initiation-Request-Example
              AR IP Credit Transfer:
                $ref: '#/components/examples/AR-IP-Payment-Initiation-Request-Example'
              UK BACS Credit Transfer:
                $ref: '#/components/examples/UK-BACS-Initiation-Request-Example'
      security:
        - oAuth2:
            - paymentservices
      callbacks:
        Payment-Notification:
          $ref: '#/components/callbacks/Payment-Notification'
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                TH Credit Transfer Response:
                  $ref: '#/components/examples/Payment-Initiation-Response-Example'
                US Credit Transfer Response:
                  $ref: '#/components/examples/Us-Payment-Initiation-Response-Example'
                IN IMPS Credit Transfer Response:
                  $ref: >-
                    #/components/examples/In-Imps-Payment-Initiation-Response-Example
                IN IMPS Fir Credit Transfer Response:
                  $ref: >-
                    #/components/examples/In-Imps-Fir-Payment-Initiation-Response-Example
                UK FPS Credit Transfer Response:
                  $ref: '#/components/examples/Uk-Payment-Initiation-Response-Example'
                Proxy-Transaction-Post:
                  $ref: '#/components/examples/Proxy-Transaction-Post'
                IN UPI Credit Transfer Response:
                  $ref: >-
                    #/components/examples/In-Upi-Payment-Initiation-Response-Example
                IN NEFT Credit Transfer Response:
                  $ref: >-
                    #/components/examples/In-Neft-Payment-Initiation-Response-Example
                JP Credit Transfer Response:
                  $ref: '#/components/examples/Jp-Payment-Initiation-Response-Example'
                US Wire Credit Transfer Response:
                  $ref: >-
                    #/components/examples/Us-Wire-Payment-Initiation-Response-Example
                US Ach Credit Transfer Response:
                  $ref: >-
                    #/components/examples/Us-Ach-Payment-Initiation-Response-Example
                SEPA Credit Transfer Response:
                  $ref: >-
                    #/components/examples/SEPA-AllFields-Payment-Initiation-Response-Example
                AU Credit Transfer Response:
                  $ref: '#/components/examples/AU-Payment-Initiation-Response-Example'
                MX DFT Credit Transfer Response:
                  $ref: >-
                    #/components/examples/MX-DFT-Payment-Initiation-Response-Example
                MX BKT Credit Transfer Response:
                  $ref: >-
                    #/components/examples/MX-BKT-Payment-Initiation-Response-Example
                AR IP Credit Transfer Response:
                  $ref: >-
                    #/components/examples/AR-IP-Payment-Initiation-Response-Example
                UK BACS Credit Transfer Response:
                  $ref: '#/components/examples/UK-BACS-Initiation-Response-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
    get:
      tags:
        - Payments
      summary: >-
        Inquire for the latest status of transations matching additional
        parameters.
      description: >
        -Get the latest statuses of payment transactions using matching
        criteria. Currently, you can get the latest transactions statuses up to
        90 days from the payment initiation date. If the latest transactions
        statuses date is 90+ days old, the endpoint responds with HTTP status
        404 (not found).

        -You can use this endpoint to pull the transactions of all payment
        methods that includes Wires, ACH, and IP. For ACH and Wires, use the
        end_to_end_id to pull the transactions.
      operationId: findPayments
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: encrypted-params
          in: header
          description: >
            Encrypt the key values as below. Debtor account or creditor account
            is mandatory.



            * **debtor_account:** Your Citi account for instant payment (debit)
            / outgoing


            * **creditor_account:** Your Citi account for instant payment
            (credit) / incoming


            * **debtor_proxy_id:** Debtor proxy identification - For US RTP
            Instant Payment - debtor_proxy_id header param is not applicable


            * **creditor_proxy_id:** Creditor proxy identification - For US RTP
            Instant Payment - creditor_proxy_id header param is not applicable


            * **debtor_virtual_account:** Your Citi virtual account for instant
            payment (debit) / outgoing - For US RTP Instant Payment -
            debtor_virtual_account header param is not applicable


            * **creditor_virtual_account:** Your Citi virtual account for
            instant payment (credit) / incoming - For US RTP Instant Payment -
            creditor_virtual_account header param is not applicable


            ***Sample header before encryption:***
            {"debtor_account":"3001386964","creditor_proxy_id":"a93d@gmail.com"}
          schema:
            type: string
            pattern: \w*\W*
            example: >-
              eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0.D4yD0xv7xuoy_YmFaz29dz85QejaLNI9EtlsiOIAP4v6v4hVFwHLx_Ad_pZoLNhc6lx_H2YPnxUcMem76UkO6kjQ849azAnC7WLAxlm_ytMCmuTsZTkhBoX3BHsgD4nmQ-6QhpklVmH8nz3czk6HVmJ5BYrtA6Q4N96bCaCCYkEDCrPLK6NHmTyBeKmRIe6LBzmia6Ct20ovHCU-juj_YPBsQGfqrMTrdSDInts_5DbmL49Q1eDRAeuU7vcSgl_ROJ54BHo-XwiZFuvUUXt5NIP4wxF0phoJ4oWk9VyFIgt29wG2Lht2WX5_0S8KIve9sBoOZIYHylK6YkUTk6FXMg.2hlCJTgnxZRsIqXwDhiMtg.X8HL_J5q9v7UQ-PX_JadGRte2grVQjbZ2Ep2k3kSKmjVuOam4OyZ8I429o-2xNHT9XrcH1RdNMfKC4QhfrtFXYlf39BzAmP89IWRilH_ez-HRy4CoainozRO0SjRzB2ZWgOQvr2J3UkvriHSLfYJEqA7reXcEWvifaISe-c_eh_zWaCqEOfe53oTPlcyjl9_lXGaIm07GMT-JQuPkYTDRVG2cV41bYAfrDjJFtbTwM7RAy0LAAtZxLCyRE5s8AHyFqsp6D_xtq5sjjy2UnfmMSp1sDwA0uwmAWNrH1orgr7JaPxzRa3zSIEeMoUN4SnAMwLPYhI65LnvdQjRo91M_ttqEr1CGJ1B_qkw9wSRV0rwe3Gmq12NmGLIe-khMPDXezI3toVY5urd8XeFMhqUeZBwzkR2NQvqTN3wOwgB_sMyG_Q27-LwwIXKDNxmGhZErLV73228dD2qSfiBwpGtEPz-keiN0cTFQJj4GM5ZrKNfx2Q_PDJZdP3eVDcUelpJooRiCl2DKWhNmBFQ4haGoVUSj6g88V_7_I6RQHC4s3EEG3rlVaoutzwyjrfp05vGg_8FiIcocGXnbUrBQa8-ZQ.K2RGIyBtuBoCfoDACIOYrA
        - name: end_to_end_id
          in: query
          description: Transaction identification provided by the debtor
          schema:
            $ref: '#/components/schemas/Restricted-Finx-Max-Text'
          examples:
            payment_transaction_details_1:
              value: 1L00IF2BCWUZF09
        - name: network_id
          in: query
          description: >-
            Transaction reference generated for or by a network (e.g.,
            PromptPay)
          schema:
            type: string
            maxLength: 36
          examples:
            payment_transaction_details_1:
              value: '209323283934'
        - name: batch_id
          in: query
          description: >-
            Identification for your Citi account consolidated debit or credit
            posting for the transactions
          schema:
            type: string
            maxLength: 35
          examples:
            payment_transaction_details_1:
              value: '492084893'
        - name: creation_date_time_start
          in: query
          description: >-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 

            - Instant Payment (Debit) - Start of date time, generated by
            CitiConnect API, when CitiConnect API accepted a payment initiation
            after validation 

            - Instant Payment (Credit) - Start of date time, either provided by
            the debtor bank or generated by Citi's transaction processing
            application, when a transaction was created
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            payment_transaction_details_1:
              value: '2022-09-13T08:23:49.114Z'
        - name: creation_date_time_end
          in: query
          description: >-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 

            - Instant Payment (Debit) - End of date time, generated by
            CitiConnect API, when CitiConnect API accepted a payment initiation
            after validation 

            - Instant Payment (Credit) - End of date time, either provided by
            the debtor bank or generated by Citi's transaction processing
            application, when a transaction was created
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            payment_transaction_details_1:
              value: '2022-09-13T08:23:49.554Z'
        - name: instructed_amount
          in: query
          description: Instructed amount
          schema:
            type: number
            maximum: 1000000000000000
          examples:
            payment_transaction_details_1:
              value: 73945.27
        - name: settlement_amount
          in: query
          description: >-
            Settlement amount (e.g., after any currency exchange or charge on
            the instructed amount)
          schema:
            type: number
            maximum: 1000000000000000
          examples:
            payment_transaction_details_1:
              value: 50000.23
        - name: status_date_time_start
          in: query
          description: >-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 

            - Instant Payment - Start date time of the transaction status change
            (when CitiConnect API change the status of the transaction)
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            payment_transaction_details_1:
              value: '2022-09-13T08:23:49.224Z'
        - name: status_date_time_end
          in: query
          description: >-
            GMT (ISO 8601 YYYY-MM-DDTHH:MM:SS.sssZ) 

            - Instant Payment - Start end time of the transaction status change
            (when CitiConnect API change the status of the transaction)
          schema:
            $ref: '#/components/schemas/Iso-Normalised-Date-Time'
          examples:
            payment_transaction_details_1:
              value: '2022-09-13T08:23:49.331Z'
        - name: status_code
          in: query
          description: ISO 20022 transaction status code
          schema:
            type: string
            enum:
              - ACTC
              - PDNG
              - RJCT
              - ACCC
              - ACWP
          examples:
            payment_transaction_details_1:
              value: ACCC
        - name: debtor_account_last4
          in: query
          description: >-
            Last 4 digits of a debtor account in combination with your Citi
            creditor account
          examples:
            payment_transaction_details_1:
              value: '6373'
          schema:
            type: string
            pattern: ^[0-9]{4}$
        - name: creditor_account_last4
          in: query
          description: >-
            Last 4 digits of a creditor account number in combination with your
            Citi debtor account
          examples:
            payment_transaction_details_1:
              value: '0783'
          schema:
            type: string
            pattern: ^[0-9]{4}$
        - $ref: '#/components/parameters/Off-Set-Param'
        - $ref: '#/components/parameters/Limit-Param'
      security:
        - oAuth2:
            - paymentservices
      responses:
        '200':
          description: Payment status
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
            result:
              schema:
                type: integer
                minimum: 1
                maximum: 1000
                default: 100
              description: Number of transaction status matching your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments-Response'
              examples:
                TH Status - Completed:
                  $ref: '#/components/examples/Ok-Response-Multiple'
                TH Status - Rejected:
                  $ref: '#/components/examples/Ok-Response-Failed-Multiple'
                US Status - Completed:
                  $ref: '#/components/examples/Us-Ok-Response-Multiple'
                US Status - Rejected:
                  $ref: '#/components/examples/Us-Ok-Response-Failed-Multiple'
                IN Status - Completed:
                  $ref: '#/components/examples/In-Ok-Response-Multiple'
                IN Status - Rejected:
                  $ref: '#/components/examples/In-Ok-Response-Failed-Multiple'
                IN UPI Status - Completed:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Multiple'
                IN UPI Status - Rejected:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Multiple-Failed'
                IN IMPS Fir Status - Completed:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response-Multiple'
                IN IMPS Fir Status - Rejected:
                  $ref: >-
                    #/components/examples/In-Imps-Fir-Ok-Response-Multiple-Failed
                UK FPS Status - Completed:
                  $ref: '#/components/examples/Uk-Ok-Response-Multiple'
                Uk FPS Status - Rejected:
                  $ref: '#/components/examples/Uk-Ok-Response-Failed-Multiple'
                JP Status - Completed:
                  $ref: '#/components/examples/Jp-Ok-Response-Multiple'
                JP Status - Rejected:
                  $ref: '#/components/examples/Jp-Ok-Response-Failed-Multiple'
                US WIRE Status - Completed:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Multiple'
                US WIRE Status - Rejected:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Multiple-Failed'
                US ACH Status - Completed:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Multiple'
                US ACH Status - Rejected:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Multiple-Failed'
                Payer-Id-Transaction-Get:
                  $ref: '#/components/examples/Payer-Id-Transaction-Get-Multiple'
                QR_account_transaction_GET:
                  $ref: '#/components/examples/Qr-Transaction-Get-Multiple'
                Proxy-Transaction-Get:
                  $ref: '#/components/examples/Proxy-Transaction-Get-Multiple'
                SEPA IDP Pending:
                  $ref: '#/components/examples/SEPA-IDP-Pending'
                SEPA IDP Completed:
                  $ref: '#/components/examples/SEPA-IDP-Completed'
                SEPA Status - Rejected:
                  $ref: '#/components/examples/SEPA-Ok-Reject'
                SEPA Status - Completed:
                  $ref: '#/components/examples/SEPA-Ok-Completed'
                IN NEFT Status - Completed:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Multiple'
                IN NEFT Status - Rejected:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Multiple-Failed'
                IN IMPS Get Status - Completed:
                  $ref: '#/components/examples/In-IMPS-Get-Response-Completed'
                IN IMPS Get Status - Rejected:
                  $ref: '#/components/examples/In-IMPS-Get-Response-Rejected'
                SEPA VoP Status - Completed:
                  $ref: '#/components/examples/SEPA-VoP-Ok-Completed'
                SEPA VoP Status - Rejected:
                  $ref: '#/components/examples/SEPA-VoP-Nok-Completed'
                AU Status - Completed:
                  $ref: '#/components/examples/AU-Ok-Completed-Status'
                AU Status - Rejected:
                  $ref: '#/components/examples/AU-Nok-Rejected'
                MX DFT Status - Completed:
                  $ref: '#/components/examples/MX-DFT-Status-Get-Response-Completed'
                MX DFT Status - Rejected:
                  $ref: '#/components/examples/MX-DFT-Status-Get-Response-Rejected'
                MX BKT Status - Completed:
                  $ref: '#/components/examples/MX-BKT-Status-Get-Response-Completed'
                MX BKT Status - Rejected:
                  $ref: '#/components/examples/MX-BKT-Status-Get-Response-Rejected'
                AR IP Status - Completed:
                  $ref: '#/components/examples/AR-IP-Status-Get-Response-Completed'
                AR IP Status - Rejected:
                  $ref: '#/components/examples/AR-IP-Status-Get-Response-Rejected'
                UK BACS Status - Rejected:
                  $ref: '#/components/examples/UK-BACS-Reject-Example'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/payments/{uetr}:
    get:
      tags:
        - Payments
      summary: Inquire for the latest status of a transaction using UETR.
      description: >
        Get the latest status of a payment transaction using unique end-to-end
        transaction reference (UETR). Currently, you can get the latest
        transaction status up to 90 days from the payment initiation date. If
        the latest transaction status date is 90+ days old, the endpoint
        responds with HTTP status 404 (not found).
      operationId: findPaymentByUetr
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: uetr
          in: path
          description: Unique end-to-end transaction reference
          required: true
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          examples:
            payment_transaction_details_1:
              value: 0c4fb98b-d77a-4468-96bb-0c88b3b8f75a
      security:
        - oAuth2:
            - paymentservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
              examples:
                TH Status - Completed:
                  $ref: '#/components/examples/Ok-Response'
                TH Status - Rejected:
                  $ref: '#/components/examples/Ok-Response-Failed'
                US Status - Completed:
                  $ref: '#/components/examples/Us-Ok-Response'
                US Status - Rejected:
                  $ref: '#/components/examples/Us-Ok-Response-Failed'
                UK Status - Completed:
                  $ref: '#/components/examples/Uk-Ok-Response'
                UK Status - Rejected:
                  $ref: '#/components/examples/Uk-Ok-Response-Failed'
                IN Status - Completed:
                  $ref: '#/components/examples/In-Ok-Response'
                IN Status - Rejected:
                  $ref: '#/components/examples/In-Ok-Response-Failed'
                IN UPI Status - Completed:
                  $ref: '#/components/examples/In-Upi-Ok-Response'
                IN UPI Status - Rejected:
                  $ref: '#/components/examples/In-Upi-Ok-Response-Failed'
                IN IMPS Fir Status - Completed:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response'
                IN IMPS Fir Status - Rejected:
                  $ref: '#/components/examples/In-Imps-Fir-Ok-Response-Failed'
                JP Status - Completed:
                  $ref: '#/components/examples/Jp-Ok-Response'
                JP Status - Rejected:
                  $ref: '#/components/examples/Jp-Ok-Response-Failed'
                US WIRE Status - Completed:
                  $ref: '#/components/examples/US-WIRE-Ok-Response'
                US WIRE Status - Rejected:
                  $ref: '#/components/examples/US-WIRE-Ok-Response-Failed'
                US ACH Status - Completed:
                  $ref: '#/components/examples/Us-Ach-Ok-Response'
                US ACH Status - Rejected:
                  $ref: '#/components/examples/Us-Ach-Ok-Response-Failed'
                Payer-Id-Transaction-Get:
                  $ref: '#/components/examples/Payer-Id-Transaction-Get'
                Qr-Transaction-Get:
                  $ref: '#/components/examples/Qr-Transaction-Get'
                Proxy-Transaction-Get:
                  $ref: '#/components/examples/Proxy-Transaction-Get'
                SEPA IDP Pending:
                  $ref: '#/components/examples/SEPA-IDP-Pending-Status'
                SEPA IDP Completed:
                  $ref: '#/components/examples/SEPA-IDP-Completed-Status'
                SEPA Status - Rejected:
                  $ref: '#/components/examples/SEPA-Ok-Reject-Status'
                SEPA Status - Completed:
                  $ref: '#/components/examples/SEPA-Ok-Completed-Status'
                IN NEFT Status - Completed:
                  $ref: '#/components/examples/In-Neft-Ok-Response'
                IN NEFT Status - Rejected:
                  $ref: '#/components/examples/In-Neft-Ok-Response-Failed'
                SEPA VoP Status - Completed:
                  $ref: '#/components/examples/SEPA-VoP-Ok-Completed-Status'
                SEPA VoP Status - Rejected:
                  $ref: '#/components/examples/SEPA-VoP-Nok-Completed-Status'
                AU Status - Completed:
                  $ref: '#/components/examples/AU-Ok-Completed'
                AU Status - Rejected:
                  $ref: '#/components/examples/AU-Nok-Rejected-status'
                MX DFT Status - Completed:
                  $ref: >-
                    #/components/examples/MX-DFT-Status-Single-Get-Response-Completed
                MX DFT Status - Rejected:
                  $ref: >-
                    #/components/examples/MX-DFT-Status-Single-Get-Response-Rejected
                MX BKT Status - Completed:
                  $ref: >-
                    #/components/examples/MX-BKT-Status-Single-Get-Response-Completed
                MX BKT Status - Rejected:
                  $ref: >-
                    #/components/examples/MX-BKT-Status-Single-Get-Response-Rejected
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/payments/{uetr}/messages:
    post:
      tags:
        - Non-Payment Messages
      summary: Initiate a non payment message
      description: >
        This endpoint validates your request and responds with HTTP status 202
        (accepted) after successful validation. If validation fails, the
        endpoint synchronously responds with error (HTTP status 4XX / 5XX and
        any applicable ISO 20022 reason code), indicating Citi couldn't accept
        your message initiation request.
      operationId: createMessage
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: uetr
          in: path
          required: true
          description: Unique end-to-end transaction reference
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
        - name: Idempotency-Id
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
          example: a44cbb60-6de4-4edb-9a7a-123414bba3bb
          description: >-
            Your unique identification for a POST request 
             - Maximum length is 128. 
            -  CitiConnect API responds with an error (HTTP status 4XX) if your
            POST request idempotency identification value is a duplicate across
            a recent history of idempotency identifications in Citi's database. 

            - If you don't receive any response (HTTP status 2XX, 4XX or 5XX)
            from Citi to your POST request and you wish to retry, reinitiate
            your request with the same idempotency identification to prevent
            accidental duplicate payment.
      requestBody:
        required: true
        description: >
          This endpoint validates your request and responds with HTTP status 202
          (accepted) after successful validation. If validation fails, the
          endpoint synchronously responds with error (HTTP status 4XX / 5XX and
          any applicable ISO 20022 reason code), indicating Citi couldn't accept
          your message initiation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message-Request'
            examples:
              Response to Request For Refund:
                $ref: '#/components/examples/Response-To-Request-For-Refund-Example'
              Response to Payment Confirmation Request:
                $ref: >-
                  #/components/examples/Response-To-Payment-Confirmation-Request-Example
              Accept Response to Incoming Payment Confirmation Request From CITI:
                $ref: >-
                  #/components/examples/Th-Response-To-Payment-Confirmation-Sucess-Request-Example
              Reject Response to Incoming Payment Confirmation Request From CITI:
                $ref: >-
                  #/components/examples/Th-Response-To-Payment-Confirmation-Reject-Request-Example
              Response to Request for Payment:
                $ref: '#/components/examples/Response-To-Request-For-Payment-Example'
              Outgoing Request for Refund:
                $ref: '#/components/examples/Outgoing-Request-For-Refund-Example'
              Response to Request for Information Compliance:
                $ref: >-
                  #/components/examples/Response-To-Request-For-Information-Compliance-Example
              Uk Stop Request:
                $ref: '#/components/examples/Uk-Stop-Request-Example'
              In Stop Request:
                $ref: '#/components/examples/In-Stop-Request-Example'
              Br Stop Request:
                $ref: '#/components/examples/Br-Stop-Request-Example'
      security:
        - oAuth2:
            - paymentservices
      responses:
        '202':
          description: Accepted
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Initial-Acknowledgement-Response'
              examples:
                Status - Initial-Response-To-Request-For-Refund:
                  $ref: '#/components/examples/Initial-Response-To-Request-For-Refund'
                Status - Initial-Response-To-Payment-Confirmation-Request:
                  $ref: >-
                    #/components/examples/Initial-Response-To-Payment-Confirmation-Request
                Status - Initial-Response-To-Request-For-Payment:
                  $ref: >-
                    #/components/examples/Initial-Response-To-Request-For-Payment
                Status - Initial-Outgoing-Request-For-Refund:
                  $ref: '#/components/examples/Initial-Outgoing-Request-For-Refund'
                Status - Initial-Response-To-Request-for-Information-Compliance:
                  $ref: >-
                    #/components/examples/Initial-Response-To-Request-for-Information-Compliance
                Uk Status - Stop Request:
                  $ref: '#/components/examples/Uk-Stop-Request'
                In Status - Stop Request:
                  $ref: '#/components/examples/In-Stop-Request'
                Br Status - Stop Request:
                  $ref: '#/components/examples/Br-Stop-Request'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
  /paymentservices/v1/payments/{uetr}/messages/{message_id}:
    get:
      tags:
        - Non-Payment Messages
      summary: >-
        Inquire for the latest status of a transaction using UETR and Message
        Id.
      operationId: findMessageByMessageId
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: >-
            Your unique identification, same as the identification you use for
            OAuth token generation, Citi shared with you during your CitiConnect
            API onboarding
          example: 6d3cf821-db6d-496d-bec0-064a362e9c31
        - name: uetr
          in: path
          description: Unique end-to-end transaction reference
          required: true
          schema:
            type: string
            pattern: >-
              ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
        - name: message_id
          in: path
          description: Unique message id
          required: true
          schema:
            type: string
            maxLength: 35
          examples:
            message_id_1:
              value: 0c4fb98bd77a446896bb0c88b3b8f75a
      security:
        - oAuth2:
            - paymentservices
      responses:
        '200':
          description: OK
          headers:
            request_id:
              schema:
                type: string
              description: Citi's unique identification for your request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Final-Message-Response'
              examples:
                Status - ValidRequest-For-Refund:
                  $ref: '#/components/examples/Ok-Request-For-Refund'
                Status - ValidRequest-For-Refund-SEPA:
                  $ref: '#/components/examples/Ok-Request-For-Refund-SEPA'
                Status - ValidResponsetoRequest-For-Refund:
                  $ref: '#/components/examples/Ok-Response-To-Request-For-Refund'
                Status - ValidResponsetoRequest-For-Refund-SEPA:
                  $ref: '#/components/examples/Ok-Response-To-Request-For-Refund-SEPA'
                Status - InvalidResponsetoRequest-For-Refund:
                  $ref: '#/components/examples/Not-Ok-Response-To-Request-For-Refund'
                Status - ValidPayment-Confirmation-Request:
                  $ref: '#/components/examples/Ok-Payment-Confirmation-Request'
                Status - ValidPending-Payment-Confirmation-Request:
                  $ref: '#/components/examples/Pending-Payment-Confirmation-Request'
                Status - ValidRequest-For-Payment:
                  $ref: '#/components/examples/Ok-Request-For-Payment'
                Status - ValidRequest-for-Information-Compliance:
                  $ref: '#/components/examples/OK-Request-For-Information-Compliance'
                Status - ValidResponsetoRequest-For-Information-Compliance:
                  $ref: >-
                    #/components/examples/OK-Response-To-Request-For-Information-Compliance
                Status - ValidRequest-For-Refund-Uk:
                  $ref: '#/components/examples/Ok-Request-For-Refund-Uk'
                Status - ValidRequest-For-Refund-In:
                  $ref: '#/components/examples/Ok-Request-For-Refund-In'
                Status - ValidRequest-For-Refund-Br:
                  $ref: '#/components/examples/Ok-Request-For-Refund-Br'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
        default:
          $ref: '#/components/responses/Internal-Server-Error'
components:
  parameters:
    Off-Set-Param:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        default: 0
      description: Payment status inquiry result page you want Citi to respond to you with
    Limit-Param:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        maximum: 1000
        minimum: 1
        default: 100
      description: |-
        Limit you want Citi to apply to your payment status inquiry results 
        - Maximum value is 1,000.
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: Event Type
      schema:
        type: string
    Beneficiary-Event-Type:
      name: Event-Type
      in: header
      required: false
      description: Event Type
      schema:
        type: string
    Event-Name:
      name: Event-Name
      in: header
      required: true
      description: Event Name
      schema:
        type: string
  schemas:
    Transaction-Initiation:
      type: object
      title: TransactionInitiation
      required:
        - instructed_amount
        - end_to_end_id
      properties:
        end_to_end_id:
          $ref: '#/components/schemas/Restricted-Finx-Max-Text'
        instruction_id:
          type: string
          description: >-
            Instruction ID of the payment 

            - For Thailand PromptPay transaction.instruction_id field is not
            applicable 

            - For United States transaction.instruction_id field is optional 

            - For IN IMPS transaction.instruction_id field is not applicable 

            - For UK FPS Instant payment transaction.instruction_id field is not
            applicable 

            - For IN UPI transaction.instruction_id field is not applicable 
             - For US WIRE, transaction.instruction_id field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.instruction_id field is not applicable 
             - For Japan Instant payment transaction.instruction_id field is not applicable 
             - For SEPA, transaction.instruction_id is optional field with maxLength as 35
          minLength: 1
          maxLength: 35
          title: instruction_id
        uetr:
          type: string
          pattern: >-
            ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
          description: UUID v4 format unique end-to-end transaction reference
          title: uetr
        reference:
          maxLength: 140
          minLength: 1
          type: string
          description: >-
            Electronic Data Interchange It works like a referece for clients to
            look for additional information in EDI system for Invoice & purchase
            data. 
             - For SEPA, TH Instant payment transaction.reference is not applicable 
             - For US Instant payment transaction.reference field is not applicable 
             - For IN IMPS transaction.reference is not applicable 
             - For UK FPS Instant payment transaction.reference is not applicable 
             - For JP Instant payment transaction.reference is optional. It allows zengin characters ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿﾀﾁﾂﾃﾄﾅﾆﾇﾈﾉﾊﾋﾌﾍﾎﾏﾐﾑﾒﾓﾔﾕﾖﾗﾘﾙﾚﾛﾜｦﾝ , upper character alphabets A-Z, numeric characters 0 to 9 and special characters as follows . , () - 
             - For IN UPI transaction.reference is not applicable 
             - For US WIRE, transaction.reference field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.reference field is not applicable
          title: reference
        bill_id_1:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: |-
            Bill identification 
            - Thailand PromptPay - Maximum length is 20. 
             - For SEPA, US Instant payment transaction.bill_id_1 field is not applicable 
             - For IN IMPS transaction.bill_id_1 field is not applicable 
             - For UK FPS Instant payment transaction.bill_id_1 field is not applicable  
             - For IN UPI transaction.bill_id_1 field is not applicable  
             - For US Wire, transaction.bill_id_1 field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.bill_id_1 field is not applicable 
             - For Japan Instant payment transaction.bill_id_1 field is not applicable
          title: bill_id_1
        bill_id_2:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: |-
            Bill identification 
            - Thailand PromptPay - Maximum length is 20. 
             - For SEPA, US Instant payment transaction.bill_id_2 field is not applicable 
             - For IN IMPS transaction.bill_id_2 field is not applicable 
             - For UK FPS Instant payment transaction.bill_id_2 field is not applicable 
             - For IN UPI transaction.bill_id_2 field is not applicable 
             - For US Wire, transaction.bill_id_2 field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.bill_id_2 field is not applicable 
             - For Japan Instant payment transaction.bill_id_2 field is not applicable
          title: bill_id_2
        bill_id_3:
          maxLength: 128
          pattern: ^[0-9A-Z]{1,128}$
          type: string
          description: |-
            Bill identification 
            - Thailand PromptPay - Maximum length is 20. 
             - For SEPA, US Instant payment transaction.bill_id_3 field is not applicable 
             - For IN IMPS transaction.bill_id_3 field is not applicable 
             - For UK FPS Instant payment transaction.bill_id_3 field is not applicable 
             - For IN UPI transaction.bill_id_3 field is not applicable 
             - For US Wire, transaction.bill_id_3 field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.bill_id_3 field is not applicable 
             - For Japan Instant payment transaction.bill_id_3 field is not applicable
          title: bill_id_3
        purpose:
          type: string
          minLength: 1
          maxLength: 6
          description: >-
            Purpose of a transaction 

            - For Thailand PromptPay transaction.purpose field is optional 

            - For US Instant payment transaction.purpose field is optional 

            - For IN IMPS transaction.purpose field is optional 

            - UK FPS Instant payment transaction.purpose field is optional 

            - For IN UPI transaction.purpose field is optional 

            - For India FIR IMPS Instant payment transaction.purpose field is
            mandatory  

            - CASH for cash management 

            - CNFL for confidential 

            - COST for payment for business expenses  

            - GDSV for payment related to purchase or sale of goods and
            services 

            - GP2P for person-to-person payment 

            - OTHR for other, if your payment doesn't fit any of the specific
            purpose codes  

            - RCPT for payment of a receipt 

            - SALA for salary payment  

            - SUPP for supplier payment 

            - TREA for treasury payment 

            - REFU for refund payment 

            - CLPO for Claim Payouts 

            - LODI for Loan Disbursals 

            - TIPO for Tips Payout 

            - GIEO for Gig economy 

            - VEPO for Vendor Payouts 

            - INPO for Incentive Payouts 

            - ISPO for Insurance Payouts 

            - MPPO for Merchant/Marketplace Payouts 

            - TXPO for Tax Payments 

            - RDPO for Rider payout 

            - GDDS for payment related to purchase or sale of goods 

            - SCVE for payment related to purchase or sale of services 

            - PAYR for payroll payment 

            - NOWS for Not Otherwise Specified 

            - INVS for Invoice Signed 

            - INSC for Payment Of Insurance Claim 

            - INSM for Installment 

            - PDEP for Property Deposit 

            - UBIL for Utilities Subscription Identification 

            - ACCT for Account Management 

            - CBLK for Bulk card transactions 

            - MP2P for Mobile P2P Payment 
             - For US Wire, transaction.purpose field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.purpose field is not applicable 
             - For Japan Instant payment transaction.purpose field is not applicable 
             - For SEPA, transaction.purpose field is conditional mandatory if purpose of payment is SALA for Salary
          title: purpose
        tax_code:
          type: number
          enum:
            - 0
            - 1
            - 2
          description: >-
            Tax code 

            - Thailand PromptPay - Provide 0 if transaction is without
            value-added tax or withholding tax. Provide 1 if transaction is with
            value-added tax or withholding tax. Provide 2 if transaction is with
            ewht
             - For US Instant payment transaction.tax_code field is not applicable 
             - For IN IMPS transaction.tax_code field is not applicable 
             - For UK FPS Instant payment transaction.tax_code field is not applicable 
             - For IN UPI transaction.tax_code field is not applicable 
             - For US Wire, transaction.tax_code field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.tax_code field is not applicable 
             - For SEPA, Japan Instant payment transaction.tax_code field is not applicable
          title: tax_code
        wht_code:
          type: string
          enum:
            - A
            - S
            - B
          description: >-
            Withholding tax (WHT) code 

            - Thailand PromptPay - If you provide tax_code 1, wht_code is
            required. Povide A for WHT always paid by the seller, S for WHT once
            paid by the seller or B for WHT paid by the buyer. 
             - For US Instant payment transaction.wht_code field is not applicable 
             - For IN IMPS transaction.wht_code field is not applicable 
             - For UK FPS Instant payment transaction.wht_code field is not applicable 
             - For IN UPI transaction.wht_code field is not applicable 
             - For US Wire, transaction.wht_code field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.wht_code field is not applicable 
             - For SEPA, Japan Instant payment transaction.wht_code field is not applicable
          title: wht_code
        income_type:
          type: string
          pattern: ^(00[0-9]|01[0-2])$
          description: >-
            Income type 

            - Thailand PromptPay -  If you provide tax_code 1, income_type is
            required. Provide 001 for service and professional fee for a company
            with Thailand location, 002 for service and professional fee for a
            company without Thailand location, 003 for royalty, 004 for rent,
            005 for ship rental fee, 006 for prize, 007 for promotion, 008 for
            actor fee, 009 advertising, 010 non-life insurance premium, 011 for 
            transportation cost and 012 for agricultural purchase. 
             - For US Instant payment transaction.income_type field is not applicable 
             - For IN IMPS transaction.income_type field is not applicable 
             - For UK FPS Instant payment transaction.income_type field is not applicable 
             - For IN UPI transaction.income_type field is not applicable  
             - For US Wire, transaction.income_type field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.income_type field is not applicable 
             - For SEPA, Japan Instant payment transaction.income_type field is not applicable
          title: income_type
        vat_rate:
          type: number
          minimum: 0
          description: |-
            Value-added tax (VAT) rate 
             - For TH Instant Payent Range is 0 - 99.99  
             - For US Instant payment transaction.vat_rate field is not applicable 
             - For IN IMPS transaction.vat_rate field is not applicable 
             - For UK FPS Instant payment transaction.vat_rate field is not applicable 
             - For IN UPI transaction.vat_rate field is not applicable  
             - For US Wire, transaction.vat_rate field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.vat_rate field is not applicable 
             - For SEPA, Japan Instant payment transaction.vat_rate field is not applicable
          title: vat_rate
        vat_amount:
          type: number
          maximum: 1000000000000000
          description: |-
            Value-added tax (VAT) amount 
             - Thailand PromptPay - Maximum amount is 2000000.00. 
             - For US Instant payment transaction.vat_amount field is not applicable 
             - For IN IMPS transaction.vat_amount field is not applicable 
             - For UK FPS Instant payment transaction.vat_amount field is not applicable 
             - For IN UPI transaction.vat_amount field is not applicable 
             - For US Wire, transaction.vat_amount field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.vat_amount field is not applicable 
             - For SEPA, Japan Instant payment transaction.vat_amount field is not applicable
          title: vat_amount
        wht_rate:
          type: number
          minimum: 0
          description: |-
            Withholding tax (WHT) rate (0 - 99.99) 
             - Thailand PromptPay - Maximum rate is 5.00. 
             - For US Instant payment transaction.wht_rate field is not applicable  
             - For IN IMPS transaction.wht_rate field is not applicable 
             - For UK FPS Instant payment transaction.wht_rate field is not applicable 
             - For IN UPI transaction.wht_rate field is not applicable 
             - For US Wire, transaction.wht_rate field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.wht_rate field is not applicable 
             - For SEPA, Japan Instant payment transaction.wht_rate field is not applicable
          title: wht_rate
        wht_amount:
          type: number
          maximum: 1000000000000000
          description: |-
            Withholding tax (WHT) amount 
             - Thailand PromptPay - Maximum amount is 2000000.00. 
             - For US Instant payment transaction.wht_amount field is not applicable 
             - For IN IMPS transaction.wht_amount field is not applicable 
             - For UK FPS Instant payment transaction.wht_amount field is not applicable 
             - For IN UPI transaction.wht_amount field is not applicable 
             - For US Wire, transaction.wht_amount field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.wht_amount field is not applicable 
             - For SEPA, Japan Instant payment transaction.wht_amount field is not applicable
          title: wht_amount
        invoice_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: The total amount of the invoice, typically excluding WHT amounts.
          title: invoice_amount
        charges_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: Any additional charges passed on to the beneficiary.
          title: charges_amount
        bill_due_date:
          type: string
          format: date
          description: |-
            ISO 8601 (YYYY-MM-DD) bill due date  
             - For TH Instant payment if client provides transaction.bill_id_1 value, require client to mandatorily provide bill_due_date value. 
             - For US Instant payment transaction.bill_due_date field is not applicable 
             - For IN IMPS transaction.bill_due_date field is not applicable 
             - For UK FPS Instant payment transaction.bill_due_date field is not applicable 
             - For IN UPI transaction.bill_due_date field is not applicable 
             - For US Wire, transaction.bill_due_date field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.bill_due_date field is not applicable 
             - For SEPA, Japan Instant payment transaction.bill_due_date field is not applicable
          title: bill_due_date
        value_date:
          type: string
          format: date
          description: >-
            YYYY-MM-DD Date in local time zone (e.g., EST for a United States
            RTP network transaction IST for IN IMPS) when Citi's transaction
            processing application starts processing a transaction 
             - For UK Instant payment transaction.value_date field is mandatory, for SIP transaction value Date should be current calender date or current calender date +1 or current calender date -1, for FDP transaction value Date should be current calender date +2 till current calender date +30 
             - For US Wire, transaction.value_date is a mandatory field 
             - For US ACH CCD/PPD/IAT payment, transaction.value_date field is mandatory 
             - For Japan Instant payment transaction.value_date field is mandatory, value date should be current calender date or current calender date -7 
             - For SEPA, transaction.value_date is a mandatory field, value date should be current calender date or future calender date till 180 days or current calender date -7 
             - For TH Instant payment, transaction.value_date is a optional field, value date can be current calender date or future calender date till 180 days or current calender date -7
          title: value_date
        instructed_amount:
          type: number
          minimum: 0.01
          maximum: 1000000000000000
          description: |-
            Instructed amount 
             - Thailand PromptPay - Maximum amount is 2000000.00 
             - US RTP - Maximum amount is 1000000.00 
             - IN IMPS - Maximum amount is 500000.00 
             - UK FPS Instant Payment - Maximum amount is 1000000.00 and allowed only Maximum of Two digits after decimal 
             - IN UPI - Maximum amount is 200000.00 
             - For US Wire, transaction.instructed_amount is a mandatory field. Maximum amount is $9999999999.99 
             - IN Japan - Maximum amount is 99,999,999 
             - For SEPA, transaction.instructed_amount field is mandatory and instructed_amount should always need to be greater than 0
          title: instructed_amount
        additional_info:
          type: string
          maxLength: 140
          minLength: 1
          description: |-
            Additional or remittance information 
            - Thailand PromptPay - Maximum length is 40. 
             - For US Instant payment transaction.additional_info field is not applicable 
             - For IN IMPS transaction.additional_info field is not applicable 
             - For UK FPS Instant payment transaction.additional_info field is optional and allowed max length is 105 
             - For IN UPI transaction.additional_info field is not applicable  
             - For US Wire, transaction.additional_info field is not applicable 
             - For US ACH CCD/PPD payments, transaction.additional_info field is optional. If the client want to verify the beneficiary/Creditor account then value should be /MICE/ACCTVERIFY and transaction amount can not exceed $0.99 
             - For US ACH IAT payment, transaction.additional_info field is not applicable 
             - For SEPA, Japan Instant payment transaction.additional_info field is not applicable
          title: additional_info
        unstructured_remittance_info:
          type: array
          description: >-
            Unstructured remitance information 
             - For TH Instant payment transaction.unstructured_remittance_info field is not applicable 
             - For US Instant payment transaction.unstructured_remittance_info field is optional - Maximum length is 140 and Single instance is allowed 
            - For IN IMPS transaction.unstructured_remittance_info field is
            optional where two lines at max allowed. 1st line to have max 35
            chars, 2nd line to have a max of 15 chars. Max length for this tag
            is 50 chars 
             - For UK FPS Instant payment transaction.unstructured_remittance_info is optional and allowed only four instance with each line max length of 35 
            - For IN UPI transaction.unstructured_remittance_info field is
            optional where two lines at max allowed. 1st line to have max 35
            chars, 2nd line to have a max of 15 chars. Max length for this tag
            is 50 chars /n - For US Wire,
            transaction.unstructured_remittance_info is an optional field, Upto
            4*35 Char can be provided . Payment Detail lines should not exceed
            35 characters per line 

            - For US ACH CCD/PPD/IAT payment,
            transaction.unstructured_remittance_info field is optional where two
            lines at max allowed. 1st line to have max 70 chars, 2nd line to
            have a max of 10 chars 
             - For Japan Instant payment transaction.unstructured_remittance_info field is not applicable 
             - For SEPA, transaction.unstructured_remittance_info field is optional and Maximum length is 140 and 1 instance is allowed 
            - For SEPA VoP Opt Out case, package id should be passed in this
            field starting with 'PID ,for instance 'PID6782512314'
          title: unstructured_remittance_info
          items:
            $ref: '#/components/schemas/Unstructured'
        advice_type:
          type: string
          description: >-
            Beneficiary advice type 

            - EMAL - EMail, FAXI - Fax, SMSM - SMS Phone Number, URID -
            UniformResourceIdentifier 

            - For TH Instant payment transaction.advice_type field is not
            applicable 

            - For US Instant payment transaction.advice_type field is not
            applicable 

            - For IN IMPS transaction.advice_type field is optional with max
            length 4 

            - For UK FPS Instant payment transaction.advice_type field is not
            applicable 

            - For IN UPI transaction.advice_type field is optional, applicable
            values are SMSM or EMAL 
             - For US Wire, transaction.advice_type field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.advice_type field is not applicable 
             - For SEPA, Japan Instant payment transaction.advice_type field is not applicable 
            - For India FIR IMPS payment transaction.advice_type field is
            optional with max length 4
          title: advice_type
          enum:
            - EMAL
            - FAXI
            - SMSM
            - URID
        advice_address:
          type: string
          maxLength: 2048
          minLength: 1
          description: >-
            Used by ISOXML Format for Internet Address 

            - For SEPA, TH Instant payment transaction.advice_address field is
            not applicable 

            - For US Instant payment transaction.advice_address field is not
            applicable 

            - For IN IMPS transaction.advice_address field is optional 

            - For UK FPS Instant payment transaction.advice_address field is not
            applicable 

            - For IN UPI transaction.advice_address field is mandatory, if
            transaction.advice_type is EMAL 
             - For US Wire, transaction.advice_address field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.advice_address field is not applicable 
             - For Japan Instant payment transaction.advice_address field is not applicable
          title: advice_address
        category:
          type: string
          description: >-
            Specifies the high level purpose of the instruction 

            - For SEPA, Thailand PromptPay transaction.category field is not
            applicable 

            - For United States transaction.category field is optional 

            - For IN IMPS transaction.category field is not applicable 

            - For UK FPS Instant payment transaction.category field is not
            applicable 

            - For IN UPI transaction.category field is not applicable 
             - For US Wire, transaction.category field is not applicable 
             - For US ACH CCD/PPD/IAT payment, transaction.category field is mandatory and allowed value is CCD, PPD and IAT 
             - For Japan Instant payment transaction.category field is not applicable 
             - For India FIR IMPS payment transaction.category field is applicable and allowed value is FIR and FDL
          enum:
            - CONSUMER
            - BUSINESS
            - CCD
            - PPD
            - IAT
            - FIR
            - FDL
            - BIZZ
            - CONS
            - GOVT
          title: category
        priority:
          type: string
          description: >-
            Indicator of the urgency of the payment to instructed party. 

            - For SEPA, Thailand PromptPay transaction.priority field is not
            applicable 

            - For United States transaction.priority field is not applicble 

            - For IN IMPS transaction.priority field is not applicable 

            - For UK FPS Instant payment transaction.priority field is not
            applicable 

            - For IN UPI transaction.priority field is not applicable 
             - For US Wire, transaction.priority is an optional field 
             - For US ACH CCD/PPD/IAT payment, transaction.priority field is not applicable 
             - For Japan Instant payment transaction.category field is not applicable
          enum:
            - HIGH
            - NORM
          title: priority
        charges_paid_by:
          type: string
          maxLength: 128
          minLength: 1
          description: >-
            Indicator of the charges of the payment. 

            - For Thailand PromptPay transaction.charges_paid_by field is not
            applicable 

            - For United States transaction.charges_paid_by field is not
            applicble 

            - For IN IMPS transaction.charges_paid_by field is not applicable 

            - For UK FPS Instant payment transaction.charges_paid_by field is
            not applicable 
             - For US Wire, transaction.charges_paid_by is an optional field with allowed values CRED,DEBT,SHAR 
             - For US ACH CCD/PPD/IAT payment, transaction.charges_paid_by field is not applicable 
             - For Japan Instant payment transaction.charges_paid_by field is not applicable 
             - For SEPA, transaction.charges_paid_by field is not applicable
          title: charges_paid_by
        payment_information_id:
          type: string
          maxLength: 35
          minLength: 1
          description: >-
            Payment Information ID for payment 

            - For SEPA, Thailand PromptPay transaction.payment_information_id
            field is not applicable 

            - For United States transaction.payment_information_id field is not
            applicable 

            - For IN IMPS transaction.payment_information_id field is not
            applicable 

            - For UK FPS Instant payment transaction.payment_information_id
            field is not applicable 
             - For US Wire, transaction.payment_information_id is an mandatory field and allowed max length is 34 Numeric (0-9). 
             - For US ACH CCD/PPD/IAT payment, transaction.payment_information_id field is mandatory and allowed max length is 10 Numeric (0-9). 
             - For Japan Instant payment transaction.payment_information_id field is not applicable
          title: payment_information_id
        category_purpose:
          type: string
          maxLength: 128
          minLength: 1
          description: |-
            category_purpose field contains purpose of the payments 
             - For TH, US,IN IMPS,UK FPS,IN UPI,US Wire,US ACH CCD/PPD/IAT,Japan Payments transaction.category_purpose is not applicable 
             - For SEPA, transaction.category_purpose is optional field and allows max length as 35
          title: category_purpose
        regulatory_reporting:
          $ref: '#/components/schemas/regulatory-reporting'
        structured_remittance_info:
          $ref: '#/components/schemas/structured-remittance-info'
        tax_information:
          type: array
          minItems: 1
          maxItems: 3
          description: tax_information
          items:
            $ref: '#/components/schemas/tax-information'
          title: tax_information
    tax-information:
      type: object
      title: tax_information
      properties:
        creditor_vat_branch_code:
          type: string
          maxLength: 5
          minLength: 1
          description: >-
            Code identifying the VAT branch of the receiver for this specific
            tax record.
          title: creditor_vat_branch_code
        income_type:
          type: string
          maxLength: 3
          minLength: 1
          description: >-
            Code categorizing the type of income as defined by the Revenue
            Department.
          title: income_type
        vat_amount:
          type: number
          minimum: 0.01
          maximum: 100000000000000000000
          description: The VAT amount for this particular taxable income set
          title: vat_amount
        taxable_amount:
          type: number
          minimum: 0.01
          maximum: 100000000000000000000
          description: The amount of income that is subject to tax for this specific set.
          title: taxable_amount
        wht_tax_amount:
          type: number
          minimum: 0.01
          maximum: 100000000000000000000
          description: The Withholding Tax amount for this particular taxable income set.
          title: wht_tax_amount
        wht_description:
          type: string
          maxLength: 1
          minLength: 1
          description: >-
            The condition or type of eWHT applicable to this record (e.g., R, A,
            O).
          title: wht_description
        debtor_vat_branch_code:
          type: string
          maxLength: 5
          minLength: 1
          description: >-
            Code identifying the VAT branch of the sender for this specific tax
            record.
          title: debtor_vat_branch_code
    Error-Response:
      type: object
      title: ErrorResponse
      xml:
        name: ErrorResponse
      properties:
        ref_id:
          type: string
          maxLength: 60
          description: Unique ID for the Transaction
          title: ref_id
          xml:
            name: RefId
        error_details:
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          title: error_details
          xml:
            name: Errordetails
    Error-Detail:
      type: object
      title: ErrorDetail
      xml:
        name: Errordetail
      properties:
        issue:
          xml:
            name: issue
          type: string
          maxLength: 200
          description: more details about the issue
          title: issue
        action:
          xml:
            name: action
          type: string
          maxLength: 350
          description: corrective action to be taken to resolve above issue
          title: action
        code:
          xml:
            name: code
          type: string
          maxLength: 8
          description: unique code representing the issue
          title: code
    Iso-Normalised-Date-Time:
      type: string
      format: date-time
      description: an ISODateTime whereby all timezoned dateTime values are UTC.
      title: IsoNormalisedDateTime
    Proxy-Id:
      maxLength: 255
      type: string
      description: |-
        Specifies a character string with a maximum length of 128 characters.
         - For TH Instant payment debtor.proxy_id is optional 
         - For US Instant payment debtor.proxy_id is not applicable 
         - For IN IMPS debtor.proxy_id is not applicable 
         - For UK FPS Instant payment debtor.proxy_id is not applicable 
         - For JP Instant payment debtor.proxy_id is not applicable 
         - For IN UPI Instant payment debtor.proxy_id is mandatory, applicable value VPA ID 
         - For US Wire and ACH CCD/PPD/IAT debtor.proxy_id is not applicable 
         - For SEPA IDP payment debtor.proxy_id is optional 
         - For SEPA, debtor.proxy_id is optional 
         - For Japan Instant payment debtor.proxy_id is not applicable
      title: Proxy-Id
    Address:
      type: string
      maxLength: 70
      minLength: 1
      maxItems: 7
      description: Address
      title: Address
    Field-level-Responses-For-RRFICS:
      type: object
      description: “FieldlevelResponsesForRRFICS”
      title: Field-level-Responses-For-RRFICS
      properties:
        field_id:
          type: string
          description: Field ID.
          minLength: 1
          maxLength: 16
          title: field_id
        field_name:
          type: string
          description: Field name.
          minLength: 1
          maxLength: 70
          title: field_name
        field_value:
          type: string
          description: Field value.
          minLength: 1
          maxLength: 70
          title: field_value
        individual:
          type: object
          description: |-
            Input type selected as Individual. 
             When individual is selected any one of the fields displayed under individual object are mandatory
          title: individual
          properties:
            name:
              type: string
              description: |-
                Name of individual.
                 If selected input type = individual, at least 1 field from individual object must be provided.
              minLength: 1
              maxLength: 140
              title: name
            street_name:
[...]
