swagger: '2.0'
info:
  title: Fixed Rate API
  version: ''
  description: >
    Use the Instant FX Order API to submit requests for standard orders,
    drawdowns, preorders (intent to pay), and refund orders. You can submit
    multiple orders in a single request.
schemes:
  - https
host: icg.api.citigroup.net
basePath: /markets/internal
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  client_credential:
    type: oauth2
    description: client_credential
    flow: application
    scopes:
      /fxapi: ''
    tokenUrl: https://icg.api.citigroup.net/markets/internal/cv/api/fx/oauth2/token
  client_id:
    type: apiKey
    in: query
    name: client_id
security:
  - client_id: []
    client_credential:
      - /fxapi
paths:
  /fxgateway/api/v1:
    post:
      summary: Submit Standard Orders
      responses:
        '200':
          description: 200 OK
        '400':
          description: Bad Request
        '401':
          description: Invalid Address
      parameters:
        - name: fx-trade-request
          required: false
          in: body
          schema:
            $ref: '#/definitions/FX%20trade%20request'
          description: FX trade request
definitions:
  FX trade request:
    description: ''
    type: object
    properties:
      action:
        type: string
        description: |
          Specifies that this request is for an Instant Order.
      jsonReqId:
        type: string
        description: The unique identifier for this JSON request.
      senderCompId:
        type: string
        description: >-
          The Citi-assigned value that identifies the firm sending the message.
          Maxmimum length is 20 characters, and the ID may contain special
          characters.
      onBehalfofCompID:
        type: string
        description: >-
          The Citi-assigned value used to identify the firm or entity on whose
          behalf the order is being sent.
      sendingTime:
        type: string
        description: >-
          The time the order was sent. Use UTC format: YYYMMDD-HH:MM:SS.mmm.
          Maximum length is 21 characters.
      account:
        type: string
        description: The client's Citi-assigned account identifier.
      clOrdID:
        type: string
        description: >-
          The unique ID for the order, assigned by the client. This reference
          must be unique to this order. Maximum length is 64 characters.
      tenor:
        type: string
        description: >+

          Specifies the order tenor. 


          <details>

          <summary>Allowable values for ``tenor``:</summary>


          | Tenor                 | Value  |

          |-----------------------|--------|

          | Overnight             | ON     |

          | Tom/Next              | TN     |

          | Spot                  | SP     |

          | Spot/Next             | SN     |

          | One Week              | 1W     |

          | Two Week              | 2W     |

          | Three Week            | 3W     |

          | One Month             | 1M     |

          | Two Month             | 2M     |

          | Three Month           | 3M     |

          | Four Month            | 4M     |

          | Five Month            | 5M     |

          | Six Month             | 6M     |

          | Seven Month           | 7M     |

          | Eight Month           | 8M     |

          | Nine Month            | 9M     |

          | Ten Month             | 10M    |

          | Eleven Month          | 11M    |

          | One Year              | 1Y     |

          | Fifteen Months        | 15M    |

          | Eighteen Months       | 18M    |

          | Twenty One Months     | 21M    |

          | Two Years             | 2Y     |

          | Specify a Broken Date | BROKEN |


          </details>



          &nbsp;


          **Note:** 

          If you are specifying a value date, the tenor must be specified as
          ``BROKEN``.


    example:
      value:
        - debtor:
            account: '897654321'
          creditor:
            account: '54805587254'
            virtual_account: '9987654321'
          method:
            country: TH
            instructed_currency: THB
            method: IP
            type: CT
          transaction:
            end_to_end_id: r/434SKtUcdGQ
            uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
            local_reference: 7634an78543
            purpose: CASH
            network_id: '209323283934'
            type: credit
            creation_date_time: '2022-09-13T08:23:49.112Z'
            value_date: '2022-09-13'
            instructed_amount: 29876.98
            settlement_currency: THB
            settlement_amount: 29876.98
            status:
              date_time: '2022-09-13T08:23:56.223Z'
              code: ACCC
              description: Completed
        - debtor:
            account: '660654321'
          creditor:
            account: '78905587254'
            virtual_account: '9987654321'
          method:
            country: TH
            instructed_currency: THB
            method: IP
            type: CT
          transaction:
            end_to_end_id: r/434SKtUcdGQ
            uetr: 4f09214d-296c-494b-8e9c-810bf1d9fc93
            local_reference: 7634an78543
            purpose: CASH
            network_id: '209323283934'
            type: credit
            creation_date_time: '2022-09-13T08:23:49.112Z'
            value_date: '2022-09-13'
            instructed_amount: 286.98
            settlement_currency: THB
            settlement_amount: 286.98
            status:
              date_time: '2022-09-13T08:23:56.223Z'
              code: ACCC
              description: Completed
tags: []
