swagger: '2.0'
info:
  description: >-
    Use this API to create, modify, and cancel card requests for partner
    systems.
  version: 1.0.6
  x-ibm-name: mobile-virtualcard-lifecycle-api
  title: Mobile VirtualCard Lifecycle
  contact:
    name: Citi Commercial Cards Support
    email: >-
      dl.icg.global.commercial.cards.digital.production.support@imcap.ap.ssmb.com
servers:
  - url: https://tts.apib2b.citi.com/tts/cards/mobile/v1
    description: production gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/tts/cards/mobile/v1
    description: sandbox URL
security:
  - clientCredentials: []
schemes:
  - https
paths:
  /virtualcard:
    post:
      produces:
        - application/json
      consumes:
        - application/json
      summary: Card Creation Request
      description: >-
        Post data to create a virtual card and set its associated spending
        controls, custom reference data and payment beneficiaries. It allows you
        to place a VCA creation request for secure purchasing, with increased
        Transaction-Level Controls, limit card number use by MCC, amounts, dates
        and even specific suppliers.
      operationId: create
      parameters:
        - name: country
          in: header
          description: >-
            Country code in ISO 3166 alpha-2 format.. <br>`Example`: USA(United
            States of America), SGP(Singapore),   PHL(Philippines),
            THA(Thailand)
          type: string
          required: true
        - name: region
          in: header
          description: 'region of the client. <br>`Example`: APAC, EMEA, NAM'
          type: string
          required: true
        - name: authorization
          in: header
          description: >-
            Request should contain OAuth Authorization header <br> **OAuth:**
            <br> Request contains a header field in the form of Authorization:
            Bearer (access_token), where access_token is generated using the
            OAuth url<br>  `Example` : Bearer
            AAIkMjU2OTI4OGQtODY5Ny00ZjgzLTg0NzEtY2QyZWYwZjM5ZjJk_m3yqnGAbxR_ovVx5bs9OUfF0dd52qHadLtw2ARkwCw2BJcwg1zHsTOuvjPtsW5ioxxd2xXXjlDDCKLuvg15Ce1gzGxTu17xEvLOzSECLIdU_02JbpS3h9ee9GzB-u_MPfKseOiACXYAh_7AVWQhtRMLDKd8RgCUsNzTGXXBeE4
          type: string
          required: true
        - name: req-sys-id
          in: header
          description: >-
            Client Unique id to identify the particular request.<br> `Format`:
            UUID <br> `Example`: 7d13245e-243a-5e8f-bc10-8626ec728291
          type: string
          required: true
        - name: Content-Type
          in: header
          description: >-
            The MIME type of the body of the request (used with POST and PUT
            requests). Always pass application/json.
          type: string
          required: false
        - name: Accept-Language
          in: header
          description: List of acceptable human languages for response.
          type: string
          required: false
        - name: CardCreationRequest
          in: body
          description: CardCreationRequest
          required: true
          schema:
            $ref: '#/definitions/CardCreationRequest'
      responses:
        '202':
          description: Success response sent to client with necessary response fields.
          schema:
            $ref: '#/definitions/CardCreationAckResponse'
        '400':
          description: >-
            Invalid error response sent to client indicating bad request from
            client.
          schema:
            $ref: '#/definitions/CardCreation400FailureResponse'
        '401':
          description: >-
            Unauthorized error response sent to client indicating authentication
            failure from client.
          schema:
            $ref: '#/definitions/CardCreation401FailureResponse'
        '405':
          description: >-
            Error response sent to client indicating invalid HTTP method
            received from client.
          schema:
            $ref: '#/definitions/CardCreation405FailureResponse'
        '500':
          description: Error response to indicate the CITI server errors.
          schema:
            $ref: '#/definitions/CardCreation500FailureResponse'
    put:
      produces:
        - application/json
      consumes:
        - application/json
      summary: Updated Card Information
      description: >-
        Use this endpoint to modify an existing virtual card and set its
        associated spending controls, custom reference data and payment
        beneficiaries
      operationId: modify
      parameters:
        - name: country
          in: header
          description: >-
            Country code in ISO 3166 alpha-2 format.. <br>`Example`: USA(United
            States of America), SGP(Singapore),   PHL(Philippines),
            THA(Thailand)
          type: string
          required: true
        - name: region
          in: header
          description: 'region of the client. <br>`Example`: APAC, EMEA, NAM'
          type: string
          required: true
        - name: authorization
          in: header
          description: >-
            Request should contain OAuth Authorization header <br> **OAuth:**
            <br> Request contains a header field in the form of Authorization:
            Bearer (access_token), where access_token is generated using the
            OAuth url<br>  `Example` : Bearer
            AAIkMjU2OTI4OGQtODY5Ny00ZjgzLTg0NzEtY2QyZWYwZjM5ZjJk_m3yqnGAbxR_ovVx5bs9OUfF0dd52qHadLtw2ARkwCw2BJcwg1zHsTOuvjPtsW5ioxxd2xXXjlDDCKLuvg15Ce1gzGxTu17xEvLOzSECLIdU_02JbpS3h9ee9GzB-u_MPfKseOiACXYAh_7AVWQhtRMLDKd8RgCUsNzTGXXBeE4
          type: string
          required: true
        - name: req-sys-id
          in: header
          description: >-
            Client Unique id to identify the particular request.<br> `Format`:
            UUID <br> `Example`: 7d13245e-243a-5e8f-bc10-8626ec728291
          type: string
          required: true
        - name: Content-Type
          in: header
          description: >-
            The MIME type of the body of the request (used with POST and PUT
            requests). Always pass application/json.
          type: string
          required: false
        - name: Accept-Language
          in: header
          description: List of acceptable human languages for response.
          type: string
          required: false
        - name: cardModifyRequest
          in: body
          description: cardModifyRequest
          required: true
          schema:
            $ref: '#/definitions/CardModifyRequest'
      responses:
        '200':
          description: >-
            Success response sent to client from Citi after modification of
            given card details is complete.
          schema:
            $ref: '#/definitions/CardModifyResponse'
        '400':
          description: >-
            Invalid error response due to validation failure/bad request sent to
            client from Citi.
          schema:
            $ref: '#/definitions/CardModify400FailureResponse'
        '401':
          description: >-
            Unauthorized error response due to validation failure/bad request
            sent to client from Citi.
          schema:
            $ref: '#/definitions/CardModify401FailureResponse'
        '405':
          description: >-
            HTTP method not allowed error response due to wrog HTTP method sent
            to client from Citi.
          schema:
            $ref: '#/definitions/CardModify405FailureResponse'
        '500':
          description: >-
            Internal server error response sent to client from Citi due to
            internal error.
          schema:
            $ref: '#/definitions/CardModify500FailureResponse'
    delete:
      produces:
        - application/json
      consumes:
        - application/json
      summary: Virtual Card
      description: Cancel a virtual card when it is no longer needed.
      operationId: cancel
      parameters:
        - name: country
          in: header
          description: >-
            Country code in ISO 3166 alpha-2 format.. <br>`Example`: USA(United
            States of America), SGP(Singapore),   PHL(Philippines),
            THA(Thailand)
          type: string
          required: true
        - name: region
          in: header
          description: 'region of the client. <br>`Example`: APAC, EMEA, NAM'
          type: string
          required: true
        - name: authorization
          in: header
          description: >-
            Request should contain OAuth Authorization header <br> **OAuth:**
            <br> Request contains a header field in the form of Authorization:
            Bearer (access_token), where access_token is generated using the
            OAuth url<br>  `Example` : Bearer
            AAIkMjU2OTI4OGQtODY5Ny00ZjgzLTg0NzEtY2QyZWYwZjM5ZjJk_m3yqnGAbxR_ovVx5bs9OUfF0dd52qHadLtw2ARkwCw2BJcwg1zHsTOuvjPtsW5ioxxd2xXXjlDDCKLuvg15Ce1gzGxTu17xEvLOzSECLIdU_02JbpS3h9ee9GzB-u_MPfKseOiACXYAh_7AVWQhtRMLDKd8RgCUsNzTGXXBeE4
          type: string
          required: true
        - name: req-sys-id
          in: header
          description: >-
            Client Unique id to identify the particular request.<br> `Format`:
            UUID <br> `Example`: 7d13245e-243a-5e8f-bc10-8626ec728291
          type: string
          required: true
        - name: Content-Type
          in: header
          description: >-
            The MIME type of the body of the request (used with POST and PUT
            requests). Always pass application/json.
          type: string
          required: false
        - name: Accept-Language
          in: header
          description: List of acceptable human languages for response.
          type: string
          required: false
        - name: CancelCardRequest
          in: body
          description: CancelCardRequest
          required: true
          schema:
            $ref: '#/definitions/CancelCardRequest'
      responses:
        '200':
          description: >-
            Success response sent to client from Citi after cancellation of card
            is complete.
          schema:
            $ref: '#/definitions/CancelCardResponse'
        '206':
          description: >-
            Partial response that contain both success & error response details
            that indicates partial validation failures.
          schema:
            $ref: '#/definitions/CancelCardPartialSuccessResponse'
        '400':
          description: >-
            Invalid error response due to validation failure/bad request sent to
            client from Citi.
          schema:
            $ref: '#/definitions/CancelCard400FailureResponse'
        '401':
          description: >-
            Unauthorized error response due to validation failure/bad request
            sent to client from Citi.
          schema:
            $ref: '#/definitions/CancelCard401FailureResponse'
        '405':
          description: >-
            HTTP method not allowed error response due to wrog HTTP method sent
            to client from Citi.
          schema:
            $ref: '#/definitions/CancelCard405FailureResponse'
        '500':
          description: >-
            Internal server error response sent to client from Citi due to
            internal error.
          schema:
            $ref: '#/definitions/CancelCard500FailureResponse'
definitions:
  CardCreationRequest:
    required:
      - vcaRecipientDetails
      - cardCreationDetails
      - programId
      - cardHolderUserId
      - countryOfIssuance
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: Billy33896
        maxLength: 20
        minLength: 1
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
      vcaRecipientDetails:
        description: >-
          Card holder/user's demographic data to be sent by client to perform
          CITI screening based on country of issuance.
        type: object
        $ref: '#/definitions/VcaRecipientDetails'
      cardCreationDetails:
        description: >-
          Card related information needs to be sent by client to create virtual
          card via Citi.
        type: object
        $ref: '#/definitions/CardCreationDetails'
  CardCreationDetails:
    properties:
      programName:
        description: Company Name as defined in Virtual Card System.
        type: string
        format: alphanumeric [a-zA-Z0-9] + special character
        example: VCA Program NAM
        maxLength: 250
        minLength: 1
      fundingSourceId:
        description: >-
          Unique identifier of the funding source to which the virtual card
          rolls up. It's numeric for MASTER
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: '2718'
        maxLength: 19
      fundingSourceName:
        description: >-
          Descriptive name of the real card to which the virtual card rolls up.
          Apllicable only for MASTER.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: Funding Account 1 for Subsidiary XYZ
        maxLength: 100
      expiryDate:
        description: >-
          Expiry Date of the virtual card account. Must not be more than 24
          months in the future. If a modification of this parameter is not
          needed, the field can be left out of the modification request call.
          Citi will then apply the most recently defined value for this field.
          Data type has been kept has String instead of Number due to prceeding
          0 may get  truncated. Applicable only for MASTER.
        type: string
        format: MMYYYY ([0-9]{6})
        example: '102021'
        maxLength: 6
      mccGrouping:
        description: >-
          Limits authorizations to defined Merchant Category Codes. Must be the
          Purchase Type name associated to the template.
        type: array
        items:
          type: string
        format: alphabets [a-zA-Z]
        example:
          - Air MCCs
      currencyCode:
        description: >-
          Currency Code in which VCA amounts are expressed. currencyCode is not
          required if currencyType = B
        type: string
        format: numeric [0-9]
        example: '036'
        maxLength: 3
      currencyType:
        description: >-
          Defines the type of the VCA currency. - Value B stands for Billing
          Currency which indicates that the VCA currency is equal to the billing
          currency of the underlying funding source. - Value M stands for
          Merchant Currency which indicates that the VCA currency is expressed
          in merchant currency and not in billing currency. Mandatory for
          Mastercard
        type: string
        format: B/M
        example: M
      timeZone:
        description: >-
          Defines the time zone applicable for any date or time parameters
          within controls set for a VCA.If any of the following controls are
          used, timeZone is required:Validity Period Control,Aging Velocity
          Control (Mastercard only), Curfew Control and Time of Day Control.It
          sets the specific timeframe when the account and its controls will
          become active.
        type: string
        format: UTC-OFFSET (UTC-[0-9]{2}:[0-9]{2})
        example: UTC-04:00
        maxLength: 9
      templateId:
        description: >-
          Identifies the template that was setup in the VCA system and that
          should be used for this virtual card. The template setup in the VCA
          system defines which controls, custom data fields and MCC groupings
          can be used. Mandatory for Mastercard
        type: integer
        format: int64
        example: 36091
        maximum: 19
      getCardImage:
        description: A visual representation of the virtual card account front and back.
        type: boolean
        format: boolean
        example: true
      customReference:
        description: >-
          Up to 29 custom reference field lables and values can be defined in a
          given request. A custom reference value cannot be sent without a
          corresponding custom reference label.
        type: array
        example:
          - customReferenceValue: Business
            customReferenceLabel: Ticket Class
          - customReferenceValue: IND
            customReferenceLabel: Departure Airport Code
        items:
          $ref: '#/definitions/CustomReference'
      enableSpendVelocityControl:
        description: >-
          Limits the frequency and total cumulative amount of authorizations
          performed on the VCA within a specified period. The control is
          mandatory unless Aging Velcotiy Control is used. This control cannot
          be used in combination with the Aging Velocity Control.
        type: boolean
        format: boolean
        example: true
      spendVelocity:
        type: array
        items:
          $ref: '#/definitions/SpendVelocityRequest'
      enableValidityPeriodControl:
        description: >-
          Limits authorization activity to a specific time period.  This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed as True,
          validityStartDate and validityEndDate are required.
        type: boolean
        format: boolean
        example: true
      validityStartDate:
        description: >-
          Identifies the date from which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
          Mandatory if enableValidityPeriodControl is true. Mandatory for
          MASTER, optional for VISA.
        type: string
        title: validityStartDate
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2024-09-28'
        maxLength: 10
      validityEndDate:
        description: >-
          Identifies the date until which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
          Mandatory if enableValidityPeriodControl is true
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2024-10-28'
        maxLength: 10
      enableAmountRangeControl:
        description: >-
          Approves a transaction only if the requested amount for authorization
          is equal to or greater than the Minimum Amount and less than or equal
          to the Maximum Amount. This is an optional control. If this control is
          not used, pass False or leave this section out from the request. If
          value passed is True, maxAmount and minAmount are required.
        type: boolean
        format: boolean
        example: true
      maxAmount:
        description: >-
          Identifies the maximum allowed transaction amount. 14 digits max to
          the left of decimal and 2 digits max to the right of the decimal.
          Mandatory if enableAmountRangeControl is true 
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 2000.25
        maximum: 15
      minAmount:
        description: >-
          Identifies the minimum allowed transaction amount. 14 digits max to
          the left of decimal and 2 digits max to the right of the decimal.
          Mandatory if enableAmountRangeControl is true 
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 1000.75
        maximum: 15
      enableTransactionLimitControl:
        description: >-
          Limits individual transactions to a maximum amount.  This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True,
          amountLimit is required.
        type: boolean
        format: boolean
        example: true
      amountLimit:
        description: >-
          Identifies the maximum allowed transaction amount. Mandatory if
          enableTransactionLimitControl is true
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 1000.25
        maximum: 15
      enableCurfewControl:
        description: >-
          Limits authorization activity to a single time period for each day
          selected. This is an optional control. If this control is not used,
          pass False or leave this section out from the request. If value passed
          is True, curfewTime is required. Applicable only for MASTER.
        type: boolean
        format: boolean
        example: true
      curfewTime:
        type: object
        format: object
        example:
          startTime: '12: 30'
          endTime: '13: 30'
          weekdaysEffective:
            - Mon
            - Tue
        $ref: '#/definitions/CurfewTime'
      enableTimeOfDayControl:
        description: >-
          Limits authorization request to defined time periods each day. This is
          an optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True, timeOfDay
          is required.
        type: boolean
        format: boolean
        example: true
      timeOfDay:
        type: array
        items:
          $ref: '#/definitions/TimeOfDay'
        example:
          - startTime: '12: 30'
            endTime: '13: 30'
            weekdayEffective: Mon
          - startTime: '13: 30'
            endTime: '14: 30'
            weekdayEffective: Tue
      enableAgingVelocityControl:
        description: >-
          Sets a cumulative amount and keeps track of the current remaining
          balance. Allows the requester to "age off" approved authorization
          requests that have not been cleared by the merchant after a defined
          number of days. This is an optional control. If this control is not
          used, pass False or leave this section out from the request. If value
          passed is True, authorizationHoldDays and cumulativeSpendLimit are
          required.
        type: boolean
        format: boolean
        example: true
      authorizationHoldDays:
        description: >-
          Identifies the number of days after which an authorization gets aged
          off if no matching clearing record was received. Mandatory if
          enableAgingVelocityControl is true. Applicable only for MASTER.
        type: number
        format: numeric [0-9]
        example: 21
        maximum: 19
      cumulativeSpendLimit:
        description: >-
          Limits the overall amount spend on the virtual card account. Setting
          this value to 0 will be interpreted as an open limit. In this case,
          the underlying funding accounts available balance will drive the
          authorization decision to approve or decline a transaction. Mandatory
          if enableAgingVelocityControl is true
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 2000.25
        maximum: 15
      enableGeographyControl:
        description: >-
          Limits authorization requests to a defined geographic location. This
          is an optional control. If this control is not used, pass False or
          leave this section out from the request. For Mastercard, if value
          passed is True, countryCodes and isCountryAllowed are required.
        type: boolean
        format: boolean
        example: true
      countryCodes:
        type: array
        items:
          type: string
        example:
          - USA
          - IND
        format: alphabets [a-zA-Z]
        maximum: 3
      isCountryallowed:
        description: >-
          Indicate whether the values in countryCode are allowed or disallowed.
          True= values provided in countryCode are allowed. False = values
          provided in countryCode are not allowed. 
        type: boolean
        format: boolean
        example: true
      enableMerchantIdControl:
        description: >-
          Limits authorizations to a particular merchant using the Merchant ID
          and Acquirer ID (Mastercard) or Card Acceptor ID (Visa).
        type: boolean
        format: boolean
        example: true
      isMerchantIdAllowed:
        description: >-
          Indicate whether the values in merchantId and acquirerId are allowed
          or disallowed. True = values provided in merchantId and acquirerId are
          allowed False = values provided in merchantId and acquirerId are not
          allowed
        type: boolean
        format: boolean
        example: true
      cardAcceptorId:
        description: >-
          Specifies the Card Acceptor ID that should be allowed / disallowed
          when transacting with the virtual card. Only applicable for VISA.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: CAID12345
        maxLength: 15
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
      vcaContactInfo:
        type: object
        $ref: '#/definitions/CreateVcaContactInfo'
      vcaOrderId:
        description: Unique ID of the VCA request.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: 2331
        maxLength: 19
        minLength: 1
    required:
      - programName
      - fundingSourceId
      - fundingSourceName
      - expiryDate
      - mccGrouping
      - currencyType
      - currencyCode
      - timeZone
      - templateId
      - enableSpendVelocityControl
      - spendVelocity
      - enableValidityPeriodControl
      - validityStartDate
      - validityEndDate
      - enableAgingVelocityControl
      - authorizationHoldDays
      - cumulativeSpendLimit
      - Requestor
      - vcaContactInfo
  VcaRecipientDetails:
    properties:
      firstName:
        description: First name of the card holder/user. Its mandatory for all country
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: William
        maxLength: 30
      lastName:
        description: Last name of the card holder/user.  Its mandatory for all country
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        maxLength: 35
        example: Kaplan
      middleName:
        description: Middle name of card holder/user
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        maxLength: 35
        example: Billy
      city:
        description: City of the card holder/user.  Its mandatory for all country
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 50
        example: New York
      country:
        description: Country of the card holder/user.  Its mandatory for all country
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 10
        example: USA
      zip:
        description: Zip/Postal code of the card holder/user
        type: string
        maxLength: 13
        example: '123456'
      state:
        description: State the card holder/user. Its mandatory for some countries
        type: string
        maxLength: 50
        example: State
      addressLine1:
        description: >-
          Street Address Line 1.Accepts all characters.  Its mandatory for all
          country
        type: string
        maxLength: 60
        example: 123, ABC street
      addressLine2:
        description: Street Address line 2.Accepts all characters, optional for all country
        type: string
        maxLength: 60
        example: XYZ road
      addressLine3:
        description: >-
          Street Address line 3. Accepts all characters, optional for all
          country
        type: string
        maxLength: 60
        example: LMN apartment
      dateOfBirth:
        description: Date of birth of Card holder/user.  Its mandatory for all country
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2000-11-27'
        maxLength: 50
      provinceOfBirth:
        description: Province of Birth. Its mandatory for few countries
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 50
        example: Newyork
      countryOfBirth:
        description: Country of Birth, its mandatory for some countries
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 10
        example: USA
      documents:
        description: Documents details to scrutinize a customer.
        type: array
        items:
          $ref: '#/definitions/Documents'
        example:
          - documentType: TIN
            documentValue: P2067921
            country: USA
      nationalities:
        description: >-
          Length represents the total length of all characters in country field
          e.g.., nationalities[0].idValue = "CUBA" nationalities[1].idValue =
          "UNITED STATES" nationalities[2].idValue = "IRAQ" Total Length. is 24
          (DELIMITER CHARACTER LENGTH 1 is added for each object in the list).
          CX will process in to a single field (ID) as below, "";CUBA;UNITED
          STATES;IRAQ. Its mandatory for few countries
        type: array
        items:
          $ref: '#/definitions/Nationalities'
        example:
          - country: USA
    required:
      - firstName
      - lastName
      - city
      - country
      - addressLine1
      - dateOfBirth
  Nationalities:
    properties:
      country:
        description: Country
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 10
        example: USA
    required:
      - country
  Documents:
    properties:
      documentType:
        description: >-
          Type of the document likeSSN, TIN, SSS, GSIS, Passport, IC, Local ID
          Number, PAN, Cadastro de Pessoas Fï¿½sicas (CPF), Registro Federal de
          Contribuyentes (RFC), Permanent ID, DNI
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 10
      documentValue:
        description: Document Value
        type: string
        format: alphabets [a-zA-Z0-9]
        maxLength: 50
      country:
        description: Country of the document
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 10
    required:
      - documentType
      - documentValue
  CardCreationResponse:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      programName:
        description: Company Name as defined in the virtual cards system
        type: string
        format: alphanumeric [a-zA-Z0-9] + special character
        example: VCA Program NAM
        maxLength: 250
        minLength: 1
      expiryDate:
        description: >-
          Expiry Date of the virtual card account. Data type has been kept has
          String instead of Number due to prceeding 0 may get  truncated
        type: string
        format: MMYYYY ([0-9]{6})
        example: '102021'
        maxLength: 6
      virtualCardAccountNumber:
        description: The virtual card account number to use for transactions.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: '512342123456781234'
        maxLength: 19
      securityCode:
        description: The security code (i.e. cvv) corresponding to the virtual card accunt.
        type: number
        format: numeric [0-9]
        example: '123'
        maximum: 3
      vcaId:
        description: A reference number that uniquely identifies the virtual card account.
        type: string
        format: numeric [0-9]
        example: '900497'
        maximum: 19
        minimum: 1
      vcaGuid:
        description: Unique reference Id generated by Citi for MASTER network.
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
        example: '1234567890'
      vcaOrderId:
        description: Unique ID of the VCA request.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: 2331
        maxLength: 19
        minLength: 1
      cardImage:
        description: A visual representation of the virtual card account front and back.
        type: object
        format: Format:HTML
        example: >-
          <html xmlns:v="urn:schemas-microsoft-com:vml"> <head/> <body
          style="margin:0; padding:0; width:100%"><table
          id="getCardImage"><tbody><tr><td align="left" id="vcard_panel_front"
          style="vertical-align: top;"> <!--[if gte mso 9]><v:rect
          style="height:250px; width: 390px" strokecolor="none"><v:fill
          type="frame" src="https://www.mastercard.com/apps/
          inControl/mc_card_front_with_chip_and_stmt.png" />
          </v:fill></v:rect><v:shape id="theText"
          style="position:absolute;height:250px; width: 390px;"><![endif]--><div
          style="position: relative;"> <table style="background:
          url(https://www.mastercard.com/apps/inControl/
          mc_card_front_with_chip_and_stmt.png) no-repeat; height:250px; width:
          390px; top: 0px;"> <tbody><tr><td class="text_issuer" style="padding:
          15px; text-align: right;"><div style="font-family: Verdana, Arial,
          Helvetica, sans-serif;fontweight: bold;font-size: 12px;">Batch
          Corp</div> </td></tr><tr><td
          style="padding-top:80px;padding-left:44px;"><div style="fontsize:
          24px; font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:
          bold;">5995 0223 1922 9050</div></td></tr><tr><td
          style="padding-left:45px;"> <div style="font-family: Verdana, Arial,
          Helvetica, sans-serif;font-weight: bold;font-size: 12px;">Expiry:
          11/16</div></td></tr><tr><td style="paddingleft:45px;"> <div
          style="font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:
          bold;font-size: 12px;">Batch Corp</div></td></tr><tr style="height:
          55px;"/> </tbody></table></div><!--[if gte mso
          9]></v:shape><![endif]--></td><td id="vcard_panel_back"
          style="vertical-align: top;"><!--[if gte mso 9]><v:rect
          style="height:250px; width: 390px" strokecolor="none"> <v:fill
          type="frame" src="https://www.mastercard.com/apps/inControl/
          mc_card_back_with_band_and_stmt.png" /></v:fill></v:rect><v:shape
          id="theText" style="position: relative;height:250px; width:
          390px;"><![endif]--><div style="position: relative;"> <table
          style="background: url(https://
          www.mastercard.com/apps/inControl/mc_card_back_with_band_and_stmt.png)
          norepeat ; height:250px; width: 390px; top: 0px;"><tbody><tr><td
          style="paddingtop:100px; padding-right:100px;"> <div
          style="text-align:right; font-family: Verdana, Arial, Helvetica,
          sansserif;font-weight: bold;">400</div></td></tr><tr style="height:
          115px;"/> </tbody></table></div><!--[if gte mso
          9]></v:shape><![endif]--></td></tr></ tbody></table></body></html>
      status:
        description: Status of the card
        type: string
        format: alphabets [A-Za-z]
        example: APPROVED
  CardCreation400FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Create400ErrorMessage'
  CardCreation401FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Create401ErrorMessage'
  CardCreation405FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Create405ErrorMessage'
  CardCreation500FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Create500ErrorMessage'
  CardModificationDetails:
    properties:
      vcaGuid:
        description: Unique reference Id generated by Citi.
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
        example: '1234567890'
      programName:
        description: Company Name as defined in Virtual Card System.
        type: string
        format: alphanumeric [a-zA-Z0-9] + special character
        example: VCA Program NAM
        maxLength: 250
        minLength: 1
      fundingSourceId:
        description: >-
          Unique identifier of the funding source to which the virtual card
          rolls up. It's numeric for MASTER & alphanumeric for VISA.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: '2718'
        maxLength: 19
      fundingSourceName:
        description: >-
          Descriptive name of the real card to which the virtual card rolls up.
          Apllicable only for MASTER.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: Funding Account 1 for Subsidiary XYZ
        maxLength: 100
      expiryDate:
        description: >-
          Expiry Date of the virtual card account. Must not be more than 24
          months in the future. If a modification of this parameter is not
          needed, the field can be left out of the modification request call.
          Citi will then apply the most recently defined value for this field.
          Data type has been kept has String instead of Number due to prceeding
          0 may get  truncated. Applicable only for MASTER.
        type: string
        format: MMYYYY ([0-9]{6})
        example: '102021'
        maxLength: 6
      mccGrouping:
        description: >-
          Limits authorizations to defined Merchant Category Codes. Must be the
          Purchase Type name associated to the template.
        type: array
        items:
          type: string
        format: alphabets [a-zA-Z]
        example:
          - Air MCCs
      currencyCode:
        description: >-
          Currency Code in which VCA amounts are expressed. currencyCode is not
          required if currencyType = B
        type: string
        format: numeric [0-9]
        example: '036'
        maxLength: 3
      currencyType:
        description: >-
          Defines the type of the VCA currency. - Value B stands for Billing
          Currency which indicates that the VCA currency is equal to the billing
          currency of the underlying funding source. - Value M stands for
          Merchant Currency which indicates that the VCA currency is expressed
          in merchant currency and not in billing currency. Mandatory for
          Mastercard
        type: string
        format: B/M
        example: M
      timeZone:
        description: >-
          Defines the time zone applicable for any date or time parameters
          within controls set for a VCA.If any of the following controls are
          used, timeZone is required:Validity Period Control,Aging Velocity
          Control (Mastercard only), Curfew Control and Time of Day Control.It
          sets the specific timeframe when the account and its controls will
          become active.
        type: string
        format: UTC-OFFSET (UTC-[0-9]{2}:[0-9]{2})
        example: UTC-04:00
        maxLength: 9
      templateId:
        description: >-
          Identifies the template that was setup in the VCA system and that
          should be used for this virtual card. The template setup in the VCA
          system defines which controls, custom data fields and MCC groupings
          can be used. Mandatory for Mastercard
        type: integer
        format: int64
        example: 36091
        maximum: 19
      getCardImage:
        description: A visual representation of the virtual card account front and back.
        type: boolean
        format: boolean
        example: true
      customReference:
        description: >-
          Up to 29 custom reference field lables and values can be defined in a
          given request. A custom reference value cannot be sent without a
          corresponding custom reference label.
        type: array
        example:
          - customReferenceValue: Business
            customReferenceLabel: Ticket Class
          - customReferenceValue: IND
            customReferenceLabel: Departure Airport Code
        items:
          $ref: '#/definitions/CustomReference'
      modifySpendVelocityControl:
        description: >-
          Limits the frequency and total cumulative amount of authorizations
          performed on the VCA within a specified period. The control is
          mandatory unless Aging Velcotiy Control is used. This control cannot
          be used in combination with the Aging Velocity Control.
        type: boolean
        format: boolean
        example: true
      spendVelocity:
        type: array
        items:
          $ref: '#/definitions/SpendVelocityRequest'
      modifyValidityPeriodControl:
        description: >-
          Limits authorization activity to a specific time period.  This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed as True,
          validityStartDate and validityEndDate are required.
        type: boolean
        format: boolean
        example: true
      validityStartDate:
        description: >-
          Identifies the date from which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
          Mandatory if enableValidityPeriodControl is true. Mandatory for
          MASTER, optional for VISA.
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2024-09-28'
        maxLength: 10
      validityEndDate:
        description: >-
          Identifies the date until which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
          Mandatory if enableValidityPeriodControl is true
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2024-10-28'
        maxLength: 10
      modifyAmountRangeControl:
        description: >-
          Approves a transaction only if the requested amount for authorization
          is equal to or greater than the Minimum Amount and less than or equal
          to the Maximum Amount. This is an optional control. If this control is
          not used, pass False or leave this section out from the request. If
          value passed is True, maxAmount and minAmount are required.
        type: boolean
        format: boolean
        example: true
      maxAmount:
        description: >-
          For MASTER: Identifies the maximum allowed transaction amount. 14
          digits max to the left of decimal and 2 digits max to the right of the
          decimal. For VISA: Identifies the maximum allowed transaction amount.
          12 digits max to the left of decimal and 2 digits max to the right of
          the decimal. Mandatory if enableAmountRangeControl is true 
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 2000.25
        maximum: 15
      minAmount:
        description: >-
          For MASTER: Identifies the minimum allowed transaction amount. 14
          digits max to the left of decimal and 2 digits max to the right of the
          decimal. For VISA: Identifies the maximum allowed transaction amount.
          12 digits max to the left of decimal and 2 digits max to the right of
          the decimal. Mandatory if enableAmountRangeControl is true 
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 1000.75
        maximum: 15
      modifyTransactionLimitControl:
        description: >-
          Limits individual transactions to a maximum amount.  This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True,
          amountLimit is required.
        type: boolean
        format: boolean
        example: true
      amountLimit:
        description: >-
          Identifies the maximum allowed transaction amount. Mandatory if
          enableTransactionLimitControl is true
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 1000.25
        maximum: 15
      modifyCurfewControl:
        description: >-
          Limits authorization activity to a single time period for each day
          selected. This is an optional control. If this control is not used,
          pass False or leave this section out from the request. If value passed
          is True, curfewTime is required. Applicable only for MASTER.
        type: boolean
        format: boolean
        example: true
      curfewTime:
        type: object
        format: object
        example:
          startTime: '12: 30'
          endTime: '13: 30'
          weekdaysEffective:
            - Mon
            - Tue
        $ref: '#/definitions/CurfewTime'
      modifyTimeOfDayControl:
        description: >-
          Limits authorization request to defined time periods each day. This is
          an optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True, timeOfDay
          is required.
        type: boolean
        format: boolean
        example: true
      timeOfDay:
        type: array
        example:
          - startTime: '12: 30'
            endTime: '13: 30'
            weekdayEffective: Mon
          - startTime: '13: 30'
            endTime: '14: 30'
            weekdayEffective: Tue
        items:
          $ref: '#/definitions/TimeOfDay'
      modifyAgingVelocityControl:
        description: >-
          Sets a cumulative amount and keeps track of the current remaining
          balance. Allows the requester to "age off" approved authorization
          requests that have not been cleared by the merchant after a defined
          number of days. This is an optional control. If this control is not
          used, pass False or leave this section out from the request. If value
          passed is True, authorizationHoldDays and cumulativeSpendLimit are
          required.
        type: boolean
        format: boolean
        example: true
      authorizationHoldDays:
        description: >-
          Identifies the number of days after which an authorization gets aged
          off if no matching clearing record was received. Mandatory if
          enableAgingVelocityControl is true. Applicable only for MASTER.
        type: number
        format: numeric [0-9]
        example: 21
        maximum: 19
      cumulativeSpendLimit:
        description: >-
          Limits the overall amount spend on the virtual card account. Setting
          the this value to 0 will be interpreted as an open limit. In this
          case, the underlying funding accounts available balance will drive the
          authorization decision to approve or decline a transaction. Mandatory
          if enableAgingVelocityControl is true
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: 2000.25
        maximum: 15
      modifyGeographyControl:
        description: >-
          Limits authorization requests to a defined geographic location. This
          is an optional control. If this control is not used, pass False or
          leave this section out from the request. For Mastercard, if value
          passed is True, countryCodes and isCountryAllowed are required.
        type: boolean
        format: boolean
        example: true
      countryCodes:
        type: array
        items:
          type: string
        example:
          - USA
          - IND
        format: alphabets [a-zA-Z]
        maximum: 3
      isCountryallowed:
        description: >-
          Indicate whether the values in countryCode are allowed or disallowed.
          True= values provided in countryCode are allowed. False = values
          provided in countryCode are not allowed. 
        type: boolean
        format: boolean
        example: true
      modifyMerchantIdControl:
        description: >-
          Limits authorizations to a particular merchant using the Merchant ID
          and Acquirer ID (Mastercard) or Card Acceptor ID (Visa).
        type: boolean
        format: boolean
        example: true
      isMerchantIdAllowed:
        description: >-
          Indicate whether the values in merchantId and acquirerId are allowed
          or disallowed. True = values provided in merchantId and acquirerId are
          allowed False = values provided in merchantId and acquirerId are not
          allowed
        type: boolean
        format: boolean
        example: true
      cardAcceptorId:
        description: >-
          Specifies the Card Acceptor ID that should be allowed / disallowed
          when transacting with the virtual card. Only applicable for VISA.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: CAID12345
        maxLength: 15
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
      vcaContactInfo:
        type: object
        $ref: '#/definitions/ModifyVcaContactInfo'
    required:
      - vcaGuid
      - programName
      - fundingSourceId
      - fundingSourceName
      - expiryDate
      - mccGrouping
      - currencyType
      - currencyCode
      - timeZone
      - templateId
      - modifySpendVelocityControl
      - spendVelocity
      - modifyValidityPeriodControl
      - validityStartDate
      - validityEndDate
      - modifyAgingVelocityControl
      - authorizationHoldDays
      - cumulativeSpendLimit
      - Requestor
      - vcaContactInfo
  CardModifyRequest:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: Billy33896
        maxLength: 20
        minLength: 1
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
      vcaRecipientDetails:
        type: object
        $ref: '#/definitions/VcaRecipientDetails'
      cardModificationDetails:
        type: object
        $ref: '#/definitions/CardModificationDetails'
    required:
      - programId
      - cardHolderUserId
      - countryOfIssuance
  CardModifyResponse:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      programName:
        description: Company Name as defined in the virtual cards system
        type: string
        format: alphanumeric [a-zA-Z0-9] + special character
        example: VCA Program NAM
        maxLength: 250
        minLength: 1
      expiryDate:
        description: >-
          Expiry Date of the virtual card account. Data type has been kept has
          String instead of Number due to prceeding 0 may get  truncated
        type: string
        example: '102021'
        maxLength: 6
        minLength: 1
      virtualCardAccountNumber:
        description: The virtual card account number to use for transactions.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: '4111111111111111'
        maxLength: 19
      vcaId:
        description: A reference number that uniquely identifies the virtual card account.
        type: string
        format: numeric [0-9]
        example: '1234'
        maxLength: 19
      securityCode:
        description: The security code (i.e. cvv) corresponding to the virtual card accunt.
        type: string
        format: numeric [0-9]
        example: '123'
        maxLength: 3
      cardImage:
        description: A visual representation of the virtual card account front and back.
        type: object
        example: >-
          <html xmlns:v="urn:schemas-microsoft-com:vml"> <head/> <body
          style="margin:0; padding:0; width:100%"><table
          id="getCardImage"><tbody><tr><td align="left" id="vcard_panel_front"
          style="vertical-align: top;"> <!--[if gte mso 9]><v:rect
          style="height:250px; width: 390px" strokecolor="none"><v:fill
          type="frame" src="https://www.mastercard.com/apps/
          inControl/mc_card_front_with_chip_and_stmt.png" />
          </v:fill></v:rect><v:shape id="theText"
          style="position:absolute;height:250px; width: 390px;"><![endif]--><div
          style="position: relative;"> <table style="background:
          url(https://www.mastercard.com/apps/inControl/
          mc_card_front_with_chip_and_stmt.png) no-repeat; height:250px; width:
          390px; top: 0px;"> <tbody><tr><td class="text_issuer" style="padding:
          15px; text-align: right;"><div style="font-family: Verdana, Arial,
          Helvetica, sans-serif;fontweight: bold;font-size: 12px;">Batch
          Corp</div> </td></tr><tr><td
          style="padding-top:80px;padding-left:44px;"><div style="fontsize:
          24px; font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:
          bold;">5995 0223 1922 9050</div></td></tr><tr><td
          style="padding-left:45px;"> <div style="font-family: Verdana, Arial,
          Helvetica, sans-serif;font-weight: bold;font-size: 12px;">Expiry:
          11/16</div></td></tr><tr><td style="paddingleft:45px;"> <div
          style="font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:
          bold;font-size: 12px;">Batch Corp</div></td></tr><tr style="height:
          55px;"/> </tbody></table></div><!--[if gte mso
          9]></v:shape><![endif]--></td><td id="vcard_panel_back"
          style="vertical-align: top;"><!--[if gte mso 9]><v:rect
          style="height:250px; width: 390px" strokecolor="none"> <v:fill
          type="frame" src="https://www.mastercard.com/apps/inControl/
          mc_card_back_with_band_and_stmt.png" /></v:fill></v:rect><v:shape
          id="theText" style="position: relative;height:250px; width:
          390px;"><![endif]--><div style="position: relative;"> <table
          style="background: url(https://
          www.mastercard.com/apps/inControl/mc_card_back_with_band_and_stmt.png)
          norepeat ; height:250px; width: 390px; top: 0px;"><tbody><tr><td
          style="paddingtop:100px; padding-right:100px;"> <div
          style="text-align:right; font-family: Verdana, Arial, Helvetica,
          sansserif;font-weight: bold;">400</div></td></tr><tr style="height:
          115px;"/> </tbody></table></div><!--[if gte mso
          9]></v:shape><![endif]--></td></tr></ tbody></table></body></html>
      mccGrouping:
        description: >-
          Limits authorizations to defined Merchant Category Codes. Must be the
          Purchase Type name associated to the template.
        type: array
        items:
          type: string
        format: alphabets [a-zA-Z]
        example:
          - Air MCCs
      currencyCode:
        description: >-
          Currency Code in which VCA amounts are expressed. currencyCode is not
          returned if currencyType = B
        type: string
        format: numeric [0-9]
        example: '036'
        maxLength: 3
      currencyType:
        description: >-
          Defines the type of the VCA currency. - Value B stands for Billing 
          Currency which indicates that the VCA currency is equal to the billing
          currency of the underlying funding source. - Value M stands for
          Merchant Currency which indicates that the VCA currency is expressed
          in merchant currency and not in billing currency.
        type: string
        format: B/M
        example: B M
        maxLength: 1
      timeZone:
        description: >-
          Defines the time zone applicable for any date or time parameters
          within controls set for a VCA. If any of the following controls are
          used, timeZone is required:  - Validity Period Control - Aging
          Velocity Control (Mastercard only) - Curfew Control - Time of Day
          Control. It sets the specific timeframe when the account and its
          controls will become active.
        type: string
        example: UTC-04:00
        maxLength: 9
      templateId:
        description: >-
          Identifies the template that was setup in the VCA system and that
          should be used for this virtual card. <br>The template setup in the
          VCA system defines which controls, custom data fields and MCC
          groupings can be used.
        type: number
        format: long
        example: '36091'
        maximum: 19
      customReference:
        description: >-
          Up to 29 custom reference field lables and values can be defined in a
          given request. A custom reference value cannot be sent without a
          corresponding custom reference label.
        type: array
        example:
          - customReferenceValue: Business
            customReferenceLabel: Ticket Class
          - customReferenceValue: IND
            customReferenceLabel: Departure Airport Code
        items:
          $ref: '#/definitions/CustomReference'
      modifySpendVelocityControl:
        description: >-
          Limits the frequency and total cumulative amount of authorizations
          performed on the VCA within a specified period. Mastercard: The
          control is mandatory unless Aging Velcotiy Control is used. This
          control cannot be used in combination with the Aging Velocity Control.
          Visa: Spend Velocity Control is mandatory.
        type: boolean
        example: 'true'
      spendVelocity:
        type: array
        items:
          $ref: '#/definitions/SpendVelocityResponse'
      modifyValidityPeriodControl:
        description: >-
          Limits authorization activity to a specific time period. This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True, all fields
          in this section are required.
        type: boolean
        example: 'true'
      validityStartDate:
        description: >-
          Identifies the date from which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
        type: string
        example: '2024-09-28'
        maxLength: 10
      validityEndDate:
        description: >-
          Identifies the date until which the virtual card account can be used
          for transactions. The Start Date must be prior to the End Date.
        type: string
        example: '2024-10-28'
        maxLength: 10
      modifyAmountRangeControl:
        description: >-
          Approves a transaction only if the requested amount for authorization
          is equal to or greater than the Minimum Amount and less than or equal
          to the Maximum Amount. This is an optional control. If this control is
          not used, pass False or leave this section out from the request. If
          value passed is True, all fields in this section are required.
        type: boolean
        example: 'true'
      maxAmount:
        description: Identifies the maximum allowed transaction amount.
        type: number
        format: bigdecimal
        example: '2000'
        maximum: 14
        minimum: 1
      minAmount:
        description: Identifies the minimum allowed transaction amount.
        type: number
        format: bigdecimal
        example: '1000'
        maximum: 14
        minimum: 1
      modifyTransactionLimitControl:
        description: >-
          Limits individual transactions to a maximum amount. This is an
          optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True, all fields
          in this section are required.
        type: boolean
        example: 'true'
      amountLimit:
        description: Identifies the maximum allowed transaction amount
        type: number
        format: bigdecimal
        example: '1000'
        maximum: 14
        minimum: 1
      modifyCurfewControl:
        description: >-
          Limits authorization activity to a single time period for each day
          selected. This is an optional control. If this control is not used,
          pass False or leave this section out from the request. If value passed
          is True, all fields in this section are required.
        type: boolean
        example: 'true'
      curfewTime:
        type: object
        example:
          startTime: '12: 30'
          endTime: '13: 30'
          weekdaysEffective:
            - Mon
            - Tue
        $ref: '#/definitions/CurfewTime'
      modifyTimeOfDayControl:
        description: >-
          Limits authorization request to defined time periods each day. This is
          an optional control. If this control is not used, pass False or leave
          this section out from the request. If value passed is True, all fields
          in this section are required.
        type: boolean
        example: 'true'
      timeOfDay:
        type: array
        example:
          - startTime: '12: 30'
            endTime: '13: 30'
            weekdayEffective: Mon
          - startTime: '13: 30'
            endTime: '14: 30'
            weekdayEffective: Tue
        items:
          $ref: '#/definitions/TimeOfDay'
      modifyAgingVelocityControl:
        description: >-
          Sets a cumulative amount and keeps track of the current remaining
          balance. Allows the requester to "age off" approved authorization
          requests that have not been cleared by the merchant after a defined
          number of days. This is an optional control. If this control is not
          used, pass False or leave this section out from the request. If value
          passed is True, all fields in this section are required.
        type: boolean
        example: 'true'
      authorizationHoldDays:
        description: >-
          Identifies the number of days after which an authorization gets aged
          off if no matching clearing record was received.
        type: number
        format: long
        example: '21'
        maximum: 19
      cumulativeSpendLimit:
        description: Limits the overall amount spend on the virtual card account.
        type: number
        format: bigdecimal
        example: '10000'
        maximum: 14
      modifyGeographyControl:
        description: >-
          Limits authorization requests to a defined geographic location. This
          is an optional control. If this control is not used, pass False or
          leave this section out from the request. If value passed is True, all
          fields in this section are required.
        type: boolean
        example: 'true'
      countryCodes:
        type: array
        items:
          type: string
        example:
          - USA
          - IND
        format: alphabets [a-zA-Z]
        maximum: 3
      isCountryallowed:
        description: >-
          Indicate whether the values in countryCode are allowed or disallowed.
          True= values provided in countryCode are allowed. False = values
          provided in countryCode are not allowed. 
        type: boolean
        format: boolean
        example: 'true'
      modifyMerchantIdControl:
        description: >-
          Limits authorizations to a particular merchant using the Merchant ID
          and Acquirer ID (Mastercard) or Card Acceptor ID (Visa).
        type: boolean
        example: 'true'
      isMerchantIdAllowed:
        description: >-
          Indicate whether the values in merchantId and acquirerId are allowed
          or disallowed. True = values provided in merchantId and acquirerId are
          allowed False = values provided in merchantId and acquirerId are not
          allowed
        type: boolean
        format: boolean
        example: 'true'
      merchantId:
        type: array
        items:
          $ref: '#/definitions/MerchantId'
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
      vcaRecipientDetails:
        type: object
        $ref: '#/definitions/VcaRecipientDetails'
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile.
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: Billy33896
        maxLength: 20
        minLength: 1
      vcaGuid:
        description: Unique reference Id generated by Citi for MASTER network.
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
        example: '1234567890'
      status:
        description: Status of the card
        type: string
        format: alphabets [A-Za-z]
        example: APPROVED
  CardModify400FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Modify400ErrorMessage'
  CardModify401FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Modify401ErrorMessage'
  CardModify405FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Modify405ErrorMessage'
  CardModify500FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Modify500ErrorMessage'
  CancelCardRequest:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile. Mandatory for user level
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: Billy33896
        maxLength: 20
        minLength: 1
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
      vcaGuids:
        description: List of vcaGuids required for card cancellation.
        type: array
        maxItems: 50
        minItems: 1
        items:
          type: string
        example:
          - '63854134317054333430'
          - '63854134317054333431'
          - '63854134317054333432'
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
    required:
      - vcaGuids
      - requestor
      - countryOfIssuance
  CancelCard:
    properties:
      vcaGuid:
        description: >-
          Unique reference Id generated by Citi for MASTER network. Mandatory
          for account level
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
        example: '1234567890'
      vcaId:
        description: A reference number that uniquely identifies the virtual card account.
        type: string
        format: numeric [0-9]
        example: '1234'
        maxLength: 19
    required:
      - vcaGuid
  CancelCardResponse:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile. Applicable for user level.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 20
        minLength: 1
        example: Billy33896
      cancelCardSuccessInfo:
        type: array
        items:
          $ref: '#/definitions/CancelCardSuccessInfo'
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
  CancelCardPartialSuccessResponse:
    properties:
      programId:
        description: Unique ID of the company record defined in the virtual cards system.
        type: string
        format: numeric [0-9]
        example: '233191'
        maxLength: 19
        minLength: 1
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile. Applicable for user level.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 20
        minLength: 1
        example: Billy33896
      cancelCardPartialSuccessInfo:
        description: VCA Card Info with error details and vcaId
        type: array
        items:
          $ref: '#/definitions/CancelCardPartialSuccessInfo'
        example:
          - vcaGuid: '38213'
            vcaId: '12345'
            error:
              - errorCode: EVB000
                errorDescription: Invalid vcaId
          - vcaGuid: '38213'
            vcaId: '12345'
            status: CANCELLED
      requestor:
        type: object
        $ref: '#/definitions/Requestor'
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
  CancelCardSuccessInfo:
    properties:
      vcaGuid:
        description: >-
          Unique reference Id generated by Citi for MASTER network. Applicable
          for account level.
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
      vcaId:
        description: A reference number that uniquely identifies the virtual card account.
        type: string
        format: numeric [0-9]
        example: '1234'
        maxLength: 19
      status:
        description: Status of the card
        type: string
        format: alphabets [A-Za-z]
        example: CANCELLED
  CancelCardPartialSuccessInfo:
    properties:
      vcaGuid:
        description: >-
          Unique reference Id generated by Citi for MASTER network. Applicable
          for account level.
        type: string
        format: alphanumeric [a-zA-Z0-9-]
        maxLength: 20
      vcaId:
        description: A reference number that uniquely identifies the virtual card account.
        type: string
        format: numeric [0-9]
        example: '1234'
        maxLength: 19
      error:
        type: array
        items:
          $ref: '#/definitions/ErrorMessage'
  CancelCard400FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Cancel400ErrorMessage'
  CancelCard500FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Cancel500ErrorMessage'
  CancelCard401FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Cancel401ErrorMessage'
  CancelCard405FailureResponse:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Cancel405ErrorMessage'
  CreateVcaContactInfo:
    properties:
      emailId:
        description: Email Id of the card holder/user
        type: string
        format: alphabets [a-zA-Z]
        example: wiccan@gmail.com
        maxLength: 240
      mobileNumber:
        description: Mobile number the card holder/user
        type: string
        format: numeric [0-9]
        example: '5512345678'
        minLength: 5
        maxLength: 13
      mobileCountryCode:
        description: Mobile number country code of the card holder/user
        type: string
        format: ^(\+[0-9]+)
        example: '+51'
        minLength: 2
        maxLength: 4
    required:
      - emailId
      - mobileNumber
      - mobileCountryCode
  ModifyVcaContactInfo:
    properties:
      firstName:
        description: First name of the card holder/user. Its mandatory for all country
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        example: William
        maxLength: 30
      lastName:
        description: Last name of the card holder/user.  Its mandatory for all country
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        maxLength: 35
        example: Kaplan
      middleName:
        description: Middle name of card holder/user
        type: string
        format: alphanumeric [a-zA-Z0-9//s]
        maxLength: 35
        example: Billy
      emailId:
        description: Email Id of the card holder/user
        type: string
        format: alphabets [a-zA-Z]
        example: wiccan@gmail.com
        maxLength: 240
      mobileNumber:
        description: Mobile number the card holder/user
        type: string
        format: numeric [0-9]
        example: '5512345678'
        minLength: 5
        maxLength: 13
      mobileCountryCode:
        description: Mobile number country code of the card holder/user
        type: string
        format: ^(\+[0-9]+)
        example: '+51'
        minLength: 2
        maxLength: 4
    required:
      - firstName
      - lastName
      - emailId
      - mobileNumber
      - mobileCountryCode
  CustomReference:
    properties:
      customReferenceLabel:
        description: Specifies the label of a custom reference field.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: Purchase Order
        maxLength: 50
        minLength: 1
      customReferenceValue:
        description: >-
          Specifies the value of a custom reference field. If the template used
          for this VCA request identifies a given custom reference field as
          required, then the value provided in this field cannot be blank.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: PO-1234567
        maxLength: 80
        minLength: 1
  SpendVelocityRequest:
    properties:
      maxAuth:
        description: >-
          Limits the number of authorizations that can be made with a VCA.
          Should be set to 1, if a single-use VCA is created. Specify any value
          larger than one for a multi-use VCA.  If a modification of this
          parameter is not needed, the field can be left out of the modification
          request call. Citi will then apply the most recently defined value for
          this field. Set to 0, if unlimited authorizations should be allowed.
          For MASTER: 8, VISA: 10
        type: number
        format: numeric [0-9]
        example: 10
        maximum: 10
      cumulativeSpendLimit:
        description: >-
          Limits the overall amount spend on the virtual card account. If a
          modification of this parameter is not needed, the field can be left
          out of the modification request call. Citi will then apply the most
          recently defined value for this field.
        type: number
        format: '[0-9]{17}$|(?=^.{1,18}$)^[0-9]+\.[0-9]{1,4}'
        example: '10000'
        maximum: 15
      periodType:
        description: >-
          Period for which the control values are valid before they reset.<br>If
          a modification of this parameter is not needed, the field can be left
          out of the modification request call. Citi will then apply the most
          recently defined value for this field. Mastercard: D = Daily -- The
          balances of control parameters enabled for a VCA are reset with their
          original values every day at 00:00:00. M = Monthly -- The balances of
          control parameters enabled for a VCA are reset with their original
          values at the start of every month. W = Weekly -- The balances of
          control parameters enabled for a VCA are reset with their original
          values every Monday at 00:00:00. Q = Quarterly -- The balances of
          control parameters enabled for a VCA are reset with their original
          values on the first day of every quarter at 00:00:00.   Quarter 1:
          January 01 - March 31.   Quarter 2: April 01 - June 30.   Quarter 3:
          July 01 - September 30.   Quarter 4: October 01 - December 31. Y =
          Annually -- The balances of control parameters enabled for a VCA are
          reset with their original values every year on January 1st at
          00:00:00. C = Continuous -- The balances of control parameters enabled
          for a VCA are retained continuously for the validity period defined.
          Balances do not reset with their original values throughout the
          validity period. Visa: 1 = Recurring : The balances of control
          parameters enabled for a VCA are reset with their original values on a
          specified recurring day for every month. <br>If you select this
          periodType, you must also specify the resetDay field.  2 = Monthly :
          The balances of control parameters enabled for a VCA are reset with
          their original values at the start of every month. 3 = Date Range :
          The balances of control parameters enabled for a VCA are retained
          continuously for the validity period defined. Balances do not reset
          with their original values throughout the validity period.<br>If you
          select this periodType, you must also specify the validityStartDate
          and validityEndDate fields.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: C
        maxLength: 1
      resetDay:
        description: >-
          Select a number between 1-28 to identify the day each month when the
          control parameter balances should reset to their original value. This
          field is only applicable if periodType was defined as 1.
        type: integer
        format: int64
        example: 18
        maxLength: 2
        minLength: 1
      availableBalance:
        description: available balance
        type: number
        format: numeric
        example: 109374853.12
      periodEndDate:
        description: end date
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2024-09-28'
    required:
      - maxAuth
      - cumulativeSpendLimit
      - periodType
  CurfewTime:
    properties:
      startTime:
        description: >-
          Specifies the start time from when the card can be used each of the
          specified days.
        type: string
        format: HH:MM 24-hour format (^[0-9]{1,2}:[0-9]{2}:[0-9]{2})
        example: '8:30'
        maxLength: 5
      endTime:
        description: >-
          Specifies the end time until which the card can be used each of the
          specified days.
        type: string
        format: HH:MM 24-hour format (^[0-9]{1,2}:[0-9]{2}:[0-9]{2})
        example: '14:30'
        maxLength: 5
      weekdayEffective:
        description: Listing of days to which the time curfew applies.
        type: array
        items:
          type: string
        format: '[a-zA-Z]{3}'
        example:
          - Sat
          - Mon
          - Sun
    required:
      - startTime
      - endTime
      - weekdayEffective
  TimeOfDay:
    properties:
      startTime:
        description: >-
          Specifies the start time from when the card can be used each of the
          specified days.
        type: string
        format: HH:MM 24-hour format (^[0-9]{1,2}:[0-9]{2}:[0-9]{2})
        example: '8:30'
        maxLength: 5
      endTime:
        description: >-
          Specifies the end time until which the virtual card account can be
          used on the particular day specified in weekDaysEffective.
        type: string
        format: HH:MM 24-hour format (^[0-9]{1,2}:[0-9]{2}:[0-9]{2})
        example: '14:30'
        maxLength: 5
      weekdayEffective:
        description: Specifies the day applicable to the start and end times defined.
        type: string
        format: alphabets [a-zA-Z]
        example: Wed
        maxLength: 3
    required:
      - startTime
      - endTime
      - weekdayEffective
  SpendVelocityResponse:
    properties:
      maxAuth:
        description: >-
          Limits the number of authorizations that can be made with a VCA.
          Should be set to 1, if a single-use VCA is created. Specify any value
          larger than one for a multi-use VCA. Set to 0, if unlimited
          authorizations should be allowed.
        type: number
        format: long
        example: '10'
        maximum: 8
      cumulativeSpendLimit:
        description: Limits the overall amount spend on the virtual card account.
        type: number
        format: bigdecimal
        example: '10000'
        maximum: 15
      periodType:
        description: >-
          Period for which the control values are valid before they reset.
          Mastercard: D = Daily The balances of control parameters enabled for a
          VCA are reset with their original values every day at 00:00:00. M =
          Monthly The balances of control parameters enabled for a VCA are reset
          with their original values at the start of every month. W = Weekly The
          balances of control parameters enabled for a VCA are reset with their
          original values every Monday at 00:00:00. Q = Quarterly The balances
          of control parameters enabled for a VCA are reset with their original
          values on the first day of every quarter at 00:00:00.   Quarter 1:
          January 01 - March 31.   Quarter 2: April 01 - June 30.   Quarter 3:
          July 01 - September 30.   Quarter 4: October 01 - December 31. Y =
          Annually<br>The balances of control parameters enabled for a VCA are
          reset with their original values every year on January 1st at
          00:00:00. C = Continuous The balances of control parameters enabled
          for a VCA are retained continuously for the validity period defined.
          Balances do not reset with their original values throughout the
          validity period. If you select this periodType, you must also specify
          the validityStartDate and validityEndDate fields.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: C
        maxLength: 1
      availableBalance:
        description: >-
          Specifies the remaining balance available to spend on the virtual
          card. In response to a VCA creation API request, this value will
          typically be equal to the cumulativeSpendLimit since no transactions
          were made on the card yet.
        type: number
        format: double
        example: '110.00'
        maximum: 18
      periodEndDate:
        description: End date of the current period based on the periodType selected.
        type: string
        format: >-
          ISO 8601: YYYY-MM-DD
          (^(19|20)[0-9]{2}-(((0[13578]|(10|12))-(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)-(0[1-9]|[1-2][0-9]|30))))
        example: '2020-11-27'
        maxLength: 10
  Requestor:
    properties:
      requestorType:
        description: >-
          Defines whether VCA requestor type. Possible values are INDIVIDUAL,
          ENTITY
        type: string
        format: alphabets [a-zA-Z]
        example: INDIVIDUAL
        maxLength: 20
      firstName:
        description: >-
          Last name of Virtual Card requestor. Applicable only for
          requestorType: INDIVIDUAL
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 140
        example: abc
      middleName:
        description: >-
          Middle name of Virtual Card requestor. Applicable only for
          requestorType: INDIVIDUAL
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 140
        example: lmn
      lastName:
        description: >-
          Last name of Virtual Card requestor. Applicable only for
          requestorType: INDIVIDUAL
        type: string
        format: alphabets [a-zA-Z]
        maxLength: 140
        example: xyz
      id:
        description: >-
          Unique ID of Virtual Card requestor. Applicable for requestorType as
          INDIVIDUAL & ORG.
        type: string
        format: numeric [0-9]
        maxLength: 200
        minLength: 6
        example: '123456'
      orgName:
        description: >-
          Organization name of Virtual Card requestor. Applicable only for
          requestorType: ORG
        type: string
        example: GOOGLE
        format: alphabets [a-zA-Z]
        maxLength: 140
    required:
      - requestorType
  MerchantId:
    properties:
      merchantId:
        description: >-
          Specifies the Merchant ID that should be allowed / disallowed when
          transacting with the virtual card. Must always be provided in
          combination with a Acquirer ID.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: '20194987'
      acquirerId:
        description: >-
          Specifies the Acquirer ID that should be allowed / disallowed when
          transacting with the virtual card. Must always be provided in
          combination with a Merchant ID.
        type: number
        format: integer
        example: '11319'
  CardCreationAckResponse:
    properties:
      vcaGuid:
        maxLength: 20
        minLength: 1
        type: string
        example: '23513293166175200927'
        description: Unique card reference Id generated by Citi.
      referenceId:
        maxLength: 30
        minLength: 1
        type: string
        example: UBERSWE23513293166175200927
        description: Unique Id created by Citi for client reference.
      message:
        maxLength: 255
        minLength: 1
        type: string
        example: >-
          Your virtual card creation is underway. We will get in touch with you
          shortly.
        description: >-
          Immediate ACK message sent to client indicating that back ground
          actions are being performed.
  CreateCardPartialSuccessResponse:
    properties:
      cardHolderUserId:
        description: >-
          Unique ID to be generated & sent by Citi clients to identify user
          profile.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 20
        minLength: 1
        example: Billy33896
      countryOfIssuance:
        description: Country in which the VCA program is issued out of.
        type: string
        format: alphabets [a-zA-Z]
        example: USA
        maxLength: 3
        minLength: 3
      cardPartialSuccessInfo:
        description: >-
          VCA Card Info tagged to unique vcaRequestId generated by Citi for
          client reference.
        type: array
        items:
          $ref: '#/definitions/CardPartialSuccessInfo'
        example:
          - vcaOrderId: '1001'
            vcaGuid: '5902838563832'
            cardDataErrors:
              - errorCode: EVB0271
                errorDescription: ExpiryDate is mandatory
            userDataErrors:
              - errorCode: EVB1157
                errorDescription: FirstName is mandatory
          - vcaOrderId: '1002'
            vcaGuid: '7110394201820'
            cardDataErrors:
              - errorCode: EVB0271
                errorDescription: ExpiryDate is mandatory
            userDataErrors:
              - errorCode: EVB1157
                errorDescription: FirstName is mandatory
  CardSuccessInfo:
    properties:
      vcaGuid:
        description: Unique reference Id generated by Citi for MASTER network.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 20
      vcaOrderId:
        description: Unique ID of the VCA request.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: 2331
        maxLength: 19
        minLength: 1
  CardPartialSuccessInfo:
    properties:
      vcaGuid:
        description: Unique reference Id generated by Citi for MASTER network.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        maxLength: 20
      vcaOrderId:
        description: Unique ID of the VCA request.
        type: string
        format: alphanumeric [a-zA-Z0-9]
        example: 2331
        maxLength: 19
        minLength: 1
      cardDataErrors:
        type: array
        items:
          $ref: '#/definitions/ErrorMessage'
      userDataErrors:
        type: array
        items:
          $ref: '#/definitions/ErrorMessage'
  Create401ErrorMessage:
    properties:
      errorCode:
        description: which indicates the error code
        type: string
        format: alphanumeric [a-zA-Z0-9]
      errorDescription:
        type: string
        format: alphanumeric [a-zA-Z0-9]
        description: >-
          The error description that corresponds to error code when there is any
          error occurred<br> * `GRC0011` - Client ID and/or Country and/or
          region id is missing in Client Onboard Configuration setup. Contact
          Citi support.<br>
    required:
      - errorCode
      - errorDescription
  Create400ErrorMessage:
    properties:
      errorCode:
        description: which indicates the error code
        type: string
        format: alphanumeric [a-zA-Z0-9]
      errorDescription:
        type: string
        format: alphanumeric [a-zA-Z0-9]
        description: >-
          The error description that corresponds to error code when there is any
          error occurred<br> * `GRC0002` - Client ID is missing in the request
          header<br> * `GRC0003` - Invalid JSON Input<br> * `GRC0004` - Region
          ID is not available in the request<br> * `GRC0005` - Client Tracking
          ID is missing in the request header<br> * `GRC0007` - Client requested
          MediaType is not supported.<br> * `GRC0008` - Invalid request. Unable
          to bind incoming request<br> * `GRC0010` - Client Tracking ID length
          should contain a min of 1 character and a max of 36 characters<br> *
          `GRC0016` - Country code is not available in the request<br> *
          `EVB1245` - First Name is mandatory and should not be null or
          empty<br> * `EVB1246` - Last Name is mandatory and should not be null
          or empty<br> * `EVB1247` - Line 1 of address is mandatory and should
          not be null or empty<br> * `EVB1248` - City is mandatory and should
          not be null or empty<br> * `EVB1249` - State is mandatory and should
          not be null or empty<br> * `EVB1250` - Zip code is mandatory and
          should not be null or empty<br> * `EVB1251` - Country is mandatory and
          should not be null or empty<br> * `EVB1252` - Date of Birth is
          mandatory and should not be null or empty<br> * `EVB1253` - Country of
          Birth is mandatory and should not be null or empty<br> * `EVB1254` -
          Nationality is mandatory and should not be null or empty<br> *
          `EVB1257` - Document(s) is mandatory and should not be null or empty
          and should be one of the required documents<br> * `CSSA0002` - Field
          countryOfIssuance value is not available in configuration. Please
          contact CITI support team to onboard the Country of Issuance
          details.<br> * `EVB0243` - programId is mandatory<br> * `EVB0357` -
          ProgramId must be numeric<br> * `EVB0358` - programId value must be
          between 1 and 19 digits<br> * `EVB1150` - cardholderUserId is
          mandatory<br> * `EVB1152` - cardHolderUserId size must be plain
          text<br> * `EVB1151` - cardHolderUserId size must be between 1 and 20
          characters<br> * `EVB1258` - countryOfIssuance is mandatory<br> *
          `EVB1259` - countryOfIssuance size must be exactly 3 characters<br> *
          `EVB1260` - countryOfIssuance must be only in upper case<br> *
          `EVB0033` - fundingSourceId is mandatory<br> * `EVB0032` -
          fundingSourceId value must be numeric<br> * `EVB0352` -
          FundingSourceId is Invalid. FundingSourceId value should be a valid
          long value and size must be between 1 and 19 digits<br> * `EVB0042` -
          fundingSourceName is mandatory<br> * `EVB0041` - fundingSourceName
          must have minimum of 1 and maximum of 100 characters<br> * `EVB0271` -
          expiryDate is mandatory<br> * `EVB0061` - expiryDate length exceeds
          max length allowed of: 6 characters<br> * `EVB0259` - expiryDate must
          have format: MMYYYY<br> * `EVB0219` - expiryDate month and year cannot
          be a past or current date<br> * `EVB0626` - expiryDate cannot be more
          than 24 months into the future<br> * `EVB0265` - mccGrouping cannot be
          null or empty<br> * `EVB0254` - mccGrouping should not contain
          multiple values<br> * `EVB0062` - TimeZone is mandatory<br> *
          `EVB0063` - timeZone field has an invalid UTC offset time zone format.
          Valid format is UTC+/-HH:MM<br> * `EVB0615` - No time zone found for
          UTC value provided in timeZone field<br> * `EVB0071` - templateId is
          mandatory<br> * `EVB0014` - templateId should be numeric<br> *
          `EVB0010` - templateId should have minimum of 1 & maximum of 19
          characters<br> * `EVB0255` - customReference list should have minimum
          of 1 & maximum of 29 items<br> * `EVB0504` -
          templateCustomField.customFieldName is mandatory<br> * `EVB0258` -
          customReferenceLabel should have minimum of 1 & maximum of 50
          characters<br> * `EVB0505` - templateCustomField.customFieldValue is
          mandatory<br> * `EVB0353` - customReferenceValue should have minimum
          of 1 & maximum of 80 characters<br> * `EVB0136` - currencyType is
          mandatory<br> * `EVB0162` - currencyType must have value which matches
          regex: M|B|m|b<br> * `EVB0130` - currencyType length exceed max length
          allowed is:  1 characters<br> * `EVB0065` - currencyCode is
          mandatory<br> * `EVB0245` - currencyCode value must be numeric
          [0-9]<br> * `EVB0099` - currencyCode length allowed is: 3 digits<br> *
          `EVB0624` - The currencyCode value provided is invalid. Please update
          the currencyCode value and retry your request<br> * `EVB0272` - Both
          Aging and Spend Velocity Control cannot be enabled<br> * `EVB0273` -
          Either Aging or Spend Velocity Control should be enabled<br> *
          `EVB0903` - Atleast one Spend velocity control is required, When
          enableSpendVelocity is true<br> * `EVB503` - SpendVelocity size should
          not exceed 6<br> * `EVB0137` -
          spendVelocityControl-cumulativeSpendLimit is mandatory<br> * `EVB0625`
          - cumulativeSpendLimit max field length is 14 digits with 12 digits to
          the left of the decimal and 2 digits to the right of the decimal<br> *
          `EVB0365` - periodType is mandatory if enableSpendVelocity is true<br>
          * `EVB0140` - periodType length exceeds max length allowed of: 1
          character<br> * `EVB0610` - Invalid periodType value. periodType can
          contain a value of either D, M, W, Q, Y, or C<br> * `EVB0904` -
          Invalid request. Duplicate periodType values cannot be included when
          setting the Spend Velocity Control<br> * `EVB0231` - maxAuth is
          mandatory if enableSpendVelocityControl is set to True<br> * `EVB0362`
          - Invalid maxAuth format. maxAuth value cannot exceed 8 digits<br> *
          `EVB0163` - authorizationHoldDays is mandatory if agingVelocityControl
          is true<br> * `EVB0621` - authorizationHoldDays must be positive long
          value with a maximum of 4 digits<br> * `EVB0369` -
          cumulativeSpendLimit is mandatory if Aging Velocity Control is set to
          true<br> * `EVB0625` - cumulativeSpendLimit max field length is 14
          digits with 12 digits to the left of the decimal and 2 digits to the
          right of the decimal<br> * `EVB0378` - isMerchantIdAllowed is
          mandatory if MerchantIdControl is enabled<br> * `EVB0371` -
          isCountryallowed is mandatory if GeographyControl is enabled<br> *
          `EVB0370` - countryCodes is required if Geography Control is set to
          true<br> * `EVB0236` - Invalid countryCode, countryCode doesn't
          exist.<br> * `EVB0367` - startTime is mandatory if Time Of Day Control
          is true<br> * `EVB0233` - endTime is mandatory if Time Of Day Control
          is true<br> * `EVB0110` - startTime value must have valid format:
          HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M (0-9)<br> * `EVB0112` -
          endTime value must have valid format: HH:MM - H (0,1,2) | H (0-9) : M
          (0-5) | M (0-9)<br> * `EVB0622` - startTime cannot be equal to
          endTime<br> * `EVB0235` - weekdayEffective is mandatory if Time Of Day
          Control is true<br> * `EVB0368` - weekdayEffective must have value
          which matches regex: SUN|MON|TUE|WED|THU|FRI|SAT<br> * `EVB0623` -
          timeOfDayControl cannot have duplicate weekdayEffective values<br> *
          `EVB0113` - startTime is mandatory if CurfewControl is true<br> *
          `EVB0114` - endTime is mandatory if CurfewControl is true<br> *
          `EVB0235` - startTime value cannot exceed the requested endTime
          value<br> * `EVB0262` - weekdayEffective is mandatory if
          enableCurfewControl is true<br> * `EVB0263` -
          CurfewControl-weekdayEffective must have value which matches regex:
          ((?i)(SUN|MON|TUE|WED|THU|FRI|SAT))(,(?i)(SUN|MON|TUE|WED|THU|FRI|SAT))*<br>
          * `EVB0106` - minAmount is mandatory if enableAmountRangeControl is
          true<br> * `EVB0354` - AmountRangeControl-minAmount length exceed max
[...]
