openapi: 3.0.1
info:
  title: Payment Initiation Service
  description: >-
    The Payment Initiation API allows partners to make payments. Each payment
    method takes different input values based on the type of payment. This
    service accommodates all different data attributes for all the available
    payment methods.


    This specification describes the fields required for the <a
    href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.008.001.02"
    target="_blank">ISO PAIN 001.001.03 payment initiation standard
    payload.</a> 

    This standard supports multiple country and currency options. You can
    generate sample XML content for the countries of your choice by using the <a
    href="https://developer.citi.com/apim/go/paymentrules/" target="_blank">Citi
    Payment Formatting Rules Tool</a>. 


    Download our SDKs:


    * [Python
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=python&apiTitle=all&isClientSecReq=true)

    * [Java
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=java&apiTitle=all&isClientSecReq=true)

    * [.Net
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=dotnet&apiTitle=all&isClientSecReq=true)

    * [Ruby
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ruby&apiTitle=all&isClientSecReq=true)

    * [NodeJS
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=nodejs&apiTitle=all&isClientSecReq=true)

    * [Go
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=go&apiTitle=all&isClientSecReq=true)

    * [CLI Tool
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ccapi-cli&apiTitle=all&isClientSecReq=true)


    Note: You must be logged in to download the SDKs.


    ## Tracking Payment Status


    Because of the asynchronous nature of payment initiation and processing in
    Citi's Payment Initiation API, we recommend following these best practice
    guidelines for tracking your Payment Initiation Request to determine the
    status before reinitiating payment as that can cause inadvertent duplication
    of payments, resulting in unintended payments being made.


    To best determine the status of your Payment Initiation Request using a
    Payment Status Request (PSR): 


    | Scenario for Client                       | Scenario for
    Citi                             | Initial PSR Received? | Recommended
    Action                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    |

    |-------------------------------------------|-----------------------------------------------|-----------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

    | Client received response from Citi        | Citi received Payment
    Initiation request      | Yes                   | API call, response and PSR
    working without issue. No action
    required.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    |

    | Client did not receive response from Citi | Citi received Payment
    Initiation request<br/> | Yes                   | The payment initiation was
    confirmed to be successful by receipt of the first PSR. No action
    required.                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    |

    | Client did not receive response from Citi | Citi received Payment
    Initiation request      | No                    | The client could not
    confirm the success of the Payment Initiation call from the syncronous
    response or PSR, but the request was received by Citi. In order to avoid
    duplicated payments, send a payment status inquiry at 5 minute intervals. If
    no response is received for three consecutive payment status inquiries,
    contact your Citi
    representative.                                                                                                                                                                                            
    |

    | Client did not receive response from Citi | Citi did not receive Payment
    Initiation       | No                    | Responses have timed out, but
    Citi is processing payment.<br/><br/>In order to avoid duplicated payments,
    send a payment status inquiry at 5 minute intervals. If no response is
    received for three consecutive payment status inquiries, contact your Citi
    representative. <br/><br/>If Citi representative is unable to confirm the
    payment status, or the payment initiation was unsuccessful, re-send the
    payment using the original end-to-end ID. Using the original end-to-end ID
    ensures that the payment will not be inadvertently duplicated. |
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 3.0.1
security:
  - clientCredentials: []
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod/paymentservices/v3
    description: production gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/paymentservices/v3
    description: sandbox URL
tags:
  - name: Pain 00100103
paths:
  /payment/initiation:
    post:
      tags:
        - Pain 00100103
      summary: Payment Initiation
      description: >+
        You can initiate a new payment through the Payment Initiation endpoint.
        This endpoint takes the necessary data required in <a
        href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.001.001.03"
        target="_blank">ISOXML pain.001.001.03 format</a> to initiate a payment
        through CitiConnect API. 

        It can be used to initiate one outgoing payment request per API call. 


        Each payment method take different input values based on the type of
        payment.

        Input values are also based on regulatory or local requirements. 


        **Note:** The required parameters vary depending on the countries and
        currencies used in the request. For detailed and up-to-date information
        on the necessary fields and formats, see the <a
        href="https://uat.developer.citi.com/apim/go/paymentrules"
        target="_blank">Citi Payment Formatting Rules Tool</a>.


        The Payment Initiation service accommodates all different data
        attributes for all the available payment methods.

        * **payloadType:** Supports <a
        href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.001.001.03"
        target="_blank">urn:iso:std:iso:20022:tech:xsd:pain.001.001.03</a>. 

        * **Request:** The request follows <a
        href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.001.001.03"
        target="_blank">ISO XML V3 (pain.001.001.03)</a> standards.

        * **paymentBase64:** <a
        href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.001.001.03"
        target="_blank">ISO XML V3 (pain.001.001.03)</a> file has to be
        converted to Base64 format and passed in \<Request>\<paymentBase64>
        tags.

        * **Response:** The response follows <a
        href="https://www.iso20022.org/catalogue-messages/iso-20022-messages-archive?search=pain.001.001.03"
        target="_blank">ISO XML (pain.002.001.03)</a> standards.

      operationId: paymentInitiationUsingPOST
      parameters:
        - name: client_id
          in: query
          required: true
          description: >-
            This is your unique identifier shared during your CitiConnect API
            onboarding. This is the same `client_id` used for oauth token
            generation
          schema:
            type: string
        - name: Content-type
          in: header
          description: 'Supports "application/xml" '
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
        - name: payloadType
          in: header
          description: Supports "urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" format
          required: true
          schema:
            type: string
      requestBody:
        description: >+
          Contains the required fields of the ISOXML request body.

          The request body must be Base64 encoded and enclosed within the
          \<Request>\<paymentBase64> tags.


          **Note:** The required fields of the `requestBody` are highly
          dependent on the countries and currencies used in the payment. For the
          most specific and up-to-date fields use the <a
          href="https://uat.developer.citi.com/apim/go/paymentrules"
          target="_blank">Citi Payment Formatting Rules Tool</a>. This example
          `requestBody` is provided for guidance.

        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/DocumentReq'
            examples:
              Domestic Fund Transfer:
                value: >-
                  <?xml version="1.0" encoding="utf-8"?><Document
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"><CstmrCdtTrfInitn><GrpHdr><MsgId>GBP161114694869</MsgId><CreDtTm>2026-04-15T10:17:55</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>1.00</CtrlSum><InitgPty><Nm>Hudson
                  Advisors Europe
                  Ltd</Nm></InitgPty></GrpHdr><PmtInf><PmtInfId>14017498 Fund
                  Transfer
                  Domestic</PmtInfId><PmtMtd>TRF</PmtMtd><NbOfTxs>1</NbOfTxs><CtrlSum>1.00</CtrlSum><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl></PmtTpInf><ReqdExctnDt>2026-04-15</ReqdExctnDt><Dbtr><Nm>CITIBANK
                  E-BUSINESS EUR DUM
                  DEMO</Nm><PstlAdr><Ctry>GB</Ctry></PstlAdr><Id><OrgId><BICOrBEI>CITIGB2L</BICOrBEI></OrgId></Id></Dbtr><DbtrAcct><Id><Othr><Id>10012262</Id></Othr></Id><Ccy>USD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITIGB2L</BIC><PstlAdr><Ctry>GB</Ctry></PstlAdr></FinInstnId></DbtrAgt><ChrgBr>DEBT</ChrgBr><CdtTrfTxInf><PmtId><EndToEndId>E2E20260501</EndToEndId></PmtId><Amt><InstdAmt
                  Ccy="USD">1.00</InstdAmt></Amt><UltmtDbtr><Id><PrvtId><Othr><Id>PARTICIPANT
                  ID POBO UK BR600
                  012345</Id><SchmeNm><Prtry>INST</Prtry></SchmeNm></Othr></PrvtId></Id></UltmtDbtr><CdtrAgt><FinInstnId><BIC>CITIGB2L</BIC><ClrSysMmbId><MmbId>185008</MmbId></ClrSysMmbId><Nm>CITIBANK(ISO)</Nm><PstlAdr><Ctry>GB</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>8010643122X
                  XXXXXXXXXXXXX
                  XXX</Nm><PstlAdr><Ctry>GB</Ctry></PstlAdr><CtctDtls><Nm>WDW 3
                  INVESTMENTS
                  LIMITED</Nm></CtctDtls></Cdtr><CdtrAcct><Id><Othr><Id>10012262</Id></Othr></Id></CdtrAcct><InstrForDbtrAgt>CONFIDENTIAL</InstrForDbtrAgt><RmtInf><Ustrd>TR002638</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
              Pay2China - Marketplace disbursement to merchants:
                value: >-
                  <?xml version="1.0" encoding="UTF-8"
                  standalone="yes"?><Document
                  xsi:schemaLocation="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrCdtTrfInitn><GrpHdr><MsgId>MessageId</MsgId><CreDtTm>2026-05-11T07:02:06</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>1200</CtrlSum><InitgPty><Nm>ABC</Nm></InitgPty></GrpHdr><PmtInf><PmtInfId>8fc1b5da421611ecae9c005056b310ad</PmtInfId><PmtMtd>TRF</PmtMtd><NbOfTxs>1</NbOfTxs><PmtTpInf><SvcLvl><Cd>NURG</Cd></SvcLvl><LclInstrm><Prtry>CITIA01</Prtry></LclInstrm></PmtTpInf><ReqdExctnDt>2026-05-11</ReqdExctnDt><Dbtr><Nm>sample
                  data</Nm></Dbtr><DbtrAcct><Id><Othr><Id>1888665664</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICN2XXXX</BIC></FinInstnId></DbtrAgt><CdtTrfTxInf><PmtId><EndToEndId>SN41741A</EndToEndId></PmtId><Amt><InstdAmt
                  Ccy="CNY">1200</InstdAmt></Amt><CdtrAgt><FinInstnId><ClrSysMmbId><MmbId>102891613014</MmbId></ClrSysMmbId><Nm>中国工商银行股份有限公司拜城支行</Nm></FinInstnId></CdtrAgt><Cdtr><Nm>同振证券外资公司</Nm><Id><OrgId><Othr><Id>M20241030151729</Id></Othr></OrgId></Id></Cdtr><CdtrAcct><Id><Othr><Id>6221554579063681732</Id></Othr></Id></CdtrAcct><RmtInf><Ustrd>订单后置</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
              Pay2China - Cross border funds transfer to CNY:
                value: >-
                  <?xml version="1.0" encoding="utf-8"?><Document
                  xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrCdtTrfInitn><GrpHdr><MsgId>MessageId</MsgId><CreDtTm>2026-05-11T07:02:06</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>1000</CtrlSum><InitgPty><Nm>BBS
                  PHILIPPINES
                  INC.</Nm></InitgPty></GrpHdr><PmtInf><PmtInfId>PA5910Q142589628BA326AS</PmtInfId><PmtMtd>TRF</PmtMtd><NbOfTxs>1</NbOfTxs><CtrlSum>1000</CtrlSum><PmtTpInf><SvcLvl><Cd>WIRE</Cd></SvcLvl><LclInstrm><Prtry>CITIA02</Prtry></LclInstrm></PmtTpInf><ReqdExctnDt>2026-05-11</ReqdExctnDt><Dbtr><Nm>CFS
                  PH
                  CLIENT</Nm><PstlAdr><TwnNm>SHANGAI</TwnNm><Ctry>CN</Ctry></PstlAdr><CtryOfRes>CN</CtryOfRes></Dbtr><DbtrAcct><Id><Othr><Id>6784978328</Id></Othr></Id><Ccy>USD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICNSXBJG</BIC><PstlAdr><Ctry>CN</Ctry></PstlAdr></FinInstnId><BrnchId><Id>713</Id></BrnchId></DbtrAgt><CdtTrfTxInf><PmtId><InstrId>01-18708000000128</InstrId><EndToEndId>Sn41741B</EndToEndId></PmtId><Amt><InstdAmt
                  Ccy="USD">1000</InstdAmt></Amt><ChrgBr>SHAR</ChrgBr><ChqInstr><ChqNb>23456778</ChqNb><DlvryMtd><Cd>MLCD</Cd></DlvryMtd><PrtLctn>Test</PrtLctn></ChqInstr><CdtrAgt><FinInstnId><ClrSysMmbId><MmbId>102891613014</MmbId></ClrSysMmbId><Nm>????????????????</Nm></FinInstnId></CdtrAgt><Cdtr><Nm>?????????</Nm><Id><OrgId><Othr><Id>M20241104102956</Id></Othr></OrgId></Id></Cdtr><CdtrAcct><Id><Othr><Id>6226305925266511452</Id></Othr></Id></CdtrAcct><InstrForCdtrAgt><InstrInf>/REC/IBFT/EXPRESSNET</InstrInf></InstrForCdtrAgt><RmtInf><Ustrd>???</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
              Pay2China - CNH conversion to CNY:
                value: >-
                  <?xml version="1.0" encoding="utf-8"?><Document
                  xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrCdtTrfInitn><GrpHdr><MsgId>MessageId</MsgId><CreDtTm>2026-05-11T07:02:06</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>1000</CtrlSum><InitgPty><Nm>BBS
                  PHILIPPINES
                  INC.</Nm></InitgPty></GrpHdr><PmtInf><PmtInfId>PA5910Q142589628BA326AF</PmtInfId><PmtMtd>TRF</PmtMtd><NbOfTxs>1</NbOfTxs><CtrlSum>1000</CtrlSum><PmtTpInf><SvcLvl><Cd>WIRE</Cd></SvcLvl><LclInstrm><Prtry>CITIA03</Prtry></LclInstrm></PmtTpInf><ReqdExctnDt>2026-05-11</ReqdExctnDt><Dbtr><Nm>CFS
                  PH
                  CLIENT</Nm><PstlAdr><TwnNm>SHANGAI</TwnNm><Ctry>CN</Ctry></PstlAdr><CtryOfRes>CN</CtryOfRes></Dbtr><DbtrAcct><Id><Othr><Id>9888666898</Id></Othr></Id><Ccy>CNY</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICNSXBJG</BIC><PstlAdr><Ctry>CN</Ctry></PstlAdr></FinInstnId><BrnchId><Id>713</Id></BrnchId></DbtrAgt><CdtTrfTxInf><PmtId><InstrId>01-18708000000128</InstrId><EndToEndId>SN41741C</EndToEndId></PmtId><Amt><InstdAmt
                  Ccy="USD">1000</InstdAmt></Amt><ChrgBr>SHAR</ChrgBr><ChqInstr><ChqNb>23456778</ChqNb><DlvryMtd><Cd>MLCD</Cd></DlvryMtd><PrtLctn>Test</PrtLctn></ChqInstr><CdtrAgt><FinInstnId><BIC>CITICNSXXXX</BIC><Nm>????????????????</Nm><PstlAdr><Ctry>PH</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>A
                  MARKETPLACE
                  COMPANY</Nm><PstlAdr><Ctry>CN</Ctry><AdrLine>MCKINLEY HILLS
                  CYBER PARK</AdrLine><AdrLine>FORT
                  BONIFACIO</AdrLine><AdrLine>TAGUIG
                  CITY</AdrLine></PstlAdr></Cdtr><CdtrAcct><Id><Othr><Id>1888665664</Id></Othr></Id></CdtrAcct><InstrForCdtrAgt><InstrInf>/REC/IBFT/EXPRESSNET</InstrInf></InstrForCdtrAgt><RmtInf><Ustrd>????</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
              Citi Token Services:
                value: >-
                  <?xml version="1.0" encoding="UTF-8"
                  standalone="yes"?><Document
                  xsi:schemaLocation="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrCdtTrfInitn><GrpHdr><MsgId>MessageId</MsgId><CreDtTm>2026-05-12T07:02:06</CreDtTm><NbOfTxs>1</NbOfTxs><InitgPty><Nm>Rasier,
                  LLC</Nm></InitgPty></GrpHdr><PmtInf><PmtInfId>AUTOGTxXl5mIqceHlMD2yhNjMkimfh3sZ0P</PmtInfId><PmtMtd>TRF</PmtMtd><ReqdExctnDt>2026-05-12</ReqdExctnDt><Dbtr><Nm>ACCDESC0017854870</Nm></Dbtr><DbtrAcct><Id><Othr><Id>400116008</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITIJPJTXXX</BIC></FinInstnId></DbtrAgt><CdtTrfTxInf><PmtId><EndToEndId>SN41741W</EndToEndId></PmtId><PmtTpInf><LclInstrm><Prtry>CITI10Z</Prtry></LclInstrm></PmtTpInf><Amt><InstdAmt
                  Ccy="USD">1.00</InstdAmt></Amt><CdtrAgt><FinInstnId><BIC>CITIGB2LXXX</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>ACCDESC0038152296</Nm><PstlAdr><AdrLine>ADDRESS
                  LINE 1 CdTRAGT Pst1Adr L135</AdrLine><AdrLine>ADDRESS LINE 2
                  cdtrAGT Pst1Adr L235</AdrLine><AdrLine>ADDRESS LINE 3 cdtrAGT
                  Pst1Adr
                  L335</AdrLine></PstlAdr></Cdtr><CdtrAcct><Id><Othr><Id>13777529</Id></Othr></Id></CdtrAcct><RmtInf><Ustrd>THIS
                  data has been initiated through CCAPI channels as a part of
                  Yoda CNIP Testing for references on the basis of UAT test1
                  purposes.</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
        required: true
      responses:
        '200':
          description: >-
            OK - your request was received and acknowledged successfully.


            Check the response body for the transaction status.


            | Payment Status | Recommended Action |

            | -------------- |  ----------------- |

            | Decrypted payload is unintelligible | Make a payment status
            inquiry every 5 minutes for 15 minutes. If you do not receive a
            response, contact Citi.

            | PDNG - Pending | Received L0 as resposne |

            | ACTC/ACCP - Accepted | Make a payment status inquiry every 5
            minutes |

            | RJCT - Rejected | See the status reason for more information |

            | ACSP/ACSC - Payment successfully processed and cleared | No action
            required |
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Domestic Fund Transfer:
                  value: >-
                    <?xml version="1.0" encoding="UTF-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20260415-PSR/1696117835</MsgId><CreDtTm>2026-04-15T07:45:13</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>GBP161114694869</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2026-04-15T10:17:55</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>14017498
                    Fund Transfer
                    Domestic</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>E2E20260501</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment
                    validation is
                    in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt
                    Ccy="USD">1.00</InstdAmt></Amt><ReqdExctnDt>2026-04-15</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Strd><AddtlRmtInf>UETR/5149e0a5-d343-451b-8df9-8f270fa90f30/SvcTpIdr/003</AddtlRmtInf></Strd></RmtInf><Dbtr><Nm>CITIBANK
                    E-BUSINESS EUR DUM
                    DEMO</Nm></Dbtr><DbtrAcct><Id><Othr><Id>10012262</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITIGB2L</BIC><PstlAdr><Ctry>GB</Ctry></PstlAdr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>CITIGB2L</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>8010643122X
                    XXXXXXXXXXXXX XXX</Nm><CtctDtls><Nm>WDW 3 INVESTMENTS
                    LIMITED</Nm></CtctDtls></Cdtr><CdtrAcct><Id><Othr><Id>10012262</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
                Pay2China - Marketplace disbursement to merchants:
                  value: >-
                    <?xml version="1.0" encoding="UTF-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20260511-PSR/859425131</MsgId><CreDtTm>2026-05-11T10:45:14</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>MessageId</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2026-05-11T10:45:14.403Z</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>8fc1b5da421611ecae9c005056b310ad</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>SN41741A</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment
                    validation is
                    in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt
                    Ccy="CNY">1200</InstdAmt></Amt><ReqdExctnDt>2026-05-11</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>NURG</Cd></SvcLvl></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Strd><AddtlRmtInf>UETR/1f430cbf-5672-4148-a5de-adb9f2ccc8c1/SvcTpIdr/003</AddtlRmtInf></Strd></RmtInf><Dbtr><Nm>sample
                    data</Nm></Dbtr><DbtrAcct><Id><Othr><Id>1888665664</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICN2XXXX</BIC></FinInstnId></DbtrAgt><Cdtr><Nm>å?ŒæŒ¯è¯?åˆ¸å¤–èµ„å…¬å?¸</Nm></Cdtr><CdtrAcct><Id><Othr><Id>6221554579063681732</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
                Pay2China - Cross border funds transfer to CNY:
                  value: >-
                    <?xml version="1.0" encoding="UTF-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20260511-PSR/542006</MsgId><CreDtTm>2026-05-11T10:47:26</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>MessageId</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2026-05-11T10:47:26.006Z</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>PA5910Q142589628BA326AS</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>Sn41741B</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment
                    validation is
                    in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt
                    Ccy="USD">1000</InstdAmt></Amt><ReqdExctnDt>2026-05-11</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>WIRE</Cd></SvcLvl></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Strd><AddtlRmtInf>UETR/93ad7329-ebb6-46b4-8ef2-cc21ffa76f44/SvcTpIdr/003</AddtlRmtInf></Strd></RmtInf><Dbtr><Nm>CFS
                    PH
                    CLIENT</Nm></Dbtr><DbtrAcct><Id><Othr><Id>6784978328</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICNSXBJG</BIC><PstlAdr><Ctry>CN</Ctry></PstlAdr></FinInstnId></DbtrAgt><Cdtr><Nm>æ­£è€€è‚¡ä»½å?ˆä½œåˆ¶å…¬å?¸</Nm></Cdtr><CdtrAcct><Id><Othr><Id>6226305925266511452</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
                Pay2China - CNH conversion to CNY:
                  value: >-
                    <?xml version="1.0" encoding="UTF-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20260511-PSR/2015834457</MsgId><CreDtTm>2026-05-11T10:49:18</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>MessageId</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2026-05-11T10:49:18.515Z</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>PA5910Q142589628BA326AF</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>SN41741C</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment
                    validation is
                    in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt
                    Ccy="USD">1000</InstdAmt></Amt><ReqdExctnDt>2026-05-11</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>WIRE</Cd></SvcLvl></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Strd><AddtlRmtInf>UETR/e775213c-f391-4ee6-9187-03c4acfaa597/SvcTpIdr/003</AddtlRmtInf></Strd></RmtInf><Dbtr><Nm>CFS
                    PH
                    CLIENT</Nm></Dbtr><DbtrAcct><Id><Othr><Id>9888666898</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICNSXBJG</BIC><PstlAdr><Ctry>CN</Ctry></PstlAdr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>CITICNSXXXX</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>A
                    MARKETPLACE
                    COMPANY</Nm></Cdtr><CdtrAcct><Id><Othr><Id>1888665664</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
                Citi Token Services:
                  value: >-
                    <?xml version="1.0" encoding="UTF-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"><CstmrPmtStsRpt><GrpHdr><MsgId>CITIBANK/20260512-PSR/691127953</MsgId><CreDtTm>2026-05-12T09:36:24</CreDtTm><InitgPty><Id><OrgId><BICOrBEI>CITIUS33</BICOrBEI></OrgId></Id></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>MessageId</OrgnlMsgId><OrgnlMsgNmId>pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2026-05-12T09:36:23.567Z</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><NbOfTxsPerSts><DtldNbOfTxs>1</DtldNbOfTxs><DtldSts>PDNG</DtldSts></NbOfTxsPerSts></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>AUTOGTxXl5mIqceHlMD2yhNjMkimfh3sZ0P</OrgnlPmtInfId><TxInfAndSts><OrgnlEndToEndId>SN41741W</OrgnlEndToEndId><TxSts>PDNG</TxSts><StsRsnInf><AddtlInf>Payment
                    validation is
                    in-progress</AddtlInf></StsRsnInf><OrgnlTxRef><Amt><InstdAmt
                    Ccy="USD">1.00</InstdAmt></Amt><ReqdExctnDt>2026-05-12</ReqdExctnDt><PmtTpInf/><PmtMtd>TRF</PmtMtd><RmtInf><Strd><AddtlRmtInf>UETR/a1bff9d0-6011-4714-b942-41f696f96d69/SvcTpIdr/003</AddtlRmtInf></Strd></RmtInf><Dbtr><Nm>ACCDESC0017854870</Nm></Dbtr><DbtrAcct><Id><Othr><Id>400116008</Id></Othr></Id></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITIJPJTXXX</BIC></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>CITIGB2LXXX</BIC></FinInstnId></CdtrAgt><Cdtr><Nm>ACCDESC0038152296</Nm></Cdtr><CdtrAcct><Id><Othr><Id>13777529</Id></Othr></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
        '400':
          description: >-
            Bad Request <br></br>Send a Payment Status Inquiry three times at
            five minute intervals to confirm that the request has not been
            received in that time. If the request has not been received, resend
            the request using the same end-to-end ID.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errormessage'
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>Bad
                Request</httpMessage><httpCode>400</httpCode><moreInformation>Schema
                Validation
                Failed.</moreInformation></errormessage>               
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errormessage'
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>Invalid OAuth
                Token</httpMessage><httpCode>401</httpCode><moreInformation>Please
                use valid OAuth Token.</moreInformation></errormessage>
        '403':
          description: Forbidden
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errormessage'
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>Forbidden</httpMessage><httpCode>403</httpCode><moreInformation>You
                are forbidden to access this
                service.</moreInformation></errormessage>
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errormessage'
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>Not
                Found</httpMessage><httpCode>404</httpCode><moreInformation>No
                resources match requested URI.</moreInformation></errormessage>
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>Method not
                allowed</httpMessage><httpCode>405</httpCode><moreInformation>Please
                use valid HTTP supported verb
                only.</moreInformation></errormessage>
        '500':
          description: >-
            Internal Server Error <br></br>Send a Payment Status Inquiry three
            times at five minute intervals to confirm that the request has not
            been received in that time. If the request has not been received,
            resend the request using the same end-to-end ID.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/errormessage'
              example: >-
                <?xml version="1.0"
                encoding="UTF-8"?><errormessage><httpMessage>SSL Connection
                error</httpMessage><httpCode>500</httpCode><moreInformation>SSL
                Connection error with BE
                server.</moreInformation></errormessage>
      x-codegen-request-body-name: PaymentInitiationRequest
      security:
        - clientCredentials: []
components:
  schemas:
    DocumentReq:
      required:
        - CstmrCdtTrfInitn
      properties:
        CstmrCdtTrfInitn:
          $ref: '#/components/schemas/CustomerCreditTransferInitiationV03'
      description: Customer credit transfer initiation request body.
      xml:
        name: Document
    Document:
      required:
        - CstmrPmtStsRpt
      properties:
        CstmrPmtStsRpt:
          $ref: '#/components/schemas/CustomerPaymentStatusReportV03'
      description: Customer payment status report.
    errormessage:
      required:
        - httpCode
      type: object
      properties:
        httpCode:
          type: integer
          format: int32
        httpMessage:
          type: string
        moreInformation:
          type: string
      description: Error response body
      xml:
        name: errormessage
    AccountIdentification4Choice:
      required:
        - IBAN
        - Othr
      type: object
      properties:
        IBAN:
          $ref: '#/components/schemas/IBAN2007Identifier'
        Othr:
          $ref: '#/components/schemas/GenericAccountIdentification1'
      description: >-
        Unique identification for the account between the account owner and the
        account servicer. Either `IBAN` or `Othr` parameter should be passed in
        the request.
    ActiveOrHistoricCurrencyAndAmount:
      type: object
      properties:
        Ccy:
          type: object
          description: Currency code. Passed as the parameter attribute.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Value:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount_SimpleType'
    ActiveOrHistoricCurrencyAndAmount_SimpleType:
      maxLength: 18
      type: string
      description: >-
        A number of monetary units specified in an active or a historic currency
        where the unit of currency is explicit and compliant with ISO 4217.<br>
        The number of fractional digits should be 5.
    ActiveOrHistoricCurrencyCode:
      pattern: '[A-Z]{3,3}'
      type: string
    AmountType3Choice:
      type: object
      properties:
        EqvtAmt:
          $ref: '#/components/schemas/EquivalentAmount2'
        InstdAmt:
          type: object
          description: >-
            Amount of money to be moved between the debtor and creditor, before
            deduction of charges, expressed in the currency as ordered by the
            initiating party. \n - For Pay2China, Format is 'x.xx' and to be
            provided with currency attribute.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
        initiating party. Either `EqvtAmt` or `InstdAmt` parameter value should
        be passed on request.
    Authorisation1Choice:
      required:
        - Cd
        - Prtry
      type: object
      properties:
        Cd:
          type: string
          description: >-
            Specifies the authorization, in a coded form.<br><br><b>AUTH:</b>
            Indicates a file has been pre authorized or approved within the
            originating customer environment and no further approval is
            required. <br><br><b>FDET:</b> Indicates that a file requires
            additional file level approval, with the ability to view both the
            payment information block and supporting customer credit transaction
            detail. <br><br><b>FSUM:</b> Indicates that a file requires
            additional file level approval, with the ability to view only the
            payment information block level information. <br><br><b>ILEV:</b>
            Indicates that a file requires all customer transactions to be
            authorized or approved.
          enum:
            - AUTH
            - FDET
            - FSUM
            - ILEV
        Prtry:
          maxLength: 128
          minLength: 1
          type: string
          description: Specifies the authorisation, in a free text form.
    BaseOneRate:
      maxLength: 11
      type: string
      description: >-
        The factor used for conversion of an amount from one currency to
        another. This reflects the price at which one currency was bought with
        another currency.
    BranchAndFinancialInstitutionIdentification4:
      required:
        - FinInstnId
      type: object
      properties:
        BrnchId:
          $ref: '#/components/schemas/BranchData2'
        FinInstnId:
          $ref: '#/components/schemas/FinancialInstitutionIdentification7'
    BranchData2:
      type: object
      properties:
        Id:
          type: object
          description: Unique identification of a branch of a financial institution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
      description: Identifies a specific branch of a financial institution.
    CashAccount16:
      required:
        - Id
      type: object
      properties:
        Ccy:
          type: object
          description: Identification of the currency in which the account is held.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
        Id:
          $ref: '#/components/schemas/AccountIdentification4Choice'
        Nm:
          type: object
          description: >-
            Name of the account, as assigned by the account servicing
            institution, in agreement with the account owner in order to provide
            an additional means of identification of the account.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        Tp:
          $ref: '#/components/schemas/CashAccountType2'
    CashAccountType2:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/CashAccountType4Code'
        Prtry:
          type: object
          description: Nature or use of the account in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the nature, or use of the account. Either Code or Proprietary
        parameter value should be passed on request.
    CashAccountType4Code:
      type: string
      description: >-
        Account type, in a coded form. <br><br><b>CASH</b> : Account used for
        the payment of cash. <br><br><b>CHAR</b> : Account used for charges if
        different from the account for payment. <br><br><b>COMM</b> : Account
        used for commission if different from the account for payment.
        <br><br><b>TAXE</b> : Account used for taxes if different from the
        account for payment. <br><br><b>CISH</b> : Account used for payment of
        income if different from the current cash account. <br><br><b>TRAS</b> :
        Account used for trading if different from the current cash account.
        <br><br><b>SACC</b> : Account used to post debit and credit entries, as
        a result of transactions cleared and settled through a specific clearing
        and settlement system. <br><br><b>CACC</b> : Account used to post debits
        and credits when no specific account has been nominated.
        <br><br><b>SVGS</b> : Account used for savings. <br><br><b>ONDP</b> :
        Account used for overnight deposits. <br><br><b>MGLD</b> : Account used
        for a marginal lending facility. <br><br><b>NREX</b> : Account used for
        non-resident external. <br><br><b>MOMA</b> : Account used for money
        markets if different from the cash account. <br><br><b>LOAN</b> :
        Account used for loans. <br><br><b>SLRY</b> : Accounts used for salary
        payments. <br><br><b>ODFT</b> : Account is used for overdrafts.
      enum:
        - CASH
        - CHAR
        - COMM
        - TAXE
        - CISH
        - TRAS
        - SACC
        - CACC
        - SVGS
        - ONDP
        - MGLD
        - NREX
        - MOMA
        - LOAN
        - SLRY
        - ODFT
    CategoryPurpose1Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Category purpose, as published in an external category purpose code
            list. \n - For Pay2China, this field is optional and can be
            populated as 'CASH'.
        Prtry:
          type: object
          description: Category purpose, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the high level purpose of the instruction based on a set of
        pre-defined categories. Either Code or Proprietary parameter value
        should be passed in request.
    ChargeBearerType1Code:
      type: string
      description: >-
        Specifies which party/parties will bear the charges associated with the
        processing of the payment transaction. <br><br><b>DEBT</b> : All
        transaction charges are to be borne by the debtor. <br><br><b>CRED</b> :
        All transaction charges are to be borne by the creditor.
        <br><br><b>SHAR</b> : In a credit transfer context, means that
        transaction charges on the sender side are to be borne by the debtor,
        transaction charges on the receiver side are to be borne by the
        creditor. In a direct debit context, means that transaction charges on
        the sender side are to be borne by the creditor, transaction charges on
        the receiver side are to be borne by the debtor. <br><br><b>SLEV</b> :
        Charges are to be applied following the rules agreed in the service
        level and/or scheme.
      enum:
        - DEBT
        - CRED
        - SHAR
        - SLEV
    Cheque6:
      type: object
      properties:
        ChqFr:
          type: object
          description: Identifies the party that ordered the issuance of the cheque.
          allOf:
            - $ref: '#/components/schemas/NameAndAddress10'
        ChqMtrtyDt:
          type: object
          description: >-
            Date when the draft becomes payable and the debtor's account is
            debited.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        ChqNb:
          type: object
          description: Unique identifier for a cheque as assigned by the agent.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        ChqTp:
          $ref: '#/components/schemas/ChequeType2Code'
        DlvrTo:
          type: object
          description: Party to whom the debtor's agent needs to send the cheque.
          allOf:
            - $ref: '#/components/schemas/NameAndAddress10'
        DlvryMtd:
          $ref: '#/components/schemas/ChequeDeliveryMethod1Choice'
        FrmsCd:
          type: object
          description: >-
            Identifies, in a coded form, the cheque layout, company logo and
            digitized signature to be used to print the cheque, as agreed
            between the initiating party and the debtor's agent.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        InstrPrty:
          type: object
          description: >-
            Urgency or order of importance that the originator would like the
            recipient of the payment instruction to apply to the processing of
            the payment instruction.<br><br><b>HIGH</b> : Priority level is
            high. <br><br><b>NORM</b> : Priority level is normal.
          allOf:
            - $ref: '#/components/schemas/Priority2Code'
        MemoFld:
          maxItems: 2
          type: array
          description: >-
            Information that needs to be printed on a cheque, used by the payer
            to add miscellaneous information.
          items:
            $ref: '#/components/schemas/Max35Text'
        PrtLctn:
          type: object
          description: Specifies the print location of the cheque.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        RgnlClrZone:
          type: object
          description: >-
            Regional area in which the cheque can be cleared, when a country has
            no nation-wide cheque clearing organization.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Set of elements needed to issue a cheque.
    ChequeDelivery1Code:
      type: string
      description: >-
        Specifies the delivery method of the cheque by the debtor's agent.
        <br><br><b>MLDB</b>: Cheque is to be sent through mail services to
        debtor. <br><br><b>MLCD</b>: Cheque is to be sent through mail services
        to creditor. <br><br><b>MLFA</b>: Cheque is to be sent through mail
        services to creditor agent. <br><br><b>CRDB</b>: Cheque is to be sent
        through courier services to debtor. <br><br><b>CRCD</b>: Cheque is to be
        sent through courier services to creditor. <br><br><b>CRFA</b>: Cheque
        is to be sent through courier services to creditor agent.
        <br><br><b>PUDB</b>: Cheque will be picked up by the debtor.
        <br><br><b>PUCD</b>: Cheque will be picked up by the creditor.
        <br><br><b>PUFA</b>: Cheque will be picked up by the creditor agent.
        <br><br><b>RGDB</b>: Cheque is to be sent through registered mail
        services to debtor. <br><br><b>RGCD</b>: Cheque is to be sent through
        registered mail services to creditor. <br><br><b>RGFA</b>: Cheque is to
        be sent through registered mail services to creditor agent.
      enum:
        - MLDB
        - MLCD
        - MLFA
        - CRDB
        - CRCD
        - CRFA
        - PUDB
        - PUCD
        - PUFA
        - RGDB
        - RGCD
        - RGFA
    ChequeDeliveryMethod1Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/ChequeDelivery1Code'
        Prtry:
          type: object
          description: >-
            Specifies a proprietary delivery method of the cheque by the
            debtor's agent.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the delivery method of the cheque by the debtor's agent.
    ChequeType2Code:
      type: string
      description: >-
        Specifies the type of cheque to be issued. <br><br><b>CCHQ</b> : Cheque
        drawn on the account of the debtor, and debited on the debtor's account
        when the cheque is cashed. Synonym is 'corporate cheque'.
        <br><br><b>CCCH</b> : Cheque drawn on the account of the debtor, and
        debited on the debtor's account when the cheque is cashed. The financial
        institution prints and certifies the cheque, guaranteeing the payment.
        <br><br><b>BCHQ</b> : Cheque drawn on the account of the debtor's
        financial institution, which is debited on the debtor's account when the
        cheque is issued.These cheques are printed by the debtor's financial
        institution and payment is guaranteed by the financial institution.
        Synonym is 'cashier's cheque'. <br><br><b>DRFT</b> : A guaranteed bank
        cheque with a future value date (do not pay before], which in commercial
        terms is a 'negotiatable instrument': the beneficiary can receive early
        payment from any bank under subtraction of a discount. The ordering
        customer's account is debited on value date. <br><br><b>ELDR</b> : An
        instrument with a future value date (do not pay before], which in
        commercial terms is a 'negotiatable instrument': the beneficiary can
        receive early payment from any bank under subtraction of a discount. The
        ordering customer's account is debited on value date.
      enum:
        - CCHQ
        - CCCH
        - BCHQ
        - DRFT
        - ELDR
    ClearingSystemIdentification3Choice:
      type: object
      properties:
        Cd:
          maxLength: 3
          minLength: 1
          type: string
          description: >-
            Infrastructure through which the payment instruction is processed,
            as published in an external clearing system identification code
            list.
        Prtry:
          type: object
          description: Clearing system identification in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specification of a pre-agreed offering between clearing agents or the
        channel through which the payment instruction is processed. Either Code
        or Proprietary parameter value should be passed in request.
    ClearingSystemMemberIdentification2:
      required:
        - MmbId
      type: object
      properties:
        ClrSysId:
          required:
            - Cd
            - Prtry
          type: object
          properties:
            Cd:
              maxLength: 5
              minLength: 1
              type: string
              description: >-
                Identification of a clearing system, in a coded form as
                published in an external list.
            Prtry:
              type: object
              description: >-
                Identification code for a clearing system, that has not yet been
                identified in the list of clearing systems.
              allOf:
                - $ref: '#/components/schemas/Max35Text'
          description: >-
            Specification of a pre-agreed offering between clearing agents or
            the channel through which the payment instruction is processed.
        MmbId:
          type: object
          description: Identification of a member of a clearing system.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Information used to identify a member within a clearing system.
    ContactDetails2:
      type: object
      properties:
        EmailAdr:
          type: object
          description: Address for electronic mail (e-mail).
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
        FaxNb:
          type: object
          description: >-
            Collection of information that identifies a FAX number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        MobNb:
          type: object
          description: >-
            Collection of information that identifies a mobile phone number, as
            defined by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
        Nm:
          type: object
          description: >-
            Name by which a party is known and which is usually used to identify
            that party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        NmPrfx:
          $ref: '#/components/schemas/NamePrefix1Code'
        Othr:
          type: object
          description: Contact details in another form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        PhneNb:
          type: object
          description: >-
            Collection of information that identifies a phone number, as defined
            by telecom services.
          allOf:
            - $ref: '#/components/schemas/PhoneNumber'
      description: Set of elements used to indicate how to contact the party.
    CountryCode:
      pattern: '[A-Z]{2,2}'
      type: string
      description: >-
        Nation with its own government. The code is checked against the list of
        country names obtained from the United Nations (ISO 3166, Alpha-2 code).
        \n - For Pay2China, Provide the country code of Ordering Party Bank
        'CN'.
    CreditDebitCode:
      type: string
      description: >-
        Specifies whether the adjustment must be subtracted or added to the
        total amount.<br><br><b>CRDT</b> : Operation is an increase.
        <br><br><b>DBIT</b> : Operation is a decrease.
      enum:
        - CRDT
        - DBIT
    CreditTransferTransactionInformation10:
      required:
        - Amt
        - PmtId
      type: object
      properties:
        Amt:
          $ref: '#/components/schemas/AmountType3Choice'
        ChrgBr:
          $ref: '#/components/schemas/ChargeBearerType1Code'
        ChqInstr:
          $ref: '#/components/schemas/Cheque6'
        Cdtr:
          type: object
          description: Party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        CdtrAcct:
          type: object
          description: >-
            Identification of the account of the creditor to which a credit
            entry will be posted as a result of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        CdtrAgtAcct:
          type: object
          description: >-
            Identification of the account of the creditor agent at its servicing
            agent to which a credit entry will be made as a result of the
            payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        XchgRateInf:
          $ref: '#/components/schemas/ExchangeRateInformation1'
        InstrForCdtrAgt:
          type: array
          description: >-
            Further information related to the processing of the payment
            instruction, provided by the initiating party, and intended for the
            creditor agent.
          items:
            $ref: '#/components/schemas/InstructionForCreditorAgent1'
        InstrForDbtrAgt:
          type: object
          description: >-
            Further information related to the processing of the payment
            instruction, that may need to be acted upon by the debtor agent,
            depending on agreement between debtor and the debtor agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        IntrmyAgt1:
          type: object
          description: Agent between the debtor's agent and the creditor's agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        IntrmyAgt1Acct:
          type: object
          description: >-
            Identification of the account of the intermediary agent 1 at its
            servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        IntrmyAgt2:
          type: object
          description: Agent between the debtor's agent and the creditor's agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        IntrmyAgt2Acct:
          type: object
          description: >-
            Identification of the account of the intermediary agent 2 at its
            servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        IntrmyAgt3:
          type: object
          description: Agent between the debtor's agent and the creditor's agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        IntrmyAgt3Acct:
          type: object
          description: >-
            Identification of the account of the intermediary agent 3 at its
            servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        PmtId:
          $ref: '#/components/schemas/PaymentIdentification1'
        PmtTpInf:
          $ref: '#/components/schemas/PaymentTypeInformation19'
        Purp:
          $ref: '#/components/schemas/Purpose2Choice'
        RgltryRptg:
          maxItems: 10
          type: array
          description: Information needed due to regulatory and statutory requirements.
          items:
            $ref: '#/components/schemas/RegulatoryReporting3'
        RltdRmtInf:
          maxItems: 10
          type: array
          description: >-
            Set of elements used to provide information related to the handling
            of the remittance information by any of the agents in the
            transaction processing chain.
          items:
            $ref: '#/components/schemas/RemittanceLocation2'
        RmtInf:
          type: object
          description: >-
            Information supplied to enable the matching of an entry with the
            items that the transfer is intended to settle, such as commercial
            invoices in an accounts' receivable system.
          allOf:
            - $ref: '#/components/schemas/RemittanceInformation5'
        Tax:
          $ref: '#/components/schemas/TaxInformation3'
        UltmtCdtr:
          type: object
          description: Ultimate party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        UltmtDbtr:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
    CreditorReferenceInformation2:
      type: object
      properties:
        Ref:
          type: object
          description: >-
            Unique reference, as assigned by the creditor, to  refer to the
            payment transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Tp:
          $ref: '#/components/schemas/CreditorReferenceType2'
      description: >-
        Reference information provided by the creditor to allow the
        identification of the underlying documents.
    CreditorReferenceType1Choice:
      type: object
      properties:
        Cd:
          $ref: '#/components/schemas/DocumentType3Code'
        Prtry:
          type: object
          description: Creditor reference type, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Coded or proprietary format creditor reference type. Either the `code`
        or the `proprietary` parameter should be passed in the request.
    CreditorReferenceType2:
      required:
        - CdOrPrtry
      type: object
      properties:
        CdOrPrtry:
          $ref: '#/components/schemas/CreditorReferenceType1Choice'
        Issr:
          type: object
          description: Entity that assigns the credit reference type.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: Specifies the type of creditor reference.
    CustomerCreditTransferInitiationV03:
      required:
        - GrpHdr
        - PmtInf
      type: object
      properties:
        GrpHdr:
          $ref: '#/components/schemas/GroupHeader32'
        PmtInf:
          minItems: 1
          type: array
          description: >-
            Set of characteristics that apply to the debit side of the payment
            transactions included in the credit transfer initiation.
          items:
            $ref: '#/components/schemas/PaymentInstructionInformation3'
      description: >-
        The `CustomerCreditTransferInitiation` message is sent by the initiating
        party to the forwarding agent or debtor agent. This message is used to
        request movement of funds from the debtor account to a creditor.
    CustomerPaymentStatusReportV03:
      required:
        - GrpHdr
        - OrgnlGrpInfAndSts
      type: object
      properties:
        GrpHdr:
          $ref: '#/components/schemas/GroupHeader36'
        OrgnlGrpInfAndSts:
          $ref: '#/components/schemas/OriginalGroupInformation20'
        OrgnlPmtInfAndSts:
          type: array
          description: >-
            Information concerning the original payment, to which the status
            report message refers.
          items:
            $ref: '#/components/schemas/OriginalPaymentInformation1'
    OriginalGroupInformation20:
      required:
        - OrgnlMsgId
        - OrgnlMsgNmId
      type: object
      properties:
        OrgnlMsgId:
          type: object
          description: >-
            Point-to-point reference, as assigned by the original instructing
            party, to identify the original message.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlMsgNmId:
          type: object
          description: >-
            Specifies the original message name identifier to which the message
            refers.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCreDtTm:
          type: string
          description: Date and time at which the original message was created.
          format: date-time
        OrgnlNbOfTxs:
          type: object
          description: Number of individual transactions contained in the original message.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the original message,
            regardless of currencies. The number of fractional digits should not
            be more than 17.
        GrpSts:
          $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: >-
            Detailed information on the number of transactions for each
            identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
      description: >-
        Original group information concerning the group of transactions, to
        which the status report message refers.
    OriginalPaymentInformation1:
      required:
        - OrgnlPmtInfId
      type: object
      properties:
        OrgnlPmtInfId:
          type: object
          description: >-
            Unique identification, as assigned by the original sending party, to
            identify the original payment information group.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlNbOfTxs:
          type: object
          description: >-
            Number of individual transactions contained in the original payment
            information group.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        OrgnlCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the original payment
            information group, regardless of currencies. The number of
            fractional digits should not be more than 17.
        PmtInfSts:
          type: object
          description: >-
            Specifies the status of the payment information
            group.<br><br><b>ACTC:</b> Authentication and syntactical and
            semantical validation are successful. <br><br><b>RCVD</b>: Payment
            initiation has been received by the receiving agent.
            <br><br><b>PART</b>: A number of transactions have been accepted,
            whereas another number of transactions have not yet achieved
            'accepted' status. <br><br><b>RJCT</b>: Payment initiation or
            individual transaction included in the payment initiation has been
            rejected.<br><br><b>PDNG:</b> Payment initiation or individual
            transaction included in the payment initiation is pending. Further
            checks and status update will be performed.<br><br><b>ACCP:</b>
            Preceding check of technical validation was successful. Customer
            profile check was also successful.<br><br><b>ACSP</b>: All preceding
            checks such as technical validation and customer profile were
            successful and therefore the payment initiation has been accepted
            for execution.<br><br><b>ACSC:</b> Settlement on the debtor's
            account has been completed. <br><br> Usage: this can be used by the
            first agent to report to the debtor that the transaction has been
            completed. <br><b>Warning</b>: this status is provided for
            transaction status reasons, not for financial information. It can
            only be used after bilateral agreement<br><br><b>ACWC</b>:
            Instruction is accepted but a change will be made, such as date or
            remittance not sent.
          allOf:
            - $ref: '#/components/schemas/TransactionGroupStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        NbOfTxsPerSts:
          type: array
          description: >-
            Detailed information on the number of transactions for each
            identical transaction status.
          items:
            $ref: '#/components/schemas/NumberOfTransactionsPerStatus3'
        TxInfAndSts:
          type: array
          description: Payment transaction information and status.
          items:
            $ref: '#/components/schemas/PaymentTransactionInformation25'
    StatusReasonInformation8:
      type: object
      properties:
        Orgtr:
          type: object
          description: Party that issues the status.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        Rsn:
          $ref: '#/components/schemas/StatusReason6Choice'
        AddtlInf:
          type: array
          description: Further details on the status reason.
          items:
            $ref: '#/components/schemas/Max105Text'
    StatusReason6Choice:
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: Reason for the status, as published in an external reason code list.
        Prtry:
          type: object
          description: Reason for the status, in a proprietary form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Specifies the reason for the status report. Either Code or Proprietary
        parameter value should be passed on request.
    NumberOfTransactionsPerStatus3:
      required:
        - DtldNbOfTxs
        - DtldSts
      type: object
      properties:
        DtldNbOfTxs:
          type: object
          description: >-
            Number of individual transactions contained in the message, detailed
            per status.
          allOf:
            - $ref: '#/components/schemas/Max15NumericText'
        DtldCtrlSum:
          maxLength: 18
          type: string
          description: >-
            Total of all individual amounts included in the message,
            irrespective of currencies, detailed per status. The number of
            fractional digits should not be more than 17
        DtldSts:
          $ref: '#/components/schemas/TransactionIndividualStatus3Code'
    TransactionIndividualStatus3Code:
      type: string
      description: >-
        Common transaction status for all individual transactions
        reported.<br><br><b>ACTC</b> : Authentication and syntactical and
        semantical validation are successful. <br><br><b>RJCT</b> : Payment
        initiation or individual transaction included in the payment initiation
        has been rejected.<br><br><b>PDNG</b> : Payment initiation or individual
        transaction included in the payment initiation is pending. Further
        checks and status update will be performed.<br><br><b>ACCP</b> :
        Preceding check of technical validation was successful. Customer profile
        check was also successful.<br><br><b>ACSP</b> : All preceding checks
        such as technical validation and customer profile were successful and
        therefore the payment initiation has been accepted for
        execution.<br><br><b>ACSC</b> : Settlement on the debtor's account has
        been completed. Usage : this can be used by the first agent to report to
        the debtor that the transaction has been completed. Warning : this
        status is provided for transaction status reasons, not for financial
        information. It can only be used after bilateral
        agreement<br><br><b>ACWC</b> : Instruction is accepted but a change will
        be made, such as date or remittance not sent.
      enum:
        - ACTC
        - RJCT
        - PDNG
        - ACCP
        - ACSP
        - ACSC
        - ACWC
    TransactionGroupStatus3Code:
      type: string
      description: >-
        Specifies the status of a group of transactions.<br><br><b>ACTC</b> :
        Authentication and syntactical and semantical validation are successful.
        <br><br><b>RCVD</b> : Payment initiation has been received by the
        receiving agent. <br><br><b>PART</b> : A number of transactions have
        been accepted, whereas another number of transactions have not yet
        achieved 'accepted' status. <br><br><b>RJCT</b> : Payment initiation or
        individual transaction included in the payment initiation has been
        rejected.<br><br><b>PDNG</b> : Payment initiation or individual
        transaction included in the payment initiation is pending. Further
        checks and status update will be performed.<br><br><b>ACCP</b> :
        Preceding check of technical validation was successful. Customer profile
        check was also successful.<br><br><b>ACSP</b> : All preceding checks
        such as technical validation and customer profile were successful and
        therefore the payment initiation has been accepted for
        execution.<br><br><b>ACSC</b> : Settlement on the debtor's account has
        been completed. Usage : this can be used by the first agent to report to
        the debtor that the transaction has been completed. Warning : this
        status is provided for transaction status reasons, not for financial
        information. It can only be used after bilateral
        agreement<br><br><b>ACWC</b> : Instruction is accepted but a change will
        be made, such as date or remittance not sent.
      enum:
        - ACTC
        - RCVD
        - PART
        - RJCT
        - PDNG
        - ACCP
        - ACSP
        - ACSC
        - ACWC
    PaymentTransactionInformation25:
      type: object
      properties:
        StsId:
          type: object
          description: >-
            Unique identification, as assigned by an instructing party for an
            instructed party, to identify the reported status.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlInstrId:
          type: object
          description: >-
            Unique identification, as assigned by the original instructing party
            for the original instructed party, to identify the original
            instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlEndToEndId:
          type: object
          description: >-
            Unique identification, as assigned by the original initiating party,
            to identify the original transaction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        TxSts:
          $ref: '#/components/schemas/TransactionIndividualStatus3Code'
        StsRsnInf:
          type: array
          description: >-
            Set of elements used to provide detailed information on the status
            reason.
          items:
            $ref: '#/components/schemas/StatusReasonInformation8'
        ChrgsInf:
          type: array
          description: >-
            Provides information on the charges related to the processing of the
            rejection of the instruction.
          items:
            $ref: '#/components/schemas/ChargesInformation5'
        AccptncDtTm:
          type: string
          description: >-
            Point in time when the payment order from the initiating party meets
            the processing conditions of the account servicing agent. This means
            that the account servicing agent has received the payment order and
            has applied checks such as authorisation, availability of funds.
          format: date-time
        AcctSvcrRef:
          type: object
          description: >-
            Unique reference, as assigned by the account servicing institution,
            to identify the instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        ClrSysRef:
          type: object
          description: >-
            Unique reference, as assigned by a clearing system, to  identify the
            instruction.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlTxRef:
          $ref: '#/components/schemas/OriginalTransactionReference13'
    ChargesInformation5:
      required:
        - Amt
        - Pty
      type: object
      properties:
        Amt:
          type: object
          description: Transaction charges to be paid by the charge bearer.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Pty:
          type: object
          description: >-
            Party that takes the transaction charges or to which the transaction
            charges are due.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
    OriginalTransactionReference13:
      type: object
      properties:
        IntrBkSttlmAmt:
          type: object
          description: >-
            Amount of money moved between the instructing agent and the
            instructed agent.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        Amt:
          $ref: '#/components/schemas/AmountType3Choice'
        IntrBkSttlmDt:
          type: string
          description: >-
            Date on which the amount of money ceases to be available to the
            agent that owes it and when the amount of money becomes available to
            the agent to which it is due.
          format: date
        ReqdColltnDt:
          type: string
          description: >-
            Date on which the creditor requests that the amount of money is to
            be collected from the debtor.
          format: date
        ReqdExctnDt:
          type: string
          description: >-
            Date at which the initiating party requests the clearing agent to
            process the payment.
          format: date
        CdtrSchmeId:
          type: object
          description: Credit party that signs the mandate.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        SttlmInf:
          $ref: '#/components/schemas/SettlementInformation13'
        PmtTpInf:
          $ref: '#/components/schemas/PaymentTypeInformation22'
        PmtMtd:
          $ref: '#/components/schemas/PaymentMethod4Code'
        MndtRltdInf:
          $ref: '#/components/schemas/MandateRelatedInformation6'
        RmtInf:
          $ref: '#/components/schemas/RemittanceInformation5'
        UltmtDbtr:
          type: object
          description: >-
            Ultimate party that owes an amount of money to the (ultimate)
            creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        Dbtr:
          type: object
          description: Party that owes an amount of money to the (ultimate) creditor.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        DbtrAcct:
          type: object
          description: >-
            Identification of the account of the debtor to which a debit entry
            will be made as a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        DbtrAgt:
          type: object
          description: Financial institution servicing an account for the debtor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        DbtrAgtAcct:
          type: object
          description: >-
            Identification of the account of the debtor agent at its servicing
            agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        CdtrAgt:
          type: object
          description: Financial institution servicing an account for the creditor.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        CdtrAgtAcct:
          type: object
          description: >-
            Identification of the account of the creditor agent at its servicing
            agent to which a credit entry will be made as a result of the
            payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        Cdtr:
          type: object
          description: Party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        CdtrAcct:
          type: object
          description: >-
            Identification of the account of the creditor to which a credit
            entry will be posted as a result of the payment transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        UltmtCdtr:
          type: object
          description: Ultimate party to which an amount of money is due.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
      description: >-
        Set of key elements used to identify the original transaction that is
        being referred to.
    SettlementInformation13:
      required:
        - SttlmMtd
      type: object
      properties:
        SttlmMtd:
          $ref: '#/components/schemas/SettlementMethod1Code'
        SttlmAcct:
          type: object
          description: >-
            A specific purpose account used to post debit and credit entries as
            a result of the transaction.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgtAcct:
          type: object
          description: >-
            Identification of the account of the instructing reimbursement agent
            account at its servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstdRmbrsmntAgtAcct:
          type: object
          description: >-
            Identification of the account of the instructed reimbursement agent
            account at its servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        ThrdRmbrsmntAgtAcct:
          type: object
          description: >-
            Identification of the account of the third reimbursement agent
            account at its servicing agent in the payment chain.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        InstgRmbrsmntAgt:
          type: object
          description: >-
            Agent through which the instructing agent will reimburse the
            instructed agent.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        InstdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        ThrdRmbrsmntAgt:
          type: object
          description: Agent at which the instructed agent will be reimbursed.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        ClrSys:
          $ref: '#/components/schemas/ClearingSystemIdentification3Choice'
      description: >-
        Specifies the details on how the settlement of the original
        transaction(s) between the instructing agent and the instructed agent
        was completed.
    SettlementMethod1Code:
      type: string
      description: >-
        Method used to settle the (batch of) payment instructions.
        <br><br><b>INDA</b> : Settlement is done by the agent instructed to
        execute a payment instruction. <br><br><b>INGA</b> : Settlement is done
        by the agent instructing and forwarding the payment to the next party in
        the payment chain. <br><br><b>COVE</b> : Settlement is done through a
        cover payment. <br><br><b>CLRG</b> : Settlement is done through a
        payment clearing system.
      enum:
        - INDA
        - INGA
        - COVE
        - CLRG
    PaymentTypeInformation22:
      type: object
      properties:
        InstrPrty:
          $ref: '#/components/schemas/Priority2Code'
        ClrChanl:
          type: string
          description: >-
            Specifies the clearing channel to be used to process the payment
            instruction.<br><br><b>RTGS</b> : Clearing channel is a real-time
            gross settlement system. <br><br><b>RTNS</b> : Clearing channel is a
            real-time net settlement system. <br><br><b>MPNS</b> : Clearing
            channel is a mass payment net settlement system. <br><br><b>BOOK</b>
            : Payment through internal book transfer.
          enum:
            - RTGS
            - RTNS
            - MPNS
            - BOOK
        SvcLvl:
          $ref: '#/components/schemas/ServiceLevel8Choice'
        LclInstrm:
          $ref: '#/components/schemas/LocalInstrument2Choice'
        SeqTp:
          type: string
          description: >-
            Identifies the direct debit sequence, such as first, recurrent,
            final or one-off.<br><br><b>FRST</b> : First collection of a series
            of direct debit instructions. <br><br><b>RCUR</b> : Direct debit
            instruction where the debtor's authorisation is used for regular
            direct debit transactions initiated by the creditor.
            <br><br><b>FNAL</b> : Final collection of a series of direct debit
            instructions. <br><br><b>OOFF</b> : Direct debit instruction where
            the debtor's authorisation is used to initiate one single direct
            debit transaction.
          enum:
            - FRST
            - RCUR
            - FNAL
            - OOFF
        CtgyPurp:
          $ref: '#/components/schemas/CategoryPurpose1Choice'
      description: Set of elements used to further specify the type of transaction.
    PaymentMethod4Code:
      type: string
      description: >-
        Specifies the means of payment that will be used to move the amount of
        money.<br><br><b>CHK</b> : Written order to a bank to pay a certain
        amount of money from one person to another person. <br><br><b>TRF</b> :
        Transfer of an amount of money in the books of the account servicer.
        <br><br><b>DD</b> : Collection of an amount of money from the debtor's
        bank account by the creditor. The amount of money and dates of
        collections may vary. <br><br><b>TRA</b> : Transfer of an amount of
        money in the books of the account servicer. An advice should be sent
        back to the account owner.
      enum:
        - CHK
        - TRF
        - DD
        - TRA
    MandateRelatedInformation6:
      type: object
      properties:
        MndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to  identify the
            mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        AmdmntInd:
          type: boolean
          description: >-
            Indicator notifying whether the underlying mandate is amended or
            not.
        AmdmntInfDtls:
          $ref: '#/components/schemas/AmendmentInformationDetails6'
        ElctrncSgntr:
          maxLength: 1025
          minLength: 1
          type: string
          description: >-
            Additional security provisions, such as a digital signature, as
            provided by the debtor.
        DtOfSgntr:
          type: string
          description: >-
            Date on which the direct debit mandate has been signed by the
            debtor.
          format: date
        FrstColltnDt:
          type: string
          description: Date of the first collection of a direct debit as per the mandate.
          format: date
        FnlColltnDt:
          type: string
          description: Date of the final collection of a direct debit as per the mandate.
          format: date
        Frqcy:
          $ref: '#/components/schemas/Frequency1Code'
      description: >-
        Set of elements used to provide further details of the mandate signed
        between the creditor and the debtor.
    AmendmentInformationDetails6:
      type: object
      properties:
        OrgnlMndtId:
          type: object
          description: >-
            Unique identification, as assigned by the creditor, to  identify the
            original mandate.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        OrgnlCdtrSchmeId:
          type: object
          description: Original creditor scheme identification that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        OrgnlDbtr:
          type: object
          description: Original debtor that has been modified.
          allOf:
            - $ref: '#/components/schemas/PartyIdentification32'
        OrgnlDbtrAcct:
          type: object
          description: Original debtor account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlDbtrAgt:
          type: object
          description: Original debtor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        OrgnlDbtrAgtAcct:
          type: object
          description: Original debtor agent account that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlCdtrAgt:
          type: object
          description: Original creditor agent that has been modified.
          allOf:
            - $ref: >-
                #/components/schemas/BranchAndFinancialInstitutionIdentification4
        OrgnlCdtrAgtAcct:
          type: object
          description: Original creditor agent acount that has been modified.
          allOf:
            - $ref: '#/components/schemas/CashAccount16'
        OrgnlFnlColltnDt:
          type: string
          description: Original final collection date that has been modified.
          format: date
        OrgnlFrqcy:
          $ref: '#/components/schemas/Frequency1Code'
      description: List of mandate elements that have been modified.
    Frequency1Code:
      type: string
      description: >-
        Original frequency that has been modified.<br><br><b>YEAR</b> : Event
        takes place every year or once a year. <br><br><b>MNTH</b> : Event takes
        place every month or once a month. <br><br><b>QURT</b> : Event takes
        place every three months or four times a year. <br><br><b>MIAN</b> :
        Event takes place every six months or two times a
        year.<br><br><b>WEEK</b> : Event takes place once a week.
        <br><br><b>DAIL</b> : Event takes place every day. <br><br><b>ADHO</b> :
        Event takes place on request or as necessary. <br><br><b>INDA</b> :
        Event takes place several times a day.
      enum:
        - YEAR
        - MNTH
        - QURT
        - MIAN
        - WEEK
        - DAIL
        - ADHO
        - INDA
    DateAndPlaceOfBirth:
      required:
        - BirthDt
        - CityOfBirth
        - CtryOfBirth
      type: object
      properties:
        BirthDt:
          type: object
          description: Date on which a person is born.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        PrvcOfBirth:
          type: object
          description: Province where a person was born.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CityOfBirth:
          type: object
          description: City where a person was born.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        CtryOfBirth:
          type: object
          description: Country where a person was born.
          allOf:
            - $ref: '#/components/schemas/CountryCode'
      description: Date and place of birth of a person.
    DatePeriodDetails:
      required:
        - FrDt
        - ToDt
      type: object
      properties:
        FrDt:
          type: object
          description: Start date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
        ToDt:
          type: object
          description: End date of the range.
          allOf:
            - $ref: '#/components/schemas/ISODate'
    DocumentAdjustment1:
      required:
        - Amt
      type: object
      properties:
        AddtlInf:
          type: object
          description: Provides further details on the document adjustment.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Amt:
          type: object
          description: Amount of money of the document adjustment.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        CdtDbtInd:
          $ref: '#/components/schemas/CreditDebitCode'
        Rsn:
          type: object
          description: Specifies the reason for the adjustment.
          allOf:
            - $ref: '#/components/schemas/Max4Text'
    DocumentType3Code:
      type: string
      description: >-
        Type of creditor reference, in a coded form.<br><br><b>RADM</b> :
        Document is a remittance advice sent separately from the current
        transaction. <br><br><b>RPIN</b> : Document is a linked payment
        instruction to which the current payment instruction is related, for
        example, in a cover scenario. <br><br><b>FXDR</b> : Document is a
        pre-agreed or pre-arranged foreign exchange transaction to which the
        payment transaction refers. <br><br><b>DISP</b> : Document is a dispatch
        advice. <br><br><b>PUOR</b> : Document is a purchase order
        <br><br><b>SCOR</b> : Document is a structured communication reference
        provided by the creditor to identify the referred transaction.
      enum:
        - RADM
        - RPIN
        - FXDR
        - DISP
        - PUOR
        - SCOR
    DocumentType5Code:
      type: string
      description: >-
        Document type in a coded form.<br><br><b>MSIN</b> : Document is an
        invoice claiming payment for the supply of metered services, for example
        gas or electricity supplied to a fixed meter. <br><br><b>CNFA</b> :
        Document is a credit note for the final amount settled for a commercial
        transaction. <br><br><b>DNFA</b> : Document is a debit note for the
        final amount settled for a commercial transaction. <br><br><b>CINV</b>
        :   Document is an invoice. <br><br><b>CREN</b> : Document is a credit
        note. <br><br><b>DEBN</b> : Document is a debit note.
        <br><br><b>HIRI</b> : Document is an invoice for the hiring of human
        resources or renting goods or equipment. <br><br><b>SBIN</b> : Document
        is an invoice issued by the debtor. <br><br><b>SVGS</b> : Account used
        for savings. <br><br><b>CMCN</b> : Document is an agreement between the
        parties, stipulating the terms and conditions of the delivery of goods
        or services. <br><br><b>SOAC</b> : Document is a statement of the
        transactions posted to the debtor's account at the supplier.
        <br><br><b>DISP</b> : Document is a dispatch advice. <br><br><b>BOLD</b>
        : Document is a shipping notice. <br><br><b>VCHR</b> : Document is an
        electronic payment document. <br><br><b>AROI</b> : Document is a payment
        that applies to a specific source document. <br><br><b>TSUT</b> :
        Document is a transaction identifier as assigned by the Trade Services
        Utility.
      enum:
        - MSIN
        - CNFA
        - DNFA
        - CINV
        - CREN
        - DEBN
        - HIRI
        - SBIN
        - CMCN
        - SOAC
        - DISP
        - BOLD
        - VCHR
        - AROI
        - TSUT
    EquivalentAmount2:
      required:
        - Amt
        - CcyOfTrf
      type: object
      properties:
        Amt:
          type: object
          description: >-
            Amount of money to be moved between debtor and creditor, before
            deduction of charges, expressed in the currency of the debtor's
            account, and to be moved in a different currency.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyAndAmount'
        CcyOfTrf:
          type: object
          description: >-
            Specifies the currency of the to be transferred amount, which is
            different from the currency of the debtor's account.
          allOf:
            - $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
      description: >-
        Amount of money to be moved between the debtor and creditor, expressed
        in the currency of the debtor's account, and the currency in which the
        amount is to be moved.
    ExchangeRateInformation1:
      type: object
      properties:
        CtrctId:
          type: object
          description: >-
            Unique reference to the foreign exchange contract agreed between the
            initiating party/creditor and the debtor agent. \n - For Pay2China,
            this field is optional and can be populated with FX Contract ID. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        XchgRate:
          $ref: '#/components/schemas/BaseOneRate'
        RateTp:
          type: string
          description: >-
            Specifies the type used to complete the currency exchange.
            <br><br><b>SPOT</b> : Exchange rate applied is the spot rate.
            <br><br><b>SALE</b> : Exchange rate applied is the market rate at
            the time of the sale. <br><br><b>AGRD</b> : Exchange rate applied is
            the rate agreed between the parties.
          enum:
            - SPOT
            - SALE
            - AGRD
      description: >-
        Set of elements used to provide details on the currency exchange rate
        and contract.
    FinancialIdentificationSchemeName1Choice:
      required:
        - Cd
        - Prtry
      type: object
      properties:
        Cd:
          maxLength: 4
          minLength: 1
          type: string
          description: >-
            Name of the identification scheme, in a coded form as published in
            an external list.
        Prtry:
          type: object
          description: Name of the identification scheme, in a free text form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
      description: >-
        Name of the identification scheme. Either Code or Proprietary parameter
        value should be passed on request.
    FinancialInstitutionIdentification7:
      type: object
      properties:
        BIC:
          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
          type: string
          description: >-
            Code allocated to a financial institution by the ISO 9362
            Registration Authority as described in ISO 9362 "Banking - Banking
            telecommunication messages - Business identifier code (BIC)". \n -
            For Pay2China, this field must be populated as 'CITICNSX'.
        ClrSysMmbId:
          $ref: '#/components/schemas/ClearingSystemMemberIdentification2'
        Nm:
          type: object
          description: >-
            Name by which an agent is known and which is usually used to
            identify that agent. \n - For Pay2China, this field must accept up
            to 128 English or 42 Chinese characters.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        Othr:
          $ref: '#/components/schemas/GenericFinancialIdentification1'
        PstlAdr:
          $ref: '#/components/schemas/PostalAddress6'
      description: >-
        Unique identification of a financial institution, as assigned under an
        internationally recognized or proprietary identification scheme.
    GenericAccountIdentification1:
      required:
        - Id
      type: object
      properties:
        Id:
          type: object
          description: Identification assigned by an institution.
          allOf:
            - $ref: '#/components/schemas/Max34Text'
        Issr:
          type: object
          description: Entity that assigns the identification.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        SchmeNm:
          type: object
          description: Name of the identification scheme.
          allOf:
            - $ref: '#/components/schemas/FinancialIdentificationSchemeName1Choice'
      description: >-
        Unique identification of an account, as assigned by the account
        servicer, using an identification scheme.
    GenericFinancialIdentification1:
      required:
        - Id
      type: object
      properties:
        Id:
          type: object
          description: Unique identification of a person.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        Issr:
[...]
