swagger: '2.0'
info:
  description: >-
    CitiConnect Request To Pay provides access to multiple request-to-pay
    functionalities to trigger payments or access details related to user
    accounts. 
  version: ''
  title: Request To Pay
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1
    description: production gateway URL
  - url: https://tts.apib2b.citi.com/citiconnect/sb/requesttopayservice/v1
    description: ' sandbox gateway URL'
tags: []
schemes:
  - https
security:
  - clientCredentials: []
paths:
  /collection/inquiry:
    get:
      summary: Collection/Inquiry
      description: >-
        CitiConnect Request To Pay: Collection Inquiry allows users to retrieve
        the requested status of a collection by submitting input field values
        such as Service Reference Number, Message Creation Date and Time, End to
        End ID, Instructed Amount and Currency.

        <br><font size='2'><b>Content-Type</b> : Supports “application/xml” or
        “application/json” : <br><b>Authorization</b> : The OAuth Token prefixed
        with “Bearer” and space in between. : <br><b>MsgId</b> : Service
        Reference No. : <br><b>MsgCreDtTm</b> : The date and time at which the
        message was created. : <br><b>EndToEndId</b> : EndToEndId or the
        mt100refNo  : <br><b>InstdAmt</b> : Instructed Amount.  Amount of money
        to be moved between the debtor and creditor, before deduction of
        charges, expressed in the currency as ordered by the initiating party. :
        <br><b>InstdAmtCCY</b> : Currency related to the payment : <br></font>
      parameters: []
      responses:
        '200':
          description: 200 OK
      security:
        - clientCredentials:
            - /authenticationservices/v1
  /collection/responseinitiation:
    post:
      summary: Response Collection
      description: >-
        CitiConnect Request To Pay: Response Collection allows users to create
        successful collection requests. Users can obtain intermediate status
        updates through CitiConnect® Request to Pay: Collection Inquiry for the
        latest status of the transaction.

        <br><font size='2'><b>Content-Type</b> : Supports “application/xml” :
        <br><b>payloadType</b> : Support
        “urn:iso:std:iso:20022:tech:xsd:pain.014.001.07” :
        <br><b>Authorization</b> : The OAuth Token prefixed with “Bearer” and
        space in between. : <br><b>paymentBase64</b> : ISOXML V7
        (pain.014.001.07) file has to be converted to Base64 format and passed
        in <Request><paymentBase64> tag. : <br><b>request</b> : The request
        follows ISOXML V7 (pain.014.001.07) standards. : <br></font>
      parameters: []
      responses:
        '200':
          description: 200 OK
      security:
        - clientCredentials: []
  /collection/requestinitiation:
    post:
      summary: Collection Request
      description: >-
        CitiConnect Request To Pay: Collection Request allows users to create
        successful collection requests. Users can obtain the intermediate status
        updates through CitiConnect® Collection Inquiry.

        <br><font size='2'><b>Content-Type</b> : Supports “application/xml” or
        “application/json” : <br><b>payloadType</b> : Support
        “urn:iso:std:iso:20022:tech:xsd:pain.013.001.07” :
        <br><b>Authorization</b> : The OAuth Token prefixed with “Bearer” and
        space in between. : <br><b>paymentBase64</b> : ISOXML V7
        (pain.013.001.07) file has to be converted to Base64 format and passed
        in <Request><paymentBase64> tag. : <br><b>request</b> : The request
        follows ISOXML (pain.013.001.07) standards. : <br></font>
      parameters: []
      responses:
        '200':
          description: 200 OK
      security:
        - clientCredentials: []
  /validate/address:
    post:
      summary: Address Validation
      description: >-
        CitiConnect Request To Pay: Address Validation allows users to initiate
        a request to validate the VPA ID before initiating the collection or
        payment request.

        <br><font size='2'><b>Content-Type</b> : Supports “application/xml” :
        <br><b>Authorization</b> : The OAuth Token prefixed with “Bearer” and
        space in between. : <br><b>Transaction Reference Number</b> : Unique Txn
        Ref No by Citi Customer/Merchant : <br><b>ClientId</b> : Client Id of
        the Merchant/Citi Customer : <br><b>SecretKey</b> : Secret Key sent by
        Citi customer/merchant : <br><b>TxnRefNo</b> : Unique Txn Ref No by Citi
        Customer/Merchant<br>Same as that mapped in the Http Header section :
        <br><b>TimeStamp</b> : Message time and date when the request is
        generated<br>Format : YYYY-MM-DD'T'HH:MM:SS'+or-'ZZ:ZZ<br>ZZ:ZZ = UTC
        Time Offset) sent by Citi Customer/Merchant : <br><b>CountryCode</b> :
        Country code for API(ISO Code) : <br><b>PayeeVPA</b> : Payee Virtual
        Handler - Payee Virtual Address (VPA that needs to be validated) :
        <br><b>PayeeName</b> : Payee Name (Name, if available, of the VPA that
        needs to be validated. : <br><b>Merchant Virtual Handler</b> : Citi
        Customer Virtual Address : <br></font>
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema: null
          type: object
        - name: Content-Type
          in: header
          description: Content type of request
          required: false
          type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          type: string
        - name: ClientId
          in: header
          description: APIM client ID
          required: false
          type: string
        - name: TxnRefNo
          in: header
          description: Transaction reference number
          required: false
          type: string
        - name: CountryCode
          in: header
          description: Country code
          required: false
          type: string
      responses:
        '200':
          description: 200 OK
  /transaction/inquiry:
    post:
      summary: Transaction/Inquiry
      description: >-
        CitiConnect Request To Pay: Transaction Inquiry allows users to retrieve
        the latest status of a transaction by submitting one or all of the
        following parameters: Client Id, Transaction Reference number.

        <br><font size='2'><b>Content-Type</b> : Supports “application/json” :
        <br><b>Authorization</b> : The OAuth Token prefixed with “Bearer” and
        space in between. : <br><b>ClientId</b> : Client Id of the Merchant/Citi
        Customer  : <br><b>SecretKey</b> : Secret Key Sent by Merchant/Citi
        Customer : <br><b>TxnRefNo</b> : Unique Txn Ref No by Citi
        Customer/Merchant : <br><b>TimeStamp</b> : Message time and
        date(YYYY-MM-DD'T'HH:MM:SS'+or-'ZZ:ZZ<br>ZZ:ZZ = UTC Time Offset) sent
        by Citi Customer/Merchant : <br><b>CountryCode</b> : Country code for
        API : <br><b>Merchant Ref No</b> : Merchant Reference No for Txn Status
        Check : <br><b>Bank Ref No.</b> : Bank Reference No for Txn Status Check
        : <br></font>
      parameters:
        - in: body
          name: body
          description: Request payload
          required: false
          schema:
            type: object
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          type: string
        - name: ClientId
          in: header
          description: Client identity
          required: false
          type: string
        - name: TxnRefNo
          in: header
          description: Transaction reference number
          required: false
          type: string
        - name: CountryCode
          in: header
          description: Country code
          required: false
          type: string
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
      responses:
        '200':
          description: 200 OK
  /collection/initiation:
    post:
      summary: Collection/Initiation
      description: >-
        CitiConnect Request To Pay Collection Initiation allows users to create
        successful collection initiation requests to payee accounts. Users can
        obtain the intermediate status through CitiConnect® Request To Pay:
        Transaction Inquiry for real-time status updates for the transaction. 

        <br><font size='2'><b>Content-Type</b> : Supports “application/json” :
        <br><b>Authorization</b> : The OAuth Token prefixed with “Bearer” and
        space in between. : <br><b>ClientId</b> : Client Id of the Merchant/Citi
        Customer  : <br><b>SecretKey</b> : Secret Key Sent by Merchant/Citi
        Customer : <br><b>TxnRefNo</b> : Unique Txn Ref No by Citi
        Customer/Merchant<br>(unique in last 7 days for respective Client ID)  :
        <br><b>TimeStamp</b> : Message time and
        date(YYYY-MM-DD'T'HH:MM:SS'+or-'ZZ:ZZ<br>ZZ:ZZ = UTC Time Offset) sent
        by Citi Customer/Merchant<br>(Part of APIheader tag) :
        <br><b>CountryCode</b> : Country code for API : <br><b>OrderNo</b> :
        Order No. sent by Citi Customer : <br><b>ExpValue</b> : Expiry value in
        minutes sent by Citi Customer<br>Value should be >=2 and <=10080 (This
        has to be configurable) : <br><b>PayeeVPA</b> : Citi Customer Virtual
        Address<br>(Must Contain '@citi') : <br><b>PayeeAcNo</b> : Citi Customer
        Account Number : <br><b>PayerVPA</b> : Payer/Buyer Virtual Address  :
        <br><b>Amount</b> : Transaction Amount<br>Value should be >= 0 and
        <=1,00,000 (This has to be configurable) : <br><b>Currency</b> :
        Transaction Currency <br>(Should be INR) : <br><b>ValueDate</b> : Value
        date sent by Citi Customer (YYYY-MM-DD) : <br><b>Remarks</b> : Order
        summary description  : <br></font>
      parameters:
        - in: body
          name: body
          description: Request payload
          required: false
          schema:
            type: object
        - name: Content-Type
          in: header
          description: application/json
          required: false
          type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          type: string
        - name: ClientId
          in: header
          description: Client identity
          required: false
          type: string
        - name: TxnRefNo
          in: header
          description: Transaction reference number
          required: false
          type: string
        - name: CountryCode
          in: header
          description: Country code
          required: false
          type: string
      responses:
        '200':
          description: 200 OK
securityDefinitions:
  clientCredentials:
    description: >+
      All CitiConnect APIs use the oAuth2 authentication scheme, which requires
      a bearer token to authenticate your API call. The Token URL includes the
      version of authentication used by this API. See <a
      href="../../authentication/authentication-api-reference/"
      target="_blank">the Citi Authentication API reference</a> for information
      on requesting a token.

    type: oauth2
    tokenUrl: >-
      https://tts.apib2b.citi.com/citiconnect/prod/requesttopayservice/v1/validate/address/authenticationservices/v1/oauth/token
    flow: application
    scopes: null
definitions: {}
