swagger: '2.0'
info:
  description: Get all statements transactions
  version: ''
  title: Statement Transactions
servers:
  - url: https://tts.apib2b.citi.com/tts/cards
    description: production gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/tts/cards
    description: sandbox URL
schemes:
  - https
produces:
  - application/json
paths:
  /accounts/v1/statement/summary:
    post:
      summary: Get All Statements
      description: This endpoint is used to obtain the summary of statements
      operationId: All Statements
      tags: null
      parameters:
        - name: Content-Type
          in: header
          description: Supports application/json
          required: true
          type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: 'true'
          type: string
        - name: client_id
          in: query
          required: true
          description: >-
            This is your unique identifier shared during your CitiConnect API
            onboarding. This is the same `client_id` used for oauth token
            generation
          type: string
        - name: Country
          in: header
          description: Country of the client
          type: string
          required: true
        - name: Region
          in: header
          description: region of the client(APAC/EMEA/NAM)
          type: string
          required: true
        - name: Req-Sys-Id
          in: header
          description: Client Tracking ID
          type: string
          required: true
        - name: key-id
          in: header
          description: >-
            Client certificate key ID to be provided by TPP. Non TPP clients
            should provide value as 00000000
          type: string
          required: true
        - name: AccountSummaryInboundRequest
          in: body
          description: AccountSummaryInboundRequest
          required: true
          schema:
            $ref: '#/definitions/AccountSummaryInboundRequest'
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>AccountSummaryInboundResponse</td><td></td></tr></table>
          schema:
            $ref: '#/definitions/AccountSummaryInboundResponse'
        '400':
          description: >-
            <table><tr><td>ResponseCodes400</td><td><table><tr><th>Error
            Code</th><th>Error
            Description</th></tr><tr><td>EVB1101</td><td>accountNumber is
            required</td></tr><tr><td>EVB1102</td><td>accountNumber value must
            be numeric</td></tr><tr><td>EVB1103</td><td>accountNumber must be
            between 16 and 19 digits</td></tr><tr><td>EVB1117</td><td>Card
            account number does not belong to the relationship number that has
            been onboarded for this client
            ID</td></tr><tr><td>EVB1118</td><td>Card account number does not
            belong to the group account number that has been onboarded for this
            client ID</td></tr><tr><td>EVB1119</td><td>Card account number does
            not belong to the region that has been onboarded for this client
            ID</td></tr><tr><td>EVB1120</td><td>Invalid accountNumber</td></tr>
            <tr><td>EVB1130</td><td>Certificate Key Id entered is not
            valid</td></tr> <tr><td>EVB1131</td><td>Payload signing validation
            failed.</td></tr> <tr><td>EVB1132</td><td>Group account number has
            not been onboarded for this client ID and key
            ID.</td></tr><tr><td>EVC1133</td><td>Certificate Key Id is
            mandatory</td></tr><tr><td>GRC0002</td><td>Client ID is missing in
            the request header</td></tr><tr><td>GRC0003</td><td>Invalid JSON
            Input</td></tr><tr><td>GRC0004</td><td>Region ID is not available in
            the request</td></tr><tr><td>GRC0005</td><td>Client Tracking ID is
            missing in the request
            header</td></tr><tr><td>GRC0007</td><td>Client requested Content
            Type is not supported</td></tr><tr><td>GRC0010</td><td>Client
            Tracking ID length should contain a min of 1 character and a max of
            36 characters</td></tr><tr><td>GRC0011</td><td>Client ID and/or
            Country and/or region id is missing in Client Onboard Configuration
            setup. Contact Citi
            support.</td></tr><tr><td>GRC0016</td><td>Country code is not
            available in the request</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCodes400'
        '500':
          description: >-
            <table><tr><td>ResponseCode500</td><td><table><tr><th>Error
            Code</th><th>Error Description</th></tr><tr><td>GRC0014</td><td>We
            have encountered an error and couldn't receive your request. Please
            try again, or contact Citi support if you have any further questions
            or comments</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCode500'
  /accounts/v1/statement/transactions:
    post:
      summary: Statement Transactions
      description: >-
        This endpoint is used to obtain the transactions for the specified
        period
      operationId: Statement Transactions
      tags: null
      parameters:
        - name: Content-Type
          in: header
          description: Supports application/json
          required: true
          type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: 'true'
          type: string
        - name: client_id
          in: query
          required: true
          description: >-
            This is your unique identifier shared during your CitiConnect API
            onboarding. This is the same `client_id` used for oauth token
            generation
          type: string
        - name: Country
          in: header
          description: country of the Client
          type: string
          required: true
        - name: Region
          in: header
          description: region of the client(APAC/EMEA/NAM)
          type: string
          required: true
        - name: Req-Sys-Id
          in: header
          description: Client Tracking ID
          type: string
          required: true
        - name: key-id
          in: header
          description: >-
            Client certificate key ID to be provided by TPP. Non TPP clients
            should provide value as 00000000
          type: string
          required: true
        - name: StatementTransactionsInboundRequest
          in: body
          description: StatementTransactionsInboundRequest
          required: true
          schema:
            $ref: '#/definitions/StatementTransactionsInboundRequest'
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>StatementTransactionsInboundResponse</td><td><table><td>EVB1135</td><td>No
            transaction data for the dates
            requested</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/StatementTransactionsInboundResponse'
        '400':
          description: >-
            <table><tr><td>ResponseCodes400</td><td><table><tr><th>Error
            Code</th><th>Error
            Description</th></tr><tr><td>EVB1101</td><td>accountNumber is
            required</td></tr><tr><td>EVB1102</td><td>accountNumber value must
            be numeric</td></tr><tr><td>EVB1103</td><td>accountNumber must be
            between 16 and 19 digits</td></tr><tr><td>EVB1117</td><td>Card
            account number does not belong to the relationship number that has
            been onboarded for this client
            ID</td></tr><tr><td>EVB1118</td><td>Card account number does not
            belong to the group account number that has been onboarded for this
            client ID</td></tr><tr><td>EVB1119</td><td>Card account number does
            not belong to the region that has been onboarded for this client
            ID</td></tr><tr><td>EVB1120</td><td>Invalid
            accountNumber</td></tr><tr><td>EVB1130</td><td>Certificate Key Id
            entered is not valid</td></tr><tr><td>EVB1131</td><td>Payload
            signing validation failed.</td></tr><tr><td>EVB1132</td><td>Group
            account number has not been onboarded for this client ID and key
            ID.</td></tr><tr><td>EVC1133</td><td>Certificate Key Id is
            mandatory</td></tr><tr><td>EVB1121</td><td>statementCycleStartDate
            is required</td></tr><tr><td>EVB1122</td><td>Invalid
            statementCycleStartDate format. statementCycleStartDate value must
            have format: MM/DD/YYYY - M (0,1) |M (0-9) / D (0-3) | D (0-9) / Y
            (1-9) | Y (0-9) | Y (0-9) | Y
            (0-9)</td></tr><tr><td>EVB1123</td><td>statementCycleEndDate is
            required</td></tr><tr><td>EVB1124</td><td>Invalid
            statementCycleEndDate format. statementCycleEndDate value must have
            format: MM/DD/YYYY - M (0,1) |M (0-9) / D (0-3) | D (0-9) / Y (1-9)
            | Y (0-9) | Y (0-9) | Y
            (0-9)</td></tr><tr><td>EVB1125</td><td>statementCycleStartDate is
            greater than the
            statementCycleEndDate</td></tr><tr><td>EVB1126</td><td>Invalid
            currencyCode</td></tr><tr><td>EVB1127</td><td>currencyCode can have
            a maximum of 3
            characters</td></tr><tr><td>EVB1128</td><td>languageCode can have a
            maximum of 5 characters</td></tr><tr><td>EVC1134</td><td>The date
            specified in the startDate or endDate does not
            exist</td></tr><tr><td>GRC0002</td><td>Client ID is missing in the
            request header</td></tr><tr><td>GRC0003</td><td>Invalid JSON
            Input</td></tr><tr><td>GRC0004</td><td>Region ID is not available in
            the request</td></tr><tr><td>GRC0005</td><td>Client Tracking ID is
            missing in the request
            header</td></tr><tr><td>GRC0007</td><td>Client requested Content
            Type is not supported</td></tr><tr><td>GRC0010</td><td>Client
            Tracking ID length should contain a min of 1 character and a max of
            36 characters</td></tr><tr><td>GRC0016</td><td>Country code is not
            available in the request</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCodes400'
        '500':
          description: >-
            <table><tr><td>ResponseCode500</td><td><table><tr><th>Error
            Code</th><th>Error Description</th></tr><tr><td>GRC0014</td><td>We
            have encountered an error and couldn't receive your request. Please
            try again, or contact Citi support if you have any further questions
            or comments</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCode500'
  /accounts/v1/statement/unbilledtxn:
    post:
      summary: Unbilled Transactions
      description: This endpoint is used to obtain unbilled transactions.
      operationId: Unbilled Transactions
      tags: null
      parameters:
        - name: Content-Type
          in: header
          description: Supports application/json
          required: true
          type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: 'true'
          type: string
        - name: client_id
          in: query
          required: true
          description: >-
            This is your unique identifier shared during your CitiConnect API
            onboarding. This is the same `client_id` used for oauth token
            generation
          type: string
        - name: Country
          in: header
          description: country of the client.
          type: string
          required: true
        - name: Region
          in: header
          description: region of the client(APAC/EMEA/NAM)
          type: string
          required: true
        - name: Req-Sys-Id
          in: header
          description: Client tracking ID
          type: string
          required: true
        - name: key-id
          in: header
          description: >-
            Client certificate key ID to be provided by TPP. Non TPP clients
            should provide value as 00000000
          type: string
          required: true
        - name: UnbilledTransactionsInboundRequest
          in: body
          description: UnbilledTransactionsInboundRequest
          required: true
          schema:
            $ref: '#/definitions/UnbilledTransactionsInboundRequest'
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>UnbilledTransactionsInboundResponse</td><td></td></tr></table>
          schema:
            $ref: '#/definitions/UnbilledTransactionsInboundResponse'
        '400':
          description: >-
            <table><tr><td>ResponseCodes400</td><td><table><tr><th>Error
            Code</th><th>Error
            Description</th></tr><tr><td>EVB1101</td><td>accountNumber is
            required</td></tr><tr><td>EVB1102</td><td>accountNumber value must
            be numeric</td></tr><tr><td>EVB1103</td><td>accountNumber must be
            between 16 and 19 digits</td></tr><tr><td>EVB1117</td><td>Card
            account number does not belong to the relationship number that has
            been onboarded for this client
            ID</td></tr><tr><td>EVB1118</td><td>Card account number does not
            belong to the group account number that has been onboarded for this
            client ID</td></tr><tr><td>EVB1119</td><td>Card account number does
            not belong to the region that has been onboarded for this client
            ID</td></tr><tr><td>EVB1120</td><td>Invalid
            accountNumber</td></tr><tr><td>EVB1130</td><td>Certificate Key Id
            entered is not valid</td></tr><tr><td>EVB1131</td><td>Payload
            signing validation failed.</td></tr><tr><td>EVB1132</td><td>Group
            account number has not been onboarded for this client ID and key
            ID.</td></tr><tr><td>EVC1133</td><td>Certificate Key Id is
            mandatory</td></tr><tr><td>EVB1126</td><td>Invalid
            currencyCode</td></tr><tr><td>EVB1127</td><td>currencyCode can have
            a maximum of 3
            characters</td></tr><tr><td>EVB1128</td><td>languageCode can have a
            maximum of 5 characters</td></tr><tr><td>GRC0002</td><td>Client ID
            is missing in the request
            header</td></tr><tr><td>GRC0003</td><td>Invalid JSON
            Input</td></tr><tr><td>GRC0004</td><td>Region ID is not available in
            the request</td></tr><tr><td>GRC0005</td><td>Client Tracking ID is
            missing in the request
            header</td></tr><tr><td>GRC0007</td><td>Client requested Content
            Type is not supported</td></tr><tr><td>GRC0010</td><td>Client
            Tracking ID length should contain a min of 1 character and a max of
            36 characters</td></tr><tr><td>GRC0011</td><td>Client ID and/or
            Country and/or region id is missing in Client Onboard Configuration
            setup. Contact Citi
            support.</td></tr><tr><td>GRC0016</td><td>Country code is not
            available in the request</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCodes400'
        '500':
          description: >-
            <table><tr><td>ResponseCode500</td><td><table><tr><th>Error
            Code</th><th>Error Description</th></tr><tr><td>GRC0014</td><td>We
            have encountered an error and couldn't receive your request. Please
            try again, or contact Citi support if you have any further questions
            or comments</td></tr></table></td></tr></table>
          schema:
            $ref: '#/definitions/ResponseCode500'
definitions:
  AccountSummaryInboundRequest:
    properties:
      accountNumber:
        description: >-
          Number of the account to which the statement information relates to.
          Account number must be between 16 and 19 digits. TPP clients must send
          encrypted Account number field
        type: string
        format: numeric
        example: '1234567890123450'
        maxLength: 19
        minLength: 16
    required:
      - accountNumber
  AccountSummaryInboundResponse:
    properties:
      statements:
        type: array
        items:
          $ref: '#/definitions/StatementResp'
      errors:
        type: array
        items:
          $ref: '#/definitions/SmryResponse200'
  StatementResp:
    properties:
      startDate:
        description: Statement start date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      endDate:
        description: Statement end date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      year:
        description: Statement year
        type: string
        format: alphanumeric
        example: YYYY
        maxLength: 4
      month:
        description: Statement month
        type: string
        format: alphanumeric
        example: FEB
        maxLength: 3
      currencyCode:
        description: 3-character alpha currency code
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      baseCurrencyFlag:
        description: >-
          Boolean Flag to identify whether the statement data is in base
          currency or not.<br><br>Possible values:<br>Y - True<br>N - False
        type: string
        format: alphanumeric
        example: 'Y'
        maxLength: 1
      currentBalance:
        description: >-
          Current balance for the corresponding statement.Max character length
          is 17 digits with 14 digits to the left of the decimal and 2 digits to
          the right of the decimal
        type: string
        format: alphanumeric
        example: '0'
        maxLength: 18
      paymentDueDate:
        description: Payment due date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
    required:
      - startDate
      - endDate
      - year
      - month
      - currencyCode
      - baseCurrencyFlag
      - currentBalance
      - paymentDueDate
  ResponseCodes400:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ResponseCodes'
  ResponseCodes:
    properties:
      errorCode:
        description: The error code
        type: string
        format: alphanumeric
        example: EVB1117
      errorDescription:
        description: Description of the error
        type: string
        format: alphanumeric
        example: >-
          Card account number does not belong to the relationship number that
          has been onboarded for this client ID
  ResponseCode500:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ResponseCode'
  ResponseCode:
    properties:
      errorCode:
        description: The error code
        type: string
        format: alphanumeric
        example: GRC0014
      errorDescription:
        description: Description of the error
        type: string
        format: alphanumeric
        example: >-
          We have encountered an error and couldn't receive your request. Please
          try again, or contact Citi support if you have any further questions
          or comments
  SmryResponse200:
    properties:
      errorCode:
        description: The error code
        type: string
        format: alphanumeric
        example: EVB1136
        enum:
          - EVB1136
      errorDescription:
        description: >-
          The error description that corresponds to error code when there is
          any<br> error occurred while retrieving the transaction.<br>*
          `EVB1136`- No statements data for the requested account number
        type: string
        format: alphanumeric
        example: No statements data for the requested account number
  StatementsFailureResponse:
    properties:
      errorMessage:
        type: array
        items:
          $ref: '#/definitions/ErrorResponseCode'
  ErrorResponseCode:
    properties:
      code:
        description: Displays the error code
        type: string
        format: alphanumeric
        enum:
          - EVB1101
          - EVB1102
          - EVB1103
          - EVB1117
          - EVB1118
          - EVB1119
          - EVB1120
          - EVB1121
          - EVB1122
          - EVB1123
          - EVB1124
          - EVB1125
          - EVB1126
          - EVB1127
          - EVB1128
          - EVB1130
          - EVB1131
          - EVB1132
          - EVB1133
          - EVB1134
          - EVB1135
          - EVB1136
          - EVB1137
          - GRC0002
          - GRC0003
          - GRC0004
          - GRC0005
          - GRC0007
          - GRC0010
          - GRC0011
          - GRC0014
          - GRC0016
      description:
        description: "The error description that corresponds to error code when there is any error occurred while retrieving the transaction.<br><br>Possible Error Codes:<br><u>Common Errors</u> - EVB1101 EVB1102, EVB1103, EVB1117, EVB1118, EVB1119, EVB1120, EVB1130, EVB1131, EVB1132, EVB1133, GRC0002, GRC0003, GRC0004, GRC0005, GRC0007, GRC0010, GRC0011, GRC0014, GRC0016<br><u>Account Summary API</u> - EVB1136<br><u>Statement Transactions API</u> - EVB1121, EVB1122, EVB1123, EVB1124, EVB1125, EVB1126, EVB1127, EVB1128, EVB1134, EVB1135<br><u>Unbilled Transactions API</u> - EVB1126, EVB1127, EVB1128, EVB1137<br><br>* `EVB1101`- accountNumber is required<br>* `EVB1102`- accountNumber value must be numeric<br>* `EVB1103`- accountNumber must be between 16 and 19 digits<br>* `EVB1117`- Card account number does not belong to the relationship number that has been onboarded for this client ID<br>* `EVB1118`-Card account number does not belong to the group account number that has been onboarded for this client ID<br>* `EVB1119`- Card account number does not belong to the region that has been onboarded for this client ID<br>* `EVB1120`-Invalid accountNumber<br>* `EVB1121`- statementCycleStartDate is required<br>* `EVB1122`- Invalid statementCycleStartDate format. statementCycleStartDate value must have format: MM/DD/YYYY - M (0,1) |M (0-9) / D (0-3) | D (0-9) / Y (1-9) | Y (0-9) | Y (0-9) | Y (0-9)<br>* `EVB1123`- statementCycleEndDate is required<br>* `EVB1124`- Invalid statementCycleEndDate format. statementCycleEndDate value must have format: MM/DD/YYYY - M (0,1) |M (0-9) / D (0-3) | D (0-9) / Y (1-9) | Y (0-9) | Y (0-9) | Y (0-9)<br>* `EVB1125`- statementCycleStartDate is greater than the statementCycleEndDate<br>* `EVB1126`- Invalid currencyCode<br>* `EVB1127`-currencyCode can have a maximum of 3 characters<br>* `EVB1128`- languageCode can have a maximum of 5 characters<br>* `EVB1130`- Certificate Key Id entered is not valid<br>* `EVB1131`- Payload signing validation failed.<br>* `EVB1132`-Group account number has not been onboarded for this client ID and key ID.<br>* `EVC1133`- Certificate Key Id is mandatory<br>* `EVC1134`- The date specified in the startDate or endDate does not exist<br>* `EVC1135`- No transaction data for the dates requested<br>* `EVC1136`-No statements data for the requested account number<br>* `EVC1137`- No transaction data for the requested account number<br>* `GRC0002`- Client ID is missing in the request header \t<br>* `GRC0003`-Invalid JSON Input<br>* `GRC0004`- Region ID is not available in the request <br>* `GRC0005`- Client Tracking ID is missing in the request header<br>* `GRC0007`- Client requested Content Type is not supported<br>* `GRC0010`- Client Tracking ID length should contain a min of 1 character and a max of 36 characters<br>* `GRC0011`- Client ID and/or Country and/or region id is missing in Client Onboard Configuration setup. Contact Citi support.<br>* `GRC0014`- We have encountered an error and couldn't receive your request. Please try again, or contact Citi support if you have any further questions or comments<br>* `GRC0016`-Country code is not available in the request"
        type: string
        format: alphanumeric
  StatementTransactionsInboundRequest:
    properties:
      accountNumber:
        description: >-
          Number of the account to which the statement information relates to.
          Account number must be between 16 and 19 digits. TPP clients must send
          encrypted Account number field
        type: string
        format: numeric
        example: '1234567890123450'
        maxLength: 19
        minLength: 16
      statementCycleStartDate:
        description: Statement cycle start date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      statementCycleEndDate:
        description: Statement cycle end date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      currencyCode:
        description: >-
          3-character alpha currency code<br><br>Applicable for dual currency
          accounts
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      languageCode:
        description: >-
          Returns the merchant name value in the respective language<br><br>for
          example,<br>EN for English<br>JA for Japanese. If an invalid language
          is provided, the response will default with the English language
        type: string
        format: alphanumeric
        example: EN
        maxLength: 5
    required:
      - accountNumber
      - statementCycleStartDate
      - statementCycleEndDate
  StatementTransactionsInboundResponse:
    properties:
      statementTransactions:
        type: array
        items:
          $ref: '#/definitions/StatementTransactionResp'
      errors:
        type: array
        items:
          $ref: '#/definitions/StTxnResponse200'
  StatementTransactionResp:
    properties:
      transactionDate:
        description: Transaction Date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      transactionDescription:
        description: >-
          Merchant Long name. If the `isEarlyPayTransaction` flag is true, then
          this parameter will contain comma-separated values.
        type: string
        format: alphanumeric
        example: ENTERPRISE TOLL
        maxLength: 100
      transactionAmount:
        description: >-
          Transaction amount expressed in source currency. Max character length
          is 17 digits with 14 digits to the left of the decimal and 2 digits to
          the right of the decimal
        type: string
        format: numeric
        example: '8.6'
        maxLength: 17
      ancillaryServiceCharges:
        description: Ancillary charges list
        type: array
        items:
          $ref: '#/definitions/AncillaryServiceChargesResp'
      transactionAmountCurrency:
        description: >-
          3 character currency code expressed in the source currency. ISO 4127
          alpha-3 code
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      transactionPostingDate:
        description: Transaction posting date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      reference:
        description: Acquirer reference number generated by the Card Associations
        type: string
        format: alphanumeric
        example: '24794870033900000000000'
        maxLength: 23
      exchangeRate:
        description: Exchange rate<br><br>Returned only for a foreign transaction
        type: string
        format: alphanumeric
        maxLength: 14
      cardPostingAmount:
        description: >-
          Card posting amount.Max character length is 17 digits with 14 digits
          to the left of the decimal and 2 digits to the right of the decimal
        type: string
        format: numeric
        example: '8.6'
        maxLength: 17
      merchantCity:
        description: Merchant city
        type: string
        format: alphanumeric
        example: New York
        maxLength: 15
      merchantState:
        description: Merchant state code. Applicable only for NAM region
        type: string
        format: alphanumeric
        example: NY
        maxLength: 5
      merchantCountry:
        description: >-
          Merchant Country returned as three character country
          code<br>Applicable only for non-NAM regions
        type: string
        format: alphanumeric
        example: IND
        maxLength: 3
      merchantZipCode:
        description: Merchant Zip code
        type: string
        format: alphanumeric
        maxLength: 10
      invoiceRefNumber:
        description: Invoice reference number. Applicable for non-NAM regions
        type: string
        format: alphanumeric
        maxLength: 25
      debitCreditIndicator:
        description: >-
          Indicates whether the transaction is a debit or credit<br><br>Possible
          values<br>DR - Debit<br>CR - Credit
        type: string
        format: alphanumeric
        example: DR
        maxLength: 2
      cardPostingAmountAlt:
        description: >-
          Alternate Card Posting Amount Applicable for non-NAM regions for dual
          currency markets.Max character length is 17 digits with 14 digits to
          the left of the decimal and 2 digits to the right of the decimal
        type: string
        format: numeric
        example: '8.6'
        maxLength: 17
      transactionId:
        description: Transaction ID applicable for NAM region only
        type: string
        format: alphanumeric
        maxLength: 38
      addendumKey:
        description: Addendum Key for transaction. Applicable for non-NAM regions only
        type: string
        format: alphanumeric
        maxLength: 50
      memoFlag:
        description: >-
          Memo Flag for transaction.<br>Applicable for non-NAM regions
          only<br><br>Possible values<br>"Y" - Diverted transaction<br>"N" -
          Non-Diverted transaction
        type: string
        format: alphanumeric
        maxLength: 1
      earlyPayTransaction:
        description: >-
          Indicates whether transaction is an Early Pay
          transaction.<br><br>Possible values<br>TRUE - transaction is an Early
          Pay transaction<br>FALSE - transaction is an Early Pay
          transaction<br><br>Returned only for non-NAM regions
        type: boolean
        format: boolean
        example: '"TRUE"'
      transactionAmountInUSD:
        description: >-
          Transaction amount expressed in USD currency.<br>Returned only for
          Argentina and Brazil International Transactions.Max character length
          is 17 digits with 14 digits to the left of the decimal and 2 digits to
          the right of the decimal
        type: string
        format: numeric
        maxLength: 17
      transactionPostingCurrencyCode:
        description: >-
          Transaction posting currency code expressed in the source
          currency<br><br>Three character currency code.ISO 4127 alpha-3 code
        type: string
        format: alphanumeric
        maxLength: 3
    required:
      - transactionDate
      - transactionDescription
      - transactionAmount
      - transactionAmountCurrency
      - transactionPostingDate
      - reference
      - cardPostingAmount
      - merchantCity
  AncillaryServiceChargesResp:
    properties:
      serviceChargeDescription:
        description: Details of ancillary charges description based on card type
        type: string
        format: alphanumeric
        maxLength: 50
      serviceChargeAmount:
        description: Details of ancillary charges amount based on card type
        type: string
        format: numeric
  StTxnResponse200:
    properties:
      errorCode:
        description: The error code
        type: string
        format: alphanumeric
        example: EVB1135
        enum:
          - EVB1135
      errorDescription:
        description: >-
          The error description that corresponds to error code when there is
          any<br> error occurred while retrieving the transaction.<br>*
          `EVB1135`-No transaction data for the dates requested
        type: string
        format: alphanumeric
        example: No transaction data for the dates requested
  UnbilledTransactionsInboundRequest:
    properties:
      accountNumber:
        description: >-
          Number of the account to which the statement information relates to.
          Account number must be between 16 and 19 digits. TPP clients must send
          encrypted Account number field
        type: string
        format: numeric
        example: '1234567890123450'
        maxLength: 19
        minLength: 16
      currencyCode:
        description: >-
          3-character alpha currency code<br><br>Applicable for dual currency
          accounts
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      languageCode:
        description: >-
          Returns the merchant name value in the respective
          language<br><br>Eg.<br>EN for English<br>JA for Japanese.If an invalid
          language is provided, the response will default with English language
        type: string
        format: alphanumeric
        example: EN
        maxLength: 5
    required:
      - accountNumber
  UnbilledTransactionsInboundResponse:
    properties:
      unbilledTransactionsInfo:
        type: array
        items:
          $ref: '#/definitions/TransactionsResp'
      lastStatementDate:
        description: Last statement date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      nextStatement Date:
        description: Next statement date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      debitCreditIdicatorFlag:
        description: >-
          Possible values<br>true - Indicates Debit/Credit Indicator is included
          in the Transaction.<br>false - Indicates Debit/Credit Indicator is not
          included in the Transaction.
        type: string
        format: alphanumeric
      errors:
        type: array
        items:
          $ref: '#/definitions/UndResponse200'
    required:
      - unbilledTransactionsInfo
      - lastStatementDate
      - nextStatement Date
  TransactionsResp:
    properties:
      unbilledTransactionAmount:
        description: >-
          Sum of Unbilled transactions<br><br>If base CurrencyFlag = Y, then
          amount is expressed in the billed currency<br><br>If base CurrencyFlag
          = N, then amount is expressed in the alternate currency
        type: string
        format: numeric
        example: '8.6'
        maxLength: 17
      transactionPostingCurrencyCode:
        description: >-
          Transaction posting currency code<br><br>Three character currency
          code<br><br>If base CurrencyFlag = Y, then currency is the billed
          currency<br><br>If base CurrencyFlag = N, then currency is the
          alternate currency.ISO 4127 alpha-3 code
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      baseCurrencyFlag:
        description: >-
          Boolean Flag to identify whether the statement data is in base
          currency or not.<br><br>"N" is only applicable for dual currency
          accounts<br><br>Possible values:<br>Y   True<br>N   False
        type: string
        format: alphanumeric
        example: 'Y'
        maxLength: 1
      unbilledTransactions:
        type: array
        items:
          $ref: '#/definitions/TransactionResp'
    required:
      - unbilledTransactionAmount
      - transactionPostingCurrencyCode
      - baseCurrencyFlag
  TransactionResp:
    properties:
      transactionDate:
        description: Transaction date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      transactionDescription:
        description: >-
          Merchant Long name.<br><br>If isEarlyPayTransaction flag is true, then
          will this field will contain comma separated values.
        type: string
        format: alphanumeric
        example: ENTERPRISE TOLL
      transactionAmount:
        description: >-
          Transaction amount expressed in source currency.Max character length
          is 17 digits with 14 digits to the left of the decimal and 2 digits to
          the right of the decimal
        type: string
        format: numeric
        maxLength: 17
      ancillaryServiceCharges:
        description: Ancillary charges list
        type: array
        items:
          $ref: '#/definitions/AncillaryServiceChargesResp'
      transactionAmountCurrency:
        description: ISO 4127 alpha-3 code
        type: string
        format: alphanumeric
        example: USD
        maxLength: 3
      transactionPostingDate:
        description: Transaction posting date
        type: string
        format: alphanumeric
        example: MM/DD/YYYY
        maxLength: 10
      reference:
        description: Acquirer reference number generated by the Card Associations
        type: string
        format: alphanumeric
        example: '24794870033900000000000'
      exchangeRate:
        description: >-
          Exchange rate<br><br>Returned only for a foreign
          transaction<br><br>Returned as:<br>{Source currency} = {billing
          currency} {exchange rate}
        type: string
        format: alphanumeric
      cardPostingAmount:
        description: >-
          Card posting amount.Max character length is 17 digits with 14 digits
          to the left of the decimal and 2 digits to the right of the decimal
        type: string
        format: numeric
        maxLength: 17
      merchantCity:
        description: Merchant city
        type: string
        format: alphanumeric
        maxLength: 15
      merchantState:
        description: Merchant state code
        type: string
        format: alphanumeric
        maxLength: 5
      merchantCountry:
        description: >-
          Merchant Country returned as two character country code<br>Applicable
          only for non-NAM regions
        type: string
        format: alphanumeric
        maxLength: 2
      merchantZipCode:
        description: Merchant Zip code
        type: string
        format: alphanumeric
        maxLength: 10
      debitCreditIndicator:
        description: >-
          Indicates whether the transaction is a debit or credit<br><br>Possible
          values<br>DR - Debit<br>CR - Credit
        type: string
        format: alphanumeric
        example: DR
        maxLength: 2
      transactionId:
        description: Transaction ID<br>Applicable for NAM region only
        type: string
        format: alphanumeric
        maxLength: 38
      addendumKey:
        description: Addendum Key for transaction. Applicable for non-NAM regions only
        type: string
        format: alphanumeric
        maxLength: 50
      memoFlag:
        description: >-
          Memo Flag for transaction.<br>Applicable for non-NAM regions
          only<br><br>Possible values<br>Y - Diverted transactions<br>N -
          Non-Diverted transactions
        type: string
        format: alphanumeric
        maxLength: 1
      transactionAmountInUSD:
        description: >-
          Transaction amount expressed in USD currency.<br>Returned only for
          Brazil and Argentina International Transactions. Max character length
          is 17 digits with 14 digits to the left of the decimal and 2 digits to
          the right of the decimal
        type: string
        format: numeric
        maxLength: 17
    required:
      - transactionDate
      - transactionDescription
      - transactionAmount
      - transactionAmountCurrency
      - transactionPostingDate
      - reference
      - cardPostingAmount
      - merchantCity
  UndResponse200:
    properties:
      errorCode:
        description: The error code
        type: string
        format: alphanumeric
        example: EVB1137
        enum:
          - EVB1137
      errorDescription:
        description: >-
          The error description that corresponds to error code when there is
          any<br> error occurred while retrieving the transaction.<br>*
          `EVB1137`-No transaction data for the requested account number
        type: string
        format: alphanumeric
        example: No transaction data for the requested account number
consumes:
  - application/json
securityDefinitions:
  clientCredentials:
    description: >+
      All CitiConnect APIs use the oAuth2 authentication scheme, which requires
      a bearer token to authenticate your API call. The Token URL includes the
      version of authentication used by this API. See <a
      href="../../authentication/authentication-api-reference/"
      target="_blank">the Citi Authentication API reference</a> for information
      on requesting a token.

    type: oauth2
    tokenUrl: https://tts.apib2b.citi.com/api/v1/oauth2/token
    flow: application
    scopes: null
tags: []
security:
  - clientCredentials: []
responses: {}
