openapi: 3.0.3
info:
  title: Receivable Services
  description: >-
    CitiConnect API service allows you to do the virtual account (VA) creation
    functionality directly from your client ERP system. You can access the VA
    APIs create and manage functions such as update, delete, and inquiry for
    virtual accounts. You can create VAs using the reservation and activation
    endpoints.
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
  version: 1.0.0
servers:
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb
    description: 'sandbox URL '
  - url: https://tts.apib2b.citi.com/citiconnect/prod
    description: production gateway URL
tags:
  - name: Virtual Account-Wallet
paths:
  /receivablesservices/v2/virtualaccounts:
    post:
      tags:
        - Virtual Account-Wallet
      summary: Reserve Virtual Accounts
      description: >-
        The virtual account creation is a 2-step process (using the reservation
        and activation services), you can use POST and PUT endpoints one after
        another. <br> Contact your citi representative for the number of
        accounts you can request for reservation per API. <br> <br> Use
        <b>POST</b> verb for <b>Reservation</b> action <br> - The API support
        XML and JSON formats. <br> - The reservation/activation functionality is
        identified based on the request payload (`action`). <br> - You specify
        values for input parameters in the body of your XML/JSON document. <br>
        - You encrypt the payload, place it in your request and send it with
        your application.<br><br><font size='2'><b>Content-Type:</b> Supports
        application/xml and application/json. <br><b>Authorization:</b> The
        OAuth Token prefixed with bearer and a space in between.
        <br><br><b>Allowed characters:</b> A-Z, a-z, 0-9, Space <br><b>Allowed
        punctuation marks:</b> ' ( ) * - , . / : ; _ & { } $ # @ [ ]
      operationId: virtualAccountReservation
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Idempotency-Id'
      requestBody:
        description: Describes the virtual account creation APIs request body parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Reservation-Request'
            examples:
              VAReservationExample:
                $ref: '#/components/examples/Reservation-Example'
          application/xml:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Reservation-Request'
            examples:
              VAReservationExample:
                value: >-
                  <VirtualAccountReservationRequest><Action>RESERVATION</Action><HeaderAccount><Account>0011224455</Account><BranchCode>930</BranchCode></HeaderAccount><NumAcctReq>50</NumAcctReq><Purpose>C</Purpose></VirtualAccountReservationRequest>
      responses:
        '202':
          $ref: '#/components/responses/Accepted-Response'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Idempotency-Duplication'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Request'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      security:
        - clientCredentials: []
      callbacks:
        virtual-account-reservation:
          $ref: '#/components/callbacks/Reservation-Response'
    put:
      tags:
        - Virtual Account-Wallet
      summary: Activate Virtual Accounts
      description: >-
        The virtual account creation is a 2-step process (using the reservation
        and activation services), you can use POST and PUT endpoints one after
        another. <br> <br> Use <b>PUT</b> verb for <b>Activation</b> action <br>
        - The API support XML and JSON formats. <br> - The
        reservation/activation functionality is identified based on the request
        payload (action). <br> - You specify values for input parameters in the
        body of your XML/JSON document. <br> - You encrypt the payload, place it
        in your request and send it with your application.<br><br><font
        size='2'><b>Content-Type</b>: Supports application/xml and
        application/json. <br><b>Authorization</b>: The OAuth Token prefixed
        with Bearer and space in between. <br><br><b>Allowed characters:</b>
        A-Z, a-z, 0-9, Space <br><b>Allowed punctuation marks:</b> ' ( ) * - , .
        / : ; _ & { } $ # @ [ ]
      operationId: virtualAccountActivation
      parameters:
        - $ref: '#/components/parameters/Client-Id'
      requestBody:
        description: Describes the virtual account creation APIs request body parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Activation-Request'
            examples:
              VAActivationEntityIdExample:
                $ref: '#/components/examples/Activation-Entity-Id-Example'
              VAActivationEntityDetailsExample:
                $ref: '#/components/examples/Activation-Entity-Details-Example'
          application/xml:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Activation-Request'
            examples:
              VAActivationEntityIdExample:
                value: >-
                  <VirtualAccountActivationRequest><Action>ACTIVATION</Action><HeaderAccount><Account>51218421</Account><BranchCode>930</BranchCode></HeaderAccount><VirtualAccount><Account>10000000202133567</Account><Purpose>C</Purpose><BalanceDisplayOption>Y</BalanceDisplayOption><Entity><Id>DMB0TGcLscEhdjsP0YRl</Id><CtryOfOpr>CA</CtryOfOpr></Entity></VirtualAccount></VirtualAccountActivationRequest>
              VAActivationEntityDetailsExample:
                value: >-
                  <VirtualAccountActivationRequest><Action>ACTIVATION</Action><HeaderAccount><Account>51218421</Account><BranchCode>930</BranchCode></HeaderAccount><VirtualAccount><Account>10000000201340652</Account><Purpose>C</Purpose><BalanceDisplayOption>Y</BalanceDisplayOption><Entity><LastName>FDGDFGFDG</LastName><Type>C</Type><DateOfBirth>2024-02-29</DateOfBirth><Website>GHHsdc.co</Website><StoreName>BNVJHGJH</StoreName><BusinessPurpose>watches/BusinessPurpose</BusinessPurpose><Acronym>abc</Acronym><CtryOfOpr>US</CtryOfOpr><OrganisationPrivateIdentification><Type>TAX_ID</Type><Id>A{{$timestamp}}</Id><CountryOfIssuance>CN</CountryOfIssuance></OrganisationPrivateIdentification><Address><StrtNm>3100
                  Keele st</StrtNm><BldgNb>533</BldgNb><PstCd>L5B
                  3Y6</PstCd><TwnNm>North
                  York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CN</Ctry></Address></Entity><BeneficialOwner><BeneficialOwner><FirstName>GGHJFHJG</FirstName><LastName>CFFHG</LastName><DateOfBirth>2024-02-29</DateOfBirth><Address><StrtNm>534
                  cYTross
                  st</StrtNm><BldgNb>533</BldgNb><PstCd>785263</PstCd><TwnNm>caralado</TwnNm><CtrySubDvsn>US</CtrySubDvsn><Ctry>US</Ctry></Address></BeneficialOwner></BeneficialOwner></VirtualAccount></VirtualAccountActivationRequest>
      callbacks:
        virtual-account-activation:
          $ref: '#/components/callbacks/Activation-Response'
      responses:
        '202':
          $ref: '#/components/responses/Accepted-Response'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Request'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      security:
        - clientCredentials: []
    patch:
      tags:
        - Virtual Account-Wallet
      summary: Update Virtual Accounts
      description: >-
        The virtual account update (using the update service endpoint) allows
        you to modify virtual account information. <br> <br> Use the
        <b>PATCH</b> verb for <b>Update</b> action <br> - The API support XML
        and JSON formats. <br> - The update functionality is identified based on
        the request payload (action). <br> - You specify values for input
        parameters in the body of your XML/JSON document. <br> - You encrypt the
        payload, place it in your request, and send it with your application.
        <br><br> The virtual account update endpoint allows you to modify the
        virtual account details and status. <br> Below are the sub-object
        combinations allowed under the virtual_account object for updates: <br>
        <br> <b>- VALID combination 1:</b> For `virtual_account.entity.type = C`
        (Company), update the entity details under a virtual_account using the
        `virtual_account.entity` as well as
        `virtual_account.beneficial_owner`<br> <b>- VALID combination 2:</b> For
        `virtual_account.entity.type = S` (Sole Trader), update the entity
        details under a virtual_account using the `virtual_account.entity`<br>
        <b>- VALID combination 3:</b> For `virtual_account.entity.type = I`
        (Individual), update the entity details under a virtual_account using
        the `virtual_account.entity`<br> <b>- VALID combination 4:</b> Apply the
        posting restrictions on virtual_account use only the
        `virtual_account.credit_debit_preferences` object <br><br> Below are the
        INVALID object combinations for the PATCH endpoint: <br> <b>- INVALID
        combination 1:</b> Only with `virtual_account.entity` for
        `virtual_account.entity.type = C` (Company) <br> <b>- INVALID
        combination 2:</b> Only with `virtual_account.beneficial_owner`<br> <b>-
        INVALID combination 3:</b> With all 3 objects, `virtual_account.entity`,
        `beneficial_owner`, `credit_debit_preferences`<br> <b>- INVALID
        combination 4:</b> With 2 objects, `virtual_account.entity`,
        `credit_debit_preferences`<br> <b>- INVALID combination 5:</b> With 2
        objects, `virtual_account.beneficial_owner`,
        `credit_debit_preferences`<br> <br><font size='2'><b>Content-Type</b>:
        Supports application/xml and application/json. <br>
        <b>Authorization</b>: The OAuth Token prefixed with Bearer and space in
        between. <br><br><b>Allowed characters:</b> A-Z, a-z, 0-9, Space
        <br><b>Allowed punctuation marks:</b> ' ( ) * - , . / : ; _ & { } $ # @
        [ ]
      operationId: virtualAccountUpdate
      parameters:
        - $ref: '#/components/parameters/Client-Id'
      requestBody:
        description: >-
          Describes the virtual account creation endpoint request body
          parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Update-Request'
            examples:
              VAUpdateEntityDetailsExample:
                $ref: '#/components/examples/Update-Entity-Details-Example'
              VAPostingRestrictionExample:
                $ref: '#/components/examples/Update-Posting-Restriction-Example'
          application/xml:
            schema:
              $ref: '#/components/schemas/Virtual-Account-Update-Request'
            examples:
              VAUpdateEntityDetailsExample:
                value: >-
                  <VirtualAccountUpdateRequest><Action>UPDATE</Action><HeaderAccount><Account>51218421</Account><BranchCode>930</BranchCode></HeaderAccount><VirtualAccount><Account>9305441932</Account><Entity><LastName>INC</LastName><Id>FGlajbO0_vpOdtwXU3Oi</Id><Type>C</Type><DateOfBirth>2002-11-12</DateOfBirth><Website>www.dd.com</Website><StoreName>dd</StoreName><BusinessPurpose>dd</BusinessPurpose><Acronym>dd</Acronym><CtryOfOpr>US</CtryOfOpr><OrganisationPrivateIdentification><Type>TAX_ID</Type><CountryOfIssuance>US</CountryOfIssuance><Id>A1737720860</Id></OrganisationPrivateIdentification><Address><StrtNm>125
                  Oain
                  st</StrtNm><BldgNb>155/356</BldgNb><PstCd>14526369</PstCd><TwnNm>cuba</TwnNm><CtrySubDvsn>NC32</CtrySubDvsn><Ctry>US</Ctry></Address></Entity><BeneficialOwner><BeneficialOwner><FirstName>GGHJFHJG</FirstName><LastName>CFFHG</LastName><DateOfBirth>2002-11-12</DateOfBirth><Address><StrtNm>534
                  cYTross
                  st</StrtNm><BldgNb>22</BldgNb><PstCd>785263</PstCd><TwnNm>caralado</TwnNm><CtrySubDvsn>US</CtrySubDvsn><Ctry>US</Ctry></Address></BeneficialOwner></BeneficialOwner></VirtualAccount></VirtualAccountUpdateRequest>
              VAPostingRestrictionExample:
                value: >-
                  <VirtualAccountUpdateRequest><Action>UPDATE</Action><HeaderAccount><Account>51218421</Account><BranchCode>930</BranchCode></HeaderAccount><VirtualAccount><Account>10000000202133567</Account><CreditDebitPreferences><DisallowCredit>Y</DisallowCredit><DisallowDebit>N</DisallowDebit></CreditDebitPreferences></VirtualAccount></VirtualAccountUpdateRequest>
      callbacks:
        virtual-account-activation:
          $ref: '#/components/callbacks/Update-Response'
      responses:
        '202':
          $ref: '#/components/responses/Accepted-Response'
        '400':
          $ref: '#/components/responses/Bad-Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '409':
          $ref: '#/components/responses/Idempotency-Duplication'
        '415':
          $ref: '#/components/responses/Unsupported-Media-Type'
        '429':
          $ref: '#/components/responses/Too-Many-Request'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      security:
        - clientCredentials: []
    get:
      tags:
        - Virtual Account-Wallet
      summary: Check Virtual Account Status and Details
      description: >-
        The virtual account inquiry endpoint can be used primarily for virtual
        account status check as well as information purposes. <br> <br> <b>-
        Scenario 1:</b> `request_id` (applicable only for reservation API (verb:
        POST) `request_ids`))<br> <b>- Scenario 2:</b> `virtual_account`<br>
        <b>- Scenario 3:</b> `virtual_account`, `branch_code`<br> <b>- Scenario
        4:</b> `request_id` and `virtual_account` (preference will be given to
        `virtual_account` and the `request_id` will be ignored)
      operationId: virtualAccountInquiry
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Branch-Code'
        - $ref: '#/components/parameters/Reservation-Request-Id'
        - $ref: '#/components/parameters/Encrypted-Params'
      responses:
        '200':
          $ref: '#/components/responses/Inquiry-Response'
        '400':
          $ref: '#/components/responses/Bad-Request-Sync-Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Request'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      security:
        - clientCredentials: []
    delete:
      tags:
        - Virtual Account-Wallet
      summary: Deactivate Virtual Accounts
      description: >-
        Deactivation can be performed only if an account holds no balances. <br>
        Deactivation is an irreversible action<br> Please perform the necessary
        verification before deactivating any virtual accounts.
      operationId: virtualAccountDeactivation
      parameters:
        - $ref: '#/components/parameters/Client-Id'
        - $ref: '#/components/parameters/Branch-Code'
        - $ref: '#/components/parameters/Encrypted-Params'
      responses:
        '202':
          $ref: '#/components/responses/De-Activation-Accepted-Response'
        '400':
          $ref: '#/components/responses/De-Activation-Bad-Request-Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/Not-Found'
        '405':
          $ref: '#/components/responses/Method-Not-Allowed'
        '429':
          $ref: '#/components/responses/Too-Many-Request'
        '500':
          $ref: '#/components/responses/Internal-Server-Error'
      callbacks:
        virtual-account-activation:
          $ref: '#/components/callbacks/De-Activation-Response'
components:
  parameters:
    Client-Id:
      name: client_id
      in: query
      description: >-
        Unique reference shared during CitiConnect API onboarding (`client_id`
        used during OAuth token generation).
      required: true
      schema:
        type: string
        maxLength: 128
        example: f56f0f6b-74fe-4dfa-b4ab-0da35a46b65e
    Idempotency-Id:
      name: Idempotency-Id
      in: header
      description: >-
        Your unique identification for a POST request <br> - Maximum length is
        128. <br>-  CitiConnect API responds with an error (HTTP status 4XX) if
        your POST request idempotency identification value is a duplicate across
        a recent history of idempotency identifications in Citi's database<br>-
        If you don't receive any response (HTTP status 2XX, 4XX or 5XX) from
        Citi to your POST request and you wish to retry, re-initiate your
        request with the same idempotency identification to prevent an
        accidental duplicate payment.
      required: true
      schema:
        type: string
        maxLength: 128
        example: a44cbb606de4edb9a7a123414bba3bb
    Apim-Guid:
      name: Apim-Guid
      in: header
      required: true
      description: >-
        Unique system-generated reference number, refer this number in case of
        any discrepancy reporting to a Citi representative.
      schema:
        type: string
        maxLength: 52
        minLength: 1
        example: na-apimgwgtds04~4a98cbc5-d813-4e65-bc81-d70f0f87f6ec
    Event-Type:
      name: Event-Type
      in: header
      required: true
      description: Describes the PUSH Notification (callback) event type.
      schema:
        type: string
        maxLength: 20
        minLength: 1
        example: VAMAPI
    Event-Name:
      name: Event-Name
      in: header
      required: true
      description: Describes the PUSH Notification (callback) event name.
      schema:
        type: string
        maxLength: 20
        minLength: 1
        example: Status Update
    Pagination-Metadata:
      name: Pagination-Metadata
      in: header
      required: true
      description: >-
        current_page: current page number<br> total_page: total number of pages
        available for your request<br> page_size: total number of records
        available in the current page<br> has_more: anymore message or records
        expected
      schema:
        type: string
      example: '{"current_page":2, "total_pages":10, "page_size":100,"has_more":true}'
    Branch-Code:
      name: branch_code
      in: query
      required: false
      description: Citi's bank code associated with given a header account number.
      schema:
        type: string
        minLength: 3
        maxLength: 4
      example: '960'
    Reservation-Request-Id:
      name: request_id
      in: query
      required: false
      description: >-
        <b> request_id </b> received as part of 'Reservation API' response. <br>
        Inquiry using the `request_id` parameter can be done only if the virtual
        account is not ACTIVATED yet. <br> Inquiry can be made up to 90 days
        from the date from which the `request_id` was created.
      schema:
        type: string
        minLength: 1
        maxLength: 40
      example: 0ae52a57-01ff-43a0-a8cc-6112dfcb4c64
    Encrypted-Params:
      name: Encrypted-Params
      in: header
      schema:
        type: string
      description: >-
        Encrypt the key values as below: <br> - Virtual account <br> <br> Use
        your digital cert to do the encryption. <br> <br>
        <b>virtual_account:</b> <br> In the GET operation: Virtual account that
        was reserved as well as activated are allowed <br> In DELETE operation:
        Virtual account that was activated is only allowed
      example: '{"virtual_account":"1234567890"}'
  schemas:
    Virtual-Account-Reservation-Request:
      title: VirtualAccountReservationRequest
      xml:
        name: VirtualAccountReservationRequest
      required:
        - action
      properties:
        action:
          title: action
          xml:
            name: Action
          type: string
          description: >-
            Action is a request type. <br> - Choose the action value as
            ''RESERVATION'', if you want to reserve virtual accounts for the
            previous virtual header account.
          enum:
            - RESERVATION
          example: RESERVATION
        header_account:
          $ref: '#/components/schemas/Header-Account'
        number_of_accounts_required:
          title: number_of_accounts_required
          xml:
            name: NumAcctReq
          type: integer
          minimum: 1
          maximum: 50000
          description: >-
            Required parameter only if the value of the `action` parameter is
            'RESERVATION'.<br><br> This parameter specifies the number of
            virtual accounts requested to be reserved. Minimum account that can
            be requested/supported under one API call is 1. Contact your Citi
            representative for the number of accounts you are allowed to request
            per API call.
          example: 10
        purpose:
          $ref: '#/components/schemas/Purpose-Ref'
    Virtual-Account-Activation-Request:
      title: VirtualAccountActivationRequest
      xml:
        name: VirtualAccountActivationRequest
      required:
        - action
      properties:
        action:
          title: action
          xml:
            name: Action
          type: string
          description: >-
            Action is a request type.  <br> - Choose the action value as
            ''ACTIVATION'', if you want to activate the virtual account which
            was reserved earlier.
          enum:
            - ACTIVATION
          example: ACTIVATION
        header_account:
          $ref: '#/components/schemas/Header-Account'
        virtual_account:
          $ref: '#/components/schemas/Virtual-Account'
    Virtual-Account-Update-Request:
      title: VirtualAccountRequest
      xml:
        name: VirtualAccountUpdateRequest
      required:
        - action
      properties:
        action:
          title: action
          xml:
            name: Action
          type: string
          description: >-
            Action is a request type.  <br> - Choose the action value as
            'UPDATE', if you want to update the virtual account details that
            were stored earlier.
          enum:
            - UPDATE
          example: UPDATE
        header_account:
          $ref: '#/components/schemas/Header-Account'
        virtual_account:
          $ref: '#/components/schemas/Virtual-Account-Update'
    Header-Account:
      title: HeaderAccount
      xml:
        name: HeaderAccount
      type: object
      properties:
        account:
          title: account
          xml:
            name: Account
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            Required parameter if the value of the `action` parameter is
            'RESERVATION' (or) 'ACTIVATION' (or) 'UPDATE'. Specifies the header
            account number assigned during the account opening.
          example: '0123456789'
        branch_code:
          title: branch_code
          xml:
            name: BranchCode
          type: string
          minLength: 3
          maxLength: 4
          description: Citi's bank code associated with given a header account number.
          example: '820'
    Virtual-Account:
      title: VirtualAccount
      xml:
        name: VirtualAccount
      type: object
      properties:
        account:
          title: account
          xml:
            name: Account
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            Required parameter only if the value of the `action` parameter is
            'ACTIVATION'.<br><br>This parameter specifies the virtual account to
            be activated.
          example: '0123456789'
        purpose:
          $ref: '#/components/schemas/Purpose-Ref'
        balance_display_option:
          title: balance_display_option
          xml:
            name: BalanceDisplayOption
          type: string
          enum:
            - 'Y'
            - 'N'
          description: >-
            This parameter is only applicable if the value of the `action`
            parameter is set to 'ACTIVATION'.<br><br> This parameter specifies
            whether to display opening or closing balances or not. Default value
            is 'Y'.<br><br>Description of possible parameter values:<br><b>Y -
            Show virtual account opening and closing balances. <br><br> <b>N -
            Show ZERO opening and closing balance for virtual account in
            statements and reports.
          example: 'Y'
        entity:
          $ref: '#/components/schemas/Entity'
        beneficial_owner:
          title: BeneficialOwner
          description: >-
            This parameter is only applicable if the value of the `action`
            parameter is set to 'ACTIVATION' and the relevant purpose parameter
            is ENUMS. <br> <br> Required parameter if the `entity.id` parameter
            is not used. <br> <br> - Not applicable for sole trader
            (`entity.type`='S') and individual (`entity.type`='I'). <br> <br> -
            For company (`entity.type`='C'), where `entity.address.country` =
            'CN', `beneficial_owner` fields are optional.
          xml:
            name: BeneficialOwner
            wrapped: true
          type: array
          minItems: 1
          maxItems: 4
          items:
            $ref: '#/components/schemas/Beneficial-Owner'
    Virtual-Account-Update:
      title: VirtualAccount
      xml:
        name: VirtualAccount
      type: object
      properties:
        account:
          title: account
          xml:
            name: Account
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            Required parameter if the value of the `action` parameter is
            'UPDATE'.<br><br>This parameter specifies the virtual account
            details to be modified.
          example: '0123456789'
        entity:
          $ref: '#/components/schemas/Entity-Update'
        beneficial_owner:
          title: BeneficialOwner
          description: >-
            <b> <u>Note:</u> Provides the complete beneficial owner's list which
            is updated into the system. This action replaces the existing
            beneficial owner's details </b> <br> <br> Required object if the
            `entity` object is used. <br> <br> - Not applicable for sole trader
            (`entity.type`='S') and individual (`entity.type`='I')
          xml:
            name: BeneficialOwner
            wrapped: true
          type: array
          minItems: 1
          maxItems: 4
          items:
            $ref: '#/components/schemas/Beneficial-Owner-Update'
        credit_debit_preferences:
          $ref: '#/components/schemas/Credit-Debit-Preferences-Update-Request'
    Header-Account-Sync-Response:
      title: HeaderAccountResponse
      xml:
        name: HeaderAccount
      type: object
      required:
        - account
        - branch_code
      properties:
        account:
          title: account
          xml:
            name: Account
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            Specifies the header account number under which the virtual accounts
            are reserved/activated.
          example: '0123456789'
        branch_code:
          title: branch_code
          xml:
            name: BranchCode
          type: string
          minLength: 3
          maxLength: 4
          description: Citi's bank code associated with given a header account number.
          example: '820'
    Virtual-Account-Sync-Response:
      title: VirtualAccountResponse
      xml:
        name: VirtualAccount
      type: object
      required:
        - account
        - status
      properties:
        account:
          title: account
          xml:
            name: Account
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            This parameter specifies the virtual account for which the inquiry
            results are shown.
          example: '0123456789'
        status:
          title: status
          xml:
            name: Status
          type: string
          description: >-
            Status of the virtual account presented in the inquiry. <br> <u>
            Possible status: </u> <br> - `RESERVED` <br> - `ACTIVE` <br> -
            `CLOSED` 
          example: ACTIVE
        balance_display_option:
          title: balance_display_option
          xml:
            name: BalanceDisplayOption
          type: string
          enum:
            - 'Y'
            - 'N'
          description: >-
            This parameter specifies whether 'opening' or 'closing' balances are
            displayed. <br> Default value is 'Y'.<br><br>Description of possible
            parameter values:<br><b>Y - Show virtual account opening and closing
            balances. <br><br><b>N - Show ZERO opening and closing balance for
            virtual account in statements and reports.
          example: 'Y'
        entity:
          $ref: '#/components/schemas/Entity-Sync-Response'
        credit_debit_preferences:
          $ref: '#/components/schemas/Credit-Debit-Preferences-Response'
        beneficial_owner:
          title: BeneficialOwner
          description: >-
            Parameters are applicable only if the value of the `action`
            parameter is set to 'ACTIVATION' and the relevant purpose parameter
            is ENUMS.
          xml:
            name: BeneficialOwner
            wrapped: true
          type: array
          minItems: 1
          maxItems: 4
          items:
            $ref: '#/components/schemas/Beneficial-Owner-Sync-Response'
    Entity-Sync-Response:
      title: Entity
      description: Parameters are shown only if the virtual account is activated.
      xml:
        name: Entity
      allOf:
        - type: object
          title: Entity
          properties:
            id:
              title: id
              xml:
                name: Id
              type: string
              minLength: 20
              maxLength: 20
              description: >-
                The entity ID that was assigned specifically to the entity that
                was activated under this virtual account.
              example: EN_45678901234567890
            last_name:
              title: last_name
              xml:
                name: LastName
              type: string
              maxLength: 210
              description: >-
                Entity Name (concatenated form of 'first_name' and 'last_name')
                pertaining to the entity that was activated under this virtual
                account.
              example: LastName
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Date of birth or incorporation date pertaining to the entity
                that was activated under this virtual account. This parameter is
                represented in a fixed 10-digit format (YYYY-MM-DD) as per ISO
                standards.
              example: '1995-04-01'
            org_prvt_identification:
              $ref: >-
                #/components/schemas/Organisation-Private-Identification-Sync-Response
            address:
              $ref: '#/components/schemas/Address-Sync-Response'
    Credit-Debit-Preferences-Update-Request:
      title: Credit-Debit-Preferences-Request
      xml:
        name: CreditDebitPreferences
      description: >-
        Option to revoke the debit or credit privileges into the virtual
        account.
      type: object
      properties:
        disallow_credit:
          type: string
          description: Preference chosen to disallow credit on a virtual account.
          title: disallow_credit
          xml:
            name: DisallowCredit
          enum:
            - 'Y'
            - 'N'
          example: 'Y'
        disallow_debit:
          type: string
          description: Preference chosen to disallow debit on a virtual account.
          title: disallow_debit
          xml:
            name: DisallowDebit
          enum:
            - 'Y'
            - 'N'
          example: 'N'
    Credit-Debit-Preferences-Response:
      title: Credit-Debit-Preferences-Response
      xml:
        name: CreditDebitPreferences
      description: >-
        Option to revoke the debit or credit privileges into the virtual
        account.
      type: object
      properties:
        disallow_credit:
          type: string
          description: Preference chosen to disallow a credit on virtual accounts.
          title: disallow_credit
          xml:
            name: DisallowCredit
          enum:
            - 'Y'
            - 'N'
          example: 'Y'
        disallow_debit:
          type: string
          description: Preference chosen to disallow a debit on virtual account.
          title: disallow_debit
          xml:
            name: DisallowDebit
          enum:
            - 'Y'
            - 'N'
          example: 'N'
    Entity:
      title: Entity
      description: >-
        <b> Required parameter only if the value of `action` is set to
        'ACTIVATION'. </b>
      xml:
        name: Entity
      allOf:
        - $ref: '#/components/schemas/Entity-Contact-Name'
        - type: object
        - required:
            - country_of_operation
          properties:
            id:
              title: id
              xml:
                name: Id
              type: string
              minLength: 20
              maxLength: 20
              description: >-
                For activation, either the `entity.id` (or) rest of the entity
                details under the entity object are required.
              example: EN_45678901234567890
            type:
              title: type
              xml:
                name: Type
              type: string
              enum:
                - C
                - S
                - I
              description: >-
                Required parameter under the `entity` object if the `id`
                parameter is not used. <br> Populate the entity type applicable
                for the entity being activated under this virtual account.
                <br><br> C = COMPANY  <br><br> S = SOLE TRADER - enterprise
                owned and run by one person and in which there is no legal
                distinction between the owner and the business entity <br><br> I
                = INDIVIDUAL - natural person who is the sole owner of the
                enterprise and is personally liable for all the debts of the
                enterprise.
              example: C
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Populates the date of birth or incorporation date pertaining to
                the entity that is being activated under this virtual account.
                It is in fixed 10-digit format (YYYY-MM-DD) as per ISO standard.
                <br> - Required parameter when sole trader (`entity.type`='S')
                or individual (`entity.type`='I') is present <br> - Optional for
                company (`entity. Type`='C'). <br> 

                - For sole trader (`entity.type`='S') and individual
                (`entity.type`='I'), merchant age should be 18 years or above at
                the time of activation. <br> 

                - Year (YYYY) and Month (MM) values in `date_of_birth` cannot be
                zero. <br> 

                - For company (`entity.type`='C'), the incorporation date cannot
                be a future date.
              example: '1995-04-01'
            website:
              title: website
              xml:
                name: Website
              type: string
              maxLength: 200
              description: >-
                Enter the website of entity being activated under this virtual
                account.
              example: http://www.dd.com
            store_name:
              title: store_name
              xml:
                name: StoreName
              type: string
              maxLength: 105
              description: >-
                Enter the store name of the entity being activated under this
                virtual account. Optional field, should not be considered as the
                entity name.
              example: ABC
            business_purpose:
              title: business_purpose
              xml:
                name: BusinessPurpose
              type: string
              maxLength: 105
              description: >-
                Populate the business purpose applicable for the entity being
                activated under this virtual account.
              example: Trade
            acronym:
              title: acronym
              xml:
                name: Acronym
              type: string
              maxLength: 105
              description: >-
                Populate the acronym for the entity being activated under this
                virtual account.
              example: Buss
            country_of_operation:
              title: country_of_operation
              xml:
                name: CtryOfOpr
              type: string
              minLength: 2
              maxLength: 2
              pattern: ^[A-Z]{2}$
              description: >-
                Enter the 'Country code' under which the entity is operated.
                <br> <b> Required parameter </b> for both `entity.id` (or)
                entity details combination.
              example: CA
            org_prvt_identification:
              $ref: '#/components/schemas/Organisation-Private-Identification'
            address:
              $ref: '#/components/schemas/Address'
    Entity-Update:
      title: Entity
      description: >-
        <b> Required parameter only if the value of 'action' parameter is set to
        'ACTIVATION'. </b>
      xml:
        name: Entity
      allOf:
        - $ref: '#/components/schemas/Entity-Contact-Name'
        - type: object
        - required:
            - country_of_operation
          properties:
            id:
              title: id
              xml:
                name: Id
              type: string
              minLength: 20
              maxLength: 20
              description: >-
                For update `entity id` is mandatory and populate the ID that was
                associated with this virtual account.
              example: EN_45678901234567890
            website:
              title: website
              xml:
                name: Website
              type: string
              maxLength: 200
              description: >-
                Enter the website of the entity being activated under this
                virtual account.
              example: http://www.dd.com
            store_name:
              title: store_name
              xml:
                name: StoreName
              type: string
              maxLength: 105
              description: >-
                Enter the store name of the entity being activated under this
                virtual account. Optional parameter, should not be considered as
                the entity name.
              example: ABC
            business_purpose:
              title: business_purpose
              xml:
                name: BusinessPurpose
              type: string
              maxLength: 105
              description: >-
                Enter the business purpose applicable for the entity being
                activated under this virtual account.
              example: Trade
            acronym:
              title: acronym
              xml:
                name: Acronym
              type: string
              maxLength: 105
              description: >-
                Enter the acronym for the entity being activated under this
                virtual account.
              example: Buss
            type:
              title: type
              xml:
                name: Type
              type: string
              enum:
                - C
                - S
                - I
              description: >-
                Enter the acronym for the entity being activated under this
                virtual account. <br><br> C = COMPANY  <br><br> S = SOLE TRADER
                - enterprise owned and run by one person and in which there is
                no legal distinction between the owner and the business entity.
                <br><br> I = INDIVIDUAL - natural person who is the sole owner
                of the enterprise and is personally liable for all the debts of
                the enterprise.
              example: C
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Populates the date of birth or incorporation date pertaining to
                the entity that is being activated under this virtual account.
                It is in fixed 10-digit format (YYYY-MM-DD) as per ISO standard.
                <br> - Required parameter when sole trader (`entity.type`='S')
                or individual (`entity.type`='I') is present <br> - Optional for
                company (`entity. Type`='C').
              example: '1995-04-01'
            country_of_operation:
              title: country_of_operation
              xml:
                name: CtryOfOpr
              type: string
              minLength: 2
              maxLength: 2
              pattern: ^[A-Z]{2}$
              description: >-
                Enter the 'Country code' in which the entity is operated. <br>
                <b> Required parameter </b> for both `entity.id` (or) the entity
                details combination.
              example: CA
            org_prvt_identification:
              $ref: >-
                #/components/schemas/Organisation-Private-Identification-Update-Request
            address:
              $ref: '#/components/schemas/Address'
    Entity-Contact-Name:
      title: Entity-Contact-Name
      xml:
        name: EntityContactName
      type: object
      properties:
        first_name:
          title: first_name
          xml:
            name: FirstName
          type: string
          minLength: 1
          maxLength: 105
          description: >-
            First name of entity linked to a virtual account. <br> Required
            parameter if the `entity` object is used. <br> - Required parameter
            when sole trader (`entity.type`='S') or individual
            (`entity.type`='I') is present <br> - Not applicable for company
            (`entity.type`='C').

            - For 'US' virtual_account.entity.first_name and
            virtual_account.entity.last_name fields combined total length
            including spaces cannot exceed 34 characters. <br> 

            - For sole trader (`entity.type`='S') and individual
            (`entity.type`='I'), `entity.first_name` and `entity.last_name`
            should not be same.
          example: John
        last_name:
          title: last_name or entity_name
          xml:
            name: LastName
          type: string
          minLength: 1
          maxLength: 105
          description: >-
            Last name of the entity linked to a virtual account. <br> Required
            parameter if the `entity` object is used. <br> <br> - For sole
            trader (`entity.type`='S') or individual (`entity.type`='I') -
            include the last name <br> - For company (`entity.type`='C') -
            include the legal entity name.

            - For 'US' virtual_account.entity.first_name and
            virtual_account.entity.last_name fields combined total length
            including spaces cannot exceed 34 characters. <br> 

            - For company (`entity.type`='C'), `entity.last_name` should not be
            same as `beneficial_owner.first_name` + `beneficial_owner.last_name`
            (spaces between first name and last name removed) for any beneficial
            owner.
          example: Thomas
    Bo-Contact-Name:
      title: Bo-Contact-Name
      xml:
        name: BoContactName
      type: object
      properties:
        first_name:
          title: first_name
          xml:
            name: FirstName
          type: string
          minLength: 1
          maxLength: 105
          description: >-
            First name of the entity's beneficial owner. <br> Required parameter
            if the `virtual_account.beneficial_owner` object is not used.
          example: John
        last_name:
          title: last_name
          xml:
            name: LastName
          type: string
          minLength: 1
          maxLength: 105
          description: >-
            Last name of the entity's beneficial owner. <br> Required parameter
            if the `virtual_account.beneficial_owner` object is not used.
          example: Thomas
    Organisation-Private-Identification:
      title: OrganisationPrivateIdentification
      xml:
        name: OrganisationPrivateIdentification
      type: object
      required:
        - type
        - id
        - country_of_issuance
      description: Required parameter if the `entity.id` parameter is not used.
      properties:
        type:
          title: type
          xml:
            name: Type
          type: string
          enum:
            - TAX_ID
          description: >-
            Type of the identification that is provided in this object. Type
            maximum length can be up to 200 characters. - 'TAX_ID' Tax
            Identification
          example: TAX_ID
        id:
          title: id
          xml:
            name: Id
          type: string
          minLength: 1
          maxLength: 255
          description: >-
            Identification pertaining to the entity which is used for the
            virtual account activation.

            <br> - If `org_prvt_identification.type` is `TAX_ID`, then
            `org_prvt_identification.id` should be 1 to 35 characters and should
            not be blank, repeated single digit values (for example,
            "1111111111111"), or simple sequential values (for example,
            "1234567891011").
             <br> - For US, if `org_prvt_identification.type` is `TAX_ID`, then `org_prvt_identification.id` should be in EIN format (XX-XXXXXXX).
          example: '1234567890'
        country_of_issuance:
          title: country_of_issuance
          xml:
            name: CountryOfIssuance
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: Country code where the provided identification has been issued.
          example: US
    Organisation-Private-Identification-Update-Request:
      title: OrganisationPrivateIdentification
      xml:
        name: OrganisationPrivateIdentification
      type: object
      required:
        - type
        - id
        - country_of_issuance
      properties:
        type:
          title: type
          xml:
            name: Type
          type: string
          enum:
            - TAX_ID
          description: >-
            Type of the identification that is populated in this object. -
            'TAX_ID' Tax Identification
          example: TAX_ID
        id:
          title: id
          xml:
            name: Id
          type: string
          minLength: 1
          maxLength: 255
          description: >-
            Identification pertaining to the entity which is used for the
            virtual account activation.
          example: '1234567890'
        country_of_issuance:
          title: country_of_issuance
          xml:
            name: CountryOfIssuance
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: Country code where the provided identification has been issued.
          example: US
    Organisation-Private-Identification-Sync-Response:
      title: OrganisationPrivateIdentificationSyncResponse
      xml:
        name: OrganisationPrivateIdentification
      type: object
      properties:
        type:
          title: type
          xml:
            name: Type
          type: string
          minLength: 1
          maxLength: 200
          enum:
            - TAX_ID
          description: >-
            Type of the identification that is populated in this object. -
            'TAX_ID' Tax Identification
          example: TAX_ID
        id:
          title: id
          xml:
            name: Id
          type: string
          minLength: 1
          maxLength: 255
          description: >-
            Identification pertaining to the entity which is used for the
            virtual account activation.
          example: '1234567890'
        country_of_issuance:
          title: country_of_issuance
          xml:
            name: CountryOfIssuance
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: Country code where the provided identification has been issued.
          example: US
    Address:
      title: Address
      xml:
        name: Address
      type: object
      required:
        - street_name
        - building_number
        - postal_code
        - town_name
        - country_sub_division
        - country
      description: >-
        <b> Address object is required if the `entity` object is used. <b>

        - For 'US' combined total length for entity address including spaces
        cannot exceed 100 characters and this restriction is not applicable for
        beneficial owner.
      properties:
        street_name:
          title: street_name
          xml:
            name: StrtNm
          type: string
          minLength: 1
          maxLength: 70
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account. Required parameter in the `Address` object.
          example: 3100 Keele st
        building_number:
          title: building_number
          xml:
            name: BldgNb
          type: string
          minLength: 1
          maxLength: 16
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.

            - If building number is not present then provide
            virtual_account.entity.building_number as N/A.
          example: '533'
        postal_code:
          title: postal_code
          xml:
            name: PstCd
          type: string
          minLength: 1
          maxLength: 16
          description: >-
            Address details of the entity (or) the beneficial owner of virtual
            account. Required parameter in the `Address` object.
          example: L5B 3Y6
        town_name:
          title: town_name
          xml:
            name: TwnNm
          type: string
          minLength: 1
          maxLength: 35
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account. Required parameter in the `Address` object.
          example: North York
        country_sub_division:
          title: country_sub_division
          xml:
            name: CtrySubDvsn
          type: string
          minLength: 1
          maxLength: 35
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account. Required parameter in the `Address` object.
          example: Ontario
        country:
          title: country
          xml:
            name: Ctry
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account. Required parameter in the `Address` object.
          example: CA
    Address-Sync-Response:
      title: AddressSyncResponse
      xml:
        name: Address
      type: object
      properties:
        street_name:
          title: street_name
          xml:
            name: StrtNm
          type: string
          minLength: 1
          maxLength: 70
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: 3210 Abcd st
        building_number:
          title: building_number
          xml:
            name: BldgNb
          type: string
          minLength: 1
          maxLength: 16
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: '123'
        postal_code:
          title: postal_code
          xml:
            name: PstCd
          type: string
          minLength: 1
          maxLength: 16
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: L5B 111
        town_name:
          title: town_name
          xml:
            name: TwnNm
          type: string
          minLength: 1
          maxLength: 35
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: North York
        country_sub_division:
          title: country_sub_division
          xml:
            name: CtrySubDvsn
          type: string
          minLength: 1
          maxLength: 35
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: Ontario
        country:
          title: country
          xml:
            name: Ctry
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: >-
            Address details of the entity (or) the beneficial owner of the
            virtual account.
          example: CA
    Beneficial-Owner-Update:
      title: BeneficialOwner
      xml:
        name: BeneficialOwner
      allOf:
        - $ref: '#/components/schemas/Bo-Contact-Name'
        - title: ContactName
        - type: object
        - required:
            - date_of_birth
          properties:
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Required parameter in the `Beneficial Owner` object if the
                object is used. <br> Populates the date of birth date pertaining
                to the Beneficial owner of the entity. It is in a fixed 10-digit
                format (YYYY-MM-DD) as per the ISO standard.
              example: '1980-04-01'
            address:
              $ref: '#/components/schemas/Address'
    Beneficial-Owner:
      title: BeneficialOwner
      xml:
        name: BeneficialOwner
      allOf:
        - $ref: '#/components/schemas/Bo-Contact-Name'
        - type: object
        - required:
            - date_of_birth
          properties:
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Required parameter in the `Beneficial Owner` object if the
                object is used. <br> Populates the date of birth date pertaining
                to the Beneficial owner of the entity. It is in a fixed 10-digit
                format (YYYY-MM-DD) as per the ISO standard. <br> <br> - For
                company (`entity.type`='C'), Beneficial Owner age should be 18
                years or above at the time of activation. <br> - Year (YYYY) and
                Month (MM) values in `date_of_birth` cannot be zero.
              example: '1980-04-01'
            address:
              $ref: '#/components/schemas/Address'
    Beneficial-Owner-Sync-Response:
      title: BeneficialOwnerSyncResponse
      xml:
        name: BeneficialOwnerSyncResponse
      allOf:
        - $ref: '#/components/schemas/Bo-Contact-Name'
        - type: object
          properties:
            date_of_birth:
              title: date_of_birth
              xml:
                name: DateOfBirth
              type: string
              minLength: 10
              maxLength: 10
              pattern: >-
                ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)$
              description: >-
                Required parameter in the `Beneficial Owner` object if the
                object is used. <br> Populates the date of birth date pertaining
                to the Beneficial owner of the entity. It is in a fixed 10-digit
                format (YYYY-MM-DD) as per the ISO standard.
              example: '1980-04-01'
            address:
              $ref: '#/components/schemas/Address-Sync-Response'
    Purpose-Ref:
      title: purpose
      xml:
        name: Purpose
      type: string
      enum:
        - C
      description: >-
        This parameter specifies the purpose for the creation of the virtual
        account. This is a required parameter for both the `action` parameters,
        'RESERVATION' and 'ACTIVATION'. <br>Allowed value is 'C'. <br> - 'C' -
        Client's Customer
      example: C
    Virtual-Account-Inquiry-Response:
      title: VirtualAccountInquiryResponse
      xml:
        name: VirtualAccountInquiryResponse
      required:
        - status
        - header_account
        - virtual_account
      type: object
      properties:
        request_id:
          title: request_id
          xml:
            name: RequestId
          type: string
          description: Auto-generated unique identification assigned to the request.
          example: 30b9c9d7-d4d9-48ce-8823-f9b3ee276b8d
        header_account:
          $ref: '#/components/schemas/Header-Account-Sync-Response'
        virtual_account:
          $ref: '#/components/schemas/Virtual-Account-Sync-Response'
    Virtual-Account-Update-Response:
      title: VirtualAccountResponse
      xml:
        name: VirtualAccountResponse
      properties:
        request_id:
          title: request_id
          xml:
            name: RequestId
          type: string
          minLength: 1
          maxLength: 40
          description: Auto-generated unique identification assigned to the request.
          example: 29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f
        status:
          title: status
          xml:
            name: Status
          type: string
          minLength: 1
          maxLength: 20
          description: >-
            Status of the request. <br> Possible statuses are <br> SUCCESS <br>
            REJECTED <br> PENDING <br> NOTIFICATION-SUCC
          example: SUCCESS
        message:
          title: message
          xml:
            name: Message
          type: string
          minLength: 1
          maxLength: 400
          description: Detailed response description for a given request.
          example: Request accepted Successfully
        action:
          title: action
          xml:
            name: Action
          type: string
          description: >-
            Action of the given request.  <br> - ''INTERNALUPDATE'' <br> -
            ''INTERNALREVIEW'' <br> - ''UPDATE''.
          example: UPDATE
        branch_code:
          title: branch_code
          xml:
            name: BranchCode
          type: string
          minLength: 3
          maxLength: 4
          description: Citi's bank code associated with given a header account number.
          example: '820'
        error_details:
          title: error_details
          type: array
          xml:
            name: ErrorDetails
            wrapped: true
          items:
            $ref: '#/components/schemas/Error-Detail'
        virtual_account:
          $ref: '#/components/schemas/Virtual-Account-Update'
    Virtual-Account-Response:
      title: VirtualAccountResponse
      xml:
        name: VirtualAccountResponse
      properties:
        request_id:
          title: request_id
          xml:
            name: RequestId
          type: string
          minLength: 1
          maxLength: 40
          description: Auto-generated unique identification assigned for the request.
          example: 29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f
        status:
          title: status
          xml:
            name: Status
          type: string
          minLength: 1
          maxLength: 20
          description: >-
            Status of the request. <br> Possible statuses are <br> SUCCESS <br>
            REJECTED <br> PENDING
          example: SUCCESS
        message:
          title: message
          xml:
            name: Message
          type: string
          minLength: 1
          maxLength: 400
          description: Detailed response for the particular request.
          example: Request accepted Successfully
        action:
          title: action
          xml:
            name: Action
          type: string
          description: >-
            Action of the given request.  <br> - ''RESERVATION'' <br> -
            ''ACTIVATION'' <br> - ''DEACTIVATE''.
          example: DEACTIVATE
        branch_code:
          title: branch_code
          xml:
            name: BranchCode
          type: string
          minLength: 3
          maxLength: 4
          description: Citi's bank code associated with given a header account number.
          example: '820'
        error_details:
          title: error_details
          type: array
          xml:
            name: ErrorDetails
            wrapped: true
          items:
            $ref: '#/components/schemas/Error-Detail'
        account:
          title: account
          xml:
            name: Account
            wrapped: true
          type: array
          items:
            $ref: '#/components/schemas/Accounts'
    Accounts:
      type: object
      title: Accounts
      properties:
        virtual_account:
          title: virtualAccount
          xml:
            name: VirtualAccount
          type: string
          minLength: 1
          maxLength: 40
          description: >-
            Required parameter only if the value of the `action` parameter is
            set to 'ACTIVATION'.<br><br>This parameter specifies the virtual
            account to be activated.
          example: '0123456789'
        entity_id:
          title: id
          xml:
            name: EntityId
          type: string
          minLength: 20
          maxLength: 20
          description: >-
            ID that was assigned specific to the entity being activated under
            this virtual account.
          example: EN_45678901234567890
        iban:
          title: iban
          xml:
            name: Iban
          type: string
          description: >-
            The International Bank Account Number (IBAN) for the virtual
            account.
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{4}[0-9]{7}([A-Z0-9]?){0,16}$
          example: GB29NWBK60161331926819
    Error-Detail:
      title: ErrorDetail
      type: object
      xml:
        name: ErrorDetail
      properties:
        code:
          title: code
          xml:
            name: Code
          type: string
          maxLength: 7
          description: >-
            Unique ID for the error code. <br> <br> Under GET method and
            callbacks, this parameter is a non-retrievable internal error
            code:<br>CC00013.
        issue:
          title: issue
          xml:
            name: Issue
          type: string
          description: More details about the  issue.
          maxLength: 200
        action:
          title: action
          xml:
            name: Action
          type: string
          description: Corrective action to be taken to resolve above issue.
          maxLength: 350
    Error-Message:
      title: ErrorMessage
      xml:
        name: ErrorMessage
      description: Description of the error.
      properties:
        ref_id:
          type: string
          title: ref_id
          xml:
            name: RefId
          maxLength: 60
          pattern: \w*\W*
          description: Unique reference ID for a particular request.
        error_details:
          title: error_details
          type: array
          items:
            $ref: '#/components/schemas/Error-Detail'
          xml:
            name: ErrorDetails
            wrapped: true
        httpCode:
          title: httpCode
          xml:
            name: httpCode
          type: string
          description: HTTP status code of this API.
        httpMessage:
          title: httpMessage
          xml:
            name: httpMessage
          type: string
          description: Short message about the issue.
        moreInformation:
          title: moreInformation
          xml:
            name: moreInformation
          type: string
          description: More information about the issue.
  securitySchemes:
    clientCredentials:
      type: oauth2
      description: >
        All CitiConnect APIs use the oAuth2 authentication scheme, which
        requires a bearer token to authenticate your API call. The Token URL
        includes the version of authentication used by this API. See <a
        href="../../authentication/authentication-api-reference/"
        target="_blank">the Citi Authentication API reference</a> for
        information on requesting a token.
      flows:
        clientCredentials:
          tokenUrl: /authenticationservices/v3/oauth/token
          scopes: {}
  responses:
    Inquiry-Response:
      description: VA Status Inquiry
      headers:
        apim-guid:
          schema:
            type: string
          description: Citi's unique identification for your request.
        Deprecation:
          description: >-
            The date when the API was stopped or will be stopped by the system
            owner. ISO 8601-1:2019 format.
          schema:
            type: string
            format: date-time
        Sunset:
          description: >-
            The date when the API will no longer be supported by the system
            owner. The API will no longer be responsive and all REQUESTS will
            generate an error.  ISO 8601-1:2019 format.
          schema:
            type: string
            format: date-time
        Link:
          description: Latest working URL that can be used for the same purpose.
          schema:
            type: string
        RateLimit-Limit:
          description: >-
            The rate limit ceiling for that given request measured in a 24 hour
            cycle.
          schema:
            type: string
        RateLimit-Remaining:
          description: The number of requests left in a 15 minute window.
          schema:
            type: string
        RateLimit-Reset:
          description: The remaining window before the rate limit resets. ISO 8601-1:2019.
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Virtual-Account-Inquiry-Response'
              - $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            VirtualAccountResponseExample:
              $ref: '#/components/examples/Inquiry-Sync-Account-Response'
            RequestIDResponseExample:
              $ref: '#/components/examples/Reservation-Success-Async'
            RequestIDPendingResponseExample:
              $ref: '#/components/examples/Reservation-Pending-Inquiry'
        application/xml:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Virtual-Account-Inquiry-Response'
              - $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            VirtualAccountResponseExample:
              value: >-
                <VirtualAccountInquiryResponse><RequestId>feeb8c90-ee61-4321-8905-c33c746455fd</RequestId><HeaderAccount><Account>51218421</Account><BranchCode>930</BranchCode></HeaderAccount><VirtualAccount><Account>10000000202133567</Account><Status>ACTIVE</Status><BalanceDisplayOption>Y</BalanceDisplayOption><Entity><Id>DMB0TGcLscEhdjsP0YRl</Id><LastName>FDGDFGFDG</LastName><DateOfBirth>2024-02-29</DateOfBirth><OrganisationPrivateIdentification><Type>TAX_ID</Type><Id>A{{$timestamp}}</Id><CountryOfIssuance>CN</CountryOfIssuance></OrganisationPrivateIdentification><Address><StrtNm>3100
                Keele st</StrtNm><BldgNb>533</BldgNb><PstCd>L5B
                3Y6</PstCd><TwnNm>North
                York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CN</Ctry></Address></Entity><CreditDebitPreferences><DisallowCredit>N</DisallowCredit><DisallowDebit>N</DisallowDebit></CreditDebitPreferences><BeneficialOwner><BeneficialOwner><FirstName>GGHJFHJG</FirstName><LastName>CFFHG</LastName><DateOfBirth>2024-02-29</DateOfBirth><Address><StrtNm>534
                cYTross
                st</StrtNm><BldgNb>533</BldgNb><PstCd>785263</PstCd><TwnNm>caralado</TwnNm><CtrySubDvsn>US</CtrySubDvsn><Ctry>US</Ctry></Address></BeneficialOwner></BeneficialOwner></VirtualAccount></VirtualAccountInquiryResponse>
            RequestIDResponseExample:
              value: >-
                <VirtualAccountResponse><RequestId>312e398f-86ca-4afa-839c-c5b12cb8ef87</RequestId><Status>SUCCESS</Status><Message>Account
                Reservation Request Successfully
                Processed</Message><Action>RESERVATION</Action><BranchCode>930</BranchCode><Account><Account><VirtualAccount>10000000202133567</VirtualAccount></Account><Account><VirtualAccount>10000000202133575</VirtualAccount></Account><Account><VirtualAccount>10000000202133583</VirtualAccount></Account><Account><VirtualAccount>10000000202133591</VirtualAccount></Account><Account><VirtualAccount>10000000202133604</VirtualAccount></Account></Account></VirtualAccountResponse>
            RequestIDPendingResponseExample:
              value: >-
                <VirtualAccountResponse><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Status>PENDING</Status><Message>Your
                request is under processing, please retry after
                sometime</Message></VirtualAccountResponse>
    Accepted-Response:
      description: Accepted
      headers:
        Deprecation:
          description: >-
            The date when this API was stopped or will be stopped by the system
            owner. ISO 8601-1:2019 format.
          schema:
            type: string
            format: date-time
        Sunset:
          description: >-
            The date when this API will no longer be Supported by the system
            owner. The API will no longer be responsive and all REQUESTS will
            generate an error.  ISO 8601-1:2019 format.
          schema:
            type: string
            format: date-time
        Link:
          description: Latest working URL that can be used for the same purpose.
          schema:
            type: string
        RateLimit-Limit:
          description: >-
            The rate limit ceiling for that given request measured in a 24 hour
            cycle.
          schema:
            type: string
        RateLimit-Remaining:
          description: The number of requests left in a 15 minute window.
          schema:
            type: string
        RateLimit-Reset:
          description: The remaining window before the rate limit resets. ISO 8601-1:2019.
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            SynchronousResponseExample:
              $ref: '#/components/examples/Level0-Response'
        application/xml:
          schema:
            $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            SynchronousResponseExample:
              value: >-
                <VirtualAccountResponse><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Status>ACCEPTED</Status><Message>Request
                accepted Successfully</Message></VirtualAccountResponse>
    De-Activation-Accepted-Response:
      description: Accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            SynchronousResponseExample:
              $ref: '#/components/examples/Level0-Response'
        application/xml:
          schema:
            $ref: '#/components/schemas/Virtual-Account-Response'
          examples:
            SynchronousResponseExample:
              value: >-
                <?xml version="1.0"
                encoding="UTF-8"?><VirtualAccountResponse><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Status>ACCEPTED</Status><Message>Request
                accepted Successfully</Message></VirtualAccountResponse>
    Bad-Request-Sync-Response:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Bad-Request:
              $ref: '#/components/examples/Bad-Request-Sync-Response-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Bad-Request-Sync-Xml-Response-Example:
              $ref: '#/components/examples/Bad-Request-Sync-Response-Example'
    De-Activation-Bad-Request-Response:
      $ref: '#/components/responses/Bad-Request-Sync-Response'
    Bad-Request:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            BadRequest:
              $ref: '#/components/examples/Bad-Request-Json-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            BadRequest:
              value: >-
                <?xml version="1.0"
                encoding="UTF-8"?><ErrorMessage><RefId>ec689822-9864-4c4d-9d68-222467627902</RefId><ErrorDetails><ErrorDetail><Code>VC00012</Code><Issue>Provided
                value is not within the range for the header_account.branch_code
                parameter.</Issue><Action>Please provide a valid value for the
                header_account.branch_code parameter, size must be between 3 and
                4.</Action></ErrorDetail></ErrorDetails></ErrorMessage>
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Unauthorized:
              $ref: '#/components/examples/Unauthorized-Example'
            GatewayUnauthorized:
              $ref: '#/components/examples/Gateway-Un-Authorized'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Unauthorized:
              value: >-
                <?xml version="1.0"
                encoding="UTF-8"?><ErrorMessage><RefId>ec689822-9864-4c4d-9d68-222467627902</RefId><ErrorDetails><ErrorDetail><Code>CC00007</Code><Issue>User
                does not have authorization to access.</Issue><Action>Please use
                valid credentials to access this
                functionality.</Action></ErrorDetail><ErrorDetail><Code>CC00007</Code><Issue>User
                does not have authorization to access.</Issue><Action>Please use
                valid credentials to access this
                functionality.</Action></ErrorDetail></ErrorDetails></ErrorMessage>
            GatewayUnauthorized:
              value: >-
                <?xml version="1.0"
                encoding="UTF-8"?><ErrorMessage><httpCode>401</httpCode><httpMessage>Unauthorized</httpMessage><moreInformation>Invalid
                client identification.</moreInformation></ErrorMessage>
    Idempotency-Duplication:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            IdempotencyDuplicationExample:
              $ref: '#/components/examples/Idempotency-Duplication-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            IdempotencyDuplicationExample:
              value: >-
                <ErrorMessage><RefId>ec689822-9864-4c4d-9d68-222467627902</RefId><ErrorDetails><ErrorDetail><Code>VC00016</Code><Issue>Idempotency-Id
                provided is currently being used in another
                request.</Issue><Action>Please do not repeat the same request
                again.</Action></ErrorDetail></ErrorDetails></ErrorMessage>
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Forbidden:
              $ref: '#/components/examples/Forbidden-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            Forbidden:
              value: >-
                <ErrorMessage><RefId>ec689822-9864-4c4d-9d68-222467627902</ref_id><ErrorDetails><ErrorDetail><Code>CC00008</Code><Issue>User
                does not have the privileges to access this
                functionality.</Issue><Action>Please reach out to support team
                to enable this
                feature.</Action></ErrorDetail></ErrorDetails></ErrorMessage>
    Method-Not-Allowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            MethodNotAllowed:
              $ref: '#/components/examples/Method-Not-Allowed-Example'
            GatewayMethodNotAllowed:
              $ref: '#/components/examples/Gateway-Method-Not-Allowed-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            MethodNotAllowed:
              value: >-
                <ErrorMessage><ref_id>ec689822-9864-4c4d-9d68-222467627902</ref_id><error_details><error_detail><code>CC00007</code><issue>Method
                Not Allowed</issue><action>Please use valid method
                type</action></error_detail></error_details></ErrorMessage>
            GatewayMethodNotAllowed:
              value: >-
                <ErrorMessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL.</moreInformation></ErrorMessage>
    Not-Found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            NotFound:
              $ref: '#/components/examples/Not-Found-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            NotFound:
              value: >-
                <ErrorMessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></ErrorMessage>
    Too-Many-Request:
      description: Too Many Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            TooManyRequest:
              $ref: '#/components/examples/Too-Many-Request-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            TooManyRequest:
              value: >-
                <ErrorMessage><RefId>ec689822-9864-4c4d-9d68-222467627902</RefId><ErrorDetails><ErrorDetail><Code>CC00009</Code><Issue>Requests
                are exceeding the allowed limit</Issue><Action>Resend the
                request after ${time}
                minutes</Action></ErrorDetail></ErrorDetails></ErrorMessage>
    Unsupported-Media-Type:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            UnsupportedMediaType:
              $ref: '#/components/examples/Unsupported-Media-Type-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            UnsupportedMediaType:
              value: >-
                <ErrorMessage><ref_id>ec689822-9864-4c4d-9d68-222467627902</ref_id><error_details><error_detail><code>CC00002</code><issue>Media
                type not supported</issue><action>Please use valid content-type
                in the
                header.</action></error_detail></error_details></ErrorMessage>
    Internal-Server-Error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            InternalServerError:
              $ref: '#/components/examples/Internal-Server-Error-Example'
            GatewayInternalServerError:
              $ref: '#/components/examples/Gateway-Internal-Server-Error-Example'
            InternalError:
              $ref: '#/components/examples/Internal-Error-Example'
        application/xml:
          schema:
            $ref: '#/components/schemas/Error-Message'
          examples:
            InternalServerError:
              value: >-
                <ErrorMessage><ref_id>ec689822-9864-4c4d-9d68-222467627902</ref_id><error_details><error_detail><code>CC00004</code><issue>Unable
                to serve your request at this moment.</issue><action>Please
                contact the support
                team.</action></error_detail></error_details></ErrorMessage>
            GatewayInternalServerError:
              value: >-
                <ErrorMessage><httpCode>500</httpCode><httpMessage>Internal
                Server Error</httpMessage><moreInformation>Internal Server
                Error</moreInformation></ErrorMessage>
            InternalError:
              value: >-
                <ErrorMessage><ref_id>ec689822-9864-4c4d-9d68-222467627902</ref_id><error_details><error_detail><code>CC00013</code><issue>Unable
                to process your request at this time.</issue><action>Please
                contact the support team for further
                assistance.</action></error_detail></error_details></ErrorMessage>
  callbacks:
    Reservation-Response:
      '{$notificationURL}':
        post:
          parameters:
            - $ref: '#/components/parameters/Apim-Guid'
            - $ref: '#/components/parameters/Event-Type'
            - $ref: '#/components/parameters/Event-Name'
            - $ref: '#/components/parameters/Pagination-Metadata'
          description: >-
            A periodic status update is triggered in an asynchronous manner
            (Callback/PUSH notifications) to the `notificationURL` that the
            client shared.
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Response'
                examples:
                  AsynchronousSuccessResponseExample:
                    $ref: '#/components/examples/Reservation-Success-Async'
                  AsynchronousFailureResponseExample:
                    $ref: '#/components/examples/Reservation-Failure-Async'
              application/xml:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Response'
                examples:
                  AsynchronousSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>e4994334-f776-4234-a304-1bbc5be9eccb</RequestId><Action>RESERVATION</Action><Status>SUCCESS</Status><Message>Account
                      Reservation Request Successfully
                      Processed</Message><BranchCode>930</BranchCode><Account><Account><VirtualAccount>10000000201533139</VirtualAccount></Account><Account><VirtualAccount>10000000201533147</VirtualAccount></Account><Account><VirtualAccount>10000000201533155</VirtualAccount></Account><Account><VirtualAccount>10000000201533163</VirtualAccount></Account><Account><VirtualAccount>10000000201533171</VirtualAccount></Account></Account></VirtualAccountResponse>
                  AsynchronousFailureResponseExample:
                    value: >-
                      <VirtualAccountResponse><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>RESERVATION</Action><Status>REJECTED</Status><ErrorDetails><ErrorDetail><Code>VC00001</Code><Issue>Invalid
                      Header Account</Issue><Action>Please provide valid Header
                      Account</Action></ErrorDetail></ErrorDetails><BranchCode>820</BranchCode></VirtualAccountResponse>
          responses:
            '202':
              description: Accepted
              content:
                application/json:
                  schema:
                    type: object
    Activation-Response:
      '{$notificationURL}':
        post:
          parameters:
            - $ref: '#/components/parameters/Apim-Guid'
            - $ref: '#/components/parameters/Event-Type'
            - $ref: '#/components/parameters/Event-Name'
          description: >-
            Periodic status updates are triggered in an asynchronous manner
            (Callback/PUSH notifications) to the `notificationURL` that the
            client shared.
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Response'
                examples:
                  AsynchronousSuccessResponseExample:
                    $ref: '#/components/examples/Activation-Success-Async'
                  AsynchronousFailureResponseExample:
                    $ref: '#/components/examples/Activation-Failure-Async'
              application/xml:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Response'
                examples:
                  AsynchronousSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>bfe1c5f6-35c0-4149-b8e1-adab23da3afb</RequestId><Action>ACTIVATION</Action><Status>SUCCESS</Status><Message>The
                      Virtual Account Number is now
                      active</Message><BranchCode>930</BranchCode><Account><Account><VirtualAccount>10000000201340652</VirtualAccount><EntityId>eEDWVSV00W-CgC20CbBn</EntityId><Iban>GB29NWBK60161331926819</Iban></Account></Account></VirtualAccountResponse>
                  AsynchronousFailureResponseExample:
                    value: >-
                      <?xml version="1.0"
                      encoding="UTF-8"?><VirtualAccountResponse><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>ACTIVATION</Action><Status>REJECTED</Status><ErrorDetails><ErrorDetail><Code>VC00001</Code><Issue>Invalid
                      Virtual account</Issue><Action>Please provide a valid
                      virtual
                      account.</Action></ErrorDetail></ErrorDetails><BranchCode>820</BranchCode></VirtualAccountResponse>
          responses:
            '202':
              description: Accepted
              content:
                application/json:
                  schema:
                    type: object
    Update-Response:
      '{$notificationURL}':
        post:
          parameters:
            - $ref: '#/components/parameters/Apim-Guid'
            - $ref: '#/components/parameters/Event-Type'
            - $ref: '#/components/parameters/Event-Name'
          description: >-
            Periodic status updates are triggered in an asynchronous manner
            (Callback/PUSH notifications) to the `notificationURL` that the
            client shared.
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Update-Response'
                examples:
                  AsynchronousEntityDetailsSuccessResponseExample:
                    $ref: '#/components/examples/Update-Entity-Details-Async'
                  AsynchronousPostingRestrictionSuccessResponseExample:
                    $ref: '#/components/examples/Update-Posting-Restriction-Async'
                  AsynchronousFailureResponseExample:
                    $ref: '#/components/examples/Update-Failure-Async'
                  AsynchronousRescreenSuccessResponseExample:
                    $ref: '#/components/examples/Rescreen-Async'
                  AsynchronousBroadcastSuccessResponseExample:
                    $ref: '#/components/examples/Broadcast-Async'
              application/xml:
                schema:
                  $ref: '#/components/schemas/Virtual-Account-Update-Response'
                examples:
                  AsynchronousEntityDetailsSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>UPDATE</Action><Status>SUCCESS</Status><Message>Virtual
                      account number is updated
                      now.</Message><BranchCode>820</BranchCode><VirtualAccount><Account>0123456789</Account><Entity><LastName>INC</LastName><Id>EN_45678901234567890</Id><Type>C</Type><Website>www.ddee.com</Website><StoreName>ABC</StoreName><BusinessPurpose>Trade</BusinessPurpose><Acronym>Buss</Acronym><CtryOfOpr>CA</CtryOfOpr><OrganisationPrivateIdentification><Type>TAX_ID</Type><Id>1234567890</Id><CountryOfIssuance>US</CountryOfIssuance></OrganisationPrivateIdentification><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></Entity><BeneficialOwner><BeneficialOwner><LastName>James</LastName><FirstName>White</FirstName><DateOfBirth>2001-05-01</DateOfBirth><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></BeneficialOwner><BeneficialOwner><LastName>Mark</LastName><FirstName>White</FirstName><DateOfBirth>2000-05-01</DateOfBirth><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></BeneficialOwner></BeneficialOwner></VirtualAccount></VirtualAccountResponse>
                  AsynchronousPostingRestrictionSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>UPDATE</Action><Status>SUCCESS</Status><Message>Virtual
                      account 323545 is now
                      updated.</Message><BranchCode>820</BranchCode><VirtualAccount><Account>0123456789</Account><CreditDebitPreferences><DisallowCredit>Y</DisallowCredit><DisallowDebit>N</DisallowDebit></CreditDebitPreferences></VirtualAccount></VirtualAccountResponse>
                  AsynchronousFailureResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>UPDATE</Action><Status>REJECTED</Status><ErrorDetails><ErrorDetail><Code>VC00001</Code><Issue>Invalid
                      virtual account.</Issue><Action>Please provide a valid
                      virtual
                      account</Action></ErrorDetail></ErrorDetails><BranchCode>820</BranchCode></VirtualAccountResponse>
                  AsynchronousRescreenSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>INTERNALREVIEW</Action><Status>NOTIFICATION-SUCC</Status><Message>Please
                      note the merchant account reflected has been
                      changed.</Message><BranchCode>820</BranchCode><VirtualAccount><Account>0123456789</Account><Entity><LastName>INC</LastName><Id>EN_45678901234567890</Id><Type>C</Type><Website>www.ddee.com</Website><StoreName>ABC</StoreName><BusinessPurpose>Trade</BusinessPurpose><Acronym>Buss</Acronym><CtryOfOpr>CA</CtryOfOpr><OrganisationPrivateIdentification><Type>TAX_ID</Type><Id>1234567890</Id><CountryOfIssuance>US</CountryOfIssuance></OrganisationPrivateIdentification><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></Entity><BeneficialOwner><BeneficialOwner><LastName>James</LastName><FirstName>White</FirstName><DateOfBirth>2001-05-01</DateOfBirth><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></BeneficialOwner><BeneficialOwner><LastName>Mark</LastName><FirstName>White</FirstName><DateOfBirth>2000-05-01</DateOfBirth><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></BeneficialOwner></BeneficialOwner></VirtualAccount></VirtualAccountResponse>
                  AsynchronousBroadcastSuccessResponseExample:
                    value: >-
                      <VirtualAccountResponse
                      xmlns=""><RequestId>29b9c9d7-d4d9-48ce-8823-f9b3ee276b8f</RequestId><Action>INTERNALUPDATE</Action><Status>NOTIFICATION-SUCC</Status><Message>Please
                      note the merchant account reflected has been changed per
                      your
                      request.</Message><BranchCode>820</BranchCode><VirtualAccount><Account>0123456789</Account><Entity><LastName>INC</LastName><Id>EN_45678901234567890</Id><Type>C</Type><Website>www.ddee.com</Website><StoreName>ABC</StoreName><BusinessPurpose>Trade</BusinessPurpose><Acronym>Buss</Acronym><CtryOfOpr>CA</CtryOfOpr><OrganisationPrivateIdentification><Type>TAX_ID</Type><Id>1234567890</Id><CountryOfIssuance>US</CountryOfIssuance></OrganisationPrivateIdentification><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
                      York</TwnNm><CtrySubDvsn>Ontario</CtrySubDvsn><Ctry>CA</Ctry></Address></Entity><BeneficialOwner><BeneficialOwner><LastName>James</LastName><FirstName>White</FirstName><DateOfBirth>2001-05-01</DateOfBirth><Address><StrtNm>3210
                      Abcd st</StrtNm><BldgNb>123</BldgNb><PstCd>L5B
                      111</PstCd><TwnNm>North
[...]
