openapi: 3.0.0
info:
  description: >-
    Obtain authorized & cleared transaction details on a Virtual Cards for
    reporting and payment reconciliation.


    Download our SDKs:


    * [Python
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=python&apiTitle=all&isClientSecReq=true)

    * [Java
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=java&apiTitle=all&isClientSecReq=true)

    * [.Net
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=dotnet&apiTitle=all&isClientSecReq=true)

    * [Ruby
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ruby&apiTitle=all&isClientSecReq=true)

    * [NodeJS
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=nodejs&apiTitle=all&isClientSecReq=true)

    * [Go
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=go&apiTitle=all&isClientSecReq=true)

    * [CLI Tool
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ccapi-cli&apiTitle=all&isClientSecReq=true)


    Note: You must be logged in to download the SDKs.
  version: 2.0.0
  title: VCA Reporting
  contact:
    name: Global CitiConnect Support
    email: citiconnectsupport@citi.com
  x-ibm-name: vca-reporting
servers:
  - url: https://tts.apib2b.citi.com/tts/cards
    description: Production Gateway URL
  - url: https://tts.sandbox.apib2b.citi.com/tts/cards
    description: Sandbox Gateway URL
security:
  - clientCredentials:
      - /api
paths:
  /vca/v2/reports/authorization:
    post:
      summary: Obtain Authorized Transaction Details
      description: >-
        Obtain authorized transaction details on a VCA for reporting & payment
        reconciliation
      operationId: Authorization Report
      parameters:
        - name: Content-Type
          in: header
          description: Supports application/json
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: >-
            Oauth token included by the external client to APIm. APIm will
            external the client ID and pass it to GRACE
          required: true
          schema:
            type: string
        - name: Country
          in: header
          description: >-
            Three character length country code used during onboarding into
            GRACE
          schema:
            type: string
          required: true
        - name: Region
          in: header
          description: >-
            This value will be used by APIm to route to the respective GRACE
            backend instance
          schema:
            type: string
          required: true
        - name: Req-Sys-Id
          in: header
          description: >-
            Unique ID of the API message sent. This ID will be provided back in
            the corresponding response. The ID can be used for investigation and
            troubleshooting. The ID must be unique per integration.
          schema:
            type: string
          required: false
      requestBody:
        description: AuthReportInboundRequest
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthReportInboundRequest'
            examples:
              Mastercard-Request-Required-Fields:
                summary: Mastercard Sample Request with Required Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195320
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
              Visa-Request-Required-Fields:
                summary: Visa Sample Request with Required Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195321
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
              Mastercard-Request-All-Fields:
                summary: Mastercard Sample Request with All Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195322
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: '00:00'
                  endTime: '23:00'
                  timeZone: UTC-04:00
                  transactionType: All
              Visa-Request-All-Fields:
                summary: Visa Sample Request with All Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195323
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: '00:00'
                  endTime: '23:00'
              Mastercard-Pagination-Request:
                summary: Mastercard Sample Request with Pagination
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195324
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                    - '1234567'
                    - '2345678'
                  filters:
                    paginationRequired: 'true'
                    sortOrder: DESCENDING
                    startIndex: '101'
                    endIndex: '200'
              Visa-Pagination-Request:
                summary: Visa Sample Request with Pagination
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00000AuthReport00020260521195325
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  filters:
                    paginationRequired: 'true'
                    startIndex: '150'
                    endIndex: '300'
              Mastercard-Retry-Request:
                summary: Mastercard Sample Retry Request for Pending/Active Status
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00000AuthReport00020260521195326
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                    - '1234567'
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>AuthReportInboundResponse</td><td>success</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthReportInboundResponse'
              examples:
                Mastercard-Response-All-Transaction-Type:
                  summary: Mastercard Sample Response for All Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2026-02-27'
                    endDate: '2026-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2026-02-27'
                        toDate: '2026-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2026-03-30'
                        toDate: '2026-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '122026'
                        billingCurrencyAmount: '123'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '123'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:52:11'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Refer to card issuer
                        vcaAuthorizationResponseDetail: Iss/Netwk decline
                      - expiryDate: '012026'
                        billingCurrencyAmount: '-143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '-143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:26:26'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '012026'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:24:56'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '012026'
                        billingCurrencyAmount: '141'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '141'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:23:33'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '122026'
                        billingCurrencyAmount: '0'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '0'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:34:03'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Do not honor
                        vcaAuthorizationResponseDetail: No Auth for Revl
                      - expiryDate: '122026'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:32:47'
                        transactionType: Auth Purchase Return
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '122026'
                        billingCurrencyAmount: '141'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '141'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:29:20'
                        transactionType: Auth Purchase Return
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON        MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Approved-Transaction-Type:
                  summary: Mastercard Sample Response for Approved Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Approved
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '012023'
                        billingCurrencyAmount: '-143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '-143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:26:26'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '012023'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:24:56'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '012023'
                        billingCurrencyAmount: '141'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '141'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:23:33'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '122023'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:32:47'
                        transactionType: Auth Purchase Return
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '122023'
                        billingCurrencyAmount: '141'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '141'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:29:20'
                        transactionType: Auth Purchase Return
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Declined-Transaction-Type:
                  summary: Mastercard Sample Response for Declined Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Declined
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '122021'
                        billingCurrencyAmount: '123'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '123'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:52:11'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Refer to card issuer
                        vcaAuthorizationResponseDetail: Iss/Netwk decline
                      - expiryDate: '122023'
                        billingCurrencyAmount: '0'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '0'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:34:03'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Do not honor
                        vcaAuthorizationResponseDetail: No Auth for Revl
                Mastercard-Response-Issuer-Declined-Transaction-Type:
                  summary: >-
                    Mastercard Sample Response for Issuer-Declined Transaction
                    Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Issuer-Declined
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '122021'
                        billingCurrencyAmount: '123'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '123'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:52:11'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Refer to card issuer
                        vcaAuthorizationResponseDetail: Iss/Netwk decline
                Mastercard-Response-Reversal-Response-Transaction-Type:
                  summary: >-
                    Mastercard Sample Response for Reversal-Response Transaction
                    Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Reversal-Response
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '012023'
                        billingCurrencyAmount: '-143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '-143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:26:26'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON  MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '122023'
                        billingCurrencyAmount: '0'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '0'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:34:03'
                        transactionType: Reversal
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON  MO
                        acquirerIdentifier: '999080'
                        authorizationResponseDetail: Do not honor
                        vcaAuthorizationResponseDetail: No Auth for Revl
                Mastercard-Response-Request-Response-Transaction-Type:
                  summary: >-
                    Mastercard Sample Response for Request-Response Transaction
                    Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: Request-Response
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '122021'
                        billingCurrencyAmount: '123'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '123'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:52:11'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Refer to card issuer
                        vcaAuthorizationResponseDetail: Iss/Netwk decline
                      - expiryDate: '012023'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:24:56'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                      - expiryDate: '012023'
                        billingCurrencyAmount: '141'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '141'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '19:23:33'
                        transactionType: Authorization
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        transactionEnvironment: POS
                        authorizationResponseDetail: Approved or completed successfully
                        vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Purchase-Return:
                  summary: Mastercard Sample Response for Purchase-Return
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - expiryDate: '122023'
                        billingCurrencyAmount: '143'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-15
                        transactionTime: '17:32:47'
                        transactionType: Purchase Return
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5999'
                        mccDescription: MISCELLANEOUS AND SPECIALTY RETAIL STORES
                        merchantId: 00000R-5411-USA
                        merchantName: GROCERY STORES SUPERM OFALLON      MO
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '999080'
                        terminalId: '33248931'
                        transactionEnvironment: UNKNOWN
                        vcaAuthorizationResponseDetail: Approval
                Mastercard-Response-Forced-Post:
                  summary: Mastercard Sample Response for Forced-Post
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    authorizationRecords:
                      - billingCurrencyAmount: '127.00'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '127.00'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '14:41:52'
                        transactionType: Forced Post
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '00000999080'
                        transactionEnvironment: POS
                        vcaAuthorizationResponseDetail: Approval
                      - billingCurrencyAmount: '143.00'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '143.00'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '14:37:13'
                        transactionType: Forced Post
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '00000999080'
                        transactionEnvironment: POS
                        vcaAuthorizationResponseDetail: Approval
                      - billingCurrencyAmount: '125.00'
                        billingCurrencyCode: USD
                        billingCurrencyCodeDescription: US Dollar
                        transactionCurrencyCode: USD
                        transactionCurrencyAmount: '125.00'
                        transactionCurrencyCodeDescription: US Dollar
                        transactionDate: 04-20
                        transactionTime: '14:36:25'
                        transactionType: Forced Post
                        preAuthorizationFlag: 'No'
                        addressVerificationServiceFlag: 'No'
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCountryCode: USA
                        merchantCountryName: United States (the)
                        acquirerIdentifier: '00000999080'
                        transactionEnvironment: POS
                        vcaAuthorizationResponseDetail: Approval
                Mastercard-Pending-Response:
                  summary: Mastercard Sample Response for Pending Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: PENDING
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: PENDING
                Mastercard-Active-Response:
                  summary: Mastercard Sample Response for Active Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: ACTIVE
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: ACTIVE
        '400':
          description: >-
            <table><tr><td>ErrorResponseForAuthReport</td><td><table><tr><th>Error
            Code</th><th>Error
            Description</th></tr>\n<tr><td>ERS0001</td><td>Invalid Virtual Card
            Account Number format</td></tr>\n<tr><td>ERS0002</td><td>Invalid
            Transaction Type</td></tr>\n<tr><td>ERS0003</td><td>timeZone field
            is empty or has an invalid UTC offset time zone
            format</td></tr>\n<tr><td>ERC0004</td><td>Transactions were unable
            to be returned for the requested data range. Please try again, or
            contact Citi support if you have any further questions or
            comments.</td></tr>\n<tr><td>ERS0007</td><td>Invalid Message ID
            format</td></tr>\n<tr><td>ERS0009</td><td>Client Onboard
            Configuration setup is missing. Contact Citi
            support.</td></tr>\n<tr><td>ERS0010</td><td>Invalid Report ID
            format. Report ID must include numeric
            values</td></tr>\n<tr><td>ERS0053</td><td>Start Date is
            Mandatory.</td></tr>\n<tr><td>ERS0054</td><td>End Date is
            Mandatory.</td></tr>\n<tr><td>ERS0055</td><td>Requested report date
            cannot exceed 180 days in the past from today's
            date</td></tr>\n<tr><td>ERS0057</td><td>startDate value exceeds
            requested endDate value</td></tr>\n<tr><td>ERS0060</td><td>Client ID
            and/or Program Id is missing in Client Onboard Configuration setup.
            Contact Citi support.</td></tr>\n<tr><td>ERS0061</td><td>VCA ID is
            not present in our
            system</td></tr>\n<tr><td>ERS0063</td><td>Requested Time Zone is not
            supported</td></tr>\n<tr><td>ERS0068</td><td>Program Id is
            Mandatory.</td></tr>\n<tr><td>ERS0069</td><td>Vca Id is
            Mandatory.</td></tr>\n<tr><td>ERS0070</td><td>Message Id is
            Mandatory.</td></tr>\n<tr><td>ERS0071</td><td>Virtual Card Account
            Number is Mandatory.</td></tr>\n<tr><td>ERS0072</td><td>Requested
            report date cannot exceed 36 months in the past from todays
            date</td></tr>\n<tr><td>ERS0079</td><td>The requested report ID(s)
            is for a VCA that is different than the VCA included in the request.
            Please include the VCA associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0080</td><td>The requested report ID(s)
            is for a programId that is different than the programId included in
            the request. Please include the programId associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0081</td><td>The requested report ID(s)
            is for a timeZone that is different than the timeZone included in
            the request. Please include the timeZone associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0082</td><td>The requested report IDs
            are for different VCAs, Please include report IDs that belong to the
            same VCA.</td></tr>\n<tr><td>ERS0083</td><td>The requested report
            IDs are for different program IDs, Please include report IDs that
            belong to the same program
            ID.</td></tr>\n<tr><td>ERS0084</td><td>The requested report IDs are
            for different requested time zones, Please include report IDs that
            belong to the same requested time
            zone.</td></tr>\n<tr><td>ERS0091</td><td>startDate value must have
            valid format: YYYY-MM-DD</td></tr>\n<tr><td>ERS0092</td><td>endDate
            value must have valid format:
            YYYY-MM-DD</td></tr>\n<tr><td>ERS0093</td><td>The date specified in
            startDate does not exist</td></tr>\n<tr><td>ERS0094</td><td>The date
            specified in endDate does not
            exist</td></tr>\n<tr><td>ERS0095</td><td>Report ID included in your
            request is not present for the given ClientID/program ID. Please
            generate a new report ID for this Reports request by calling the
            Reports API without a report
            ID</td></tr>\n<tr><td>ERS0097</td><td>startTime value must have
            valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M
            (0-9)</td></tr>\n<tr><td>ERS0098</td><td>endTime value must have
            valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M
            (0-9)</td></tr>\n<tr><td>ERS0099</td><td>startTime value cannot
            exceed the requested endTime
            value</td></tr><tr><td>ERS0100</td><td>Invalid sortOrder
            value</td></tr><tr><td>ERS0101</td><td>startIndex should be
            numeric</td></tr><tr><td>ERS0102</td><td>endIndex should be
            numeric</td></tr><tr><td>ERS0103</td><td>startIndex should be less
            than or equal to endIndex</td></tr><tr><td>ERS0104</td><td>The
            startIndex & endIndex range cannot be greater than
            150</td></tr><tr><td>ERS0105</td><td>The startDate and endDate range
            cannot be greater than 30 days if paginationRequired is
            true</td></tr>\n\n<tr><td>MS0001</td><td>Invalid Virtual Card
            Account Number</td></tr>\n<tr><td>MS0002</td><td>From date should be
            before to date.</td></tr>\n<tr><td>MS0006</td><td>Invalid vcaId
            value</td></tr>\n<tr><td>MS0008</td><td>Invalid Report
            ID</td></tr>\n\n<tr><td>GRC0002</td><td>Client ID is missing in the
            request header</td></tr>\n<tr><td>GRC0003</td><td>Invalid JSON
            Input</td></tr>\n<tr><td>GRC0004</td><td>Region ID is not available
            in the request</td></tr>\n<tr><td>GRC0011</td><td>Client ID and/or
            Country and/or region id is missing in Client Onboard Configuration
            setup. Contact Citi
            support.</td></tr>\n<tr><td>GRC0016</td><td>Country code is not
            available in the request</td></tr>\n</table></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForAuthReport'
        '500':
          description: >-
            <table><tr><td>ServerErrorResponseForAuthReport</td><td><table><tr><th>Error
            Code</th><th>Error Description</th></tr>

            <tr><td>GRC0001</td><td>We have encountered an error and couldn't
            receive your request. Please try again, or contact Citi support if
            you have any further questions or comments.</td></tr>

            <tr><td>GRC0006</td><td>We have encountered an error and couldn't
            receive your request. Please try again, or contact Citi support if
            you have any further questions or comments.</td></tr>

            <tr><td>GRC0009</td><td>We have encountered an error and couldn't
            receive your request. Please try again, or contact Citi support if
            you have any further questions or comments.</td></tr>

            <tr><td>GRC0014</td><td>We have encountered an error and couldn't
            receive your request. Please try again, or contact Citi support if
            you have any further questions or comments</td></tr>

            </table></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseForAuthReport'
        '504':
          description: >-
            <table><tr><td>ErrorResponseForAuthReport</td><td>Backend
            Connectivity Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForAuthReport'
  /vca/v2/reports/clearing:
    post:
      summary: Obtain Cleared Transaction Details Reporting
      description: >-
        Obtain cleared transaction details on a VCA for reporting and payment
        reconciliation
      operationId: Clearing Report
      parameters:
        - name: Content-Type
          in: header
          description: Supports application/json
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: >-
            Oauth token included by the external client to APIm. APIm will
            external the client ID and pass it to GRACE
          required: true
          schema:
            type: string
        - name: Country
          in: header
          description: >-
            Three character length country code used during onboarding into
            GRACE
          schema:
            type: string
          required: true
        - name: Region
          in: header
          description: >-
            This value will be used by APIm to route to the respective GRACE
            backend instance
          schema:
            type: string
          required: true
        - name: Req-Sys-Id
          in: header
          description: >-
            Unique ID of the API message sent. This ID will be provided back in
            the corresponding response. The ID can be used for investigation and
            troubleshooting. The ID must be unique per integration.
          schema:
            type: string
          required: false
      requestBody:
        description: ClearingReportInboundRequest
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearingReportInboundRequest'
            examples:
              Mastercard-Request-Required-Fields:
                summary: Mastercard Sample Request with Required Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195320
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
              Visa-Request-Required-Fields:
                summary: Visa Sample Request with Required Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195321
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
              Mastercard-Request-All-Fields:
                summary: Mastercard Sample Request with All Fields
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195322
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: '00:00'
                  endTime: '23:00'
                  timeZone: UTC-04:00
                  transactionType: All
              Visa-Request-All-Fields:
                summary: Visa Sample Request with All Fields
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195323
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  startTime: '00:00'
                  endTime: '23:00'
              Mastercard-Pagination-Request:
                summary: Mastercard Sample Request with Pagination
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195324
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                    - '1234567'
                    - '2345678'
                  filters:
                    paginationRequired: 'true'
                    sortOrder: DESCENDING
                    startIndex: '101'
                    endIndex: '200'
              Visa-Pagination-Request:
                summary: Visa Sample Request with Pagination
                value:
                  vcaId: '2026052113115824204'
                  virtualCardAccountNumber: '9898121243438000'
                  programId: '918'
                  messageId: CITI00ClearingReport0020260521195325
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  filters:
                    paginationRequired: 'true'
                    startIndex: '150'
                    endIndex: '300'
              Mastercard-Retry-Request:
                summary: Mastercard Sample Retry Request for Pending/Active Status
                value:
                  vcaId: '17896177'
                  virtualCardAccountNumber: '9898121243438778'
                  programId: '431341'
                  messageId: CITI00ClearingReport0020260521195326
                  startDate: '2026-04-01'
                  endDate: '2026-04-30'
                  timeZone: UTC-04:00
                  transactionType: All
                  reportIds:
                    - '1234567'
      responses:
        '200':
          description: >-
            <table><tr><td>Code</td><td>Details</td></tr><tr><tr><td>ClearingReportInboundResponse</td><td>success</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingReportInboundResponse'
              examples:
                Mastercard-Response-All-Transaction-Type:
                  summary: Mastercard Sample Response for All Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281722601926445'
                    programId: '429777'
                    reportStatus: COMPLETED
                    transactionType: All
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    clearingRecords:
                      - transactionCurrencyAmount: '143'
                        transactionCurrencyCode: USD
                        transactionCurrencyCodeDescription: U.S. DOLLAR
                        transactionExchangerate: '1'
                        billingCurrencyCode: USD
                        billingCurrencyAmount: '143'
                        billingCurrencyCodeDescription: U.S. DOLLAR
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000999080R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCity: OFALLON
                        merchantState: MO
                        merchantCountryCode: USA
                        merchantCountryName: UNITED STATES
                        acquirerIdentifier: '00000999080'
                        acquirerReferenceData: '25567681110000232050357'
                        messageType: '1240'
                        messageReasonCode: '1400'
                        functionCode: '200'
                        transactionDate: '2021-04-21'
                        transactionTime: '11:06:00'
                        settlementAmount: '189.98'
                        settlementCurrencyCode: SGD
                        settlementCurrencyDescription: Singapore Dollar
                        approvalCode: '802907'
                        transactionPostDate: '2021-04-21'
                        transactionType: First Presentment
                      - transactionCurrencyAmount: '141'
                        transactionCurrencyCode: USD
                        transactionCurrencyCodeDescription: U.S. DOLLAR
                        transactionExchangerate: '1'
                        billingCurrencyCode: USD
                        billingCurrencyAmount: '141'
                        billingCurrencyCodeDescription: U.S. DOLLAR
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000999080R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCity: OFALLON
                        merchantState: MO
                        merchantCountryCode: USA
                        merchantCountryName: UNITED STATES
                        acquirerIdentifier: '00000999080'
                        acquirerReferenceData: '25567681110000232050340'
                        messageType: '1240'
                        messageReasonCode: '1400'
                        functionCode: '200'
                        transactionDate: '2021-04-21'
                        transactionTime: '11:06:00'
                        settlementAmount: '187.32'
                        settlementCurrencyCode: SGD
                        settlementCurrencyDescription: Singapore Dollar
                        approvalCode: '802931'
                        transactionPostDate: '2021-04-21'
                        transactionType: First Presentment
                Mastercard-Response-Presentment-Transaction-Type:
                  summary: Mastercard Sample Response for Presentment Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Presentment
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                    clearingRecords:
                      - transactionCurrencyAmount: '127'
                        transactionCurrencyCode: USD
                        transactionCurrencyCodeDescription: U.S. DOLLAR
                        transactionExchangerate: '1'
                        billingCurrencyCode: USD
                        billingCurrencyAmount: '127'
                        billingCurrencyCodeDescription: U.S. DOLLAR
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000999080R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCity: OFALLON
                        merchantState: MO
                        merchantCountryCode: USA
                        merchantCountryName: UNITED STATES
                        acquirerIdentifier: '00000999080'
                        acquirerReferenceData: '25567681110000232050407'
                        messageType: '1240'
                        messageReasonCode: '1400'
                        functionCode: '200'
                        transactionDate: '2021-04-21'
                        transactionTime: '11:06:00'
                        settlementAmount: '168.72'
                        settlementCurrencyCode: SGD
                        settlementCurrencyDescription: Singapore Dollar
                        approvalCode: '802910'
                        transactionPostDate: '2021-04-21'
                        transactionType: First Presentment
                      - transactionCurrencyAmount: '143'
                        transactionCurrencyCode: USD
                        transactionCurrencyCodeDescription: U.S. DOLLAR
                        transactionExchangerate: '1'
                        billingCurrencyCode: USD
                        billingCurrencyAmount: '143'
                        billingCurrencyCodeDescription: U.S. DOLLAR
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000999080R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCity: OFALLON
                        merchantState: MO
                        merchantCountryCode: USA
                        merchantCountryName: UNITED STATES
                        acquirerIdentifier: '00000999080'
                        acquirerReferenceData: '25567681110000232050399'
                        messageType: '1240'
                        messageReasonCode: '1400'
                        functionCode: '200'
                        transactionDate: '2021-04-21'
                        transactionTime: '11:06:00'
                        settlementAmount: '189.98'
                        settlementCurrencyCode: SGD
                        settlementCurrencyDescription: Singapore Dollar
                        approvalCode: '802933'
                        transactionPostDate: '2021-04-21'
                        transactionType: First Presentment
                      - transactionCurrencyAmount: '125'
                        transactionCurrencyCode: USD
                        transactionCurrencyCodeDescription: U.S. DOLLAR
                        transactionExchangerate: '1'
                        billingCurrencyCode: USD
                        billingCurrencyAmount: '125'
                        billingCurrencyCodeDescription: U.S. DOLLAR
                        merchantCategoryCode: '5812'
                        mccDescription: EATING PLACES RESTAURANTS
                        merchantId: 00000999080R-5411-USA
                        merchantName: GROCERY STORES SUPERM
                        merchantCity: OFALLON
                        merchantState: MO
                        merchantCountryCode: USA
                        merchantCountryName: UNITED STATES
                        acquirerIdentifier: '00000999080'
                        acquirerReferenceData: '25567681110000232050381'
                        messageType: '1240'
                        messageReasonCode: '1400'
                        functionCode: '200'
                        transactionDate: '2021-04-21'
                        transactionTime: '11:06:00'
                        settlementAmount: '166.06'
                        settlementCurrencyCode: SGD
                        settlementCurrencyDescription: Singapore Dollar
                        approvalCode: '802909'
                        transactionPostDate: '2021-04-21'
                        transactionType: First Presentment
                Mastercard-Response-Second-Presentment-Transaction-Type:
                  summary: >-
                    Mastercard Sample Response for Second Presentment
                    Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Second Presentment
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                Mastercard-Response-Chargeback-Transaction-Type:
                  summary: Mastercard Sample Response for Chargeback Transaction Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Chargeback
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                Mastercard-Response-Retrieval-Request-Transaction-Type:
                  summary: >-
                    Mastercard Sample Response for Retrieval Request Transaction
                    Type
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    virtualCardAccountNumber: '5281723603983210'
                    transactionType: Retrieval Request
                    programId: '429777'
                    reportStatus: COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        status: COMPLETED
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        status: COMPLETED
                Mastercard-Pending-Response:
                  summary: Mastercard Sample Response for Pending Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: PENDING
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: PENDING
                Mastercard-Active-Response:
                  summary: Mastercard Sample Response for Active Response
                  value:
                    vcaId: '17896177'
                    startDate: '2021-02-27'
                    endDate: '2021-04-27'
                    messageId: '123456789123456789123456789123450066'
                    timeZone: UTC+05:30
                    transactionType: All
                    virtualCardAccountNumber: '5281723603983210'
                    programId: '429777'
                    reportStatus: PARTIALLY COMPLETED
                    info:
                      - fromDate: '2021-02-27'
                        toDate: '2021-03-29'
                        reportId: '1122330'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: ACTIVE
                      - fromDate: '2021-03-30'
                        toDate: '2021-04-27'
                        reportId: '1122331'
                        errorMessage: >-
                          Transactions were unable to be returned for the
                          requested data range. Please try again, or contact
                          Citi support if you have any further questions or
                          comments
                        errorCode: ERC0004
                        status: ACTIVE
        '400':
          description: >-
            <table><tr><td>ErrorResponseForAuthReport</td><td><table><tr><th>Error
            Code</th><th>Error
            Description</th></tr>\n<tr><td>ERS0001</td><td>Invalid Virtual Card
            Account Number format</td></tr>\n<tr><td>ERS0002</td><td>Invalid
            Transaction Type</td></tr>\n<tr><td>ERS0003</td><td>timeZone field
            is empty or has an invalid UTC offset time zone
            format</td></tr>\n<tr><td>ERC0004</td><td>Transactions were unable
            to be returned for the requested data range. Please try again, or
            contact Citi support if you have any further questions or
            comments.</td></tr>\n<tr><td>ERS0007</td><td>Invalid Message ID
            format</td></tr>\n<tr><td>ERS0009</td><td>Client Onboard
            Configuration setup is missing. Contact Citi
            support.</td></tr>\n<tr><td>ERS0010</td><td>Invalid Report ID
            format. Report ID must include numeric
            values</td></tr>\n<tr><td>ERS0053</td><td>Start Date is
            Mandatory.</td></tr>\n<tr><td>ERS0054</td><td>End Date is
            Mandatory.</td></tr>\n<tr><td>ERS0055</td><td>Requested report date
            cannot exceed 180 days in the past from today's
            date</td></tr>\n<tr><td>ERS0057</td><td>startDate value exceeds
            requested endDate value</td></tr>\n<tr><td>ERS0060</td><td>Client ID
            and/or Program Id is missing in Client Onboard Configuration setup.
            Contact Citi support.</td></tr>\n<tr><td>ERS0061</td><td>VCA ID is
            not present in our
            system</td></tr>\n<tr><td>ERS0063</td><td>Requested Time Zone is not
            supported</td></tr>\n<tr><td>ERS0068</td><td>Program Id is
            Mandatory.</td></tr>\n<tr><td>ERS0069</td><td>Vca Id is
            Mandatory.</td></tr>\n<tr><td>ERS0070</td><td>Message Id is
            Mandatory.</td></tr>\n<tr><td>ERS0071</td><td>Virtual Card Account
            Number is Mandatory.</td></tr>\n<tr><td>ERS0072</td><td>Requested
            report date cannot exceed 36 months in the past from todays
            date</td></tr>\n<tr><td>ERS0079</td><td>The requested report ID(s)
            is for a VCA that is different than the VCA included in the request.
            Please include the VCA associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0080</td><td>The requested report ID(s)
            is for a programId that is different than the programId included in
            the request. Please include the programId associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0081</td><td>The requested report ID(s)
            is for a timeZone that is different than the timeZone included in
            the request. Please include the timeZone associated to the report
            ID(s).</td></tr>\n<tr><td>ERS0082</td><td>The requested report IDs
            are for different VCAs, Please include report IDs that belong to the
            same VCA.</td></tr>\n<tr><td>ERS0083</td><td>The requested report
            IDs are for different program IDs, Please include report IDs that
            belong to the same program
            ID.</td></tr>\n<tr><td>ERS0084</td><td>The requested report IDs are
            for different requested time zones, Please include report IDs that
            belong to the same requested time
            zone.</td></tr>\n<tr><td>ERS0091</td><td>startDate value must have
            valid format: YYYY-MM-DD</td></tr>\n<tr><td>ERS0092</td><td>endDate
            value must have valid format:
            YYYY-MM-DD</td></tr>\n<tr><td>ERS0093</td><td>The date specified in
            startDate does not exist</td></tr>\n<tr><td>ERS0094</td><td>The date
            specified in endDate does not
            exist</td></tr>\n<tr><td>ERS0095</td><td>Report ID included in your
            request is not present for the given ClientID/program ID. Please
            generate a new report ID for this Reports request by calling the
            Reports API without a report
            ID</td></tr>\n<tr><td>ERS0097</td><td>startTime value must have
            valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M
            (0-9)</td></tr>\n<tr><td>ERS0098</td><td>endTime value must have
            valid format: HH:MM - H (0,1,2) | H (0-9) : M (0-5) | M
            (0-9)</td></tr>\n<tr><td>ERS0099</td><td>startTime value cannot
            exceed the requested endTime
            value</td></tr><tr><td>ERS0100</td><td>Invalid sortOrder
            value</td></tr><tr><td>ERS0101</td><td>startIndex should be
            numeric</td></tr><tr><td>ERS0102</td><td>endIndex should be
            numeric</td></tr><tr><td>ERS0103</td><td>startIndex should be less
            than or equal to endIndex</td></tr><tr><td>ERS0104</td><td>The
            startIndex & endIndex range cannot be greater than
            150</td></tr><tr><td>ERS0105</td><td>The startDate and endDate range
            cannot be greater than 30 days if paginationRequired is
            true</td></tr>\n\n<tr><td>MS0001</td><td>Invalid Virtual Card
            Account Number</td></tr>\n<tr><td>MS0002</td><td>From date should be
            before to date.</td></tr>\n<tr><td>MS0006</td><td>Invalid vcaId
            value</td></tr>\n<tr><td>MS0008</td><td>Invalid Report
            ID</td></tr>\n\n<tr><td>GRC0002</td><td>Client ID is missing in the
            request header</td></tr>\n<tr><td>GRC0003</td><td>Invalid JSON
            Input</td></tr>\n<tr><td>GRC0004</td><td>Region ID is not available
            in the request</td></tr>\n<tr><td>GRC0011</td><td>Client ID and/or
            Country and/or region id is missing in Client Onboard Configuration
            setup. Contact Citi
            support.</td></tr>\n<tr><td>GRC0016</td><td>Country code is not
            available in the request</td></tr>\n</table></td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseForClearingReport'
        '504':
          description: >-
            <table><tr><td>ErrorResponseForClearingReport</td><td>Backend
            Connectivity Error</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseForClearingReport'
components:
  schemas:
    AuthReportInboundRequest:
      properties:
        startDate:
          description: >-
            Specifies the start date upto when the reports can be
            retrieved<br><br>Format:YYYY-MM-DD<br><br>Rules:<ol><li>Start date
            should be less than end date.</li><li>Start date should not be
            earlier than create VCA date</li><li>Mastercard:  <ul><li>startDate
            and endDate cannot be more than 90 days apart</li><li>startDate and
            endDate can be up to 36 months
             in the past from the day of report requested and not future date</li></ul></li><li>Visa:<ul><li>startDate and endDate cannot be more than 30 days apart</li><li>startDate and endDate can be up to 6 months
             in the past from the day of report requested and not future date</li></ul></li></ol>
          type: string
          format: alphanumeric
          example: '2023-01-01'
          maxLength: 10
        endDate:
          description: >-
            Specifies the end date upto when the reports can be
            retrieved<br><br>Format:YYYY-MM-DD<br><br>Rules:<ol><li>End date
            should greater than the start date</li><li>Mastercard: 
            <ul><li>startDate and endDate cannot be more than 90 days
            apart.</li><li>If endDate is more than 90 days after startDate, it
            will be automatically reset to exactly 90 days after
            startDate</li><li>startDate and endDate can be up to 36 months
             in the past from the day of report requested and not future date</li></ul></li><li>Visa:<ul><li>startDate and endDate cannot be more than 30 days apart</li><li>startDate and endDate can be up to 6 months
             in the past from the day of report requested and not future date</li></ul></li></ol>
          type: string
          format: alphanumeric
          example: '2023-03-30'
          maxLength: 10
        startTime:
          description: >-
            Specifies the start time from when the reports can be
            retrieved<br><br>Format:HH:MM
          type: string
          format: alphanumeric
          example: '00:00'
          maxLength: 10
        endTime:
          description: >-
            Specifies the end time upto when the reports can be
            retrieved<br><br>Format:HH:MM
          type: string
          format: alphanumeric
          example: '23:59'
          maxLength: 10
        transactionType:
          description: >-
            Specifies the nature of the transaction whether it was authorized or
            returned etc.<br><br>Visa - Not applicable<br><br>Mastercard -
            Optional<br><br>Possible Values:<br>"All" - Returns all
            Authorization transactions associated to a virtual card account for
            a given time range<br>"Approved" - Authorization requests that have
            an Approved Authorization status from the issuer or card
            network<br>"Partial-Approved" - Authorization requests that have a
            Partial Approval Authorization status from the issuer<br>"Declined"
            - Authorization requests that have a declined Authorization status
            from the issuer or card network<br>"Issuer-Declined" - Authorization
            requests that have an declined Authorization status from the
            issuer<br>"Request-Response" - Response to an authorization request.
            It carries the response information required to service (approve or
            deny) the Authorization Request.<br>"Advice-Response" - Response by
            an Issuer or System to either an Acquirer-generated,
            Issuer-generated, or System-generated Authorization Advice message
            Note: Advices for Issuer declines, that match an earlier Auth, do
            not generate a record and therefore will not be included in this
            filter.<br>"Reversal-Response" - Response to a reversal request and
            denotes the disposition of the Reversal Request
          type: string
          format: alphanumeric
          example: All
          maxLength: 20
        vcaId:
          description: >-
            A reference number that uniquely identifies the virtual card
            account.
          type: string
          format: alphanumeric
          example: '67676781'
          maxLength: 19
        programId:
          description: >-
            Unique ID of the company record defined in the virtual cards
            system.<br><br>Mastercard - This value is returned in the ID
            Provisioning API. This value is generated when the VCA program is
            onboarded to Mastercard's VCA platform. Data format - Long
            (Numeric). Max character length - 19<br><br>Visa - This value is
            generated when the VCA program is onboarded to Visa's VCA platform.
            Data format - Alphanumeric. Max character length - 25
          type: string
          format: alphanumeric
          example: '233191'
          maxLength: 25
        messageId:
          description: >-
            Unique ID of the API message sent. The messageId will be provided
            back in the corresponding response. The ID must be unique per API
            request and cannot include special characters
          type: string
          format: alphanumeric
          example: CITI00000000AuthReport20230825120311
          maxLength: 36
          minLength: 28
        virtualCardAccountNumber:
          description: >-
            The virtual card account number to use for
            transactions.<br><br>Numeric field and no decimals allowed
          type: string
          format: alphanumeric
          example: '5281722601926445'
          maxLength: 16
        timeZone:
          description: >-
            Defines the time zone applicable for any date or time<br><br>UTC
            offset<br><br>Mastercard - Required<br>Visa - Not applicable
          type: string
          format: alphanumeric
          example: UTC+05:30
          maxLength: 9
        reportIds:
          description: >-
            An optional reportId array passed by client to fetch the Auth report
            transactions that previously returned a "PENDING" or "IN-PROGRESS"
            report status. When calling the API with reportId, pass all other
            request parameters as orignally passed in the previous request 
          type: array
          items:
            type: string
          format: alphanumeric
          example:
            - '12345'
        filters:
          $ref: '#/components/schemas/RequestFilters'
      required:
        - startDate
        - endDate
        - vcaId
        - programId
        - messageId
        - virtualCardAccountNumber
    RequestFilters:
      description: Provides variaous filter features which are optional in nature
      type: object
      properties:
        sortOrder:
          description: >-
            Specifies the oder in which transactions needs to be
            sorted.<br><br>Applicable for Mastercard only.<br><br>`Possible
            values`: ASCENDING, DESCENDING
          type: string
          format: alphanumeric
          example: ASCENDING
          maxLength: 10
        paginationRequired:
          description: >-
            Specifies whether pagination is required or not.<br><br>If
            paginationRequired is true, startDate and endDate cannot be more
            than 30 days apart.
          type: string
          format: boolean
          example: 'true'
        startIndex:
          description: >-
            Specifies the start index of the transactions being requested for
            pagination<br><br>Rules:<ol><li>Positive number greater than or
            equal to 1</li><li>Visa: <ul><li>startIndex and endIndex range
            should not be less than 10 or greater than 150</li></ul></li></ol>
          type: string
          format: alphanumeric
          example: '1'
        endIndex:
          description: >-
            Specifies the end index of the transactions being requested for
            pagination<br><br>Rules:<ol><li>Positive number greater than or
            equal to 1</li><li>Visa: <ul><li>startIndex and endIndex range
            should not be less than 10 or greater than 150</li></ul></li></ol>
          type: string
          format: alphanumeric
          example: '100'
    AuthReportInboundResponse:
      properties:
        vcaId:
          description: >-
            A reference number that uniquely identifies the virtual card
            account.
          type: string
          format: alphanumeric
          example: '67676781'
          maxLength: 19
        messageId:
          description: >-
            Unique ID of the API message sent. The messageId will be provided
            back in the corresponding response. The ID can be used for
            investigation and troubleshooting. The ID must be unique per API
            request.
          type: string
          format: alphanumeric
          example: CITI00000000AuthReport20230825120311
          maxLength: 36
          minLength: 28
        programId:
          description: Unique ID of the company record defined in the virtual cards system.
          type: string
          format: alphanumeric
          example: '233191'
          maxLength: 25
        startDate:
          description: >-
            Specifies the start date from when the reports can be
            retrieved<br><br>Format:YYYY-MM-DD
          type: string
          format: alphanumeric
          example: '2023-01-01'
          maxLength: 10
        endDate:
          description: >-
            Specifies the start date from when the reports can be
            retrieved<br><br>Format:YYYY-MM-DD
          type: string
          format: alphanumeric
          example: '2023-03-30'
          maxLength: 10
        startTime:
          description: >-
            Specifies the start time from when the reports can be
            retrieved<br><br>Format:HH:MM
          type: string
          format: alphanumeric
          example: '00:00'
          maxLength: 10
        endTime:
          description: >-
            Specifies the end time upto when the reports can be
            retrieved<br><br>Format:HH:MM
          type: string
          format: alphanumeric
          example: '23:59'
          maxLength: 10
        reportStatus:
          description: >-
            Status of whether the report request was
            processed.<br><br>Mastercard - If a report status other than
            COMPLETED is returned, subsequently call the Reports API with the
            orginal request parameter previously passed along with the list of
            reportIds for each 30-day date range that did not return a COMPLETED
            report status
          type: string
          format: alphanumeric
          example: COMPLETED
          maxLength: 19
          enum:
            - COMPLETED
            - PARTIALLY COMPLETED
            - FAILED
            - PENDING
        warning:
          description: >-
            Warning information regarding a non-fatal response condition that
            may be taken into account, but can be ignored
          type: string
          format: alphanumeric
          example: Warning message
          maxLength: 200
        timeZone:
          description: Defines the time zone applicable for any date or time<br>UTC offset
          type: string
          format: alphanumeric
          example: UTC+05:30
          maxLength: 9
        transactionType:
          description: >-
            Specifies the type of transaction.<br><br>Possible values -
            Mastercard:<br><br>"Authorization" - Transactions that have a
            requested authorization<br>"Auth Purchase Return" - Authorization
            from issuer on a reversal (refund/credit)<br>"Advice" - Non-posting
            message generated by either an acquirer, issuer, or system.
            Acquirer-generated advice message - advises of an authorization that
            was carried out on the issuer’s behalf. Issuer-generated advice
            message - sent to the risk scoring system. System-generated advice
            message - advises of an authorization that was carried out on the
            issuer’s behalf.<br> "Reversal" - Reversal Request generated by an
            acquirer when the acquirer is unable to deliver an issuer’s
            Authorization Request Response to a merchant. Merchants also may
            initiate a Reversal Request to cancel the full or partial amount of
            the original authorization amount<br>"Reversal advice" - The
            Reversal Advice message fully reverses a previous Authorization
            Request. It advises an issuer of a Reversal Request responded to by
            the Authorization Platform. Reversal advise is generated by the
            Authorization Platform on detection of an exception condition while
            processing a previous Authorization Request Response. The
            Authorization Platform may generate this message when an issuer is
            unavailable to respond to a Reversal Request or is delayed in
            providing a Reversal Request Response message.<br>"Unspecified
            (Offline Settlements)" - Returned when none of the transactionType
            values apply: Authorization, Auth Purchase Return, Advise, Reversal,
            Reversal advice, Purchase Return, Forced Post<br>"Purchase Return" -
            Clearing only refund/credit<br>"Forced Post" - Forced Posted are
            records inserted in the authorization journal from clearing records
            when the clearing record didn’t match to a preceding authorization
            record<br><br>Possible values - Visa:<br><br>"0" -  NOT
            APPLICABLE<br>"100" -  AUTHORIZATION REQUEST<br>"101" -  REPEAT
            AUTHORIZATION REQUEST<br>"102" -  ATM CONFIRMATION<br>"110" - 
            AUTHORIZATION RESPONSE<br>"120" - AUTHORIZATION ADVICE<br>"130" - 
            AUTHORIZATION ADVICE<br>"200" -  ORIGINAL FINANCIAL REQUEST<br>"201"
            -  REPEAT FINANCIAL REQUEST<br>"210" -  ORIGINAL FINANCIAL
            RESPONSE<br>"220" -  ORIGL/ADVC/ADJMT/RPRSNT REQUEST<br>"221" - 
            REPEAT FINANCIAL ADVICE<br>"230" -  ORIGL/ADVC/ADJMT/RPRSNT
            RESPONSE<br>"282" -  REPRESENTMENT STATUS ADVICE<br>"292" - 
            REPRESENTMENT STATUS ADVICE RESPONSE<br>"300" -  FILE OR INQUIRY
            UPDATE- ACQUIRER<br>"302" -  FILE OR INQUIRY UPDATE-ISSUER<br>"310"
            -  FILE UPDATE OR INQUIRY RESPONSE-ACQUIRER<br>"312" -  FILE UPDATE
            OR INQUIRY RESPONSE-ISSUER<br>"322" -  FILE UPDATE OR DISCREPANCY
            ADVICE<br>"332" -  FILE UPDATE ADVICE RESPONSE<br>"400" -  REVERSAL
            REQUEST<br>"401" -  REPEAT REVERSAL REQUEST<br>"410" -  REVERSAL
            RESPONSE<br>"420" -  REVERSAL ADVICE<br>"422" -  CHARGEBACK
            REQUEST<br>"430" -  REVERSAL ADVICE RESPONSE<br>"432" -  CHARGEBACK
            RESPONSE<br>"480" -  CHARGEBACK STATUS ADVICE<br>"490" -  CHARGEBACK
[...]
