openapi: 3.0.1
info:
  title: WorldLink
  version: 3.0.0
  description: >-
    WorldLink is a complete cross-border payment and Foreign-Exchange (FX) 

    service that allows you to perform payments in 135 currencies without
    having 

    the need to maintain local currency accounts for each of them. 

    The CitiConnect WorldLink API now offers FX rate inquiry, FX deal booking,
    and

    cross-border payment initiation with 24X7 availability. 


    **A note on 24X7 availability of the CitiConnect API Services**


    Although Citi strives to make all APIs 24X7 available wherever possible,
    there may still be downtimes albeit at a much reduced frequency and with
    shortened windows. 

    Citi's Service representatives will send information about any near-term
    planned downtimes 3-4 business days in advance valid email so that you can
    plan your business activities related

    to your API interface to minimize any possible impact to your business and
    customers.


    Download our SDKs:

    * [Python
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=python&apiTitle=all&isClientSecReq=true)

    * [Java
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=java&apiTitle=all&isClientSecReq=true)

    * [.Net
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=dotnet&apiTitle=all&isClientSecReq=true)

    * [Ruby
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ruby&apiTitle=all&isClientSecReq=true)

    * [NodeJS
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=nodejs&apiTitle=all&isClientSecReq=true)

    * [Go
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=go&apiTitle=all&isClientSecReq=true)

    * [CLI Tool
    SDK](https://developer.citi.com/sandboxApi/admin/v1/downloadZipFile?language=ccapi-cli&apiTitle=all&isClientSecReq=true)
  contact:
    name: Standards & Developer Hub
    url: https://tts.sandbox.developer.citi.com/citiconnect/
    email: developer-support@citi.com
servers:
  - url: https://tts.apib2b.citi.com/citiconnect/prod/worldlinkservices
    description: production gateway url
  - url: https://tts.sandbox.apib2b.citi.com/citiconnect/sb/worldlinkservices
    description: sandbox url
security:
  - clientCredentials: []
tags:
  - name: WorldLink v3
paths:
  /v3/payment/initiation:
    post:
      tags:
        - WorldLink v3
      summary: WorldLink Payment Initiation
      description: >-
        The CitiConnect WorldLink Payment Initiation endpoint allows users to
        perform payment initiation through their ERP/partner systems of
        choice.<br> <b>Content-Type</b>: Supports application/xml: <br>
      operationId: paymentInitiation
      parameters:
        - name: client_id
          in: query
          description: Unique identifier created during the onboarding process.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
        - name: payloadType
          in: header
          description: >
            ISO XML type of input request payload. Supports
            "urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
          schema:
            type: string
            enum:
              - urn:iso:std:iso:20022:tech:xsd:pain.001.001.03
      requestBody:
        description: >-
          Contains the required fields of the ISOXML request body. The request
          body must be Base64 encoded and enclosed within the
          \<Request>\<paymentBase64> tags.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Request'
            example: >-
              <?xml version="1.0" encoding="utf-8"?><Document
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"><CstmrCdtTrfInitn><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><NbOfTxs>1</NbOfTxs><CtrlSum>200</CtrlSum><InitgPty><Nm>MSA
              ILE DE
              FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street
              name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><PmtInf><PmtInfId>Wire_SZD_FD_API_1401</PmtInfId><PmtMtd>TRF</PmtMtd><ReqdExctnDt>2022-09-22</ReqdExctnDt><Dbtr><Nm>MSA
              ILE DE
              FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street
              name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtTrfTxInf><PmtId><InstrId>JA2020072233</InstrId><EndToEndId>SM22557799</EndToEndId></PmtId><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><Amt><InstdAmt
              Ccy="EUR">200</InstdAmt></Amt><ChrgBr>SHAR</ChrgBr><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene
              Bank Name</Nm><PstlAdr><StrtNm>Wellsprings
              Renaissanc</StrtNm><BldgNb>Building No
              02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf></CdtTrfTxInf></PmtInf></CstmrCdtTrfInitn></Document>
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
            examples:
              Payment-Initiation-Request-Json:
                $ref: '#/components/examples/Payment-Initiation-Request-Json'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Payment-Initiation-Response-Xml:
                  value: >-
                    <?xml version="1.0" encoding="utf-8"?><Document
                    xmlns="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><CstmrPmtStsRpt><GrpHdr><MsgId>Wire_SZD_API_1401</MsgId><CreDtTm>2020-02-20T09:30:47</CreDtTm><InitgPty><Nm>MSA
                    ILE DE
                    FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><SubDept>Subdept001</SubDept><StrtNm>street
                    name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1townname1townna</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>GB</Ctry></PstlAdr><Id><OrgId><Othr><Id>248840001</Id></Othr></OrgId></Id><CtryOfRes>TR</CtryOfRes><CtctDtls><Nm>Client5</Nm></CtctDtls></InitgPty></GrpHdr><OrgnlGrpInfAndSts><OrgnlMsgId>Wire_SZD_API_1401</OrgnlMsgId><OrgnlMsgNmId>Pain.001.001.03</OrgnlMsgNmId><OrgnlCreDtTm>2020-02-20T09:30:47</OrgnlCreDtTm><OrgnlNbOfTxs>1</OrgnlNbOfTxs><OrgnlCtrlSum>200</OrgnlCtrlSum></OrgnlGrpInfAndSts><OrgnlPmtInfAndSts><OrgnlPmtInfId>Wire_SZD_FD_API_1401</OrgnlPmtInfId><TxInfAndSts><OrgnlInstrId>JA2020072233</OrgnlInstrId><OrgnlEndToEndId>SM22667799</OrgnlEndToEndId><TxSts>ACCP</TxSts><OrgnlTxRef><Amt><InstdAmt
                    Ccy="EUR">200</InstdAmt></Amt><ReqdExctnDt>2022-09-30</ReqdExctnDt><PmtTpInf><SvcLvl><Cd>URGP</Cd></SvcLvl><CtgyPurp><Cd>OTHR</Cd></CtgyPurp></PmtTpInf><PmtMtd>TRF</PmtMtd><RmtInf><Ustrd>12796190145799300</Ustrd></RmtInf><Dbtr><Nm>MSA
                    ILE DE
                    FRANCE</Nm><PstlAdr><AdrTp>ADDR</AdrTp><Dept>Dept001</Dept><StrtNm>street
                    name01</StrtNm><BldgNb>113232370123456</BldgNb><PstCd>7777777</PstCd><TwnNm>townname1</TwnNm><CtrySubDvsn>subdivctry01</CtrySubDvsn><Ctry>SZ</Ctry></PstlAdr></Dbtr><DbtrAcct><Id><Othr><Id>789652</Id></Othr></Id><Ccy>CAD</Ccy></DbtrAcct><DbtrAgt><FinInstnId><BIC>CITICA5AXXX</BIC><Othr><Id>248840001</Id></Othr></FinInstnId></DbtrAgt><CdtrAgt><FinInstnId><BIC>SOGEADPPXXX</BIC><Nm>Bene
                    Bank Name</Nm><PstlAdr><StrtNm>Wellsprings
                    Renaissanc</StrtNm><BldgNb>Building No
                    02</BldgNb><PstCd>71492</PstCd><TwnNm>Newtownships</TwnNm><Ctry>AD</Ctry></PstlAdr></FinInstnId></CdtrAgt><Cdtr><Nm>Rehan</Nm><PstlAdr><AdrTp>HOME</AdrTp><StrtNm>Mumbai</StrtNm><BldgNb>113232123456</BldgNb><Ctry>AD</Ctry></PstlAdr></Cdtr><CdtrAcct><Id><IBAN>AD1200012030200359100100</IBAN></Id></CdtrAcct></OrgnlTxRef></TxInfAndSts></OrgnlPmtInfAndSts></CstmrPmtStsRpt></Document>
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Payment-Initiation-Response-Json:
                  $ref: '#/components/examples/Payment-Initiation-Response-Json'
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <response><status>400</status><message>Mismatch of WorldLink
                Client ID or Client ID not
                maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth
                Token</httpMessage><moreInformation>Please use valid OAuth
                Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>415</httpCode><httpMessage>Unsupported
                Media Type</httpMessage><moreInformation>Unsupported
                Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <Response><status>500</status><message>Unable to process your
                request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
  /v3/fx/raterequest:
    post:
      tags:
        - WorldLink v3
      summary: WorldLink FX Rate Inquiry
      description: >-
        The CitiConnect WorldLink FX Rate Inquiry endpoint allows users to get
        updates on the present FX Rate details along with the rate expiry date,
        time, and Rate Quote ID, accelerating FX transactions.
      operationId: processRateRequest
      parameters:
        - name: client_id
          in: query
          description: Unique identifier created during the onboarding process.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IFXRequest-FX-Rate'
            examples:
              Fx-Rate-Request-Json:
                $ref: '#/components/examples/Fx-Rate-Request-Json'
          application/xml:
            schema:
              $ref: '#/components/schemas/IFXRequest-FX-Rate'
            example: >-
              <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IFX
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:noNamespaceSchemaLocation="CTSI.xsd"><SignonRq><ClientDt>2025-12-17T05:21:02</ClientDt><CustLangPref>ENGLISH</CustLangPref><ClientApp><Org>KIWIBANK</Org><Name>CTSI
              INTERFACE</Name><Version>1.0</Version></ClientApp></SignonRq><BankSvcRq><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><ForExRateInqRq><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><CustId><SPName>CTSI</SPName><CustPermId>391310001</CustPermId></CustId><DepAcctId><AcctId>9999999999</AcctId><AcctType>KB</AcctType><BankInfo/></DepAcctId><RemitAmt>200.00</RemitAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><ForExRateType>Indicated</ForExRateType><ForExRateDealType>SELL</ForExRateDealType><ForExValDtType>Spot</ForExValDtType><DeliveryMethod>DEALID16</DeliveryMethod></ForExRateInqRq></BankSvcRq></IFX>
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFXResponse-FX-Rate'
              examples:
                Fx-Rate-Response-Json:
                  $ref: '#/components/examples/Fx-Rate-Response-Json'
            application/xml:
              schema:
                $ref: '#/components/schemas/IFXResponse-FX-Rate'
              example: >-
                <IFX xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:noNamespaceSchemaLocation="CTSI.xsd"><BankSvcRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000
                : Rate
                returned</StatusDesc></Status><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><ForExRateInqRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000
                : Rate
                returned</StatusDesc></Status><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><RemitAmt>200.00</RemitAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><DepAcctId><AcctId>9999999999</AcctId><AcctType>KB</AcctType><BankInfo/></DepAcctId><ForExRateRec><ForExRateInfo><RemitAmt>200.000</RemitAmt><IssueAmt>1473.140</IssueAmt><RemitCurCode>CAD</RemitCurCode><IssueCurCode>NOK</IssueCurCode><CurRate>7.36570000</CurRate><CurConvertRule>Direct</CurConvertRule><ExpDt>2025-12-17T01:19:47</ExpDt><SPRefId>XML56EPA</SPRefId></ForExRateInfo><ForExValDt>2025-12-19</ForExValDt></ForExRateRec></ForExRateInqRs></BankSvcRs></IFX>
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <response><status>400</status><message>Mismatch of WorldLink
                Client ID or Client ID not
                maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth
                Token</httpMessage><moreInformation>Please use valid OAuth
                Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>415</httpCode><httpMessage>Unsupported
                Media Type</httpMessage><moreInformation>Unsupported
                Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <Response><status>500</status><message>Unable to process your
                request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
  /v3/fx/bookfx:
    post:
      tags:
        - WorldLink v3
      summary: WorldLink FX Booking
      description: >-
        The CitiConnect WorldLink FX Booking endpoint allows you to book FX
        deals according to rate quotes received through CitiConnect FX Rate
        Inquiry for available currency combinations.


        **Content Type:** Supports application/xml or application/json.


        **Authorization:** The OAuth Token prefixed with Bearer and space in
        between.


        **Request:**  For more information on specific field mappings, please
        refer to Customized IFX XML standards.
      operationId: bookFx
      parameters:
        - name: client_id
          in: query
          description: Unique identifier created during the onboarding process.
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          description: Supports \"application/xml\" and \"application/json\".
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: The OAuth Token prefixed with "Bearer" and space in between.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IFXRequest-Book-FX'
            examples:
              Book-Fx-Request-Json:
                $ref: '#/components/examples/Book-Fx-Request-Json'
          application/xml:
            schema:
              $ref: '#/components/schemas/IFXRequest-Book-FX'
            example: >-
              <?xml version="1.0" encoding="UTF-8" standalone="yes"?><IFX
              xmlns="http://com.citi.citiconnect/services/types/worldlinkservices/bookfx/v1"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SignonRq><ClientDt>2025-12-17T05:21:03</ClientDt><CustLangPref>ENGLISH</CustLangPref><ClientApp><Org>KIWIBANK</Org><Name>CTSI
              INTERFACE</Name><Version>1.0</Version></ClientApp></SignonRq><BankSvcRq><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><PrefPrice>N</PrefPrice><WLFlag>W</WLFlag><DealType>O</DealType><ForExRateDealAddRq><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><CustId><SPName>CTSI</SPName><CustPermId>391310001</CustPermId></CustId><ForExDealInfo><ForExRateDealType>SELL</ForExRateDealType><CurConvertRule>Direct</CurConvertRule><IssueCurCode>NOK</IssueCurCode><RemitAmt>200</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo></ForExRateDealAddRq></BankSvcRq></IFX>
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IFXResponse-Book-FX'
              examples:
                Book-Fx-Response-Json:
                  $ref: '#/components/examples/Book-Fx-Response-Json'
            application/xml:
              schema:
                $ref: '#/components/schemas/IFXResponse-Book-FX'
              examples:
                value: >-
                  <IFX xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:noNamespaceSchemaLocation="CTSI.xsd"><BankSvcRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000
                  : Rate
                  returned</StatusDesc></Status><RqUID>696f88f1-71f1-4ba5-abe4-ff98166d7861</RqUID><PrefPrice>N</PrefPrice><WLFlag>W</WLFlag><DealType>O</DealType><ForExRateDealAddRs><Status><StatusCode>PROCESSED</StatusCode><Severity>NONE</Severity><StatusDesc>000
                  : Rate
                  returned</StatusDesc></Status><RqUID>ec1553fe-bca8-43f9-8da1-fa324b661c0c</RqUID><ForExDealInfo><ForExRateDealType>SELL</ForExRateDealType><CurConvertRule>Direct</CurConvertRule><IssueCurCode>NOK</IssueCurCode><RemitAmt>200</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo><ForExDealRec><ForExDealId>AA2340101234515</ForExDealId><ForExDealInfo><CurRate>7.36570000</CurRate><CurConvertRule>Direct</CurConvertRule><IssueAmt>1473.140</IssueAmt><IssueCurCode>NOK</IssueCurCode><RemitAmt>200.000</RemitAmt><RemitCurCode>CAD</RemitCurCode><SPRefId>XML56EPA</SPRefId></ForExDealInfo></ForExDealRec></ForExRateDealAddRs></BankSvcRs></IFX>
        '400':
          description: Bad Request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <response><status>400</status><message>Mismatch of WorldLink
                Client ID or Client ID not
                maintained</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312198</correlationId></response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                correlationId: q2te~bd8e9b8f-d8e5-4a48-ad13-5d1ec8bb32e815587
                message: >-
                  Mismatch of WorldLink client ID or client ID is not
                  maintained.
                status: '400'
        '401':
          description: Unauthorized
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>401</httpCode><httpMessage>Invalid OAuth
                Token</httpMessage><moreInformation>Please use valid OAuth
                Token</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unauthorized
                httpCode: '401'
                moreInformation: >-
                  This server could not verify that you are authorized to access
                  the URL
        '404':
          description: Not found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>404</httpCode><httpMessage>Not
                Found</httpMessage><moreInformation>No resources match requested
                URI</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Not Found
                httpCode: '404'
                moreInformation: No resources match requested URI
        '405':
          description: Method Not Allowed
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>405</httpCode><httpMessage>Method Not
                Allowed</httpMessage><moreInformation>The method is not allowed
                for the requested URL</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Method Not Allowed
                httpCode: '405'
                moreInformation: The method is not allowed for the requested URL
        '415':
          description: Unsupported Media Type
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example: >-
                <errormessage><httpCode>415</httpCode><httpMessage>Unsupported
                Media Type</httpMessage><moreInformation>Unsupported
                Content-Type</moreInformation></errormessage>
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              example:
                httpMessage: Unsupported Media Type
                httpCode: '415'
                moreInformation: Unsupported Content-Type
        '500':
          description: Internal Server Error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
              example: >-
                <Response><status>500</status><message>Unable to process your
                request</message><correlationId>q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352</correlationId></Response>
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                message: Unable to process your request
                status: '500'
                correlationId: q2te~8b8b4912-1b37-449a-9e1a-3401d7ab7d8312352
      x-codegen-request-body-name: body
components:
  schemas:
    ATMTrnInfo:
      title: ATMTrnInfo
      type: object
      properties:
        atmcityState:
          maxLength: 15
          minLength: 1
          type: string
        atmlocation:
          maxLength: 18
          minLength: 1
          type: string
        atmowner:
          maxLength: 14
          minLength: 1
          type: string
    AcctAssignRq:
      title: AcctAssignRq
      type: object
      properties:
        acctId:
          maxLength: 255
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: FROM account number
          xml:
            name: AcctId
            attribute: false
            wrapped: false
        assignDeassign:
          minLength: 1
          type: string
          xml:
            name: AssignDeassign
            attribute: false
            wrapped: false
          enum:
            - A
            - D
        bankId:
          maxLength: 34
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BankId
            attribute: false
            wrapped: false
        branchId:
          maxLength: 22
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BranchId
            attribute: false
            wrapped: false
        checkerId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: CheckerId
            attribute: false
            wrapped: false
        checkerTime:
          minLength: 1
          pattern: >-
            [0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{6})?(-[0-9]{2}:[0-9]{2})?)?
          type: string
          xml:
            name: CheckerTime
            attribute: false
            wrapped: false
        enterpriseId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: EnterpriseId
            attribute: false
            wrapped: false
        entitlementId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: EntitlementId
            attribute: false
            wrapped: false
        makerId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: MakerId
            attribute: false
            wrapped: false
        makerTime:
          pattern: >-
            [0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{6})?(-[0-9]{2}:[0-9]{2})?)?
          type: string
          xml:
            name: MakerTime
            attribute: false
            wrapped: false
        requestID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: RequestID
            attribute: false
            wrapped: false
    AcctAssignRs:
      title: AcctAssignRs
      type: object
      properties:
        requestID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: RequestID
            attribute: false
            wrapped: false
        status:
          $ref: '#/components/schemas/StatusType'
    AcctBal:
      title: AcctBal
      type: object
      properties:
        balType:
          minLength: 1
          type: string
          xml:
            name: BalType
            attribute: false
            wrapped: false
        curAmt:
          $ref: '#/components/schemas/CurAmt'
        desc:
          maxLength: 80
          minLength: 1
          type: string
          xml:
            name: Desc
            attribute: false
            wrapped: false
        effDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        expDt:
          pattern: >-
            [0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{6})?(-[0-9]{2}:[0-9]{2})?)?
          type: string
          description: Contract Expiry Datetime
          xml:
            name: ExpDt
            attribute: false
            wrapped: false
    AcctInqRq:
      title: AcctInqRq
      type: object
      properties:
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        incBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        incExtBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncExtBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
      xml:
        name: AcctInqRq
        attribute: false
        wrapped: false
    AcctInqRs:
      title: AcctInqRs
      type: object
      properties:
        acctBal:
          type: array
          xml:
            name: AcctBal
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/AcctBal'
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        ccacctRec:
          $ref: '#/components/schemas/CCAcctRec'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        depAcctRec:
          $ref: '#/components/schemas/DepAcctRec'
        extAcctBal:
          type: array
          xml:
            name: ExtAcctBal
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/ExtAcctBal'
        incBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        incExtBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncExtBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        lastStmtDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        lastTrnDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        loanAcctRec:
          $ref: '#/components/schemas/LoanAcctRec'
        locacctRec:
          $ref: '#/components/schemas/LOCAcctRec'
        mortAcctRec:
          $ref: '#/components/schemas/MortAcctRec'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        status:
          $ref: '#/components/schemas/StatusType'
        upDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
      xml:
        name: AcctInqRs
        attribute: false
        wrapped: false
    AcctTaxInfo:
      title: AcctTaxInfo
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
        org:
          maxLength: 36
          minLength: 1
          type: string
          description: Customer System application manufacturer
          xml:
            name: Org
            attribute: false
            wrapped: false
        prevYrCurAmt:
          $ref: '#/components/schemas/PrevYrCurAmt'
        rate:
          type: number
          xml:
            name: Rate
            attribute: false
            wrapped: false
        taxType:
          minLength: 1
          type: string
          xml:
            name: TaxType
            attribute: false
            wrapped: false
    AdditionalStatus:
      title: AdditionalStatus
      type: object
      properties:
        serverStatusCode:
          minLength: 1
          type: string
          description: Backend Status Code
          xml:
            name: ServerStatusCode
            attribute: false
            wrapped: false
        severity:
          minLength: 1
          type: string
          description: Error,Warn,Info
          xml:
            name: Severity
            attribute: false
            wrapped: false
        statusCode:
          minLength: 1
          type: string
          description: StatusCode as Per IFX XML
          xml:
            name: StatusCode
            attribute: false
            wrapped: false
        statusDesc:
          maxLength: 255
          minLength: 1
          type: string
          description: Text description for status code
          xml:
            name: StatusDesc
            attribute: false
            wrapped: false
    AgtInterBuyCntrPrtyType:
      title: AgtInterBuyCntrPrtyType
      type: object
      properties:
        acctId:
          maxLength: 255
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: FROM account number
          xml:
            name: AcctId
            attribute: false
            wrapped: false
        bankId:
          maxLength: 34
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BankId
            attribute: false
            wrapped: false
        bankIdType:
          minLength: 1
          type: string
          xml:
            name: BankIdType
            attribute: false
            wrapped: false
        cntrPrtyType:
          minLength: 1
          type: string
          xml:
            name: CntrPrtyType
            attribute: false
            wrapped: false
          enum:
            - PARTY_A
            - PARTY_B
            - FUND_BENE_CUST
            - DELIVERY_AGENT
            - INTERMEDIARY
            - RECEIVING_AGENT
            - BENEFICIARY_INSTITUTION
            - DEALING_BRANCH_PARTY_A
            - DEALING_BRANCH_PARTY_B
            - BROKER_IDENTIFICATION
        name:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        postAddr:
          $ref: '#/components/schemas/PostAddr'
    AgtInterSellCntrPrtyType:
      title: AgtInterSellCntrPrtyType
      type: object
      properties:
        acctId:
          maxLength: 255
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: FROM account number
          xml:
            name: AcctId
            attribute: false
            wrapped: false
        bankId:
          maxLength: 34
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BankId
            attribute: false
            wrapped: false
        bankIdType:
          minLength: 1
          type: string
          xml:
            name: BankIdType
            attribute: false
            wrapped: false
        cntrPrtyType:
          minLength: 1
          type: string
          xml:
            name: CntrPrtyType
            attribute: false
            wrapped: false
          enum:
            - PARTY_A
            - PARTY_B
            - FUND_BENE_CUST
            - DELIVERY_AGENT
            - INTERMEDIARY
            - RECEIVING_AGENT
            - BENEFICIARY_INSTITUTION
            - DEALING_BRANCH_PARTY_A
            - DEALING_BRANCH_PARTY_B
            - BROKER_IDENTIFICATION
        name:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        postAddr:
          $ref: '#/components/schemas/PostAddr'
    AmtAdj:
      title: AmtAdj
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
            attribute: false
            wrapped: false
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
    AmtAdjB:
      title: AmtAdjB
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
            attribute: false
            wrapped: false
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
    AmtAdjType:
      title: AmtAdjType
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
            attribute: false
            wrapped: false
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
      xml:
        name: AmtAdj_Type
        attribute: false
        wrapped: false
    AmtBt:
      title: AmtBt
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
    AmtBtType:
      title: AmtBtType
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
      xml:
        name: AmtBt_Type
        attribute: false
        wrapped: false
    AmtFnd:
      title: AmtFnd
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
            attribute: false
            wrapped: false
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
    AmtFndType:
      title: AmtFndType
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
            attribute: false
            wrapped: false
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
      xml:
        name: AmtFnd_Type
        attribute: false
        wrapped: false
    AmtSld:
      title: AmtSld
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
    AmtSldType:
      title: AmtSldType
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
      xml:
        name: AmtSld_Type
        attribute: false
        wrapped: false
    AsyncRsInfo:
      title: AsyncRsInfo
      type: object
      properties:
        availDt:
          pattern: >-
            [0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{6})?(-[0-9]{2}:[0-9]{2})?)?
          type: string
          xml:
            name: AvailDt
            attribute: false
            wrapped: false
        expDt:
          pattern: >-
            [0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{6})?(-[0-9]{2}:[0-9]{2})?)?
          type: string
          description: Contract Expiry Datetime
          xml:
            name: ExpDt
            attribute: false
            wrapped: false
    AuthInfo:
      title: AuthInfo
      type: object
      properties:
        custPswd:
          $ref: '#/components/schemas/CustPswd'
    BESStatusType:
      title: BESStatusType
      type: object
      properties:
        besstatusCode:
          maxLength: 20
          minLength: 1
          type: string
        rejectReason:
          maxLength: 255
          minLength: 1
          type: string
          xml:
            name: RejectReason
            attribute: false
            wrapped: false
        severity:
          minLength: 1
          type: string
          description: Error,Warn,Info
          xml:
            name: Severity
            attribute: false
            wrapped: false
        statusDesc:
          maxLength: 255
          minLength: 1
          type: string
          description: Text description for status code
          xml:
            name: StatusDesc
            attribute: false
            wrapped: false
    BSPReferTo:
      title: BSPReferTo
      type: object
      properties:
        orgContact:
          $ref: '#/components/schemas/OrgContact'
        spname:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Always set to CTSI
    BalInqRq:
      title: BalInqRq
      type: object
      properties:
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        incExtBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncExtBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
      xml:
        name: BalInqRq
        attribute: false
        wrapped: false
    BalInqRs:
      title: BalInqRs
      type: object
      properties:
        acctBal:
          type: array
          xml:
            name: AcctBal
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/AcctBal'
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        extAcctBal:
          type: array
          xml:
            name: ExtAcctBal
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/ExtAcctBal'
        incExtBal:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncExtBal
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        mktgInfo:
          maxLength: 255
          minLength: 1
          type: string
          xml:
            name: MktgInfo
            attribute: false
            wrapped: false
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        status:
          $ref: '#/components/schemas/StatusType'
      xml:
        name: BalInqRs
        attribute: false
        wrapped: false
    BankAcctFeatLimit:
      title: BankAcctFeatLimit
      type: object
      properties:
        bankAcctFeatLimitType:
          minLength: 1
          type: string
          xml:
            name: BankAcctFeatLimitType
            attribute: false
            wrapped: false
        curAmt:
          $ref: '#/components/schemas/CurAmt'
        trnSrc:
          minLength: 1
          type: string
          xml:
            name: TrnSrc
            attribute: false
            wrapped: false
    BankAcctFeatSupt:
      title: BankAcctFeatSupt
      type: object
      properties:
        bankAcctFeatLimit:
          type: array
          xml:
            name: BankAcctFeatLimit
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/BankAcctFeatLimit'
        bankAcctFeatType:
          minLength: 1
          type: string
          xml:
            name: BankAcctFeatType
            attribute: false
            wrapped: false
        trnSrc:
          type: array
          xml:
            name: TrnSrc
            attribute: false
            wrapped: false
          items:
            minLength: 1
            type: string
    BankAcctInfoType:
      title: BankAcctInfoType
      type: object
      properties:
        backupWithholding:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: BackupWithholding
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        curCode:
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          xml:
            name: CurCode
            attribute: false
            wrapped: false
          enum:
            - ADF
            - PLN
            - ADP
            - AED
            - AFA
            - ALL
            - ANG
            - AON
            - ARA
            - ARS
            - ATS
            - AUD
            - AWG
            - BBD
            - BDT
            - BEF
            - BGL
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BRC
            - BRL
            - BSD
            - BTN
            - BWP
            - BZD
            - CAD
            - CHF
            - CLP
            - CNY
            - COP
            - CRC
            - CZK
            - CUP
            - CVE
            - CYP
            - DEM
            - DJF
            - DKK
            - DOP
            - DZD
            - ECS
            - EEK
            - EGP
            - ESP
            - ETB
            - EUR
            - FIM
            - FJD
            - FKP
            - FRF
            - GBP
            - GHC
            - GIP
            - GMD
            - GNF
            - GRD
            - GTQ
            - GWP
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - IEP
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - ITL
            - ITN
            - JMD
            - JOD
            - JPY
            - KES
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LUF
            - LVL
            - LYD
            - MAD
            - MGF
            - MMK
            - MNT
            - MOP
            - MRO
            - MTL
            - MUR
            - MVR
            - MWK
            - MXP
            - MYR
            - MZM
            - NAD
            - NGN
            - NIO
            - NLG
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLZ
            - PTE
            - PYG
            - QAR
            - ROL
            - RON
            - RUB
            - SAR
            - SBD
            - SCR
            - SDD
            - SDP
            - SEK
            - SGD
            - SHP
            - SIT
            - SKK
            - SLL
            - SOS
            - SRG
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TND
            - TOP
            - TRL
            - TRY
            - TTD
            - TWD
            - TZS
            - UAG
            - UAK
            - UGS
            - USD
            - USN
            - UYP
            - VEB
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XOF
            - XPD
            - XPT
            - YUN
            - ZAR
            - ZMK
            - ZWD
            - MXN
            - ACU
            - AFN
            - AMD
            - AOA
            - AZN
            - BAM
            - BGN
            - BYB
            - BYR
            - CDF
            - CLF
            - CSD
            - ERN
            - GEL
            - GHS
            - MDL
            - MGA
            - MKD
            - MZN
            - NIC
            - RSD
            - RUR
            - RWF
            - SDG
            - SRD
            - TMM
            - UAH
            - UGX
            - UYU
            - UZS
            - XCD
            - XPF
            - YER
            - YUM
            - GRN
            - ZMW
        custAcctUse:
          minLength: 1
          type: string
          xml:
            name: CustAcctUse
            attribute: false
            wrapped: false
        custName:
          $ref: '#/components/schemas/CustName'
        desc:
          maxLength: 80
          minLength: 1
          type: string
          xml:
            name: Desc
            attribute: false
            wrapped: false
        initialDeposit:
          $ref: '#/components/schemas/InitialDepositType'
        intRateInfo:
          $ref: '#/components/schemas/IntRateInfoType'
        orgContact:
          $ref: '#/components/schemas/OrgContact'
        ownership:
          maxLength: 42
          minLength: 1
          type: string
          xml:
            name: Ownership
            attribute: false
            wrapped: false
        personName:
          $ref: '#/components/schemas/PersonName'
        primaryAcct:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: PrimaryAcct
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        productId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: ProductId
            attribute: false
            wrapped: false
        taxCountry:
          maxLength: 35
          minLength: 1
          type: string
          xml:
            name: TaxCountry
            attribute: false
            wrapped: false
        taxProvince:
          maxLength: 32
          minLength: 1
          type: string
          xml:
            name: TaxProvince
            attribute: false
            wrapped: false
        term:
          $ref: '#/components/schemas/Term'
    BankAcctRec:
      title: BankAcctRec
      type: object
      properties:
        acctBal:
          type: array
          xml:
            name: AcctBal
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/AcctBal'
        acctTaxType:
          minLength: 1
          type: string
          xml:
            name: AcctTaxType
            attribute: false
            wrapped: false
        bankAcctFeatSupt:
          type: array
          xml:
            name: BankAcctFeatSupt
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/BankAcctFeatSupt'
        bankAcctInfo:
          $ref: '#/components/schemas/BankAcctInfoType'
        bankAcctStatus:
          $ref: '#/components/schemas/BankAcctStatus'
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        paySupt:
          $ref: '#/components/schemas/PaySupt'
        xferFromSupt:
          $ref: '#/components/schemas/XferFromSupt'
        xferToSupt:
          $ref: '#/components/schemas/XferToSupt'
    BankAcctStatus:
      title: BankAcctStatus
      type: object
      properties:
        bankAcctStatusCode:
          minLength: 1
          type: string
          description: StatusCode as Per IFX XML
          xml:
            name: BankAcctStatusCode
            attribute: false
            wrapped: false
        effDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        statusDesc:
          maxLength: 255
          minLength: 1
          type: string
          description: Text description for status code
          xml:
            name: StatusDesc
            attribute: false
            wrapped: false
        statusModBy:
          minLength: 1
          type: string
          xml:
            name: StatusModBy
            attribute: false
            wrapped: false
    BankAcctTaxInqRq:
      title: BankAcctTaxInqRq
      type: object
      properties:
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        taxYear:
          $ref: '#/components/schemas/XMLGregorianCalendar'
      xml:
        name: BankAcctTaxInqRq
        attribute: false
        wrapped: false
    BankAcctTaxInqRs:
      title: BankAcctTaxInqRs
      type: object
      properties:
        acctTaxInfo:
          type: array
          xml:
            name: AcctTaxInfo
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/AcctTaxInfo'
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        status:
          $ref: '#/components/schemas/StatusType'
        taxId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: TaxId
            attribute: false
            wrapped: false
        taxYear:
          $ref: '#/components/schemas/XMLGregorianCalendar'
      xml:
        name: BankAcctTaxInqRs
        attribute: false
        wrapped: false
    BankAcctTrnImgInqRq:
      title: BankAcctTrnImgInqRq
      type: object
      properties:
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        custContact:
          $ref: '#/components/schemas/CustContact'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMedia:
          minLength: 1
          type: string
          xml:
            name: DeliveryMedia
            attribute: false
            wrapped: false
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        incAllItems:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncAllItems
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        recCtrlIn:
          $ref: '#/components/schemas/RecCtrlIn'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        selRangeCurAmt:
          $ref: '#/components/schemas/SelRangeCurAmt'
        selRangeDt:
          $ref: '#/components/schemas/SelRangeDt'
        stopChkInfo:
          $ref: '#/components/schemas/StopChkInfo'
        chkNum:
          maxLength: 12
          minLength: 1
          type: string
          xml:
            name: ChkNum
            attribute: false
            wrapped: false
        trnType:
          type: array
          xml:
            name: TrnType
            attribute: false
            wrapped: false
          items:
            minLength: 1
            type: string
      xml:
        name: BankAcctTrnImgInqRq
        attribute: false
        wrapped: false
    BankAcctTrnImgInqRs:
      title: BankAcctTrnImgInqRs
      type: object
      properties:
        asyncRqUID:
          maxLength: 36
          minLength: 1
          type: string
          xml:
            name: AsyncRqUID
            attribute: false
            wrapped: false
        bankAcctTrnImgRec:
          type: array
          xml:
            name: BankAcctTrnImgRec
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/BankAcctTrnImgRec'
        cardAcctId:
          $ref: '#/components/schemas/CardAcctId'
        chkNum:
          maxLength: 12
          minLength: 1
          type: string
          xml:
            name: ChkNum
            attribute: false
            wrapped: false
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        csprefId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
        custContact:
          $ref: '#/components/schemas/CustContact'
        custId:
          $ref: '#/components/schemas/CustId'
        deliveryMedia:
          minLength: 1
          type: string
          xml:
            name: DeliveryMedia
            attribute: false
            wrapped: false
        deliveryMethod:
          minLength: 1
          type: string
          description: DEALID6 or DEALID16
          xml:
            name: DeliveryMethod
            attribute: false
            wrapped: false
        depAcctId:
          $ref: '#/components/schemas/DepAcctId'
        incAllItems:
          type: string
          description: >-
            Boolean indicates a logical True or False condition.  The physical
            representation of Boolean data is specified by each implementation
            specification corresponding to this message specification
          xml:
            name: IncAllItems
            attribute: false
            wrapped: false
          enum:
            - '0'
            - '1'
        loanAcctId:
          $ref: '#/components/schemas/LoanAcctId'
        recCtrlOut:
          $ref: '#/components/schemas/RecCtrlOut'
        rqUID:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: Customer Ref No for the request
          xml:
            name: RqUID
            attribute: false
            wrapped: false
        selRangeCurAmt:
          $ref: '#/components/schemas/SelRangeCurAmt'
        selRangeDt:
          $ref: '#/components/schemas/SelRangeDt'
        sprefId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
        status:
          $ref: '#/components/schemas/StatusType'
        stopChkInfo:
          type: array
          xml:
            name: StopChkInfo
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/StopChkInfo'
        trnType:
          type: array
          xml:
            name: TrnType
            attribute: false
            wrapped: false
          items:
            minLength: 1
            type: string
      xml:
        name: BankAcctTrnImgInqRs
        attribute: false
        wrapped: false
    BankAcctTrnImgRec:
      title: BankAcctTrnImgRec
      type: object
      properties:
        curAmt:
          $ref: '#/components/schemas/CurAmt'
        imageURL:
          maxLength: 1024
          minLength: 1
          type: string
          xml:
            name: ImageURL
            attribute: false
            wrapped: false
        prcDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        trnImage:
          $ref: '#/components/schemas/TrnImage'
        trnType:
          minLength: 1
          type: string
          xml:
            name: TrnType
            attribute: false
            wrapped: false
    BankAcctTrnRec:
      title: BankAcctTrnRec
      type: object
      properties:
        billRefInfo:
          maxLength: 80
          minLength: 1
          type: string
          xml:
            name: BillRefInfo
            attribute: false
            wrapped: false
        compositeCurAmt:
          type: array
          xml:
            name: CompositeCurAmt
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/CompositeCurAmt'
        counterpartyInfo:
          $ref: '#/components/schemas/CounterpartyInfoType'
        csprefId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
        curAmt:
          $ref: '#/components/schemas/CurAmt'
        custPayeeInfo:
          $ref: '#/components/schemas/CustPayeeInfo'
        effDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        entryMethodDetails:
          $ref: '#/components/schemas/EntryMethodDetails'
        industId:
          $ref: '#/components/schemas/IndustId'
        invoiceInfo:
          $ref: '#/components/schemas/InvoiceInfo'
        memo:
          type: array
          xml:
            name: Memo
            attribute: false
            wrapped: false
          items:
            maxLength: 1024
            minLength: 1
            type: string
        name:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: Name
            attribute: false
            wrapped: false
        origCurAmt:
          $ref: '#/components/schemas/OrigCurAmt'
        origDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        postedDt:
          $ref: '#/components/schemas/XMLGregorianCalendar'
        refInfo:
          type: array
          xml:
            name: RefInfo
            attribute: false
            wrapped: false
          items:
            $ref: '#/components/schemas/RefInfo'
        remitAdviceRefId:
          maxLength: 36
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: RemitAdviceRefId
            attribute: false
            wrapped: false
        sprefId:
          type: string
        sprefIdCorrect:
          $ref: '#/components/schemas/SPRefIdCorrect'
        trnSrc:
          minLength: 1
          type: string
          xml:
            name: TrnSrc
            attribute: false
            wrapped: false
        trnType:
          minLength: 1
          type: string
          xml:
            name: TrnType
            attribute: false
            wrapped: false
    BankDetails:
      title: BankDetails
      type: object
      properties:
        additionalInfo:
          maxLength: 1024
          minLength: 1
          type: string
          xml:
            name: AdditionalInfo
            attribute: false
            wrapped: false
        codeword:
          maxLength: 8
          minLength: 1
          type: string
          xml:
            name: Codeword
            attribute: false
            wrapped: false
    BankInfo:
      title: BankInfo
      type: object
      properties:
        bankId:
          maxLength: 34
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BankId
            attribute: false
            wrapped: false
        bankIdType:
          minLength: 1
          type: string
          xml:
            name: BankIdType
            attribute: false
            wrapped: false
        branchId:
          maxLength: 22
          minLength: 1
          pattern: '[^&quot;&#39;]*'
          type: string
          description: >-
            Object identifiers in the IFX specification are of the data type
            "Identifier."  This is a narrow character data type with a maximum
            length of 36.
          xml:
            name: BranchId
            attribute: false
            wrapped: false
        branchName:
          maxLength: 40
          minLength: 1
          type: string
          xml:
            name: BranchName
            attribute: false
            wrapped: false
        city:
          maxLength: 35
          minLength: 1
          type: string
          xml:
            name: City
            attribute: false
            wrapped: false
        country:
          maxLength: 35
          minLength: 1
[...]
